@model AdvantShop.Web.Admin.ViewModels.Settings.UsersSettingsViewModel
<div class="sticky-page-name  m-t-n-xs" sticky sticky-top="0">
    <div class="page-name-block sticky-page-name-inner m-t-n-xs">
        <div class="page-name-block-item-main flex middle-xs">
            <h3 class="sticky-page-name-text m-t-none bold" data-e2e="SearchSettingTitle">
                Настройки сотрудников
            </h3>
        </div>
    </div>
</div>

            <div class="form-group row middle-xs">
                <div class="col-xs-3">
                    <div class="setting-label-wrap">
                        @T("Admin.Settings.Users.ManagersOrderConstraint")
                    </div>
                </div>
                <div class="col-xs-4 relative">
                    @Html.DropDownListFor(x => x.ManagersOrderConstraint, Model.ManagersOrderConstraintList, new { @class = "form-control", ng_model = "settingsUsers.ManagersOrderConstraint" })
                    <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" data-title="@T("Admin.Settings.Users.ManagersOrderConstraint")">
                        <div class="help-content">
                            @T("Admin.Settings.Users.Settings.WhatOrdersUserWillSee")<br /><br />
                            @T("Admin.Settings.Users.Settings.AllOrdersAvailable")<br /><br />
                            @T("Admin.Settings.Users.Settings.AssignedOrders")<br /><br />
                            @T("Admin.Settings.Users.Settings.AssignedAndFreeOrders")
                        </div>
                    </help-trigger>
                </div>
            </div>

            <div class="form-group row middle-xs">
                <div class="col-xs-3">
                    <div class="setting-label-wrap">
                        @T("Admin.Settings.Users.ManagersLeadConstraint")
                    </div>
                </div>
                <div class="col-xs-4 relative">
                    @Html.DropDownListFor(x => x.ManagersLeadConstraint, Model.ManagersLeadConstraintList, new { @class = "form-control", ng_model = "settingsUsers.ManagersLeadConstraint" })
                    <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" data-title="@T("Admin.Settings.Users.ManagersLeadConstraint")">
                        <div class="help-content">
                            @T("Admin.Settings.Users.Settings.WhatKindOfLeads")<br /><br />
                            @T("Admin.Settings.Users.Settings.AllLeadsAvailable")<br /><br />
                            @T("Admin.Settings.Users.Settings.AppointedLeads")<br /><br />
                            @T("Admin.Settings.Users.Settings.AppointedAndFreeLeads")
                        </div>
                    </help-trigger>
                </div>
            </div>

            <div class="form-group row middle-xs">
                <div class="col-xs-3">
                    <div class="setting-label-wrap">
                        @T("Admin.Settings.Users.ManagersTaskConstraint")
                    </div>
                </div>
                <div class="col-xs-4 relative">
                    @Html.DropDownListFor(x => x.ManagersTaskConstraint, Model.ManagersTaskConstraintList, new { @class = "form-control", ng_model = "settingsUsers.ManagersTaskConstraint" })
                    <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" data-title="@T("Admin.Settings.Users.ManagersTaskConstraint")">
                        <div class="help-content">
                            @T("Admin.Settings.Users.Settings.MangersTaskConstraintHint")
                        </div>
                    </help-trigger>
                </div>
            </div>

            <div class="form-group row middle-xs">
                <div class="col-xs-3">
                    <div class="setting-label-wrap">
                        @T("Admin.Settings.Users.ManagersCustomerConstraint")
                    </div>
                </div>
                <div class="col-xs-4 relative">
                    @Html.DropDownListFor(x => x.ManagersCustomerConstraint, Model.ManagersCustomerConstraintList, new { @class = "form-control", ng_model = "settingsUsers.ManagersCustomerConstraint" })
                    <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" data-title="@T("Admin.Settings.Users.ManagersCustomerConstraint")">
                        <div class="help-content">
                            @T("Admin.Settings.Users.Settings.ManagersCustomerConstraintHelpText")
                        </div>
                    </help-trigger>
                </div>
            </div>
