@model AdvantShop.Web.Admin.ViewModels.Settings.UsersViewModel

<div class="sticky-page-name p-b-xs" sticky sticky-top="0">
    <div class="page-name-block sticky-page-name-inner">
        <div class="page-name-block-item-main flex middle-xs">
            <h2 class="sticky-page-name-text inline m-r-xs bottom-cell">
                @T("Admin.Settings.Users")
            </h2>
            <a href="https://www.advantshop.net/help/pages/dobavlenie-sotrudnika" target="_blank" class="link-academy link-invert inline-flex middle-xs p-l-xs">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="18" height="18" fill="#989a9b" class="m-r-xs">
<path d="M20.005,512c-5.097,0-10.116-1.948-13.925-5.641c-5.845-5.666-7.672-14.309-4.621-21.855l45.411-112.333  C16.162,332.253,0,285.425,0,236c0-63.375,26.855-122.857,75.62-167.489C123.891,24.331,187.952,0,256,0  s132.109,24.331,180.38,68.511C485.145,113.143,512,172.625,512,236c0,45.448-14.04,89.577-40.602,127.615  c-6.325,9.057-18.792,11.271-27.849,4.947s-11.271-18.792-4.947-27.849C460.452,309.425,472,273.215,472,236  c0-108.075-96.897-196-216-196S40,127.925,40,236c0,43.783,15.577,85.2,45.046,119.773c4.834,5.671,6.115,13.561,3.321,20.47  l-31.366,77.589l91.345-40.266c5.063-2.231,10.826-2.267,15.916-0.095C193.082,425.766,223.946,432,256,432  c36.892,0,73.299-8.587,105.286-24.832c9.85-5,21.887-1.072,26.889,8.775c5.001,9.849,1.073,21.887-8.775,26.889  C341.828,461.914,299.157,472,256,472c-34.48,0-67.835-6.191-99.276-18.413L28.068,510.301C25.474,511.444,22.728,512,20.005,512z   M276,325V217c0-11.046-8.954-20-20-20s-20,8.954-20,20v108c0,11.046,8.954,20,20,20S276,336.046,276,325z M256,128  c-11.046,0-20,8.954-20,20l0,0c0,11.046,8.954,20,20,20s20-8.954,20-20l0,0C276,136.954,267.046,128,256,128z" />

</svg>
                <span>Инструкция. Добавление сотрудника</span>
            </a>
        </div>
        <div class="page-name-block-item-additional">
            <ui-modal-trigger data-controller="'ModalAddEditUserCtrl'" controller-as="ctrl" on-close="settingsUsers.gridUsers.fetchData(); settingsUsers.getSaasDataInformation();"
                              template-url="../areas/admin/content/src/settings/modal/addEditUser/AddEditUser.html">
                <button class="btn btn-sm btn-success" type="button" data-e2e="btnAdd"
                        disabled ng-disabled="!settingsUsers.gridUsersInited || !settingsUsers.enableEmployees">
                    <span class="fa fa-plus"></span>
                    @T("Admin.Settings.Users.AddUser")
                </button>
            </ui-modal-trigger>
        </div>
    </div>
</div>
<div data-ng-init="settingsUsers.form = form">
    <div>
        @if (Model.ManagersLimitation)
        {
            <p>
                @*@T("Admin.Settings.Users.ManagersLimitation.Managers")*@
                @T("Admin.Settings.Users"): <span ng-bind="settingsUsers.gridUsers.gridOptions.ManagersCount">@Model.EmployeesCount</span>/@Model.EmployeesLimit
                @Html.ActionLink(T("Admin.Settings.Users.ManagersLimitation.IncreaseTariff").ToString(), "ChangeTariff", "Service")
            </p>
        }
        <p class="flex" style="align-items:flex-end">
            <label class="adv-checkbox-label" data-e2e="showManagers" bs-modifiable="false">
                <input type="checkbox"
                       class="adv-checkbox-input control-checkbox"
                       ng-model="settingsUsers.showManagersPage"
                       ng-click="settingsUsers.changeManagersPageState()" 
                       @Html.Raw(Model.ShowManagersPage ? "checked=\"checked\"" : "") />
                <span class="adv-checkbox-emul"></span>
                @T("Admin.Settings.Users.ShowManagersPage")
            </label>

            @Html.ActionLink(T("Admin.Settings.Users.GoToManagersPage").ToString(), "Index", "Managers", new { area = "" }, new { @class = "m-l", ng_if = "settingsUsers.showManagersPage" })
        </p>

        @*<p>
                <label class="adv-checkbox-label" data-e2e="snableManagersModule">
                    <input type="checkbox" class="adv-checkbox-input control-checkbox"
                           ng-model="settingsUsers.enableManagersModule"
                           ng-click="settingsUsers.changeEnableManagersModuleState()" />
                    <span class="adv-checkbox-emul"></span>
                    @T("Admin.Settings.Users.EnableManagersModule")
                </label>
            </p> // always true according SPRIN-929*@
    </div>


    <ui-grid-custom grid-unique-id="gridUsers"
                    grid-row-identificator="'AssociatedManagerId'"
                    grid-on-init="settingsUsers.gridUsersOnInit(grid)"
                    grid-selection-mass-apply="settingsUsers.getSaasDataInformation()"
                    grid-options="settingsUsers.gridUsersOptions"
                    grid-url="'users/getusers'"
                    grid-inplace-url="'users/inplaceuser'"
                    grid-extend-ctrl="settingsUsers"
                    grid-search-placeholder="'@T("Admin.Settings.Users.GridUsers.SearchPlaceholder")'">
        <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="settingsUsers.gridUsers.gridOptions.TotalString">
        </ui-grid-custom-footer>
    </ui-grid-custom>
</div>

<div class="adv-panel-info m-t-md">
    <a href="https://www.advantshop.net/help/pages/dobavlenie-sotrudnika" target="_blank" class="p-l-xs m-t-xs ">Инструкция. Добавление сотрудника</a>
</div>