@using AdvantShop
@using AdvantShop.Helpers;
@using AdvantShop.Customers;
@model AdvantShop.ViewModel.MyAccount.MyAccountViewModel

@{
    Html.AddAsset("myaccount");
}

<div class="myaccount-title page-title" data-ng-click="myaccount.backToFromTabs();">
    <h1 class="main-title myaccount-main-title main-title--m-t-n cs-bg-4--mobile"
        data-ng-class="{'myaccount-main-title--left-arrow':myaccount.showTabs === false}">
        <span data-ng-bind="myaccount.myaccountTitlePageText || '@T("MyAccount.Index.Header")'"></span>
    </h1>
</div>
<div data-ng-init="myaccount.showTabs = true;" class="myaccount-content-mobile">
    <div data-tabs data-type="vertical" data-tabs-on-select="myaccount.showContent(tabHeader, fromUrl)" data-classes-link="">
        <div class="container-fluid myaccount-mobile">

            @*@Html.SingleBreadCrumb(T("MyAccount.Index.Header").ToString())*@
            <div class="myaccount-welcome-text" data-ng-if="myaccount.showTabs === true">
                @T("MyAccount.Index.Greeting", CustomerContext.CurrentCustomer.FirstName)
            </div>
            <div class="tabs mobile-tabs-vertical tabs-vertical">
                <ul class="tabs-headers tabs-headers--width clear" data-ng-class="{'height-none': !myaccount.showTabs}">
                    <li id="orderhistory" class="tabs-header-item" data-tab-header="@T("MyAccount.OrderHistory.Header")" data-ng-hide="!tabHeader.isRender" @*data-ng-class="{'cs-bg-1' : tabHeader.selected}"*@>
                        <a href="" class="tabs-header-item-link icon-right-open-after cs-br-1" data-ng-click="tabs.change(tabHeader); myaccount.showTabs = false;" @*data-ng-class="{'cs-l-4 link-text-decoration-none' : tabHeader.selected}"*@>
                            @T("MyAccount.OrderHistory.Header")
                        </a>
                    </li>
                    <li id="commoninf" class="tabs-header-item" data-tab-header="" data-ng-hide="!tabHeader.isRender" @*data-ng-class="{'cs-bg-1' : tabHeader.selected}"*@>
                        <a href="" class="tabs-header-item-link icon-right-open-after cs-br-1" data-ng-click="tabs.change(tabHeader); myaccount.showTabs = false;" @*data-ng-class="{'cs-l-4 link-text-decoration-none' : tabHeader.selected}"*@>
                            @T("MyAccount.CommonInfo.Header")
                        </a>
                    </li>
                    <li id="addressbook" class="tabs-header-item" data-tab-header="" data-ng-hide="!tabHeader.isRender" @*data-ng-class="{'cs-bg-1' : tabHeader.selected}"*@>
                        <a href="" class="tabs-header-item-link icon-right-open-after cs-br-1" data-ng-click="tabs.change(tabHeader); myaccount.showTabs = false;" @*data-ng-class="{'cs-l-4 link-text-decoration-none' : tabHeader.selected}"*@>
                            @T("MyAccount.AddressBook.AddressBook")
                        </a>
                    </li>
                    <li id="changepassword" class="tabs-header-item" data-tab-header="" data-ng-hide="!tabHeader.isRender" @*data-ng-class="{'cs-bg-1' : tabHeader.selected}"*@>
                        <a href="" class="tabs-header-item-link icon-right-open-after cs-br-1" data-ng-click="tabs.change(tabHeader); myaccount.showTabs = false;" @*data-ng-class="{'cs-l-4 link-text-decoration-none' : tabHeader.selected}"*@>
                            @T("MyAccount.ChangePassword.ChangePassword")
                        </a>
                    </li>
                    @if (Model.DisplayBonuses)
                    {
                        <li id="bonusTab" class="tabs-header-item" data-tab-header="" data-ng-hide="!tabHeader.isRender" @*data-ng-class="{'cs-bg-1' : tabHeader.selected}"*@>
                            <a href="" class="tabs-header-item-link icon-right-open-after cs-br-1" data-ng-click="tabs.change(tabHeader); myaccount.showTabs = false;" @*data-ng-class="{'cs-l-4 link-text-decoration-none' : tabHeader.selected}"*@>
                                @T("MyAccount.BonusCard.Bonuses") @Model.BonusesAmount
                            </a>
                        </li>
                    }

                    @if (SettingsDesign.WishListVisibility)
                    {
                        <li id="wishlist" class="tabs-header-item" data-tab-header="" data-ng-hide="!tabHeader.isRender">
                            <a href="" class="tabs-header-item-link icon-right-open-after cs-br-1" data-ng-click="tabs.change(tabHeader); myaccount.showTabs = false;">
                                @T("Wishlist.Index.WishListHeader")
                            </a>
                        </li>
                    }

                    @for (var i = 0; i < Model.Tabs.Count; i++)
                    {
                        var tab = Model.Tabs[i];
                        <li id="tab-m-@(!string.IsNullOrEmpty(tab.TabName) ? tab.TabName : i.ToString())" class="tabs-header-item" data-tab-header="" data-ng-hide="!tabHeader.isRender" @*data-ng-class="{'cs-bg-1' : tabHeader.selected}"*@>
                            <a href="" class="tabs-header-item-link  icon-right-open-after cs-br-1" data-ng-click="tabs.change(tabHeader); myaccount.showTabs = false;" @*data-ng-class="{'cs-l-4 link-text-decoration-none' : tabHeader.selected}"*@>
                                @tab.Name
                            </a>
                        </li>
                    }

                    <li class="tabs-header-item myaccount-btn-logout-wrap">
                        <a href="@Url.AbsoluteRouteUrl("Logout")" class="btn btn-middle btn-confirm myaccount-btn-logout">
                            @T("Common.TopPanel.LogOut")
                        </a>
                    </li>

                </ul>
                <div class="tabs-content" data-ng-class="{'height-none': myaccount.showTabs}">
                    @*<div data-ng-click="myaccount.showTabs = true">
                            <button type="button" class="btn btn-middle btn-block cs-bg-1 cs-l-4 mobile-tabs-content-back">
                                Назад
                            </button>
                        </div>*@

                    <div class="tab-content" data-tab-content="orderhistory" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                        @*@Html.SingleBreadCrumb(T("MyAccount.Index.Header").ToString())*@
                        @Html.Partial("OrderHistory")
                    </div>
                    <div class="tab-content" data-tab-content="commoninf" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                        @Html.Action("CommonInfo")
                    </div>
                    <div class="tab-content" data-tab-content="addressbook" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                        @Html.Action("AddressBook")
                    </div>
                    <div class="tab-content" data-tab-content="changepassword" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                        @Html.Action("ChangePassword")
                    </div>

                    @if (Model.DisplayBonuses)
                    {
                        <div class="tab-content" data-tab-content="bonusTab" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                            @Html.Action("BonusCard")
                        </div>
                    }
                    @if (SettingsDesign.WishListVisibility)
                    {
                        <div class="tab-content" data-tab-content="wishlist" data-ng-class="{'tab-content-active': tabContent.header.selected}">
                            @Html.Action("Wishlist", "Wishlist")
                        </div>
                    }
                    @for (var i = 0; i < Model.Tabs.Count; i++)
                    {
                        var tab = Model.Tabs[i];

                        <div class="tab-content" data-tab-content="tab-m-@(!string.IsNullOrEmpty(tab.TabName) ? tab.TabName : i.ToString())" data-ng-class="{'tab-content-active': tabContent.header.selected}">

                            @Html.Action(tab.ActionName, tab.ControllerName, tab.RouteValues)
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @if (Model.DisplayChangeEmail)
    {
        <div data-modal-control id="changetempemail" data-is-open="true" data-cross-enable="false" data-close-out="false">
            <div class="modal-header" data-modal-header>
                @T("MyAccount.Index.Attention")
            </div>
            <div class="modal-content">
                @T("MyAccount.Index.EnterContactEmail")
                <br /><br />
                Email:<br />
                <input type="email" id="tempemail" ng-model="myaccount.tempemail" class="input-small" required="" />
                <div class="error-text" data-ng-if="myaccount.modalWrongNewEmail">
                    @T("MyAccount.Index.WrongEmail")
                </div>
            </div>
            <div class="modal-footer" data-modal-footer>
                <input type="button" value="@T("MyAccount.Index.ChangeEmail")" ng-click="myaccount.changeTempEmail(myaccount.tempemail)" class="btn btn-small btn-submit" />
            </div>
        </div>
    }
</div>
