@model BlockModel
<div class="container-fluid">
    <div class="lp-container" data-e2e="@(Model.Config.Name)_container">
        @if (Model.Block.TryGetSetting("show_title") == true || Model.Block.TryGetSetting("show_subtitle") == true)
        {
            @:<div class="lp-block-form__header text-center">
        }
        @if (Model.Block.TryGetSetting("show_title") == true)
        {
            <div class="lp-h2 lp-h2--color" data-e2e="FormTitleBlock">@Html.SubBlock(Model, "title")</div>
        }
        @if (Model.Block.TryGetSetting("show_subtitle") == true)
        {
            <div class="lp-h3 lp-h3--color" data-e2e="FormSubTitleBlock">@Html.SubBlock(Model, "subtitle")</div>
        }

        @if (Model.Block.TryGetSetting("show_title") == true || Model.Block.TryGetSetting("show_subtitle") == true)
        {
            @:</div>
        }
        <div class="row middle-xs">
            <div class="col-xs-12 col-sm-6">
                <div class="lp-font-size--middle form-with-text-aside-text-invert" data-e2e="FormText">
                    @Html.SubBlock(Model, "text")
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                @Html.Form(Model.Form, true)
            </div>
        </div>
    </div>
</div>
