@model AdvantShop.Web.Admin.Models.Settings.Partners.PartnersSettingsModel
@{
    var partnersUrl = Url.AbsoluteRouteUrl("Partners_Home");
}

<div class="setting-title m-t-none">
    <h3>Общие</h3>
</div>
<div class="form-group row">
    <div class="col-xs-2">
        <div class="setting-label-wrap">
            Ссылка на личный кабинет партнера
        </div>
    </div>
    <div class="col-xs-2">
        <a href="@partnersUrl" target="_blank">@partnersUrl</a>
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Partners.DefaultRewardPercent")
        </div>
    </div>
    <div class="col-xs-2">
        @Html.TextBoxFor(x => x.DefaultRewardPercent, new { type = "number", @class = "form-control", ng_model = "settingsPartners.defaultRewardPercent" })
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-2">
        Шаблон купона
    </div>
    <div class="col-xs-10">
        <div ng-if="settingsPartners.coupon != null">
            <ui-modal-trigger data-controller="'ModalAddEditCouponCtrl'" controller-as="ctrl" size="middle"
                                template-url="../areas/admin/content/src/coupons/modal/addEditCoupon/addEditCoupon.html"
                                data-resolve="{CouponId: settingsPartners.coupon.CouponID}"
                                data-on-close="ctrl.getFormData()">
                <a href="" class="">Настроить</a>
            </ui-modal-trigger>
        </div>
        <div ng-if="settingsPartners.coupon == null">
            <span class="text-danger">Не настроен.</span>
            <ui-modal-trigger data-controller="'ModalAddEditCouponCtrl'" controller-as="ctrl" size="middle"
                                template-url="../areas/admin/content/src/coupons/modal/addEditCoupon/addEditCoupon.html"
                                data-resolve="{couponMode: @AdvantShop.Catalog.CouponMode.PartnersTemplate.ConvertIntString()}"
                                data-on-close="settingsPartners.getFormData()">
                <a href="">Настроить</a>
            </ui-modal-trigger>
        </div>
        <div>
            По данному шаблону будут генерироваться купоны при регистрации партнеров
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Partners.AutoApplyPartnerCoupon")
        </div>
    </div>
    <div class="col-xs-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.AutoApplyPartnerCoupon, new { @class = "adv-checkbox-input", ng_model = "settingsPartners.autoApplyPartnerCoupon" })
            <span class="adv-checkbox-emul" data-e2e="AutoApplyPartnerCoupon"></span>
        </label>
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Partners.ShowCaptchaInRegistrationPartners")
        </div>
    </div>
    <div class="col-xs-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.EnableCaptchaInRegistrationPartners, new { @class = "adv-checkbox-input", ng_model = "settingsPartners.EnableCaptchaInRegistrationPartners" })
            <span class="adv-checkbox-emul" data-e2e="ShowCapthcaInPartner"></span>
        </label>
    </div>
</div>
<div class="form-group row" bs-modifiable="false">
    <div class="col-xs-2">
        <div class="setting-label-wrap">
            <div>@T("Admin.Settings.Partners.PaymentTypes")</div>
            <div>(для физ. лиц)</div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="sortable-row" ng-model="settingsPartners.paymentTypes" as-sortable="settingsPartners.sortableOptions">
            <div class="row" ng-repeat="item in settingsPartners.paymentTypes" as-sortable-item ng-cloak>
                <div class="col-xs-12">
                    <div class="flex payment-row middle-xs between-xs">
                        <div class="flex middle-xs col-xs">
                            <div class="as-sortable-item-handle" as-sortable-item-handle>
                                <icon-move />
                            </div>
                            <span ng-if="item.Id == null">
                                <input type="text" class="form-control" ng-model="item.Name" data-e2e="paymentTypeName"
                                        ng-keypress="$event.keyCode === 13 && item.Name && settingsPartners.addPaymentType(item, item.Name)"
                                        autofocus="settingsPartners.focusOnName" />
                            </span>
                            <span class="payment-text" ng-if="item.Id != null">
                                <simple-edit empty-text="" class="simple-edit" on-change="settingsPartners.setPaymentTypeName(item, value)" timeout="1000">
                                    <div class="payment-text-grey input-ghost simple-edit__input" simple-edit-content="" contenteditable="true" ng-bind="item.Name"></div>
                                    <simple-edit-trigger class="fas fa-pencil-alt landing-block__pencil"></simple-edit-trigger>
                                </simple-edit>
                            </span>
                        </div>
                        <div class="flex middle-xs col-fixed-size-sm" ng-if="item.Id == null">
                            <button class="btn btn-sm btn-success btn--margin-left" type="button" ng-click="settingsPartners.addPaymentType(item.Name)" data-e2e="addPaymentType">
                                <span class="fa fa-plus"></span>&nbsp;{{'Admin.Js.AddEdit.Add'|translate}}
                            </button>
                        </div>
                        <div class="flex middle-xs col-fixed-size-ls" ng-if="item.Id != null">
                            <a href="" class="fa fa-times link-invert link-decoration-none" ng-click="settingsPartners.deletePaymentType(item.Id)" data-e2e="deletePaymentType"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="setting-title">
    <h3>Процент вознаграждения по категориям</h3>
    <div>Сумма вознаграждения партнера за товары из данных категорий высчитывается с указанным процентом.</div>
    <div>Учитывается <b>основная</b> категория товара или ее ближайшая родительская категория.</div>
</div>
<div class="form-group row" bs-modifiable="false">
    <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-12">
                <div class="flex payment-row middle-xs between-xs">
                    <div class="flex middle-xs col-xs">
                        Категория
                    </div>
                    <div class="flex middle-xs col-fixed-size-sm">
                        Процент
                    </div>
                    <div class="flex middle-xs" ng-class="{'col-fixed-size-ls' : settingsPartners.categories.length > 1, 'col-fixed-size-sm' : settingsPartners.categories.length <= 1}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-repeat="item in settingsPartners.categories track by $index" ng-cloak>
            <div class="col-xs-12">
                <div class="flex payment-row middle-xs between-xs">
                    <div class="flex middle-xs col-xs">
                        <span ng-if="item.CategoryId == null">
                            <span ng-if="item.categoryIds.length > 0">Выбрано: {{item.categoryIds.length}}</span>
                            <ui-modal-trigger data-controller="'ModalSelectCategoriesCtrl'" controller-as="ctrl"
                                                template-url="../areas/admin/content/src/_shared/modal/selectCategories/selectCategories.html"
                                                data-resolve="{'params': { 'selectedIds': item.categoryIds}}"
                                                data-on-close="item.categoryIds = result.categoryIds">
                                <a href="">{{item.categoryIds.length > 0 ? 'Изменить' : 'Выберите категории'}}</a>
                            </ui-modal-trigger>
                        </span>
                        <span class="payment-text" ng-if="item.CategoryId != null">
                            {{item.Path}}
                        </span>
                    </div>
                    <div class="flex middle-xs col-fixed-size-sm" ng-if="item.CategoryId == null">
                        <input type="number" class="form-control" ng-model="item.RewardPercent">&nbsp;%
                    </div>
                    <div class="flex middle-xs col-fixed-size-sm" ng-if="item.CategoryId != null">
                        <input type="number" class="form-control" ng-model="item.RewardPercent" ng-blur="settingsPartners.updateCategoryRewardPercent(item)">&nbsp;%
                    </div>
                    <div class="flex middle-xs col-fixed-size-sm" ng-if="item.CategoryId == null">
                        <button class="btn btn-sm btn-success" type="button" ng-click="settingsPartners.addCategoryRewardPercent(item)">
                            <span class="fa fa-plus"></span>&nbsp;{{'Admin.Js.AddEdit.Add'|translate}}
                        </button>
                    </div>
                    <div class="flex middle-xs col-fixed-size-ls" ng-if="item.CategoryId != null">
                        <a href="" class="fa fa-times link-invert link-decoration-none" ng-click="settingsPartners.deleteCategoryRewardPercent(item.CategoryId)"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
