@using AdvantShop.Core.Services.Admin
@model AdvantShop.Web.Admin.Models.Settings.Partners.PartnersSettingsModel
@{
    Layout = "~/Areas/Admin/Views/Partners/_PartnersLayout.cshtml";
    var isAdminv3 = AdminAreaTemplate.Current == "adminv3";
}

@using (Html.BeginForm("Index", "SettingsPartners", FormMethod.Post, new { name = "form", enctype = "multipart/form-data", novalidate = "novalidate" }))
{
    <div class="sticky-page-name p-n m-n p-t-xs " sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner header-hidden">
            <div class="page-name-block-item-main">
                <h1 class="page-name-block-text sticky-page-name-text">
                    <span class="float-header-page" ng-bind="settings.floatHeader"></span>
                </h1>
            </div>
            <div class="page-name-block-item-additional">
                <input type="submit" class="btn btn-sm btn-success" value="@T("Admin.Save")" data-button-validation disabled ng-disabled="!form.modified" />
            </div>
        </div>
    </div>

    @Html.AntiForgeryToken()

    <div class="ibox">
        <uib-tabset active uid="partnerstab" on-select-batch="settings.floatHeader = tab.heading;">
            <uib-tab index="'common'" heading="@T("Admin.Settings.Partners.Header")" classes="ng-tab">
                @Html.Partial("_Common", Model)
            </uib-tab>
            <uib-tab index="'reports'" heading="Отчеты" classes="ng-tab">
                @Html.Partial("_Reports", Model)
            </uib-tab>
            <div class="js-not-tabs">
                <input type="submit" class="btn btn-sm btn-success" value="@T("Admin.Save")" data-button-validation disabled ng-disabled="!form.modified" data-e2e="settingsPartnersSave" />
            </div>
        </uib-tabset>
    </div>
}
