@model AdvantShop.Web.Admin.Models.Settings.SystemSettingsModel
@using AdvantShop.Saas
@using AdvantShop.Core.Services.Admin
@{
    var currentsaasData = SaasDataService.CurrentSaasData;
    var enabledSaas = SaasDataService.IsSaasEnabled;
    var isAdminv3 = AdminAreaTemplate.Current == "adminv3";
}
<div class="@(isAdminv3 ? "ng-hide": "")">
    <div class="form-group row">
        <div class="col-xs-2">
            <div class="setting-label-wrap">
                @Html.LabelFor(x => x.StoreActive, T("Admin.Settings.SystemSettings.AppsStoreActive"))
            </div>
        </div>
        <div class="col-xs-6">
            <label class="adv-checkbox-label">
                <switch-on-off checked="settingsSystem.StoreActive" data-id="StoreActive" ng-init="@("settingsSystem.StoreActive=" + Model.StoreActive.ToLowerString())"></switch-on-off>
            </label>
        </div>
    </div>

    @if (!enabledSaas || currentsaasData.LandingPage)
    {
        <div class="form-group row">
            <div class="col-xs-2">
                <div class="setting-label-wrap">
                    @Html.LabelFor(x => x.LandingActive, T("Admin.Settings.SystemSettings.AppsLandingActive"))
                </div>
            </div>
            <div class="col-xs-6">
                <label class="adv-checkbox-label">
                    <switch-on-off checked="settingsSystem.LandingActive" data-id="LandingActive" ng-init="@("settingsSystem.LandingActive=" + Model.LandingActive.ToLowerString())"></switch-on-off>
                </label>
            </div>
        </div>
    }

    @if (!enabledSaas || currentsaasData.HaveCrm)
    {
        <div class="form-group row">
            <div class="col-xs-2">
                <div class="setting-label-wrap">
                    @Html.LabelFor(x => x.CrmActive, T("Admin.Settings.SystemSettings.AppsCrmActive"))
                </div>
            </div>
            <div class="col-xs-6">
                <label class="adv-checkbox-label">
                    <switch-on-off checked="settingsSystem.CrmActive" data-id="CrmActive" ng-init="@("settingsSystem.CrmActive=" + Model.CrmActive.ToLowerString())"></switch-on-off>
                </label>
            </div>
        </div>
    }

    <div class="form-group row">
        <div class="col-xs-2">
            <div class="setting-label-wrap">
                @Html.LabelFor(x => x.TasksActive, T("Admin.Settings.SystemSettings.AppsTasksActive"))
            </div>
        </div>
        <div class="col-xs-6">
            <label class="adv-checkbox-label">
                <switch-on-off checked="settingsSystem.TasksActive" data-id="TasksActive" ng-init="@("settingsSystem.TasksActive=" + Model.TasksActive.ToLowerString())"></switch-on-off>
            </label>
        </div>
    </div>

    @if (!enabledSaas || currentsaasData.BonusSystem)
    {
        <div class="form-group row">
            <div class="col-xs-2">
                <div class="setting-label-wrap">
                    @Html.LabelFor(x => x.BonusActive, T("Admin.Settings.SystemSettings.AppsBonusActive"))
                </div>
            </div>
            <div class="col-xs-6">
                <label class="adv-checkbox-label">
                    <switch-on-off checked="settingsSystem.BonusActive" data-id="BonusActive" ng-init="@("settingsSystem.BonusActive=" + Model.BonusActive.ToLowerString())"></switch-on-off>
                </label>
            </div>
        </div>
    }
    
    <div class="form-group row">
        <div class="col-xs-2">
            <div class="setting-label-wrap">
                @Html.LabelFor(x => x.BookingActive, T("Admin.Settings.SystemSettings.AppsBookingActive"))
            </div>
        </div>
        <div class="col-xs-6">
            <label class="adv-checkbox-label">
                <switch-on-off checked="settingsSystem.BookingActive" data-id="BookingActive" ng-init="@("settingsSystem.BookingActive=" + Model.BookingActive.ToLowerString())"></switch-on-off>
            </label>
        </div>
    </div>

    @if (!enabledSaas || currentsaasData.HaveTriggers)
    {
        <div class="form-group row">
            <div class="col-xs-2">
                <div class="setting-label-wrap">
                    @Html.LabelFor(x => x.TriggersActive, T("Admin.Settings.SystemSettings.AppsTriggersActive"))
                </div>
            </div>
            <div class="col-xs-6">
                <label class="adv-checkbox-label">
                    <switch-on-off checked="settingsSystem.TriggersActive" data-id="TriggersActive" ng-init="@("settingsSystem.TriggersActive=" + Model.TriggersActive.ToLowerString())"></switch-on-off>
                </label>
            </div>
        </div>
    }
    <div class="form-group row" ng-show="settingsSystem.PartnersActive">
        <div class="col-xs-2">
            <div class="setting-label-wrap">
                @Html.LabelFor(x => x.PartnersActive, T("Admin.Settings.SystemSettings.AppsPartnersActive"))
            </div>
        </div>
        <div class="col-xs-6">
            <label class="adv-checkbox-label">
                <switch-on-off checked="settingsSystem.PartnersActive" data-id="PartnersActive" ng-init="@("settingsSystem.PartnersActive=" + Model.PartnersActive.ToLowerString())"></switch-on-off>
            </label>
        </div>
    </div>
</div>