@model AdvantShop.Web.Admin.Models.Settings.SystemSettingsModel


<div class="form-group row">
    <div class="col-xs-12">
        <a class="btn btn-sm btn-success" ng-click="settingsSystem.updateSiteMaps()">@T("Admin.SettingsSystem.SiteMap.RefreshMaps")</a>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.SettingsSystem.SiteMap.RefreshMaps")">
            @T("Admin.Settings.SystemSettings.SitemapXmlLastUpdateHint")
        </help-trigger>
    </div>
</div>

<div class="setting-title"
     ng-init="settingsSystem.SiteMapFileHtmlDate='@Model.SiteMapFileHtmlDate';
     settingsSystem.SiteMapFileXmlDate='@Model.SiteMapFileXmlDate';
     settingsSystem.SiteMapFileHtmlLink='@Model.SiteMapFileHtmlLink';
     settingsSystem.SiteMapFileHtmlLinkText='@Model.SiteMapFileHtmlLinkText';
     settingsSystem.SiteMapFileXmlLink='@Model.SiteMapFileXmlLink';
     settingsSystem.SiteMapFileXmlLinkText='@Model.SiteMapFileXmlLinkText'">
    <h3>@T("Admin.Settings.SystemSettings.SitemapXml")</h3>
</div>

<div class="form-group row">
    <div class="col-xs-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.SiteMapFileXmlDate, T("Admin.Settings.SystemSettings.SitemapXmlLastUpdate"))
        </div>
    </div>
    <div class="col-xs-6">
        @Html.Label("lblSiteMapFileXmlDate", Model.SiteMapFileXmlDate, new { ng_bind = "settingsSystem.SiteMapFileXmlDate" })
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.SystemSettings.SitemapXmlLastUpdate")">
            @T("Admin.Settings.SystemSettings.SitemapXmlLastUpdateHint")
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.SiteMapFileXmlLink, T("Admin.Settings.SystemSettings.SiteMapFileXmlLink"))
        </div>
    </div>
    <div class="col-xs-6">
        <a ng-href="{{settingsSystem.SiteMapFileXmlLink}}" target="_blank" ng-bind="settingsSystem.SiteMapFileXmlLinkText">@Model.SiteMapFileXmlLinkText</a>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.SystemSettings.SiteMapFileXmlLink")">
            @T("Admin.Settings.SystemSettings.SiteMapFileXmlLinkHint")
        </help-trigger>
    </div>
</div>

<div class="setting-title">
    <h3>@T("Admin.Settings.SystemSettings.SitemapHtml")</h3>
</div>

<div class="form-group row">
    <div class="col-xs-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.SiteMapFileHtmlDate, T("Admin.Settings.SystemSettings.SitemapHtmlLastUpdate"))
        </div>
    </div>
    <div class="col-xs-6">
        @Html.Label("lblSiteMapFileHtmlDate", Model.SiteMapFileHtmlDate, new { ng_bind = "settingsSystem.SiteMapFileHtmlDate" })
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.SystemSettings.SitemapHtmlLastUpdate")">
            @T("Admin.Settings.SystemSettings.SitemapHtmlLastUpdateHint")
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.SiteMapFileHtmlLink, T("Admin.Settings.SystemSettings.SiteMapFileHtmlLink"))
        </div>
    </div>
    <div class="col-xs-6">
        <a ng-href="{{settingsSystem.SiteMapFileHtmlLink}}" target="_blank" ng-bind="settingsSystem.SiteMapFileHtmlLinkText">@Model.SiteMapFileHtmlLinkText</a>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.SystemSettings.SiteMapFileHtmlLink")">
            @T("Admin.Settings.SystemSettings.SiteMapFileHtmlLinkHint")
        </help-trigger>
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-8">
        <div class="adv-panel-info">
            <a href="https://www.advantshop.net/help/pages/robots-txt#2" target="_blank">@T("Admin.Settings.System.SiteMapInstruction")</a>
        </div>
    </div>
</div>

