@model BlockModel

<div class="container-fluid">
    <div class="lp-container">
        <div class="row center-xs text-left">
            <div class="col-xs-12 @Model.Block.GetWidthInColumnsAsClasses()">
                <div class="row center-xs">
                    <div class="col-xs-12 col-sm-10">
                        <div class="m-b-md m-t-md">
                            <div class="lp-block-cover-video-header lp-h2 lp-h2--color" data-e2e="TitleCoverVideo">
                                @Html.SubBlock(Model, "title")
                            </div>
                            <div class="lp-block-cover-video-text lp-h3 lp-h3--color" data-e2e="TextCoverVideo">
                                @Html.SubBlock(Model, "text")
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-lg-8" data-e2e="VideoCoverVideo">
                        @Html.SubBlock(Model, "video")
                    </div>
                    @Html.Partial("_CoverScrollToBlock", Model)
                </div>
            </div>
        </div>
    </div>
</div>
