@model BlockModel

<div class="cover-form-center__wrap">
    <div class="lp-container">
        <div class="row center-xs">
            <div class="col-xs-11 col-sm-7 col-md-6 cover-form-center__width-block">
                <div class="cover-form-center__prop"></div>
                <div class="cover-form-center__rounded-wrap color-scheme__bg--alt">

                    <div class="row center-xs">
                        <div class="col-xs-12">
                            <div class="row center-xs middle-xs">
                                <div class="col-xs-12">
                                    <div class="cover-form-center__title lp-h1 lp-h3--color">
                                        @Html.SubBlock(Model, "title")
                                    </div>
                                    <div class="cover-form-center__subtitle lp-h3 lp-h3--color">
                                        @Html.SubBlock(Model, "subtitle")
                                    </div>
                                    <div class="cover-form-center__text lp-font-size--middle">
                                        @Html.SubBlock(Model, "text1")
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 m-b-md">
                                    @Html.Form(Model.Form, true)
                                </div>
                                <div class="col-xs-12">
                                    <div class="cover-form-center__text cover-form-center__text--height-limiter lp-font-size--middle">
                                        @Html.SubBlock(Model, "text2")
                                    </div>
                                </div>
                            </div>
                            @Html.Partial("_CoverScrollToBlock", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

