@model BlockModel
@using System.Linq;

@{

    bool renderSocials = Model.Block.ExistSocials();

    //bool renderSocials = new List<bool>() {
    //    Model.Block.TryGetSetting("vk_enabled") == true,
    //    Model.Block.TryGetSetting("fb_enabled") == true,
    //    Model.Block.TryGetSetting("youtube_enabled") == true,
    //    Model.Block.TryGetSetting("twitter_enabled") == true,
    //    Model.Block.TryGetSetting("instagram_enabled") == true,
    //    Model.Block.TryGetSetting("telegram_enabled") == true,
    //    Model.Block.TryGetSetting("odnoklassniki_enabled") == true,
    //}.Count(x => x == true) > 0;
}
<footer class="container-fluid">
    <div class="lp-container">
        <div class="row center-xs middle-xs between-md start-md">
            <div class="col-xs-12 col-md-5">
                <div class="row center-xs start-md">
                    <div class="col-xs-12 lp-footer-social__text lp-footer-social__phone">
                        @Html.SubBlock(Model, "phone-email")
                    </div>
                    <div class="col--only-pad hidden-xs visible-md lp-h3--color lp-footer-social__text lp-footer-social__address">
                        @Html.SubBlock(Model, "address")
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-slim">
                <div class="row middle-xs center-xs start-md">
                    <div class="col--only-pad hidden-xs visible-md lp-h3--color lp-footer-social__copyright">
                        @Html.SubBlock(Model, "copyright")
                    </div>

                    @if (renderSocials)
                    {
                        <div class="col--only-pad lp-footer-social__social-items">
                            @Html.Partial("_Socials", Model.Block)
                        </div>
                    }
                </div>

                <div class="hidden-md lp-h3--color">
                    <div class="lp-footer-social__text lp-footer-social__address">
                        @Html.SubBlock(Model, "address")
                    </div>
                    <div class="lp-footer-social__text lp-footer-social__copyright">
                        @Html.SubBlock(Model, "copyright")
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
