@using AdvantShop.Catalog
@model AdvantShop.Web.Admin.Models.Catalog.Categories.AdminCategoryModel

<div class="row ng-cloak" in-view="$inview ? category.categoryAutomapShowed = true : null">
    <div class="col-xs-3 col-lg-3 col-wl-2">
        <h2>@T("Admin.Category.CategoryAutomap.AutomapProductsByCategories")</h2>
        <div class="">
            @T("Admin.Category.CategoryAutomap.AutomapProductsByCategories.Description")
        </div>
    </div>
    <div class="col-xs-9 col-wl-10" ng-init="category.getAutomapCategories(@Model.CategoryId)">
        <div class="ibox">
            <div class="ibox-content border_none" bs-modifiable="false">
                <div>
                    <div class="category-row">
                        <label class="adv-radio-label">
                            @ECategoryAutomapAction.None.Localize()
                            <input class="adv-radio-input" name="AutomapAction" ng-model="category.automapAction" type="radio" value="@ECategoryAutomapAction.DoNothing.ConvertIntString()"
                                   ng-change="category.setCategoryAutomapAction(@Model.CategoryId, @ECategoryAutomapAction.DoNothing.ConvertIntString(), {{category.automapAction}})">
                            <span class="adv-radio-emul" data-e2e="categoryDoNothingOnAutomap"></span>
                        </label>
                        <label class="adv-radio-label" ng-if="category.mainAutomapCategory != @Model.CategoryId">
                            @ECategoryAutomapAction.Copy.Localize()
                            <input class="adv-radio-input" name="AutomapAction" ng-model="category.automapAction" type="radio" value="@ECategoryAutomapAction.Copy.ConvertIntString()"
                                   ng-change="category.setCategoryAutomapAction(@Model.CategoryId, @ECategoryAutomapAction.Copy.ConvertIntString())">
                            <span class="adv-radio-emul" data-e2e="categoryCopyProductsOnAutomap"></span>
                        </label>
                        <label class="adv-radio-label" ng-if="category.mainAutomapCategory == @Model.CategoryId">
                            @ECategoryAutomapAction.Copy.Localize()
                            <input class="adv-radio-input" name="AutomapAction" ng-model="category.automapAction" type="radio" value="@ECategoryAutomapAction.CopyAndSetMain.ConvertIntString()"
                                   ng-change="category.setCategoryAutomapAction(@Model.CategoryId, @ECategoryAutomapAction.CopyAndSetMain.ConvertIntString())">
                            <span class="adv-radio-emul" data-e2e="categoryCopyProductsOnAutomap"></span>
                        </label>
                        <label class="adv-radio-label">
                            @ECategoryAutomapAction.Move.Localize()
                            <input class="adv-radio-input" name="AutomapAction" ng-model="category.automapAction" type="radio" value="@ECategoryAutomapAction.Move.ConvertIntString()"
                                   ng-change="category.setCategoryAutomapAction(@Model.CategoryId, @ECategoryAutomapAction.Move.ConvertIntString()); category.mainAutomapCategory == @Model.CategoryId && category.setMainAutomapCategory(@Model.CategoryId, null, null)">
                            <span class="adv-radio-emul" data-e2e="categoryMoveProductsOnAutomap"></span>
                        </label>
                    </div>
                    <div class="category-row" ng-if="category.categoryAutomapShowed">
                        <div class="flex-grow flex-basis-n flex-width-n ng-cloak" ng-if="category.automapCategories.length > 0">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="flex payment-row middle-xs between-xs">
                                        <div class="flex middle-xs col-xs">
                                            @T("Admin.Category.CategoryAutomap.Category")
                                        </div>
                                        <div class="flex middle-xs col-xs-slim m-r-xl">
                                            @T("Admin.Category.CategoryAutomap.SetMain")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-repeat="item in category.automapCategories track by $index" ng-cloak>
                                <div class="col-xs-12">
                                    <div class="flex payment-row middle-xs between-xs">
                                        <div class="flex middle-xs col-xs">
                                            <a href="catalog?categoryid={{item.CategoryId}}" title="{{item.Path}}">{{item.Name}}</a>
                                        </div>
                                        <div class="flex middle-xs col-xs-slim p-n">
                                            <label class="adv-radio-label">
                                                <input class="adv-radio-input" name="AutomapMainCategory" ng-model="category.mainAutomapCategory" type="radio" value="{{item.CategoryId}}" 
                                                       ng-change="{{category.mainAutomapCategory || -1}} == @Model.CategoryId && 
                                                        category.setCategoryAutomapAction(@Model.CategoryId, @ECategoryAutomapAction.Copy.ConvertIntString(),
                                                            category.automapAction == @ECategoryAutomapAction.DoNothing.ConvertIntString() ? @ECategoryAutomapAction.DoNothing.ConvertIntString() : 0,
                                                            category.automapAction != @ECategoryAutomapAction.DoNothing.ConvertIntString() ? @ECategoryAutomapAction.Copy.ConvertIntString() : @ECategoryAutomapAction.DoNothing.ConvertIntString(), true);
                                                            category.setMainAutomapCategory(@Model.CategoryId, item.CategoryId);">
                                                <span class="adv-radio-emul"></span>
                                            </label>
                                        </div>
                                        <div class="flex middle-xs col-fixed-size-ls">
                                            <a href="" class="fa fa-times link-invert link-decoration-none" ng-click="category.deleteAutomapCategory(@Model.CategoryId, item.CategoryId)"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow flex-basis-n flex-width-n m-t-sm">
                                <label class="adv-radio-label">
                                    @T("Admin.Category.CategoryAutomap.DontChangeMainCategory")
                                    <input class="adv-radio-input" name="AutomapMainCategory" ng-model="category.mainAutomapCategory" type="radio"
                                           ng-value="null" ng-change="
                                               {{category.mainAutomapCategory || -1}} == @Model.CategoryId && category.setCategoryAutomapAction(@Model.CategoryId, 
                                                    @ECategoryAutomapAction.Copy.ConvertIntString(), 
                                                    category.automapAction == @ECategoryAutomapAction.DoNothing.ConvertIntString() ? @ECategoryAutomapAction.DoNothing.ConvertIntString() : 0,
                                                    category.automapAction != @ECategoryAutomapAction.DoNothing.ConvertIntString() ? @ECategoryAutomapAction.Copy.ConvertIntString() : @ECategoryAutomapAction.DoNothing.ConvertIntString(), true); 
                                               category.setMainAutomapCategory(@Model.CategoryId)">
                                    <span class="adv-radio-emul"></span>
                                </label>
                            </div>
                            <div class="flex-grow flex-basis-n flex-width-n m-t-sm" ng-show="category.automapAction != @ECategoryAutomapAction.Move.ConvertIntString()">
                                <label class="adv-radio-label">
                                    @ECategoryAutomapAction.CopyAndSetMain.Localize()
                                    <input class="adv-radio-input" name="AutomapMainCategory" ng-model="category.mainAutomapCategory" type="radio" ng-value="@Model.CategoryId" 
                                           ng-change="category.setCategoryAutomapAction(@Model.CategoryId, @ECategoryAutomapAction.CopyAndSetMain.ConvertIntString(), 
                                                   category.automapAction == @ECategoryAutomapAction.DoNothing.ConvertIntString() ? @ECategoryAutomapAction.DoNothing.ConvertIntString() : 0,
                                                   category.automapAction != @ECategoryAutomapAction.DoNothing.ConvertIntString() ? @ECategoryAutomapAction.CopyAndSetMain.ConvertIntString() : @ECategoryAutomapAction.DoNothing.ConvertIntString(), true); 
                                               category.setMainAutomapCategory(@Model.CategoryId);">
                                    <span class="adv-radio-emul"></span>
                                </label>
                            </div>
                        </div>
                        <div class="flex-grow flex-basis-n flex-width-n m-t-sm">
                            <ui-modal-trigger data-controller="'ModalSelectCategoriesCtrl'" controller-as="ctrl"
                                              template-url="../areas/admin/content/src/_shared/modal/selectCategories/selectCategories.html"
                                              data-resolve="{'params': {'selectedIds': category.automapCategoriesIds}}"
                                              data-on-close="category.addAutomapCategories(@Model.CategoryId, result.categoryIds)">
                                <a href="">@T("Admin.Category.CategoryAutomap.AddCategories")</a>
                            </ui-modal-trigger>
                            <a href="" class="m-l" ng-click="category.deleteAutomapCategories(@Model.CategoryId)" ng-if="category.automapCategories.length > 0">
                                @T("Admin.Category.CategoryAutomap.ClearCategories")
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
