@using AdvantShop.Catalog
@model AdvantShop.Web.Admin.Models.Catalog.Categories.AdminCategoryModel

<div class="row" in-view="$inview ? category.propertyGroupsShowed = true : null"> 
    <div class="col-xs-3 col-lg-3 col-wl-2">
        <h2 class="category-title">@T("Admin.Category.PropertyGroups.PropertiesGroups")</h2>
        <div class="">
            @T("Admin.Category.PropertyGroups.SpecifyPropertiesGroups")
        </div>
    </div>
    <div class="col-xs-9 col-wl-10">
        <div class="ibox category-block">
            <div class="ibox-content category-content border_none property-groups-content">
                <div class="form-group" ng-if="category.showGridPropertyGroups && category.propertyGroupsShowed">
                    <ui-grid-custom grid-unique-id="gridPropertyGroups"
                                    grid-on-init="category.gridOnInit(grid)"
                                    grid-filter-enabled="false"
                                    grid-pagination-enabled="false"
                                    grid-selection-enabled="false"
                                    grid-params="{categoryId:@Model.CategoryId}"
                                    grid-options="category.gridPropertyGroupsOptions"
                                    grid-on-fetch="category.gridOnFetch(grid)"
                                    grid-url="'category/getPropertyGroups'">
                    </ui-grid-custom>
                </div>
                <ui-modal-trigger data-controller="'ModalAddPropertyGroupCtrl'" controller-as="ctrl"
                                  template-url="../areas/admin/content/src/category/modal/addPropertyGroup/addPropertyGroup.html"
                                  data-resolve="{'categoryId': @Model.CategoryId }"
                                  data-on-close="category.gridPropertyGroups.fetchData()">
                    <button class="btn btn-sm btn-default" type="button" data-e2e="categoryGroupAdd">
                        @T("Admin.Category.PropertyGroups.Add")
                    </button>
                </ui-modal-trigger>
                <help-trigger class="ng-cloak word-spacing" data-title="@T("Admin.Category.PropertyGroups.PropertiesGroups")">
                    @T("Admin.Category.PropertyGroups.OneOrMoreGroups")<br>
                    <br>
                    @T("Admin.Category.PropertyGroups.MoreInfo")<br>
                    <a href="http://www.advantshop.net/help/pages/property-sets" target="_blank">@T("Admin.Category.PropertyGroups.Manual")</a>
                </help-trigger>
            </div>
        </div>
    </div>
</div>

<div class="row" in-view="$inview ? category.recommendationsShowed = true : null">
    <div class="col-xs-3 col-lg-3 col-wl-2">
        <h2 class="category-title">@T("Admin.Category.PropertyGroups.Auto-selection")</h2>
        <div class="category-text">
            <p>@T("Admin.Category.PropertyGroups.CrossMarketing")</p>
            <p><b>@T("Admin.Category.PropertyGroups.ActivateTheOption")</b></p>
            <p>@T("Admin.Category.PropertyGroups.SettingsCatalog")</p>
        </div>
    </div>
    <div class="col-xs-9 col-wl-10">
        <div class="ibox category-block">
            <div class="ibox-content category-content" ng-if="category.recommendationsShowed">

                <div class="row category-row">
                    <div class="flex-grow-n col-fixed-size-md">
                        <span class="relative">
                            @T("Admin.Category.PropertyGroups.WithThisProductBuy")
                            <help-trigger class="ng-cloak word-spacing help-trigger-icon-abs" data-title="@T("Admin.Category.PropertyGroups.WithThisProductBuy")">
                                @T("Admin.Category.PropertyGroups.RecommendAlternativeGoods")
                            </help-trigger>
                        </span>
                    </div>
                    <div class="flex-grow flex-basis-n flex-width-n">
                        <div class="form-group">
                            <cat-product-recommendations data-type="@RelatedType.Related.ToString()"
                                                         data-category-id="@Model.CategoryId"
                                                         data-title="@Html.AttributeEncode(SettingsCatalog.RelatedProductName)">
                            </cat-product-recommendations>
                        </div>
                    </div>
                </div>
                <div class="row category-row">
                    <div class="flex-grow-n col-fixed-size-md">
                        @T("Admin.Category.PropertyGroups.SameGoods")
                        <help-trigger class="ng-cloak word-spacing" data-title="@T("Admin.Category.PropertyGroups.SameGoods")">
                            @T("Admin.Category.PropertyGroups.RecommendAlternativeGoods")
                        </help-trigger>
                    </div>
                    <div class="flex-grow flex-basis-n flex-width-n">
                        <div class="form-group">
                            <cat-product-recommendations data-type="@RelatedType.Alternative.ToString()"
                                                         data-category-id="@Model.CategoryId"></cat-product-recommendations>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>