@model AdvantShop.Web.Admin.Models.Catalog.Categories.AdminCategoryModel

<form method="POST" action="@(Model.IsEditMode ? Url.Action("Edit") : Url.Action("Add"))" enctype="multipart/form-data" name="form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.CategoryId)
    @Html.HiddenFor(x => x.ExternalId)
    @Html.HiddenFor(x => x.IsEditMode)

    <div class="m-b-md">
        <div sticky sticky-top="0" class="sticky-page-name page-name-block sticky-page-name-inner top-xs p-b-n" style="padding-bottom:3px;">
            <div class="page-name-block-item-main flex flex-column p-t-xs">
                <h1 class="page-name-block-text sticky-page-name-text">
                    @T("Admin.Categry.Index.Category")<strong>"@(Model.IsEditMode ? Html.Raw(Model.Name) : T("Admin.Category.Index.NewCategory"))"</strong>
                </h1>
                <a href="https://www.advantshop.net/help/pages/directory-categories" target="_blank" class="link-academy link-invert inline-flex middle-xs p-t-xs p-b-xs m-t-xxs">

                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="18" height="18" fill="#989a9b" class="m-r-xs">
                        <path d="M20.005,512c-5.097,0-10.116-1.948-13.925-5.641c-5.845-5.666-7.672-14.309-4.621-21.855l45.411-112.333  C16.162,332.253,0,285.425,0,236c0-63.375,26.855-122.857,75.62-167.489C123.891,24.331,187.952,0,256,0  s132.109,24.331,180.38,68.511C485.145,113.143,512,172.625,512,236c0,45.448-14.04,89.577-40.602,127.615  c-6.325,9.057-18.792,11.271-27.849,4.947s-11.271-18.792-4.947-27.849C460.452,309.425,472,273.215,472,236  c0-108.075-96.897-196-216-196S40,127.925,40,236c0,43.783,15.577,85.2,45.046,119.773c4.834,5.671,6.115,13.561,3.321,20.47  l-31.366,77.589l91.345-40.266c5.063-2.231,10.826-2.267,15.916-0.095C193.082,425.766,223.946,432,256,432  c36.892,0,73.299-8.587,105.286-24.832c9.85-5,21.887-1.072,26.889,8.775c5.001,9.849,1.073,21.887-8.775,26.889  C341.828,461.914,299.157,472,256,472c-34.48,0-67.835-6.191-99.276-18.413L28.068,510.301C25.474,511.444,22.728,512,20.005,512z   M276,325V217c0-11.046-8.954-20-20-20s-20,8.954-20,20v108c0,11.046,8.954,20,20,20S276,336.046,276,325z M256,128  c-11.046,0-20,8.954-20,20l0,0c0,11.046,8.954,20,20,20s20-8.954,20-20l0,0C276,136.954,267.046,128,256,128z" />
                    </svg>
                    <span>Инструкция. Добавление / удаление категории</span>
                </a>
            </div>
            <div class="page-name-block-item-additional">
                @if (Model.CategoryId != 0)
                {
                    <a href="" class="link-danger m-r-xs" ng-click="category.deleteCategory(@Model.CategoryId)">@T("Admin.Category.Index.Delete")</a>
                }
                @if (Model.IsEditMode && SettingsMain.StoreActive)
                {
                    <a data-e2e="brandLinkLook" href="@(Model.CategoryId != 0 ? Url.AbsoluteRouteUrl("category", new { url = Model.UrlPath }) : Url.AbsoluteRouteUrl("CatalogRoot"))" class="btn btn-sm btn-default" target="_blank">@T("Admin.View")</a>
                }
                @*@Html.Button(T("Admin.Save"), eButtonType.Save, eButtonSize.Small, eColorType.Success, attributes: new[] { "ng-disabled=\"!form.modified\"", "disabled" }, validation: true)*@
                @*временно для селениум тестов*@
                @Html.Button(T("Admin.Save"), eButtonType.Save, eButtonSize.Small, eColorType.Success, validation: true, attributes: new[] { "ng-disabled=\"!form.modified\"", "disabled" })
            </div>
        </div>
        <div>
            @Html.Partial("_BreadCrumbs", Model.BreadCrumbs)
        </div>
    </div>
    <div class="row">
        <div class="flex-grow flex-basis-n flex-width-n">
            @Html.ValidationSummary()
            <div class="row">
                <div class="col-xs-3 col-lg-3 col-wl-2">
                    <h2 class="category-title">@T("Admin.Category.Index.Main")</h2>
                    <div>
                        @T("Admin.Category.Index.EnterNameCategory")
                    </div>
                </div>
                <div class="col-xs-9 col-wl-10">
                    <div class="ibox category-block">
                        <div class="ibox-content category-content border_none">
                            <div>
                                <div class="row middle-xs category-row">
                                    <div class="col-xs-2">
                                        <span class="text-required">@T("Admin.Category.Index.Name")</span>
                                    </div>

                                    <div class="col-xs-10 flex middle-xs">
                                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", url_generator = "", url_generator_enabled = Model.UrlPath.IsNotEmpty() ? "false" : "true", url_path = "category.UrlPath", required = "required", ng_model = "category.urlPath", validation_input_text = T("Admin.Category.Index.Name") })
                                        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Category.Index.NameCategory")">
                                            @T("Admin.Category.Index.NameCategoryExample")
                                        </help-trigger>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="row category-row">
                                    <div class="col-xs-2">
                                        <label for="Enabled" class="form-label-block">@T("Admin.Category.Index.Activity")</label>
                                    </div>
                                    <div class="col-xs">
                                        <label class="adv-checkbox-label form-label-block">
                                            @if (!Model.IsEditMode || Model.CategoryId != 0)
                                            {
                                                @Html.CheckBoxFor(x => x.Enabled, new { ng_model = "category.enabled", ng_init = "category.enabled=" + Model.Enabled.ToLowerString(), @class = "adv-checkbox-input" })
                                            }
                                            else
                                            {
                                                @Html.CheckBoxFor(x => x.Enabled, new { @class = "adv-checkbox-input", disabled = "disabled" });
                                            }
                                            <span class="adv-checkbox-emul"></span>
                                        </label>
                                        <help-trigger class="ng-cloak word-spacing" data-title="@T("Admin.Category.Index.Activity")">
                                            @T("Admin.Category.Index.CategoryNotActive")<br />
                                            @T("Admin.Category.Index.CategoryHide")<br />
                                            @T("Admin.Category.Index.UrlCategory404")<br />
                                            @T("Admin.Category.Index.AllGoods404")
                                        </help-trigger>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="row">
                                    <div class="col-xs-2">
                                        @T("Admin.Category.Index.ParentCategory")
                                    </div>
                                    <div class="col-xs">
                                        <span data-ng-bind-html="category.ParentCategoryName | sanitize" data-ng-init="category.ParentCategoryName='@Html.AttributeEncode(Model.ParentCategoryName)'">
                                            @Html.Raw(Model.ParentCategoryName)
                                        </span>
                                        @if (!Model.IsEditMode || Model.CategoryId != 0)
                                        {
                                            <div class="relative inline">
                                                <ui-modal-trigger data-controller="'ModalChangeParentCategoryCtrl'" controller-as="ctrl"
                                                                  data-on-close="category.changeCategory(result)"
                                                                  data-resolve="{showRoot: true, selected:@Model.ParentCategoryId, @(Model.CategoryId != 0 ? "currentId:" + Model.CategoryId : "")}"
                                                                  template-url="../areas/admin/content/src/category/modal/changeParentCategory/ChangeParentCategory.html">
                                                    <a href="" class="edit">@T("Admin.Category.Index.CahngeCategory")</a>
                                                </ui-modal-trigger>
                                                <help-trigger class="ng-cloak word-spacing help-trigger-icon-abs" data-title="@T("Admin.Category.Index.CategoryParent")">
                                                    @T("Admin.Category.Index.CategoryInCategory")
                                                </help-trigger>
                                            </div>
                                        }
                                        @Html.HiddenFor(x => x.ParentCategoryId, new { ng_value = "category.ParentCategoryId", ng_init = "category.ParentCategoryId=" + Model.ParentCategoryId, ng_model = "category.ParentCategoryId" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @Html.RenderModules("admin_category_top", new { categoryId = Model.CategoryId })

            <div class="row">
                <div class="col-xs-3 col-lg-3 col-wl-2">
                    <h2 class="category-title">@T("Admin.Category.Index.DescriptionOfCategory")</h2>
                </div>
                <div class="col-xs-9 col-wl-10">
                    <div class="ibox category-block">
                        <div class="ibox-content category-content border_none">
                            <div>
                                <div class="row category-row">
                                    <div class="col-xs-12 m-b-sm">
                                        @T("Admin.Category.Index.BriefDescription")
                                        <help-trigger class="ng-cloak word-spacing" data-title="@T("Admin.Category.Index.BriefCategory")">
                                            @T("Admin.Category.Index.CategoryTopViewPage")
                                        </help-trigger>
                                    </div>
                                    <div class="col-xs-12">
                                        @Html.TextAreaFor(x => x.BriefDescription, new { @class = "wysiwyg", ckeditor = "", ng_model = "category.briefDescription" })
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row category-row">

                                    <div class="col-xs-12 m-b-sm relative">
                                        @T("Admin.Category.Index.Description")
                                        <help-trigger class="ng-cloak word-spacing" data-title="@T("Admin.Category.Index.DescriptionOfCategory")">
                                            @T("Admin.Category.Index.CategoryBottomViewPage")
                                        </help-trigger>
                                    </div>

                                    <div class="col-xs-12">
                                        @Html.TextAreaFor(x => x.Description, new { @class = "wysiwyg", ckeditor = "", ng_model = "category.description" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @Html.Partial("_Pictures", Model)

            @Html.Partial("_Seo", Model)

            @if (Model.IsEditMode)
            {
                @Html.Partial("_PropertyGroups", Model)
                @Html.Partial("_CategoryAutomap", Model)

                @Html.RenderModules("admin_category_bottom", new { categoryId = Model.CategoryId })
            }
        </div>

        @Html.Partial("_RightPanel", Model)
    </div>
</form>