@model AdvantShop.Areas.Partners.ViewModels.Account.FinishRegistrationViewModel

<div class="row middle-xs">
    <div class="col-xs-12">
        <label class="form-field-name vertical-interval-xsmall input-required">Наименование:</label>
    </div>
    <div class="col-xs-12">
        <span class="form-field-input vertical-interval-xsmall">
            @Html.TextBoxFor(x => x.LegalEntity.CompanyName, new { @class = "input-small", data_ng_model = "finishRegistration.legalEntity.companyName", data_ng_required = "false" })
        </span>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12">
                <label class="form-field-name vertical-interval-xsmall input-required">ИНН:</label>
            </div>
            <div class="col-xs-12">
                <span class="form-field-input vertical-interval-xsmall">
                    @Html.TextBoxFor(x => x.LegalEntity.INN, new { @class = "input-small", data_ng_model = "finishRegistration.legalEntity.inn", data_ng_required = "false" })
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12">
                <label class="form-field-name vertical-interval-xsmall input-required">КПП:</label>
            </div>
            <div class="col-xs-12">
                <span class="form-field-input vertical-interval-xsmall">
                    @Html.TextBoxFor(x => x.LegalEntity.KPP, new { @class = "input-small", data_ng_model = "finishRegistration.legalEntity.kpp", data_ng_required = "false" })
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-12">
        <label class="form-field-name vertical-interval-xsmall input-required">Юридический адрес:</label>
    </div>
    <div class="col-xs-12">
        <span class="form-field-input vertical-interval-xsmall">
            @Html.TextBoxFor(x => x.LegalEntity.LegalAddress, new { @class = "input-small", data_ng_model = "finishRegistration.legalEntity.legalAddress", data_ng_required = "false" })
        </span>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-12">
        <label class="form-field-name vertical-interval-xsmall input-required">Фактический адрес:</label>
    </div>
    <div class="col-xs-12">
        <span class="form-field-input vertical-interval-xsmall">
            @Html.TextBoxFor(x => x.LegalEntity.ActualAddress, new { @class = "input-small", data_ng_model = "finishRegistration.legalEntity.actualAddress", data_ng_required = "false" })
        </span>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12">
                <label class="form-field-name vertical-interval-xsmall input-required">Расчетный счет:</label>
            </div>
            <div class="col-xs-12">
                <span class="form-field-input vertical-interval-xsmall">
                    @Html.TextBoxFor(x => x.LegalEntity.SettlementAccount, new { @class = "input-small", data_ng_model = "finishRegistration.legalEntity.settlementAccount", data_ng_required = "false" })
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12">
                <label class="form-field-name vertical-interval-xsmall input-required">Корреспондентский счет:</label>
            </div>
            <div class="col-xs-12">
                <span class="form-field-input vertical-interval-xsmall">
                    @Html.TextBoxFor(x => x.LegalEntity.CorrespondentAccount, new { @class = "input-small", data_ng_model = "finishRegistration.legalEntity.correspondentAccount", data_ng_required = "false" })
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12">
                <label class="form-field-name vertical-interval-xsmall input-required">Банк:</label>
            </div>
            <div class="col-xs-12">
                <span class="form-field-input vertical-interval-xsmall">
                    @Html.TextBoxFor(x => x.LegalEntity.Bank, new { @class = "input-small", data_ng_model = "finishRegistration.legalEntity.bank", data_ng_required = "false" })
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12">
                <label class="form-field-name vertical-interval-xsmall input-required">БИК:</label>
            </div>
            <div class="col-xs-12">
                <span class="form-field-input vertical-interval-xsmall">
                    @Html.TextBoxFor(x => x.LegalEntity.BIK, new { @class = "input-small", data_ng_model = "finishRegistration.legalEntity.bik", data_ng_required = "false" })
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12">
                <label class="form-field-name vertical-interval-xsmall input-required">Руководитель:</label>
            </div>
            <div class="col-xs-12">
                <span class="form-field-input vertical-interval-xsmall">
                    @Html.TextBoxFor(x => x.LegalEntity.Director, new { @class = "input-small", data_ng_model = "finishRegistration.legalEntity.director", data_ng_required = "false" })
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12">
                <label class="form-field-name vertical-interval-xsmall input-required">Бухгалтер:</label>
            </div>
            <div class="col-xs-12">
                <span class="form-field-input vertical-interval-xsmall">
                    @Html.TextBoxFor(x => x.LegalEntity.Accountant, new { @class = "input-small", data_ng_model = "finishRegistration.legalEntity.accountant", data_ng_required = "false" })
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-2">
        <div class="row">
            <div class="col-xs-12">
                <label class="form-field-name vertical-interval-xsmall input-required">Индекс:</label>
            </div>
            <div class="col-xs-12">
                <span class="form-field-input vertical-interval-xsmall">
                    @Html.TextBoxFor(x => x.LegalEntity.Zip, new { @class = "input-small", data_ng_model = "finishRegistration.legalEntity.zip", data_ng_required = "false" })
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-10">
        <div class="row">
            <div class="col-xs-12">
                <label class="form-field-name vertical-interval-xsmall input-required">Почтовый адрес:</label>
            </div>
            <div class="col-xs-12">
                <span class="form-field-input vertical-interval-xsmall">
                    @Html.TextBoxFor(x => x.LegalEntity.PostAddress, new { @class = "input-small", data_ng_model = "finishRegistration.legalEntity.postAddress", data_ng_required = "false" })
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12">
                <label class="form-field-name vertical-interval-xsmall input-required">Контактный телефон:</label>
            </div>
            <div class="col-xs-12">
                <span class="form-field-input vertical-interval-xsmall">
                    @Html.TextBoxFor(x => x.LegalEntity.Phone, new { @class = "input-small", data_ng_model = "finishRegistration.legalEntity.phone", data_ng_required = "false" })
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12">
                <label class="form-field-name vertical-interval-xsmall input-required">Контактное лицо:</label>
            </div>
            <div class="col-xs-12">
                <span class="form-field-input vertical-interval-xsmall">
                    @Html.TextBoxFor(x => x.LegalEntity.ContactPerson, new { @class = "input-small", data_ng_model = "finishRegistration.legalEntity.contactPerson", data_ng_required = "false" })
                </span>
            </div>
        </div>
    </div>
</div>
