@model AdvantShop.Areas.Partners.ViewModels.Account.FinishRegistrationViewModel

<div class="row middle-xs">
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12">
                <label class="form-field-name vertical-interval-xsmall">Способ выплаты:</label>
            </div>
            <div class="col-xs-12">
                <span class="form-field-input vertical-interval-xsmall">
                    <span class="select-custom cs-t-4 icon-down-open-after-abs">
                        @Html.DropDownListFor(x => x.NaturalPerson.PaymentTypeId, Model.PaymentTypes, new { @class = "cs-bg-2", data_ng_model = "finishRegistration.naturalPerson.paymentTypeId" })
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12">
                <label class="form-field-name vertical-interval-xsmall">№ счета:</label>
            </div>
            <div class="col-xs-12">
                <span class="form-field-input vertical-interval-xsmall">
                    @Html.TextBoxFor(x => x.NaturalPerson.PaymentAccountNumber, new { @class = "input-small", data_ng_model = "finishRegistration.naturalPerson.paymentAccountNumber" })
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row middle-xs">
    <div class="col-xs-12">
        <h3 class="vertical-interval-big">Паспортные данные</h3>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-3">
        <div class="row">
            <div class="col-xs-12">
                <label class="form-field-name vertical-interval-xsmall input-required">Фамилия:</label>
            </div>
            <div class="col-xs-12">
                <span class="form-field-input vertical-interval-xsmall">
                    @Html.TextBoxFor(x => x.NaturalPerson.LastName, new { @class = "input-small", data_ng_model = "finishRegistration.naturalPerson.lastName", data_ng_required = "true" })
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="row">
            <div class="col-xs-12">
                <label class="form-field-name vertical-interval-xsmall input-required">Имя:</label>
            </div>
            <div class="col-xs-12">
                <span class="form-field-input vertical-interval-xsmall">
                    @Html.TextBoxFor(x => x.NaturalPerson.FirstName, new { @class = "input-small", data_ng_model = "finishRegistration.naturalPerson.firstName", data_ng_required = "true" })
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12">
                <label class="form-field-name vertical-interval-xsmall input-required">Отчество:</label>
            </div>
            <div class="col-xs-12">
                <span class="form-field-input vertical-interval-xsmall">
                    @Html.TextBoxFor(x => x.NaturalPerson.Patronymic, new { @class = "input-small", data_ng_model = "finishRegistration.naturalPerson.patronymic", data_ng_required = "true" })
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-2">
        <div class="row">
            <div class="col-xs-12">
                <label class="form-field-name vertical-interval-xsmall input-required">Серия:</label>
            </div>
            <div class="col-xs-12">
                <span class="form-field-input vertical-interval-xsmall">
                    @Html.TextBoxFor(x => x.NaturalPerson.PassportSeria, new { @class = "input-small", data_ng_model = "finishRegistration.naturalPerson.passportSeria", data_ng_required = "true" })
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="row">
            <div class="col-xs-12">
                <label class="form-field-name vertical-interval-xsmall input-required">Номер:</label>
            </div>
            <div class="col-xs-12">
                <span class="form-field-input vertical-interval-xsmall">
                    @Html.TextBoxFor(x => x.NaturalPerson.PassportNumber, new { @class = "input-small", data_ng_model = "finishRegistration.naturalPerson.passportNumber", data_ng_required = "true" })
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-5">
        <div class="row">
            <div class="col-xs-12">
                <label class="form-field-name vertical-interval-xsmall input-required">Кем выдан:</label>
            </div>
            <div class="col-xs-12">
                <span class="form-field-input vertical-interval-xsmall">
                    @Html.TextBoxFor(x => x.NaturalPerson.PassportWhoGive, new { @class = "input-small", data_ng_model = "finishRegistration.naturalPerson.passportWhoGive", data_ng_required = "true" })
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="row">
            <div class="col-xs-12">
                <label class="form-field-name vertical-interval-xsmall input-required">Когда:</label>
            </div>
            <div class="col-xs-12">
                <span class="form-field-input vertical-interval-middle">
                    <span ng-flatpickr fp-opts="{dateFormat: 'd.m.Y', startDateFormat: 'Y-m-d', wrap: true, enableTime: false}">
                        <span class="flatpickr-custom-wrap">
                            @Html.TextBoxFor(x => x.NaturalPerson.PassportWhenGive, new
                       {
                           @class = "input-small",
                           data_ng_model = "finishRegistration.naturalPerson.passportWhenGive",
                           data_ng_flatpickr_input = "",
                           data_ng_required = "true",
                           data_mask_control= SettingsMain.EnablePhoneMask.ToLowerString(),
                           data_mask_control_preset = "date",
                       })
                            <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                        </span>
                        <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-10">
        <div class="row">
            <div class="col-xs-12">
                <label class="form-field-name vertical-interval-xsmall input-required">Адрес регистрации:</label>
            </div>
            <div class="col-xs-12">
                <span class="form-field-input vertical-interval-xsmall">
                    @Html.TextBoxFor(x => x.NaturalPerson.RegistrationAddress, new { @class = "input-small", data_ng_model = "finishRegistration.naturalPerson.RegistrationAddress", data_ng_required = "true" })
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="row">
            <div class="col-xs-12">
                <label class="form-field-name vertical-interval-xsmall input-required">Индекс:</label>
            </div>
            <div class="col-xs-12">
                <span class="form-field-input vertical-interval-xsmall">
                    @Html.TextBoxFor(x => x.NaturalPerson.Zip, new { @class = "input-small", data_ng_model = "finishRegistration.naturalPerson.zip", data_ng_required = "true" })
                </span>
            </div>
        </div>
    </div>
</div>
