@model AdvantShop.Areas.Partners.ViewModels.Account.ForgotPasswordViewModel
@{
    Layout = "~/Areas/Partners/Views/Account/_AccountLayout.cshtml";
}

<div class="partner-login-cnt container container-fluid">
    <article class="partner-login-block">
        <h2 class="flex center-xs">Восстановление пароля</h2>
        @if (!Model.ShowRecovery)
        {
            <div data-ng-if="!forgotPassword.emailSent">
                <form name="forgotPasswordForm" novalidate>
                    <label class="row middle-xs">
                        <span class="col-xs-12">
                            Введите e-mail, который указывали при регистрации в партнерской программе. На него придет письмо со ссылкой для восстановления пароля.
                        </span>
                    </label>
                    <label class="row middle-xs">
                        <span class="col-xs-4">
                            <span class="form-field-name input-required vertical-interval-xsmall">
                                E-mail
                            </span>
                        </span>
                        <span class="col-xs-8">
                            <span class="form-field-input vertical-interval-xsmall">
                                @Html.TextBox("email", null, new { @class = "input-small", required = "required", type = "text", pattern = "^([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z0-9-.]+)$", autocomplete = "email", data_ng_model = "forgotPassword.email" })
                            </span>
                        </span>
                    </label>
                    <label class="row middle-xs ng-cloak" data-ng-if="forgotPassword.showCaptcha">
                        <span class="col-xs-4">
                            <span class="form-field-name vertical-interval-xsmall input-required">
                                @T("Captcha.Code")
                            </span>
                        </span>
                        <span class="col-xs-8">
                            <span class="form-field-input vertical-interval-xsmall" data-bind-html-compile="forgotPassword.captchaHtml">
                            </span>
                        </span>
                    </label>
                    <div class="row middle-xs">
                        <span class="col-xs-8 col-xs-offset-4">
                            <span class="form-field-input vertical-interval-xsmall">
                                <a href="" class="btn btn-action btn-middle" data-button-validation data-button-validation-success="forgotPassword.submitForgotPassword()">
                                    Восстановить пароль
                                </a>
                            </span>
                        </span>
                    </div>
                </form>
            </div>
            <div data-ng-if="forgotPassword.emailSent" class="ng-cloak">
                <div>На указанный e-mail было выслано сообщение. Проверьте почту и следуйте полученной инструкции.</div>
            </div>
        }
        else
        {
            <div data-ng-if="!forgotPassword.passwordChanged">
                <form name="passwordRecoveryForm" novalidate="novalidate">
                    @Html.HiddenFor(m => m.Hash, new { data_ng_model = "forgotPassword.hash" })
                    @Html.HiddenFor(m => m.Email, new { data_ng_model = "forgotPassword.email" })
                    <label class="row middle-xs">
                        <span class="col-xs-12 h3">
                            Установите новый пароль
                        </span>
                    </label>
                    <label class="row middle-xs">
                        <span class="col-xs-4">
                            <span class="form-field-name vertical-interval-xsmall">@T("MyAccount.ChangePassword.NewPassword")</span>
                        </span>
                        <span class="col-xs-8">
                            <span class="form-field-input vertical-interval-xsmall">
                                @Html.Password("newPassword", null, new { autocomplete = "off", @class = "input-small", data_ng_model = "forgotPassword.newPassword" })
                            </span>
                        </span>
                    </label>
                    <label class="row middle-xs">
                        <span class="col-xs-4">
                            <span class="form-field-name vertical-interval-xsmall">@T("MyAccount.ChangePassword.NewPasswordConfirm")</span>
                        </span>
                        <span class="col-xs-8">
                            <span class="form-field-input vertical-interval-xsmall">
                                @Html.Password("newPasswordConfirm", null, new { autocomplete = "off", @class = "input-small", data_ng_model = "forgotPassword.newPasswordConfirm" })
                            </span>
                        </span>
                    </label>
                    <div class="row middle-xs">
                        <span class="col-xs-8 col-xs-offset-4">
                            <span class="form-field-input vertical-interval-xsmall">
                                <a href="" class="btn btn-middle btn-action" data-button-validation data-button-validation-success="forgotPassword.submitRecover()">
                                    Изменить пароль
                                </a>
                            </span>
                        </span>
                    </div>
                </form>
            </div>
            <div data-ng-if="forgotPassword.passwordChanged" class="ng-cloak">
                <div class="h3">Пароль успешно изменен</div>
                <div>
                    <a href="@Url.AbsoluteRouteUrl("Partners_Home")">Вернуться на главную</a>
                </div>
            </div>
        }
    </article>
</div>
