@model BlockModel
<div class="container-fluid">
    <div class="lp-container" data-e2e="@(Model.Config.Name)_container">
        @if (Model.Block.TryGetSetting("show_title") == true || Model.Block.TryGetSetting("show_subtitle") == true)
        {
            @:<div class="lp-block-form__header text-center">
        }
        @if (Model.Block.TryGetSetting("show_title") == true)
        {
            <div class="lp-h2 lp-h2--color" data-e2e="FormTitleBlock">@Html.SubBlock(Model, "title")</div>
        }
        @if (Model.Block.TryGetSetting("show_subtitle") == true)
        {
            <div class="lp-h3 lp-h3--color" data-e2e="FormSubTitleBlock">@Html.SubBlock(Model, "subtitle")</div>
        }

        @if (Model.Block.TryGetSetting("show_title") == true || Model.Block.TryGetSetting("show_subtitle") == true)
        {
            @:</div>
        }
        <div class="row">
            <div class="col-xs-12 col-sm-7 lp-block-form-with-video__col text-center" data-e2e="FormVideo">
                <div class="lp-block-form-with-video__video-wrap">
                    <div class="responsive-video-container">
                        <div class="row center-sm">
                            <div class="col-xs-12">
                                @Html.SubBlock(Model, "video")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 lp-block-form-with-video__col lp-block-form-with-video__col--form">
                @Html.Form(Model.Form, true)
            </div>
        </div>
    </div>
</div>