@using AdvantShop.Repository.Currencies
@model AdvantShop.Web.Admin.Models.Settings.CommonSettingsModel
@{
    var currency = SettingsCatalog.DefaultCurrency.Symbol;
}

<div class="setting-title m-t-none sales-plan-heading_mobile-none">
    <h2 class="page-name-block-text sticky-page-name-text m-b-none">@T("Admin.Settings.Index.SalesPlan")</h2>
</div>

<div class="form-group row middle-xs">
    <div class="col-xs-2 setting-form-label-wrap__mobile ">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.SalesPlan, T("Admin.Settings.SalesPlanSettings.SalesPlan"))
        </div>
    </div>
    <div class="col-xs-4 setting-form-input-wrap__mobile">
        <div class="form-inline">
            @Html.TextBoxFor(x => x.SalesPlan, new { @class = "form-control input-small", ng_model = "settings.salesPlan" }) <span>@currency</span>
            <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.SalesPlanSettings.SalesPlan")">
                @T("Admin.Settings.SalesPlanSettings.SalesPlanHint")
            </help-trigger>
        </div>

    </div>
</div>

<div class="form-group row middle-xs">
    <div class="col-xs-2 setting-form-label-wrap__mobile ">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.ProfitPlan, T("Admin.Settings.SalesPlanSettings.ProfitPlan"))
        </div>
    </div>
    <div class="col-xs-4 setting-form-input-wrap__mobile">
        <div class="form-inline">
            @Html.TextBoxFor(x => x.ProfitPlan, new { @class = "form-control input-small", ng_model = "settings.profitPlan" }) <span>@currency</span>
            <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.SalesPlanSettings.ProfitPlan")">
                @T("Admin.Settings.SalesPlanSettings.ProfitPlanHint")
            </help-trigger>
        </div>
    </div>
</div>
