@model BlockModel
<div class="container-fluid">
    <div class="lp-container">
        <div class="row start-xs center-sm middle-xs">
            <div class="col-xs-12 col-sm-8 @Model.Block.GetWidthInColumnsAsClasses()">
                <div class="lp-cover-header lp-h1 lp-h1--color" data-e2e="CoverAltTitle">
                    @Html.SubBlock(Model, "title")
                </div>
                <div class="lp-cover-text lp-h3 lp-h3--color" data-e2e="CoverAltText">
                    @Html.SubBlock(Model, "text")
                </div>
                <div class="row flex-wrap @(Model.Block.TryGetSetting("align_btns") != null ? Model.Block.TryGetSetting("align_btns") : "center-xs")">
                    @if (Model.Block.TryGetSetting("show_button") == true)
                    {
                        <div class="col-xs flex-grow-0 flex-basis-auto lp-cover-btn-wrap" data-e2e="CoversBtn1">
                            <div>
                                @Html.Button(Model.Block, "button")
                            </div>
                        </div>
                    }
                    @if (Model.Block.TryGetSetting("show_button2") == true)
                    {
                        <div class="col-xs flex-grow-0 flex-basis-auto lp-cover-btn-wrap" data-e2e="CoversBtn2">
                            <div>
                                @Html.Button(Model.Block, "button2")
                            </div>
                        </div>
                    }
                </div>
            </div>
            @Html.Partial("_CoverScrollToBlock", Model)
        </div>
    </div>
</div>

