@model AdvantShop.ViewModel.ProductDetails.ProductTabsViewModel
@{
    var product = Model.ProductModel.Product;
    var modulesAfterDescriptions = Html.RenderModules("product_after_description", new {product});
}

@if (product.Description.IsNotEmpty() || Model.AdditionalDescription.IsNotEmpty() || !string.IsNullOrEmpty(modulesAfterDescriptions.ToString()))
{
    <div class="mobile-product-main-info">
        <article class="product-data">
            <header class="product-data__header">
                @T("Product.ProductTabs.Description")
            </header>
            <div class="product-data__body" itemprop="description">
                @Html.Raw(product.Description)
                @Html.Raw(Model.AdditionalDescription)
                @modulesAfterDescriptions
            </div>
        </article>
    </div>
}

@if (Model.ProductModel.ProductProperties.Any(x => x.Property.UseInDetails))
{
    <article class="product-data">
        <header class="product-data__header mobile-product-main-info">
            @T("Product.ProductTabs.Properties")
        </header>
        <div class="product-data__body">
            @Html.Action("ProductProperties", new { area = "", productModel = Model.ProductModel, countVisisble = 10 })
        </div>
    </article>
}

@if (product.ProductVideos.Any())
{
    <div class="mobile-product-main-info">
        <article class="product-data">
            <header class="product-data__header">
                @T("Product.ProductTabs.Video")
                <span data-ng-init="product.videosCount = @Model.VideosCount" data-ng-bind="product.videosCount > 0 ? '(' + product.videosCount + ')' : ''"></span>
            </header>
            <div class="product-data__body">
                @Html.Action("ProductVideos", new { area = "", product.ProductId })
            </div>
        </article>
    </div>
}

@foreach (var tab in Model.Tabs)
{
    <div class="mobile-product-main-info">
        <article class="product-data">
            <header class="product-data__header">
                @tab.Title
            </header>
            <div class="product-data__body">
                @Html.Raw(tab.Body)
            </div>
        </article>
    </div>
}

@if (SettingsCatalog.AllowReviews)
{
    <div class="mobile-product-main-info">
        <article class="product-data">
            <header class="product-data__header">
                @T("Product.ProductTabs.Reviews")
                <span data-ng-init="product.reviewsCount = @Model.ReviewsCount" data-ng-bind="product.reviewsCount > 0 ? '(' + product.reviewsCount + ')' : ''"></span>
            </header>
            <div class="product-data__body">
                @(Model.UseStandartReviews
                       ? Html.Action("ProductReviews", new { area = "", productModel = Model.ProductModel, ProductId = product.ProductId })
                       : Html.RenderModules("product_reviews"))

            </div>
        </article>
    </div>
}
