@using AdvantShop.CMS
@{
    Layout = "~/Areas/Admin/Views/Store/_StoreLayout.cshtml";
}


<div class="sticky-page-name m-b-xs" sticky sticky-top="0">
    <div class="page-name-block--without-action sticky-page-name-inner">
        <h2 class="m-r-xs sticky-page-name-text m-t-none m-b-none">
            @T("Admin.Menus.Index.Menu")
        </h2>
        <a href="https://www.advantshop.net/help/pages/static-menu" target="_blank" class="p-l-sm link-academy link-invert inline-flex middle-xs">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="18" height="18" fill="#989a9b" class="m-r-xs">
<path d="M20.005,512c-5.097,0-10.116-1.948-13.925-5.641c-5.845-5.666-7.672-14.309-4.621-21.855l45.411-112.333  C16.162,332.253,0,285.425,0,236c0-63.375,26.855-122.857,75.62-167.489C123.891,24.331,187.952,0,256,0  s132.109,24.331,180.38,68.511C485.145,113.143,512,172.625,512,236c0,45.448-14.04,89.577-40.602,127.615  c-6.325,9.057-18.792,11.271-27.849,4.947s-11.271-18.792-4.947-27.849C460.452,309.425,472,273.215,472,236  c0-108.075-96.897-196-216-196S40,127.925,40,236c0,43.783,15.577,85.2,45.046,119.773c4.834,5.671,6.115,13.561,3.321,20.47  l-31.366,77.589l91.345-40.266c5.063-2.231,10.826-2.267,15.916-0.095C193.082,425.766,223.946,432,256,432  c36.892,0,73.299-8.587,105.286-24.832c9.85-5,21.887-1.072,26.889,8.775c5.001,9.849,1.073,21.887-8.775,26.889  C341.828,461.914,299.157,472,256,472c-34.48,0-67.835-6.191-99.276-18.413L28.068,510.301C25.474,511.444,22.728,512,20.005,512z   M276,325V217c0-11.046-8.954-20-20-20s-20,8.954-20,20v108c0,11.046,8.954,20,20,20S276,336.046,276,325z M256,128  c-11.046,0-20,8.954-20,20l0,0c0,11.046,8.954,20,20,20s20-8.954,20-20l0,0C276,136.954,267.046,128,256,128z" />



</svg>
            <span>Инструкция. Создание пунктов меню</span>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <div class="row">
            <div class="flex-grow-n col-fixed-size-md">
                <h2 class="fs-lg">
                    @T("Admin.Menus.Index.MainMenu")
                </h2>
                <div>@T("Admin.Menus.Index.MenuInHeader")</div>
            </div>

            <div class="flex-grow flex-basis-n flex-width-n">
                <div class="ibox category-block">
                    <div class="ibox-content category-content border_none">

                        <div class="m-b-sm">
                            <ui-modal-trigger data-controller="'ModalAddEditMenuItemCtrl'" controller-as="ctrl"
                                              template-url="../areas/admin/content/src/menus/modal/AddEditMenuItem/AddEditMenuItem.html"
                                              data-resolve="{params: {menuType: '@EMenuType.Top'}}"
                                              data-on-close="menus.updateMenu(result, 'top')">
                                <a class="btn btn-sm btn-success" data-e2e="btnAddMainMenuItem">@T("Admin.Menus.Index.AddMenuPoint")</a>
                            </ui-modal-trigger>
                        </div>
                        <menu-treeview selected-id="0" type="@EMenuType.Top" menu-treeview-on-init="menus.menuTreeviewInit(jstree, 'top')" level="2"></menu-treeview>
                        <div class="m-t-sm">
                            <a href="@Url.Action("Index", "StaticPages")">@T("Admin.Menus.Index.EditingPages")</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="flex-grow-n col-fixed-size-md">
                <h2 class="fs-lg">
                    @T("Admin.Menus.Index.BottomMenu")
                </h2>
                <div>@T("Admin.Menus.Index.MenuInFooter")</div>
            </div>

            <div class="flex-grow flex-basis-n flex-width-n">
                <div class="ibox category-block">
                    <div class="ibox-content category-content border_none">

                        <div class="m-b-sm">
                            <ui-modal-trigger data-controller="'ModalAddEditMenuItemCtrl'" controller-as="ctrl"
                                              template-url="../areas/admin/content/src/menus/modal/AddEditMenuItem/AddEditMenuItem.html"
                                              data-resolve="{params: {menuType: '@EMenuType.Bottom'}}"
                                              data-on-close="menus.updateMenu(result, 'bottom')">
                                <a class="btn btn-sm btn-success" data-e2e="btnAddFooterMenuItem">@T("Admin.Menus.Index.AddMenuPoint")</a>
                            </ui-modal-trigger>
                        </div>
                        <menu-treeview selected-id="0" type="@EMenuType.Bottom" menu-treeview-on-init="menus.menuTreeviewInit(jstree, 'bottom')" level="2"></menu-treeview>
                        <div class="m-t-sm">
                            <a href="@Url.Action("Index", "StaticPages")">@T("Admin.Menus.Index.EditingPages")</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="flex-grow-n col-fixed-size-md">
                <h2 class="fs-lg">
                    @T("Admin.Menus.Index.MobileMenu")
                </h2>
                <div>@T("Admin.Menus.Index.MenuMobileVersion")</div>
            </div>

            <div class="flex-grow flex-basis-n flex-width-n">
                <div class="ibox category-block">
                    <div class="ibox-content category-content border_none">

                        <div class="m-b-sm">
                            <ui-modal-trigger data-controller="'ModalAddEditMenuItemCtrl'" controller-as="ctrl"
                                              template-url="../areas/admin/content/src/menus/modal/AddEditMenuItem/AddEditMenuItem.html"
                                              data-resolve="{params: {menuType: '@EMenuType.Mobile'}}"
                                              data-on-close="menus.updateMenu(result, 'mobile')">
                                <a class="btn btn-sm btn-success">@T("Admin.Menus.Index.AddMenuPoint")</a>
                            </ui-modal-trigger>
                        </div>
                        <menu-treeview selected-id="0" type="@EMenuType.Mobile" menu-treeview-on-init="menus.menuTreeviewInit(jstree, 'mobile')" level="1"></menu-treeview>
                        <div class="m-t-sm">
                            <a href="@Url.Action("Index", "StaticPages")" data-e2e="btnAddMobileMenuItem">@T("Admin.Menus.Index.EditingPages")</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>