@model AdvantShop.Web.Admin.Models.Settings.Templates.SettingsTemplateModel

<div class="setting-title m-t-none">
    <h3>@T("Admin.Settings.Template.BrandTitle")</h3>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2 ">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Template.BrandLogo")
        </div>

    </div>
    <div class="col-xs-2">
        <div class="m-b-xs">
            @T("Admin.Settings.Template.Width")
        </div>
        <div class="input-group m-b-sm">
            @Html.TextBoxFor(x => x.BrandLogoWidth, new { @class = "form-control", ng_model = "settingsTemplate.BrandLogoWidth", type = "number", min = "10", max = "100000", style = "width:120px;", validation_input_text = "Лого производителя" })
            <span class="paramUnit">px</span>&nbsp;
        </div>
    </div>
    <div class="col-xs-2">
        <div class="m-b-xs">
            @T("Admin.Settings.Template.Height")
        </div>
        <div class="flex middle-xs">
            <div class="input-group">
                @Html.TextBoxFor(x => x.BrandLogoHeight, new { @class = "form-control", ng_model = "settingsTemplate.BrandLogoHeight", type = "number", min = "10", max = "100000", style = "width:120px;", validation_input_text = "Лого производителя" })
                <span class="paramUnit">px</span>
            </div>
            <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.Template.BrandLogo")">
                <div class="help-content">
                    @T("Admin.Settings.Template.BrandLogoHote")
                </div>
            </help-trigger>
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Template.BrandsPerPage")
        </div>
    </div>
    <div class="col-xs-slim relative">
        @Html.TextBoxFor(x => x.BrandsPerPage, new { @class = "form-control", ng_model = "settingsTemplate.BrandsPerPage" , style = "width:120px;" })
        <help-trigger class="help-trigger-icon-abs ng-cloak m-l-xs"  classes="'setting__catolog-popover-custom'" data-title="@T("Admin.Settings.Template.BrandsPerPage")">
            <div class="help-content">
                @T("Admin.Settings.Template.BrandsPerPageHote")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Template.ShowProductsInBrand")
        </div>
    </div>
    <div class="col-xs-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.ShowProductsInBrand, new { @class = "adv-checkbox-input", ng_model = "settingsTemplate.ShowProductsInBrand" })
            <span class="adv-checkbox-emul" data-e2e="ShowProductsInBrand"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs"  classes="'setting__catolog-popover-custom'" data-title="@T("Admin.Settings.Template.ShowProductsInBrand")">
            <div class="help-content">
                @T("Admin.Settings.Template.ShowProductsInBrandHote")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row" ng-if="settingsTemplate.ShowProductsInBrand">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Template.DefaultSortOrderProductInBrand")
        </div>
    </div>
    <div class="col-xs-slim relative">
        @Html.DropDownListFor(x => x.DefaultSortOrderProductInBrand, Model.DefaultSortOrderProductInBrandOption, new { @class = "form-control", ng_model = "settingsTemplate.DefaultSortOrderProductInBrand" })
        <help-trigger class="help-trigger-icon-abs ng-cloak m-l-xs" data-title="@T("Admin.Settings.Template.DefaultSortOrderProductInBrand")">
            <div class="help-content">
                @T("Admin.Settings.Template.DefaultSortOrderProductInBrandHelp")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Template.ShowCategoryTreeInBrand")
        </div>
    </div>
    <div class="col-xs-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.ShowCategoryTreeInBrand, new { @class = "adv-checkbox-input", ng_model = "settingsTemplate.ShowCategoryTreeInBrand" })
            <span class="adv-checkbox-emul" data-e2e="ShowCategoryTreeInBrand"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs"  classes="'setting__catolog-popover-custom'" data-title="@T("Admin.Settings.Template.ShowCategoryTreeInBrand.TitleHote")">
            <div class="help-content">
                @T("Admin.Settings.Template.ShowCategoryTreeInBrandHote")
            </div>
        </help-trigger>
    </div>
</div>