@model AdvantShop.Web.Admin.Models.Settings.Templates.SettingsTemplateModel

<div class="setting-title m-t-none">
    <h3>@T("Admin.Settings.Template.CarouselTitle")</h3>
</div>
<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Template.CarouselVisibilityTitle")
        </div>
    </div>
    <div class="col-xs-4 relative">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.CarouselVisibility, new { @class = "adv-checkbox-input", ng_model = "settingsTemplate.CarouselVisibility" })
            <span class="adv-checkbox-emul" data-e2e="CarouselVisibility"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.Template.CarouselVisibilityTitle")">
            <div class="help-content">@T("Admin.Settings.Template.CarouselVisibilityHint")</div>
        </help-trigger>
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Template.CarouselAnimationSpeedTitle")
        </div>
    </div>
    <div class="col-xs-2 relative">
        @Html.TextBoxFor(x => x.CarouselAnimationSpeed, new { @class = "form-control input-small", ng_model = "settingsTemplate.CarouselAnimationSpeed" })
        <help-trigger class="help-trigger-icon-abs m-l-xs" data-title=" @T("Admin.Settings.Template.CarouselAnimationSpeedTitle")">
            <div class="help-content">@T("Admin.Settings.Template.CarouselAnimationSpeedHint")</div>
        </help-trigger>
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Template.CarouselAnimationDelayTitle")
        </div>
    </div>
    <div class="col-xs-2 relative">
        @Html.TextBoxFor(x => x.CarouselAnimationDelay, new { @class = "form-control input-small", ng_model = "settingsTemplate.CarouselAnimationDelay" })
        <help-trigger class="help-trigger-icon-abs m-l-xs" data-title="@T("Admin.Settings.Template.CarouselAnimationDelayTitle")">
            <div class="help-content">@T("Admin.Settings.Template.CarouselAnimationDelayHint")</div>
        </help-trigger>
    </div>
</div>

<div class="setting-title setting-title__m-t-md">
    <h3>@T("Admin.Settings.Template.MainPageProductsTitle")</h3>
</div>
<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Template.MainPageProductsVisibilityTitle")
        </div>
    </div>
    <div class="col-xs-4 relative">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.MainPageProductsVisibility, new { @class = "adv-checkbox-input", ng_model = "settingsTemplate.MainPageProductsVisibility" })
            <span class="adv-checkbox-emul" data-e2e="MainPageProductsVisibility"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" classes="'setting__catolog-popover-custom'" data-title="@T("Admin.Settings.Template.MainPageProductsVisibilityTitle")">
            <div class="help-content">@T("Admin.Settings.Template.MainPageProductsVisibilityHelp")</div>
        </help-trigger>
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Template.CountMainPageProductInSectionTitle")
        </div>
    </div>
    <div class="col-xs-2 relative">
        @Html.TextBoxFor(x => x.CountMainPageProductInSection, new { @class = "form-control input-small", ng_model = "settingsTemplate.CountMainPageProductInSection" })
        <help-trigger class="help-trigger-icon-abs m-l-xs" classes="'setting__catolog-popover-custom'" data-title="@T("Admin.Settings.Template.CountMainPageProductInSectionTitle")">
            <div class="help-content">@T("Admin.Settings.Template.CountMainPageProductInSectionHelp")</div>
        </help-trigger>
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Template.CountMainPageProductInLineTitle")
        </div>
    </div>
    <div class="col-xs-2 relative">
        @Html.TextBoxFor(x => x.CountMainPageProductInLine, new { @class = "form-control input-small", ng_model = "settingsTemplate.CountMainPageProductInLine" })
        <help-trigger class="help-trigger-icon-abs m-l-xs" classes="'setting__catolog-popover-custom'" data-title="@T("Admin.Settings.Template.CountMainPageProductInLineTitle")">
            <div class="help-content">@T("Admin.Settings.Template.CountMainPageProductInLineHelp")</div>
        </help-trigger>
    </div>
</div>

<div class="setting-title setting-title__m-t-md"  ng-hide="settingsTemplate.isHidden('MainPageCategoriesVisibility') && settingsTemplate.isHidden('CountMainPageCategoriesInSection') && settingsTemplate.isHidden('CountMainPageCategoriesInLine')">
    <h3>@T("Admin.Settings.Template.MainPageCategoriesTitle")</h3>
</div>
<div class="form-group row" ng-hide="settingsTemplate.isHidden('MainPageCategoriesVisibility')">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Template.MainPageCategoriesVisibilityTitle")
        </div>
    </div>
    <div class="col-xs-4 relative">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.MainPageCategoriesVisibility, new { @class = "adv-checkbox-input", ng_model = "settingsTemplate.MainPageCategoriesVisibility" })
            <span class="adv-checkbox-emul" data-e2e="MainPageCategoriesVisibility"></span>
            <help-trigger class="help-trigger-icon-abs m-l-xs p-l-xs" classes="'setting__catolog-popover-custom'" data-title="@T("Admin.Settings.Template.MainPageCategoriesVisibilityTitle")">
                <div class="help-content">@T("Admin.Settings.Template.MainPageCategoriesVisibilityTitleLink")</div>
            </help-trigger>
        </label>
        
    </div>
</div>
<div class="form-group row" ng-hide="settingsTemplate.isHidden('CountMainPageCategoriesInSection')">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Template.CountMainPageCategoriesInSectionTitle")
        </div>
    </div>
    <div class="col-xs-2 relative">
        @Html.TextBoxFor(x => x.CountMainPageCategoriesInSection, new { @class = "form-control input-small", ng_model = "settingsTemplate.CountMainPageCategoriesInSection" })
        <help-trigger class="help-trigger-icon-abs m-l-xs" classes="'setting__catolog-popover-custom'" data-title="@T("Admin.Settings.Template.CountMainPageCategoriesInSectionTitle")">
            <div class="help-content">@T("Admin.Settings.Template.CountMainPageCategoriesInSectionTitleLink")</div>
        </help-trigger>
    </div>
</div>
<div class="form-group row" ng-hide="settingsTemplate.isHidden('CountMainPageCategoriesInLine')">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Template.CountMainPageCategoriesInLineTitle")
        </div>
    </div>
    <div class="col-xs-2 relative">
        @Html.TextBoxFor(x => x.CountMainPageCategoriesInLine, new { @class = "form-control input-small", ng_model = "settingsTemplate.CountMainPageCategoriesInLine" })
        <help-trigger class="help-trigger-icon-abs m-l-xs" classes="'setting__catolog-popover-custom'" data-title="@T("Admin.Settings.Template.CountMainPageCategoriesInLineTitle")">
            <div class="help-content">@T("Admin.Settings.Template.CountMainPageCategoriesInLineTitleLink")</div>
        </help-trigger>
    </div>
</div>

<div class="setting-title setting-title__m-t-md">
    <h3>@T("Admin.Settings.Template.Display")</h3>
</div>
<div class="form-group row" ng-hide="settingsTemplate.isHidden('NewsVisibility')">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Template.NewsVisibilityTitle")
        </div>
    </div>
    <div class="col-xs-4 relative">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.NewsVisibility, new { @class = "adv-checkbox-input", ng_model = "settingsTemplate.NewsVisibility" })
            <span class="adv-checkbox-emul" data-e2e="NewsVisibility"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" classes="'setting__catolog-popover-custom'" data-title=" @T("Admin.Settings.Template.NewsVisibilityTitle")">
            <div class="help-content">@T("Admin.Settings.Template.NewsVisibilityHelp")</div>
        </help-trigger>
    </div>
</div>
<div class="form-group row" ng-hide="settingsTemplate.isHidden('NewsSubscriptionVisibility')">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Template.NewsSubscriptionVisibilityTitle")
        </div>
    </div>
    <div class="col-xs-4 relative">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.NewsSubscriptionVisibility, new { @class = "adv-checkbox-input", ng_model = "settingsTemplate.NewsSubscriptionVisibility" })
            <span class="adv-checkbox-emul" data-e2e="NewsSubscriptionVisibility"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" classes="'setting__catolog-popover-custom'" data-title="@T("Admin.Settings.Template.NewsSubscriptionVisibilityTitle")">
            <div class="help-content">@T("Admin.Settings.Template.NewsSubscriptionVisibilityHelp")</div>
        </help-trigger>
    </div>
</div>
<div class="form-group row" ng-hide="settingsTemplate.isHidden('CheckOrderVisibility')">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Template.CheckOrderVisibilityTitle")
        </div>
    </div>
    <div class="col-xs-4 relative">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.CheckOrderVisibility, new { @class = "adv-checkbox-input", ng_model = "settingsTemplate.CheckOrderVisibility" })
            <span class="adv-checkbox-emul" data-e2e="CheckOrderVisibility"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" classes="'setting__catolog-popover-custom'" data-title="@T("Admin.Settings.Template.CheckOrderVisibilityTitle")">
            <div class="help-content">@T("Admin.Settings.Template.CheckOrderVisibilityHelp")</div>
        </help-trigger>
    </div>
</div>
<div class="form-group row" ng-hide="settingsTemplate.isHidden('GiftSertificateVisibility')">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Template.GiftSertificateVisibilityTitle")
        </div>
    </div>
    <div class="col-xs-4 relative">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.GiftSertificateVisibility, new { @class = "adv-checkbox-input", ng_model = "settingsTemplate.GiftSertificateVisibility" })
            <span class="adv-checkbox-emul" data-e2e="GiftSertificateVisibility"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" classes="'setting__catolog-popover-custom'" data-title="@T("Admin.Settings.Template.GiftSertificateVisibilityTitle")">
            <div class="help-content">@T("Admin.Settings.Template.GiftSertificateVisibilityHelp")</div>
        </help-trigger>
    </div>
</div>
<div class="form-group row" ng-hide="settingsTemplate.isHidden('BrandCarouselVisibility')">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Template.BrandCarouselVisibilityTitle")
        </div>
    </div>
    <div class="col-xs-4 relative">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.BrandCarouselVisibility, new { @class = "adv-checkbox-input", ng_model = "settingsTemplate.BrandCarouselVisibility" })
            <span class="adv-checkbox-emul" data-e2e="BrandCarouselVisibility"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" classes="'setting__catolog-popover-custom'" data-title="@T("Admin.Settings.Template.BrandCarouselVisibilityTitle")">
            <div class="help-content">@T("Admin.Settings.Template.BrandCarouselVisibilityHelp")</div>
        </help-trigger>
    </div>
</div>