@model AdvantShop.Web.Admin.Models.Settings.Templates.SettingsTemplateModel

<div class="setting-title m-t-none">
    <h3>@T("Admin.Settings.Template.NewsTitle")</h3>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Template.NewsImage")
        </div>
    </div>
    <div class="col-xs-2">
        <div class="m-b-xs">
            @T("Admin.Settings.Template.Width")
        </div>
        <div class="input-group m-b-sm">
            @Html.TextBoxFor(x => x.NewsImageWidth, new { @class = "form-control", ng_model = "settingsTemplate.NewsImageWidth", type = "number", min = "10", max = "100000", style = "width:120px;", validation_input_text = "Изображение новости" })
            <span class="paramUnit">px</span>&nbsp;
        </div>
    </div>
    <div class="col-xs-2">
        <div class="m-b-xs">
            @T("Admin.Settings.Template.Height")
        </div>
        <div class="flex middle-xs">
            <div class="input-group">
                @Html.TextBoxFor(x => x.NewsImageHeight, new { @class = "form-control", ng_model = "settingsTemplate.NewsImageHeight", type = "number", min = "10", max = "100000", style = "width:120px;", validation_input_text = "Изображение новости" })
                <span class="paramUnit">px</span>
            </div>
            <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.Template.NewsImage")">
                <div class="help-content">
                    @T("Admin.Settings.Template.NewsImageHote")
                </div>
            </help-trigger>
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.MainPageText, T("Admin.Settings.News.MainPageText"))
        </div>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.MainPageText, new { @class = "form-control", ng_model = "settingsTemplate.MainPageText" })
        <help-trigger class="ng-cloak m-l-xs help-trigger-icon-abs"  classes="'setting__catolog-popover-custom'" data-title="@T("Admin.Settings.News.MainPageText")">
            <div class="help-content">
                @T("Admin.Settings.News.MainPageTextNote")
            </div>
        </help-trigger>
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.NewsPerPage, T("Admin.Settings.News.NewsPerPage"))
        </div>
    </div>
    <div class="col-xs-1 relative">
        @Html.TextBoxFor(x => x.NewsPerPage, new { @class = "form-control", ng_model = "settingsTemplate.NewsPerPage" })
        <help-trigger class="ng-cloak m-l-xs help-trigger-icon-abs"  classes="'setting__catolog-popover-custom'" data-title="@T("Admin.Settings.News.NewsPerPage")">
            <div class="help-content">
                @T("Admin.Settings.News.NewsPerPageNote")
            </div>
        </help-trigger>
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.NewsMainPageCount, T("Admin.Settings.News.NewsMainPageCount"))
        </div>
    </div>
    <div class="col-xs-1 relative">
        @Html.TextBoxFor(x => x.NewsMainPageCount, new { @class = "form-control", ng_model = "settingsTemplate.NewsMainPageCount" })
        <help-trigger class="ng-cloak m-l-xs help-trigger-icon-abs"  classes="'setting__catolog-popover-custom'" data-title="@T("Admin.Settings.News.NewsMainPageCount")">
            <div class="help-content">
                @T("Admin.Settings.News.NewsMainPageCountNote")
            </div>
        </help-trigger>
    </div>
</div>