@using AdvantShop.Configuration;
@model AdvantShop.Web.Admin.Models.Settings.Templates.SettingsTemplateModel

@if (Model.OtherSettingsSections != null && Model.OtherSettingsSections.Count > 0)
{
    var i = 0;
    foreach (var settingsSection in Model.OtherSettingsSections)
    {
        <div class="setting-title @(i == 0 ? " m-t-none" : "")">
            <h3>@settingsSection.Name</h3>
        </div>
        foreach (var setting in settingsSection.Settings)
        {
            <div class="form-group row">
                <div class="col-xs-3 col-wl-2">
                    <div class="setting-label-wrap">
                        @setting.Title
                    </div>
                </div>
                <div class="col-xs-6">
                    @Html.Hidden("otherSettings[" + i + "].type", setting.Type.ToString())
                    @if (setting.Type == ETemplateSettingType.TextBox)
                    {
                        @Html.TextBox("otherSettings[" + i + "].value", setting.Value, new { @class = "form-control", ng_model = "settingsTemplate.otherSettings" + i })
                    }
                    else if (setting.Type == ETemplateSettingType.Checkbox)
                    {
                        <label class="adv-checkbox-label">
                            @Html.CheckBox("otherSettings[" + i + "].value", setting.Value.TryParseBool(), new { @class = "adv-checkbox-input", ng_model = "settingsTemplate.otherSettings" + i })
                            <span class="adv-checkbox-emul"></span>
                        </label>
                    }
                    else if (setting.Type == ETemplateSettingType.StaticBlockCheckbox)
                    {
                        <label class="adv-checkbox-label">
                            @Html.CheckBox("otherSettings[" + i + "].value", setting.Value.TryParseBool(), new { @class = "adv-checkbox-input", ng_model = "settingsTemplate.otherSettings" + i })
                            <span class="adv-checkbox-emul"></span>
                        </label>
                    }
                    else if (setting.Type == ETemplateSettingType.DropDownList)
                    {
                        var items = setting.Options.Select(x => new SelectListItem() { Text = x.Title, Value = x.Value, Selected = x.Value == setting.Value }).ToList();
                        @Html.DropDownList("otherSettings[" + i + "].value", items, new { @class = "form-control", ng_model = "settingsTemplate.otherSettings" + i })
                    }
                    @Html.Hidden("otherSettings[" + i + "].name", setting.Name)
                </div>
            </div>
            i++;
        }
    }
}