@model AdvantShop.Web.Admin.Models.Settings.Templates.SettingsTemplateModel


<div class="setting-title m-t-none">
    <h3>@T("Admin.Settings.Catalog.Product")</h3>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Catalog.DisplayWeight")
        </div>
    </div>
    <div class="col-xs-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.DisplayWeight, new { @class = "adv-checkbox-input", ng_model = "settingsCatalog.DisplayWeight" })
            <span class="adv-checkbox-emul" data-e2e="DisplayWeight"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.Catalog.DisplayWeight")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.ShowColumnWeight")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Catalog.DisplayDimensions")
        </div>
    </div>
    <div class="col-xs-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.DisplayDimensions, new { @class = "adv-checkbox-input", ng_model = "settingsCatalog.DisplayDimensions" })
            <span class="adv-checkbox-emul" data-e2e="DisplayDimensions"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.Catalog.DisplayDimensions")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.ShowColumnDimensions")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Catalog.ShowStockAvailability")
        </div>
    </div>
    <div class="col-xs-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.ShowStockAvailability, new { @class = "adv-checkbox-input", ng_model = "settingsCatalog.ShowStockAvailability" })
            <span class="adv-checkbox-emul" data-e2e="ShowStockAvailability"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.Catalog.ShowStockAvailability")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.ShowOrNotProductBalance") <br>
                <br>
                @T("Admin.SettingsCatalog.Product.ShowOrNotProductBalance.ForExample")<br>
                @T("Admin.SettingsCatalog.Product.EnabledOption")<br>
                @T("Admin.SettingsCatalog.Product.DisabledOption")
                <br><br>
                @T("Admin.Settings.Catalog.ShowStockAvailabilityLink")
            </div>
        </help-trigger>
    </div>
</div>


<div class="setting-title setting-title__m-t-md">
    <h3>@T("Admin.Settings.Catalog.ProductPictures")</h3>
</div>

@*<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Catalog.CompressBigImage")
        </div>
    </div>
    <div class="col-xs-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.CompressBigImage, new { @class = "adv-checkbox-input", ng_model = "settingsCatalog.CompressBigImage" })
            <span class="adv-checkbox-emul" data-e2e="CompressBigImage"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.Catalog.CompressBigImage")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.LargePhotoOfProduct")
                <br><br>
                @T("Admin.SettingsCatalog.Product.IfOption")<b>@T("Admin.SettingsCatalog.Product.IsEnabled")</b>@T("Admin.SettingsCatalog.Product.IfEnabledThen")
                <br><br>
                @T("Admin.SettingsCatalog.Product.IfOption")<b>@T("Admin.SettingsCatalog.Product.IsDisabled")</b>@T("Admin.SettingsCatalog.Product.IfDisabledThen")
            </div>
        </help-trigger>
    </div>
</div>*@

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Catalog.EnableZoom")
        </div>
    </div>
    <div class="col-xs-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.EnableZoom, new { @class = "adv-checkbox-input", ng_model = "settingsCatalog.EnableZoom" })
            <span class="adv-checkbox-emul" data-e2e="EnableZoom"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.Catalog.EnableZoom")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.TurnPhotoCloser")
            </div>
        </help-trigger>
    </div>
</div>


<div class="setting-title setting-title__m-t-md">
    <h3>@T("Admin.Settings.Catalog.Reviews")</h3>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Catalog.AllowReviews")
        </div>
    </div>
    <div class="col-xs-4">
        <label class="adv-checkbox-label" data-e2e="allowReviews">
            @Html.CheckBoxFor(x => x.AllowReviews, new { @class = "adv-checkbox-input", ng_model = "settingsCatalog.AllowReviews" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.Catalog.AllowReviews")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.OptionAllowToAddReviews")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Catalog.ModerateReviews")
        </div>
    </div>
    <div class="col-xs-4">
        <label class="adv-checkbox-label" data-e2e="moderateReviews">
            @Html.CheckBoxFor(x => x.ModerateReviews, new { @class = "adv-checkbox-input", ng_model = "settingsCatalog.ModerateReviews" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.Catalog.ModerateReviews")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.IfOption")<b>@T("Admin.SettingsCatalog.Product.IsEnabled")</b>@T("Admin.SettingsCatalog.Product.ReviewsFirstGoToModeration")
                <br><br>
                @T("Admin.Settings.Catalog.ModerateReviewsLink")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Catalog.ReviewsVoiteOnlyRegisteredUsers")
        </div>
    </div>
    <div class="col-xs-4">
        <label class="adv-checkbox-label" data-e2e="moderateReviews">
            @Html.CheckBoxFor(x => x.ReviewsVoiteOnlyRegisteredUsers, new { @class = "adv-checkbox-input", ng_model = "settingsCatalog.ReviewsVoiteOnlyRegisteredUsers" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.Catalog.ReviewsVoiteOnlyRegisteredUsers")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.IfOption")<b>@T("Admin.SettingsCatalog.Product.IsEnabled")</b>@T("Admin.SettingsCatalog.Product.DescriptionReviewsVoiteOnlyRegisteredUsers")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Catalog.DisplayReviewsImage")
        </div>
    </div>
    <div class="col-xs-4">
        <label class="adv-checkbox-label" data-e2e="displayReviewsImage">
            @Html.CheckBoxFor(x => x.DisplayReviewsImage, new { @class = "adv-checkbox-input", ng_model = "settingsCatalog.DisplayReviewsImage" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.Catalog.DisplayReviewsImage")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.ShowImagesToReviews")
                @T("Admin.Settings.Catalog.Reviews.HelpLink")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Catalog.AllowReviewsImageUploading")
        </div>
    </div>
    <div class="col-xs-4">
        <label class="adv-checkbox-label" data-e2e="allowReviewsImageUploading">
            @Html.CheckBoxFor(x => x.AllowReviewsImageUploading, new { @class = "adv-checkbox-input", ng_model = "settingsCatalog.AllowReviewsImageUploading" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.Catalog.AllowReviewsImageUploading")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.AllowAttachImagesToReviews")
                @T("Admin.Settings.Catalog.Reviews.HelpLink")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Catalog.ReviewImageSize")
        </div>
    </div>
    <div class="col-xs-4">
        <div class="m-b-xs">
            @T("Admin.Settings.Catalog.ReviewImageWidth")
        </div>
        <div class="flex middle-xs">
        <div class="input-group m-b-sm">
            @Html.TextBoxFor(x => x.ReviewImageWidth, new { @class = "form-control", ng_model = "settingsCatalog.ReviewImageWidth" })
            <span class="paramUnit">px</span>&nbsp;
        </div>
        <help-trigger class="ng-cloak p-b-sm" data-title="@T("Admin.Settings.Catalog.ReviewImageSize")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.MaximumSizeOfFeedbackImages")
                @T("Admin.Settings.Catalog.Reviews.HelpLink")
            </div>
        </help-trigger>
    </div>
        <div class="m-b-xs">
            @T("Admin.Settings.Catalog.ReviewImageHeight")
        </div>
        <div class="input-group">
            @Html.TextBoxFor(x => x.ReviewImageHeight, new { @class = "form-control", ng_model = "settingsCatalog.ReviewImageHeight" })
            <span class="paramUnit">px</span>&nbsp;
        </div>
    </div>
</div>


<div class="setting-title setting-title__m-t-md">
    <h3>@T("Admin.Settings.Catalog.Shipping")</h3>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Catalog.ShowShippingsMethodsInDetails")
        </div>
    </div>
    <div class="col-xs-4 relative">
        @Html.DropDownListFor(x => x.ShowShippingsMethodsInDetails, Model.ShowShippingsMethods, new { @class = "form-control", ng_model = "settingsCatalog.ShowShippingsMethodsInDetails" })
        <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" data-title="@T("Admin.Settings.Catalog.ShowShippingsMethodsInDetails")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.TypeOfDelivery")<br><br>
                @T("Admin.SettingsCatalog.Product.OptionToTurnOffDisplayInList")
                @T("Admin.Settings.Catalog.Shipping.HelpLink")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Catalog.ShippingsMethodsInDetailsCount")
        </div>
    </div>
    <div class="col-xs-4 relative">
        @Html.TextBoxFor(x => x.ShippingsMethodsInDetailsCount, new { @class = "form-control", ng_model = "settingsCatalog.ShippingsMethodsInDetailsCount" })
        <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" data-title="@T("Admin.Settings.Catalog.ShippingsMethodsInDetailsCount")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.AllowedDeliveryMethods")<br><br>
                @T("Admin.SettingsCatalog.Product.EachDeliveryMethodHasOptionTurnOff")
                @T("Admin.Settings.Catalog.Shipping.HelpLink")
            </div>
        </help-trigger>
    </div>
</div>


<div class="setting-title setting-title__m-t-md">
    <h3>@T("Admin.Settings.Catalog.CrossUpSale")</h3>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Catalog.RelatedProductName")
        </div>
    </div>
    <div class="col-xs-4 relative">
        @Html.TextBoxFor(x => x.RelatedProductName, new { @class = "form-control", ng_model = "settingsCatalog.RelatedProductName" })
        <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" data-title='@T("Admin.Settings.Catalog.RelatedProductName")'>
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.Attach2listsToProduct")
                <br>
                <br>
                @T("Admin.SettingsCatalog.Product.ForExampleWithThisProductBuy")
                @T("Admin.Settings.Catalog.ProductName.HelpLink")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Catalog.AlternativeProductName")
        </div>
    </div>
    <div class="col-xs-4 relative">
        @Html.TextBoxFor(x => x.AlternativeProductName, new { @class = "form-control", ng_model = "settingsCatalog.AlternativeProductName" })
        <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" data-title='@T("Admin.Settings.Catalog.AlternativeProductName")'>
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.Attach2listsToProduct")
                <br>
                <br>
                @T("Admin.SettingsCatalog.Product.ForExampleSimilarGoods")
                @T("Admin.Settings.Catalog.ProductName.HelpLink")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Catalog.RelatedProductSourceType")
        </div>
    </div>
    <div class="col-xs-4 relative">
        @Html.DropDownListFor(x => x.RelatedProductSourceType, Model.RelatedProductTypes, new { @class = "form-control", ng_model = "settingsCatalog.RelatedProductSourceType" })
        <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" data-title='@T("Admin.Settings.Catalog.RelatedProductSourceType")'>
            <div class="help-content">
                @T("Admin.Settings.Catalog.Product.ChooseWhereLoad")
                <br>
                <br>
                <b>@T("Admin.SettingsCatalog.Product.DesignatedGoods")</b>@T("Admin.SettingsCatalog.Product.ItMeansToShowProductFromList")
                <br><br>
                @T("Admin.Settings.Catalog.RelatedProductSourceTypeLink")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Catalog.RelatedProductsMaxCount")
        </div>
    </div>
    <div class="col-xs-4 relative">
        @Html.TextBoxFor(x => x.RelatedProductsMaxCount, new { @class = "form-control", ng_model = "settingsCatalog.RelatedProductsMaxCount" })
        <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" data-title='@T("Admin.Settings.Catalog.RelatedProductsMaxCount")'>
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.MaximumNumberOfProducts")
            </div>
        </help-trigger>
    </div>
</div>
