@model AdvantShop.Web.Admin.Models.Settings.Templates.SettingsTemplateModel
@using AdvantShop.Core.Services.Admin
@using Newtonsoft.Json
@{
    //Layout = "~/Areas/Admin/Views/Settings/_SettingsLayout.cshtml";
    Layout = "~/Areas/Admin/Views/Store/_StoreLayout.cshtml";
    var isAdminv3 = AdminAreaTemplate.Current == "adminv3";
}

@using (Html.BeginForm("Index", "SettingsTemplate", FormMethod.Post, new { enctype = "multipart/form-data", name = "form", novalidate = "novalidate" }))
{
    <div ng-init="settingsTemplate.memoryForm(form)"></div>
    @Html.AntiForgeryToken()
    <div class="sticky-page-name p-n m-n" sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner header-hidden">
            <div class="page-name-block-item-main">
                <h2 class="page-name-block-text sticky-page-name-text">
                    <span class="float-header-page" ng-bind="settingsTemplate.floatHeader"></span>
                </h2>
            </div>
            <div class="page-name-block-item-additional">
                <input type="submit" class="btn btn-sm btn-success btn--margin-left" data-e2e="SettingsTemplateSaveHead" value="@T("Admin.Settings.Save")" data-button-validation disabled ng-disabled="!form.modified" />
            </div>
        </div>
    </div>

    <div ng-init="settingsTemplate.HiddenSettings=@JsonConvert.SerializeObject(Model.HiddenSettings)"></div>

    <div class="page-name-block-item-main--without-action m-b-sm">
        <h2 class="m-r-md m-t-none m-b-none">@T("Admin.Settings.Template.Title")</h2>
    </div>
    <div class="m-b m-t-n-xs">
        <uib-tabset uid="settingsTemplateTab" type="pills-minimalistic" ng-init="settings.headerPage = '@T("Admin.Settings.Template.Title")'" on-select-batch="settingsTemplate.floatHeader = '@T("Admin.Settings.Template.Title") / ' + tab.heading;">
            <uib-tab index="'common'" heading="@T("Admin.Settings.Template.Common")">@Html.Partial("_Common", Model)</uib-tab>
            <uib-tab index="'mainpage'" heading="@T("Admin.Settings.Template.MainPage")">@Html.Partial("_MainPage", Model)</uib-tab>
            <uib-tab index="'catalog'" heading="@T("Admin.Settings.Template.Catalog")">@Html.Partial("_Catalog", Model)</uib-tab>
            <uib-tab index="'product'" heading=" @T("Admin.Settings.Template.Product")">@Html.Partial("_Product", Model)</uib-tab>
            <uib-tab index="'checkout'" heading="@T("Admin.Settings.Template.Checkout")">@Html.Partial("_Checkout", Model)</uib-tab>
            <uib-tab index="'brands'" heading="@T("Admin.Settings.Template.Brands")">@Html.Partial("_Brands", Model)</uib-tab>
            <uib-tab index="'news'" heading="@T("Admin.Settings.Template.News")">@Html.Partial("_News", Model)</uib-tab>
            @if (Model.OtherSettingsSections != null && Model.OtherSettingsSections.Count > 0)
            {
                <uib-tab index="'other'" heading="@T("Admin.Settings.Template.Other")">@Html.Partial("_Other", Model)</uib-tab>
            }
            <uib-tab index="'cssEditor'" heading="@T("Admin.Settings.Template.CssEditor")">@Html.Partial("_CssEditor", Model)</uib-tab>
            <div class="m-t-xs tab-external--right">
                <input type="submit" class="btn btn-sm btn-success btn--margin-left" data-e2e="SettingsTemplateSave" value="@T("Admin.Settings.Common.Save")"
                       data-button-validation disabled ng-disabled="!form.modified" />
            </div>
        </uib-tabset>
    </div>
}