@using AdvantShop.Web.Admin.ViewModels.Shared.Account
@model AdvantShop.Web.Admin.ViewModels.Shared.Account.ForgotPasswordViewModel
@{
    Layout = "~/Areas/Admin/Views/Account/_AccountLayout.cshtml";
}
<article class="admin-login-block admin-forgot__pas-block">
    <div class="admin-login-title-block auth-bg">
        <h1 class="admin-login-block__title">ADVANTSHOP</h1>
        <div class="admin-login-block__version m-b-md ">@SettingsGeneral.Release</div>

        <div class="admin-login-block__project">
            <span>Проект:</span>
            <br />
            @{ var url = SettingsMain.SiteUrl.StartsWith("http://") || SettingsMain.SiteUrl.StartsWith("https://") ? SettingsMain.SiteUrl : "http://" + SettingsMain.SiteUrl; }
            <a href="@url" target="_blank" class="admin-login-block__project-link">@Model.MainSiteName</a>
        </div>
    </div>
    <div class="admin-login-block__form">

        @if (Model.View == EForgotPasswordView.ForgotPassword)
        {
            <h2 class="admin-login-block__subtitle">@T("Admin.Account.ForgotPassword.Title")</h2>
            <p class="auth-text">
                @T("Admin.Account.ForgotPassword.EnterRegEmail")
            </p>

            using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "forgotpassword_form", @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, string.Empty, new { @class = "alert alert-danger" })
                <div>
                    @Html.TextBoxFor(m => m.Email, new { type = "email", @class = "auth-field", placeholder = T("Admin.Account.ForgotPassword.EnterEmail").ToString(), ng_model = "error.email", required = "" })
                </div>
                if (Model.ShowCaptcha)
                {
                    <div class="m-b-md">
                        @Html.Action("Captcha", "Common", new { ngModel = "captcha", area = "" })
                    </div>
                }
                <button type="submit" class="btn btn-lg btn-auth block full-width">@T("Admin.Account.ForgotPassword.RecoverPassword")</button>
            }

        }
        else if (Model.View == EForgotPasswordView.EmailSent)
        {
            <p class="auth-text">
                @T("Admin.Account.ForgotPassword.EmailSent")
            </p>
            <a class="btn btn-lg btn-auth block full-width" href="@Url.Action("Index", "Home")">@T("Admin.Account.ForgotPassword.ToMainPage")</a>
        }
        else if (Model.View == EForgotPasswordView.PasswordRecovery)
        {
            <h2 class="admin-login-block__subtitle">
                @T(Model.FirstVisit ? "Admin.Account.SetPassword.Title" : "Admin.Account.ForgotPassword.Title")
            </h2>
            <p class="auth-text">
                @T("Admin.Account.ForgotPassword.EnterNewPassword")
            </p>

            using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "passwordrecovery_form", @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, string.Empty, new { @class = "alert alert-danger" })
                <div>
                    @Html.Password("NewPassword", null, new { placeholder = T("Admin.Account.ForgotPassword.NewPassword").ToString(), @class = "auth-field", required = "", ng_model = "error.newPassword", autocomplete = "off" })
                </div>
                <div>
                    @Html.Password("NewPasswordConfirm", null, new { placeholder = T("Admin.Account.ForgotPassword.NewPasswordConfirm").ToString(), @class = "auth-field", required = "", ng_model = "error.newPasswordConfirm", autocomplete = "off" })
                </div>
                <button type="submit" class="btn btn-lg btn-auth block full-width">
                    @T(Model.FirstVisit ? "Admin.Account.SetPassword.ChangePassword" : "Admin.Account.ForgotPassword.ChangePassword")
                </button>
                @Html.HiddenFor(x => x.Email)
                @Html.HiddenFor(x => x.Hash)
                @Html.HiddenFor(x => x.FirstVisit)
            }

        }
        else if (Model.View == EForgotPasswordView.RecoveryError)
        {
            <p class="auth-text">
                @T("Admin.Account.ForgotPassword.RecoveryError")
            </p>
            <a class="btn btn-lg btn-auth block full-width" href="@Url.Action("Index", "Home")">@T("Admin.Account.ForgotPassword.ToMainPage")</a>
        }
        else if (Model.View == EForgotPasswordView.PasswordChanged)
        {

            <p class="auth-text">
                @T("Admin.Account.ForgotPassword.PasswordChanged")
            </p>
            <a class="btn btn-lg btn-auth block full-width" href="@Url.Action("Index", "Home")">@T("Admin.Account.ForgotPassword.ToMainPage")</a>
        }
    </div>
</article>