@model AdvantShop.Web.Admin.ViewModels.Shared.Account.AccountLoginViewModel
@{
    Layout = "~/Areas/Admin/Views/Account/_AccountLayout.cshtml";
}
<article class="admin-login-block">
    <div class="admin-login-title-block auth-bg">
        <h1 class="admin-login-block__title">ADVANTSHOP</h1>
        <div class="m-b-md admin-login-block__version">@SettingsGeneral.Release</div>
        <div class="admin-login-block__project">
            <span>Проект:</span>
            <br />
            @{ var url = SettingsMain.SiteUrl.StartsWith("http://") || SettingsMain.SiteUrl.StartsWith("https://") ? SettingsMain.SiteUrl : "http://" + SettingsMain.SiteUrl; }
            <a href="@url" target="_blank" class="admin-login-block__project-link">@Model.MainSiteName</a>
        </div>
    </div>

    <form class="admin-login-block__form" role="form" name="form" action="login" method="POST" novalidate>
        <div class="relative">
            <input @*ng-attr-type="{{error.inputTypeLogin}}"*@ type="text" name="txtLogin" id="txtLogin" class="admin-signin-field auth-field" placeholder="Логин" ng-model="error.login" required autofocus />

            @*<a href="" tabindex="-1"  class="showhidepass" ng-click="error.inputTypeLogin = error.inputTypeLogin == 'password' ? 'text' : 'password'">
                    <span class="fa" ng-class="(error.inputTypeLogin == 'password') ? 'fa-eye' : 'fa-eye-slash'"></span>
                </a>*@
        </div>

        <div class="relative">
            <input ng-attr-type="{{error.inputTypePassword}}" name="txtPassword" id="txtPassword" class="admin-signin-field auth-field auth-field-password" placeholder="Пароль" ng-model="error.password" required />

            <a href="" tabindex="-1" class="showhidepass" ng-init="error.inputTypePassword = 'password'" ng-click="error.inputTypePassword = error.inputTypePassword == 'password' ? 'text' : 'password'">
                <span class="fa" ng-class="(error.inputTypePassword == 'password') ? 'fa-eye' : 'fa-eye-slash'"></span>
            </a>
        </div>


        @if (Model.ShowCaptcha)
        {
            <div class="m-b-md auth-captcha">
                @Html.Action("Captcha", "Common", new { ngModel = "captcha", area = "" })
            </div>
        }
        <div class="m-b-md m-t-sm">
            <a href="@Url.Action("ForgotPassword", "Account")" class="forget-link">@T("Admin.Account.Forgot")</a>
        </div>
        <div class="row middle-xs">
            <div class="col-xs-12">
                <button type="submit" class="btn-auth btn-md">@T("Admin.Account.Enter")</button>
            </div>
        </div>
        <input type="hidden" name="from" value="@Model.From" />
    </form>
</article>