@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@Html.GetPageTitle()</title>
    <meta name="Description" content="@Html.GetPageDescription()" />
    <meta name="Keywords" content="@Html.GetPageKeywords()" />
    <meta name="generator" content="AdVantShop.NET">
    <meta name="advid" content="@Html.GetAdvId()">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="@UrlService.GetUrl()" />
    <link rel="stylesheet" href="~/styles/views/closed-store.css" />
</head>
<body>
    @Html.StaticBlock("store_closed")
    
    <div style="position: fixed; bottom: 0px; right: 0px; margin:0px 10px 10px 0px ">
        <a href="adminv2/login">@T("Common.ClosedStore.Login")</a>
    </div>
</body>
</html>
