@using AdvantShop.Core.Services.Bonuses
@model AdvantShop.ViewModel.Common.MenuBottomViewModel
@{
    bool isAccordion = Model.MenuBottomType == AdvantShop.ViewModel.Common.EMenuBottomType.Accordion;
}
@helper  Arrow()
{
    <svg class="footer-menu__arrow" version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 238.003 238.003' width="10" height="10"><path style='fill:currentColor;' d='M181.776,107.719L78.705,4.648c-6.198-6.198-16.273-6.198-22.47,0s-6.198,16.273,0,22.47 l91.883,91.883l-91.883,91.883c-6.198,6.198-6.198,16.273,0,22.47s16.273,6.198,22.47,0l103.071-103.039 c3.146-3.146,4.672-7.246,4.64-11.283C186.416,114.902,184.89,110.833,181.776,107.719z' /></svg>
}

<div class="site-footer-top-level cs-bg-4">
    <div class="container container-fluid site-footer-top-level-wrap site-footer-top-level-inner">
        <div class="row site-footer-top-level__row">
            @if (Model.Categories.Count > 0)
            {
                <div class="col-xs footer-menu">
                    @if (isAccordion)
                    {
                        <input id="menuBottomAccordionCatalog" type="checkbox" class="accordion-css__state" />
                        <label for="menuBottomAccordionCatalog" class="footer-menu-head cs-t-3 accordion-css__header cs-br-1">
                            @T("Common.MenuBottom.Categories")
                            @Arrow()
                        </label>
                    }
                    else
                    {
                        <div class="footer-menu-head cs-t-3">
                            @T("Common.MenuBottom.Categories")
                        </div>
                    }
                    <div class="@(isAccordion ? "accordion-css__body" : "")">
                        <ul class="footer-menu-list cs-bg-4--mobile">
                            @foreach (var categoryItem in Model.Categories)
                            {
                                <li class="footer-menu-item">
                                    <a class="footer-menu-link cs-l-2" href="@Url.AbsoluteRouteUrl("Category", new { url = categoryItem.UrlPath })">
                                        <span class="footer-menu-text">@categoryItem.Name</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }

            @foreach (var menuItem in Model.MenuItems)
            {
                <div class="col-xs footer-menu">
                    @if (isAccordion)
                    {
                        <input id="menuBottomAccordion_@menuItem.ItemId" type="checkbox" class="accordion-css__state" />
                        <label for="menuBottomAccordion_@menuItem.ItemId" class="footer-menu-head cs-t-3 accordion-css__header cs-br-1">
                            @menuItem.Name
                            @Arrow()
                        </label>
                    }
                    else
                    {
                        <div class="footer-menu-head cs-t-3">
                            @menuItem.Name
                        </div>
                    }
                    <div class="@(isAccordion ? "accordion-css__body" : "")">
                        <ul class="footer-menu-list cs-bg-4--mobile">
                            @foreach (var subItem in menuItem.SubItems)
                            {
                                <li class="footer-menu-item">
                                    @if (subItem.NoFollow)
                                    {<!--noindex-->}

                                    @if (!string.IsNullOrEmpty(@subItem.IconPath))
                                    {

                                        <figure class="footer-menu-icon-block">
                                            <img class="footer-menu-icon" src="pictures/icons/@subItem.IconPath" alt="@subItem.Name" data-qazy="true" />
                                        </figure>
                                    }
                                    <a class="footer-menu-link cs-l-2" href="@subItem.UrlPath" @Html.Raw(subItem.Blank ? "target=\"_blank\"" : "") @Html.Raw(subItem.NoFollow ? "rel=\"nofollow\"" : "")>
                                        <span class="footer-menu-text">@subItem.Name</span>
                                    </a>

                                    @if (subItem.NoFollow)
                                    {<!--/noindex-->}
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            }

            @if (Model.IsShowSocial)
            {
                @Html.Partial("SocialLinks")
            }

            <div class="col-xs footer-gifts__wrapper">
                <div class="footer-gifts">
                    @if (SettingsDesign.GiftSertificateVisibility && SettingsCheckout.EnableGiftCertificateService)
                    {
                        <a class="gift-block footer-gifts-item cs-l-2" href="@Url.AbsoluteRouteUrl("GiftCertificate")">
                            <span class="gift-picture"></span> @T("GiftCertificate.GiftCertificate")
                        </a>
                    }
                    @if (BonusSystem.IsActive)
                    {
                        <a class="bonus-card-block bonus-card-icon footer-gifts-item cs-l-2" href="getbonuscard">@T("MenuBottom.Common.BonusCard")</a>
                    }
                    @Html.StaticBlock("bottom_menu_right")
                </div>
            </div>
        </div>

    </div>
</div>
