@{
    var anyActive = SettingsSocial.LinkVkActive || SettingsSocial.LinkFacebookActive || SettingsSocial.LinkYoutubeActive ||
                    SettingsSocial.LinkInstagrammActive || SettingsSocial.LinkTelegramActive || SettingsSocial.LinkTwitterActive ||
                    SettingsSocial.LinkOkActive;
}
@if (anyActive)
{
    <!--noindex-->
    <div class="col-xs footer-menu">
        <div class="footer-menu-head cs-t-3">
            @T("Home.SocialLinks.Title")
        </div>
        <ul class="footer-menu-list social-list">

            @if (SettingsSocial.LinkVkActive)
            {
                <li class="footer-menu-item">
                    <a class="footer-menu-link cs-l-2 social social--vkontakte icon-vkontakte-before icon-no-margin" href="@SettingsSocial.LinkVk" target="_blank" rel="nofollow">
                    </a>
                    <a class="footer-menu-link cs-l-2" href="@SettingsSocial.LinkVk" target="_blank" rel="nofollow">
                        <span class="footer-menu-text">ВКонтакте</span>
                    </a>
                </li>
            }
            @if (SettingsSocial.LinkFacebookActive)
            {
                <li class="footer-menu-item">
                    <a class="footer-menu-link cs-l-2 social social--facebook icon-facebook-before icon-no-margin" href="@SettingsSocial.LinkFacebook" target="_blank" rel="nofollow">
                    </a>
                    <a class="footer-menu-link cs-l-2" href="@SettingsSocial.LinkFacebook" target="_blank" rel="nofollow">
                        <span class="footer-menu-text">Facebook</span>
                    </a>
                </li>
            }
            @if (SettingsSocial.LinkYoutubeActive)
            {
                <li class="footer-menu-item">
                    <a class="footer-menu-link cs-l-2 social social--youtube icon-youtube-before icon-no-margin" href="@SettingsSocial.LinkYoutube" target="_blank" rel="nofollow">
                    </a>
                    <a class="footer-menu-link cs-l-2" href="@SettingsSocial.LinkYoutube" target="_blank" rel="nofollow">
                        <span class="footer-menu-text">Youtube</span>
                    </a>
                </li>
            }
            @if (SettingsSocial.LinkInstagrammActive)
            {
                <li class="footer-menu-item">
                    <a class="footer-menu-link cs-l-2 social social--instagram icon-instagram-before icon-no-margin" href="@SettingsSocial.LinkInstagramm" target="_blank" rel="nofollow">
                    </a>
                    <a class="footer-menu-link cs-l-2" href="@SettingsSocial.LinkInstagramm" target="_blank" rel="nofollow">
                        <span class="footer-menu-text">Instagram</span>
                    </a>
                </li>
            }
            @if (SettingsSocial.LinkTelegramActive)
            {
                <li class="footer-menu-item">
                    <a class="footer-menu-link cs-l-2 social social--telegram icon-telegram-before icon-no-margin" href="@SettingsSocial.LinkTelegram" target="_blank" rel="nofollow">
                    </a>
                    <a class="footer-menu-link cs-l-2" href="@SettingsSocial.LinkTelegram" target="_blank" rel="nofollow">
                        <span class="footer-menu-text">Telegram</span>
                    </a>
                </li>
            }
            @if (SettingsSocial.LinkTwitterActive)
            {
                <li class="footer-menu-item">
                    <a class="footer-menu-link cs-l-2 social social--twitter icon-twitter-before icon-no-margin" href="@SettingsSocial.LinkTwitter" target="_blank" rel="nofollow">
                    </a>
                    <a class="footer-menu-link cs-l-2" href="@SettingsSocial.LinkTwitter" target="_blank" rel="nofollow">
                        <span class="footer-menu-text">Twitter</span>
                    </a>
                </li>
            }
            @if (SettingsSocial.LinkOkActive)
            {
                <li class="footer-menu-item">
                    <a class="footer-menu-link cs-l-2 social social--odnoklassniki icon-odnoklassniki-before icon-no-margin" href="@SettingsSocial.LinkOk" target="_blank" rel="nofollow">
                    </a>
                    <a class="footer-menu-link cs-l-2" href="@SettingsSocial.LinkOk" target="_blank" rel="nofollow">
                        <span class="footer-menu-text">Одноклассники</span>
                    </a>
                </li>
            }
        </ul>
    </div>
    <!--/noindex-->
}