@model AdvantShop.ViewModel.Checkout.CheckoutSuccess

@{ 
    Html.AddAsset("checkoutSuccess");
}

@Html.Raw(Model.GoogleAnalyticsString)

<div id="content">
    <div class="panel no-borders">
        <div>
            <div class="checkout-confirm-txt">
                @T("Checkout.Success.CheckoutSuccessOrder")
                @Html.Raw(Model.OrderSuccessTopText)
                @*@if (Model.Order != null)
                    {
                        <div>Ваш заказ</div>
                        <div class="checkout-confirm-number">№ @Model.Order.Number</div>
                    }*@
                @if (SettingsCheckout.ManagerConfirmed)
                {
                    <div>@T("Checkout.Success.TextConfirmByManager")</div>
                }
            </div>
            @if (Model.Order != null)
            {
                <div class="vertical-interval-small">
                    <div data-ng-init="checkoutSuccess.getPayInfo(@Model.Order.OrderID)">
                    <div class="vertical-interval-small checkout-success" data-ng-show="checkoutSuccess.payment.proceedToPayment === true && checkoutSuccess.payment.script">
                        @T("Checkout.Success.ProceedToPayment")
                    </div>
                    <div class="js-checkout-success">
                        @Html.Action("GetOrderPay", "Checkout", new {area="", orderCode = Model.Order.Code, pageWithPaymentButton = AdvantShop.Payment.PageWithPaymentButton.orderconfirmation})
                    </div>
                    </div>
                </div>
            }
            @if (Model.Order != null && Model.Order.Certificate != null)
            {
                @Html.StaticBlock("MobileOrderSuccess-WithGiftCertificate", "m-b-sm")
            }
            @Html.StaticBlock("MobileOrderSuccess")
            @if (Model.Order != null)
            {
                @Html.RenderModules("order_success", new { area = "", order = Model.Order})
            }
            @Html.Raw(Model.SuccessScript)
            <div>
                <a class="btn btn-confirm btn-small" @*href="@(SettingsMain.SiteUrl)"*@ href=".">@T("Checkout.Success.ReturnOnMain")</a>
            </div>
        </div>
    </div>
</div>