@model AdvantShop.Web.Admin.Models.Home.AdminHomeViewModel

<div class="row main-content">
    <div class="col-xs-3 col-wl-2">
        @Html.RenderModules("admin_home_left")
        @Html.Action("OrdersDashboard")
        @Html.Action("OrderSourcesDashboard")
        @Html.Action("LearningDashboard")
    </div>
    <div class="col-xs-6 col-wl-8">
        @Html.RenderModules("admin_home_middle_top")
        @Html.Action("StatisticsDashboard")
        @Html.Action("OrderGraphDashboard")
        @Html.Action("LastOrdersDashboard")
        @Html.RenderModules("admin_home_middle_bottom")

    </div>
    <div class="col-xs-3 col-wl-2">
        @if (string.IsNullOrWhiteSpace(Model.ActionText))
        {
            @Html.RenderModules("admin_home_right")
            @Html.Action("SalesPlanDashboard")
            @Html.Action("BirthdayDashboard")
            @Html.Action("RecommendationsDashboard")
            @Html.Action("PartnersDashboard")
        }
        else
        {
            @Html.Raw(Model.ActionText)
        }
    </div>
</div>