@if (SettingsSocial.WidgetVkActive)
{
    <div class="social-widgets__item social-widgets--vk">
        @Html.Raw(SettingsSocial.WidgetVk)
    </div>
}
@if (SettingsSocial.WidgetFacebookActive)
{
    <div class="social-widgets__item social-widgets--facebook">
        @Html.Raw(SettingsSocial.WidgetFacebook)
    </div>
}
@if (SettingsSocial.WidgetYoutubeActive)
{
    <div class="social-widgets__item social-widgets--youtube">
        @Html.Raw(SettingsSocial.WidgetYoutube)
    </div>
}
@if (SettingsSocial.WidgetInstagrammActive)
{
    <div class="social-widgets__item social-widgets--instagram">
        @Html.Raw(SettingsSocial.WidgetInstagramm)
    </div>
}
@if (SettingsSocial.WidgetTelegramActive)
{
    <div class="social-widgets__item social-widgets--telegram">
        @Html.Raw(SettingsSocial.WidgetTelegram)
    </div>
}
@if (SettingsSocial.WidgetTwitterActive)
{
    <div class="social-widgets__item social-widgets--twitter">
        @Html.Raw(SettingsSocial.WidgetTwitter)
    </div>
}
@if (SettingsSocial.WidgetOkActive)
{
    <div class="social-widgets__item social-widgets--ok">
        @Html.Raw(SettingsSocial.WidgetOk)
    </div>
}