@model AdvantShop.Models.User.ForgotPasswordModel
@{
    Html.AddAsset("forgotPassword");
}
@{
    var isLanding = Model.LpId != null;
    if (isLanding)
    {
        Layout = "~/Areas/Landing/Views/Shared/_Layout.cshtml";
    }
}

<div class="forgot-container">
    <div class="col-p-v-desktop" 
         data-ng-controller="ForgotPasswordCtrl as forgotPassword">
        <div class="page-title">
            <h1 class="forgot-title main-title main-title--m-t-n cs-bg-4--mobile">
                @T("User.ForgotPassword.Header")
            </h1>
        </div>
        @if (!isLanding)
        {
            @Html.SingleBreadCrumb(T("User.ForgotPassword.Header").ToString())
        }
        <div ng-init="forgotPassword.view='@Model.View'; forgotPassword.lpId=@(Model.LpId != null && Model.LpId != 0 ? Model.LpId.ToString() : "null")"
             ng-switch="forgotPassword.view"
             class="ng-cloak mobile-container-fluid">
            <div ng-switch-when="forgotpass">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 forgot-container__form-block">

                        <form name="authForm" novalidate="novalidate">
                            <label class="row middle-xs">
                                <span class="col-xs-12 col-sm-4">
                                    <span class="form-field-name input-required vertical-interval-xsmall">@T("User.ForgotPassword.EnterEmail")</span>
                                </span>
                                <span class="col-xs-12 col-sm-8">
                                    <span class="form-field-input vertical-interval-xsmall">
                                        @Html.TextBox("email", null, new { @class = "input-small", type = "text", required = "true", data_ng_model = "forgotPassword.email", data_ng_model_options = "{ debounce: 600 }", pattern = "^([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z0-9-.]+)|(admin)$" })
                                    </span>
                                </span>
                            </label>

                            <label class="row middle-xs" ng-if="forgotPassword.showCaptcha">
                                <span class="col-xs-12 col-sm-4">
                                    <span class="form-field-name vertical-interval-xsmall input-required">
                                        @T("Captcha.Code"):
                                    </span>
                                </span>
                                <span class="col-xs-12 col-sm-8">
                                    <span class="form-field-input vertical-interval-xsmall" data-bind-html-compile="forgotPassword.captchaHtml">
                                    </span>
                                </span>
                            </label>

                            <div class="row middle-xs">
                                <span class="col-sm-8 col-sm-offset-4 col-xs-12">
                                    <span class="form-field-input vertical-interval-xsmall">
                                        <a href="" class="btn btn-action btn-middle btn-forgot" data-button-validation data-button-validation-success="forgotPassword.submitForgotPassword()">@T("User.ForgotPassword.Recover")</a>
                                    </span>
                                </span>
                            </div>
                        </form>

                    </div>
                    <div class="col-xs-12 col-sm-4 forgot-container__description-block">
                        <div class="forget-password-note cs-t-3">@Html.StaticBlock("recoverPassword")</div>
                    </div>
                </div>
            </div>

            <div ng-switch-when="forgotpassSuccess">
                <div class="h2">@T("User.ForgotPassword.MessageWasSent")</div>
                @if (!isLanding)
                {
                    <div>
                        <a href="@Url.AbsoluteRouteUrl("Home")">@T("User.ForgotPassword.ToMainPage")</a>
                    </div>
                }
            </div>

            <div ng-switch-when="recovery">
                <form name="authForm" novalidate="novalidate" ng-init="forgotPassword.email='@Model.Email'; forgotPassword.recoveryCode='@Model.RecoveryCode'">
                    <div class="form-legend">@T("User.ForgotPassword.ChangePassword")</div>
                    <label class="row middle-xs">
                        <span class="col-xs-12 col-sm-2">
                            <span class="form-field-name vertical-interval-xsmall">@T("MyAccount.ChangePassword.NewPassword")</span>
                        </span>
                        <span class="col-xs-12 col-sm-4">
                            <span class="form-field-input vertical-interval-xsmall">
                                @Html.Password("newPassword", null, new { autocomplete = "off", @class = "input-small", data_ng_model = "forgotPassword.newPassword" })
                            </span>
                        </span>
                    </label>
                    <label class="row middle-xs">
                        <span class="col-xs-12 col-sm-2">
                            <span class="form-field-name vertical-interval-xsmall">@T("MyAccount.ChangePassword.NewPasswordConfirm")</span>
                        </span>
                        <span class="col-xs-12 col-sm-4">
                            <span class="form-field-input vertical-interval-xsmall">
                                @Html.Password("newPasswordConfirm", null, new { autocomplete = "off", @class = "input-small", data_ng_model = "forgotPassword.newPasswordConfirm" })
                            </span>
                        </span>
                    </label>
                    <div class="row middle-xs">
                        <span class="col-sm-2 col-sm-offset-2 col-xs-12">
                            <span class="form-field-input vertical-interval-xsmall">
                                <a href="" class="btn btn-middle btn-action" data-button-validation ng-click="forgotPassword.submitRecover()">@T("User.ForgotPassword.ChangePassword")</a>
                            </span>
                        </span>
                    </div>
                </form>
            </div>

            <div ng-switch-when="recoverySuccess">
                <div class="h2">@T("User.ForgotPassword.PasswordChanged")</div>
                @if (!isLanding)
                {
                    <div>
                        <a href="@Url.AbsoluteRouteUrl("Home")">@T("User.ForgotPassword.ToMainPage")</a>
                    </div>
                }
            </div>
        </div>

    </div>
</div>
