@model AdvantShop.ViewModel.User.LoginOpenIdViewModel
<div class="auth-social">
    <div class="title vertical-interval-middle openid-title auth-social__title">
        @T("User.LoginOpenId.LogInWithSocial")
    </div>

    <div class="auth-social__favorite-btns-wrap">
        @if (Model.DisplayGoogle)
        {
            <a class="auth-social__btn--google auth-social__btn google-btn"
               href="@Url.Action("LoginGoogle", "user", new { pagetoredirect = Model.PageToRedirect})">
                <span class="auth-social__btn-icon">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <g clip-path="url(#clip0)">
                            <path d="M23.0671 12.2247C23.0671 11.2414 22.9886 10.5239 22.8187 9.77979H11.7695V14.2178H18.2551C18.1244 15.3207 17.4183 16.9816 15.8492 18.0977L15.8272 18.2463L19.3207 20.9965L19.5628 21.021C21.7856 18.9349 23.0671 15.8654 23.0671 12.2247Z" fill="white" />
                            <path d="M11.7689 23.9178C14.9463 23.9178 17.6138 22.8548 19.5622 21.0211L15.8486 18.0978C14.8548 18.8021 13.5211 19.2937 11.7689 19.2937C8.65688 19.2937 6.01557 17.2076 5.07401 14.3242L4.936 14.3361L1.30337 17.193L1.25586 17.3272C3.19108 21.2337 7.16617 23.9178 11.7689 23.9178Z" fill="white" />
                            <path d="M5.07341 14.3238C4.82497 13.5797 4.68119 12.7824 4.68119 11.9586C4.68119 11.1347 4.82497 10.3375 5.06034 9.59342L5.05376 9.43494L1.3756 6.53223L1.25526 6.59039C0.457662 8.21149 0 10.0319 0 11.9586C0 13.8853 0.457662 15.7056 1.25526 17.3267L5.07341 14.3238Z" fill="white" />
                            <path d="M11.7689 4.62403C13.9787 4.62403 15.4693 5.59401 16.3193 6.40461L19.6406 3.10928C17.6008 1.1826 14.9463 0 11.7689 0C7.16616 0 3.19108 2.68406 1.25586 6.59056L5.06094 9.59359C6.01556 6.7102 8.65688 4.62403 11.7689 4.62403Z" fill="white" />
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <rect width="23.0769" height="24" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </span>
                <div class="auth-social__btn-text">
                    @T("User.LoginOpenId.AuthGoogleText")
                </div>
            </a>
        }

        @if (Model.DisplayVk)
        {
            <a class="vk-btn auth-social__btn auth-social__btn--vk"
               href="@Url.Action("LoginVk", "user", new { pagetoredirect = Model.PageToRedirect })">
                <span class="auth-social__btn-icon">
                    <svg width="32" height="20" viewBox="0 0 32 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M-8.14258 8.09707C-8.14258 -2.71434 -8.14258 -8.12005 -4.7839 -11.4787C-1.42523 -14.8374 3.98048 -14.8374 14.7919 -14.8374H16.7862C27.5976 -14.8374 33.0034 -14.8374 36.362 -11.4787C39.7207 -8.12005 39.7207 -2.71434 39.7207 8.09707V10.0914C39.7207 20.9028 39.7207 26.3085 36.362 29.6671C33.0034 33.0258 27.5976 33.0258 16.7862 33.0258H14.7919C3.98048 33.0258 -1.42523 33.0258 -4.7839 29.6671C-8.14258 26.3085 -8.14258 20.9028 -8.14258 10.0914L-8.14258 8.09707Z" fill="transparent" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.82247 0.120117H1.33165C0.334256 0.120117 0.134766 0.589576 0.134766 1.1071C0.134766 2.03156 1.31824 6.61636 5.64522 12.6801C8.52988 16.8212 12.5941 19.066 16.2924 19.066C18.5114 19.066 18.7859 18.5674 18.7859 17.7087V14.5788C18.7859 13.5817 18.9961 13.3826 19.6987 13.3826C20.2165 13.3826 21.1041 13.6415 23.1751 15.6381C25.5421 18.0044 25.9323 19.066 27.2636 19.066H30.7544C31.7518 19.066 32.2505 18.5674 31.9628 17.5835C31.648 16.6029 30.518 15.1801 29.0184 13.4936C28.2048 12.5323 26.9844 11.497 26.6145 10.9793C26.0968 10.3138 26.2447 10.0179 26.6145 9.42643C26.6145 9.42643 30.8676 3.43654 31.3114 1.40305C31.5333 0.663465 31.3114 0.120117 30.2557 0.120117H26.7649C25.8773 0.120117 25.4681 0.589576 25.2461 1.1071C25.2461 1.1071 23.471 5.43314 20.9562 8.24321C20.1425 9.05658 19.7727 9.31544 19.3288 9.31544C19.107 9.31544 18.7858 9.05659 18.7858 8.3172V1.40305C18.7858 0.515587 18.5282 0.120117 17.7884 0.120117H12.3028C11.7482 0.120117 11.4145 0.53194 11.4145 0.922325C11.4145 1.76352 12.6719 1.95757 12.8016 4.32391V9.46342C12.8016 10.5902 12.598 10.7945 12.1542 10.7945C10.9708 10.7945 8.09213 6.44914 6.38481 1.47694C6.05026 0.510502 5.71462 0.120117 4.82247 0.120117Z" fill="white" />
                    </svg>
                </span>
                <div class="auth-social__btn-text">
                    @T("User.LoginOpenId.AuthVKText")
                </div>
            </a>
        }

        @if (Model.DisplayFacebook)
        {
            <a class="auth-social__btn auth-social__btn--fb fb-btn"
               href="@Url.Action("LoginFacebook", "user", new { pagetoredirect = Model.PageToRedirect })">
                <span class="auth-social__btn-icon">
                    <svg width="16" height="24" viewBox="0 0 16 28" fill="none">
                        <path d="M17.0659 -6.46143H-8.53411C-10.8872 -6.46143 -12.8008 -4.52943 -12.8008 -2.15373V23.6924C-12.8008 26.0681 -10.8872 28.0001 -8.53411 28.0001H17.0659C19.419 28.0001 21.3326 26.0681 21.3326 23.6924V-2.15373C21.3326 -4.52943 19.419 -6.46143 17.0659 -6.46143Z" fill="transparent" />
                        <path d="M16 10.7692H10.6667V6.46154C10.6667 5.27262 11.6224 5.38462 12.8 5.38462H14.9333V0H10.6667C7.13173 0 4.26667 2.89262 4.26667 6.46154V10.7692H0V16.1538H4.26667V28H10.6667V16.1538H13.8667L16 10.7692Z" fill="#FAFAFA" />
                    </svg>

                </span>
                <div class="auth-social__btn-text">
                    @T("User.LoginOpenId.AuthFacebookText")
                </div>
            </a>
        }
    </div>
    <div class="auth-social__other-btns-wrap">
        @if (Model.DisplayMailRu)
        {
            <a class="auth-social__btn auth-social__btn--mail mail-btn"
               href="@Url.Action("LoginMailRu", "user", new { pagetoredirect = Model.PageToRedirect })">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none">
                    <circle cx="24" cy="24" r="24" fill="#FC2C38" />
                    <path d="M36.0605 24.0293C36.0605 28.1561 34.1288 30.0878 31.6995 30.0878C30.2947 30.0878 29.0654 29.3561 28.363 28.2439C27.2508 29.3561 25.7581 30.0585 24.0605 30.0585C20.7239 30.0585 18.0313 27.3659 18.0313 24.0293C18.0313 20.6927 20.7239 18 24.0605 18C27.3971 18 30.0898 20.6927 30.0898 24.0293V25.9902C30.0898 26.9854 30.7922 27.6878 31.6995 27.6878C32.7825 27.6878 33.6605 26.7805 33.6605 24.0293C33.6605 18.7317 29.3581 14.4293 24.0605 14.4293C18.763 14.4293 14.4313 18.7317 14.4313 24.0293C14.4313 29.3268 18.7337 33.6293 24.0313 33.6293C27.1044 33.6293 29.2117 32.1073 29.2117 32.1073L30.7922 33.9219C30.7922 33.9219 28.0995 36 24.0313 36C17.4166 36 12.0312 30.6146 12.0312 24C12.0312 17.3854 17.4166 12 24.0313 12C30.6752 12.0293 36.0605 17.4146 36.0605 24.0293ZM24.0605 27.6878C26.08 27.6878 27.7191 26.0488 27.7191 24.0293C27.7191 22.0098 26.08 20.3707 24.0605 20.3707C22.041 20.3707 20.402 22.0098 20.402 24.0293C20.402 26.0488 22.041 27.6878 24.0605 27.6878Z" fill="white" />
                </svg>
            </a>
        }

        @if (Model.DisplayOdnoklassniki)
        {
            <a class="auth-social__btn ok-btn"
               href="@Url.Action("LoginOk", "user", new { pagetoredirect = Model.PageToRedirect })">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none">
                    <circle cx="24" cy="24" r="24" fill="#EE8208" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M24.5405 24.4097C21.1505 24.4097 18.3334 21.5942 18.3334 18.2626C18.3334 14.8155 21.1505 12 24.542 12C28.0476 12 30.7491 14.8155 30.7491 18.2626C30.7464 19.0741 30.5835 19.8771 30.2699 20.6256C29.9562 21.3741 29.498 22.0533 28.9213 22.6244C28.3447 23.1954 27.6611 23.647 26.9096 23.9534C26.1581 24.2598 25.3536 24.4148 24.542 24.4097H24.5405ZM24.5405 15.6196C23.105 15.6196 22.013 16.8256 22.013 18.2626C22.013 19.6981 23.105 20.7901 24.542 20.7901C26.0361 20.7901 27.0711 19.6981 27.0711 18.2626C27.0711 16.8256 26.0361 15.6196 24.542 15.6196H24.5405ZM27.0126 29.5233L30.5196 32.9133C31.2096 33.6588 31.2096 34.7509 30.5196 35.4409C29.7726 36.1864 28.6221 36.1864 28.0476 35.4409L24.542 31.9938L21.1505 35.4409C20.8055 35.7859 20.345 35.9569 19.8275 35.9569C19.4255 35.9569 18.9665 35.7844 18.5629 35.4409C17.8729 34.7509 17.8729 33.6588 18.5629 32.9118L22.127 29.5218C20.8398 29.1404 19.6048 28.6007 18.4504 27.9152C17.5879 27.4562 17.4154 26.3072 17.8744 25.4447C18.4504 24.5837 19.484 24.3542 20.405 24.9287C21.6513 25.6896 23.0833 26.0921 24.5435 26.0921C26.0038 26.0921 27.4358 25.6896 28.6821 24.9287C29.6016 24.3542 30.6936 24.5837 31.2111 25.4447C31.7287 26.3072 31.4977 27.4547 30.6936 27.9152C29.6016 28.6053 28.3371 29.1228 27.0141 29.5248L27.0126 29.5233Z" fill="white" />
                </svg>
            </a>
        }

        @if (Model.DisplayYandex)
        {
            <a class="auth-social__btn yandex-btn"
               href="@Url.Action("LoginYandex", "user", new { pagetoredirect = Model.PageToRedirect })">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none">
                    <circle cx="24" cy="24" r="24" fill="#FF0000" />
                    <path d="M24.3353 26.8055L20.2398 36H17.25L21.7551 26.1706C19.6254 25.0853 18.2329 23.1399 18.2329 19.5563C18.2329 14.5188 21.407 12 25.2159 12H29.0862V36H26.4855V26.8055H24.3353ZM26.4855 14.1911H25.1135C23.0247 14.1911 21.0179 15.5631 21.0179 19.5563C21.0179 23.4266 22.8609 24.6553 25.1135 24.6553H26.4855V14.1911Z" fill="white" />

                </svg>
            </a>
        }


        <div style="display:none">
            <a href="@Url.Action("LoginOAuth", "user", new { pagetoredirect = Model.PageToRedirect, provider = "yandex" })">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none">
                    <circle cx="24" cy="24" r="24" fill="#EE8208" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M24.5405 24.4097C21.1505 24.4097 18.3334 21.5942 18.3334 18.2626C18.3334 14.8155 21.1505 12 24.542 12C28.0476 12 30.7491 14.8155 30.7491 18.2626C30.7464 19.0741 30.5835 19.8771 30.2699 20.6256C29.9562 21.3741 29.498 22.0533 28.9213 22.6244C28.3447 23.1954 27.6611 23.647 26.9096 23.9534C26.1581 24.2598 25.3536 24.4148 24.542 24.4097H24.5405ZM24.5405 15.6196C23.105 15.6196 22.013 16.8256 22.013 18.2626C22.013 19.6981 23.105 20.7901 24.542 20.7901C26.0361 20.7901 27.0711 19.6981 27.0711 18.2626C27.0711 16.8256 26.0361 15.6196 24.542 15.6196H24.5405ZM27.0126 29.5233L30.5196 32.9133C31.2096 33.6588 31.2096 34.7509 30.5196 35.4409C29.7726 36.1864 28.6221 36.1864 28.0476 35.4409L24.542 31.9938L21.1505 35.4409C20.8055 35.7859 20.345 35.9569 19.8275 35.9569C19.4255 35.9569 18.9665 35.7844 18.5629 35.4409C17.8729 34.7509 17.8729 33.6588 18.5629 32.9118L22.127 29.5218C20.8398 29.1404 19.6048 28.6007 18.4504 27.9152C17.5879 27.4562 17.4154 26.3072 17.8744 25.4447C18.4504 24.5837 19.484 24.3542 20.405 24.9287C21.6513 25.6896 23.0833 26.0921 24.5435 26.0921C26.0038 26.0921 27.4358 25.6896 28.6821 24.9287C29.6016 24.3542 30.6936 24.5837 31.2111 25.4447C31.7287 26.3072 31.4977 27.4547 30.6936 27.9152C29.6016 28.6053 28.3371 29.1228 27.0141 29.5248L27.0126 29.5233Z" fill="white" />
                </svg>
            </a>
        </div>
    </div>
</div>