@using AdvantShop.Core.Services.Configuration.Settings;
<footer id="footer" class="cs-bg-3">
    <div class="panel no-borders footer-social cs-br-1">
        @Html.Partial("_SocialLinks")
    </div>
    <div class="footer-menu">
        @Html.Action("MenuBottom", "Common", new { area = "", isShowSocial = false, type = AdvantShop.ViewModel.Common.EMenuBottomType.Accordion })
    </div>
    @if (SettingsMobile.MobileAppActive && SettingsMobile.MobileAppShowBadges
    && (!string.IsNullOrEmpty(SettingsMobile.MobileAppGooglePlayMarket) || !string.IsNullOrEmpty(SettingsMobile.MobileAppAppleAppStoreLink)))
    {
        <div>
            <div class="m-b-md menu__item-inner menu__item menu__item--alt">@T("MobileApp.Title")</div>
            <div class="menu__item-inner">
                <div class="row middle-xs">
                    @if (!string.IsNullOrEmpty(SettingsMobile.MobileAppGooglePlayMarket))
                    {
                        <div class="col-xs">
                            <a href='@SettingsMobile.MobileAppGooglePlayMarket' target="_blank" class="link-img-mobile__app">
                                <img alt='Get it on Google Play' src='~/Areas/Mobile/images/googlePlay.png' />
                            </a>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(SettingsMobile.MobileAppAppleAppStoreLink))
                    {
                        <div class="col-xs">
                            <a href='@SettingsMobile.MobileAppAppleAppStoreLink' target="_blank" class="link-img-mobile__app">
                                <img alt='Get it on App Store' src='~/Areas/Mobile/images/appStore.png' />
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    <div class="panel no-borders footer-static-block cs-br-1">
        @Html.StaticBlock("mobile_footer_text")
    </div>
    @*<div data-oc-lazy-load="[{serie:true, files: [@Html.RenderAssetFilesList("mobileOverlap", "")]}]">
        <a class="footer-menu-link footer-return-desktop"
           data-ng-click="mOverlap.goToDesktop()"
           data-ng-controller="mobileOverlapCtrl as mOverlap">
            <svg class="footer-return-desktop__icon" width="24" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 115.383 115.383">
                <path d="M11.025,87.78h93.333c1.931,0,3.5-1.57,3.5-3.5v-60c0-1.93-1.569-3.5-3.5-3.5H11.025c-1.93,0-3.5,1.57-3.5,3.5v60
		                C7.525,86.21,9.096,87.78,11.025,87.78z M10.525,24.28c0-0.276,0.224-0.5,0.5-0.5h93.333c0.276,0,0.5,0.224,0.5,0.5v60
		                c0,0.276-0.224,0.5-0.5,0.5H11.025c-0.276,0-0.5-0.224-0.5-0.5V24.28z M115.383,90.458v2.801c0,0.742-0.602,1.344-1.344,1.344
		                H1.344C0.602,94.603,0,94.001,0,93.259v-2.801h47.387c0.234,0.781,0.95,1.354,1.807,1.354h16.996c0.856,0,1.572-0.572,1.807-1.354
		                H115.383z"></path>
            </svg>
            @T("Checkout.Success.FullVersionWebsite")
        </a>
    </div>*@
</footer>
