@using AdvantShop.Core
@using AdvantShop.Design

@{
    var prefix = !string.IsNullOrEmpty(SettingsDesign.MobileTemplate) ? "_" + SettingsDesign.MobileTemplate.ToLower() : "";

    var bundleNameMobileCss = "mobile" + prefix + ".css";
    var bundleNameMobileJs = "mobile" + prefix + ".js";
}

@{
    Html.AddBundles(new List<string>
{
        "~/vendors/angular/i18n/angular-locale_" + SettingsMain.Language + ".js",

        "~/userfiles/" + SettingsMain.Language + ".js",

        //common scripts

    }, bundleNameMobileJs);
}
@{
    Html.AddAsset("runtime");
}


@Html.Partial("_FooterNewMobileScriptsTemplate")
@Html.Partial("_FooterMobileScriptsTemplate")

@{
    Html.AddBundles(new List<string>
{
        "~/userfiles/extra.css",
        "~/userfiles/saas.css",
    }, bundleNameMobileCss);
}

<div id="_OcLazyLoadFilesAnchor_"></div> @*Для OcLazyLOad чтоб css и js добавлялись перед ним (чтоб не перезатирали стили шаблона) *@

@Html.RenderAssets()

@Html.RenderCssBundle(bundleNameMobileCss)

@Html.RenderJsBundle(bundleNameMobileJs)

@Html.RenderModuleCssBundle("mobile_modules.css")
@Html.RenderModuleJsBundle("mobile_modules.js")


@Html.Action("MobileOverlap", "Mobile", new { area = "" })