@using AdvantShop.Core.Services.Configuration.Settings
@using AdvantShop.Orders

<header id="header" class="mobile-header cs-bg-1 cs-t-8" data-ng-class="{'mobile-header--search-active' : header.searchHeaderActive }" data-ng-controller="HeaderCtrl as header">
    <div class="mobile-header__item mobile-header__menu-trgger-block mobile-header--hidden-on-search-active">
        <label for="sidebarState" class="mobile-header__menu-triger" data-ng-click="header.toggleMenu($event)" data-sidebar-container-state="sidebarMenu" data-ng-class="{'mobile-header__menu-triger--opened': sidebarContainerState.isOpen}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>
    <div class="mobile-header__search-form-block  mobile-header--visible-on-search-active">
        @using (Html.BeginForm("Index", "Search", new { area = "" }, FormMethod.Get, new { @class = "mobile-header__search-form", novalidate = "novalidate" }))
        {
            <div class="mobile-header__search-form-item">
                <button class="mobile-header__search-form-back" type="button" data-ng-click="header.searchHide()">
                    <svg width="16" height="16" class="mobile-header__search-form-back-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         viewBox="0 0 240.823 240.823">
                        <path fill="currentColor" d="M57.633,129.007L165.93,237.268c4.752,4.74,12.451,4.74,17.215,0c4.752-4.74,4.752-12.439,0-17.179
		                l-99.707-99.671l99.695-99.671c4.752-4.74,4.752-12.439,0-17.191c-4.752-4.74-12.463-4.74-17.215,0L57.621,111.816
		                C52.942,116.507,52.942,124.327,57.633,129.007z" />
                    </svg>
                </button>
            </div>
            <div class="mobile-header__search-form-item mobile-header__search-form-input-block  cs-t-1" data-ng-click="header.searchFocus()">
                <div class="autocompleter"
                     data-autocompleter
                     data-field="Name"
                     data-link-all="search"
                     data-template-path="./scripts/_common/autocompleter/templates/categoriesProducts.html"
                     data-request-url="search/autocomplete">
                    <input data-autocompleter-input
                           type="search"
                           data-autofocus="header.searchHeaderActive"
                           autocomplete="off"
                           placeholder="Введите запрос"
                           required
                           name="q"
                           data-ng-model="header.searchQuery"
                           class="mobile-header__search-form-input input-small" />
                </div>
            </div>
            <div class="mobile-header__search-form-item">
                <button type="submit" class="mobile-header__search-btn">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" class="mobile-header__icon mobile-header__search-icon">
                        <path fill="currentColor" d="M495,466.2L377.2,348.4c29.2-35.6,46.8-81.2,46.8-130.9C424,103.5,331.5,11,217.5,11C103.4,11,11,103.5,11,217.5   S103.4,424,217.5,424c49.7,0,95.2-17.5,130.8-46.7L466.1,495c8,8,20.9,8,28.9,0C503,487.1,503,474.1,495,466.2z M217.5,382.9   C126.2,382.9,52,308.7,52,217.5S126.2,52,217.5,52C308.7,52,383,126.3,383,217.5S308.7,382.9,217.5,382.9z" />
                    </svg>
                </button>
            </div>
        }
    </div>
    <div class="mobile-header__item mobile-header__search-block  mobile-header--hidden-on-search-active">
        <button type="button" class="mobile-header__search-btn" data-ng-click="header.searchShow(); sbCtrl.close();">
            <svg width="20" height="20" class="mobile-header__icon mobile-header__search-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path fill="currentColor" d="M495,466.2L377.2,348.4c29.2-35.6,46.8-81.2,46.8-130.9C424,103.5,331.5,11,217.5,11C103.4,11,11,103.5,11,217.5   S103.4,424,217.5,424c49.7,0,95.2-17.5,130.8-46.7L466.1,495c8,8,20.9,8,28.9,0C503,487.1,503,474.1,495,466.2z M217.5,382.9   C126.2,382.9,52,308.7,52,217.5S126.2,52,217.5,52C308.7,52,383,126.3,383,217.5S308.7,382.9,217.5,382.9z" />
            </svg>
        </button>
    </div>
    <div class="mobile-header__item mobile-header__logo-block  mobile-header--hidden-on-search-active">@Html.Action("Logo", "Home", new { area = "mobile" })</div>
    @if (!string.IsNullOrEmpty(SettingsMain.Phone))
    {
        <div class="mobile-header__item mobile-header__phone-block  mobile-header--hidden-on-search-active">
            @if (TemplateSettingsProvider.Items["ShowAdditionalPhones"] == "True")
            {

                <button data-ng-click="header.togglePhonesList('@Url.AbsoluteActionUrl("AdditionalPhones", "Common", new {area = ""})')"
                        class="mobile-header__phones-list-btn">
                    <svg width="22"
                         height="22"
                         class="mobile-header__icon mobile-header__phone-icon"
                         viewBox="0 0 482.6 482.6">
                        <path fill="currentColor" d="M98.339,320.8c47.6,56.9,104.9,101.7,170.3,133.4c24.9,11.8,58.2,25.8,95.3,28.2c2.3,0.1,4.5,0.2,6.8,0.2
		        c24.9,0,44.9-8.6,61.2-26.3c0.1-0.1,0.3-0.3,0.4-0.5c5.8-7,12.4-13.3,19.3-20c4.7-4.5,9.5-9.2,14.1-14
		        c21.3-22.2,21.3-50.4-0.2-71.9l-60.1-60.1c-10.2-10.6-22.4-16.2-35.2-16.2c-12.8,0-25.1,5.6-35.6,16.1l-35.8,35.8
		        c-3.3-1.9-6.7-3.6-9.9-5.2c-4-2-7.7-3.9-11-6c-32.6-20.7-62.2-47.7-90.5-82.4c-14.3-18.1-23.9-33.3-30.6-48.8
		        c9.4-8.5,18.2-17.4,26.7-26.1c3-3.1,6.1-6.2,9.2-9.3c10.8-10.8,16.6-23.3,16.6-36s-5.7-25.2-16.6-36l-29.8-29.8
		        c-3.5-3.5-6.8-6.9-10.2-10.4c-6.6-6.8-13.5-13.8-20.3-20.1c-10.3-10.1-22.4-15.4-35.2-15.4c-12.7,0-24.9,5.3-35.6,15.5l-37.4,37.4
		        c-13.6,13.6-21.3,30.1-22.9,49.2c-1.9,23.9,2.5,49.3,13.9,80C32.739,229.6,59.139,273.7,98.339,320.8z M25.739,104.2
		        c1.2-13.3,6.3-24.4,15.9-34l37.2-37.2c5.8-5.6,12.2-8.5,18.4-8.5c6.1,0,12.3,2.9,18,8.7c6.7,6.2,13,12.7,19.8,19.6
		        c3.4,3.5,6.9,7,10.4,10.6l29.8,29.8c6.2,6.2,9.4,12.5,9.4,18.7s-3.2,12.5-9.4,18.7c-3.1,3.1-6.2,6.3-9.3,9.4
		        c-9.3,9.4-18,18.3-27.6,26.8c-0.2,0.2-0.3,0.3-0.5,0.5c-8.3,8.3-7,16.2-5,22.2c0.1,0.3,0.2,0.5,0.3,0.8
		        c7.7,18.5,18.4,36.1,35.1,57.1c30,37,61.6,65.7,96.4,87.8c4.3,2.8,8.9,5,13.2,7.2c4,2,7.7,3.9,11,6c0.4,0.2,0.7,0.4,1.1,0.6
		        c3.3,1.7,6.5,2.5,9.7,2.5c8,0,13.2-5.1,14.9-6.8l37.4-37.4c5.8-5.8,12.1-8.9,18.3-8.9c7.6,0,13.8,4.7,17.7,8.9l60.3,60.2
		        c12,12,11.9,25-0.3,37.7c-4.2,4.5-8.6,8.8-13.3,13.3c-7,6.8-14.3,13.8-20.9,21.7c-11.5,12.4-25.2,18.2-42.9,18.2
		        c-1.7,0-3.5-0.1-5.2-0.2c-32.8-2.1-63.3-14.9-86.2-25.8c-62.2-30.1-116.8-72.8-162.1-127c-37.3-44.9-62.4-86.7-79-131.5
		        C28.039,146.4,24.139,124.3,25.739,104.2z"></path>
                    </svg>
                </button>
            }
            else
            {
                <a class="mobile-header__phone-link header-link cs-l-4 ng-hide"
                   data-ng-hide="!zone.MobilePhone || zone.MobilePhone.length === 0 || zone.MobilePhone == '0'"
                   data-zone-current
                   data-start-val="{MobilePhone: '@Html.GetCityPhone(true)'}"
                   data-ng-href="tel:{{zone.MobilePhone}}"
                   href="tel:@Html.GetCityPhone(true)">
                    <svg width="22" height="22" class="mobile-header__icon mobile-header__phone-icon" viewBox="0 0 482.6 482.6">
                        <path fill="currentColor" d="M98.339,320.8c47.6,56.9,104.9,101.7,170.3,133.4c24.9,11.8,58.2,25.8,95.3,28.2c2.3,0.1,4.5,0.2,6.8,0.2
		        c24.9,0,44.9-8.6,61.2-26.3c0.1-0.1,0.3-0.3,0.4-0.5c5.8-7,12.4-13.3,19.3-20c4.7-4.5,9.5-9.2,14.1-14
		        c21.3-22.2,21.3-50.4-0.2-71.9l-60.1-60.1c-10.2-10.6-22.4-16.2-35.2-16.2c-12.8,0-25.1,5.6-35.6,16.1l-35.8,35.8
		        c-3.3-1.9-6.7-3.6-9.9-5.2c-4-2-7.7-3.9-11-6c-32.6-20.7-62.2-47.7-90.5-82.4c-14.3-18.1-23.9-33.3-30.6-48.8
		        c9.4-8.5,18.2-17.4,26.7-26.1c3-3.1,6.1-6.2,9.2-9.3c10.8-10.8,16.6-23.3,16.6-36s-5.7-25.2-16.6-36l-29.8-29.8
		        c-3.5-3.5-6.8-6.9-10.2-10.4c-6.6-6.8-13.5-13.8-20.3-20.1c-10.3-10.1-22.4-15.4-35.2-15.4c-12.7,0-24.9,5.3-35.6,15.5l-37.4,37.4
		        c-13.6,13.6-21.3,30.1-22.9,49.2c-1.9,23.9,2.5,49.3,13.9,80C32.739,229.6,59.139,273.7,98.339,320.8z M25.739,104.2
		        c1.2-13.3,6.3-24.4,15.9-34l37.2-37.2c5.8-5.6,12.2-8.5,18.4-8.5c6.1,0,12.3,2.9,18,8.7c6.7,6.2,13,12.7,19.8,19.6
		        c3.4,3.5,6.9,7,10.4,10.6l29.8,29.8c6.2,6.2,9.4,12.5,9.4,18.7s-3.2,12.5-9.4,18.7c-3.1,3.1-6.2,6.3-9.3,9.4
		        c-9.3,9.4-18,18.3-27.6,26.8c-0.2,0.2-0.3,0.3-0.5,0.5c-8.3,8.3-7,16.2-5,22.2c0.1,0.3,0.2,0.5,0.3,0.8
		        c7.7,18.5,18.4,36.1,35.1,57.1c30,37,61.6,65.7,96.4,87.8c4.3,2.8,8.9,5,13.2,7.2c4,2,7.7,3.9,11,6c0.4,0.2,0.7,0.4,1.1,0.6
		        c3.3,1.7,6.5,2.5,9.7,2.5c8,0,13.2-5.1,14.9-6.8l37.4-37.4c5.8-5.8,12.1-8.9,18.3-8.9c7.6,0,13.8,4.7,17.7,8.9l60.3,60.2
		        c12,12,11.9,25-0.3,37.7c-4.2,4.5-8.6,8.8-13.3,13.3c-7,6.8-14.3,13.8-20.9,21.7c-11.5,12.4-25.2,18.2-42.9,18.2
		        c-1.7,0-3.5-0.1-5.2-0.2c-32.8-2.1-63.3-14.9-86.2-25.8c-62.2-30.1-116.8-72.8-162.1-127c-37.3-44.9-62.4-86.7-79-131.5
		        C28.039,146.4,24.139,124.3,25.739,104.2z"></path>
                    </svg>
                </a>
            }
        </div>
    }

    @if (!SettingsMobile.ShowBottomPanel)
    {
        <div class="mobile-header__item mobile-header__cart-block  mobile-header--hidden-on-search-active">
            <a href="@Url.AbsoluteRouteUrl("Cart")" class="mobile-header__cart-link header-link" data-ng-click="header.toggleCart($event)">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22" height="22" viewBox="0 0 32 32" xml:space="preserve" class="mobile-header__icon mobile-header__cart-icon">
                <path fill="currentColor" d="M27.996,8.91C27.949,8.395,27.519,8,27,8h-5V6c0-3.309-2.69-6-6-6c-3.309,0-6,2.691-6,6v2H5
				    C4.482,8,4.051,8.395,4.004,8.91l-2,22c-0.025,0.279,0.068,0.557,0.258,0.764C2.451,31.882,2.719,32,3,32h26
				    c0.281,0,0.549-0.118,0.738-0.326c0.188-0.207,0.283-0.484,0.258-0.764L27.996,8.91z M12,6c0-2.206,1.795-4,4-4s4,1.794,4,4v2h-8
				    V6z M4.096,30l1.817-20H10v2.277C9.404,12.624,9,13.262,9,14c0,1.104,0.896,2,2,2s2-0.896,2-2c0-0.738-0.404-1.376-1-1.723V10h8
				    v2.277c-0.596,0.347-1,0.984-1,1.723c0,1.104,0.896,2,2,2c1.104,0,2-0.896,2-2c0-0.738-0.403-1.376-1-1.723V10h4.087l1.817,20
				    H4.096z" /></svg>
                <span class="mobile-header__cart-count cs-t-1 cs-bg-4" data-cart-count data-type="count.TotalItems" data-ng-bind-html="cartCount.getValue()">@ShoppingCartService.CurrentShoppingCart.TotalItems</span>
            </a>
        </div>
    }

</header>
@Html.StaticBlock("TopHeader")