@{
    bool isShowBlock = SettingsSocial.LinkVkActive || SettingsSocial.LinkFacebookActive || SettingsSocial.LinkYoutubeActive || SettingsSocial.LinkInstagrammActive
                       || SettingsSocial.LinkTelegramActive || SettingsSocial.LinkTwitterActive || SettingsSocial.LinkOkActive;
}

@if (isShowBlock)
{
    <h3 class="footer-social__header">@T("Home.SocialLinks.Title")</h3>
    <div class="bigBtnsPanel">
        @if (SettingsSocial.LinkVkActive)
        {
            <a class="social social--vkontakte icon-vkontakte-before" href="@SettingsSocial.LinkVk"></a>
        }
        @if (SettingsSocial.LinkFacebookActive)
        {
            <a class="social social--facebook icon-facebook-before" href="@SettingsSocial.LinkFacebook"></a>
        }
        @if (SettingsSocial.LinkYoutubeActive)
        {
            <a class="social social--youtube icon-youtube-before" href="@SettingsSocial.LinkYoutube"></a>
        }
        @if (SettingsSocial.LinkInstagrammActive)
        {
            <a class="social social--instagram icon-instagram-before" href="@SettingsSocial.LinkInstagramm"></a>
        }
        @if (SettingsSocial.LinkTelegramActive)
        {
            <a class="social social--telegram icon-telegram-before" href="@SettingsSocial.LinkTelegram"></a>
        }
        @if (SettingsSocial.LinkTwitterActive)
        {
            <a class="social social--twitter icon-twitter-before" href="@SettingsSocial.LinkTwitter"></a>
        }
        @if (SettingsSocial.LinkOkActive)
        {
            <a class="social social--odnoklassniki icon-odnoklassniki-before" href="@SettingsSocial.LinkOk"></a>
        }
    </div>
}
