@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.AlfabankUaPaymentModel


    <div class="form-group row">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.AlfabankUa.PartnerIdentifier")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.PartnerId, new { ng_model = "paymentMethod.Parameters.PartnerId", @class = "form-control", required = "required", validation_input_text = @T("Admin.PaymentMethods.AlfabankUa.PartnerIdentifier").ToString() })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.AlfabankUa.PartnerIdentifier")">
                @T("Admin.PaymentMethods.AlfabankUa.PartnerIdentifierBank")
            </help-trigger>
        </div>
    </div>



    <div class="form-group row">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.AlfabankUA.MinimumPrice")</span>
        </div>
        <div class="col-xs-6 relative">
            <div class="input-group">
                @Html.TextBoxFor(x => x.MinimumPrice, new {ng_model = "paymentMethod.Parameters.MinimumPrice", @class = "form-control", required = "required", validation_input_text = @T("Admin.PaymentMethods.AlfabankUA.MinimumPrice").ToString()})
                <div class="input-group-btn">
                    <span class="btn btn-default"><span>@Model.CurrencySymbol</span></span>
                </div>
            </div>
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.AlfabankUA.MinimumPrice")">
                @T("Admin.PaymentMethods.AlfabankUA.BuyonCredit")
            </help-trigger>
        </div>
    </div>



    <div class="form-group row">
        <div class="flex-grow-n col-fixed-size-md">
            Максимальная цена
        </div>
        <div class="col-xs-6 relative">
            <div class="input-group">
                @Html.TextBoxFor(x => x.MaximumPrice, new {ng_model = "paymentMethod.Parameters.MaximumPrice", @class = "form-control", validation_input_text = "Максимальная цена", type = "number"})
                <div class="input-group-btn">
                    <span class="btn btn-default"><span>@Model.CurrencySymbol</span></span>
                </div>
            </div>
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Максимальная цена">
                Кнопка "Купить в кредит" будет отображаться у товаров не превышающих максимальную цену.<br/>
                Оставьте поле пустым, если это ограничение не нужно.
            </help-trigger>
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.AlfabankUA.FirstPayment")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.FirstPayment, new { ng_model = "paymentMethod.Parameters.FirstPayment", @class = "form-control", required = "required", validation_input_text = @T("Admin.PaymentMethods.AlfabankUA.FirstPayment").ToString() })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.AlfabankUA.FirstPayment")">
                @T("Admin.PaymentMethods.AlfabankUA.PercentOfTheCost")
            </help-trigger>
        </div>
    </div>



