@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.BePaidPaymentModel


<div class="form-group row">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Идентификатор магазина</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.ShopId, new { ng_model = "paymentMethod.Parameters.ShopId", @class = "form-control", required = "required", validation_input_text = "Идентификатор магазина" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Идентификатор магазина">
            <a href="https://docs.bepaid.by/ru/shop-id-key" target="_blank">Как найти ID и Secret Key магазина</a>
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Секретный ключ магазина</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.SecretKey, new { ng_model = "paymentMethod.Parameters.SecretKey", @class = "form-control", required = "required", validation_input_text = "Секретный ключ магазина" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Секретный ключ магазина">
            <a href="https://docs.bepaid.by/ru/shop-id-key" target="_blank">Как найти ID и Secret Key магазина</a>
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        Тестовый режим
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.DemoMode, new { ng_model = "paymentMethod.Parameters.DemoMode", ng_init = "paymentMethod.Parameters.DemoMode=" + Model.DemoMode.ToLowerString(), @class = "adv-checkbox-input", validation_input_text = "Тестовый режим" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Доступные способы оплаты</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.ListBoxFor(x => x.ActivePayments, Model.Payments, new { ng_model = "paymentMethod.Parameters.ActivePayments", ng_init = "paymentMethod.Parameters.ActivePayments='" + string.Join(",", Model.ActivePayments) + "'", @class = "form-control", required = "required", validation_input_text = "Доступные способы оплаты", size = 2 })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="">
            Можно выбрать несколько вариантов зажав клавиши Shift или Ctrl
        </help-trigger>
    </div>
</div>

<div class="form-group row" ng-if="paymentMethod.Parameters.ActivePayments.indexOf('erip') >= 0">
    <div class="flex-grow-n col-fixed-size-md">
        Код услуги ЕРИП
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.EripServiceNo, new { ng_model = "paymentMethod.Parameters.EripServiceNo", @class = "form-control", validation_input_text = "Код услуги ЕРИП", type = "number" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Код услуги ЕРИП">
            Код услуги ЕРИП, присвоенный bePaid. Передается, если у вас к одному магазину подключено несколько ЕРИП услуг.
        </help-trigger>
    </div>
</div>
