@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.BillUaPaymentModel


    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.BillUa.CompanyName")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.CompanyName, new { ng_model = "paymentMethod.Parameters.CompanyName", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.BillUa.CompanyName") })
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.BillUa.Code")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.CompanyCode, new { ng_model = "paymentMethod.Parameters.CompanyCode", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.BillUa.Code") })
        </div>
    </div>


    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.BillUa.BankName")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.BankName, new { ng_model = "paymentMethod.Parameters.BankName", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.BillUa.BankName") })
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.BillUa.MFO")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.BankCode, new { ng_model = "paymentMethod.Parameters.BankCode", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.BillUa.MFO") })
        </div>
    </div>


    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            @T("Admin.PaymentMethods.BillUa.CreditNumber")
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.Credit, new { ng_model = "paymentMethod.Parameters.Credit", @class = "form-control", validation_input_text = T("Admin.PaymentMethods.BillUa.CreditNumber") })
        </div>
    </div>


    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.BillUa.BillNumber")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.CompanyEssentials, new { ng_model = "paymentMethod.Parameters.CompanyEssentials", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.BillUa.BillNumber") })
        </div>
    </div>

