@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.CashOnDeliveryPaymentModel

<div class="form-group row middle-xs">
    <div class="col-xs-12">
        <div><strong>@(string.Format(T("Admin.PaymentMethods.CashOnDelivery.NeedToCreateDeliveryMethod").ToString(), Model.AvailableShippings))</strong></div>
        @*<div>@T("Admin.PaymentMethods.CashOnDelivery.Instruction") <a href="http://www.advantshop.net/help/pages/install-edost">@T("Admin.PaymentMethods.CashOnDelivery.Link")</a></div>*@
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.PaymentMethods.CahsOnDelivery.AttachedDeliveryMethod")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.ShippingMethodTemplate, Model.ShippingMethodTemplates, new { ng_model = "paymentMethod.Parameters.ShippingMethodTemplate", ng_init= "paymentMethod.Parameters.ShippingMethodTemplate='" + (Model.ShippingMethodTemplate == "0" ? "" : Model.ShippingMethodTemplate) + "'", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.CahsOnDelivery.AttachedDeliveryMethod") })
    </div>
</div>

