@using AdvantShop.Payment
@using AdvantShop.Repository.Currencies
@model AdvantShop.Core.Services.Payment.PaymentMethodAdminModel

@{
    var baseCurrency = CurrencyService.GetAllCurrencies().FirstOrDefault(x => x.Rate == 1f);
    var baseCurrencySymbol = baseCurrency != null ? baseCurrency.Symbol : "BaseCurrency";
}

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.PatmentMethods.Common.PaymentMethodName")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.Name, new { ng_model = "paymentMethod.name", @class = "form-control", required = "required", validation_input_text = T("Admin.PatmentMethods.Common.PaymentMethodName") })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PatmentMethods.Common.PaymentMethodName")">
            <p>@T("Admin.PaymentMethods.Common.NameInTheClient")</p>
            <p>@T("Admin.PaymentMethods.Common.PaymentByPlasticCard")</p>
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.PaymentMethods.Common.Active")
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.Enabled, new { ng_model = "paymentMethod.enabled", ng_init = "paymentMethod.enabled=" + Model.Enabled.ToLowerString(), @class = "adv-checkbox-input" })
            <span data-e2e="PaymentEnabled" class="adv-checkbox-emul"></span>
            @if (!Model.Enabled)
            {
                <span class="link-danger">@T("Admin.PaymentMethods.Common.NotActive")</span>
            }
        </label>
        <help-trigger class="ng-cloak" data-title="@T("Admin.PaymentMethods.Common.Active")">
            @T("Admin.PaymentMethods.Common.OnOrOff")
        </help-trigger>
    </div>
</div>


<div class="form-group row">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.PaymentMethods.Common.MethodActivity")
    </div>
    <div class="col-xs-8 relative">

        <div class="m-b-sm ng-cloak" ng-if="paymentMethod.AvailableCountries != null && paymentMethod.AvailableCountries.length != 0">
            <div data-e2e="PaymentNameCountry" ng-repeat="item in paymentMethod.AvailableCountries track by $index" class="ng-cloak shipping-location-item">
                {{$index != 0 ? ", " : ""}} {{item.Name}} <a href="" ng-click="paymentMethod.deleteAvailableCountry(item.CountryId)" data-e2e="PaymentCountryDel" class="link-invert link-decoration-none fas fa-times"></a>
            </div>
        </div>

        <div class="m-b-sm ng-cloak" ng-if="paymentMethod.AvailableCities != null && paymentMethod.AvailableCities.length != 0">
            <div data-e2e="PaymentNameCity" ng-repeat="item in paymentMethod.AvailableCities track by $index" class="ng-cloak shipping-location-item">
                {{item.Name}} <a href="" ng-click="paymentMethod.deleteAvailableCity(item.CityId)" data-e2e="PaymentCityDel" class="link-invert link-decoration-none fas fa-times"></a>
            </div>
        </div>

        <div class="m-b-sm bold ng-cloak" ng-if="(paymentMethod.AvailableCountries == null || paymentMethod.AvailableCountries.length == 0) && (paymentMethod.AvailableCities == null || paymentMethod.AvailableCities.length == 0)">
            <span class="relative p-r-xs">
                @T("Admin.PaymentMethods.Common.AllCountriesAllCities")
                <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.Common.CitiesAndCountries")">
                    @T("Admin.PaymentMethods.Common.ListOfCountriesAndCities")
                </help-trigger>
            </span>
        </div>


        <div class="row m-b-sm">
            <div class="col-xs-2">@T("Admin.PaymentMethods.Common.Countries")</div>
            <div class="col-xs-9">
                <input type="text" data-e2e="PaymentCountry" class="form-control" ng-model="paymentMethod.newAvailableCountry" style="width: 250px; display: inline-block; vertical-align: top;" autocompleter on-type="country" />
                <button type="button" data-e2e="PaymentCountryAdd" class="btn btn-sm btn-action" ng-disabled="!paymentMethod.newAvailableCountry" ng-click="paymentMethod.addAvailableCountry()">@T("Admin.PaymentMethods.Common.AddCountry")</button>
            </div>
        </div>

        <div class="row m-b-sm">
            <div class="col-xs-2">@T("Admin.PaymentMethods.Common.Cities")</div>
            <div class="col-xs-9">
                <input data-e2e="PaymentCity" type="text" class="form-control" style="width: 250px; display: inline-block; vertical-align: top;"
                       ng-model="paymentMethod.newAvailableCity.name"
                       uib-typeahead="item for items in paymentMethod.findCity($viewValue)"
                       typeahead-template-url="find-city.html"
                       typeahead-on-select="paymentMethod.selectAvailableCity($item)"
                       typeahead-focus-first="false"
                       ng-change="paymentMethod.newAvailableCity.id = undefined" />
                <button type="button" data-e2e="PaymentCityAdd" class="btn btn-sm btn-action" ng-disabled="!paymentMethod.newAvailableCity.name" ng-click="paymentMethod.addAvailableCity()">@T("Admin.PaymentMethods.Common.AddCity")</button>
            </div>
        </div>


    </div>
</div>



<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.PaymentMethods.Common.Type")
    </div>
    <div class="col-xs-6 relative">
        @Model.PaymentTypeLocalized
    </div>
</div>



<div class="form-group row">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.PaymentMethods.Common.Description")
    </div>
    <div class="col-xs-6 relative">
        @Html.TextAreaFor(x => x.Description, new { ng_model = "paymentMethod.description", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.Common.Description")">
            <p>@T("Admin.PaymentMethods.Common.DescriptionOfPaymentMethod")</p>
            <p>@T("Admin.PaymentMethods.Common.CashPayment")</p>
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.PaymentMethods.Common.SortingOrder")
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.SortOrder, new { ng_model = "paymentMethod.sortOrder", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.Common.SortingOrder")">
            @T("Admin.PaymentMethods.Common.OrderOfWithdrawal")
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.PaymentMethods.Common.Icon")
    </div>
    <div class="col-xs-6 relative">
        <img ng-if="paymentMethod.icon != null && paymentMethod.icon.length > 0" ng-src="{{paymentMethod.icon}}" class="m-b-sm" />
        <div>
            <a href=""
               accept="image/*"
               ngf-max-size="15MB"
               ngf-select=""
               ngf-change="paymentMethod.uploadIcon($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
               class="picture-uploader-buttons-add">
                @T("Admin.PaymentMethods.Common.AddPicture")
            </a>
        </div>
        <div class="ng-cloak m-t-xs" ng-if="paymentMethod.icon == null || paymentMethod.icon.length == 0">
            @T("Admin.PaymentMethods.Common.RecommendedSize")<br>@T("Admin.PaymentMethods.Common.Format")
        </div>
        <div class="ng-cloak" ng-if="paymentMethod.icon != null && paymentMethod.icon.length > 0">
            <a href="" class="picture-uploader-buttons-delete link-danger" ng-click="paymentMethod.deleteIcon()">@T("Admin.PaymentMethods.Common.DeletePicture")</a>
        </div>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.PaymentMethods.Common.Markup")
    </div>
    <div class="col-xs-2">
        <div class="input-group">
            @Html.TextBoxFor(x => x.ExtrachargeInPercents, new
            {
                ng_model = "shippingMethod.extrachargeInPercents",
                @class = "form-control",
                type = "number",
                ng_max = "100 ",
                ng_min = "-100",
                validation_input_text = T("Admin.PaymentMethods.Common.Markup")
            })
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" value=""><span>%</span></button>
            </span>
        </div>
    </div>
    <div class="col-xs-1">
        <div style="text-align: center">+</div>
    </div>
    <div class="col-xs-2 relative">
        <div class="input-group">
            @Html.TextBoxFor(x => x.ExtrachargeInNumbers, new
            {
                ng_model = "shippingMethod.extrachargeInNumbers",
                @class = "form-control",
                type = "number",
                validation_input_text = T("Admin.PaymentMethods.Common.Markup")
            })
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" value=""><span>@baseCurrencySymbol</span></button>
            </span>
        </div>
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.Common.Markup")">
            <p>@T("Admin.PaymentMethods.Common.MarkupTypeOfPaymentMethod")</p>
            <p>@T("Admin.PaymentMethods.Common.FixedNumber")</p>
            <p>@T("Admin.PaymentMethods.Common.Percentage")</p>
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.PaymentMethods.Common.Tax")
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.TaxId, Model.Taxes, new { ng_model = "paymentMethod.taxid", ng_init = "paymentMethod.taxid='" + Model.TaxId + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.Common.MarkupType")">
            <p>@T("Admin.PaymentMethods.Common.TaxPaymentMethod")</p>
        </help-trigger>
    </div>
</div>


@if (Model.ShowCurrency)
{

    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            @T("Admin.PaymentMethods.Common.Currency")
        </div>
        <div class="col-xs-6 relative">
            @Html.DropDownListFor(x => x.CurrencyId, Model.Currencies, new { ng_model = "paymentMethod.currencyId", ng_init = "paymentMethod.currencyId='" + Model.CurrencyId + "'", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.Common.Currency") })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.Common.Currency")">
                <p>@T("Admin.PaymentMethods.Common.AssigningTheCurrency")</p>
                <p>@T("Admin.PaymentMethods.Common.Example")</p>
            </help-trigger>
        </div>
    </div>
    if (Model.CurrencyAllAvailable == false && Model.Currencies.Count(x => x.Value.IsNotEmpty()) <= 0)
    {
        <div class="form-group row">
            <div class="col-xs-8">
                <div class="adv-panel-danger">
                    <p>Внимание! В списке валют нет поддерживаемой, данным методом оплаты, валюты. Из-за этого метод будет работать не корректно.</p>
                    <p>Необходимо создать валюту с ISO3 равным 
                        @(Model.CurrencyIso3Available != null ? string.Join(", ", Model.CurrencyIso3Available) : "[Метод использует валюту и не реализовал список поддерживаемых валют]").</p>
                </div>
            </div>
        </div>
    }
}


<script type="text/ng-template" id="find-city.html">
    <a><span>{{match.model.City}}</span> <span ng-if="match.model.Region.length">({{match.model.Region}})</span></a>
</script>