@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.IntellectMoneyMainProtocolPaymentModel


    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.IntellectMoneyMainProtocol.SellerSiteNumber")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.EshopId, new { ng_model = "paymentMethod.Parameters.EshopId", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.IntellectMoneyMainProtocol.SellerSiteNumber").ToString() })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.IntellectMoneyMainProtocol.SellerSiteNumber")">
                @T("Admin.PaymentMethods.IntellectMoneyMainProtocol.SiteNumberWhichCustomerShouldPay")
            </help-trigger>
        </div>
    </div>

    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            @T("Admin.PaymentMethods.IntellectMoneyMainProtocol.PaymentMethod")
        </div>
        <div class="col-xs-6 relative">
            @Html.DropDownListFor(x => x.Preference, Model.Payments, new {ng_model = "paymentMethod.Parameters.Preference", ng_init = "paymentMethod.Parameters.Preference='" + Model.Preference + "'", @class = "form-control"})
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.IntellectMoneyMainProtocol.PaymentMethod")">
                @T("Admin.PaymentMethods.IntellectMoneyMainProtocol.PaymentMethodSelectedWhenPaying")
            </help-trigger>
        </div>
    </div>

    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.IntellectMoneyMainProtocol.SecretKey")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.SecretKey, new {ng_model = "paymentMethod.Parameters.SecretKey", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.IntellectMoneyMainProtocol.SecretKey").ToString() })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.IntellectMoneyMainProtocol.SecretKey")">
                @T("Admin.PaymentMethods.IntellectMoneyMainProtocol.StringOfCharacters")
            </help-trigger>
        </div>
    </div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.PaymentMethods.Platron.SendDataForCheck")
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.SendReceiptData, new { ng_model = "paymentMethod.Parameters.SendReceiptData", ng_init = "paymentMethod.Parameters.SendReceiptData=" + Model.SendReceiptData.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>

<div class="form-group row middle-xs" ng-show="paymentMethod.Parameters.SendReceiptData == true">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Ваш номер ИНН</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.ReceiptDataInn, new { ng_model = "paymentMethod.Parameters.ReceiptDataInn", @class = "form-control" })
    </div>
</div>



