@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.InvoiceBoxPaymentModel


<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.PaymentMethods.InvoiceBox.StoreIdentifier")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.ShopId, new { ng_model = "paymentMethod.Parameters.ShopId", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.InvoiceBox.StoreIdentifier") })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.InvoiceBox.StoreIdentifier")">
            @T("Admin.PaymentMethods.InvoiceBox.ReceivedStoreId")
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.PaymentMethods.InvoiceBox.RegionalCodeStore")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.ShopId2, new { ng_model = "paymentMethod.Parameters.ShopId2", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.InvoiceBox.RegionalCodeStore") })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.InvoiceBox.RegionalCodeStore")">
            @T("Admin.PaymentMethods.InvoiceBox.ReceviedReginaolCode")
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.PaymentMethods.InvoiceBox.SecurityKey")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.SecretKey, new { ng_model = "paymentMethod.Parameters.SecretKey", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.InvoiceBox.SecurityKey").ToString() })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.InvoiceBox.SecurityKey")">
            @T("Admin.PaymentMethods.InvoiceBox.ReceivedSecurityKey")
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.PaymentMethods.OnvoiceBox.TypeOfPayer")
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.TypePayer, Model.TypePayers, new { ng_model = "paymentMethod.Parameters.TypePayer", ng_init = "paymentMethod.Parameters.TypePayer='" + Model.TypePayer + "'", @class = "form-control" })
    </div>
    <help-trigger class="ng-cloak" data-title="@T("Admin.PaymentMethods.OnvoiceBox.TypeOfPayer")">
        @T("Admin.PaymentMethods.InvoiceBox.Attention")
    </help-trigger>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.PaymentMethods.InvoiceBox.TestMode")
    </div>
    <div class="col-xs-6">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.TestMode, new { ng_model = "paymentMethod.Parameters.TestMode", ng_init = "paymentMethod.Parameters.TestMode=" + Model.TestMode.ToLowerString(), @class = "adv-checkbox-input", validation_input_text = T("Admin.PaymentMethods.InvoiceBox.TestMode").ToString() })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak" data-title="@T("Admin.PaymentMethods.InvoiceBox.TestMode")">
            @T("Admin.PaymentMethods.InvoiceBox.TestModePayments")
        </help-trigger>
    </div>
</div>

