@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.ModulbankPaymentModel



<div class="form-group row middle-xs">
    <div class="col-xs-9">
        <div class="adv-panel-info" style="max-width:910px">
            Если у вас нет учетной записи в сервисе Модульбанк, вы можете зарегистрироваться по <a href="https://go.advantshop.net/modulbank" target="_blank">ссылке</a>
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Идентификатор магазина</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.MerchantId, new { ng_model = "paymentMethod.Parameters.ShopId", @class = "form-control", required = "required", validation_input_text = "Идентификатор магазина" })
    </div>
</div>


<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Секретный ключ магазина</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.SecretKey, new { ng_model = "paymentMethod.Parameters.SecretKey", @class = "form-control", required = "required", validation_input_text = "Секретный ключ магазина" })
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        Тестовый режим
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.DemoMode, new { ng_model = "paymentMethod.Parameters.DemoMode", ng_init = "paymentMethod.Parameters.DemoMode=" + Model.DemoMode.ToLowerString(), @class = "adv-checkbox-input", validation_input_text = "Тестовый режим" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span ng-class="{'text-required' : paymentMethod.Parameters.SendReceiptData}">Система налогообложения</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.Taxation, Model.Taxations, new { ng_model = "paymentMethod.Parameters.Taxation", ng_init = "paymentMethod.Parameters.Taxation='" + Model.Taxation + "'", @class = "form-control" })
    </div>
    <help-trigger class="ng-cloak" data-title="Система налогообложения">
        Используется при передаче данных для печати чека
    </help-trigger>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        Передавать данные для печати чека
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.SendReceiptData, new { ng_model = "paymentMethod.Parameters.SendReceiptData", ng_init = "paymentMethod.Parameters.SendReceiptData=" + Model.SendReceiptData.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>