@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.OnPayPaymentModel


    <div class="form-group row">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.OnPay.PaymentFormAdress")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.FormPay, new { ng_model = "paymentMethod.Parameters.FormPay", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.OnPay.PaymentFormAdress").ToString() })
            <div>
                https://secure.onpay.ru/pay/@(Model.FormPay)
            </div>
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.OnPay.PaymentFormAdress")">
                @T("Admin.PaymentMethods.OnPay.LoginForApi")
            </help-trigger>
        </div>
    </div>


    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.OnPay.APIpassword")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.SecretKey, new { ng_model = "paymentMethod.Parameters.SecretKey", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.OnPay.APIpassword").ToString() })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.OnPay.PasswordForAPI")">
                @T("Admin.PaymentMethods.OnPay.APIpassword")
            </help-trigger>
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.OnPay.APIMethods")</span>
        </div>
        <div class="col-xs-6">
            <span class="m-b-sm">
                <label class="adv-radio-label">
                    GET
                    @Html.RadioButton("SendMethod", "GET", Model.SendMethod == "GET", new { @class = "adv-radio-input", ng_model = "shippingMethod.Params.SendMethod" })
                    <span class="adv-radio-emul"></span>
                </label>
            </span>
            <span class="m-b-sm">
                <label class="adv-radio-label">
                    POST
                    @Html.RadioButton("SendMethod", "POST", Model.SendMethod == "POST", new { @class = "adv-radio-input", ng_model = "shippingMethod.Params.SendMethod" })
                    <span class="adv-radio-emul"></span>
                </label>
            </span>
            <help-trigger class="ng-cloak" data-title="@T("Admin.PaymentMethods.OnPay.APIMethods")">
                @T("Admin.PaymentMethods.OnPay.APIMethods")
            </help-trigger>
        </div>
    </div>


    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.OnPay.SignatureMD5")</span>
        </div>
        <div class="col-xs-6">
            <label class="adv-checkbox-label form-label-block">
                @Html.CheckBoxFor(x => x.CheckMd5, new { ng_model = "paymentMethod.Parameters.CheckMd5", ng_init = "paymentMethod.Parameters.CheckMd5=" + Model.CheckMd5.ToLowerString(), @class = "adv-checkbox-input", required = "required", validation_input_text = T("Admin.PaymentMethods.OnPay.SignatureMD5").ToString() })
                <span class="adv-checkbox-emul"></span>
            </label>
            <help-trigger class="ng-cloak" data-title="@T("Admin.PaymentMethods.OnPay.SignatureMD5")">
                @T("Admin.PaymentMethods.OnPay.SignatureMD5ForRequests")
            </help-trigger>
        </div>
    </div>

