@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.PayAnyWayPaymentModel



<div class="form-group row middle-xs">
    <div class="col-xs-9">
        <div class="adv-panel-info" style="max-width:910px">
            Если у вас нет учетной записи в сервисе PayAnyWay (Moneta.ru), вы можете зарегистрироваться по <a href="https://go.advantshop.net/payanyway" target="_blank">ссылке</a>
        </div>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.PaymentMethods.PayAnyWay.ExtendedAccountNumber")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.MerchantId, new { ng_model = "paymentMethod.Parameters.MerchantId", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.PayAnyWay.ExtendedAccountNumber").ToString() })
    </div>
</div>



<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.PaymentMethods.PayAnyWay.DataIntegrityVerificationCode")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.Signature, new { ng_model = "paymentMethod.Parameters.Signature", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.PayAnyWay.DataIntegrityVerificationCode").ToString() })
    </div>
</div>


<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.PaymentMethods.PayAnyWay.TestMode")
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.TestMode, new { ng_model = "paymentMethod.Parameters.TestMode", ng_init = "paymentMethod.Parameters.TestMode=" + Model.TestMode.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>


<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.PaymentMethods.PayAnyWay.PreliminaryChoicePaymentSystem")
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.UnitId, new { ng_model = "paymentMethod.Parameters.UnitId", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.PayAnyWay.PreliminaryChoicePaymentSystem")">
            @T("Admin.PaymentMethods.PayAnyWay.ListOfPaymentSystems")<br><br>
            @T("Admin.PaymentMethods.PayAnyWay.ListOfAvailableSystems") (<a href="https://www.moneta.ru/viewPaymentMethods.htm" target="_blank">https://www.moneta.ru/viewPaymentMethods.htm</a>)
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.PaymentMethods.PayAnyWay.ListOfSystemsWhichShouldDisplayed")
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.LimitIds, new { ng_model = "paymentMethod.Parameters.LimitIds", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.PayAnyWay.ListOfSystemsWhichShouldDisplayed")">
            @T("Admin.PaymentMethods.PayAnyWay.ListOfIdentifiersSystem")<br><br>
            @T("Admin.PaymentMethods.PayAnyWay.Example")        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.PaymentMethods.PayAnyWay.OnlineTicketOffice")
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.UseKassa, new { ng_model = "paymentMethod.Parameters.UseKassa", ng_init = "paymentMethod.Parameters.UseKassa=" + Model.UseKassa.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>