@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.QiwiPaymentModel

    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.Qiwi.NumericIDofProvider")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.ProviderId, new { ng_model = "paymentMethod.Parameters.ProviderId", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.Qiwi.NumericIDofProvider").ToString() })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.Qiwi.NumericIDofProvider")">
                @T("Admin.PaymentMethods.Qiwi.LoginToYourAccount")
            </help-trigger>
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">Rest ID</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.RestId, new { ng_model = "paymentMethod.Parameters.RestId", @class = "form-control", required = "required", validation_input_text = "Rest ID" })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Rest ID">
                <p>@T("Admin.PaymentMethods.Qiwi.ProtocolIdentifier")</p>
                <p>@T("Admin.PaymentMethods.Qiwi.CanGetFromAccount")</p>
            </help-trigger>
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.Qiwi.RestIDPassword")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.Password, new { ng_model = "paymentMethod.Parameters.Password", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.Qiwi.RestIDPassword").ToString() })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.Qiwi.RestIDPassword")">
                <p>@T("Admin.PaymentMethods.Qiwi.Attention")</p>
                <p>@T("Admin.PaymentMethods.Qiwi.CanReceivePasswordInAccount")</p>
            </help-trigger>
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.Qiwi.NotificationPassword")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.PasswordNotify, new { ng_model = "paymentMethod.Parameters.PasswordNotify", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.Qiwi.NotificationPassword").ToString() })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.Qiwi.NotificationPassword")">
                <p>@T("Admin.PaymentMethods.Qiwi.UsedByInterface")</p>
                <p>@T("Admin.PaymentMethods.Qiwi.GetPasswordInAccount")</p>
            </help-trigger>
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.Qiwi.StoreName")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.ProviderName, new { ng_model = "paymentMethod.Parameters.ProviderName", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.Qiwi.StoreName").ToString() })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.Qiwi.StoreName")">
                <p>@T("Admin.PaymentMethods.Qiwi.StoreNameIsStoreName")</p>
                <p>@T("Admin.PaymentMethods.Qiwi.NameIsShouldBeShort")</p>
                <p>@T("Admin.PaymentMethods.Qiwi.Example")</p>
            </help-trigger>
        </div>
    </div>
    