@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.RbkMoneyPaymentModel


<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.PaymentMethods.RbkMoney.MerchantSiteNumber")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.EshopId, new { ng_model = "paymentMethod.Parameters.EshopId", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.RbkMoney.MerchantSiteNumber").ToString() })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.RbkMoney.MerchantSiteNumber")">
            @T("Admin.PaymentMethods.RbkMoney.MerchantSiteNumberWhichBuyerPay")
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.PaymentMethods.RbkMoney.PaymentMethod")
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.Preference, Model.RbkPaymentTypes, new { ng_model = "paymentMethod.Parameters.Preference", ng_init = "paymentMethod.Parameters.Preference='" + Model.Preference + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.RbkMoney.PaymentMethod")">
            @T("Admin.PaymentMethods.RbkMoney.PaymentMethodWillBeSelected")
        </help-trigger>
    </div>
</div>

