@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.SberBankPaymentModel


    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.SberBank.CompanyName")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.CompanyName, new { ng_model = "paymentMethod.Parameters.CompanyName", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.SberBank.CompanyName").ToString() })
            @*<help-trigger class="ng-cloak help-trigger-icon-abs" data-title="титл">
                сообщение
            </help-trigger>*@
        </div>
    </div>


    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.SberBank.SettlementAccount")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.TransAccount, new { ng_model = "paymentMethod.Parameters.TransAccount", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.SberBank.SettlementAccount").ToString() })
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.SberBank.TIN")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.Inn, new { ng_model = "paymentMethod.Parameters.Inn", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.SberBank.TIN").ToString() })
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            @T("Admin.PaymentMethods.SberBank.KPP")
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.Kpp, new { ng_model = "paymentMethod.Parameters.Kpp", @class = "form-control", validation_input_text = T("Admin.PaymentMethods.SberBank.KPP").ToString() })
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.SberBank.BankName")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.BankName, new { ng_model = "paymentMethod.Parameters.BankName", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.SberBank.BankName").ToString() })
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.SberBank.CorrespondentAccount")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.CorAccount, new { ng_model = "paymentMethod.Parameters.CorAccount", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.SberBank.CorrespondentAccount").ToString() })
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.PaymentMethods.SberBank.BIC")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.Bik, new { ng_model = "paymentMethod.Parameters.Bik", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.SberBank.BIC").ToString() })
        </div>
    </div>

