@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.UniversalPayGatePaymentModel

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.PaymentMethods.UniversalPayGate.SellerLogin")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.MerchantLogin, new { ng_model = "paymentMethod.Parameters.MerchantLogin", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.UniversalPayGate.SellerLogin") })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.UniversalPayGate.SellerLogin")">
            @T("Admin.PaymentMethods.UniversalPayGate.EnterVendorLoginSpecifiedInPaySystem")
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.PaymentMethods.UniversalPayGate.Password1")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.Password, new { ng_model = "paymentMethod.Parameters.Password", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.UniversalPayGate.Password1") })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.UniversalPayGate.Password1")">
            @T("Admin.PaymentMethods.UniversalPayGate.Password1Used")
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.PaymentMethods.UniversalPayGate.Password2")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.PasswordNotify, new { ng_model = "paymentMethod.Parameters.PasswordNotify", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.UniversalPayGate.Password2") })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.PaymentMethods.UniversalPayGate.Password2")">
            @T("Admin.PaymentMethods.UniversalPayGate.Password2UsedByPaymentNotification")
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.PaymentMethods.UniversalPayGate.TestMode")
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.IsTest, new { ng_model = "paymentMethod.Parameters.IsTest", ng_init = "paymentMethod.Parameters.IsTest=" + Model.IsTest.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.PaymentMethods.UniversalPayGate.SendDataForCheck")
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.SendReceiptData, new { ng_model = "paymentMethod.Parameters.SendReceiptData", ng_init = "paymentMethod.Parameters.SendReceiptData=" + Model.SendReceiptData.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.PaymentMethods.UniversalPayGate.Url")
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.Code, Model.UniversalPayGates.Select(x => new SelectListItem { Text = x.Name, Value = x.Code }), "Выберите", new { ng_model = "paymentMethod.Parameters.UniversalPayGates", ng_init = "paymentMethod.Parameters.UniversalPayGates='" + Model.UniversalPayGates + "'", @class = "form-control", disabled="disabled" })
        @Html.HiddenFor(x => x.Code)
    </div>
</div>