@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.YandexKassaPaymentModel

<div class="form-group row middle-xs">
    <div class="col-xs-8">
        <div class="adv-panel-info ">
            Если у вас нет учетной записи в сервисе ЮKassa, вы можете зарегистрироваться по <a href="https://go.advantshop.net/yookassa" target="_blank">ссылке</a>
        </div>
    </div>
</div>


<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        Способ подключения
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.Protocol, Model.Protocols, new { ng_model = "paymentMethod.Parameters.Protocol", ng_init = "paymentMethod.Parameters.Protocol='" + Model.Protocol + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Способ подключения">
            Протокол взаимодействия<br />
            Платежный модуль - HTTP<br />
            API - протокол API
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">ShopId</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.ShopId, new { ng_model = "paymentMethod.Parameters.ShopId", @class = "form-control", required = "required", validation_input_text = "ShopId" })
    </div>
</div>



<div class="form-group row middle-xs" ng-if="paymentMethod.Parameters.Protocol == ''">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">ScId</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.ScId, new { ng_model = "paymentMethod.Parameters.ScId", @class = "form-control", required = "required", validation_input_text = "ScId" })
    </div>
</div>


<div class="form-group row middle-xs" ng-if="paymentMethod.Parameters.Protocol != ''">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Секретный ключ</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.SecretKey, new { ng_model = "paymentMethod.Parameters.SecretKey", @class = "form-control", required = "required", validation_input_text = "Секретный ключ" })
    </div>
</div>


<div class="form-group row middle-xs" ng-if="paymentMethod.Parameters.Protocol == ''">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.PaymentMethods.YandexKassa.PasswordForMD5")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.Password, new { ng_model = "paymentMethod.Parameters.Password", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.YandexKassa.PasswordForMD5").ToString() })
    </div>
</div>


<div class="form-group row middle-xs" ng-if="paymentMethod.Parameters.Protocol != ''">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.PaymentMethods.YandexKassa.PaymentMethod")
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.YaPaymentType, Model.YaPaymentTypesNew, new { ng_model = "paymentMethod.Parameters.YaPaymentType", ng_init = "paymentMethod.Parameters.YaPaymentType='" + Model.YaPaymentType + "'", @class = "form-control" })
    </div>
</div>



<div class="form-group row middle-xs" ng-if="paymentMethod.Parameters.Protocol == ''">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.PaymentMethods.YandexKassa.PaymentMethod")
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.YaPaymentType, Model.YaPaymentTypes, new { ng_model = "paymentMethod.Parameters.YaPaymentType", ng_init = "paymentMethod.Parameters.YaPaymentType='" + Model.YaPaymentType + "'", @class = "form-control" })
    </div>
</div>



@*<div class="form-group row middle-xs" ng-if="paymentMethod.Parameters.Protocol == ''">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.PaymentMethods.YandexKassa.DemoMode")
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.DemoMode, new { ng_model = "paymentMethod.Parameters.DemoMode", ng_init = "paymentMethod.Parameters.DemoMode=" + Model.DemoMode.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>*@

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.PaymentMethods.YandexKassa.SendDataForCheck")
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.SendReceiptData, new { ng_model = "paymentMethod.Parameters.SendReceiptData", ng_init = "paymentMethod.Parameters.SendReceiptData=" + Model.SendReceiptData.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>

<div class="form-group row middle-xs" ng-if="paymentMethod.Parameters.YaPaymentType == 'installments' || paymentMethod.Parameters.YaPaymentType == 'CR'">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Минимальная цена</span>
    </div>
    <div class="col-xs-6 relative">
        <div class="input-group">
            @Html.TextBoxFor(x => x.MinimumPrice, new {ng_model = "paymentMethod.Parameters.MinimumPrice", @class = "form-control", required = "required", validation_input_text = "Минимальная цена"})
            <div class="input-group-btn">
                <span class="btn btn-default"><span>@Model.CurrencySymbol</span></span>
            </div>
        </div>
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Минимальная цена">
            Кнопка "Купить в кредит" будет отображаться у товаров превышающих минимальную цену
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs" ng-if="paymentMethod.Parameters.YaPaymentType == 'installments' || paymentMethod.Parameters.YaPaymentType == 'CR'">
    <div class="flex-grow-n col-fixed-size-md">
        Максимальная цена
    </div>
    <div class="col-xs-6 relative">
        <div class="input-group">
            @Html.TextBoxFor(x => x.MaximumPrice, new {ng_model = "paymentMethod.Parameters.MaximumPrice", @class = "form-control", validation_input_text = "Минимальная цена", type = "number"})
            <div class="input-group-btn">
                <span class="btn btn-default"><span>@Model.CurrencySymbol</span></span>
            </div>
        </div>
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Максимальная цена">
            Кнопка "Купить в кредит" будет отображаться у товаров не превышающих максимальную цену.<br/>
            Оставьте поле пустым, если это ограничение не нужно.
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs" ng-if="paymentMethod.Parameters.YaPaymentType == 'installments' || paymentMethod.Parameters.YaPaymentType == 'CR'">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Сумма первого платежа(%)</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.FirstPayment, new { ng_model = "paymentMethod.Parameters.FirstPayment", @class = "form-control", required = "required", validation_input_text = "Сумма первого платежа(%)" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Сумма первого платежа(%)">
            % от стоимости товара составит первый платеж
        </help-trigger>
    </div>
</div>
