@model AdvantShop.Core.Services.Payment.PaymentMethodAdminModel
@{
    Layout = "~/Areas/Admin/Views/Settings/_SettingsLayout.cshtml";
}

<form method="POST" action="@Url.Action("Edit")" novalidate="novalidate" name="form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.PaymentMethodId)
    @Html.HiddenFor(x => x.ModelType)

    <div class="ibox">
        <div class="ibox-content">
            <div class="sticky-page-name" sticky sticky-top="0">
                <div class="page-name-block sticky-page-name-inner">
                    <div class="page-name-block-item-main">
                        <h1 class="page-name-block-text sticky-page-name-text m-b-sm ">
                            @T("Admin.PaymentMethod.Edit.PaymentMethod") - "@Model.Name"
                        </h1>
                        <div data-e2e="PaymentReturn" class="flex middle-xs">
                            <a class="go-back" href="@Url.Action("PaymentMethods", "Settings")">@T("Admin.PaymentMethod.Edit.Return")</a>

                            @if (Model.Instruction != null)
                            {

                                <a href="@Model.Instruction.Item1" target="_blank" class="p-l-sm link-academy">
                                    <span class="adv-panel-info-icon-custom"></span>
                                    <span class="p-l-xs">@Model.Instruction.Item2 </span>
                                </a>
                            }


                        </div>
                    </div>

                    <div class="page-name-block-item-additional">
                        <button type="submit" data-e2e="PaymentAdd" class="btn btn-sm btn-success" data-button-validation disabled ng-disabled="!form.modified">
                            <i class="fa fa-check"></i> @T("Admin.Save")
                        </button>
                        <a href="" class="link-danger m-l-sm" ng-click="paymentMethod.deleteMethod()">@T("Admin.Delete")</a>
                    </div>
                </div>
            </div>

            <div class="m-t" ng-init="paymentMethod.init(@Model.PaymentMethodId, '@Model.Icon')">

                @Html.Partial("_Common", Model)

                @if (Model.PaymentViewPath != null && VirtualPathFactory.Exists(Model.PaymentViewPath))
                {
                    <div class="shipping-item-settings-header inline content-header m-b-md">
                        @T("Admin.PaymentMethods.Edit.MethodSettings")
                    </div>
                    @Html.Partial(Model.PaymentViewPath, Model)
                }

                @Html.Partial("_CommonUrls", Model)
                @if (Model.PaymentKey == "Cash" || Model.PaymentKey == "SberBank" || Model.PaymentKey == "Bill" || Model.PaymentKey == "CashOnDelivery" || Model.PaymentKey == "GiftCertificate" || Model.Instruction != null)
                {
                    <div class="form-group row">
                        <div class="col-xs-9">
                            <div class="adv-panel-info">
                                @if (Model.Instruction != null)
                                {

                                    <a href="@Model.Instruction.Item1" target="_blank">@Model.Instruction.Item2</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</form>

