@model AdvantShop.ViewModel.MyAccount.ChangePasswordViewModel

<form action="" name="myaccountChangePassword" class="myaccount-change-password">
    <div class="h2 myaccount-subtitle">@T("MyAccount.ChangePassword.ChangePassword")</div>
    <span class="form-field-name vertical-interval-small">@T("MyAccount.ChangePassword.PasswordInfo")</span>
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <label class="row middle-xs">
                <span class="col-xs-12 col-sm-4">
                    <span class="form-field-name vertical-interval-xsmall">@T("MyAccount.ChangePassword.NewPassword")</span>
                </span>
                <span class="col-xs-12 col-sm-8">
                    <span class="form-field-input vertical-interval-xsmall">
                        @Html.PasswordFor(x => x.NewPassword, new {autocomplete = "off", @class = "input-small", name = "newPassword", required = "required", data_ng_model = "myaccount.password.newPassword" })
                    </span>
                </span>
            </label>
            <label class="row middle-xs">
                <span class="col-xs-12 col-sm-4">
                    <span class="form-field-name vertical-interval-xsmall">@T("MyAccount.ChangePassword.NewPasswordConfirm")</span>
                </span>
                <span class="col-xs-12 col-sm-8">
                    <span class="form-field-input vertical-interval-xsmall">
                        @Html.PasswordFor(x => x.NewPasswordConfirm, new {autocomplete = "off", @class = "input-small", name = "newPasswordAgain", required = "required", data_ng_model = "myaccount.password.newPasswordConfirm" })
                    </span>
                </span>
            </label>
            <div class="row middle-xs">
                <span class="col-sm-8 col-sm-offset-4 col-xs-12">
                    <span class="form-field-input vertical-interval-xsmall">
                        <button type="button" class="btn btn-middle btn-action" data-button-validation data-button-validation-success="myaccount.changePassword()">@T("MyAccount.ChangePassword.Change")</button>
                    </span>
                </span>
            </div>
        </div>
    </div>
</form>