@model AdvantShop.Core.Services.Catalog.ProductViewModel

@{
    Html.AddAsset("wishlist");
}

<div class="mobile-container-fluid desktop-col-p-v wishlist-page">
    <div class="page-title-row wishlist-title-row">
        <div class="wishlist-title page-title cs-bg-4--mobile">
            <h1 class="main-title">@T("Wishlist.Index.WishListHeader")</h1>
        </div>
    </div>
    @if (Model.Products.Any())
    {
        <div class="products-view products-view-list" data-ng-init="wishlistPage.countObj.count = @Model.Products.Count" data-ng-hide="wishlistPage.countObj.count === 0">
            <div data-wishlist-wrapper="[data-product-view-item]" class="products-view @(AdvantShop.Helpers.MobileHelper.IsMobileEnabled() ? "products-view-tile col-p-v" : "products-view-list") wishlist-page__productview products-view-container">
                @Html.Partial("_ProductView", Model)
            </div>
        </div>
    }
    <div data-ng-hide="wishlistPage.countObj.count > 0" class="wishlist-empty  @(Model.Products.Any() ? "ng-hide" : "")">
        @T("Wishlist.Index.EmptyList")
    </div>
</div>