@model AdvantShop.Web.Admin.Models.Cms.StaticPages.AdminStaticPageModel
@{
    Layout = "~/Areas/Admin/Views/Store/_StoreLayout.cshtml";
}

<form method="POST" action="@(Model.IsEditMode ? Url.Action("Edit") : Url.Action("Add"))" enctype="multipart/form-data" novalidate="novalidate" name="form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => Model.StaticPageId)
    @Html.HiddenFor(x => Model.IsEditMode)

    @Html.Back(T("Admin.StaticPages.AddEdit.AllStaticPages").ToString(), Url.Action("Index", "StaticPages"))

    <div class="m-t-xs m-b sticky-page-name" sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner">
            <div>
                <h2 class="m-t-none m-b-none page-name-block-text sticky-page-name-text">
                    @if (Model.IsEditMode)
                    {
                        <span>@T("Admin.StaticPages.AddEdit.StaticPage")</span> <span>"@Html.Raw(Model.PageName)"</span>
                    }
                    else
                    {
                        @T("Admin.StaticPages.AddEdit.NewStaticPage")
                    }
                </h2>
            </div>
            <div class="page-name-block-item-additional">
                <a href="" class="link-danger m-r-xs" ng-if="@Model.IsEditMode.ToString().ToLower()" ng-click="staticPage.deleteStaticPage(@Model.StaticPageId)">@T("Admin.StaticPages.AddEdit.Delete")</a>
                @if (Model.IsEditMode)
                {
                    @Html.Button(T("Admin.View"), eButtonType.Simple, eButtonSize.Small, eColorType.Default,
                                    @Url.AbsoluteRouteUrl("StaticPage", new { url = Model.UrlPath }), name: "ViewStaticPage", attributes: new[] { "target=\"_blank\"" })
                }

                @Html.Button(T("Admin.Save"), eButtonType.Save, eButtonSize.Small, eColorType.Success, attributes: new[] { "ng-disabled=\"!form.modified\"", "disabled" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="flex-grow-n col-fixed-size-md">
                    <h2 class="fs-lg">@T("Admin.StaticPages.AddEdit.Main")</h2>
                    <div class="">
                    </div>
                </div>
                <div class="flex-grow flex-basis-n flex-width-n">
                    <div class="ibox category-block">
                        <div class="ibox-content category-content border_none">
                            <div class="container-fluid">
                                <div class="row category-row middle-xs">
                                    <div class="col-xs-2">
                                        <label for="BrandName" class="form-label-block"><span class="text-required">@T("Admin.StaticPages.AddEdit.PageTitle")</span></label>
                                    </div>
                                    <div class="col-xs-10">
                                        @Html.TextBoxFor(x => x.PageName, new { @class = "form-control", url_generator = "", url_path = "staticPage.UrlPath", url_generator_enabled = Model.UrlPath.IsNotEmpty() ? "false" : "true", required = "required", ng_model = "staticPage.PageName", validation_input_text = T("Admin.StaticPages.AddEdit.PageTitle") })
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row category-row middle-xs">
                                    <div class="col-xs-2">
                                        <label for="Enabled" class="form-label-block">@T("Admin.StaticPages.AddEdit.Activity")</label>
                                    </div>
                                    <div class="col-xs-10">
                                        <label class="adv-checkbox-label form-label-block">
                                            @Html.CheckBoxFor(x => x.Enabled, new { ng_model = "staticPage.enabled", ng_init = "staticPage.enabled=" + Model.Enabled.ToLowerString(), @class = "adv-checkbox-input" })
                                            <span class="adv-checkbox-emul"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row category-row middle-xs">
                                    <div class="col-xs-2">
                                        <label class="form-label-block">@T("Admin.StaticPages.AddEdit.Parent")</label>
                                    </div>
                                    <div class="col-xs-10">
                                        <span data-e2e="StaticPageParent" data-ng-bind-html="staticPage.parentPageName | sanitize" data-ng-init="staticPage.parentPageName='@Html.AttributeEncode(Model.ParentPageName)'">
                                        </span>
                                        <ui-modal-trigger data-controller="'ModalSelectStaticPageCtrl'" controller-as="ctrl"
                                                          data-on-close="staticPage.changePage(result)"
                                                          data-resolve="{showRoot: true, selected:@Model.StaticPageId, @(Model.ParentId != 0 ? "currentId:" + Model.ParentId : "")}"
                                                          template-url="../areas/admin/content/src/_shared/modal/selectStaticPage/selectStaticPage.html">
                                            <a href="" class="edit"  data-e2e="StaticPageParentLink">@T("Admin.StaticPages.Index.ChooseParent")</a>
                                        </ui-modal-trigger>
                                        @Html.HiddenFor(x => x.ParentId, new { ng_value = "staticPage.parentId", ng_init = "staticPage.parentId=" + Model.ParentId, ng_model = "staticPage.parentId" })

                                        <a href="" ng-if="staticPage.parentId != 0 " ng-click="staticPage.changePage({staticPageId: 0, pageName: '@T("Admin.StaticPages.AddEdit.Root")'})" class="ng-cloak">@T("Admin.StaticPages.Index.RemoveParent")</a>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row category-row middle-xs">
                                    <div class="col-xs-2">
                                        <label for="SortOrder" class="form-label-block">@T("Admin.StaticPages.AddEdit.Sorting")</label>
                                    </div>
                                    <div class="col-xs-10">
                                        @Html.TextBoxFor(x => x.SortOrder, new { @class = "form-control", required = "required", ng_model = "staticPage.sortOrder", validation_input_text = T("Admin.StaticPages.AddEdit.Sorting") })
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row category-row middle-xs">
                                    <div class="col-xs-2">
                                        <label for="IndexAtSiteMap" class="form-label-block">@T("Admin.StaticPages.AddEdit.DisplayInSiteMap")</label>
                                    </div>
                                    <div class="col-xs-10">
                                        <label class="adv-checkbox-label form-label-block">
                                            @Html.CheckBoxFor(x => x.IndexAtSiteMap, new { ng_model = "staticPage.indexAtSiteMap", ng_init = "staticPage.indexAtSiteMap=" + Model.IndexAtSiteMap.ToLowerString(), @class = "adv-checkbox-input" })
                                            <span class="adv-checkbox-emul"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row category-row">
                                    <div class="col-xs-2">
                                        <label for="Description" class="form-label-block m-b-wl">@T("Admin.StaticPages.AddEdit.Text")</label>
                                    </div>
                                    <div class="col-xs-10">
                                        @Html.TextAreaFor(x => x.PageText, new { @class = "wysiwyg", ckeditor = "{height: 600}", ng_model = "staticPage.PageText" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* SEO*@
            <div class="row">
                <div class="flex-grow-n col-fixed-size-md">
                    <h2 class="fs-lg">SEO</h2>
                    <div class="">
                        @T("Admin.StaticPages.AddEdit.SeoParametersAreFilledAutomatically")<br />
                        @*При необходимости вы самостоятельно можете указать SEO параметры такие как: title, h1, keywords, description*@
                    </div>
                </div>
                <div class="flex-grow flex-basis-n flex-width-n">
                    <div class="ibox brand-block">
                        <div class="ibox-content brand-content border_none">

                            <div>
                                <div class="row category-row">
                                    <div class="col-xs-2">
                                        @*@T("Admin.Category.Index.UrlPath")*@
                                        <label for="URL" class="form-label-block"><span class="text-required">@T("Admin.StaticPages.AddEdit.SynonymForURL")</span></label>
                                    </div>
                                    <div class="col-xs-10">
                                        <label class="input-group form-label-block">
                                            <span class="input-group-addon fs-xs">@(SettingsMain.SiteUrl)/pages/</span>
                                            @Html.TextBoxFor(x => x.UrlPath, new { @class = "form-control", ng_model = "staticPage.UrlPath", id = "URL", required = "required", validation_input_text = T("Admin.StaticPages.AddEdit.SynonymForURL") })
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-offset-2">
                                    <label class="adv-checkbox-label">
                                        @Html.CheckBoxFor(x => x.DefaultMeta, new { ng_model = "staticPage.defaultMeta", ng_init = "staticPage.defaultMeta=" + Model.DefaultMeta.ToString().ToLower(), @class = "adv-checkbox-input" })
                                        <span class="adv-checkbox-emul" data-e2e="DefaultMetaCheckbox"></span>
                                        @T("Admin.StaticPages.AddEdit.UseMetaForDefault")
                                    </label>
                                </div>
                            </div>
                            <div class="brand-seo-custom-block ng-cloak m-t-md" ng-if="!staticPage.defaultMeta">
                                <div>
                                    <div class="row category-row middle-xs">
                                        <div class="col-xs-2">
                                            <label class="form-label-block text-required" for="SeoTitle">@T("Admin.Category.Index.SeoTitle")</label>
                                        </div>
                                        <div class="col-xs-10">
                                            @Html.TextBoxFor(x => x.SeoTitle, 
                                                new
                                                {
                                                    @class = "form-control", 
                                                    ng_model = "staticPage.seoTitle", 
                                                    textcomplete = "",
                                                    textcomplete_data = Html.Action("MetaVariablesComplete", "Common", new { type = AdvantShop.SEO.MetaType.StaticPage }),
                                                    required = "required",
                                                    validation_input_text = T("Admin.Category.Index.SeoTitle").ToString()
                                                })
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="row category-row middle-xs">
                                        <div class="col-xs-2">
                                            <label class="form-label-block text-required" for="SeoH1">@T("Admin.Category.Index.SeoH1")</label>
                                        </div>
                                        <div class="col-xs-10">
                                            @Html.TextBoxFor(x => x.SeoH1, 
                                                new
                                                {
                                                    @class = "form-control", 
                                                    ng_model = "staticPage.seoH1",
                                                    textcomplete = "", 
                                                    textcomplete_data = Html.Action("MetaVariablesComplete", "Common", new { type = AdvantShop.SEO.MetaType.StaticPage }),
                                                    required = "required",
                                                    validation_input_text = T("Admin.Category.Index.SeoH1").ToString()
                                                })
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="row category-row middle-xs">
                                        <div class="col-xs-2">
                                            <label class="form-label-block" for="SeoKeywords">@T("Admin.Category.Index.SeoKeywords")</label>
                                        </div>
                                        <div class="col-xs-10">
                                            @Html.TextAreaFor(x => x.SeoKeywords, new { @class = "form-control", ng_model = "staticPage.seoKeywords", textcomplete = "", textcomplete_data = Html.Action("MetaVariablesComplete", "Common", new { type = AdvantShop.SEO.MetaType.StaticPage }) })
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="row category-row middle-xs">
                                        <div class="col-xs-2">
                                            <label class="form-label-block" for="SeoDescription">@T("Admin.Category.Index.SeoDescription")</label>
                                        </div>
                                        <div class="col-xs-10">
                                            @Html.TextAreaFor(x => x.SeoDescription, new { @class = "form-control", ng_model = "staticPage.seoDescription", textcomplete = "", textcomplete_data = Html.Action("MetaVariablesComplete", "Common", new { type = AdvantShop.SEO.MetaType.StaticPage }) })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-offset-2">
                                        @Html.Action("MetaVariablesDescription", "Common", new { type = AdvantShop.SEO.MetaType.StaticPage })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
