@model AdvantShop.Areas.Mobile.Models.Home.LogoMobileModel
@using AdvantShop.Core.Services.Configuration.Settings;

@if ((Model.LogoType == SettingsMobile.eLogoType.Text && Model.Text.IsNotEmpty()) || (Model.LogoType != SettingsMobile.eLogoType.Text && Model.ImgSource.IsNotEmpty()))
{
    <a href="@UrlService.GetUrl()" class="mobile-header__logo-link header-link">
        @if (Model.LogoType == SettingsMobile.eLogoType.Text)
        {
            @Model.Text
        }
        else
        {
            <img src="@Model.ImgSource" alt="@Model.LogoAlt" @Html.Raw(Model.Width > 0 ? "width=\"" + Model.Width + "\"" : "") @Html.Raw(Model.Height > 0 ? "height=\"" + Model.Height + "\"" : "")/>
        }
    </a>
}

