@using AdvantShop.Web.Admin.Models.Settings.CatalogSettings

<div ng-form="" name="formRatio" class="ratio" id="ratio" bs-modifiable="false">
    <div class="m-b-lg">
        <div class="sticky-page-name  m-t-n-xs" sticky sticky-top="0">
            <div class="page-name-block sticky-page-name-inner">
                <div class="page-name-block-item-main flex middle-xs m-t-none">
                    <h3 class="sticky-page-name-text bold" data-e2e="PriceSettingTitle">
                        @T("Admin.Settings.Catalog.PriceRegulation")
                    </h3>
                    <a href="https://www.advantshop.net/help/pages/price-regulation" target="_blank" class="p-l-sm p-b-xs link-academy link-invert inline-flex middle-xs">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="18" height="18" fill="#989a9b" class="m-r-xs">
                        <path d="M20.005,512c-5.097,0-10.116-1.948-13.925-5.641c-5.845-5.666-7.672-14.309-4.621-21.855l45.411-112.333  C16.162,332.253,0,285.425,0,236c0-63.375,26.855-122.857,75.62-167.489C123.891,24.331,187.952,0,256,0  s132.109,24.331,180.38,68.511C485.145,113.143,512,172.625,512,236c0,45.448-14.04,89.577-40.602,127.615  c-6.325,9.057-18.792,11.271-27.849,4.947s-11.271-18.792-4.947-27.849C460.452,309.425,472,273.215,472,236  c0-108.075-96.897-196-216-196S40,127.925,40,236c0,43.783,15.577,85.2,45.046,119.773c4.834,5.671,6.115,13.561,3.321,20.47  l-31.366,77.589l91.345-40.266c5.063-2.231,10.826-2.267,15.916-0.095C193.082,425.766,223.946,432,256,432  c36.892,0,73.299-8.587,105.286-24.832c9.85-5,21.887-1.072,26.889,8.775c5.001,9.849,1.073,21.887-8.775,26.889  C341.828,461.914,299.157,472,256,472c-34.48,0-67.835-6.191-99.276-18.413L28.068,510.301C25.474,511.444,22.728,512,20.005,512z   M276,325V217c0-11.046-8.954-20-20-20s-20,8.954-20,20v108c0,11.046,8.954,20,20,20S276,336.046,276,325z M256,128  c-11.046,0-20,8.954-20,20l0,0c0,11.046,8.954,20,20,20s20-8.954,20-20l0,0C276,136.954,267.046,128,256,128z"></path>
                                </svg>
                        <span>Инструкция. Регулирование цен</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row m-b">
            <div class="col-xs-2">
                <select name="action" class="form-control" ng-model="settingsCatalog.priceRegulationAction" data-e2e="PriceRegulationSelect">
                    <option value="@PriceRegulationAction.Increment">@T("Admin.Settings.Catalog.PriceRegulation.Increment")</option>
                    <option value="@PriceRegulationAction.Decrement">@T("Admin.Settings.Catalog.PriceRegulation.Decrement")</option>
                    <option value="@PriceRegulationAction.IncBySupply">@T("Admin.Settings.Catalog.PriceRegulation.IncBySupply")</option>
                </select>
            </div>
            <div class="col-xs">
                <div class="flex">
                    <div>
                        <span class="m-r-sm">@T("Admin.Settings.Catalog.PriceRegulation.By")</span> <input type="text" name="value" ng-model="settingsCatalog.priceRegulationValue" data-e2e="PriceRegulationValue" ng-value="0" class="form-control inline" style="width: 140px" />
                    </div>
                    <div class="col-xs-4 col-sm-4 col-wl-3">
                        <select name="valueOption" class="form-control" ng-model="settingsCatalog.priceRegulationValueOption" data-e2e="PriceRegulationSelectOption">
                            <option value="@PriceRegulationValueOption.Percent">%</option>
                            <option value="@PriceRegulationValueOption.AbsoluteValue">@T("Admin.Settings.Catalog.PriceRegulation.AbsoluteValue")</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                @T("Admin.Settings.Catalog.PriceRegulation.SelectionOfGoods")
            </div>
            <div class="col-xs-6">
                <div>
                    <label class="adv-radio-label m-b-xs">
                        @T("Admin.Settings.Catalog.PriceRegulation.AllGoods")
                        <input type="radio" name="chooseProducts" class="adv-radio-input" ng-model="settingsCatalog.priceRegulationChooseProducts" ng-value="false" checked />
                        <span class="adv-radio-emul" data-e2e="PriceRegulationAllCheckbox"></span>
                    </label>
                </div>
                <div>
                    <label class="adv-radio-label">
                        @T("Admin.Settings.Catalog.PriceRegulation.GoodsFromCategories")
                        <input type="radio" name="chooseProducts" class="adv-radio-input" ng-model="settingsCatalog.priceRegulationChooseProducts" ng-value="true" />
                        <span class="adv-radio-emul" data-e2e="PriceRegulationCatCheckbox"></span>
                    </label>

                    <div class="m-t" ng-if="settingsCatalog.priceRegulationChooseProducts">
                        <div data-js-tree
                             data-tree-ajax="catalog/categoriestree"
                             data-tree-search="{ajax: {url: 'catalog/categoriesTreeBySearchRequest'}}"
                             data-tree-core=""
                             data-tree-events="select_node:settingsCatalog.priceRegulationTreeCallbacks.select_node;deselect_node:settingsCatalog.priceRegulationTreeCallbacks.deselect_node;"
                             tree-plugins="checkbox,search"
                             tie-selection="false"></div>
                    </div>
                </div>
            </div>
        </div>

        <a href="" class="btn btn-success disabled-success m-b-lg" ladda="settingsCatalog.priceRegulationIsRun" ng-click="settingsCatalog.changePrices();" data-e2e="PriceRegulationOk">@T("Admin.Settings.Catalog.PriceRegulation.ChangePrices")</a>
    </div>
  
    <div>
        <div class="sticky-page-name  m-t-n-xs" sticky sticky-top="0">
            <div class="page-name-block sticky-page-name-inner">
                <div class="page-name-block-item-main m-t-none">
                    <div class="flex middle-xs">
                        <h3 class="sticky-page-name-text bold" data-e2e="CategoryDiscountSettingTitle">
                            @T("Admin.Settings.Catalog.CategoryDiscountRegulation")
                        </h3>
                        <a href="https://www.advantshop.net/help/pages/price-regulation" target="_blank" class="p-l-sm p-b-xs link-academy link-invert inline-flex middle-xs">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="18" height="18" fill="#989a9b" class="m-r-xs">
                            <path d="M20.005,512c-5.097,0-10.116-1.948-13.925-5.641c-5.845-5.666-7.672-14.309-4.621-21.855l45.411-112.333  C16.162,332.253,0,285.425,0,236c0-63.375,26.855-122.857,75.62-167.489C123.891,24.331,187.952,0,256,0  s132.109,24.331,180.38,68.511C485.145,113.143,512,172.625,512,236c0,45.448-14.04,89.577-40.602,127.615  c-6.325,9.057-18.792,11.271-27.849,4.947s-11.271-18.792-4.947-27.849C460.452,309.425,472,273.215,472,236  c0-108.075-96.897-196-216-196S40,127.925,40,236c0,43.783,15.577,85.2,45.046,119.773c4.834,5.671,6.115,13.561,3.321,20.47  l-31.366,77.589l91.345-40.266c5.063-2.231,10.826-2.267,15.916-0.095C193.082,425.766,223.946,432,256,432  c36.892,0,73.299-8.587,105.286-24.832c9.85-5,21.887-1.072,26.889,8.775c5.001,9.849,1.073,21.887-8.775,26.889  C341.828,461.914,299.157,472,256,472c-34.48,0-67.835-6.191-99.276-18.413L28.068,510.301C25.474,511.444,22.728,512,20.005,512z   M276,325V217c0-11.046-8.954-20-20-20s-20,8.954-20,20v108c0,11.046,8.954,20,20,20S276,336.046,276,325z M256,128  c-11.046,0-20,8.954-20,20l0,0c0,11.046,8.954,20,20,20s20-8.954,20-20l0,0C276,136.954,267.046,128,256,128z"></path>
                                </svg>
                            <span>Инструкция. Регулирование цен</span>
                        </a>
                    </div>
                    <div class="m-t-xs">@T("Admin.Settings.Catalog.CategoryDiscountRegulationHint")</div>
                </div>
            </div>
        </div>

        <div class="row m-b">
            <div class="col-xs">
                <div class="flex">
                    <div>
                        <span class="m-r-sm">@T("Admin.Settings.Catalog.PriceRegulationDiscount")</span> <input type="text" name="value" ng-model="settingsCatalog.categoryDiscountRegulationValue" data-e2e="CategoryDiscountRegulationValue" ng-value="0" class="form-control inline" style="width: 140px" />
                    </div>
                    <div class="col-xs-2">
                        <select name="valueOption" class="form-control" ng-model="settingsCatalog.categoryDiscountRegulationValueOption" data-e2e="CategoryDiscountRegulationSelectOption">
                            <option value="@CategoryDiscountRegulationValueOption.Percent">%</option>
                            <option value="@CategoryDiscountRegulationValueOption.AbsoluteValue">@T("Admin.Settings.Catalog.PriceRegulation.AbsoluteValue")</option>
                        </select>
                    </div>
                    <help-trigger class="ng-cloak" style="margin-top:auto; margin-bottom:auto;" data-title='@T("Admin.Settings.Catalog.PriceRegulationDiscount")'>
                        <div class="help-content">
                            @T("Admin.Settings.Catalog.PriceRegulation.AbsoluteValueHelp")
                        </div>
                    </help-trigger>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                @T("Admin.Settings.Catalog.PriceRegulation.SelectionOfGoods")
            </div>
            <div class="col-xs-6">
                <div>
                    <label class="adv-radio-label m-b-xs">
                        @T("Admin.Settings.Catalog.PriceRegulation.AllGoods")
                        <input type="radio" name="categoryDiscountRegulationChooseProducts" class="adv-radio-input" ng-model="settingsCatalog.categoryDiscountRegulationChooseProducts" ng-value="false" checked />
                        <span class="adv-radio-emul" data-e2e="CategoryDiscountRegulationAllCheckbox"></span>
                    </label>
                </div>
                <div class="relative">
                    <label class="adv-radio-label">
                        @T("Admin.Settings.Catalog.PriceRegulation.GoodsFromCategories")
                        <input type="radio" name="categoryDiscountRegulationChooseProducts" class="adv-radio-input" ng-model="settingsCatalog.categoryDiscountRegulationChooseProducts" ng-value="true"/>
                        <span class="adv-radio-emul" data-e2e="CategoryDiscountRegulationCatCheckbox"></span>
                    </label>

                    <help-trigger class="ng-cloak">
                        <div class="help-content">
                            @T("Admin.Settings.Catalog.CategoryDiscountRegulationHint")
                        </div>
                    </help-trigger>

                    <div class="m-t" ng-if="settingsCatalog.categoryDiscountRegulationChooseProducts">
                        <div data-js-tree
                             data-tree-search="{ajax: {url: 'catalog/categoriesTreeBySearchRequest'}}"
                             data-tree-ajax="catalog/categoriestree"
                             data-tree-core=""
                             data-tree-events="select_node:settingsCatalog.categoryDiscountRegulationTreeCallbacks.select_node;deselect_node:settingsCatalog.categoryDiscountRegulationTreeCallbacks.deselect_node;"
                             tree-plugins="checkbox,search"
                             tie-selection="false"></div>
                    </div>
                </div>
            </div>
        </div>

        <a href="" class="btn btn-success disabled-success" ladda="settingsCatalog.categoryDiscountRegulationIsRun" ng-click="settingsCatalog.changeDiscounts();" data-e2e="CategoryDiscountRegulationOk">@T("Admin.Settings.Catalog.PriceRegulation.ChangeDiscounts")</a>
    </div>
</div>