@model AdvantShop.Web.Admin.ViewModels.Triggers.TriggersViewModel
@{
    Layout = "~/Areas/Admin/Views/Triggers/_TriggersLayout.cshtml";
}

<div class="ibox">
    <uib-tabset active uid="triggersTab" on-select-batch="triggers.floatHeader = tab.heading;">
        <uib-tab index="'triggers'" heading="@T("Admin.Triggers.Index.Triggers")" classes="ng-tab">

            @if (Model.TriggersLimitation)
            {
                <p>
                    @T("Admin.Triggers.Index.Triggers"): @Model.TriggersCount / @Model.TriggersLimit
                    @Html.ActionLink(T("Admin.Settings.Users.ManagersLimitation.IncreaseTariff").ToString(), "ChangeTariff", "Service")
                </p>
            }

            <ui-grid-custom grid-unique-id="gridTriggers"
                            grid-options="triggers.gridTriggersOptions"
                            grid-url="'triggers/getTriggersPlugged'"
                            grid-inplace-url="'triggers/inplaceTriggerPlugged'">
            </ui-grid-custom>
        </uib-tab>
        <uib-tab index="'categories'" heading="@T("Admin.Triggers.Index.Categories")" classes="ng-tab">
            <div class="sticky-page-name" sticky sticky-top="0">
                <div class="page-name-block sticky-page-name-inner">
                    <div class="page-name-block-item-main">
                        <h1 class="page-name-block-text sticky-page-name-text inline bottom-cell m-r-xs">
                            @T("Admin.Triggers.Categories.Title")
                        </h1>
                    </div>
                    <div class="page-name-block-item-additional">
                        <ui-modal-trigger data-controller="'ModalAddEditCategoryCtrl'" controller-as="ctrl" data-on-close="triggers.grid.fetchData()"
                                            template-url="../areas/admin/content/src/triggers/modal/addEditCategory/addEditCategory.html">
                            <button class="btn btn-sm btn-success" data-e2e="AddCategory" type="button"
                                    disabled ng-disabled="!triggers.gridCategoriesInited">
                                <span class="fa fa-plus"></span>
                                @T("Admin.Triggers.Categories.AddCategory")
                            </button>
                        </ui-modal-trigger>
                    </div>
                </div>
            </div>
            <ui-grid-custom grid-unique-id="grid"
                            grid-row-identificator="'Id'"
                            grid-on-init="triggers.gridCategoriesOnInit(grid)"
                            grid-options="triggers.gridCategoriesOptions"
                            grid-url="'triggers/getcategories'"
                            grid-inplace-url="'triggers/inplacecategory'"
                            grid-extend-ctrl="triggers">
                <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="triggers.grid.gridOptions.TotalString">
                </ui-grid-custom-footer>
            </ui-grid-custom>
        </uib-tab>
    </uib-tabset>
</div>
