@model AdvantShop.Web.Admin.Models.Partners.PartnerEditModel

<div class="form-group">
    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.PaymentType")</label>
                </div>
                <div class="col-xs-12">
                    @Html.DropDownListFor(x => x.Partner.NaturalPerson.PaymentTypeId, Model.PaymentTypes, new { @class = "form-control", ng_model = "partner.instance.partner.naturalPerson.paymentTypeId" })
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.PaymentAccountNumber")</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.NaturalPerson.PaymentAccountNumber, new { @class = "form-control", ng_model = "partner.instance.partner.naturalPerson.paymentAccountNumber" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-xs-12">
            @T("Admin.Partners.Partner.NaturalPerson.PassportData")
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.LastName")</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.NaturalPerson.LastName, new { @class = "form-control", ng_model = "partner.instance.partner.naturalPerson.lastName" })
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.FirstName")</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.NaturalPerson.FirstName, new { @class = "form-control", ng_model = "partner.instance.partner.naturalPerson.firstName" })
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.Patronymic")</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.NaturalPerson.Patronymic, new { @class = "form-control", ng_model = "partner.instance.partner.naturalPerson.patronymic" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-xs-2">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.NaturalPerson.PassportSeria")</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.NaturalPerson.PassportSeria, new { @class = "form-control", ng_model = "partner.instance.partner.naturalPerson.passportSeria" })
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.NaturalPerson.PassportNumber")</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.NaturalPerson.PassportNumber, new { @class = "form-control", ng_model = "partner.instance.partner.naturalPerson.passportNumber" })
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.NaturalPerson.PassportWhoGive")</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.NaturalPerson.PassportWhoGive, new { @class = "form-control", ng_model = "partner.instance.partner.naturalPerson.passportWhoGive" })
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.NaturalPerson.PassportWhenGive")</label>
                </div>
                <div class="col-xs-12">
                    <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y', startDateFormat: 'Y-m-d', wrap: true}">
                        <span class="flatpickr-custom-wrap">
                            @Html.TextBoxFor(x => x.Partner.NaturalPerson.PassportWhenGive, new { @class = "form-control", ng_model = "partner.instance.partner.naturalPerson.passportWhenGive", ng_flatpickr_input = "" })
                            <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                        </span>
                        <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-xs-10">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.NaturalPerson.RegistrationAddress")</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.NaturalPerson.RegistrationAddress, new { @class = "form-control", ng_model = "partner.instance.partner.naturalPerson.RegistrationAddress" })
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.NaturalPerson.Zip")</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.NaturalPerson.Zip, new { @class = "form-control", ng_model = "partner.instance.partner.naturalPerson.zip" })
                </div>
            </div>
        </div>
    </div>
</div>
