@using AdvantShop.Core.Services.Partners;
@model AdvantShop.Web.Admin.Models.Partners.PartnerEditModel
@{
}

<div class="form-group">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs" ng-bind="partner.instance.partner.type === '@EPartnerType.NaturalPerson' ? 'ФИО' : 'Наименование'"></label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.Name, new { @class = "form-control", ng_model = "partner.instance.partner.name" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.Phone")</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.Phone, new { @class = "form-control", ng_model = "partner.instance.partner.phone", mask_control = "",  mask_control_preset = "phone" })
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.City")</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.City, new { @class = "form-control", ng_model = "partner.instance.partner.city" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs text-required">Email</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.Email, new { @class = "form-control", ng_model = "partner.instance.partner.email", pattern = "^([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z0-9-.]+)$", required = "", validation_input_text = "Email" })
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            @if (!Model.IsEditMode)
            {
                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.Password")</label>
                    </div>
                    <div class="col-xs-12">
                        @Html.PasswordFor(x => x.Partner.Password, new { @class = "form-control", ng_model = "partner.instance.partner.password", autocomplete = "off" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-xs-12 m-t">
            <div class="partner-type-wrap inline" ng-init="partner.instance.partner.type='@(Model.IsEditMode ? Model.Partner.Type : EPartnerType.NaturalPerson)'">
                <div data-e2e="partnerTypeLegalEntity" class="partner-type-label"
                     ng-click="partner.instance.partner.type = '@EPartnerType.LegalEntity'"
                     ng-class="{'selected':partner.instance.partner.type === '@EPartnerType.LegalEntity'}">
                    <span>@EPartnerType.LegalEntity.Localize()</span>
                </div>
                <div data-e2e="partnerTypeNaturalPerson" class="partner-type-label"
                     ng-click="partner.instance.partner.type = '@EPartnerType.NaturalPerson'"
                     ng-class="{'selected':partner.instance.partner.type === '@EPartnerType.NaturalPerson'}">
                    <span>@EPartnerType.NaturalPerson.Localize()</span>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.IsEditMode && !Model.Partner.RegistrationComplete)
{
    <div ng-if="!partner.instance.forceRegistration">
        <div class="text-danger">
            Партнер не завершил регистрацию
        </div>
        <span class="link ng-cloak" ng-click="partner.instance.forceRegistration = true">
            <span ng-if="partner.instance.partner.type == '@EPartnerType.LegalEntity'">Указать данные юридического лица</span>
            <span ng-if="partner.instance.partner.type == '@EPartnerType.NaturalPerson'">Указать данные физического лица</span>
        </span>
    </div>
}
<div @Html.Raw(Model.IsEditMode && !Model.Partner.RegistrationComplete ? "ng-if=\"partner.instance.forceRegistration\"" : string.Empty)>
    <div ng-switch="partner.instance.partner.type">
        <div ng-switch-when="@EPartnerType.LegalEntity">
            @Html.Partial("_EditLegalEntity", Model)
        </div>
        <div ng-switch-when="@EPartnerType.NaturalPerson">
            @Html.Partial("_EditNaturalPerson", Model)
        </div>
    </div>
</div>