@model AdvantShop.Web.Admin.Models.Partners.PartnerEditModel

<div class="form-group">
    <div class="row">
        <div class="col-xs-12">
            <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.LegalEntity.CompanyName")</label>
        </div>
        <div class="col-xs-12">
            @Html.TextBoxFor(x => x.Partner.LegalEntity.CompanyName, new { @class = "form-control", ng_model = "partner.instance.partner.legalEntity.companyName" })
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.LegalEntity.INN")</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.LegalEntity.INN, new { @class = "form-control", ng_model = "partner.instance.partner.legalEntity.inn" })
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.LegalEntity.KPP")</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.LegalEntity.KPP, new { @class = "form-control", ng_model = "partner.instance.partner.legalEntity.kpp" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-xs-12">
            <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.LegalEntity.LegalAddress")</label>
        </div>
        <div class="col-xs-12">
            @Html.TextBoxFor(x => x.Partner.LegalEntity.LegalAddress, new { @class = "form-control", ng_model = "partner.instance.partner.legalEntity.legalAddress" })
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-xs-12">
            <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.LegalEntity.ActualAddress")</label>
        </div>
        <div class="col-xs-12">
            @Html.TextBoxFor(x => x.Partner.LegalEntity.ActualAddress, new { @class = "form-control", ng_model = "partner.instance.partner.legalEntity.actualAddress" })
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.LegalEntity.SettlementAccount")</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.LegalEntity.SettlementAccount, new { @class = "form-control", ng_model = "partner.instance.partner.legalEntity.settlementAccount" })
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.LegalEntity.CorrespondentAccount")</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.LegalEntity.CorrespondentAccount, new { @class = "form-control", ng_model = "partner.instance.partner.legalEntity.correspondentAccount" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.LegalEntity.Bank")</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.LegalEntity.Bank, new { @class = "form-control", ng_model = "partner.instance.partner.legalEntity.bank" })
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.LegalEntity.BIK")</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.LegalEntity.BIK, new { @class = "form-control", ng_model = "partner.instance.partner.legalEntity.bik" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.LegalEntity.Director")</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.LegalEntity.Director, new { @class = "form-control", ng_model = "partner.instance.partner.legalEntity.director" })
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.LegalEntity.Accountant")</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.LegalEntity.Accountant, new { @class = "form-control", ng_model = "partner.instance.partner.legalEntity.accountant" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-xs-10">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.LegalEntity.PostAddress")</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.LegalEntity.PostAddress, new { @class = "form-control", ng_model = "partner.instance.partner.legalEntity.postAddress" })
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.LegalEntity.Zip")</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.LegalEntity.Zip, new { @class = "form-control", ng_model = "partner.instance.partner.legalEntity.zip" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.LegalEntity.Phone")</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.LegalEntity.Phone, new { @class = "form-control", ng_model = "partner.instance.partner.legalEntity.phone", mask_control = "",  mask_control_preset = "phone" })
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label text-left m-b-xs">@T("Admin.Partners.Partner.LegalEntity.ContactPerson")</label>
                </div>
                <div class="col-xs-12">
                    @Html.TextBoxFor(x => x.Partner.LegalEntity.ContactPerson, new { @class = "form-control", ng_model = "partner.instance.partner.legalEntity.contactPerson" })
                </div>
            </div>
        </div>
    </div>
</div>
