@model AdvantShop.Web.Admin.Models.Partners.PartnerEditModel
@{
    var partner = Model.Partner;
}
<div data-ng-controller="PartnerCtrl as partner">
    <form method="POST" action="@Url.Action("AddEdit")" novalidate="novalidate" name="addEditPartnerForm">
        @Html.AntiForgeryToken()

        <div ng-init="partner.initPartner('@Model.PartnerId', @Model.IsEditMode.ToLowerString())">
            <input name="Id" type="hidden" value="{{partner.intstance.partner.id}}" />
            <input name="IsEditMode" type="hidden" value="{{partner.intstance.isEditMode}}" />
            <input name="Partner.Id" type="hidden" value="{{partner.instance.id}}" />
        </div>

        <div class="sticky-page-name" sticky sticky-top="0">
            <div class="page-name-block sticky-page-name-inner">
                <div class="page-name-block-item-main">
                    <h1 class="page-name-block-text sticky-page-name-text inline order-header-item order-header-item-name">
                        @if (!Model.IsEditMode)
                        {
                            <span>@T("Admin.Partners.NewPartner")</span>
                        }
                        else if (partner != null)
                        {
                            <span>@partner.Name</span>
                        }
                    </h1>
                </div>
                <div class="page-name-block-item-additional">
                    <div>
                        @if (Model.IsEditMode)
                        {
                            <a href="" class="link-danger m-r-sm" ng-click="partner.delete()">@T("Admin.Delete")</a>
                        }
                        <button type="button" class="btn btn-sm btn-success" data-e2e="btnSave" button-validation="" ng-disabled="!addEditPartnerForm.modified"
                                button-validation-success="partner.savePartner(addEditPartnerForm)">
                            <span class="fa fa-check"></span>&nbsp;@T("Admin.Save")
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-9 col-wl-10">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="ibox category-block">
                            <div class="ibox-content category-content border_none">
                                @Html.Partial("_EditPartner", Model)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-3 col-wl-2">
                @Html.Partial("_EditPartnerRightBlock", Model)
            </div>
        </div>
    </form>
</div>