@using AdvantShop.Core.Services.Admin

@model AdvantShop.Web.Admin.ViewModels.Partners.PartnersListViewModel
@{
    Layout = "~/Areas/Admin/Views/Partners/_PartnersLayout.cshtml";
}

@if (AdminAreaTemplate.Current == null)
{
    //adminv2
    <div class="sticky-page-name" sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner">
            <div class="page-name-block-item-main">
                <h1 class="page-name-block-text sticky-page-name-text m-b-xs">
                    @T("Admin.Partners.Index.Title")
                </h1>
            </div>
            <div class="page-name-block-item-additional">
                <partner-info-trigger class="pull-right">
                    <button data-e2e="AddNewPartner" class="btn btn-sm btn-success" type="button" disabled ng-disabled="partners.couponTplExists === false">
                        <span class="fa fa-plus"></span> @T("Admin.Partners.Index.AddPartner")
                    </button>
                </partner-info-trigger>
                @*<div class="pull-right">
                    <div class="flex middle-xs">
                        <div class="dropdown m-r-sm">
                            <button class="btn btn-sm btn-success dropdown-toggle" id="reportsDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Отчеты
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="reportsDropdown">
                                <li>
                                    <ui-modal-trigger data-controller="'ModalPartnersReportCtrl'" controller-as="ctrl" size="small"
                                                      template-url="../areas/admin/content/src/partners/modals/partnersReport/partnersReport.html"
                                                      data-resolve="{params: {dateFrom: '@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd")', dateTo: '@DateTime.Now.ToString("yyyy-MM-dd")'}}">
                                        <a href="">Отчет по партнерам</a>
                                    </ui-modal-trigger>
                                </li>
                                <li>
                                    <a href="@Url.Action("PayoutReports", "PartnersReport")">Отчеты по выплатам партнерам</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
}
else
{
    //adminv3
    @section BlockAdditional {
        <partner-info-trigger class="pull-right">
            <button data-e2e="AddNewPartner" class="btn btn-sm btn-success" type="button" disabled ng-disabled="partners.couponTplExists === false">
                <span class="fa fa-plus"></span> @T("Admin.Partners.Index.AddPartner")
            </button>
        </partner-info-trigger>
    }
}
<div class="ibox static-notify ng-cloak" style="padding-top:2px;" ng-show="partners.couponTplExists === false">
    <div class="ibox-content p-xs-x2">
        <span class="label label-notice m-r">Внимание</span>
        <span class="">Для регистрации партнеров необходимо настроить шаблон партнерского купона.</span>
        <ui-modal-trigger data-controller="'ModalAddEditCouponCtrl'" controller-as="ctrl" size="middle"
                          template-url="../areas/admin/content/src/coupons/modal/addEditCoupon/addEditCoupon.html"
                          data-resolve="{couponMode: @AdvantShop.Catalog.CouponMode.PartnersTemplate.ConvertIntString()}"
                          data-on-close="partners.checkPartnerCouponTpl()">
            <a href="">Настроить шаблон</a>
        </ui-modal-trigger>
    </div>
</div>

<div class="ibox">
    <div class="ibox-content no-top-border">
        <ui-grid-custom grid-unique-id="grid"
                        grid-on-init="partners.gridOnInit(grid)"
                        grid-options="partners.gridOptions"
                        grid-url="'partners/getPartners'"
                        grid-extend-ctrl="partners">
            <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="partners.grid.gridOptions.TotalString">
            </ui-grid-custom-footer>
        </ui-grid-custom>
    </div>
</div>
