@{
    var controller = Request.RequestContext.RouteData.Values["controller"].ToString().ToLower();
    var action = Request.RequestContext.RouteData.Values["action"].ToString().ToLower();
}

<div class="js-header-bottom-wrap">
    <nav id="header-bottom" class="row navbar-static-top middle-xs navbar white-bg" role="navigation" style="margin-bottom: 0">
        <div class="col-xs">
            <div class="row">
                <ul class="nav navbar-nav" data-submenu-container="{'type': 'modern','checkOrientation': true, 'blockOrientation': 'body'}">
                    <li class="dropdown dropdown_custom@(controller == "partners" ? " dropdown_active" : "")" data-submenu-parent>
                        <a href="@Url.Action("Index", "Partners")" class="dropdown-toggle header-bottom-menu-link">
                            @T("Admin.Partners.Index.Title")
                        </a>
                    </li>
                    <li class="dropdown dropdown_custom@(controller == "partnersreport" && action == "partnersreport" ? " dropdown_active" : "")" data-submenu-parent>
                        <a href="@Url.Action("PartnersReport", "PartnersReport")" class="dropdown-toggle header-bottom-menu-link">
                            Отчет по партнерам
                        </a>
                    </li>
                    <li class="dropdown dropdown_custom@(controller == "partnersreport" && action == "payoutreports" ? " dropdown_active" : "")" data-submenu-parent>
                        <a href="@Url.Action("PayoutReports", "PartnersReport")" class="dropdown-toggle header-bottom-menu-link">
                            Отчеты по выплатам партнерам
                        </a>
                    </li>
                    <li class="dropdown dropdown_custom@(controller == "settingspartners" ? " dropdown_active" : "")" data-submenu-parent>
                        <a href="@Url.Action("Index", "SettingsPartners")" class="dropdown-toggle header-bottom-menu-link">
                            @T("Admin.Partners.NavMenu.Settings")
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        @Html.Action("SearchBlock", "Search")
    </nav>
</div>

