@model AdvantShop.Web.Admin.Models.Settings.IPTelephonySettingsModel

<div class="form-group row middle-xs">
    <div class="col-xs-8">
        <div class="adv-panel-info ">
            Если у вас нет учетной записи в сервисе Zadarma, вы можете зарегистрироваться по <a href="https://go.advantshop.net/zadarma" target="_blank">ссылке</a>
        </div>
    </div>
</div>


<div class="form-group row">
    <div class="col-xs-3">
        <div class="setting-label-wrap">
            <label for="ZadarmaKey" class="form-label-block">@T("Admin.Settings.Telephony.Zadarma.Key")</label>
        </div>
    </div>
    <div class="col-xs-6 flex middle-xs">
        @Html.TextBoxFor(x => x.ZadarmaKey, new { ng_model = "settingsTelephony.zadarmaKey", @class = "form-control" })
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.Telephony.Zadarma.Key")">
            @T("Admin.Settings.Telephony.Zadarma.KeyHint")
        </help-trigger>
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-3">
        <div class="setting-label-wrap">
            <label for="ZadarmaSecret" class="form-label-block">@T("Admin.Settings.Telephony.Zadarma.Secret")</label>
        </div>
    </div>
    <div class="col-xs-6 flex middle-xs">
        @Html.TextBoxFor(x => x.ZadarmaSecret, new { ng_model = "settingsTelephony.zadarmaSecret", @class = "form-control" })
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.Telephony.Zadarma.Secret")">
            @T("Admin.Settings.Telephony.Zadarma.SecretHint")
        </help-trigger>
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-3">
        <div class="setting-label-wrap">
            <label class="form-label-block">@T("Admin.Settings.Telephony.Zadarma.ServiceUrl")</label>
        </div>
    </div>
    <div class="col-xs-6" ng-init="settingsTelephony.zadarmaServiceUrl = '@(SettingsMain.SiteUrl)/zadarma/pushnotification'">
        <span ng-bind="settingsTelephony.zadarmaServiceUrl"></span>
        <i class="fa fa-clipboard pointer m-l-xs" ng-click="settingsTelephony.copy(settingsTelephony.zadarmaServiceUrl)" title="@T("Admin.SettingsTelephony.CopyALink")" aria-hidden="true"></i>
        <help-trigger class="ng-cloak word-spacing" data-title="@T("Admin.Settings.Telephony.Zadarma.ServiceUrl")">
            @T("Admin.Settings.Telephony.Zadarma.ServiceUrlNote")
        </help-trigger>
    </div>
</div>
