@using AdvantShop.Core.Services.Admin
@model AdvantShop.Web.Admin.Models.Settings.TasksSettingsModel

@{
    var isAdminv3 = AdminAreaTemplate.Current == "adminv3";
}
<div class="setting-title-top">
    <h3>@T("Admin.Settings.Tasks.Common")</h3>
</div>

@if (isAdminv3)
{
    <div class="form-group row">
        <div class="col-xs-2">
            <div class="setting-label-wrap">
                @Html.LabelFor(x => x.TasksActive, T("Admin.Settings.SystemSettings.AppsTasksActive"))
            </div>
        </div>
        <div class="col-xs-6">
            <label class="adv-checkbox-label">
                <switch-on-off checked="settingsTasks.TasksActive" on-change="settingsTasks.onChangeStateOffOn(checked)" data-id="TasksActive" ng-init="@("settingsTasks.TasksActive=" + Model.TasksActive.ToLowerString())"></switch-on-off>
            </label>
        </div>
    </div>
}

<div @(isAdminv3 ? "ng-hide=!settingsTasks.TasksActive" : "")>
    <div class="m-b-lg">

        <div class="form-group row middle-xs">
            <div class="col-xs-2">
                <div class="setting-label-wrap">
                    @T("Admin.Settings.Tasks.DefaultTaskGroup")
                </div>
            </div>
            <div class="col-xs-4 relative">
                @Html.DropDownListFor(x => x.DefaultTaskGroupId, Model.TaskGroups, T("Admin.SettingsTasks.Tasks.NotSpecified").ToString(), new { @class = "form-control", ng_model = "settingsTasks.defaultTaskGroupId" })
                <help-trigger class="ng-cloak m-l-xs help-trigger-icon-abs" data-title="@T("Admin.Settings.Tasks.DefaultTaskGroup")">
                    @T("Admin.Settings.Tasks.DefaultTaskGroupHint")
                </help-trigger>
            </div>
        </div>
        <div class="form-group row middle-xs">
            <div class="col-xs-2">
                <div class="setting-label-wrap">
                    @T("Admin.SettingsTasks.Tasks.OpenTaskFromPush")
                </div>
            </div>
            <div class="col-xs-4" ng-init="settings.webNotificationInNewTab = '@Model.WebNotificationInNewTab.ToString()'">
                <label class="adv-checkbox-label m-r">
                    @Html.RadioButtonFor(x => x.WebNotificationInNewTab, false, new { @class = "adv-radio-input", ng_model = "settingsTasks.webNotificationInNewTab" })
                    @T("Admin.SettingsTasks.Tasks.InSameTab")
                    <span class="adv-radio-emul" data-e2e="pushNotificationSameTab"></span>
                </label>
                <label class="adv-checkbox-label">
                    @Html.RadioButtonFor(x => x.WebNotificationInNewTab, true, new { @class = "adv-radio-input", ng_model = "settingsTasks.webNotificationInNewTab" })
                    @T("Admin.SettingsTasks.Tasks.InNewTab")
                    <span class="adv-radio-emul" data-e2e="pushNotificationNewTab"></span>
                </label>
                <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.SettingsTasks.Tasks.OpenTaskFromPush")">
                    @T("Admin.SettingsTasks.Tasks.OpenTaskFromPushHint")
                </help-trigger>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-2">
                <div class="setting-label-wrap">
                    @T("Admin.SettingsTask.Task.ReminderActive")
                </div>
            </div>
            <div class="col-xs-6">
                <label class="adv-checkbox-label">
                    <switch-on-off checked="settingsTasks.ReminderActive" on-change="settingsTasks.onChangeReminderStateOffOn(checked)" data-id="ReminderActive" ng-init="@("settingsTasks.ReminderActive=" + Model.ReminderActive.ToLowerString())"></switch-on-off>
                </label>
                <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.SettingsTask.Task.ReminderActive")">
                    @T("Admin.SettingsTask.Task.ReminderActiveHint")
                </help-trigger>
            </div>
        </div>
    </div>


    <div class="setting-title flex middle-xs">
        <h3 class="m-n inline middle-cell">@T("Admin.Settings.Tasks.BizProcesses")</h3>


        <a href="https://www.advantshop.net/help/pages/sozdanie-zadach-pri-postuplenii-novogo-zakaza " target="_blank" class="p-l-sm link-academy link-invert inline-flex middle-xs">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="18" height="18" fill="#989a9b" class="m-r-xs">
<path d="M20.005,512c-5.097,0-10.116-1.948-13.925-5.641c-5.845-5.666-7.672-14.309-4.621-21.855l45.411-112.333  C16.162,332.253,0,285.425,0,236c0-63.375,26.855-122.857,75.62-167.489C123.891,24.331,187.952,0,256,0  s132.109,24.331,180.38,68.511C485.145,113.143,512,172.625,512,236c0,45.448-14.04,89.577-40.602,127.615  c-6.325,9.057-18.792,11.271-27.849,4.947s-11.271-18.792-4.947-27.849C460.452,309.425,472,273.215,472,236  c0-108.075-96.897-196-216-196S40,127.925,40,236c0,43.783,15.577,85.2,45.046,119.773c4.834,5.671,6.115,13.561,3.321,20.47  l-31.366,77.589l91.345-40.266c5.063-2.231,10.826-2.267,15.916-0.095C193.082,425.766,223.946,432,256,432  c36.892,0,73.299-8.587,105.286-24.832c9.85-5,21.887-1.072,26.889,8.775c5.001,9.849,1.073,21.887-8.775,26.889  C341.828,461.914,299.157,472,256,472c-34.48,0-67.835-6.191-99.276-18.413L28.068,510.301C25.474,511.444,22.728,512,20.005,512z   M276,325V217c0-11.046-8.954-20-20-20s-20,8.954-20,20v108c0,11.046,8.954,20,20,20S276,336.046,276,325z M256,128  c-11.046,0-20,8.954-20,20l0,0c0,11.046,8.954,20,20,20s20-8.954,20-20l0,0C276,136.954,267.046,128,256,128z" />

</svg>
            <span>Инструкция. @T("Admin.Settings.Tasks.BizProcesses")</span>
        </a>
    </div>

    @if (!AdvantShop.Saas.SaasDataService.IsSaasEnabled || AdvantShop.Saas.SaasDataService.CurrentSaasData.BizProcess)
    {
        <div class="setting-title">
            @T("Admin.Settings.Tasks.AutoTaskAssignment")
        </div>
        <div ng-if="settingsTasks.TasksActive">
            @foreach (var eventType in Model.EventTypes)
            {
                <div class="m-b-lg">
                    <h4 class="clearfix">
                        @eventType.Localize()
                        <ui-modal-trigger class="pull-right" data-controller="'ModalAddEditRuleCtrl'" controller-as="ctrl" size="lg"
                                          on-close="settingsTasks.grid@(@eventType)Rules.fetchData()" data-resolve="{event:{type:'@eventType'}}"
                                          template-url="../areas/admin/content/src/settingsTasks/modal/addEditRule/AddEditRule.html">
                            <button class="btn btn-sm btn-success" type="button" data-e2e-settings-task-rule="@(@eventType)">
                                <span class="fa fa-plus"></span>
                                @T("Admin.Settings.Tasks.BizProcesses.AddRule")
                            </button>
                        </ui-modal-trigger>
                    </h4>
                    <ui-grid-custom grid-unique-id="grid@(@eventType)Rules"
                                    grid-on-init="settingsTasks.grid@(@eventType)Rules = grid"
                                    grid-filter-enabled="false"
                                    grid-pagination-enabled="false"
                                    grid-selection-enabled="false"
                                    grid-params="{eventType:'@eventType'}"
                                    grid-options="settingsTasks.grid@(@eventType)RulesOptions"
                                    grid-url="'bizprocessrules/getbizprocessrules'"
                                    grid-extend-ctrl="settingsTasks"
                                    grid-empty-text="'@T("Admin.Settings.Tasks.BizProcesses.Empty")'">
                    </ui-grid-custom>
                </div>
            }
        </div>
    }
    else
    {
        <span> @T("Admin.SettingsTasks.Tasks.NotAvailableInCurrentTariff")</span>
    }
</div>