@using AdvantShop.Core.Services.Admin
@model AdvantShop.Web.Admin.Models.Settings.CrmSettingsModel
@{
    Layout = "~/Areas/Admin/Views/Settings/_SettingsLayout.cshtml";
    var isAdminv3 = AdminAreaTemplate.Current == "adminv3";
}
<div class="form-horizontal">
    @using (Html.BeginForm("CRM", "Settings", FormMethod.Post, new { name = "form", enctype = "multipart/form-data", novalidate = "novalidate" }))
    {

        <div class="sticky-page-name p-n m-n" sticky sticky-top="0">
            <div class="page-name-block sticky-page-name-inner header-hidden">
                <div class="page-name-block-item-main">
                    <h1 class="page-name-block-text sticky-page-name-text">
                        <span class="float-header-page" ng-bind="settings.floatHeader"></span>
                    </h1>
                </div>
                <div class="page-name-block-item-additional">
                    <input type="submit" class="btn btn-sm btn-success" value="@T("Admin.Settings.Common.Save")" data-button-validation disabled ng-disabled="!form.modified" />
                </div>
            </div>
        </div>



        @Html.AntiForgeryToken()
        <div class="error">
            @Html.ValidationSummary()
        </div>
        <uib-tabset uid="crmTab" on-select-batch="settings.floatHeader = tab.heading;">
            <uib-tab index="'crm'" classes="ng-tab" heading="@T("Admin.Settings.CRM")">
                <div></div>
            </uib-tab>
            @if (!isAdminv3)
            {
            <div class="js-not-tabs">
                <input type="submit" class="btn btn-sm btn-success btn--margin-left" value="@T("Admin.Settings.Common.Save")" data-button-validation disabled ng-disabled="!form.modified" />
            </div>
            }
        </uib-tabset>
    }
</div>