@model  AdvantShop.Models.Cart.CartModel


@foreach (var item in Model.CartProducts)
{
    <div>
        <div class="row">
            <div>
                <img src="@item.PhotoPath" alt="@item.PhotoAlt" />
            </div>
            <div>
                <div>
                    @item.Name
                </div>
                <div>
                    @item.ColorName <br />
                    @item.SizeName
                </div>
                <div>
                    @item.Amount * @item.PriceWithDiscount
                </div>
            </div>
        </div>
    </div>
}