@model AdvantShop.Web.Admin.Models.Crm.Leads.LeadsAnalyticsModel

<div class="ibox">
    <div class="ibox-content statistics-block">

        <div class="statistics-block-inner">
            <div class="statistics-block-content statistics-block-content--leads">
                <div class="ibox-title statistics-header">
                    <h5 class="statistics-title" data-e2e-dashboard="ProductsCount">Лидов всего</h5>
                </div>
                <div class="ibox-content statistics-content no-border">
                    <h1 class="no-margins statistics-content-header" data-e2e-dashboard-content="ProductsCount">@Model.LeadsCount</h1>
                    @*<small class="name-quantity" data-e2e-dashboard-quantity="ProductsCount">@T("Admin.Home.Statistics.Pieces")</small>*@
                </div>
            </div>
            <div class="statistics-block-content statistics-block-content--leads">
                <div class="ibox-title statistics-header">
                    <h5 class="statistics-title" data-e2e-dashboard="OrdersTodayCount">Сделок в работе</h5>
                </div>
                <div class="ibox-content statistics-content no-border">
                    <h1 class="no-margins statistics-content-header" data-e2e-dashboard-content="DealsInWorkCount">@Model.DealsInWorkCount</h1>
                    <small class="name-quantity" data-e2e-dashboard-content="DealsInWorkPrice">@PriceExtentions.FormatPrice(Model.DealsInWorkPrice, SettingsCatalog.DefaultCurrency)</small>
                    @*<small class="name-quantity" data-e2e-dashboard-quantity="DealsInWorkCount">@Model.DealsInWorkCount</small>*@
                </div>
            </div>
            <div class="statistics-block-content statistics-block-content--leads">
                <div class="ibox-title statistics-header">
                    <h5 class="statistics-title" data-e2e-dashboard="OrdersTodayCount">Завершено сделок</h5>
                </div>
                <div class="ibox-content statistics-content no-border">
                    <h1 class="no-margins statistics-content-header" data-e2e-dashboard-content="DealsDoneCount">@Model.DealsDoneCount</h1>
                    <small class="name-quantity" data-e2e-dashboard-content="DealsDonePrice">
                        @PriceExtentions.FormatPrice(Model.DealsDonePrice, SettingsCatalog.DefaultCurrency)
                    </small>
                    @*<small class="name-quantity" data-e2e-dashboard-quantity="DealsDoneCount">@Model.DealsDoneCount</small>*@
                </div>
            </div>
            <div class="statistics-block-content statistics-block-content--leads">
                <div class="ibox-title statistics-header">
                    <h5 class="statistics-title" data-e2e-dashboard="OrdersTodayCount">Отклонено сделок</h5>
                </div>
                <div class="ibox-content statistics-content no-border">
                    <h1 class="no-margins statistics-content-header" data-e2e-dashboard-content="OrdersTodayCount">@Model.DealsRejectedCount</h1>
                    @*<small class="name-quantity" data-e2e-dashboard-quantity="OrdersTodayCount">@Model.DealsRejectedCount</small>*@
                </div>
            </div>
        </div>
    </div>
</div>