@model AdvantShop.Web.Admin.Models.Cms.News.AddEditNewsModel
@{
    Layout = "~/Areas/Admin/Views/Store/_StoreLayout.cshtml";
}

<form method="POST" action="@(Model.IsEditMode ? Url.Action("Edit") : Url.Action("Add"))" enctype="multipart/form-data" novalidate="novalidate" name="form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => Model.NewsId)
    @Html.HiddenFor(x => Model.IsEditMode)

    @Html.Back(T("Admin.News.Index.Title").ToString(), Url.Action("Index", "News"))

    <div class="m-t-xs m-b sticky-page-name" sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner">
            <div class="page-name-block-item-main">
                <h2 class="m-t-none m-b-none page-name-block-text sticky-page-name-text">
                    @if (Model.IsEditMode)
                    {
                        <span>@T("Admin.News.AddEdit.News")</span> <span>"@Html.Raw(Model.Title)"</span>
                    }
                    else
                    {
                        @T("Admin.News.AddEdit.NewNews")
                    }
                </h2>
            </div>
            <div class="page-name-block-item-additional">
                <a href="" class="link-danger m-r-xs" ng-if="@Model.IsEditMode.ToString().ToLower()" ng-click="newsItem.deleteNewsItem(@Model.NewsId)">@T("Admin.News.AddEdit.Delete")</a>
                @if (Model.IsEditMode && Model.Enabled)
                {
                    @Html.Button(T("Admin.View"), eButtonType.Simple, eButtonSize.Small, eColorType.Default,
                                    @Url.AbsoluteRouteUrl("News", new { url = Model.UrlPath }), name: "ViewNews", attributes: new[] { "target=\"_blank\"" })
                }

                @Html.Button(T("Admin.Save"), eButtonType.Save, eButtonSize.Small, eColorType.Success, attributes: new[] { "ng-disabled=\"!form.modified\"", "disabled" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="flex-grow-n col-fixed-size-md">
                    <h2 class="fs-lg">@T("Admin.News.AddEdit.Main")</h2>
                    <div class="">
                    </div>
                </div>
                <div class="flex-grow flex-basis-n flex-width-n">
                    <div class="ibox category-block">
                        <div class="ibox-content category-content border_none">
                            <div class="container-fluid">
                                <div class="row category-row middle-xs">
                                    <div class="col-xs-2">
                                        <label for="Title" class="form-label-block"><span class="text-required">@T("Admin.News.AddEdit.TitleNews")</span></label>
                                    </div>
                                    <div class="col-xs-10">
                                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", url_generator = "", url_generator_enabled = Model.UrlPath.IsNotEmpty() ? "false" : "true", url_path = "newsItem.UrlPath", required = "required", ng_model = "newsItem.Title", validation_input_text = T("Admin.News.AddEdit.TitleNews").ToString() })
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row category-row middle-xs">
                                    <div class="col-xs-2">
                                        <label for="ShowOnMainPage" class="form-label-block">@T("Admin.News.AddEdit.ShowInMainPage")</label>
                                    </div>
                                    <div class="col-xs-10">
                                        <label class="adv-checkbox-label form-label-block" data-e2e="ShowOnMainPage">
                                            @Html.CheckBoxFor(x => x.ShowOnMainPage, new { ng_model = "newsItem.showOnMainPage", @class = "adv-checkbox-input" })
                                            <span class="adv-checkbox-emul"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row category-row middle-xs">
                                    <div class="col-xs-2">
                                        <label for="ShowOnMainPage" class="form-label-block">@T("Admin.News.AddEdit.Activity")</label>
                                    </div>
                                    <div class="col-xs-10">
                                        <label class="adv-checkbox-label form-label-block" data-e2e="Enabled">
                                            @Html.CheckBoxFor(x => x.Enabled, new { ng_model = "newsItem.enabled", @class = "adv-checkbox-input" })
                                            <span class="adv-checkbox-emul"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="form-group middle-xs row">
                                    <div class="col-xs-2">
                                        <div class="setting-label-wrap">
                                            <label for="NewsCategorys"><span class="text-required">@T("Admin.News.AddEdit.NewsCategory")</span></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-wl-2">
                                        @Html.DropDownListFor(x => x.NewsCategoryId, Model.NewsCategory, new { @class = "form-control", ng_model = "newsItem.newsCategoryId", ng_init = "newsItem.newsCategoryId='" + Model.NewsCategoryId + "'", required = "required", validation_input_text = T("Admin.News.AddEdit.NewsCategory") })

                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row category-row middle-xs">
                                    <div class="col-xs-2">
                                        <label for="AddingDates" class="form-label-block">@T("Admin.News.AddEdit.Date")</label>
                                    </div>
                                    <div class="col-xs-10">
                                        <div style="width:30%">
                                            <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y H:i', startDateFormat:'Y-m-dTH:i', wrap: true, enableTime: true}">
                                                <span class="flatpickr-custom-wrap">
                                                    <input type="text" id="AddingDates" name="AddingDates" class="form-control" ng-flatpickr-input ng-init="newsItem.addingDates='@Model.AddingDate.ToString("yyyy-MM-ddTHH:mm:ss")'" ng-model="newsItem.addingDates" value="@Model.AddingDate.ToString("yyyy-MM-ddTHH:mm:ss")">
                                                    <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                                                </span>
                                                <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* Description *@
            <div class="row">
                <div class="flex-grow-n col-fixed-size-md">
                    <h2 class="fs-lg">@T("Admin.News.AddEdit.Text")</h2>
                    <div class="">
                    </div>
                </div>
                <div class="flex-grow flex-basis-n flex-width-n">
                    <div class="ibox category-block">
                        <div class="ibox-content category-content border_none">
                            <div class="container-fluid">
                                <div class="row category-row">
                                    <div class="col-xs-2">
                                        <label for="Description" class="form-label-block"><span class="text-required">@T("Admin.News.AddEdit.Annotation")</span></label>
                                    </div>
                                    <div class="col-xs-10">
                                        @Html.TextAreaFor(x => x.TextAnnotation, new { @class = "wysiwyg", ckeditor = "", ng_model = "newsItem.textAnnotation", required = "required", validation_input_text = T("Admin.News.AddEdit.Annotation") })
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row category-row">
                                    <div class="col-xs-2">
                                        <label for="Description" class="form-label-block m-b-wl"><span class="text-required">@T("Admin.News.AddEdit.Text")</span></label>
                                    </div>
                                    <div class="col-xs-10">
                                        @Html.TextAreaFor(x => x.TextToPublication, new { @class = "wysiwyg", ckeditor = "", ng_model = "newsItem.textToPublication", required = "required", validation_input_text = T("Admin.News.AddEdit.Text") })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* Pictures *@
            <div class="row">
                <div class="flex-grow-n col-fixed-size-md">
                    <h2 class="fs-lg">@T("Admin.News.AddEdit.Pictures")</h2>
                </div>
                <div class="flex-grow flex-basis-n flex-width-n">
                    <div class="ibox category-block">
                        <div class="ibox-content category-content border_none">
                            <div class="container-fluid">
                                <div class="row category-row">
                                    <div class="col-xs-2">
                                        @T("Admin.Category.Index.Picture")
                                        <div>
                                            @(SettingsPictureSize.NewsImageWidth)x@(SettingsPictureSize.NewsImageHeight)px
                                        </div>
                                    </div>
                                    <div class="col-lg-5">

                                        @Html.PictureUploader(AdvantShop.Catalog.PhotoType.News,
                                                              Model.NewsId,
                                                              Model.PhotoSrc,
                                                              "newsItem.changePhoto(result)",
                                                              null,
                                                              Model.PhotoId)

                                        @Html.HiddenFor(x => x.PhotoId, new { ng_value = "newsItem.PhotoId" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* News products *@
            <div class="row">
                <div class="flex-grow-n col-fixed-size-md">
                    <h2 class="fs-lg">@T("Admin.News.AddEdit.GoodsInNews")</h2>
                </div>
                <div class="flex-grow flex-basis-n flex-width-n">
                    <div class="ibox category-block">
                        <div class="ibox-content category-content border_none">
                            <div class="container-fluid">
                                <div class="row category-row">
                                    <div class="col-xs-12" ng-init="newsItem.productIds=[@Model.ProductIds.AggregateString(",")]">
                                        <news-products data-news-id="@Model.NewsId" data-product-ids="newsItem.productIds"></news-products>
                                        <input name="productIds[{{$index}}]" ng-value="productId" type="hidden" ng-repeat="productId in newsItem.productIds">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* SEO*@
            <div class="row">
                <div class="flex-grow-n col-fixed-size-md">
                    <h2 class="fs-lg">SEO</h2>
                    <div class="">
                        @T("Admin.News.AddEdit.SeoParametersAutomaticallyFilled")
                    </div>
                </div>
                <div class="flex-grow flex-basis-n flex-width-n">
                    <div class="ibox brand-block">
                        <div class="ibox-content brand-content border_none">

                            <div>
                                <div class="row category-row">
                                    <div class="col-xs-2">
                                        <label for="URL" class="form-label-block"><span class="text-required">@T("Admin.News.AddEdit.Synonym")</span></label>
                                    </div>
                                    <div class="col-xs-10">
                                        <label class="input-group form-label-block">
                                            <span class="input-group-addon fs-xs">@(SettingsMain.SiteUrl)/news/</span>
                                            @Html.TextBoxFor(x => x.UrlPath, new { @class = "form-control", ng_model = "newsItem.UrlPath", id = "URL", required = "required", validation_input_text = T("Admin.News.AddEdit.Synonym") })
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-offset-2">
                                    <label class="adv-checkbox-label">
                                        @Html.CheckBoxFor(x => x.DefaultMeta, new { ng_model = "newsItem.defaultMeta", ng_init = "newsItem.defaultMeta=" + Model.DefaultMeta.ToString().ToLower(), @class = "adv-checkbox-input" })
                                        <span class="adv-checkbox-emul" data-e2e="DefaultMetaCheckbox"></span>
                                        @T("Admin.News.AddEdit.UseDefaultMeta")
                                    </label>
                                </div>
                            </div>
                            <div class="brand-seo-custom-block ng-cloak m-t-md" ng-if="!newsItem.defaultMeta">
                                <div>
                                    <div class="row category-row middle-xs">
                                        <div class="col-xs-2">
                                            <label class="form-label-block text-required" for="SeoTitle">@T("Admin.Category.Index.SeoTitle")</label>
                                        </div>
                                        <div class="col-xs-10">
                                            @Html.TextBoxFor(x => x.SeoTitle,
                                                new
                                                {
                                                    @class = "form-control",
                                                    ng_model = "newsItem.seoTitle",
                                                    textcomplete = "",
                                                    textcomplete_data = Html.Action("MetaVariablesComplete", "Common", new {type = AdvantShop.SEO.MetaType.News}),
                                                    required = "required",
                                                    validation_input_text = T("Admin.Category.Index.SeoTitle")
                                                })
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="row category-row middle-xs">
                                        <div class="col-xs-2">
                                            <label class="form-label-block text-required" for="SeoH1">@T("Admin.Category.Index.SeoH1")</label>
                                        </div>
                                        <div class="col-xs-10">
                                            @Html.TextBoxFor(x => x.SeoH1,
                                                new
                                                {
                                                    @class = "form-control",
                                                    ng_model = "newsItem.seoH1",
                                                    textcomplete = "",
                                                    textcomplete_data = Html.Action("MetaVariablesComplete", "Common", new {type = AdvantShop.SEO.MetaType.News}),
                                                    required = "required",
                                                    validation_input_text = T("Admin.Category.Index.SeoH1")
                                                })
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="row category-row middle-xs">
                                        <div class="col-xs-2">
                                            <label class="form-label-block" for="SeoKeywords">@T("Admin.Category.Index.SeoKeywords")</label>
                                        </div>
                                        <div class="col-xs-10">
                                            @Html.TextAreaFor(x => x.SeoKeywords, new { @class = "form-control", ng_model = "newsItem.seoKeywords", textcomplete = "", textcomplete_data = Html.Action("MetaVariablesComplete", "Common", new { type = AdvantShop.SEO.MetaType.News }) })
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="row category-row middle-xs">
                                        <div class="col-xs-2">
                                            <label class="form-label-block" for="SeoDescription">@T("Admin.Category.Index.SeoDescription")</label>
                                        </div>
                                        <div class="col-xs-10">
                                            @Html.TextAreaFor(x => x.SeoDescription, new { @class = "form-control", ng_model = "newsItem.seoDescription", textcomplete = "", textcomplete_data = Html.Action("MetaVariablesComplete", "Common", new { type = AdvantShop.SEO.MetaType.News }) })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-offset-2">
                                        @Html.Action("MetaVariablesDescription", "Common", new { type = AdvantShop.SEO.MetaType.News })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
