@{
    Layout = "~/Areas/Admin/Views/Store/_StoreLayout.cshtml";
}

<div class="p-n" data-ng-init="news.settingsform=form">

    <div class="page-name-block sticky-page-name-inner header-hidden">
        <div class="page-name-block-item-main">
            <h2 class="m-t-none m-b-none">
                <span class="float-header-page" ng-bind="news.floatHeader"></span>
            </h2>
        </div>
    </div>
</div>


<div class="page-name-block sticky-page-name-inner">
    <div class="flex middle-xs page-name-block--without-action funnel-site__settings m-b-xs">
        <h2 class="m-t-none m-b-none sticky-page-name-text" data-e2e="titleNewsH1">
            @T("Admin.News.Index.Title")
        </h2>
        <div class="sticky-page-name" sticky sticky-top="0">
            <div class="header-hidden page-name-block sticky-page-name-inner">
                <div class="page-name-block-item-main">
                    <h2 class="page-name-block-text sticky-page-name-text" ng-init="news.floatHeaderList = {};">
                        <span class="float-header-page" ng-bind="news.floatHeaderList[news.activeTab]"></span>
                    </h2>
                </div>
            </div>
        </div>
        <a href="https://www.advantshop.net/help/pages/add-news" target="_blank" class="p-l-sm link-invert inline-flex middle-xs" style="text-decoration:none;">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="18" height="18" fill="#989a9b" class="m-r-xs">
            <path d="M20.005,512c-5.097,0-10.116-1.948-13.925-5.641c-5.845-5.666-7.672-14.309-4.621-21.855l45.411-112.333  C16.162,332.253,0,285.425,0,236c0-63.375,26.855-122.857,75.62-167.489C123.891,24.331,187.952,0,256,0  s132.109,24.331,180.38,68.511C485.145,113.143,512,172.625,512,236c0,45.448-14.04,89.577-40.602,127.615  c-6.325,9.057-18.792,11.271-27.849,4.947s-11.271-18.792-4.947-27.849C460.452,309.425,472,273.215,472,236  c0-108.075-96.897-196-216-196S40,127.925,40,236c0,43.783,15.577,85.2,45.046,119.773c4.834,5.671,6.115,13.561,3.321,20.47  l-31.366,77.589l91.345-40.266c5.063-2.231,10.826-2.267,15.916-0.095C193.082,425.766,223.946,432,256,432  c36.892,0,73.299-8.587,105.286-24.832c9.85-5,21.887-1.072,26.889,8.775c5.001,9.849,1.073,21.887-8.775,26.889  C341.828,461.914,299.157,472,256,472c-34.48,0-67.835-6.191-99.276-18.413L28.068,510.301C25.474,511.444,22.728,512,20.005,512z   M276,325V217c0-11.046-8.954-20-20-20s-20,8.954-20,20v108c0,11.046,8.954,20,20,20S276,336.046,276,325z M256,128  c-11.046,0-20,8.954-20,20l0,0c0,11.046,8.954,20,20,20s20-8.954,20-20l0,0C276,136.954,267.046,128,256,128z"></path>
                    </svg>
            <span>Инструкция. Настройка раздела новости на сайте</span>
        </a>
        <!--<ul class="nav nav-tabs">

            <li class="nav-item ng-tab" ng-class="{'active': news.activeTab == 'news'}">
                <a href="" ng-click="news.activeTab='news'">@T("Admin.News.Index.Title")</a>
            </li>
            <li class="nav-item ng-tab" ng-class="{'active': news.activeTab == 'newscategories'}">
                <a href="" ng-click="news.activeTab='newscategories'">@T("Admin.NewsCategory.Index.Title")</a>
            </li>
        </ul>-->
    </div>
    @*<div class="page-name-block-item-additional">

            <label class="adv-checkbox-label m-r-sm" data-e2e="RssViewNews">
                <input type="checkbox" class="adv-checkbox-input"
                       ng-model="news.RssViewNews"
                       ng-init="news.RssViewNews=@SettingsNews.RssViewNews.ToLowerString()"
                       ng-click="news.changeRssViewNews()" />
                <span class="adv-checkbox-emul"></span>
                @T("Admin.Settings.News.RssViewNews")
            </label>
            <span ng-switch="news.activeTab">
                <a ng-switch-default href="@Url.Action("Add", "News")" class="btn btn-sm btn-success btn--margin-left">
                    <span class="fa fa-plus"></span> @T("Admin.News.Index.AddNews")
                </a>
                <ui-modal-trigger class="ng-cloak" ng-switch-when="newscategories" data-controller="'ModalAddEditNewsCategoryCtrl'" controller-as="ctrl"
                                  template-url="../areas/admin/content/src/newsCategory/modal/addEditNewsCategory/addEditNewsCategpry.html"
                                  data-on-close="newsCategory.grid.fetchData()">
                    <button class="btn btn-sm btn-success btn--margin-left" type="button">
                        <span class="fa fa-plus"></span> @T("Admin.NewsCategory.Index.AddCategory")
                    </button>
                </ui-modal-trigger>
            </span>
        </div>*@
</div>
<div class="flex middlle-xs between-xs p-b-sm">
    <div class="flex middle-xs funnel-site__settings ">
        <ul class="nav nav-tabs">

            <li class="nav-item ng-tab" ng-class="{'active': news.activeTab == 'news'}"
                ng-init="news.floatHeaderList['news'] = '@T("Admin.News.Index.Title") / @T("Admin.News.Index.Title")'">
                <a href="" ng-click="news.activeTab='news'">@T("Admin.News.Index.Title")</a>
            </li>

            <li class="nav-item ng-tab" ng-class="{'active': news.activeTab == 'newscategories'}"
                ng-init="news.floatHeaderList['newscategories'] = '@T("Admin.News.Index.Title") / @T("Admin.NewsCategory.Index.Title")'">

                <a href="" ng-click="news.activeTab='newscategories'">@T("Admin.NewsCategory.Index.Title")</a>
            </li>
        </ul>
        <!--<a href="https://www.advantshop.net/help/pages/add-news" target="_blank" class="p-t-xs link-invert inline-flex middle-xs" style="text-decoration:none;">

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="18" height="18" fill="#989a9b" class="m-r-xs">
                <path d="M20.005,512c-5.097,0-10.116-1.948-13.925-5.641c-5.845-5.666-7.672-14.309-4.621-21.855l45.411-112.333  C16.162,332.253,0,285.425,0,236c0-63.375,26.855-122.857,75.62-167.489C123.891,24.331,187.952,0,256,0  s132.109,24.331,180.38,68.511C485.145,113.143,512,172.625,512,236c0,45.448-14.04,89.577-40.602,127.615  c-6.325,9.057-18.792,11.271-27.849,4.947s-11.271-18.792-4.947-27.849C460.452,309.425,472,273.215,472,236  c0-108.075-96.897-196-216-196S40,127.925,40,236c0,43.783,15.577,85.2,45.046,119.773c4.834,5.671,6.115,13.561,3.321,20.47  l-31.366,77.589l91.345-40.266c5.063-2.231,10.826-2.267,15.916-0.095C193.082,425.766,223.946,432,256,432  c36.892,0,73.299-8.587,105.286-24.832c9.85-5,21.887-1.072,26.889,8.775c5.001,9.849,1.073,21.887-8.775,26.889  C341.828,461.914,299.157,472,256,472c-34.48,0-67.835-6.191-99.276-18.413L28.068,510.301C25.474,511.444,22.728,512,20.005,512z   M276,325V217c0-11.046-8.954-20-20-20s-20,8.954-20,20v108c0,11.046,8.954,20,20,20S276,336.046,276,325z M256,128  c-11.046,0-20,8.954-20,20l0,0c0,11.046,8.954,20,20,20s20-8.954,20-20l0,0C276,136.954,267.046,128,256,128z"></path>
                </svg>
            <span>Инструкция. Настройка раздела новости на сайте</span>
        </a>-->
    </div>
    <div class="page-name-block-item-additional">

        <label class="adv-checkbox-label m-r-sm" data-e2e="RssViewNews">
            <input type="checkbox" class="adv-checkbox-input"
                   ng-model="news.RssViewNews"
                   ng-init="news.RssViewNews=@SettingsNews.RssViewNews.ToLowerString()"
                   ng-click="news.changeRssViewNews()" />
            <span class="adv-checkbox-emul"></span>
            @T("Admin.Settings.News.RssViewNews")
        </label>
        <span ng-switch="news.activeTab">
            <a ng-switch-default href="@Url.Action("Add", "News")" class="btn btn-sm btn-success btn--margin-left m-t-xs">
                <span class="fa fa-plus"></span> @T("Admin.News.Index.AddNews")
            </a>
            <ui-modal-trigger class="ng-cloak" ng-switch-when="newscategories" data-controller="'ModalAddEditNewsCategoryCtrl'" controller-as="ctrl"
                              template-url="../areas/admin/content/src/newsCategory/modal/addEditNewsCategory/addEditNewsCategpry.html"
                              data-on-close="newsCategory.grid.fetchData()">
                <button class="btn btn-sm btn-success btn--margin-left" type="button">
                    <span class="fa fa-plus"></span> @T("Admin.NewsCategory.Index.AddCategory")
                </button>
            </ui-modal-trigger>
        </span>
    </div>
</div>


<div class="tab-content" ng-init="news.activeTab = 'news'" ng-switch="news.activeTab">
    <div class="tab-pane active" ng-switch-default>
        @Html.Partial("_News")
    </div>
    <div class="tab-pane active ng-cloak" ng-switch-when="newscategories">
        @Html.Partial("_NewsCategory")
    </div>
</div>