@using AdvantShop.Core.Services.Landing.Pictures;
@model BlockModel

<div class="container-fluid">
    <div class="lp-container">
        <div class="row @(Model.Block.TryGetSetting("align_block") != null ? Model.Block.TryGetSetting("align_block") :"middle-xs")">
            <div class="col-xs-12 col-sm-6 lp-block-text-video-reverse__video text-center">
                <div class="responsive-video-container">
                    <div class="row end-sm center-xs">
                        <div class="col-xs-12">
                            @Html.SubBlock(Model, "video")
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 lp-block-text-video-reverse__col">
                <div class="@(Model.Block.TryGetSetting("columnBackground") == true ? "color-scheme__bg--alt" : "") lp-block-text-video-reverse__inner">
                    <div class="lp-block-text-video-reverse__content">
                        @if (Model.Block.TryGetSetting("show_title") == true)
                        {
                            <div class="lp-h2 lp-h2--color">
                                @Html.SubBlock(Model, "title")
                            </div>
                        }

                        @if (Model.Block.TryGetSetting("show_subtitle") == true)
                        {
                            <div class="lp-h3 lp-h3--color">
                                @Html.SubBlock(Model, "subtitle")
                            </div>
                        }

                        <div class="lp-h3--color lp-block-text-video-reverse__text lp-block-text--middle lp-font-size--small">
                            @Html.SubBlock(Model, "text")
                        </div>

                        @if (Model.Block.TryGetSetting("show_button") == true || Model.Block.TryGetSetting("show_button2") == true)
                        {
                            <div class="lp-block-text-video-reverse-button">
                                <div class="row @Model.Block.TryGetSetting("align_btns")">
                                    <div class="col-xs-12">
                                        <div class="lp-btn-group @Model.Block.TryGetSetting("align_btns")">
                                            @if (Model.Block.TryGetSetting("show_button") == true)
                                            {
                                                <div class="lp-btn-group__item--indent">
                                                    @Html.Button(Model.Block, "button")
                                                </div>
                                            }
                                            @if (Model.Block.TryGetSetting("show_button2") == true)
                                            {
                                                <div class="lp-btn-group__item--indent">
                                                    @Html.Button(Model.Block, "button2")
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
