@model BlockModel

<div class="container-fluid">
    <div class="lp-container">
        <div class="row center-xs">
            <div class="@Model.Block.GetWidthInColumnsAsClasses()">
                @if (Model.Block.TryGetSetting("show_title") == true)
                {
                    <div class="lp-h2 lp-h2--color">
                        @Html.SubBlock(Model, "title")
                    </div>
                }

                @if (Model.Block.TryGetSetting("show_subtitle") == true)
                {
                    <div class="lp-h3 lp-h3--color">
                        @Html.SubBlock(Model, "subtitle")
                    </div>
                }

                <div class="lp-block-text-coupon__block">
                    @Html.SubBlock(Model, "main_text")
                    <br />
                    @Html.SubBlock(Model, "text")
                    <br />
                    <span class="lp-block-text-coupon__coupon">@Html.SubBlock(Model, "price")</span>
                </div>

                @if (Model.Block.TryGetSetting("show_button") == true || Model.Block.TryGetSetting("show_button2") == true)
                {
                    <div class="lp-block-text-button">
                        <div class="row @(Model.Block.TryGetSetting("align_btns") != null ? Model.Block.TryGetSetting("align_btns") : "center-xs")">
                            <div class="col-xs-12">
                                <div class="lp-btn-group @(Model.Block.TryGetSetting("align_btns") != null ? Model.Block.TryGetSetting("align_btns") : "center-xs")">
                                    @if (Model.Block.TryGetSetting("show_button") == true)
                                    {
                                        <div class="lp-btn-group__item--indent">
                                            @Html.Button(Model.Block, "button")
                                        </div>
                                    }
                                    @if (Model.Block.TryGetSetting("show_button2") == true)
                                    {
                                        <div class="lp-btn-group__item--indent">
                                            @Html.Button(Model.Block, "button2")
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
