@model BlockModel

@{
    string bgAlt = Model.Block.TryGetSetting("background_color_alt");
}

<div class="container-fluid">
    <div class="lp-container">
        <div class="row @(Model.Block.TryGetSetting("align_items") != null ? Model.Block.TryGetSetting("align_items") :"start-xs")">
            <div class="@Model.Block.GetWidthInColumnsAsClasses()">
                <div class="@(Model.Block.TryGetSetting("align_text") != null ? Model.Block.TryGetSetting("align_text") : "start-xs") lp-block-text-paragraph__content" style="background-color:@bgAlt">
                    @Html.BlockHeader(Model)
                    <article class="lp-font-size--small lp-h3--color">
                            @Html.SubBlock(Model, "content")

                            @if (Model.Block.TryGetSetting("show_button") == true)
                            {
                                <div class="row @(Model.Block.TryGetSetting("align_btns") != null ? Model.Block.TryGetSetting("align_btns") : "center-xs")">
                                    <div class="col-xs-12">
                                        <div class="lp-block-text-button">
                                            @Html.Button(Model.Block, "button")
                                        </div>
                                    </div>
                                </div>
                            }
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
