@model AdvantShop.ViewModel.Shared.ColorsViewModel
@{
    var viewMode = Model.ColorsViewMode.ToString().ToLower();
}

@if (Model.HeaderText.IsNotEmpty())
{
    bool isShowColorNameInHeader = viewMode == "iconandtext" && Model.EnabledSlider == false;
    <div class="color-viewer-header">
        @(Model.HeaderText)@(isShowColorNameInHeader ? ":": "")
        @if(isShowColorNameInHeader)
        {
            <span data-ng-bind="@(Model.NgColorSelected).ColorName"></span>
        }
    </div>
}
@if (Model.EnabledSlider)
{
    @:<div class="carousel carousel-colors-wrap carousel-colors carousel-colors-@viewMode" data-carousel data-stretch="false" data-init-on-load="true" data-initilaze-to="@Model.InitilazeTo" data-init-fn="@Model.NgInitCarousel">
        @:<div class="carousel-inner">
        }
<div class="color-viewer-list js-color-viewer-slider color-viewer-list--@viewMode"
     data-colors-viewer
     data-color-selected="@Model.NgColorSelected"
     data-init-colors="@Model.NgInitColors"
     data-change-color="@Model.NgChangeColor"
     data-colors="::@Model.NgColors"
     data-start-selected-colors="@Model.SelectedColors"
     @Html.Raw(Model.SelectedColorId != null ? "data-change-start-selected-color=\"" + Model.SelectedColorId + "\"" : "")
     data-color-width="::'@(Model.ColorWidth)px'"
     data-color-height="::'@(Model.ColorHeight)px'"
     data-multiselect="@Model.Multiselect.ToString().ToLower()"
     data-image-type="@Model.ImageType"
     data-view-mode="@viewMode"
     data-is-hidden-color-name="@Model.IsHiddenColorName.ToLowerString()"></div>
@if (Model.EnabledSlider)
{
    @:</div>
    <div class="carousel-nav">
        <button type="button" class="carousel-nav-prev"></button>
        <button type="button" class="carousel-nav-next"></button>
    </div>
    @:</div>
}