@{
    Layout = "_LayoutMaster.cshtml";
}
<div class="stretch-container">
    <header class="site-head">
        @Html.Action("TopPanel", "Common")
        @Html.StaticBlock("TopHeader")
        @Html.Partial("_Header")
    </header>
    <main class="stretch-middle site-body">
        <div class="container container-fluid site-body-inner js-site-body-inner cs-bg-7">
            @Html.Action("MenuBlock", "Common")
            @RenderBody()
        </div>
    </main>
    <div class="site-footer-wrap">
        @Html.Partial("_Footer")
        @Html.Action("ToolBarBottom", "Common")
        @Html.GetMiniProfiler()
    </div>
    <div class="scroll-to-top" data-scroll-to-top>
        <div class="icon-up-open-before to-top-icon cs-t-1"></div>
    </div>
</div>