@model RatingViewModel
<ul class="rating"
    data-rating
    data-readonly="@Model.ReadOnly.ToString().ToLower()"
    data-current="@Model.Rating"
    @if (!string.IsNullOrEmpty(Model.Binding)) {
        @:data-ng-model='@Model.Binding'
    } 
    data-obj-id="@Model.ObjId"
    data-url="@Model.Url">
    @for (var i = 5; i > 0; --i)
    {
        <li class="rating-item icon-star-before"
            data-ng-class="{'rating-item-selected': @i <= rating.current}">
        </li>
    }
</ul>