<div ng-controller="DiscountsPriceRangeCtrl as discountsPriceRange">

    <div class="sticky-page-name  m-t-n-xs p-n" sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner">
            <div class="page-name-block-item-main flex middle-xs">
                <h2 class="sticky-page-name-text m-t-none" data-e2e="DiscountsTitle">
                    @T("Admin.DiscountsPriceRange.Index.Title")
                </h2>
            </div>
            <div class="page-name-block-item-additional">
                <ui-modal-trigger data-controller="'ModalAddEditDiscountsPriceRangeCtrl'" controller-as="ctrl"
                                  template-url="../areas/admin/content/src/discountsPriceRange/modal/addEditDiscountsPriceRange/AddEditDiscountsPriceRange.html"
                                  data-on-close="discountsPriceRange.grid.fetchData()">
                    <button class="btn btn-sm btn-success btn--margin-left" type="button" data-e2e="DiscountsAdd">
                        <span class="fa fa-plus"></span>@T("Admin.Add")
                    </button>
                </ui-modal-trigger>
            </div>
        </div>
    </div>

    <div>
        <label class="adv-checkbox-label category-label" data-e2e="enableDiscounts">
            <input type="checkbox" class="adv-checkbox-input"
                    ng-model="discountsPriceRange.enableDiscounts"
                    ng-init="discountsPriceRange.enableDiscounts=@SettingsCheckout.EnableDiscountModule.ToLowerString()"
                    ng-click="discountsPriceRange.changeDiscountsState()" />
            <span class="adv-checkbox-emul"></span>
            <span>@T("Admin.DiscountsPriceRange.Index.EnableDiscountModule")</span>
        </label>
        <div class="m-b-sm">
            @T("Admin.DiscountsPriceRange.Index.Hint")
        </div>
        <div class="m-b">
            <ui-modal-trigger data-controller="'ModalDiscountByDatetimeCtrl'" controller-as="ctrl" size="middle"
                                template-url="../areas/admin/content/src/discountsPriceRange/modal/discountByDatetime/discountByDatetime.html">
                <a href="">@T("Admin.DiscountsPriceRange.Index.SetDiscountsByDatetime")</a>
            </ui-modal-trigger>
        </div>
    </div>

    <ui-grid-custom grid-unique-id="gridPriceRange"
                    grid-on-init="discountsPriceRange.gridOnInit(grid)"
                    grid-options="discountsPriceRange.gridOptions"
                    grid-url="'discountsPriceRange/getItems'"
                    grid-inplace-url="'discountsPriceRange/updateItem'"
                    grid-extend-ctrl="discountsPriceRange">
    </ui-grid-custom>

</div>