@{
    Layout = "~/Areas/Admin/Views/Settings/_SettingsLayout.cshtml";
}

@using (Html.BeginForm("Index", "SettingsCoupons", FormMethod.Post, new { enctype = "multipart/form-data", name = "form", novalidate = "novalidate" }))
{
    @Html.AntiForgeryToken()

    <div class="sticky-page-name p-n m-n" sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner header-hidden">
            <div class="page-name-block-item-main">
                <h1 class="page-name-block-text sticky-page-name-text">
                    <span class="float-header-page" ng-bind="settingsCoupons.floatHeader"></span>
                </h1>
            </div>
            <div class="page-name-block-item-additional">
                <input type="submit" class="btn btn-sm btn-success" value="@T("Admin.SettingsCheckout.Save")" data-button-validation disabled ng-disabled="!form.modified" />
            </div>
        </div>
    </div>

    <div class="backSetting-link__desktop">
        @Html.Back("Настройки", Url.Action("Index", "Settings"))
    </div>
    <div class="sticky-page-name m-t-xs sticky-page-name-block_mobile" style="margin-bottom:4px;">
        <div class="backSetting-link__mobile col-xs-2">
            @Html.Back("Настройки", Url.Action("Index", "Settings"))
        </div>
        <h1 class="page-name-block-text">
            @T("Admin.Settings.SettingsCoupons.Title")
        </h1>
    </div>

        <uib-tabset active uid="couponsTab" on-select-batch="settingsCoupons.floatHeader = tab.heading;">

            <uib-tab index="'coupons'" heading="@T("Admin.Coupons.Index.Title")" classes="ng-tab" removable="true">
                @Html.Partial("_Coupons", "default")
            </uib-tab>

            <uib-tab index="'discounts'" heading="@T("Admin.SettingsCoupons.Index.DiscountsPriceRangeTitle")" classes="ng-tab" removable="true">
                @Html.Partial("_DiscountsPriceRange")
            </uib-tab>

            <uib-tab index="'couponsGenerated'" heading="@T("Admin.SettingsCoupons.Coupons.GeneratedCoupon")" classes="ng-tab" removable="true">
                @Html.Partial("_Coupons", "generated")
            </uib-tab>

            @if (SettingsMain.PartnersActive)
            {
                <uib-tab index="'couponsPartners'" heading="@T("Admin.SettingsCoupons.Coupons.PartnersCoupon")" classes="ng-tab" removable="true">
                    @Html.Partial("_Coupons", "partners")
                </uib-tab>
            }

            <uib-tab index="'certificates'" heading="@T("Admin.Certificates.Index.Title")" classes="ng-tab" removable="true">
                @Html.Partial("_Certificates")
            </uib-tab>

        </uib-tabset>
        }


