@model AdvantShop.Web.Infrastructure.Admin.ShippingMethods.BoxberryShippingAdminModel

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.ShippingMethods.Boxberry.ApiUrl")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.ApiUrl, new { ng_model = "shippingMethod.Params.ApiUrl", @class = "form-control", required = "required", validation_input_text = T("Admin.ShippingMethods.Boxberry.ApiUrl") })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="URL-адрес для API">
            @T("Admin.ShippingMethods.Boxberry.ApiUrl.HelpText")
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.ShippingMethods.Boxberry.Token")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.Token, new { ng_model = "shippingMethod.Params.Token", @class = "form-control", required = "required", validation_input_text = T("Admin.ShippingMethods.Boxberry.Token") })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="API-token">
            @T("Admin.ShippingMethods.Boxberry.GetUniqueKey")
        </help-trigger>
    </div>
</div>

@if (Model.Token.IsNullOrEmpty())
{
    <div class="form-group row">
        <div class="col-xs-8">
            <div class="adv-panel-info">
                После ввода данных доступа к API, необходимо сохранить настройки после чего появятся дополнительные настройки
            </div>
        </div>
    </div>
}
else 
{
@*<div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.ShippingMethods.Boxberry.ListOfCities")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.DropDownListFor(x => x.ReceptionPointCity, new SelectList(Model.ListReceptionCities, "Code", "Name", Model.ReceptionPointCity), new { ng_model = "shippingMethod.Params.ReceptionPointCity", @class = "form-control", validation_input_text = "ReceptionPointCity" })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Boxberry.ListOfCities")">
                @T("Admin.ShippingMethods.Boxberry.ListOfCities")
                <br />
                @T("Admin.ShippingMethods.Boxberry.SortindNodes")
            </help-trigger>
        </div>
    </div>*@

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.ShippingMethods.Boxberry.ListOfPoints")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.ReceptionPointCode, new SelectList(Model.ListReceptionPoints, "Code", "Name", Model.ReceptionPointCode), new { ng_model = "shippingMethod.Params.ReceptionPointCode", @class = "form-control", validation_input_text = T("Admin.ShippingMethods.Boxberry.ListOfPoints"), ng_required = (Model.ListReceptionPoints.Count > 1).ToLowerString() })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Boxberry.ListOfPoints")">
            @T("Admin.ShippingMethods.Boxberry.ListOfPoints")
            <br />
            @T("Admin.ShippingMethods.Boxberry.SortindNodes")
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Расчитывать методы доставки</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.ListBoxFor(x => x.DeliveryTypes, Model.ListDeliveryTypes, new { ng_model = "shippingMethod.Params.DeliveryTypes", ng_init = "shippingMethod.Params.DeliveryTypes='" + string.Join(",", Model.DeliveryTypes) + "'", @class = "form-control", required = "required", validation_input_text = "Расчитывать методы доставки", size = 2 })
        <input type="hidden" name="DeliveryTypes" value="" ng-if="!shippingMethod.Params.DeliveryTypes.length" />
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="">
            Можно выбрать несколько вариантов зажав клавиши Shift или Ctrl
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs" ng-if="shippingMethod.Params.DeliveryTypes.indexOf('0') != -1">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Отображение ПВЗ</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.TypeOption, Model.ListTypesOption, new { ng_model = "shippingMethod.Params.TypeOption", @class = "form-control", required = "required", validation_input_text = "Отображение ПВЗ" })
    </div>
</div>

<div class="form-group row middle-xs" ng-if="shippingMethod.Params.DeliveryTypes.indexOf('0') != -1 && shippingMethod.Params.TypeOption === '0'">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.ShippingMethods.BoxBerry.IntegrationKey")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.IntegrationToken, new { ng_model = "shippingMethod.Params.IntegrationToken", @class = "form-control", required = "required", validation_input_text = T("Admin.ShippingMethods.BoxBerry.IntegrationKey") })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.BoxBerry.IntegrationKey")">
            @T("Admin.ShippingMethods.Boxberry.WidgetIntegrationKey")<br />
            @T("Admin.ShippingMethods.Boxberry.UseTheFunctionsOfCalculator")<br />
            @T("Admin.ShippingMethods.Boxberry.FilteringTheDisplay")
            <br /><br />
            @T("Admin.ShippingMethods.Boxberry.YouCanGetInPersonalArea") <br />
            @T("Admin.ShippingMethods.Boxberry.ConfigureIntegrationTools")
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs" ng-if="shippingMethod.Params.DeliveryTypes.indexOf('0') != -1 && shippingMethod.Params.TypeOption === '1'">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">API-ключ яндекс.карт</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.YaMapsApiKey, new { @class = "form-control", ng_model = "shippingMethod.Params.YaMapsApiKey", required = "required", validation_input_text = "API-ключ яндекс.карт" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="API-ключ яндекс.карт">
            <a href="https://yandex.ru/dev/maps/jsapi/doc/2.1/quick-start/index.html#get-api-key" target="_blank">Как получить ключ?</a>
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        Со страховкой
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.WithInsure, new { ng_model = "shippingMethod.Params.WithInsure", ng_init = "shippingMethod.Params.WithInsure=" + Model.WithInsure.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul" data-e2e="MethodWithInsure"></span>
        </label>
    </div>
</div>

@*<div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            @T("Admin.ShippingMethods.Boxberry.CalculateCourier")
        </div>
        <div class="col-xs-6 relative">
            <label class="adv-checkbox-label form-label-block">
                @Html.CheckBoxFor(x => x.CalculateCourier, new { ng_model = "shippingMethod.Params.CalculateCourier", ng_init = "shippingMethod.Params.CalculateCourier=" + Model.CalculateCourier.ToLowerString(), @class = "adv-checkbox-input" })
                <span class="adv-checkbox-emul"></span>
            </label>
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Boxberry.CalculateCourier")">
                @T("Admin.ShippingMethods.Boxberry.NoticeCalculateCourier")
            </help-trigger>
        </div>
    </div>*@

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.Boxberry.SynchronizeOrderStatuses")
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.StatusesSync, new { ng_model = "shippingMethod.Params.StatusesSync", ng_init = "shippingMethod.Params.StatusesSync=" + Model.StatusesSync.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul" data-e2e="StatusesSyncBoxberry"></span>
        </label>
    </div>
</div>
<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md font-bold">
        @T("Admin.ShippingMethods.Boxberry.Statuses")
    </div>
</div>


@*Возвращается только для ListStatusesFull <div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
        <div class="flex-grow-n col-fixed-size-md">
            Загружен реестр ИМ
        </div>
        <div class="col-xs-6 relative">
            @Html.DropDownListFor(x => x.Status_Created, Model.ListStatuses, new { ng_model = "shippingMethod.Params.Status_Created", ng_init = "shippingMethod.Params.Status_Created='" + Model.Status_Created + "'", @class = "form-control" })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Загружен реестр ИМ">
                Получена информация о заказе от ИМ
            </help-trigger>
        </div>
    </div>*@
<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Принято к доставке
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.Status_AcceptedForDelivery, Model.ListStatuses, new { ng_model = "shippingMethod.Params.Status_AcceptedForDelivery", ng_init = "shippingMethod.Params.Status_AcceptedForDelivery='" + Model.Status_AcceptedForDelivery + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Принято к доставке">
            Заказ передан на доставку
        </help-trigger>
    </div>
</div>
<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Отправлен на сортировочный терминал
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.Status_SentToSorting, Model.ListStatuses, new { ng_model = "shippingMethod.Params.Status_SentToSorting", ng_init = "shippingMethod.Params.Status_SentToSorting='" + Model.Status_SentToSorting + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Отправлен на сортировочный терминал">
            Отправлен на сортировочный терминал
        </help-trigger>
    </div>
</div>
<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Передано на сортировку
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.Status_TransferredToSorting, Model.ListStatuses, new { ng_model = "shippingMethod.Params.Status_TransferredToSorting", ng_init = "shippingMethod.Params.Status_TransferredToSorting='" + Model.Status_TransferredToSorting + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Передано на сортировку">
            Передано на сортировку
        </help-trigger>
    </div>
</div>
<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Отправлено в город назначения
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.Status_SentToDestinationCity, Model.ListStatuses, new { ng_model = "shippingMethod.Params.Status_SentToDestinationCity", ng_init = "shippingMethod.Params.Status_SentToDestinationCity='" + Model.Status_SentToDestinationCity + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Отправлено в город назначения">
            В пути в город получателя
        </help-trigger>
    </div>
</div>
<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Передано на курьерскую доставку
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.Status_Courier, Model.ListStatuses, new { ng_model = "shippingMethod.Params.Status_Courier", ng_init = "shippingMethod.Params.Status_Courier='" + Model.Status_Courier + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Передано на курьерскую доставку">
            Поступил в город для передачи курьеру
        </help-trigger>
    </div>
</div>
<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Поступило в пункт выдачи
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.Status_PickupPoint, Model.ListStatuses, new { ng_model = "shippingMethod.Params.Status_PickupPoint", ng_init = "shippingMethod.Params.Status_PickupPoint='" + Model.Status_PickupPoint + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Поступило в пункт выдачи">
            Доступен к получению в Пункте выдачи
        </help-trigger>
    </div>
</div>
<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Выдано
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.Status_Delivered, Model.ListStatuses, new { ng_model = "shippingMethod.Params.Status_Delivered", ng_init = "shippingMethod.Params.Status_Delivered='" + Model.Status_Delivered + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Выдано">
            Успешно Выдан
        </help-trigger>
    </div>
</div>
<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Готовится к возврату
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.Status_ReturnPreparing, Model.ListStatuses, new { ng_model = "shippingMethod.Params.Status_ReturnPreparing", ng_init = "shippingMethod.Params.Status_ReturnPreparing='" + Model.Status_ReturnPreparing + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Готовится к возврату">
            Заказ передан на возврат в Интернет-магазин
        </help-trigger>
    </div>
</div>
<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Отправлено в пункт приема
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.Status_ReturnSentToReceivingPoint, Model.ListStatuses, new { ng_model = "shippingMethod.Params.Status_ReturnSentToReceivingPoint", ng_init = "shippingMethod.Params.Status_ReturnSentToReceivingPoint='" + Model.Status_ReturnSentToReceivingPoint + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Отправлено в пункт приема">
            Заказ в пути в Интернет-магазин
        </help-trigger>
    </div>
</div>
<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Возвращено в пункт приема
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.Status_ReturnReturnedToReceivingPoint, Model.ListStatuses, new { ng_model = "shippingMethod.Params.Status_ReturnReturnedToReceivingPoint", ng_init = "shippingMethod.Params.Status_ReturnReturnedToReceivingPoint='" + Model.Status_ReturnReturnedToReceivingPoint + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Возвращено в пункт приема">
            Возвращено в пункт приема
        </help-trigger>
    </div>
</div>
<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Возвращено с курьерской доставки
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.Status_ReturnByCourier, Model.ListStatuses, new { ng_model = "shippingMethod.Params.Status_ReturnByCourier", ng_init = "shippingMethod.Params.Status_ReturnByCourier='" + Model.Status_ReturnByCourier + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Возвращено с курьерской доставки">
            Заказ передан на возврат в Интернет-магазин
        </help-trigger>
    </div>
</div>
<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Возвращено в ИМ
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.Status_ReturnReturned, Model.ListStatuses, new { ng_model = "shippingMethod.Params.Status_ReturnReturned", ng_init = "shippingMethod.Params.Status_ReturnReturned='" + Model.Status_ReturnReturned + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Возвращено в ИМ">
            Заказ возвращен в Интернет-магазин
        </help-trigger>
    </div>
</div>
}
<input type="hidden" name="sdekMethodId" ng-model="shippingMethod.sdek.MethodId" value="@Model.ShippingMethodId" />

@*<div class="adv-panel-info ">
        <a href="http://www.advantshop.net/help/pages/install-sdek" target="_blank">Инструкция. Подключение модуля доставки СДЭК</a>
    </div>*@
