@model AdvantShop.Core.Services.Shipping.ShippingMethodAdminModel

@using System.Linq
@using AdvantShop.Payment
@using AdvantShop.Repository.Currencies

@{
    var baseCurrency = CurrencyService.GetAllCurrencies().FirstOrDefault(x => x.Rate == 1f);
    var baseCurrencySymbol = baseCurrency != null ? baseCurrency.Symbol : "BaseCurrency";
}

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.ShippingMethods.Common.ShippingMethodName")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", ng_model = "shippingMethod.name", required = "required", validation_input_text = T("Admin.ShippingMethods.Common.ShippingMethodName") })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Common.ShippingMethodName")">
            <p>@T("Admin.ShippingMethods.Common.NameInClientPart")</p>
            <p>@T("Admin.ShippingMethods.Common.ForExamplePickUp")</p>
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.Common.Active")
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.Enabled, new { ng_model = "shippingMethod.enabled", ng_init = "shippingMethod.enabled=" + Model.Enabled.ToLowerString(), @class = "adv-checkbox-input" })
            <span data-e2e="ShippingEnabled" class="adv-checkbox-emul"></span>
        </label>
        @if (!Model.Enabled)
        {
            <span class="link-danger">@T("Admin.ShippingMethods.Common.NotActive")</span>
        }
        <help-trigger class="ng-cloak" data-title="@T("Admin.ShippingMethods.Common.Active")">
            @T("Admin.ShippingMethods.Common.MethodOnOrOff")
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.Common.ActivityOfTheMethod")
        <help-trigger class="ng-cloak" data-title="@T("Admin.ShippingMethods.Common.CitiesAndCountries")">
            <div class="help-content">
                @T("Admin.ShippingMethods.Common.SpecifyListOfCountreisAndCities")
            </div>
        </help-trigger>
    </div>
    <div class="col-xs-8 relative">

        <div class="m-b-sm ng-cloak" ng-if="shippingMethod.AvailableCountries != null && shippingMethod.AvailableCountries.length != 0">
            <div data-e2e="ShippingCountry" ng-repeat="item in shippingMethod.AvailableCountries track by $index" class="ng-cloak shipping-location-item">
                {{$index != 0 ? ", " : ""}} {{item.Name}} <a href="" ng-click="shippingMethod.deleteAvailableCountry(item.CountryId)" data-e2e="ShippingCountryDel" class="link-invert link-decoration-none fas fa-times"></a>
            </div>
        </div>

        <div class="m-b-sm ng-cloak" ng-if="shippingMethod.AvailableRegions != null && shippingMethod.AvailableRegions.length != 0">
            <div data-e2e="ShippingRegion" ng-repeat="item in shippingMethod.AvailableRegions track by $index" class="ng-cloak shipping-location-item">
                {{$index != 0 ? ", " : ""}} {{item.Name}} <a href="" ng-click="shippingMethod.deleteAvailableRegion(item.RegionId)" data-e2e="ShippingRegionDel" class="link-invert link-decoration-none fas fa-times"></a>
            </div>
        </div>

        <div class="m-b-sm ng-cloak" ng-if="shippingMethod.AvailableCities != null && shippingMethod.AvailableCities.length != 0">
            <div data-e2e="ShippingCity" ng-repeat="item in shippingMethod.AvailableCities track by $index" class="ng-cloak shipping-location-item">
                {{$index != 0 ? ", " : ""}} {{item.Name}} <a href="" ng-click="shippingMethod.deleteAvailableCity(item.CityId)" data-e2e="ShippingCityDel" class="link-invert link-decoration-none fas fa-times"></a>
            </div>
        </div>

        <div class="m-b-sm bold ng-cloak" ng-if="(shippingMethod.AvailableCountries == null || shippingMethod.AvailableCountries.length == 0) && (shippingMethod.AvailableRegions == null || shippingMethod.AvailableRegions.length == 0) && (shippingMethod.AvailableCities == null || shippingMethod.AvailableCities.length == 0)">
            <span class="relative p-r-xs">
                @T("Admin.ShippingMethods.Common.AllCountriesAllCities")
            </span>
        </div>

        @if (!SettingsDesign.DisplayCityInTopPanel && (!SettingsCheckout.IsShowCountry || !SettingsCheckout.IsShowState))
        {
            <div class="row m-b-sm ng-cloak" ng-if="(shippingMethod.AvailableCountries != null && shippingMethod.AvailableCountries.length != 0) || (shippingMethod.AvailableRegions != null && shippingMethod.AvailableRegions.length != 0)">
                <div class="col-xs-9">
                    <div class="adv-panel-info">
                        Для корректной работы фильтра необходимо, чтобы было подключено авто-определение города либо активирован вывод области (для фильтра по области) и страны (для фильтра по страны) в полях оформления заказа
                    </div>
                </div>
            </div>
        }

        <div class="row m-b-sm">
            <div class="col-xs-2">@T("Admin.ShippingMethods.Common.Countries")</div>
            <div class="col-xs-9">
                <input data-e2e="ShippingCountryName" type="text" class="form-control" ng-model="shippingMethod.newAvailableCountry" style="width: 250px; display: inline-block; vertical-align: top;" autocompleter on-type="country" />
                <button data-e2e="ShippingCountryAdd" type="button" class="btn btn-sm btn-action" ng-disabled="!shippingMethod.newAvailableCountry" ng-click="shippingMethod.addAvailableCountry()">@T("Admin.ShippingMethods.Common.AddACountry")</button>
            </div>
        </div>

        <div class="row m-b-sm">
            <div class="col-xs-2">
                Регионы
                <help-trigger class="ng-cloak" data-title="Список городов федерального значения">
                    <div class="help-content">
                        Обратите внимание: Москва, Санкт-Петербург и Севастополь являются городами федерального значения и не входят в состав областей, поэтому их необходимо прописывать в поле региона отдельно.<br /><br />
                        Например, если метод доставки активен для Москвы и Московской области, необходимо задать 2 региона: Московская область и Москва.
                    </div>
                </help-trigger>
            </div>
            <div class="col-xs-9">
                <input data-e2e="ShippingRegionName" type="text" class="form-control" style="width: 250px; display: inline-block; vertical-align: top;"
                       ng-model="shippingMethod.newAvailableRegion.name"
                       uib-typeahead="item for items in shippingMethod.findRegion($viewValue)"
                       typeahead-template-url="find-region.html"
                       typeahead-on-select="shippingMethod.selectAvailableRegion($item)"
                       typeahead-focus-first="false"
                       ng-change="shippingMethod.newAvailableRegion.id = undefined" />
                <button data-e2e="ShippingRegionAdd" type="button" class="btn btn-sm btn-action" ng-disabled="!shippingMethod.newAvailableRegion.name" ng-click="shippingMethod.addAvailableRegion()">Добавить регион</button>
            </div>
        </div>

        <div class="row m-b-sm">
            <div class="col-xs-2">@T("Admin.ShippingMethods.Common.Cities")</div>
            <div class="col-xs-9">
                <input data-e2e="ShippingCityName" type="text" class="form-control" style="width: 250px; display: inline-block; vertical-align: top;"
                       ng-model="shippingMethod.newAvailableCity.name"
                       uib-typeahead="item for items in shippingMethod.findCity($viewValue)"
                       typeahead-template-url="find-city.html"
                       typeahead-on-select="shippingMethod.selectAvailableCity($item)"
                       typeahead-focus-first="false"
                       ng-change="shippingMethod.newAvailableCity.id = undefined" />
                <button data-e2e="ShippingCityAdd" type="button" class="btn btn-sm btn-action" ng-disabled="!shippingMethod.newAvailableCity.name" ng-click="shippingMethod.addAvailableCity()">@T("Admin.ShippingMethods.Common.AddACity")</button>
            </div>
        </div>
    </div>
</div>


<div class="form-group row">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.Common.MethodsIsNotAvailableFor")
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.ShippingMethods.Common.CitiesOfExclusion")">
            <div class="help-content">
                @T("Admin.ShippingMethods.Common.ListOfDeliveryNotAvailable")
            </div>
        </help-trigger>
    </div>

    <div class="col-xs-8 relative">

        <div ng-if="shippingMethod.isNoExceptions()" class="bold m-b-sm ng-cloak">
            @T("Admin.ShippingMethods.Common.NoExceptions")
        </div>
        <div>
            <div data-e2e="ShippingEnCountryList" ng-repeat="item in shippingMethod.ExcludedCountry track by $index" class="ng-cloak m-b-sm shipping-location-item">
                {{$index != 0 ? ", " : ""}} {{item.Name}} <a href="" ng-click="shippingMethod.deleteExcludedCountry(item.CountryId)" class="link-invert link-decoration-none fas fa-times" data-e2e="ShippingEnCountryDel"></a>
            </div>
        </div>
        <div>
            <div data-e2e="ShippingEnRegionList" ng-repeat="item in shippingMethod.ExcludedRegions track by $index" class="ng-cloak m-b-sm shipping-location-item">
                {{$index != 0 ? ", " : ""}} {{item.Name}} <a href="" ng-click="shippingMethod.deleteExcludedRegion(item.RegionId)" class="link-invert link-decoration-none fas fa-times" data-e2e="ShippingEnRegionDel"></a>
            </div>
        </div>
        <div>
            <div data-e2e="ShippingEnCityList" ng-repeat="item in shippingMethod.ExcludedCities track by $index" class="ng-cloak m-b-sm shipping-location-item">
                {{$index != 0 ? ", " : ""}} {{item.Name}} <a href="" ng-click="shippingMethod.deleteExcludedCity(item.CityId)" class="link-invert link-decoration-none fas fa-times" data-e2e="ShippingEnCityDel"></a>
            </div>
        </div>

        @if (!SettingsDesign.DisplayCityInTopPanel && (!SettingsCheckout.IsShowCountry || !SettingsCheckout.IsShowState))
        {
            <div class="row m-b-sm ng-cloak" ng-if="(shippingMethod.ExcludedCountry != null && shippingMethod.ExcludedCountry.length != 0) || (shippingMethod.ExcludedRegions != null && shippingMethod.ExcludedRegions.length != 0)">
                <div class="col-xs-9">
                    <div class="adv-panel-info">
                        Для корректной работы фильтра необходимо, чтобы было подключено авто-определение города либо активирован вывод области (для фильтра по области) и страны (для фильтра по страны) в полях оформления заказа
                    </div>
                </div>
            </div>
        }


        <div class="row m-b-sm">
            <div class="col-xs-2">@T("Admin.ShippingMethods.Common.Countries")</div>
            <div class="col-xs-9">
                <input data-e2e="ShippingEnCountry" type="text" class="form-control" ng-model="shippingMethod.newExcludedCountry" style="width: 250px; display: inline-block; vertical-align: top;" autocompleter on-type="country" />
                <button data-e2e="ShippingEnCountryAdd" type="button" class="btn btn-sm btn-action" ng-disabled="!shippingMethod.newExcludedCountry" ng-click="shippingMethod.addExcludedCountry()">@T("Admin.ShippingMethods.Common.AddACountry")</button>
            </div>
        </div>

        <div class="row m-b-sm">
            <div class="col-xs-2">
                 Регионы
                <help-trigger class="ng-cloak" data-title="Список городов федерального значения">
                    <div class="help-content">
                        Обратите внимание: Москва, Санкт-Петербург и Севастополь являются городами федерального значения и не входят в состав областей, поэтому их необходимо прописывать в поле региона отдельно.<br /><br />
                        Например, если метод доставки активен для Москвы и Московской области, необходимо задать 2 региона: Московская область и Москва.
                    </div>
                </help-trigger></div>
            <div class="col-xs-9">
                <input data-e2e="ShippingEnRegion" type="text" class="form-control" style="width: 250px; display: inline-block; vertical-align: top;"
                       ng-model="shippingMethod.newExcludedRegion.name"
                       uib-typeahead="item for items in shippingMethod.findRegion($viewValue)"
                       typeahead-template-url="find-region.html"
                       typeahead-on-select="shippingMethod.selectExcludedRegion($item)"
                       typeahead-focus-first="false"
                       ng-change="shippingMethod.newExcludedRegion.id = undefined" />
                <button data-e2e="ShippingEnRegionAdd" type="button" class="btn btn-sm btn-action" ng-disabled="!shippingMethod.newExcludedRegion.name" ng-click="shippingMethod.addExcludedRegion()">Добавить регион</button>
            </div>
        </div>

        <div class="row m-b-sm">
            <div class="col-xs-2">@T("Admin.ShippingMethods.Common.Cities")</div>
            <div class="col-xs-9">
                <input data-e2e="ShippingEnCity" type="text" class="form-control" style="width: 250px; display: inline-block; vertical-align: top;"
                       ng-model="shippingMethod.newExcludedCity.name"
                       uib-typeahead="item for items in shippingMethod.findCity($viewValue)"
                       typeahead-template-url="find-city.html"
                       typeahead-on-select="shippingMethod.selectExcludedCity($item)"
                       typeahead-focus-first="false"
                       ng-change="shippingMethod.newExcludedCity.id = undefined" />
                <button data-e2e="ShippingEnCityAdd" type="button" class="btn btn-sm btn-action" ng-disabled="!shippingMethod.newExcludedCity.name" ng-click="shippingMethod.addExcludedCity()">@T("Admin.ShippingMethods.Common.AddACity")</button>
            </div>
        </div>

        <div class="row m-b-sm ng-cloak">
            <div class="col-xs-2">
                @T("Admin.ShippingMethods.Common.Categories")
            </div>
            <div class="col-xs-9">
                <div class="inline" style="width: 250px;">
                    <span ng-if="shippingMethod.ExcludedCategories.length == 0">@T("Admin.ShippingMethods.Common.Empty")</span>
                    <span ng-if="shippingMethod.ExcludedCategories.length > 0">{{shippingMethod.ExcludedCategories.length}} @T("Admin.ShippingMethods.Common.CategoriesCount")</span>
                </div>

                <ui-modal-trigger data-controller="'ModalSelectCategoriesCtrl'" controller-as="ctrl"
                                  template-url="../areas/admin/content/src/_shared/modal/selectCategories/selectCategories.html"
                                  data-resolve="{'params': { 'selectedIds': shippingMethod.ExcludedCategories}}"
                                  data-on-close="shippingMethod.selectExcludedCategories(result)">
                    <a href="" class="btn btn-sm btn-action">@T("Admin.ShippingMethods.Common.CategoriesChange")</a>
                </ui-modal-trigger>

                <a href="" class="btn btn-sm btn-action" ng-if="shippingMethod.ExcludedCategories.length > 0" ng-click="shippingMethod.resetExcludedCategories()">@T("Admin.ShippingMethods.Common.CategoriesReset")</a>
            </div>
        </div>

        <div class="row m-b-sm ng-cloak">
            <div class="col-xs-2">
                @T("Admin.ShippingMethods.Common.Products")
            </div>
            <div class="col-xs-9">
                <div class="inline" style="width: 250px;">
                    <span ng-if="shippingMethod.CountExcludedProducts == 0">@T("Admin.ShippingMethods.Common.Empty")</span>
                    <span ng-if="shippingMethod.CountExcludedProducts > 0">{{shippingMethod.CountExcludedProducts}} @T("Admin.ShippingMethods.Common.ProductsCount")</span>
                </div>

                <ui-modal-trigger data-controller="'ModalShippingProductsSelectvizrCtrl'" controller-as="ctrl" size="xs-11"
                                  template-url="../areas/admin/content/src/_shared/modal/shipping-products-selectvizr/shippingProductsSelectvizrModal.html"
                                  data-on-close="shippingMethod.selectExcludedProducts(result)"
                                  data-on-dismiss="shippingMethod.selectExcludedProducts(result)"
                                  data-resolve="{'value': { 'shippingId' : shippingMethod.methodId, 'typeRef': 'Exclude'}}">
                    <a href="" class="btn btn-sm btn-action">@T("Admin.ShippingMethods.Common.ProductsChange")</a>
                </ui-modal-trigger>

                <a href="" class="btn btn-sm btn-action" ng-if="shippingMethod.CountExcludedProducts > 0" ng-click="shippingMethod.resetExcludedProducts()">@T("Admin.ShippingMethods.Common.ProductsReset")</a>
            </div>
        </div>

    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.Common.Type")
    </div>
    <div class="col-xs-6 relative">
        @Model.ShippingTypeLocalized
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.Common.Description")
    </div>
    <div class="col-xs-6 relative">
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", ng_model = "shippingMethod.description" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Common.Description")">
            <p>@T("Admin.ShippingMethods.Common.DeliveryDescription")</p>
            <p>@T("Admin.ShippingMethods.Common.DeliveryToTheDoor")</p>
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.Common.TextAtZeroCost")
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.ZeroPriceMessage, new { @class = "form-control", ng_model = "shippingMethod.zeroPriceMessage" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Common.TextAtZeroCost")">
            <p>@T("Admin.ShippingMethods.Common.TextShownIfCostIsZero")</p>
            <p>@T("Admin.ShippingMethods.Common.ForExampleFree")</p>
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.Common.SortingOrder")
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.SortOrder, new { @class = "form-control", ng_model = "shippingMethod.sortOrder" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Common.SortingOrder")">
            @T("Admin.ShippingMethods.Common.ZeroAtTop")
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.Common.ShowAdditionalFields")
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.DisplayCustomFields, new { ng_model = "shippingMethod.displayCustomFields", ng_init = "shippingMethod.displayCustomFields=" + Model.DisplayCustomFields.ToLowerString(), @class = "adv-checkbox-input" })
            <span data-e2e="ShippingAddittional" class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.ShippingMethods.Common.ShowAdditionalFields")">
            <p>@T("Admin.ShippingMethods.Common.AdditionalFieldsForDeliveryMethods")</p>
            <p>@T("Admin.ShippingMethods.Common.SettingsFieldsInOrder")</p>
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.Common.ShowZip")
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.DisplayIndex, new { ng_model = "shippingMethod.displayIndex", ng_init = "shippingMethod.displayIndex=" + Model.DisplayIndex.ToLowerString(), @class = "adv-checkbox-input" })
            <span data-e2e="ShippingIndex" class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.ShippingMethods.Common.ShowZip")">
            @T("Admin.ShippingMethods.Common.ShowZip")
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.Common.ShowInProductCard")
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.ShowInDetails, new { ng_model = "shippingMethod.showInDetails", ng_init = "shippingMethod.showInDetails=" + Model.ShowInDetails.ToLowerString(), @class = "adv-checkbox-input" })
            <span data-e2e="ShippingDetais" class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.ShippingMethods.Common.ShowInProductCard")">
            <p>@T("Admin.ShippingMethods.Common.ShowDeliveryMethodInDeliveryBlock")</p>
            <p>@T("Admin.ShippingMethods.Common.OptionToAdjustMethodsToDisplay")</p>
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.Common.MoveToEnd")
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.MoveToEnd, new { ng_model = "shippingMethod.MoveToEnd", ng_init = "shippingMethod.MoveToEnd=" + Model.MoveToEnd.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.ShippingMethods.Common.MoveToEnd")">
            <p>Методы доставки с данной опцией будут всегда перемещаться в конец списка доставок</p>
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.Common.ShowIfNoOtherShippings")
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.ShowIfNoOtherShippings, new { ng_model = "shippingMethod.ShowIfNoOtherShippings", ng_init = "shippingMethod.ShowIfNoOtherShippings=" + Model.ShowIfNoOtherShippings.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.ShippingMethods.Common.ShowIfNoOtherShippings")">
            <p>Методы доставки, отмеченные данной опцией, будут отображаться, только в случае отсутствия, по ряду причин, доставок без данной опции.</p>
            <p>
                Применяя данную опцию, можно повысить конверсию оформления заказов, предоставив общий метод доставки на случай, когда для клиента не доступна ни одна доставка.<br />
                Например: в силу отсутствия возможности доставить в указанный населённый пункт другими доставками.
            </p>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.Common.Icon")
    </div>
    <div class="col-xs-6 relative">
        <img ng-if="shippingMethod.icon != null && shippingMethod.icon.length > 0" ng-src="{{shippingMethod.icon}}" class="m-b-sm" />
        <div>
            <a href=""
               accept="image/*"
               ngf-max-size="15MB"
               ngf-select=""
               ngf-change="shippingMethod.uploadIcon($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
               class="picture-uploader-buttons-add">
                @T("Admin.ShippingMethods.Common.AddAnImage")
            </a>
        </div>
        <div class="ng-cloak m-t-xs" ng-if="shippingMethod.icon == null || shippingMethod.icon.length == 0">
            @T("Admin.ShippingMethods.Common.RecommendedSize")<br>@T("Admin.ShippingMethods.Common.FormatCanOnlyBe")
        </div>
        <div class="ng-cloak" ng-if="shippingMethod.icon != null && shippingMethod.icon.length > 0">
            <a href="" class="picture-uploader-buttons-delete link-danger" ng-click="shippingMethod.deleteIcon()">@T("Admin.ShippingMethods.Common.DeleteImage")</a>
        </div>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.Common.Tax")
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.TaxId, Model.Taxes, new { @class = "form-control", ng_model = "shippingMethod.TaxId" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Common.Tax")">
            <p>@T("Admin.ShippingMethods.Common.ShippingTax")</p>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.Common.AvailablePaymentMethodsAtThisDeliveryMethod")
    </div>
    <div class="col-xs-6 relative">
        <div ng-repeat="item in shippingMethod.payments track by $index">
            <label class="adv-checkbox-label form-label-block" ng-class="{'method-notactive' : !item.Enabled}">
                <input type="checkbox" checklist-model="shippingMethod.selectedPaymentMethods" checklist-value="item.PaymentMethodId" class="adv-checkbox-input" />
                <span data-e2e="PaymentMethods" class="adv-checkbox-emul"></span>
                {{item.Name}}
            </label>
        </div>

        <input type="hidden" name="payments" value="{{shippingMethod.selectedPaymentMethods}}" />
    </div>
</div>

@if (Model.UseExtracharge)
{
    <div class="row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            @T("Admin.ShippingMethods.Common.Extracharge")
        </div>
        <div class="col-xs-2">
            <div class="input-group">
                @Html.TextBoxFor(x => x.ExtrachargeInPercents, new
                {
                    ng_model = "shippingMethod.ExtrachargeInPercents",
                    @class = "form-control",
                    type = "number",
                    ng_max = "100",
                    ng_min = "-100",
                    validation_input_text = T("Admin.ShippingMethods.Common.Extracharge")
                })
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" value=""><span>%</span></button>
                </span>
            </div>
        </div>
        <div class="col-xs-1">
            <div style="text-align: center">+</div>
        </div>
        <div class="col-xs-2 relative">
            <div class="input-group">
                @Html.TextBoxFor(x => x.ExtrachargeInNumbers, new
                {
                    ng_model = "shippingMethod.ExtrachargeInNumbers",
                    @class = "form-control",
                    type = "number",
                    validation_input_text = T("Admin.ShippingMethods.Common.Extracharge")
                })
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" value=""><span>@baseCurrencySymbol</span></button>
                </span>
            </div>
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Common.Extracharge")">
                <p>@T("Admin.ShippingMethods.Common.ExtrachargeFixedNumber")</p>
                <p>@T("Admin.ShippingMethods.Common.ExtrachargePercentage")</p>
            </help-trigger>
        </div>
    </div>
    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">&nbsp;</div>
        <div class="col-xs-2">
            <label class="adv-checkbox-label form-label-block">
                @Html.CheckBoxFor(x => x.ExtrachargeFromOrder, new { ng_model = "shippingMethod.ExtrachargeFromOrder", ng_init = "shippingMethod.ExtrachargeFromOrder=" + Model.ExtrachargeFromOrder.ToLowerString(), @class = "adv-checkbox-input" })
                <span class="adv-checkbox-emul" data-e2e="ExtrachargeFromOrder"></span>
                @T("Admin.ShippingMethods.Common.ExtrachargeFromOrder")
            </label>
        </div>
        <div class="co-xs"></div>
    </div>
}
@if (Model.UseExtraDeliveryTime)
{
    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            @T("Admin.ShippingMethods.Common.ExtraDeliveryTime")
        </div>
        <div class="col-xs-6 relative">
            <div class="input-group">
                @Html.TextBoxFor(x => x.ExtraDeliveryTime, new { ng_model = "shippingMethod.ExtraDeliveryTime", @class = "form-control", type = "number" })
                <div class="input-group-btn">
                    <span class="btn btn-default"><span>@T("Admin.ShippingMethods.Common.ExtraDeliveryTimeDays")</span></span>
                </div>
            </div>
            
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Common.ExtraDeliveryTime")">
                @T("Admin.ShippingMethods.Common.ExtraDeliveryTimeHint")
            </help-trigger>
        </div>
    </div>
}

@if (Model.UseWeight)
{
    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            @T("Admin.ShippingMethods.Common.WeightExtracharge")
        </div>
        <div class="col-xs-6 relative">
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" value="0" ng-click="shippingMethod.WeightExtrachargeType = '@ExtrachargeType.Fixed'" ng-class="{'product-currency-active':(shippingMethod.WeightExtrachargeType == '@ExtrachargeType.Fixed')}"><span>@T("Admin.ShippingMethods.Common.Kg")</span></button>
                    <button type="button" class="btn btn-default" value="1" ng-click="shippingMethod.WeightExtrachargeType = '@ExtrachargeType.Percent'" ng-class="{'product-currency-active':(shippingMethod.WeightExtrachargeType == '@ExtrachargeType.Percent')}"><span>%</span></button>
                </span>
                @Html.TextBoxFor(x => x.WeightExtracharge, new
                {
                    ng_model = "shippingMethod.WeightExtracharge",
                    @class = "form-control",
                    type = "number",
                    ng_max = "shippingMethod.WeightExtrachargeType == '" + ExtrachargeType.Percent + "' ? 100 : null",
                    ng_min = "shippingMethod.WeightExtrachargeType == '" + ExtrachargeType.Percent + "' ? -100 : null",
                    validation_input_text = T("Admin.ShippingMethods.Common.WeightExtracharge")
                })
            </div>
            @Html.HiddenFor(x => x.WeightExtrachargeType, new { @class = "form-control", ng_model = "shippingMethod.WeightExtrachargeType", ng_value = "shippingMethod.WeightExtrachargeType" })

            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Common.WeightExtracharge")">
                <p>@T("Admin.ShippingMethods.Common.WeightExtrachargeFixedNumber")</p>
                <p>@T("Admin.ShippingMethods.Common.WeightExtrachargePercentage")</p>
            </help-trigger>
        </div>
    </div>
}

@if (Model.UseCargo)
{
    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            @T("Admin.ShippingMethods.Common.CargoExtracharge")
        </div>
        <div class="col-xs-6 relative">
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" value="0" ng-click="shippingMethod.CargoExtrachargeType = '@ExtrachargeType.Fixed'" ng-class="{'product-currency-active':(shippingMethod.CargoExtrachargeType == '@ExtrachargeType.Fixed')}"><span>@T("Admin.ShippingMethods.Common.Mm")</span></button>
                    <button type="button" class="btn btn-default" value="1" ng-click="shippingMethod.CargoExtrachargeType = '@ExtrachargeType.Percent'" ng-class="{'product-currency-active':(shippingMethod.CargoExtrachargeType == '@ExtrachargeType.Percent')}"><span>%</span></button>
                </span>
                @Html.TextBoxFor(x => x.CargoExtracharge, new
                {
                    ng_model = "shippingMethod.CargoExtracharge",
                    @class = "form-control",
                    type = "number",
                    ng_max = "shippingMethod.CargoExtrachargeType == '" + ExtrachargeType.Percent + "' ? 100 : null",
                    ng_min = "shippingMethod.CargoExtrachargeType == '" + ExtrachargeType.Percent + "' ? -100 : null",
                    validation_input_text = T("Admin.ShippingMethods.Common.CargoExtracharge")
                })
            </div>
            @Html.HiddenFor(x => x.CargoExtrachargeType, new { @class = "form-control", ng_model = "shippingMethod.CargoExtrachargeType", ng_value = "shippingMethod.CargoExtrachargeType" })

            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Common.CargoExtracharge")">
                <p>@T("Admin.ShippingMethods.Common.CargoExtrachargeFixedNumber")</p>
                <p>@T("Admin.ShippingMethods.Common.CargoExtrachargePercentage")</p>
            </help-trigger>
        </div>
    </div>
}

@if (Model.UseWeight || Model.UseCargo)
{
    <div class="m-t">
        <div class="form-group row middle-xs">
            <div class="col-xs-12">
                @T("Admin.ShippingMethods.Common.DefaultProductParametersValue")
            </div>
        </div>
    </div>
}

@if (Model.UseWeight)
{
    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.ShippingMethods.Common.DefaultWeight")</span>
        </div>
        <div class="col-xs-6 relative">
            <div class="input-group">
                @Html.TextBoxFor(x => x.BaseDefaultWeight, new { @class = "form-control", ng_model = "shippingMethod.DefaultWeight", required = "required", type = "number", validation_input_text = T("Admin.ShippingMethods.Common.DefaultWeight") })
                <div class="input-group-btn">
                    <span class="btn btn-default"><span>@T("Admin.ShippingMethods.Common.Kg")</span></span>
                </div>
            </div>
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Common.DefaultWeight")">
                @T("Admin.ShippingMethods.Common.ProductWeightWillAssumeValue")<br><br>
                @T("Admin.ShippingMethods.Common.ValueIsSpecifiedInKg")<br><br>
                @T("Admin.ShippingMethods.Common.ForExample1or02")
            </help-trigger>
        </div>
    </div>
}
@if (Model.UseCargo)
{
    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.ShippingMethods.Common.DefaultCargo")</span>
        </div>
        <div class="col-xs-6 relative">
            <div class="row">
                <div class="col-xs-4">
                    <div class="input-group">
                        @Html.TextBoxFor(x => x.BaseDefaultLength, new { @class = "form-control", ng_model = "shippingMethod.DefaultLength", required = "required", type = "number", validation_input_text = T("Admin.ShippingMethods.Common.Length") })
                        <div class="input-group-btn">
                            <span class="btn btn-default"><span>@T("Admin.ShippingMethods.Common.Mm")</span></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="input-group">
                        @Html.TextBoxFor(x => x.BaseDefaultHeight, new { @class = "form-control", ng_model = "shippingMethod.DefaultHeight", required = "required", type = "number", validation_input_text = T("Admin.ShippingMethods.Common.Height") })
                        <div class="input-group-btn">
                            <span class="btn btn-default"><span>@T("Admin.ShippingMethods.Common.Mm")</span></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="input-group">
                        @Html.TextBoxFor(x => x.BaseDefaultWidth, new { @class = "form-control", ng_model = "shippingMethod.DefaultWidth", required = "required", type = "number", validation_input_text = T("Admin.ShippingMethods.Common.Width") })
                        <div class="input-group-btn">
                            <span class="btn btn-default"><span>@T("Admin.ShippingMethods.Common.Mm")</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Common.DefaultCargo")">
                @T("Admin.ShippingMethods.Common.LengthOfProductWillTakeSpecifiedValue")<br><br>
                @T("Admin.ShippingMethods.Common.ValueIsIndicatedInMm")<br><br>
                @T("Admin.ShippingMethods.Common.ForExample120")
            </help-trigger>
        </div>
    </div>
}

@if (Model.UseCurrency)
{
    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            Валюта, в которой производится расчет доставки
        </div>
        <div class="col-xs-6 relative">
            @Html.DropDownListFor(x => x.CurrencyId, Model.Currencies, new { ng_model = "shippingMethod.currencyId", ng_init = "shippingMethod.currencyId='" + Model.CurrencyId + "'", required = "required", @class = "form-control", validation_input_text = "Валюта, в которой производится расчет доставки" })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Валюта, в которой производится расчет доставки">
                <p>Данная опция отвечает за назначение валюты, в которой работает данный метод доставки.</p>
                <p>В списке содержится только валюты поддерживаемые данным методом доставки.</p>
            </help-trigger>
        </div>
    </div>
    if (Model.CurrencyAllAvailable == false && Model.Currencies.Count(x => x.Value.IsNotEmpty()) <= 0)
    {
        <div class="form-group row">
            <div class="col-xs-8">
                <div class="adv-panel-danger">
                    <p>Внимание! В списке валют нет поддерживаемой, данным методом доставки, валюты. Из-за этого метод будет работать не корректно.</p>
                    <p>Необходимо создать валюту с ISO3 равным 
                        @(Model.CurrencyIso3Available != null ? string.Join(", ", Model.CurrencyIso3Available) : "[Метод использует валюту и не реализовал список поддерживаемых валют]").</p>
                </div>
            </div>
        </div>
    }
}

<script type="text/ng-template" id="find-region.html">
    <a><span>{{match.model.Region}}</span> <span ng-if="match.model.CountryName.length">({{match.model.CountryName}})</span></a>
</script>
<script type="text/ng-template" id="find-city.html">
    <a><span>{{match.model.City}}</span><span ng-if="match.model.District.length">, {{match.model.District}}</span> <span ng-if="match.model.Region.length">({{match.model.Region}})</span></a>
</script>