@model AdvantShop.Web.Infrastructure.Admin.ShippingMethods.DDeliveryShippingAdminModel

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.ShippingMethods.DDelivery.Token")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.ApiKey, new { ng_model = "shippingMethod.Params.ApiKey", @class = "form-control", required = "required", validation_input_text = T("Admin.ShippingMethods.DDelivery.Token") })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.DDelivery.Token")">
            @T("Admin.ShippingMethods.DDelivery.GetApiKey")

        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Токен</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.Token, new { ng_model = "shippingMethod.Params.Token", @class = "form-control", required = "required", validation_input_text = "Токен" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Токен">
            Находится на странице вашего профиля в Личном кабинете SafeRoute
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.ShippingMethods.DDelivery.ShopId")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.ShopId, new { ng_model = "shippingMethod.Params.ShopId", @class = "form-control", required = "required", validation_input_text = T("Admin.ShippingMethods.DDelivery.StoreID") })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.DDelivery.StoreID")">
            @T("Admin.ShippingMethods.DDelivery.GetShopId")
        </help-trigger>
    </div>
</div>

@*<div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.ShippingMethods.DDelivery")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.DropDownListFor(x => x.ReceptionCompanyId, new SelectList(Model.ListReceptionCompanies, "Id", "Name", Model.ReceptionCompanyId), new { ng_model = "shippingMethod.Params.ReceptionCompanyId", @class = "form-control", validation_input_text = "ReceptionCompanyId" })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.DDelivery.ListOfParcelPickingCompanies")">
                @T("Admin.ShippingMethods.DDelivery.ListOfParcelPickingCompanies")
            </help-trigger>
        </div>
    </div>*@

@*<div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            @T("Admin.ShippingMethods.DDelivery.CreateDraftOrderInDD")
        </div>
        <div class="col-xs-6 relative">
            <label class="adv-checkbox-label form-label-block">
                @Html.CheckBoxFor(x => x.CreateDraftOrder, new { ng_model = "shippingMethod.Params.CreateDraftOrder", ng_init = "shippingMethod.Params.CreateDraftOrder=" + Model.CreateDraftOrder.ToLowerString(), @class = "adv-checkbox-input" })
                <span class="adv-checkbox-emul"></span>
            </label>
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.DDelivery.CreateDraftOrder")">
                @T("Admin.ShippingMethods.DDelivery.WhenCreatingAnOrder")
            </help-trigger>
        </div>
    </div>*@

@*<div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            @T("Admin.ShippingMethods.DDelivery.GroupDeliveryByType")
        </div>
        <div class="col-xs-6 relative">
            <label class="adv-checkbox-label form-label-block">
                @Html.CheckBoxFor(x => x.GroupingShippingOptions, new { ng_model = "shippingMethod.Params.GroupingShippingOptions", ng_init = "shippingMethod.Params.GroupingShippingOptions=" + Model.GroupingShippingOptions.ToLowerString(), @class = "adv-checkbox-input" })
                <span class="adv-checkbox-emul"></span>
            </label>
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.DDelivery.GroupDeliveryByType")">
                @T("Admin.ShippingMethods.DDelivery.ShippingMethodsGroupedByType")
            </help-trigger>
        </div>
    </div>*@

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.DDelivery.UseWidget")
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.UseWidget, new { ng_model = "shippingMethod.Params.UseWidget", ng_init = "shippingMethod.Params.UseWidget=" + Model.UseWidget.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.DDelivery.UseWidget")">
            @T("Admin.ShippingMethods.DDelivery.NoticeUseWidget")
        </help-trigger>
    </div>
</div>

<input type="hidden" name="sdekMethodId" ng-model="shippingMethod.sdek.MethodId" value="@Model.ShippingMethodId" />