@model AdvantShop.Web.Infrastructure.Admin.ShippingMethods.DpdShippingAdminModel

<div class="form-group row" ng-if="!shippingMethod.Params.ExistApi">
    <div class="col-xs-8">
        <div class="adv-panel-info">
            Внимание! Если метод доставки создается в магазине впервые, то после сохранения настроек с корректно введенными данными доступа к API будет долгая загрузка страницы.
            В это время будут загружаться географические данные Dpd, это необходимо для дальнейшей настройки метода.
        </div>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Клиентский номер в системе DPD</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.ClientNumber, new { ng_model = "shippingMethod.Params.ClientNumber", @class = "form-control", required = "required", validation_input_text = "Клиентский номер в системе DPD", type = "number" })
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Уникальный ключ для авторизации</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.ClientKey, new { ng_model = "shippingMethod.Params.ClientKey", @class = "form-control", required = "required", validation_input_text = "Уникальный ключ для авторизации" })
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        Использовать тестовый сервер DPD
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.TestServers, new { ng_model = "shippingMethod.Params.TestServers", @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak p-l-sm" data-title='Тестовый сервер DPD'>
            Использовать тестовый сервер DPD для тестирования работы веб-служб
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs"
     ng-init="@("shippingMethod.Params.EAEUCountries='" + string.Join(",", Model.EAEUCountriesIso2) + "'")">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Страна отправки</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.PickupCountryIso2, Model.Countries, new { ng_model = "shippingMethod.Params.PickupCountryIso2", ng_init = "shippingMethod.Params.PickupCountryIso2='" + Model.PickupCountryIso2 + "'; shippingMethod.Params.InitedPickupCountryIso2='" + Model.PickupCountryIso2 + "'", validation_input_text = "Страна отправки", required = "required", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Страна отправки">
            Страна из которой осуществляется отправка посылок
        </help-trigger>
    </div>
</div>
<div class="form-group row middle-xs" ng-if="shippingMethod.Params.EAEUCountries.indexOf(shippingMethod.Params.PickupCountryIso2) !== -1">
    <div class="flex-grow-n col-fixed-size-md">
        Отправка с пунтка приема/терминала
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.SelfPickup, new { ng_model = "shippingMethod.Params.SelfPickup", @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak p-l-sm" data-title='Метод передачи посылок'>
            Передача осуществляется в пункте приема/терминале или курьеру?<br />
            <strong>Активировать</strong> если в пункте приема/терминале.<br />
            <strong>Не активировать</strong> если курьеру.
        </help-trigger>
    </div>
</div>

@Html.Hidden("ExistApi", (Model.ClientNumber + Model.ClientKey), new { ng_model = "shippingMethod.Params.ExistApi" })
<div class="form-group row" ng-if="!shippingMethod.Params.ExistApi || shippingMethod.Params.PickupCountryIso2 !== shippingMethod.Params.InitedPickupCountryIso2">
    <div class="col-xs-8">
        <div class="adv-panel-info">
            <span ng-if="!shippingMethod.Params.ExistApi">После ввода данных доступа к API, необходимо сохранить настройки, после чего появятся дополнительные настройки</span>
            <span ng-if="shippingMethod.Params.ExistApi && shippingMethod.Params.PickupCountryIso2 !== shippingMethod.Params.InitedPickupCountryIso2">Сохраните настройки, после чего появятся дополнительные настройки</span>
        </div>
    </div>
</div>

@if (Model.EAEUCountriesIso2.Contains(Model.PickupCountryIso2, StringComparer.OrdinalIgnoreCase))
{
    <div class="form-group row middle-xs" ng-if="shippingMethod.Params.ExistApi && shippingMethod.Params.PickupCountryIso2 === shippingMethod.Params.InitedPickupCountryIso2">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required" ng-if="shippingMethod.Params.SelfPickup">Пункт отправки</span>
            <span class="text-required" ng-if="!shippingMethod.Params.SelfPickup">Выберите любой пункт в вашем городе</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.DropDownListFor(x => x.PickupPointCode, Model.PickupPoints, new { ng_model = "shippingMethod.Params.PickupPointCode", ng_init = "shippingMethod.Params.PickupPointCode='" + Model.PickupPointCode + "'", required = "required", validation_input_text = "Пункт", @class = "form-control" })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Пункт" use-template="true">
                <span ng-if="shippingMethod.Params.SelfPickup">Пункт отправки посылок</span>
                <span ng-if="!shippingMethod.Params.SelfPickup">Любой пункт <strong>в вашем городе</strong>. Его данные понадобятся для расчета доставки.</span>
            </help-trigger>
        </div>
    </div>
}

<div class="form-group row middle-xs" ng-if="shippingMethod.Params.ExistApi && (shippingMethod.Params.EAEUCountries.indexOf(shippingMethod.Params.PickupCountryIso2) === -1 || shippingMethod.Params.PickupPointCode === '-1')">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Регион отправки</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.PickupRegionName, new { ng_model = "shippingMethod.Params.PickupRegionName", @class = "form-control", required = "required", validation_input_text = "Регион отправки" })
    </div>
</div>

<div class="form-group row middle-xs" ng-if="shippingMethod.Params.ExistApi && (shippingMethod.Params.EAEUCountries.indexOf(shippingMethod.Params.PickupCountryIso2) === -1 || shippingMethod.Params.PickupPointCode === '-1')">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Город отправки</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.PickupCityName, new { ng_model = "shippingMethod.Params.PickupCityName", @class = "form-control", required = "required", validation_input_text = "Город отправки" })
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        Расчитывать услуги DPD
    </div>
    <div class="col-xs-6 relative">
        @Html.ListBoxFor(x => x.ServiceCodes, Model.ServiceCodesList, new { ng_model = "shippingMethod.Params.ServiceCodes", ng_init = "shippingMethod.Params.ServiceCodes='" + string.Join(",", Model.ServiceCodes) + "'", @class = "form-control", validation_input_text = "Расчитывать услуги DPD", size = 4 })
        <input type="hidden" name="DeliveryTypes" value="" ng-if="!shippingMethod.Params.ServiceCodes.length" />
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="">
            Можно выбрать несколько вариантов зажав клавиши Shift или Ctrl
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        Расчитывать варианты доставки
    </div>
    <div class="col-xs-6 relative">
        @Html.ListBoxFor(x => x.DeliveryTypes, Model.ListDeliveryTypes, new { ng_model = "shippingMethod.Params.DeliveryTypes", ng_init = "shippingMethod.Params.DeliveryTypes='" + string.Join(",", Model.DeliveryTypes) + "'", @class = "form-control", validation_input_text = "Расчитывать варианты доставки", size = 2 })
        <input type="hidden" name="DeliveryTypes" value="" ng-if="!shippingMethod.Params.DeliveryTypes.length" />
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="">
            Можно выбрать несколько вариантов зажав клавиши Shift или Ctrl
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        Со страховкой
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.WithInsure, new { ng_model = "shippingMethod.Params.WithInsure", ng_init = "shippingMethod.Params.WithInsure=" + Model.WithInsure.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>

<div class="form-group row middle-xs" ng-if="shippingMethod.Params.DeliveryTypes.indexOf('1') !== -1">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Отображение ПВЗ</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.TypeViewPoints, Model.ListTypesViewPoints, new { ng_model = "shippingMethod.Params.TypeViewPoints", @class = "form-control", required = "required", validation_input_text = "Отображение ПВЗ" })
    </div>
</div>

<div class="form-group row middle-xs" ng-if="shippingMethod.Params.TypeViewPoints === '0'">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">API-ключ яндекс.карт</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.YaMapsApiKey, new { @class = "form-control", ng_model = "shippingMethod.Params.YaMapsApiKey", required = "required", validation_input_text = "API-ключ яндекс.карт" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="API-ключ яндекс.карт">
            <a href="https://yandex.ru/dev/maps/jsapi/doc/2.1/quick-start/index.html#get-api-key" target="_blank">Как получить ключ?</a>
        </help-trigger>
    </div>
</div>
