@model AdvantShop.Web.Infrastructure.Admin.ShippingMethods.EdostShippingAdminModel


<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.ShippingMethods.Edost.StoreID")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.ShopId, new { ng_model = "shippingMethod.Params.ShopId", @class = "form-control", required = "required", validation_input_text = T("Admin.ShippingMethods.Edost.StoreID") })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Edost.StoreID")">
            @T("Admin.ShippingMethods.Edost.EnterStoreID")
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.ShippingMethods.Edost.Password")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.Password, new { ng_model = "shippingMethod.Params.Password", @class = "form-control", required = "required", validation_input_text = T("Admin.ShippingMethods.Edost.Password") })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Edost.Password")">
            @T("Admin.ShippingMethods.Edost.EnterThePassword")
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.ShippingMethods.Edost.RateToCurrency")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.Rate, new { ng_model = "shippingMethod.Params.Rate", @class = "form-control", required = "required", validation_input_text = T("Admin.ShippingMethods.Edost.RateToCurrency") })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Edost.RateToCurrency")">
            @T("Admin.ShippingMethods.Edost.EnterTheRate")
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.Edost.CreateMethodCashPayment")
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.EnabledCod, new { ng_model = "shippingMethod.Params.EnabledCOD", ng_init = "shippingMethod.Params.EnabledCOD=" + Model.EnabledCod.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Edost.CreateMethodCashPayment2")">
            @T("Admin.ShippingMethods.Edost.CreateMethodCashPayment")
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.Edost.PayPicPoint")
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.EnabledPickPoint, new { ng_model = "shippingMethod.Params.EnabledPickPoint", ng_init = "shippingMethod.Params.EnabledPickPoint=" + Model.EnabledPickPoint.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Edost.PayPicPoint2")">
            @T("Admin.ShippingMethods.Edost.PayPicPoint")
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.ShippingMethods.Edost.DemensionsUnit")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.DemensionsUnit, new SelectList(Model.DemensionsUnitList, "Key", "Value"), new { ng_model = "shippingMethod.Params.DemensionsUnit", @class = "form-control", required = "required", validation_input_text = T("Admin.ShippingMethods.Edost.DemensionsUnit") })

    </div>
</div>


<div class="adv-panel-info">
    <a href="http://www.advantshop.net/help/pages/install-edost" target="_blank">@T("Admin.ShippingMethods.Edost.InstructionsEdostDelivery")</a>
</div>


@Html.Hidden("ShipIdCod", Model.ShipIdCod)
@Html.Hidden("ShipIdPickPoint", Model.ShipIdPickPoint)