@model AdvantShop.Web.Infrastructure.Admin.ShippingMethods.FixedRateShippingAdminModel


    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.ShippingMethods.FixedRate.PriceOfDelivery")</span>
        </div>
        <div class="col-xs-6 relative">
            <div class="input-group">
                @Html.TextBoxFor(x => x.ShippingPrice, new { ng_model = "shippingMethod.Params.ShippingPrice", @class = "form-control", required = "required", validation_input_text = T("Admin.ShippingMethods.FixedRate.PriceOfDelivery") })
                <div class="input-group-btn">
                    <span class="btn btn-default"><span>@Model.CurrencySymbol</span></span>
                </div>
            </div>
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.FixedRate.DeliveryCost")">
                @*@T("Admin.ShippingMethods.FixedRate.DeliveryCostInBaseCurrency")<br><br>*@
                @T("Admin.ShippingMethods.FixedRate.ForExample100")<br><br>
                @T("Admin.ShippingMethods.FixedRate.IfSelfDeliveryIfFree")
            </help-trigger>
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            @T("Admin.ShippingMethods.FixedRate.DeliveryTime")
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.DeliveryTime, new { @class = "form-control", ng_model = "shippingMethod.Params.DeliveryTime" })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.FixedRate.DeliveryTime")">
                @T("Admin.ShippingMethods.FixedRate.DeliveryTimeAsPeriodOfTime")<br><br>
                @T("Admin.ShippingMethods.FixedRate.ForExample2days")
            </help-trigger>
        </div>
    </div>
