@model AdvantShop.Web.Infrastructure.Admin.ShippingMethods.PointDeliveryShippingAdminModel


<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.ShippingMethods.PointDelivery.PriceOfDelivery")</span>
    </div>
    <div class="col-xs-6 relative">
        <div class="input-group">
            @Html.TextBoxFor(x => x.ShippingPrice, new { @class = "form-control", ng_model = "shippingMethod.Params.ShippingPrice", required = "required", validation_input_text = T("Admin.ShippingMethods.PointDelivery.PriceOfDelivery") })
            <div class="input-group-btn">
                <span class="btn btn-default"><span>@Model.CurrencySymbol</span></span>
            </div>
        </div>
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.PointDelivery.CostOfDelivery")">
            @*@T("Admin.ShippingMethods.PointDelivery.CostOfDeliveryPriceInBaseCurrency")<br><br>*@
            @T("Admin.ShippingMethods.PointDelivery.ForExample100")<br><br>
            @T("Admin.ShippingMethods.PointDelivery.IfSelfDeliveryIsFree")
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.PointDelivery.DeliveryTime")
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.DeliveryTime, new { @class = "form-control", ng_model = "shippingMethod.Params.DeliveryTime" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.PointDelivery.DeliveryTime")">
            @T("Admin.ShippingMethods.PointDelivery.DeliveryTimeAsPeriodOfTime")<br><br>
            @T("Admin.ShippingMethods.PointDelivery.ForExample2Days")
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Вид отображения</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.TypePoints, Model.ListTypePoints, new { ng_model = "shippingMethod.Params.TypePoints", @class = "form-control", required = "required", validation_input_text = "Вид отображения" })
    </div>
</div>

<div class="form-group row middle-xs" ng-if="shippingMethod.Params.TypePoints == '1'">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">API-ключ яндекс.карт</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.YaMapsApiKey, new { @class = "form-control", ng_model = "shippingMethod.Params.YaMapsApiKey", required = "required", validation_input_text = "API-ключ яндекс.карт" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="API-ключ яндекс.карт">
            <a href="https://yandex.ru/dev/maps/jsapi/doc/2.1/quick-start/index.html#get-api-key" target="_blank">Как получить ключ?</a>
        </help-trigger>
    </div>
</div>


<div class="form-group row">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.ShippingMethods.PointDelivery.SelfDeliveryPoints")</span>
    </div>
    <div class="col-xs-6 relative" in-view="$inview ? shippingMethod.pointDeliveryShowed = true : null">
        <point-delivery method-id="@Model.ShippingMethodId" points="@Model.PointsJson" ng-if="shippingMethod.pointDeliveryShowed">
        </point-delivery>
    </div>
</div>
