@using AdvantShop.Shipping.RussianPost.Api
@model AdvantShop.Web.Infrastructure.Admin.ShippingMethods.RussianPostShippingAdminModel

@if (Model.IsLimitedExceeded)
{
    <div class="form-group row">
        <div class="col-xs-8">
            <div class="adv-panel-danger">
                Достигнуто ограничение на кол-во обращений к API онлайн-сервиса «Отправка» (otpravka.pochta.ru). Функции расчета стоимости доаставки, передачи заказа и прочие функции связанные с этим сервисом будут недоступны. <a href="https://www.advantshop.net/help/pages/pochta-rossii-otpravka#7" target="_blank">Подробнее</a>.
            </div>
        </div>
    </div>
}

@*<div class="form-group row">
    <div class="col-xs-8">
        <div class="adv-panel-info">
            Не рекомендуется для договоров с малым кол-ом обращений к API otpravka.pochta.ru включать параметр "Отображать в карточке товара", т.к. это приведет к быстрому исчерпанию лимита обращений.
        </div>
    </div>
</div>*@

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Логин</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.Login, new { ng_model = "shippingMethod.Params.Login", @class = "form-control", required = "required", validation_input_text = "Логин" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Логин">
            Логин онлайн-сервиса «Отправка» (otpravka.pochta.ru)
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Пароль</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.Password, new { ng_model = "shippingMethod.Params.Password", @class = "form-control", required = "required", validation_input_text = "Пароль" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Пароль">
            Пароль онлайн-сервиса «Отправка» (otpravka.pochta.ru)
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Токен авторизации</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.Token, new { ng_model = "shippingMethod.Params.Token", @class = "form-control", required = "required", validation_input_text = "Токен авторизации" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Токен авторизации">
            После активации доступа к API токен высылается на электронную почту, указанную при регистрации на онлайн-сервисе «Отправка» (otpravka.pochta.ru).<br />
            Также токен можно узнать в <a href="https://otpravka.pochta.ru/settings#/api-settings" target="_blank">настройках личного кабинета</a>.
        </help-trigger>
    </div>
</div>

@Html.Hidden("ExistApi", Model.Token, new { ng_model = "shippingMethod.Params.ExistApi" })
<div class="form-group row" ng-if="!shippingMethod.Params.ExistApi">
    <div class="col-xs-8">
        <div class="adv-panel-info">
            После ввода данных доступа к API, необходимо сохранить настройки после чего появятся дополнительные настройки
        </div>
    </div>
</div>


@if (!Model.IsLimitedExceeded)
{
    <div class="form-group row middle-xs" ng-if="shippingMethod.Params.ExistApi">
        <div class="flex-grow-n col-fixed-size-md">
            Точка сдачи
        </div>
        <div class="col-xs-6 relative">
            @Html.DropDownListFor(x => x.PointIndex, Model.PointsIndex, new { ng_model = "shippingMethod.Params.PointIndex", ng_init = "shippingMethod.Params.PointIndex='" + Model.PointIndex + "'", validation_input_text = "Точка сдачи", @class = "form-control" })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Точка сдачи">
                Выберите точку сдачи из которой будет расчитываться стоимость доставки
            </help-trigger>
        </div>
    </div>

    @Html.Hidden("ExistIndex", Model.PointIndex, new { ng_model = "shippingMethod.Params.ExistIndex" })
    <div class="form-group row" ng-if="shippingMethod.Params.ExistApi && !shippingMethod.Params.ExistIndex">
        <div class="col-xs-8">
            <div class="adv-panel-info">
                После выбора точки сдачи, необходимо сохранить настройки после чего появятся выбор расчитываемых методов доставки
            </div>
        </div>
    </div>

    <div class="form-group row middle-xs" ng-if="shippingMethod.Params.ExistApi && shippingMethod.Params.ExistIndex">
        <div class="flex-grow-n col-fixed-size-md">
            Расчитывать методы доставки
        </div>
        <div class="col-xs-6 relative">
            @Html.ListBoxFor(x => x.LocalDeliveryTypes, Model.ListLocalDeliveryTypes,
                new
                     {
                    ng_model = "shippingMethod.Params.LocalDeliveryTypes",
                    ng_init = "shippingMethod.Params.LocalDeliveryTypes='" + string.Join(",", Model.LocalDeliveryTypes) + "';" +
                        "shippingMethod.existsEmsOptimal=" + Model.LocalDeliveryTypes.Count(x => x.StartsWith(EnMailType.EmsOptimal.Value + "\\")) + ";" +
                        "shippingMethod.existsEcom=" + Model.LocalDeliveryTypes.Count(x => x.StartsWith(EnMailType.ECOM.Value + "\\")) + ";" +
                        "shippingMethod.existsPochtamats=" + Model.LocalDeliveryTypes.Count(x => x.Contains("COMBINED_")) + ";" +
                        "shippingMethod.existsToOps=" + Model.LocalDeliveryTypes.Count(x => RussianPostAvailableOption.DeliveryToOpsAvailable.Any(ops => x.StartsWith(ops.Value + "\\"))) + ";",
                    ng_change = "shippingMethod.existsEmsOptimal=(shippingMethod.Params.LocalDeliveryTypes | filter: '" + EnMailType.EmsOptimal.Value + "\\\\').length;" +
                        "shippingMethod.existsEcom=(shippingMethod.Params.LocalDeliveryTypes | filter: '" + EnMailType.ECOM.Value + "\\\\').length;" +
                        "shippingMethod.existsPochtamats=(shippingMethod.Params.LocalDeliveryTypes | filter: 'COMBINED_').length;" +
                        "shippingMethod.existsToOps=(" + string.Join(" + ", RussianPostAvailableOption.DeliveryToOpsAvailable.Select(x => "(shippingMethod.Params.LocalDeliveryTypes | filter: '" + x.Value + "\\\\').length")) + ");",
                    @class = "form-control",
                    validation_input_text = "Расчитывать методы доставки",
                    size = 8
                     })
            <input type="hidden" name="LocalDeliveryTypes" value="" ng-if="!shippingMethod.Params.LocalDeliveryTypes.length" />
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="">
                Можно выбрать несколько вариантов зажав клавиши Shift или Ctrl
            </help-trigger>
        </div>
    </div>

    <div class="form-group row middle-xs" ng-if="shippingMethod.Params.ExistApi && shippingMethod.Params.ExistIndex">
        <div class="flex-grow-n col-fixed-size-md">
            Расчитывать международные методы доставки
        </div>
        <div class="col-xs-6 relative">
            @Html.ListBoxFor(x => x.InternationalDeliveryTypes, Model.ListInternationalDeliveryTypes, new { ng_model = "shippingMethod.Params.InternationalDeliveryTypes", ng_init = "shippingMethod.Params.InternationalDeliveryTypes='" + string.Join(",", Model.InternationalDeliveryTypes) + "'", @class = "form-control", validation_input_text = "Расчитывать международные методы доставки", size = 4 })
            <input type="hidden" name="InternationalDeliveryTypes" value="" ng-if="!shippingMethod.Params.InternationalDeliveryTypes.length" />
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="">
                Можно выбрать несколько вариантов зажав клавиши Shift или Ctrl
            </help-trigger>
        </div>
    </div>
    <div class="form-group row middle-xs" ng-if="shippingMethod.Params.ExistApi && shippingMethod.Params.ExistIndex && shippingMethod.Params.LocalDeliveryTypes && (shippingMethod.existsToOps)">
        <div class="flex-grow-n col-fixed-size-md">
            Рассчитывать "До востребования"
        </div>
        <div class="col-xs-6 relative">
            <label class="adv-checkbox-label form-label-block">
                @Html.CheckBoxFor(x => x.DeliveryToOps, new { ng_model = "shippingMethod.Params.DeliveryToOps", @class = "adv-checkbox-input" })
                <span class="adv-checkbox-emul"></span>
            </label>
            <help-trigger class="ng-cloak m-l-xs" data-title="">
                Доступно для видов РПО: @EnMailType.PostalParcel.Localize(), @EnMailType.ParcelClass1.Localize(), @EnMailType.OnlineParcel.Localize()
            </help-trigger>
        </div>
    </div>
    <div class="form-group row middle-xs" ng-if="shippingMethod.Params.ExistApi && shippingMethod.Params.ExistIndex && shippingMethod.Params.LocalDeliveryTypes && shippingMethod.existsEmsOptimal">
        <div class="flex-grow-n col-fixed-size-md">
            Доставка курьером (для EMS оптимальное)
        </div>
        <div class="col-xs-6 relative">
            <label class="adv-checkbox-label form-label-block">
                @Html.CheckBoxFor(x => x.Courier, new { ng_model = "shippingMethod.Params.Courier", @class = "adv-checkbox-input" })
                <span class="adv-checkbox-emul"></span>
            </label>
        </div>
    </div>

    <div class="form-group row middle-xs" ng-if="shippingMethod.Params.ExistApi && shippingMethod.Params.ExistIndex && shippingMethod.Params.LocalDeliveryTypes && (shippingMethod.existsEcom || shippingMethod.existsPochtamats || (shippingMethod.existsToOps && shippingMethod.Params.DeliveryToOps))">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">API-ключ яндекс.карт</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.YaMapsApiKey, new { @class = "form-control", ng_model = "shippingMethod.Params.YaMapsApiKey", required = "required", validation_input_text = "API-ключ яндекс.карт" })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="API-ключ яндекс.карт">
                <a href="https://yandex.ru/dev/maps/jsapi/doc/2.1/quick-start/index.html#get-api-key" target="_blank">Как получить ключ?</a>
            </help-trigger>
        </div>
    </div>
}
else
{
    //Чтобы не слетали настройки, когда API не доступен
    @Html.HiddenFor(x => x.PointIndex, new { ng_model = "shippingMethod.Params.PointIndex", ng_init = "shippingMethod.Params.PointIndex='" + Model.PointIndex + "'" })
    @Html.HiddenFor(x => x.LocalDeliveryTypes, new { ng_model = "shippingMethod.Params.LocalDeliveryTypes", ng_init = "shippingMethod.Params.LocalDeliveryTypes='" + string.Join(",", Model.LocalDeliveryTypes) + "'" })
    @Html.HiddenFor(x => x.InternationalDeliveryTypes, new { ng_model = "shippingMethod.Params.InternationalDeliveryTypes", ng_init = "shippingMethod.Params.InternationalDeliveryTypes='" + string.Join(",", Model.InternationalDeliveryTypes) + "'" })
    @Html.HiddenFor(x => x.Courier, new { ng_model = "shippingMethod.Params.Courier", ng_init = "shippingMethod.Params.Courier='" + Model.Courier.ToLowerString() + "'" })
    @Html.HiddenFor(x => x.YaMapsApiKey, new { ng_model = "shippingMethod.Params.YaMapsApiKey" })
}

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        С отметкой "Осторожно"
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.Fragile, new { ng_model = "shippingMethod.Params.Fragile", @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" data-title="">
            @Model.HelpFragile
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Тип уведомления о вручении</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.TypeNotification, Model.TypeNotifications, new { ng_model = "shippingMethod.Params.TypeNotification", ng_init = "shippingMethod.Params.TypeNotification='" + Model.TypeNotification + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="">
            @Model.HelpTypeNotification
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        Рассчитывать и выгружать заказы с СМС-уведомлением
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.SmsNotification, new { ng_model = "shippingMethod.Params.SmsNotification", @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        Отправлять с оплатой COD, вместо наложенного платежа
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.DeliveryWithCod, new { ng_model = "shippingMethod.Params.DeliveryWithCod", @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" data-title="">
            @Model.HelpDeliveryWithCod
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        Синхронизировать статусы заказов из Почты России
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.StatusesSync, new { ng_model = "shippingMethod.Params.StatusesSync", ng_init = "shippingMethod.Params.StatusesSync=" + Model.StatusesSync.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul" data-e2e="StatusesSyncRussianPost"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" data-title="">
            Синхронизация ведется через трекинг посылки
        </help-trigger>
    </div>
</div>

<div class="form-group row" ng-if="shippingMethod.Params.StatusesSync">
    <div class="col-xs-8">
        <div class="adv-panel-info">
            Оформите заявку на безлимитный трекинг на tracking.pochta.ru.
        </div>
    </div>
</div>

<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Логин от API трекинга</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.TrackingLogin, new { ng_model = "shippingMethod.Params.TrackingLogin", @class = "form-control", required = "required", validation_input_text = "Логин от трекинга" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Логин от трекинга">
            Логин онлайн-сервиса отслеживания (tracking.pochta.ru). Можно посмотреть <a href="https://tracking.pochta.ru/access-settings" target="_blank">тут</a>
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Пароль от API трекинга</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.TrackingPassword, new { ng_model = "shippingMethod.Params.TrackingPassword", @class = "form-control", required = "required", validation_input_text = "Пароль от API трекинга" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Пароль от API трекинга">
            Пароль онлайн-сервиса отслеживания (tracking.pochta.ru). Можно запросить <a href="https://tracking.pochta.ru/access-settings" target="_blank">тут</a>
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md font-bold">
        Статусы
    </div>
</div>

<div class="form-group row" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Статусы
    </div>
    <div class="col-xs-6 relative">
        <shipping-russian-post-sync-status method-id="@Model.ShippingMethodId"
                                        statuses-reference="@Model.StatusesReference">
        </shipping-russian-post-sync-status>
    </div>
</div>
