@model AdvantShop.Web.Infrastructure.Admin.ShippingMethods.SdekShippingAdminModel

<div class="form-group row middle-xs">
    <div class="col-xs-9">
        <div class="adv-panel-info" style="max-width:910px">
            Если у вас нет учетной записи в сервисе СДЭК, Вам необходимо заполнить форму по <a href="https://go.advantshop.net/cdek" target="_blank">ссылке</a>, чтобы получить бонус. <a href="https://www.advantshop.net/help/pages/cdek-bonus" target="_blank">Подробнее...</a>
        </div>
    </div>
</div>


<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.ShippingMethods.Sdek.Login")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.AuthLogin, new { ng_model = "shippingMethod.Params.AuthLogin", ng_attr_type = "{{shippingMethod.inputTypeLogin}}", @class = "form-control", required = "required", validation_input_text = T("Admin.ShippingMethods.Sdek.Login") })
        <a class="showhidepass" style="top:0;right:25px;" ng-init="shippingMethod.inputTypeLogin = 'password'" ng-click="shippingMethod.inputTypeLogin = shippingMethod.inputTypeLogin == 'password' ? 'text' : 'password'">
            <span class="fa" ng-class="(shippingMethod.inputTypeLogin == 'password') ? 'fa-eye' : 'fa-eye-slash'"></span>
        </a>
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Sdek.Login")">
            @T("Admin.ShippingMethods.Sdek.LoginForIntegration")<br><br>
            @T("Admin.ShippingMethods.Sdek.ImportantNotPersonalAccountData")
            <br><br>
            @T("Admin.ShippingMethods.Sdek.ForDetailsSeeInstructions")<a href="http://www.advantshop.net/help/pages/install-sdek" target="_blank">@T("Admin.ShippingMethods.Sdek.InstructionsConnectSdecDeliveryModule")</a>
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.ShippingMethods.Sdek.Password")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.AuthPassword, new { ng_model = "shippingMethod.Params.AuthPassword", ng_attr_type = "{{shippingMethod.inputTypePassword}}", @class = "form-control", required = "required", validation_input_text = T("Admin.ShippingMethods.Sdek.Password") })
        <a class="showhidepass" style="top:0;right:25px;" ng-init="shippingMethod.inputTypePassword = 'password'" ng-click="shippingMethod.inputTypePassword = shippingMethod.inputTypePassword == 'password' ? 'text' : 'password'">
            <span class="fa" ng-class="(shippingMethod.inputTypePassword == 'password') ? 'fa-eye' : 'fa-eye-slash'"></span>
        </a>
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Sdek.Password")">
            @T("Admin.ShippingMethods.Sdek.PasswordForIntegration") <br><br>
            @T("Admin.ShippingMethods.Sdek.ImportantNotPersonalAccountData")
            <br><br>
            @T("Admin.ShippingMethods.Sdek.ForDetailsSeeInstructions")<a href="http://www.advantshop.net/help/pages/install-sdek" target="_blank">@T("Admin.ShippingMethods.Sdek.InstructionsConnectSdecDeliveryModule")</a>
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.ShippingMethods.Sdek.CityOfWarehouse")</span>
    </div>
    <div class="col-xs-6 relative">
        <sdek-select-city sdek-city-name="@Model.CityFrom" sdek-city-id="@Model.CityFromId"></sdek-select-city>
        <script type="text/ng-template" id="sdekSelectCity/tpl.html">
            @Html.TextBoxFor(x => x.CityFrom, new
            {
                ng_model = "$ctrl.sdekCityName",
                @class = "form-control",
                required = "required",
                validation_input_text = T("Admin.ShippingMethods.Sdek.CityOfWarehouse"),
                autocomplete="false",
                uib_typeahead="item for items in $ctrl.findCity($viewValue)",
                typeahead_on_select="$ctrl.selectCity($item)",
                typeahead_template_url="sdekSelectCity/city-item.html",
                typeahead_focus_first="true"
            })
            <input type="hidden" name="CityFromId" value="{{$ctrl.sdekCityId}}" ng-model="$ctrl.sdekCityId" class="" />
        </script>
        <script type="text/ng-template" id="sdekSelectCity/city-item.html">
            <a><span ng-bind="match.model.cityName"></span><span ng-if="match.model.subRegion">, {{match.model.subRegion}}</span><span ng-if="match.model.region">, {{match.model.region}}</span><span ng-if="match.model.country">, {{match.model.country}}</span></a>
        </script>
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Sdek.CityOfWarehouse")">
            @T("Admin.ShippingMethods.Sdek.ParameterToDeliveryService")<br><br>
            @T("Admin.ShippingMethods.Sdek.ParameterIsRequiredForCostOfDelivery")<br><br>
            @T("Admin.ShippingMethods.Sdek.ForExampleMoscow")
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.ShippingMethods.Sdek.ActiveTariffs")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.ListBoxFor(x => x.Tariff, Model.ListTariffs, new { ng_model = "shippingMethod.Params.Tariff", ng_init = "shippingMethod.Params.Tariff='" + string.Join(",", Model.Tariff) + "'", @class = "form-control", required = "required", validation_input_text = T("Admin.ShippingMethods.Sdek.ActiveTariffs"), size = 4 })
        <input type="hidden" name="DeliveryTypes" value="" ng-if="!shippingMethod.Params.Tariff.length" />
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Sdek.ActiveTariffs")">
            @T("Admin.ShippingMethods.Sdek.NeedChooseOneOption")<br><br>
            Можно выбрать несколько вариантов зажав клавиши Shift или Ctrl
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.ShippingMethods.Sdek.NumberOfCopiesOfWaybills")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.DeliveryNote, new { ng_model = "shippingMethod.Params.DeliveryNote", min = "1", max = "10", pattern = "10|[1-9]+", type = "number", @class = "form-control", required = "required", validation_input_text = T("Admin.ShippingMethods.Sdek.NumberOfCopiesOfWaybills") })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.Sdek.ActiveTariffs")">
            @T("Admin.ShippinhMethods.Sdek.NumberOfInvoices")
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.Sdek.WithInsurance")
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.WithInsure, new { ng_model = "shippingMethod.Params.WithInsure", ng_init = "shippingMethod.Params.WithInsure=" + Model.WithInsure.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul" data-e2e="MethodWithInsure"></span>
        </label>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.Sdek.AllowInspection")
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.AllowInspection, new { ng_model = "shippingMethod.Params.AllowInspection", ng_init = "shippingMethod.Params.AllowInspection=" + Model.AllowInspection.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        Отображать пункты выдачи списком
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.ShowPointsAsList, new { ng_model = "shippingMethod.Params.ShowPointsAsList", ng_init = "shippingMethod.Params.ShowPointsAsList=" + Model.ShowPointsAsList.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul" data-e2e="ShowPointsAsList"></span>
        </label>
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Отображать пункты выдачи списком">
            Отображать пункты выдачи списком или с помощью виджета с картой
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs" ng-if="!shippingMethod.Params.ShowPointsAsList">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">API-ключ яндекс.карт</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.YaMapsApiKey, new { @class = "form-control", ng_model = "shippingMethod.Params.YaMapsApiKey", required = "required", validation_input_text = "API-ключ яндекс.карт" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="API-ключ яндекс.карт">
            <a href="https://yandex.ru/dev/maps/jsapi/doc/2.1/quick-start/index.html#get-api-key" target="_blank">Как получить ключ?</a>
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs" ng-show="!shippingMethod.Params.ShowPointsAsList && @(Model.ShowSdekWidjet.ToLowerString())">
    <div class="flex-grow-n col-fixed-size-md">
        Использовать виджет СДЭК
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.ShowSdekWidjet, new { ng_model = "shippingMethod.Params.ShowSdekWidjet", ng_init = "shippingMethod.Params.ShowSdekWidjet=" + Model.ShowSdekWidjet.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>

<div class="form-group row middle-xs" ng-if="!shippingMethod.Params.ShowPointsAsList && !shippingMethod.Params.ShowSdekWidjet">
    <div class="flex-grow-n col-fixed-size-md">
        Отображать описание схемы проезда
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.ShowAddressComment, new { ng_model = "shippingMethod.Params.ShowAddressComment", ng_init = "shippingMethod.Params.ShowAddressComment=" + Model.ShowAddressComment.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        Передавать реквизиты истинного продавца
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.UseSeller, new { ng_model = "shippingMethod.Params.UseSeller", ng_init = "shippingMethod.Params.UseSeller=" + Model.UseSeller.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul" data-e2e="MethodUseSeller"></span>
        </label>
    </div>
</div>

<div class="form-group row middle-xs" ng-show="shippingMethod.Params.UseSeller">
    <div class="flex-grow-n col-fixed-size-md">
        Адрес истинного продавца
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.SellerAddress, new { @class = "form-control", ng_model = "shippingMethod.Params.SellerAddress", validation_input_text = "Адрес истинного продавца" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Адрес истинного продавца">
            Используется при передаче заказа в СДЭК
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs" ng-show="shippingMethod.Params.UseSeller">
    <div class="flex-grow-n col-fixed-size-md">
        Наименование истинного продавца
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.SellerName, new { @class = "form-control", ng_model = "shippingMethod.Params.SellerName", validation_input_text = "Наименование истинного продавца" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Наименование истинного продавца">
            Используется при передаче заказа в СДЭК
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs" ng-show="shippingMethod.Params.UseSeller">
    <div class="flex-grow-n col-fixed-size-md">
        ИНН истинного продавца
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.SellerINN, new { @class = "form-control", ng_model = "shippingMethod.Params.SellerINN", validation_input_text = "ИНН истинного продавца" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="ИНН истинного продавца">
            Используется при передаче заказа в СДЭК
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs" ng-show="shippingMethod.Params.UseSeller">
    <div class="flex-grow-n col-fixed-size-md">
        Телефон истинного продавца
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.SellerPhone, new { @class = "form-control", ng_model = "shippingMethod.Params.SellerPhone", validation_input_text = "Телефон истинного продавца" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Телефон истинного продавца">
            Используется при передаче заказа в СДЭК
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs" ng-show="shippingMethod.Params.UseSeller">
    <div class="flex-grow-n col-fixed-size-md">
        Форма собственности
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.SellerOwnershipForm, Model.SellerOwnershipForms, new { ng_model = "shippingMethod.Params.SellerOwnershipForm", ng_init = "shippingMethod.Params.SellerOwnershipForm='" + Model.SellerOwnershipForm + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Код формы собственности">
            Используется при передаче заказа в СДЭК
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.Sdek.SynchronizeOrderStatuses")
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.StatusesSync, new { ng_model = "shippingMethod.Params.StatusesSync", ng_init = "shippingMethod.Params.StatusesSync=" + Model.StatusesSync.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul" data-e2e="StatusesSyncSDEK"></span>
        </label>
    </div>
</div>

<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md font-bold">
        @T("Admin.ShippingMethods.Sdek.Statuses")
    </div>
</div>


<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Создан
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.StatusCreated, Model.ListStatuses, new { ng_model = "shippingMethod.Params.StatusCreated", ng_init = "shippingMethod.Params.StatusCreated='" + Model.StatusCreated + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Создан">
            Заказ зарегистрирован в базе данных СДЭК
        </help-trigger>
    </div>
</div>


@* <div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync"> *@
@*     <div class="flex-grow-n col-fixed-size-md"> *@
@*         Удален *@
@*     </div> *@
@*     <div class="col-xs-6 relative"> *@
@*         @Html.DropDownListFor(x => x.StatusDeleted, Model.ListStatuses, new { ng_model = "shippingMethod.Params.StatusDeleted", ng_init = "shippingMethod.Params.StatusDeleted='" + Model.StatusDeleted + "'", @class = "form-control" }) *@
@*         <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Удален"> *@
@*             Заказ отменен ИМ после регистрации в системе до прихода груза на склад СДЭК в городе-отправителе *@
@*         </help-trigger> *@
@*     </div> *@
@* </div> *@


<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Принят на склад отправителя
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.StatusAcceptedAtWarehouseOfSender, Model.ListStatuses, new { ng_model = "shippingMethod.Params.StatusAcceptedAtWarehouseOfSender", ng_init = "shippingMethod.Params.StatusAcceptedAtWarehouseOfSender='" + Model.StatusAcceptedAtWarehouseOfSender + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Принят на склад отправителя">
            Оформлен приход на склад СДЭК в городе-отправителе.
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Выдан на отправку в г. отправителе
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.StatusIssuedForShipmentFromSenderWarehouse, Model.ListStatuses, new { ng_model = "shippingMethod.Params.StatusIssuedForShipmentFromSenderWarehouse", ng_init = "shippingMethod.Params.StatusIssuedForShipmentFromSenderWarehouse='" + Model.StatusIssuedForShipmentFromSenderWarehouse + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Выдан на отправку в г. отправителе">
            Оформлен расход со склада СДЭК в городе-отправителе. Груз подготовлен к отправке (консолидирован с другими посылками)
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Возвращен на склад отправителя
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.StatusReturnedToWarehouseOfSender, Model.ListStatuses, new { ng_model = "shippingMethod.Params.StatusReturnedToWarehouseOfSender", ng_init = "shippingMethod.Params.StatusReturnedToWarehouseOfSender='" + Model.StatusReturnedToWarehouseOfSender + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Возвращен на склад отправителя">
            Повторно оформлен приход в городе-отправителе (не удалось передать перевозчику по какой-либо причине). Примечание: этот статус не означает возврат груза отправителю.
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Сдан перевозчику в г. отправителе
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.StatusDeliveredToCarrierFromSenderWarehouse, Model.ListStatuses, new { ng_model = "shippingMethod.Params.StatusDeliveredToCarrierFromSenderWarehouse", ng_init = "shippingMethod.Params.StatusDeliveredToCarrierFromSenderWarehouse='" + Model.StatusDeliveredToCarrierFromSenderWarehouse + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Сдан перевозчику в г. отправителе">
            Зарегистрирована отправка в городе-отправителе. Консолидированный груз передан на доставку (в аэропорт/загружен машину)
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Отправлен в г. транзит
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.StatusSentToTransitWarehouse, Model.ListStatuses, new { ng_model = "shippingMethod.Params.StatusSentToTransitWarehouse", ng_init = "shippingMethod.Params.StatusSentToTransitWarehouse='" + Model.StatusSentToTransitWarehouse + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Отправлен в г. транзит">
            Зарегистрирована отправка в город-транзит. Проставлены дата и время отправления у перевозчика
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Встречен в г. транзите
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.StatusMetAtTransitWarehouse, Model.ListStatuses, new { ng_model = "shippingMethod.Params.StatusMetAtTransitWarehouse", ng_init = "shippingMethod.Params.StatusMetAtTransitWarehouse='" + Model.StatusMetAtTransitWarehouse + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Встречен в г. транзите">
            Зарегистрирована встреча в городе-транзите
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Принят на склад транзита
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.StatusAcceptedAtTransitWarehouse, Model.ListStatuses, new { ng_model = "shippingMethod.Params.StatusAcceptedAtTransitWarehouse", ng_init = "shippingMethod.Params.StatusAcceptedAtTransitWarehouse='" + Model.StatusAcceptedAtTransitWarehouse + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Принят на склад транзита">
            Оформлен приход в городе-транзите
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Возвращен на склад транзита
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.StatusReturnedToTransitWarehouse, Model.ListStatuses, new { ng_model = "shippingMethod.Params.StatusReturnedToTransitWarehouse", ng_init = "shippingMethod.Params.StatusReturnedToTransitWarehouse='" + Model.StatusReturnedToTransitWarehouse + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Возвращен на склад транзита">
            Повторно оформлен приход в городе-транзите (груз возвращен на склад). Примечание: этот статус не означает возврат груза отправителю.
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Выдан на отправку в г. транзите
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.StatusIssuedForShipmentInTransitWarehouse, Model.ListStatuses, new { ng_model = "shippingMethod.Params.StatusIssuedForShipmentInTransitWarehouse", ng_init = "shippingMethod.Params.StatusIssuedForShipmentInTransitWarehouse='" + Model.StatusIssuedForShipmentInTransitWarehouse + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Выдан на отправку в г. транзите">
            Оформлен расход в городе-транзите
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Сдан перевозчику в г. транзите
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.StatusDeliveredToCarrierInTransitWarehouse, Model.ListStatuses, new { ng_model = "shippingMethod.Params.StatusDeliveredToCarrierInTransitWarehouse", ng_init = "shippingMethod.Params.StatusDeliveredToCarrierInTransitWarehouse='" + Model.StatusDeliveredToCarrierInTransitWarehouse + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Сдан перевозчику в г. транзите">
            Зарегистрирована отправка у перевозчика в городе-транзите
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Отправлен в г. отправитель
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.StatusSentToSenderCity, Model.ListStatuses, new { ng_model = "shippingMethod.Params.StatusSentToSenderCity", ng_init = "shippingMethod.Params.StatusSentToSenderCity='" + Model.StatusSentToSenderCity + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Отправлен в г. отправитель">
            Зарегистрирована отправка в город-отправитель, груз в пути.
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Отправлен в г. получатель
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.StatusSentToWarehouseOfRecipient, Model.ListStatuses, new { ng_model = "shippingMethod.Params.StatusSentToWarehouseOfRecipient", ng_init = "shippingMethod.Params.StatusSentToWarehouseOfRecipient='" + Model.StatusSentToWarehouseOfRecipient + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Отправлен в г. получатель">
            Зарегистрирована отправка в город-получатель, груз в пути.
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Встречен в г. отправителе
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.StatusMetAtSenderCity, Model.ListStatuses, new { ng_model = "shippingMethod.Params.StatusMetAtSenderCity", ng_init = "shippingMethod.Params.StatusMetAtSenderCity='" + Model.StatusMetAtSenderCity + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Встречен в г. отправителе">
            Зарегистрирована встреча груза в городе-отправителе
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Встречен в г. получателе
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.StatusMetAtConsigneeWarehouse, Model.ListStatuses, new { ng_model = "shippingMethod.Params.StatusMetAtConsigneeWarehouse", ng_init = "shippingMethod.Params.StatusMetAtConsigneeWarehouse='" + Model.StatusMetAtConsigneeWarehouse + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Встречен в г. получателе">
            Зарегистрирована встреча груза в городе-получателе
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Принят на склад доставки
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.StatusAcceptedAtConsigneeWarehouse_AwaitingDelivery, Model.ListStatuses, new { ng_model = "shippingMethod.Params.StatusAcceptedAtConsigneeWarehouse_AwaitingDelivery", ng_init = "shippingMethod.Params.StatusAcceptedAtConsigneeWarehouse_AwaitingDelivery='" + Model.StatusAcceptedAtConsigneeWarehouse_AwaitingDelivery + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Принят на склад доставки">
            Оформлен приход на склад города-получателя, ожидает доставки до двери
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Принят на склад до востребования
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.StatusAcceptedAtConsigneeWarehouse_AwaitingFenceByClient, Model.ListStatuses, new { ng_model = "shippingMethod.Params.StatusAcceptedAtConsigneeWarehouse_AwaitingFenceByClient", ng_init = "shippingMethod.Params.StatusAcceptedAtConsigneeWarehouse_AwaitingFenceByClient='" + Model.StatusAcceptedAtConsigneeWarehouse_AwaitingFenceByClient + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Принят на склад до востребования">
            Оформлен приход на склад города-получателя. Доставка до склада, посылка ожидает забора клиентом - покупателем ИМ
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Выдан на доставку
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.StatusIssuedForDelivery, Model.ListStatuses, new { ng_model = "shippingMethod.Params.StatusIssuedForDelivery", ng_init = "shippingMethod.Params.StatusIssuedForDelivery='" + Model.StatusIssuedForDelivery + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Выдан на доставку">
            Добавлен в курьерскую карту, выдан курьеру на доставку
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Возвращен на склад доставки
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.StatusReturnedToConsigneeWarehouse, Model.ListStatuses, new { ng_model = "shippingMethod.Params.StatusReturnedToConsigneeWarehouse", ng_init = "shippingMethod.Params.StatusReturnedToConsigneeWarehouse='" + Model.StatusReturnedToConsigneeWarehouse + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Возвращен на склад доставки">
            Оформлен повторный приход на склад в городе-получателе. Доставка не удалась по какой-либо причине, ожидается очередная попытка доставки. Примечание: этот статус не означает возврат груза отправителю.
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Вручен
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.StatusAwarded, Model.ListStatuses, new { ng_model = "shippingMethod.Params.StatusAwarded", ng_init = "shippingMethod.Params.StatusAwarded='" + Model.StatusAwarded + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Вручен">
            Успешно доставлен и вручен адресату (конечный статус).
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md">
        Не вручен
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.StatusNotAwarded, Model.ListStatuses, new { ng_model = "shippingMethod.Params.StatusNotAwarded", ng_init = "shippingMethod.Params.StatusNotAwarded='" + Model.StatusNotAwarded + "'", @class = "form-control" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Не вручен">
            Покупатель отказался от покупки, возврат в ИМ (конечный статус).
        </help-trigger>
    </div>
</div>


<div class="shipping-item-settings-header inline content-header m-b-md m-t-sm pointer" ng-click="shippingMethod.sdek.showCallCourier=!shippingMethod.sdek.showCallCourier">
    @T("Admin.ShippingMethods.Sdek.FormCallCourier") <i class="fa fa-caret-down" ng-if="!shippingMethod.sdek.showCallCourier"></i><i class="fa fa-caret-up" ng-if="shippingMethod.sdek.showCallCourier"></i>
</div>

<div ng-if="shippingMethod.sdek.showCallCourier">
    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.ShippingMethods.Sdek.NameOfContactPerson")</span>
        </div>
        <div class="col-xs-4 relative">
            <input type="text" ng-required="shippingMethod.sdek.showCallCourier" validation-input-text="@T("Admin.ShippingMethods.Sdek.NameOfContactPerson")" name="DefaultCourierNameContact" ng-model="shippingMethod.sdek.DefaultCourierNameContact" value="@Model.DefaultCourierNameContact" class="form-control" />
        </div>
    </div>

    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.ShippingMethods.Sdek.PhoneOfContactPerson")</span>
        </div>
        <div class="col-xs-4 relative">
            <input type="text"
                   ng-required="shippingMethod.sdek.showCallCourier"
                   validation-input-text="@T("Admin.ShippingMethods.Sdek.PhoneOfContactPerson")"
                   name="DefaultCourierPhone"
                   ng-model="shippingMethod.sdek.DefaultCourierPhone"
                   value="@Model.DefaultCourierPhone"
                   class="form-control" />
        </div>
    </div>

    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.ShippingMethods.Sdek.TotalWeight")</span>
        </div>
        <div class="col-xs-4 relative">
            <input type="text" ng-required="shippingMethod.sdek.showCallCourier" validation-input-text="@T("Admin.ShippingMethods.Sdek.TotalWeight")" name="DefaultCourierWeight" ng-model="shippingMethod.sdek.Weight" value="0" class="form-control" />
        </div>
    </div>
    <div class="shipping-item-settings-header m-b-md m-t-sm">
        @T("Admin.ShippingMethods.Sdek.DateTimeOfCallCourier")
    </div>
    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.ShippingMethods.Sdek.Day")</span>
        </div>
        <div class="col-xs-4 relative">
            <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y', startDateFormat:'Y-m-d', wrap: true}">
                <span class="flatpickr-custom-wrap">
                    <input type="text" name="date" required="required" validation-input-text="@T("Admin.ShippingMethods.Sdek.Day")" ng-model="shippingMethod.sdek.Date" ng-init="shippingMethod.sdek.Date='@(DateTime.Now.ToString("yyyy-MM-dd"))'" class="form-control" ng-flatpickr-input>
                    <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                </span>
                <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
            </div>
        </div>
    </div>
    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.ShippingMethods.Sdek.Time")</span>
        </div>
        <div class="col-xs-4 relative">
            <input type="text" name="timeFrom" required="required" validation-input-text="@T("Admin.ShippingMethods.Sdek.Time")" ng-model="shippingMethod.sdek.TimeFrom" value="12:00" class="form-control inline" style="width: 90px" /> - <input type="text" name="timeTo" ng-model="shippingMethod.sdek.TimeTo" value="15:00" required="required" validation_input_text="@T("Admin.ShippingMethods.Sdek.Time")" class="form-control inline" style="width: 100px" />
        </div>
    </div>
    <div class="shipping-item-settings-header m-b-md m-t-sm">
        @T("Admin.ShippingMethods.Sdek.StoreAddress")
    </div>
    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.ShippingMethods.Sdek.CityOfOnlineStore")</span>
        </div>
        <div class="col-xs-4 relative">
            <input type="text" ng-required="shippingMethod.sdek.showCallCourier" validation-input-text="@T("Admin.ShippingMethods.Sdek.CityOfOnlineStore")" name="DefaultCourierCity" ng-model="shippingMethod.sdek.DefaultCourierCity" value="@Model.DefaultCourierCity" class="form-control" />
        </div>
    </div>
    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.ShippingMethods.Sdek.Street")</span>
        </div>
        <div class="col-xs-4 relative">
            <input type="text" name="DefaultCourierStreet" ng-model="shippingMethod.sdek.DefaultCourierStreet" value="@Model.DefaultCourierStreet" class="form-control" />
        </div>
    </div>
    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.ShippingMethods.Sdek.House")</span>
        </div>
        <div class="col-xs-4 relative">
            <input type="text" name="DefaultCourierHouse" ng-model="shippingMethod.sdek.DefaultCourierHouse" value="@Model.DefaultCourierHouse" class="form-control" />
        </div>
    </div>
    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.ShippingMethods.Sdek.Office")</span>
        </div>
        <div class="col-xs-4 relative">
            <input type="text" name="DefaultCourierFlat" ng-model="shippingMethod.sdek.DefaultCourierFlat" value="@Model.DefaultCourierFlat" class="form-control" />
        </div>
    </div>
    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">Комментарий</span>
        </div>
        <div class="col-xs-4 relative">
            <input type="text" name="Comment" ng-model="shippingMethod.sdek.Comment" value="" class="form-control" />
        </div>
    </div>

    <input type="hidden" name="sdekMethodId" ng-model="shippingMethod.sdek.MethodId" value="@Model.ShippingMethodId" />

    <div class="m-b-md">
        <div class="form-group row middle-xs">
            <div class="col-xs-12">
                <a class="btn btn-sm btn-success" ng-click="shippingMethod.callSdekCourier()">@T("Admin.ShippingMethods.Sdek.CallACourier")</a>
            </div>
        </div>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="col-xs-8">
        <div class="adv-panel-info ">
            <a href="http://www.advantshop.net/help/pages/install-sdek" target="_blank">@T("Admin.ShippingMethods.Sdek.InstructionsConnectSdecModule")</a>
        </div>
    </div>
</div>
