@model AdvantShop.Web.Infrastructure.Admin.ShippingMethods.ShippingByWeightShippingAdminModel


    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.ShippingMethods.ShipByWeight.PricePerKilo")</span>
        </div>
        <div class="col-xs-6 relative">
            <div class="input-group">
                @Html.TextBoxFor(x => x.PricePerKg, new { @class = "form-control", ng_model = "shippingMethod.Params.PricePerKg", required = "required", validation_input_text = T("Admin.ShippingMethods.ShipByWeight.PricePerKilo") })
                <div class="input-group-btn">
                    <span class="btn btn-default"><span>@Model.CurrencySymbol</span></span>
                </div>
            </div>
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.ShipByWeight.PricePerKilo")">
                @T("Admin.ShippingMethods.ShipByWeight.EnterPricePerKilo")
            </help-trigger>
        </div>
    </div>



    @*<div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">@T("Admin.ShippingMethods.ShipByWeight.MarkupInBaseCurrency")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.Extracharge, new { @class = "form-control", ng_model = "shippingMethod.Params.Extracharge", required = "required", validation_input_text = T("Admin.ShippingMethods.ShipByWeight.MarkupInBaseCurrency") })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.ShipByWeight.MarkupInBaseCurrency")">
                @T("Admin.ShippingMethods.ShipByWeight.EnterTheMarkupInBaseCurrency")
            </help-trigger>
        </div>
    </div>*@



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            @T("Admin.ShippingMethods.ShipByWeight.DeliveryTime")
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.DeliveryTime, new { @class = "form-control", ng_model = "shippingMethod.Params.DeliveryTime" })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.ShipByWeight.DeliveryTime")">
                @T("Admin.ShippingMethods.ShipByWeight.DeliveryTimeAsPeriodOfTime")<br><br>
                @T("Admin.ShippingMethods.ShipByWeight.ForExample2Days")
            </help-trigger>
        </div>
    </div>
