@model AdvantShop.Web.Infrastructure.Admin.ShippingMethods.ShiptorShippingAdminModel

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Виджет ключ</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.ApiKey, new { ng_model = "shippingMethod.Params.ApiKey", @class = "form-control", required = "required", validation_input_text = "Виджет ключ" })
    </div>
</div>
@Html.HiddenFor(x => x.ApiKey, new { ng_model = "shippingMethod.Params.ExistApi" })

<div class="form-group row middle-xs" ng-if="!shippingMethod.Params.ExistApi">
    <div class="col-xs-12">
        <div class="adv-panel-info">
            Укажите "Виджет ключ" и сохраните настройки метода для отображения дополнительных настроек
        </div>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Название группирующего метода доставки в ПВЗ</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.PickupName, new { ng_model = "shippingMethod.Params.PickupName", @class = "form-control", required = "required", validation_input_text = "Название группирующего метода доставки в ПВЗ" })
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">Наложенный платеж картой</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.PaymentCodCardId, Model.PaymentsCod, new { ng_model = "shippingMethod.Params.PaymentCodCardId", @class = "form-control", validation_input_text = "Наложенный платеж картой" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Наложенный платеж картой">
            Наложенный платеж, который будет считаться наложенным платежом с оплатой банковской картой
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        Со страховкой
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.WithInsure, new { ng_model = "shippingMethod.Params.WithInsure", @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span>API-ключ яндекс.карт</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.YaMapsApiKey, new { @class = "form-control", ng_model = "shippingMethod.Params.YaMapsApiKey", validation_input_text = "API-ключ яндекс.карт" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="API-ключ яндекс.карт">
            Необходим для подключения поисковой строки по карте<br />
            <a href="https://yandex.ru/dev/maps/jsapi/doc/2.1/quick-start/index.html#get-api-key" target="_blank">Как получить ключ?</a>
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs" ng-if="shippingMethod.Params.ExistApi">
    <div class="flex-grow-n col-fixed-size-md">
        Синхронизировать статусы заказов
    </div>
    <div class="col-xs-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.StatusesSync, new { ng_model = "shippingMethod.Params.StatusesSync", ng_init = "shippingMethod.Params.StatusesSync=" + Model.StatusesSync.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>

<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n col-fixed-size-md font-bold">
        Статусы
    </div>
</div>

@foreach (var statusKV in Model.Statuses)
{
    <div class="form-group row middle-xs" ng-if="shippingMethod.Params.ExistApi && shippingMethod.Params.StatusesSync">
        <div class="flex-grow-n col-fixed-size-md">
            @statusKV.Value
        </div>
        <div class="col-xs-6 relative">
            @*@Html.DropDownListFor(x => x.StatusesReference, Model.ListStatuses, new { ng_model = string.Format("shippingMethod.Params.StatusesReference[{0}]", statusKV.Key), ng_init = string.Format("shippingMethod.Params.StatusDraft[{1}]='{0}'", Model.StatusesReference.ContainsKey(statusKV.Key) ? string.Format("{0}", Model.StatusesReference[statusKV.Key]) : "", statusKV.Key), @class = "form-control" })*@
            @Html.DropDownList(string.Format("StatusesReferenceVal.{0}", statusKV.Key), Model.ListStatuses, new
            {
               disabled_autobind = true,
               ng_model = string.Format("shippingMethod.Params.StatusesReferenceVal.{0}", statusKV.Key),
               ng_init = string.Format("shippingMethod.Params.StatusesReferenceVal.{1}='{0}'", Model.StatusesReference.ContainsKey(statusKV.Key) ? string.Format("{0}", Model.StatusesReference[statusKV.Key]) : "", statusKV.Key),
                @class = "form-control"
            })
        </div>
    </div>
}
