@using AdvantShop.Repository.Currencies
@model AdvantShop.Web.Infrastructure.Admin.ShippingMethods.ShippingByRangeWeightAndDistanceShippingAdminModel


    <div class="form-group row">
        <div class="flex-grow-n col-fixed-size-md">
            <span>@T("Admin.ShippingMethods.ShipByRange.BaseCost")</span>
        </div>
        <div class="col-xs-8 relative">
            <shipping-by-weight-limit method-id="@Model.ShippingMethodId"
                                      weight-limit="@Model.WeightLimit"
                                      currency-label="@Model.CurrencySymbol">
            </shipping-by-weight-limit>
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            @T("Admin.ShippingMethods.ShipByRange.DistanceAccounting")
        </div>
        <div class="col-xs-2 relative">
            <label class="adv-checkbox-label">
                @Html.CheckBoxFor(x => x.UseDistance, new { ng_model = "shippingMethod.Params.UseDistance", ng_init = "shippingMethod.Params.UseDistance=" + Model.UseDistance.ToLowerString(), @class = "adv-checkbox-input" })
                <span class="adv-checkbox-emul"></span>
            </label>
            <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.ShippingMethods.ShipByRange.DistanceAccounting")">
                @T("Admin.ShippingMethods.ShipByRange.DistanceAccounting")
            </help-trigger>
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span>@T("Admin.ShippingMethods.ShipByRange.MaximumDistance")</span>
        </div>
        <div class="col-xs-2 relative">
            <div class="input-group">
                @Html.TextBoxFor(x => x.MaxDistance, new { ng_model = "shippingMethod.Params.MaxDistance", @class = "form-control" })
                <div class="input-group-btn">
                    <span class="btn btn-default"><span>{{'Admin.Js.ShippingMethods.Km'|translate}}</span></span>
                </div>
            </div>
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.ShipByRange.MaximumDistance")">
                @T("Admin.ShippingMethods.ShipByRange.MaximumDeliveryDistanceInKm")
            </help-trigger>
        </div>
    </div>



    <div class="form-group row">
        <div class="flex-grow-n col-fixed-size-md">
            <span>@T("Admin.ShippingMethods.ShipByRange.DependingOnDistance")</span>
        </div>
        <div class="col-xs-8 relative">
            <shipping-by-distance-limit method-id="@Model.ShippingMethodId"
                                        distance-limit="@Model.DistanceLimit"
                                        currency-label="@Model.CurrencySymbol">
            </shipping-by-distance-limit>
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span>@T("Admin.ShippingMethods.ShipByRange.DeliveryTime")</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.DeliveryTime, new { ng_model = "shippingMethod.Params.DeliveryTime", @class = "form-control" })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.ShipByRange.DeliveryTime")">
                @T("Admin.ShippingMethods.ShipByRange.DeliveryTimeAsPeriodTime")<br><br>
                @T("Admin.ShippingMethods.ShipByRange.ForExample2days")
            </help-trigger>
        </div>
    </div>
