@model AdvantShop.Web.Infrastructure.Admin.ShippingMethods.ShippingByShippingCostShippingAdminModel

@using AdvantShop.Repository.Currencies
@{
    var baseCurrency = CurrencyService.GetAllCurrencies().FirstOrDefault(x => x.Rate == 1f);
    var baseCurrencySymbol = baseCurrency != null ? baseCurrency.Symbol : "BaseCurrency";
}

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.ShipByCost.CostOfDeliveryIsSelectedBy")
    </div>
    <div class="col-xs-6 relative">
        <div class="m-b-sm">
            <label class="adv-radio-label">
                @T("Admin.ShippingMethods.ShipByCost.MaximumDeliveryCost")
                @Html.RadioButton("ByMaxShippingCost", "true", Model.ByMaxShippingCost == true, new { @class = "adv-radio-input", ng_model = "shippingMethod.Params.ByMaxShippingCost" })
                <span class="adv-radio-emul"></span>
            </label>
        </div>
        <div class="m-b-sm">
            <label class="adv-radio-label">
                @T("Admin.ShippingMethods.ShipByCost.SumOfCosts")
                @Html.RadioButton("ByMaxShippingCost", "false", Model.ByMaxShippingCost == false, new { @class = "adv-radio-input", ng_model = "shippingMethod.Params.ByMaxShippingCost" })
                <span class="adv-radio-emul"></span>
            </label>
        </div>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.ShipByCost.CountNumberOfProducts")
    </div>
    <div class="col-xs-6 relative">
        <div class="m-b-sm">
            <label class="adv-radio-label">
                @T("Admin.ShippingMethods.ShipByCost.YesConsider")
                @Html.RadioButton("UseAmount", "true", Model.UseAmount == true, new { @class = "adv-radio-input", ng_model = "shippingMethod.Params.UseAmount" })
                <span class="adv-radio-emul"></span>
            </label>
        </div>
        <div class="m-b-sm">
            <label class="adv-radio-label">
                @T("Admin.ShippingMethods.ShipByCost.NotConsider")
                @Html.RadioButton("UseAmount", "false", Model.UseAmount == false, new { @class = "adv-radio-input", ng_model = "shippingMethod.Params.UseAmount" })
                <span class="adv-radio-emul"></span>
            </label>
        </div>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        @T("Admin.ShippingMethods.FixedRate.DeliveryTime")
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.DeliveryTime, new { @class = "form-control", ng_model = "shippingMethod.Params.DeliveryTime" })
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="@T("Admin.ShippingMethods.FixedRate.DeliveryTime")">
            @T("Admin.ShippingMethods.FixedRate.DeliveryTimeAsPeriodOfTime")<br><br>
            @T("Admin.ShippingMethods.FixedRate.ForExample2days")
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        Стоимость доставки по умолчанию
    </div>
    <div class="col-xs-6 relative">
        <div class="input-group">
            @Html.TextBoxFor(x => x.DefaultShippingCost, new { ng_model = "shippingMethod.Params.DefaultShippingCost", @class = "form-control", validation_input_text = "Стоимость доставки по умолчанию" })
            <div class="input-group-btn">
                <span class="btn btn-default"><span>@baseCurrencySymbol</span></span>
            </div>
        </div>
        <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Стоимость доставки по умолчанию">
            Стоимость доставки по умолчанию для товаров, у которых она не указана
        </help-trigger>
    </div>
</div>
