@using AdvantShop.Saas
@using AdvantShop.Trial

<div class="client-block flex middle-xs center-xs">
    @if (CustomerContext.CurrentCustomer.IsAdmin || CustomerContext.CurrentCustomer.IsVirtual)
    {
        <div class="current-customer">
            <ul class="nav navbar-nav">
                <li class="dropdown inline arrow-custom-popover">

                    <div class="balance-wrap">
                        @if (TrialService.IsTrialEnabled)
                        {
                            <div class="relative">
                                <span>
                                    <span class="balance-inner">
                                        <span class="top-pane__visibility-change">
                                            @T("Admin.Common.SaasBlock.Test")
                                        </span>
                                        <span class="balance-value @(TrialService.LeftDay <= 3 ? "balance-value-warning" :"")">@(TrialService.LeftDayString)</span>
                                        <span ng-mouseenter="saasMenu = true"
                                              ng-mouseleave="saasMenu = false" class="btn-lk-wrap">
                                            <a href="service/tariffs" target="_parent" class="btn btn-sm btn-success btn-lk m-l-xs arrow-right"
                                               popover-is-open="saasMenu"
                                               uib-popover-template="'saasMenu.html'"
                                               popover-trigger="'none'"
                                               popover-placement="bottom-center">
                                                @T("Admin.Common.SaasBlock.TopUp")
                                            </a>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        }
                        @if (SaasDataService.IsSaasEnabled)
                        {
                            <div class="relative">
                                <span>
                                    <span class="balance-inner">
                                        <span class="top-pane__visibility-change">@T("Admin.Comon.SaasInformation.DaysLeft"):</span>
                                        <span class="balance-value @(SaasDataService.CurrentSaasData.LeftDay <= 3 ? "balance-value-warning" :"")">@(SaasDataService.CurrentSaasData.LeftDayString)</span>
                                        <span ng-mouseenter="saasMenu = true"
                                              ng-mouseleave="saasMenu = false" class="btn-lk-wrap">
                                            <a href="service/tariffs" target="_parent" class="btn btn-sm btn-success btn-lk m-l-xs arrow-right"
                                               popover-is-open="saasMenu"
                                               uib-popover-template="'saasMenu.html'"
                                               popover-trigger="'none'"
                                               popover-placement="bottom-center">
                                                @T("Admin.Common.SaasBlock.TopUp")
                                            </a>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        }
                    </div>
                    <script type="text/ng-template" id="saasMenu.html">
                        <ul class="list-group popover-menu-list">
                            <li class="list-group-item header-top-right-submenu-link">
                                <a class="balance-link" href="service/tariffs">
                                    <div class="dropdown-menu-content-header">@T("Admin.Common.SaasBlock.TopUpBalance")</div>
                                </a>
                            </li>

                            @if (!TrialService.IsTrialEnabled && !string.IsNullOrEmpty(SaasDataService.CurrentSaasData.Name))
                            {
                                <li class="divider"></li>
                                <li class="list-group-item">
                                    <a class="balance-link" target="_parent" href="service/changetariff">
                                        <div class="dropdown-menu-content-header">@T("Admin.Common.SaasBlock.TariffChange")</div>
                                    </a>
                                </li>
                            }
                            <li class="divider"></li>
                            <li class="list-group-item header-top-right-submenu-link">
                                <a class="balance-link" href="@SaasDataService.GetMyAccountLink()" target="_blank">
                                    <div class="dropdown-menu-content-header">@T("Admin.Common.SaasBlock.MyAccount")</div>
                                </a>
                            </li>
                            @if (!TrialService.IsTrialEnabled)
                            {
                                <li class="divider"></li>
                                <li class="list-group-item header-top-right-submenu-link">
                                    <a class="balance-link" href="service/resetsaasfromadmin">
                                        <div class="dropdown-menu-content-header">@T("Admin.Common.SaasBlock.RefreshData")</div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </script>
                </li>
            </ul>
        </div>
    }
</div>