@using AdvantShop.Core.Services.Configuration.Settings;
@model AdvantShop.Web.Admin.Models.Settings.CheckoutSettings.CheckoutSettingsModel

<div class="setting-title m-t-none">
    <h3>@T("Admin.Settings.Checkout.ThankYouPageTitle")</h3>
</div>

<div class="form-group row">
    <div class="col-xs-10">
        <div class="setting-label-wrap">
            <p>
                @T("Admin.Settings.Checkout.ThankYouPageTitleInfo")
            </p>
            <p>
                @T("Admin.Settings.Checkout.ThankYouPageTitleAbout")
            </p>
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-2">
        <div class="setting-label-wrap">
            @T("Admin.Settings.Checkout.ThankYouPageAction")
        </div>
    </div>
    <div class="col-xs-5 relative">
        @Html.DropDownListFor(x => x.TYPageAction, Model.TYPageActions, new { @class = "form-control", ng_model = "settingsCheckout.TYPageAction" })
    </div>
</div>

<div class="ng-hide" ng-show="settingsCheckout.TYPageAction == '@EThankYouPageActionType.JoinGroup.ToString()'">
    <input type="text" id="TYSocialNetworksSerialized" name="TYSocialNetworksSerialized" value="{{settingsCheckout.TYSocialNetworks}}" hidden ng-init="settingsCheckout.TYSocialNetworks = @Model.TYSocialNetworksSerialized" />
    @for (int i = 0; i < Model.TYSocialNetworks.Count; i++)
    {
        var nw = Model.TYSocialNetworks[i];
        <div class="form-group row">
            <div class="col-xs-2 col-wl-2">
                <div class="setting-label-wrap">
                    @nw.Type.Localize()
                </div>
            </div>
            <div class="col-xs-5">
                <div class="flex middle-xs between-xs">
                    <label class="adv-checkbox-label flex middle-xs col-fixed-size-ls">
                        @Html.CheckBoxFor(x => nw.Enabled, new { @class = "adv-checkbox-input", ng_model = "settingsCheckout.TYSocialNetworks[" + i + "].Enabled" })
                        <span class="adv-checkbox-emul"></span>
                    </label>
                    <label class="flex middle-xs col-xs">
                        @Html.TextBoxFor(x => nw.Link, new { @class = "form-control", ng_model = "settingsCheckout.TYSocialNetworks[" + i + "].Link" })
                    </label>
                </div>
            </div>
        </div>
    }
</div>
<div class="ng-hide" ng-show="settingsCheckout.TYPageAction == '@EThankYouPageActionType.ShowProducts.ToString()'">
    @*<div class="form-group row">
        <div class="col-xs-10">
            <div class="setting-label-wrap">
                Товары выводятся с учетом приоритета: если нет товаров по первому активному условию - выводятся из второго и т.д.
            </div>
        </div>
    </div>*@
    <div class="form-group row">
        <div class="col-xs-2">
            <div class="setting-label-wrap">
                Название блока с товарами
            </div>
        </div>
        <div class="col-xs-5 relative">
            @Html.TextBoxFor(x => x.TYNameOfBlockProducts, new { @class = "form-control input-small", ng_model = "settingsCheckout.TYNameOfBlockProducts" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2 col-wl-2">
            <div class="setting-label-wrap">
                1. Выводить сопутствующие товары
            </div>
        </div>
        <div class="col-xs-5">
            <div class="flex middle-xs between-xs">
                <label class="adv-checkbox-label flex middle-xs col-fixed-size-ls">
                    @Html.CheckBoxFor(x => x.TYShowReletedProducts, new { @class = "adv-checkbox-input", ng_model = "settingsCheckout.TYShowReletedProducts" })
                    <span class="adv-checkbox-emul"></span>
                </label>
                <label class="flex middle-xs col-xs">
                    @Html.DropDownListFor(x => x.TYReletedProductsType, Model.TYReletedProductsTypes, new { @class = "form-control", ng_model = "settingsCheckout.TYReletedProductsType" })
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2 col-wl-2">
            <div class="setting-label-wrap">
                2. Выводить товары из списка товаров на главной
            </div>
        </div>
        <div class="col-xs-5">
            <div class="flex middle-xs between-xs">
                <label class="adv-checkbox-label flex middle-xs col-fixed-size-ls">
                    @Html.CheckBoxFor(x => x.TYShowProductsList, new { @class = "adv-checkbox-input", ng_model = "settingsCheckout.TYShowProductsList" })
                    <span class="adv-checkbox-emul"></span>
                </label>
                <label class="flex middle-xs col-xs">
                    @Html.DropDownListFor(x => x.TYProductsList, Model.TYProductsLists, new { @class = "form-control", ng_model = "settingsCheckout.TYProductsList" })
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2 col-wl-2">
            <div class="setting-label-wrap">
                3. Выводить выбранные товары
            </div>
        </div>
        <div class="col-xs-5">
            <div class="flex middle-xs between-xs">
                <label class="adv-checkbox-label flex middle-xs col-fixed-size-ls">
                    @Html.CheckBoxFor(x => x.TYShowSelectedProducts, new { @class = "adv-checkbox-input", ng_model = "settingsCheckout.TYShowSelectedProducts" })
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-12">
            <thank-you-page-products></thank-you-page-products>
        </div>
    </div>
</div>

<div class="setting-title">
    <h3>@T("Admin.Settings.Checkout.ThankYouPageExceptions")</h3>
</div>

<div class="form-group row">
    <div class="col-xs-10">
        <div class="setting-label-wrap">
            <p>
               @T("Admin.Settings.Checkout.ThankYouPageExceptionsInfo")
            </p>
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-6 relative" ng-init="settingsCheckout.ExcludedPaymentIds = @Model.TYExcludedPaymentIdsSerialized">
        @foreach (var item in Model.TYPaymentMethods)
        {
            <div>
                <label class="adv-checkbox-label form-label-block @(item.Disabled ? "method-notactive" : string.Empty)">
                    <input type="checkbox" checklist-model="settingsCheckout.ExcludedPaymentIds" checklist-value="@item.Value" class="adv-checkbox-input" />
                    <span class="adv-checkbox-emul"></span>
                    @item.Text
                </label>
            </div>
        }
        <input type="hidden" name="TYExcludedPaymentIdsSerialized" value="{{settingsCheckout.ExcludedPaymentIds}}" />
    </div>
</div>