@using AdvantShop.Core.Services.Admin
@model AdvantShop.Web.Admin.ViewModels.Crm.Leads.LeadsListViewModel
@{
    Layout = "~/Areas/Admin/Views/Leads/_CrmLayout.cshtml";
    ViewBag.NavMenu = "leads";
}

<div class="page-head page-head--sticky" ng-init="leads.changeSalesFunnel(@Model.SalesFunnelId); leads.init(@Model.UseKanban.ToLowerString(), @CustomerContext.CurrentCustomer.IsAdmin.ToLowerString())">
    <div class="page-head__back">
        @Html.Back("", Url.Action("Index", "Home"))
    </div>
    <div class="page-head__content">
        <h1 class="page-head__name">
            @{
                string salesFunnelName = !string.IsNullOrEmpty(Model.SalesFunneName) ? Model.SalesFunneName : T("Admin.Leads.Index.Title").ToString();
            }
            <span ng-init="leads.salesFunnelName = '@salesFunnelName'" ng-bind="leads.salesFunnelName">
                @salesFunnelName
                <span class="fa fa-angle-down font-bold vertical-middle p-t-xs"></span>
            </span>
        </h1>
    </div>
    <div class="page-head__controls">
        <a href="@Url.Action("Add")" class="link-terna" title="@T("Admin.Orders.Index.AddOrder")">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 9.14286H9.14286V16H6.85714V9.14286H0V6.85714H6.85714V0H9.14286V6.85714H16V9.14286Z" fill="currentColor" />
            </svg>
        </a>
    </div>
</div>

<div class="sticky-page-name" sticky sticky-top="0">
    <div class="page-name-block sticky-page-name-inner">
        <div class="page-name-block-item-main">
            <div class="m-r-sm inline vertical-middle" data-submenu-container="{'type': 'modern','checkOrientation': true, 'blockOrientation': 'body', 'delayHover': 100}">
                <div class="dropdown" data-submenu-parent>
                    <span class="dropdown-toggle header-bottom-menu-link">

                        <span class="dropdown-page-name-text">
                            <span class="page-name-block-text sticky-page-name-text original-header-page vertical-middle" >
                                
                            </span>
                            <span class="fa fa-angle-down font-bold vertical-middle p-t-xs"></span>
                        </span>
                    </span>

                    <ul role="menu" class="dropdown-menu submenu dropdown-menu--limited" data-submenu><li leads-list exclude-lead-list-id="@(Model.SalesFunnelId)"></li></ul>
                </div>
            </div>
            @if (Model.SalesFunnelId > 0 && Model.IsFullAccess)
            {
                <ui-modal-trigger data-controller="'ModalAddEditSalesFunnelCtrl'" controller-as="ctrl" size="middle"
                                  template-url="../areas/admin/content/src/settingsCrm/components/salesFunnels/modals/addEditSalesFunnel/addEditSalesFunnel.html"
                                  data-on-close="leads.updateSalesFunnel(result)"
                                  data-resolve="{'Id': @Model.SalesFunnelId}"
                                  class="m-r-sm ">
                    <a href="" class="link-invert fas fa-pencil-alt text-decoration-none js-task-group-edit"></a>
                </ui-modal-trigger>
            }
            @if (Model.SalesFunnelId > 0 && Model.IsFullAccess)
            {
                <div class="inline vertical-middle m-r-sm">
                    <div class="btn-group">
                        <button class="btn btn-sm btn-in-group" ng-click="leads.setViewMode('leads')" ng-class="{'btn-success': leads.viewMode === 'leads', 'btn-default' : leads.viewMode !== 'leads'}" data-e2e="leads">Список</button>
                        <button class="btn btn-sm btn-in-group" ng-click="leads.setViewMode('analytics')" ng-class="{'btn-success':leads.viewMode === 'analytics', 'btn-default' : leads.viewMode !== 'analytics'}" data-e2e="analytics"><span>Аналитика</span></button>
                    </div>
                </div>
            }
            @if (Model.SalesFunnelId > 0 && Model.IsFullAccess)
            {
                <div class="pull-right">
                    <div class="flex middle-xs">
                        <div class="dropdown m-r-md m-t-xs">
                            <a class="link-invert fas fa-ellipsis-h dropdown-toggle link-decoration-none" id="importExportDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>

                            <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="importExportDropdown">
                                <li>
                                    <a ng-click="leads.export()">@T("Admin.Leads.Index.Export")</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("index","settingscrm")#?crmTab=importLeads">@T("Admin.Leads.Index.Import")</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="page-name-block-item-additional">
            <ui-modal-trigger data-controller="'ModalAddLeadCtrl'" controller-as="ctrl" size="lg" backdrop="static"
                              data-resolve="{params: {'salesFunnelId': @Model.SalesFunnelId}}"
                              data-close="leads.modalAddLeadClose()"
                              template-url="../areas/admin/content/src/_shared/modal/addLead/addLead.html" class="pull-right">
                <button class="btn btn-sm btn-success" data-e2e="btnAdd" type="button">
                    <span class="fa fa-plus"></span>
                    @T("Admin.AddLead")
                </button>
            </ui-modal-trigger>
            @if (Model.SalesFunnelId > 0)
            {
                <div class="pull-right">
                    <div class="flex middle-xs">
                        <div class="dropdown m-r-sm">
                            <button class="btn btn-sm btn-success dropdown-toggle" id="communicationDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @T("Admin.CustomerSegments.AddEdit.SendMessage")
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="communicationDropdown">
                                @*<li>
                                        <a ng-click="leads.export()">@T("Admin.CustomerSegments.AddEdit.ExportCustomers")</a>
                                    </li>*@
                                <li>
                                    <a href="" ng-click="leads.sendEmail()">@T("Admin.CustomerSegments.AddEdit.WriteEmail")</a>
                                </li>
                                <li>
                                    <a href="" class="edit link-decoration-none m-l-xs" ng-click="leads.sendSms()">@T("Admin.CustomerSegments.AddEdit.SendSMS")</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="pull-right m-r m-t-xs">
                    <label class="adv-checkbox-label pointer m-r">

                        <input class="adv-radio-input" name="UseKanban" ng-change="leads.changeView('kanban', true)"
                               ng-model="leads.useKanban" type="radio" ng-value="true">
                        <span class="adv-radio-text">
                            @T("Admin.Leads.Index.Kanban")
                        </span>
                        @*<span class="adv-radio-emul" data-e2e="UseKanban"></span>*@
                        <span class="adv-radio-emul--icon" data-e2e="UseKanban">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path d="M4 3h3v14H4V3zm5 0h3v14H9V3zm5 0h3v14h-3V3z" fill="currentColor" fill-rule="evenodd" /></svg>
                        </span>

                    </label>
                    <label class="adv-checkbox-label pointer">

                        <input class="adv-radio-input" name="UseKanban" ng-change="leads.changeView('grid', true)"
                               ng-model="leads.useKanban" type="radio" ng-value="false">
                        <span class="adv-radio-text">
                            @T("Admin.Leads.Index.Table")
                        </span>
                        @*<span class="adv-radio-emul" data-e2e="UseGrid"></span>*@
                        <span class="adv-radio-emul--icon" data-e2e="UseGrid">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path d="M3 4h3v3H3V4zm4 0h10v3H7V4zM3 9h3v3H3V9zm4 0h10v3H7V9zm-4 5h3v3H3v-3zm4 0h10v3H7v-3z" fill="currentColor" fill-rule="evenodd" /></svg>
                        </span>

                    </label>
                </div>
            }
        </div>
    </div>
</div>

<div ng-switch="leads.viewMode" class="ng-cloak">
    <div ng-switch-when="leads">
        <div class="tasks-navbar">
            <ul class="nav nav-tabs">
                <li class="nav-item ng-tab" ng-class="{'active': leads.leadsParam['dealStatusId'] == null}">
                    <a href="" ng-click="leads.changeParam(null)">
                        <span class="fa"></span> @(T("Admin.Leads.Index.All"))
                    </a>
                </li>
                @foreach (var status in Model.DealStatuses)
                {
                    <li class="nav-item  ng-tab" ng-class="{'active': leads.leadsParam['dealStatusId'] == @(status.Id)}" data-e2e="@status.Name">
                        <a href="" ng-click="leads.changeParam(@(status.Id))">
                            <span class="fa"></span> @status.Name
                            <span class="leads-count-label">
                                @* ng-if глубже, чтобы нормально скрывались непомещающиеся названия табов *@
                                <span ng-if="leads.grid.gridOptions.LeadsCount['@status.Id']" ng-bind="leads.grid.gridOptions.LeadsCount['@status.Id']" data-e2e="LeadsCount"></span>
                            </span>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <ui-grid-custom grid-unique-id="grid"
                        grid-options="leads.gridOptions"
                        grid-on-init="leads.gridOnInit(grid)"
                        grid-on-filter-init="leads.gridOnFilterInit(filter)"
                        grid-url="'leads/getLeads'"
                        grid-params="{salesFunnelId: @Model.SalesFunnelId}"
                        grid-extend-ctrl="leads"
                        grid-filter-enabled="true"
                        grid-selection-enabled="false"
                        grid-filter-hidden-total-items-count="true"
                        grid-filter-template-url="'/areas/admin/content/src/_shared/ui-grid-custom/templates/ui-grid-custom-filter--mobile.html'">
            <ui-grid-custom-override-control>
                <a ng-href="orders/edit/{{row.entity.OrderId}}" class="block-content block-content--padding block-content--margin link-decoration-none link-terna">
                    <div class="row between-xs middle-xs  m-b-xs">
                        <div class="col-xs-6">
                            <span class="orders-block__text--lg p-r-xs">#<span ng-bind="row.entity.Number"></span></span>
                            <span ng-style="{'color': '#' + row.entity.Color}" ng-bind="row.entity.StatusName"></span>
                        </div>
                        <div class="col-xs-6 text-right">
                            <span class="orders-block__text--alt" ng-bind="row.entity.OrderDateFormatted"></span>
                        </div>
                    </div>
                    <div class="row between-xs  middle-xs  m-b-md">
                        <div class="col-xs-6">
                            <span class="orders-block__text--alt">Позиций:</span> <span class="orders-block__text--lg" ng-bind="row.entity.OrderItems.length"></span>
                        </div>
                        <div class="col-xs-6 text-right">
                            <span class="orders-block__text--alt">Сумма:</span> <span class="orders-block__text--lg" ng-bind="row.entity.SumFormatted"></span>
                        </div>
                    </div>
                    <div class="row between-xs  middle-xs">
                        <div class="col-xs-6">
                            <span ng-bind="row.entity.BuyerName"></span> <span class="orders-block__text--alt">!Adress!</span>
                        </div>
                        <div class="col-xs-6 text-right">
                            <span ng-class="{'orders-block__is-paid':row.entity.IsPaid, 'orders-block__is-nopaid': !row.entity.IsPaid }" ng-bind="row.entity.IsPaid ? 'Оплачен' : 'Не оплачен'"></span>
                        </div>
                    </div>
                </a>
            </ui-grid-custom-override-control>
            <ui-grid-custom-footer class="ui-grid-custom-footer--mobile" ng-bind="leads.grid.gridOptions.TotalString">
            </ui-grid-custom-footer>
        </ui-grid-custom>
    </div>
</div>
<div ng-switch-when="analytics">
    @Html.Action("LeadsAnalyticsPartial", "Leads", new { leadsListId = Model.SalesFunnelId })
</div>