@model AdvantShop.Web.Admin.Models.Bonuses.Rules.CancellationsBonusRuleModel

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.Rules.CancellationBonuses.CancellationAfter")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.AgeCard, new { @class = "form-control", ng_model = "rule.Rule.AgeCard", required = "required", validation_input_text = T("Admin.Rules.CancellationBonuses.CancellationAfter").ToString() })
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="flex-grow-n col-fixed-size-md">
        <span>@T("Admin.Rules.CancellationsBonus.DoNotSend")</span>
    </div>
    <div class="col-xs-6 relative">

        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.NotSendSms, new { @class = "adv-checkbox-input", ng_model = "rule.Rule.NotSendSms"})
            <span class="adv-checkbox-emul" data-e2e="NotSendSms"></span>
        </label>
    </div>
</div>


<div class="form-group row middle-xs" ng-if="!rule.Rule.NotSendSms">
    <div class="flex-grow-n col-fixed-size-md">
        <span class="text-required">@T("Admin.Rules.CancellationsBonus.SmsWarning")</span>
    </div>
    <div class="col-xs-6 relative">
        @Html.TextBoxFor(x => x.SmsDayBefore, new { @class = "form-control", ng_model = "rule.Rule.SmsDayBefore", required = "required", validation_input_text = T("Admin.Rules.CancellationsBonuses.SmsWarn").ToString() })
    </div>
</div>
