@model BlockModel
@{
    var productIds = Model.Block.TryGetValuebleSettingAsList<int>("product_ids");
}

<div class="lp-area">
    <div class="container-fluid">
        <div class="lp-container">
            <div class="row center-xs">
                @if (Model.Block.TryGetSetting("show_title") == true)
                {
                    <div class="col-xs-12">
                        <div class="lp-h2 lp-h2--color">
                            @Html.SubBlock(Model, "title")
                        </div>
                    </div>
                }
                @if (Model.Block.TryGetSetting("show_subtitle") == true)
                {
                    <div class="col-xs-12">
                        <div class="lp-h3 lp-h3--color">
                            @Html.SubBlock(Model, "subtitle")
                        </div>
                    </div>
                }
            </div>
            @if (productIds != null && productIds.Any())
            {
                if (Model.Block.TryGetSetting("show_reverse") == true)
                {
                    @:<div  class="product-view-landing-alt-reverse">
                }

                foreach (var productId in productIds)
                {
                    @Html.Action("ProductLanding", "Product", new
                    {
                        area = "",
                        productId,
                        showButton = Model.Block.TryGetSetting("show_buybutton"),
                        showPrice = Model.Block.TryGetSetting("show_price"),
                        hideShipping = Model.Block.TryGetSetting("hide_shipping") == true,
                        landingId = LpService.CurrentLanding.Id,
                        blockId = Model.Block.Id,
                        showVideo = Model.Block.TryGetSetting("show_video"),
                        button = Model.Block.TryGetSetting<LpButton>("button"),
                        productDetails = Model.Block.TryGetSetting("product_details")
                    })
                }

                if (Model.Block.TryGetSetting("show_reverse") == true)
                {
                    @:</div>
                }
            }
            else if (Model.Inplace && !LpService.PreviewInAdmin)
            {
                <div class="ng-cloak lp-block-products-view__empty--admin">
                    <blocks-constructor data-landingpage-id="@LpService.CurrentLanding.Id"
                                        data-block-id="@Model.Block.Id"
                                        data-name="@Model.Block.Name"
                                        data-type="@Model.Block.Type"
                                        data-is-show-options="::true"
                                        data-template-custom="true">
                        <button type="button" class="lp-btn lp-btn--primary" ng-click="blocksConstructor.showOptionsBlock('tabProducts')">Добавить товары</button>
                    </blocks-constructor>
                </div>
            }
        </div>
    </div>
</div>