@using AdvantShop.Helpers;

@model BlockModel

@{ 
    var viberType = Model.Block.TryGetSetting("viber_type");
    var urlViber = "";
    if (Model.Block.TryGetSetting("viber_number") != null && viberType == "number") {
        urlViber = "viber://chat?number=" + StringHelper.ConvertToStandardPhone(Model.Block.TryGetSetting("viber_number"), true);

    } else if (Model.Block.TryGetSetting("viber_url") != null && viberType == "link") {
        urlViber = Model.Block.TryGetSetting("viber_url");
    }
    var enableIcon = Model.Block.TryGetSetting("enable_icon");
}

<div class="container-fluid">
    <div class="lp-container">
        <div class="row @(Model.Block.TryGetSetting("align_items")) middle-xs">
            <div class="col-xs-12">
                <div class="lp-block-contacts-buttons-social-alt__buttons">
                    @if (Model.Block.TryGetSetting("whatsapp_enabled") == true)
                    {
                        <a class="social social--whatsapp icon-lp-whatsapp lp-btn--primary-border-radius lp-btn--primary-font-weight" href="https://wa.me/@(Model.Block.TryGetSetting("whatsapp_number"))?text=@Html.Encode(Model.Block.TryGetSetting("whatsapp_message"))" target="_blank">
                            <span class="social__name">@Model.Block.TryGetSetting("whatsapp_text")</span>
                        </a>
                    }
                    @if (Model.Block.TryGetSetting("vk_enabled") == true)
                    {
                        <a class="social social--vkontakte icon-lp-vkontakte lp-btn--primary-border-radius lp-btn--primary-font-weight" href="@(Model.Block.TryGetSetting("vk_url"))" target="_blank">
                            <span class="social__name">@Model.Block.TryGetSetting("vk_text")</span>
                        </a>
                    }
                    @if (Model.Block.TryGetSetting("fb_enabled") == true)
                    {
                        <a class="social social--facebook icon-lp-facebook lp-btn--primary-border-radius lp-btn--primary-font-weight" href="https://m.me/@(Model.Block.TryGetSetting("fb_url"))" target="_blank">
                            <span class="social__name">@Model.Block.TryGetSetting("fb_text")</span>
                        </a>
                    }
                    @if (Model.Block.TryGetSetting("viber_enabled") == true)
                    {
                        <a class="social social--viber icon-lp-viber lp-btn--primary-border-radius lp-btn--primary-font-weight" href="@(urlViber)" target="_blank">
                            <span class="social__name">@Model.Block.TryGetSetting("viber_text")</span>
                        </a>
                    }
                    @if (Model.Block.TryGetSetting("telegram_enabled") == true)
                    {
                        <a class="social social--telegram icon-lp-telegram lp-btn--primary-border-radius lp-btn--primary-font-weight" href="https://t.me/@(Model.Block.TryGetSetting("telegram_url"))" target="_blank">
                            <span class="social__name">@Model.Block.TryGetSetting("telegram_text")</span>
                        </a>
                    }
                    @if (Model.Block.TryGetSetting("odnoklassniki_enabled") == true)
                    {
                        <a class="social social--odnoklassniki icon-lp-odnoklassniki lp-btn--primary-border-radius lp-btn--primary-font-weight" href="https://ok.ru/messages/group/@(Model.Block.TryGetSetting("odnoklassniki_url"))" target="_blank">
                            <span class="social__name">@Model.Block.TryGetSetting("odnoklassniki_text")</span>
                        </a>
                    }
                    @if (Model.Block.TryGetSetting("twitter_enabled") == true)
                    {
                        <a class="social social--twitter icon-lp-twitter lp-btn--primary-border-radius lp-btn--primary-font-weight" href="@Model.Block.TryGetSetting("twitter_url")" target="_blank">
                            <span class="social__name">@Model.Block.TryGetSetting("twitter_text")</span>
                        </a>
                    }

                    @if (Model.Block.TryGetSetting("instagram_enabled") == true)
                    {
                        <a class="social social--instagram icon-lp-instagram lp-btn--primary-border-radius lp-btn--primary-font-weight" href="@Model.Block.TryGetSetting("instagram_url")" target="_blank">
                            <span class="social__name">@Model.Block.TryGetSetting("instagram_text")</span>
                        </a>
                    }


                    @if (Model.Block.TryGetSetting("youtube_enabled") == true)
                    {
                        <a class="social social--youtube icon-lp-youtube lp-btn--primary-border-radius lp-btn--primary-font-weight" href="@Model.Block.TryGetSetting("youtube_url")" target="_blank">
                            <span class="social__name">@Model.Block.TryGetSetting("youtube_text")</span>
                        </a>
                    }

                    @if (Model.Block.TryGetSetting("call_enabled") == true)
                    {
                        <a class="social social--call icon-lp-phone lp-btn--primary-border-radius lp-btn--primary-font-weight" href="tel:@Model.Block.TryGetSetting("call_number")">
                            <span class="social__name">@Model.Block.TryGetSetting("call_text")</span>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>