@model AdvantShop.Web.Admin.ViewModels.Emailings.EmailingLogViewModel
@{
    Layout = null;
}
@if (!SettingsMail.UseAdvantshopMail)
{
    @Html.Partial("AnalyticsUnavailable")
}

<div ng-controller="EmailingLogCtrl as emailingLog")>
    <div class="sticky-page-name" sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner">
            <div class="page-name-block-item-main">
                <h1 class="page-name-block-text sticky-page-name-text">
                    @T("Admin.EmailingLog.Title")
                </h1>
                <div class="m-t-sm">
                    Письмо: @Model.EmailSubject
                </div>
                @if (Model.BackUrl.IsNotEmpty())
                {
                    <a class="sticky-hidden" @*href="@Model.BackUrl{{emailingLog.gridWithoutComebackUrlParams()}}"*@ ng-click="$ctrl.changeView('details', @Model.FormatId)">@T("Admin.Back")</a>
                }
            </div>
        </div>
    </div>

    <div class="ibox">
        <div class="ibox-content">
            <ui-grid-custom grid-unique-id="gridWithout"
                            grid-on-init="emailingLog.gridWithoutOnInit(grid)"
                            grid-options="emailingLog.gridWithoutOptions"
                            grid-url="'emailings/getWithoutEmailings'"
                            grid-selection-enabled="false"
                            grid-search-visible="false"
                            grid-params="{formatId:'@Model.FormatId', DateFrom: '@Model.DateFrom', DateTo: '@Model.DateTo', @(Model.Statuses.IsNotEmpty() ? "Statuses: '" + Model.Statuses+ "'" : "")  }"
                            grid-extend-ctrl="emailingLog">
                <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="emailingLog.gridWithout.gridOptions.TotalString">
                </ui-grid-custom-footer>
            </ui-grid-custom>
        </div>
    </div>
</div>