@if (!SettingsMail.UseAdvantshopMail)
{
    @Html.Partial("AnalyticsUnavailable")
}

<div class="ibox">
    <uib-tabset active uid="catalogTab" on-select-batch="settingsCatalog.floatHeader = tab.heading;">
        <uib-tab index="'common'" heading="@T("Admin.ManualEmailings.EmailingsWith")" classes="ng-tab">
            @Html.Partial("_EmailingsWith")
        </uib-tab>
        <uib-tab index="'common1'" heading="@T("Admin.ManualEmailings.EmailingsWithous")" classes="ng-tab">
            @Html.Partial("_EmailingsWithous")
        </uib-tab>
    </uib-tabset>
</div>


