@model BlockModel
@{
    var items = Model.Block.TryGetSettingAsList<TextModel>("items");
}

<div class="container-fluid">
    <div class="lp-container">
        <div class="row center-xs">
            <div class="col-xs-12 col-sm-4 text-right">
                <div class="lp-block-text__header--mobile">
                    @if (Model.Block.TryGetSetting("show_title") == true)
                    {
                        <div class="lp-h2 lp-h2--color">
                            @Html.SubBlock(Model, "title")
                        </div>
                    }

                    @if (Model.Block.TryGetSetting("show_subtitle") == true)
                    {
                        <div class="lp-h3 lp-h3--color">
                            @Html.SubBlock(Model, "subtitle")
                        </div>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-6 text-left">
                <div class="lp-block-text-pyramid__content">
                    <div class="lp-block-text--middle lp-font-size--middle">
                        @Html.SubBlock(Model, "text")
                    </div>

                    @if (Model.Block.TryGetSetting("show_button") == true)
                    {
                        <div class="lp-block-text-button">
                            <div class="row @(Model.Block.TryGetSetting("align_btns") != null ? Model.Block.TryGetSetting("align_btns") : "center-xs")">
                                <div class="col-xs-12">
                                    @Html.Button(Model.Block, "button")
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
