@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel

<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/categories</span>
        <span class="description">Список категорий</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.CategoriesListUrl
        </div>

        <p>Получение списка категорий, удовлетворяющих заданному фильтру. Результат возвращается постранично.</p>

        <h3>Фильтр. Все поля не обязательны.</h3>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">page</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Текущая страница в постараничном выводе</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">itemsPerPage</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Колличество элементов на страницу. По умолчанию 100. Макс. 500.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">sorting</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Название поля для сортировки. Должно совпадать с полем объекта.</div>
            </div>
            <div class="row m-b">
                <div class="col-xs-2">sortingType</div>
                <div class="col-xs-1">enum</div>
                <div class="col-xs">Сортировка: none - нет, asc - по возрастанию, desc - по убыванию</div>
            </div>

            <div class="row m-b">
                <div class="col-xs-2">extended</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Позволяет выводить дополнительные поля у объекта Category (seoMetaInformation, pictureUrl, miniPictureUrl, menuIconPictureUrl)</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">name</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Название</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">parentCategoryId</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">id родительской категории</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">enabled</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Активность</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">hidden</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Скрыта ли категория</div>
            </div>
        </div>

        <h3 class="m-t">Пример запроса</h3>
        <pre class="m-t-sm">/api/categories?parentCategoryId=0&extended=true</pre>

        <h3 class="m-t">Пример ответа</h3>
        <pre class="m-t-sm">{
    "categories": [
        {
            "id": 5701,
            "externalId": "5701",
            "parentCategoryId": 0,
            "name": "Категория 1",
            "url": "kategoriya-1",
            "description": "",
            "briefDescription": "",
            "enabled": true,
            "hidden": false,
            "sortOrder": 0,
            "sorting": "nosorting",
            "showMode": 1,
            "showBrandsInMenu": false,
            "showSubCategoriesInMenu": false,
            "showOnMainPage": true,
            "modifiedBy": "csv",
            "seoMetaInformation": {
                "isDefault": true,
                "title": "#STORE_NAME# - #CATEGORY_NAME#",
                "metaKeywords": "#STORE_NAME# - #CATEGORY_NAME#",
                "metaDescription": "#STORE_NAME# - #CATEGORY_NAME#",
                "h1": "#CATEGORY_NAME#"
            },
            "pictureUrl": null,
            "miniPictureUrl": null,
            "menuIconPictureUrl": null,
            "level": 2,
            "childCategoriesCount": 0,
            "productsCount": 3,
            "productsCountInCategory": 3
        },
        {
            "id": 5702,
            "externalId": "5702",
            "parentCategoryId": 0,
            "name": "Категория 2",
            "url": "kategoriya-2",
            "description": "",
            "briefDescription": "",
            "enabled": true,
            "hidden": false,
            "sortOrder": 0,
            "sorting": "nosorting",
            "showMode": 1,
            "showBrandsInMenu": false,
            "showSubCategoriesInMenu": false,
            "showOnMainPage": true,
            "modifiedBy": "csv",
            "seoMetaInformation": {
                "isDefault": true,
                "title": "#STORE_NAME# - #CATEGORY_NAME#",
                "metaKeywords": "#STORE_NAME# - #CATEGORY_NAME#",
                "metaDescription": "#STORE_NAME# - #CATEGORY_NAME#",
                "h1": "#CATEGORY_NAME#"
            },
            "pictureUrl": null,
            "miniPictureUrl": null,
            "menuIconPictureUrl": null,
            "level": 2,
            "childCategoriesCount": 0,
            "productsCount": 3,
            "productsCountInCategory": 3
        },
        ...
    ],
    "pagination": {
        "count": 12,
        "currentPage": 1,
        "totalCount": 12,
        "totalPageCount": 1
    }
}</pre>

        <div class="m-t m-b-xs">
            <h3>Ответ</h3>
        </div>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">pagination</div>
                <div class="col-xs">Постаричный вывод ответа</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">categories</div>
                <div class="col-xs">
                    Список категорий. Пример объекта, см. Получить категорию<br />
                    Может содержать дополнительные поля в ответе, если в запросе передается параметр extended=true <br />
                </div>
            </div>
        </div>

        <div class="m-t m-b-xs">
            <h3>Информация о постраничном выводе включает:</h3>
        </div>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">count</div>
                <div class="col-xs">Количество элементов в текущем ответе</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">currentPage</div>
                <div class="col-xs">Текущая страница</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">totalCount</div>
                <div class="col-xs">Общее количество элементов</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">totalPageCount</div>
                <div class="col-xs">Общее количество страниц с ответом</div>
            </div>
        </div>
    </div>
</div>

<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/categories/{id}</span>
        <span class="description">Получить категорию</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.CategoriesGetUrl
        </div>

        <h3 class="m-t-sm">Пример ответа</h3>
        <pre class="m-t-sm">{
    "id": 5701,
    "externalId": "5701",
    "parentCategoryId": 0,
    "name": "Категория 1",
    "url": "kategoriya-1",
    "description": "",
    "briefDescription": "",
    "enabled": true,
    "hidden": false,
    "sortOrder": 0,
    "sorting": "nosorting",
    "showMode": 1,
    "showBrandsInMenu": false,
    "showSubCategoriesInMenu": false,
    "showOnMainPage": true,
    "modifiedBy": "csv",
    "seoMetaInformation": {
        "isDefault": true,
        "title": "#STORE_NAME# - #CATEGORY_NAME#",
        "metaKeywords": "#STORE_NAME# - #CATEGORY_NAME#",
        "metaDescription": "#STORE_NAME# - #CATEGORY_NAME#",
        "h1": "#CATEGORY_NAME#"
    },
    "pictureUrl": null,
    "miniPictureUrl": null,
    "menuIconPictureUrl": null
}
</pre>

        <div class="row-tb m-t-sm">
            <div class="row m-b-xs">
                <div class="col-xs-2">id</div>
                <div class="col-xs">id категории</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">externalId</div>
                <div class="col-xs">Внешний id</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">parentCategoryId</div>
                <div class="col-xs">id родительской категории</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">url</div>
                <div class="col-xs">url категории</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">description</div>
                <div class="col-xs">Описание</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">briefDescription</div>
                <div class="col-xs">Краткое описание</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">enabled</div>
                <div class="col-xs">Активность</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">hidden</div>
                <div class="col-xs">Скрытая категория</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">sortOrder</div>
                <div class="col-xs">Сортировка среди категорий</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">sorting</div>
                <div class="col-xs">Сортировка по умолчанию для товаров. Возможные значения: @Model.CategoriesSorting</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">showMode</div>
                <div class="col-xs">Вид отображения подкатегорий: 0 - не показывать, 1 - плитка, 2 - список</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">showBrandsInMenu</div>
                <div class="col-xs">Отображать производителей в меню</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">showSubCategoriesInMenu</div>
                <div class="col-xs">Отображать в меню два уровня подкатегорий</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">showOnMainPage</div>
                <div class="col-xs">Выводить на главной</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">modifiedBy</div>
                <div class="col-xs">Кто менял</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">seoMetaInformation</div>
                <div class="col-xs">SEO мета информация</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">pictureUrl</div>
                <div class="col-xs">Url изображения</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">miniPictureUrl</div>
                <div class="col-xs">Url мини-картинки</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">menuIconPictureUrl</div>
                <div class="col-xs">Url иконки для меню</div>
            </div>
        </div>

        <div class="m-t-sm">
            <h3>Пример ответа с ошибкой</h3>
            <pre class="m-t-sm">{
    "status": "error",
    "errors": "Категории не существует"
}
</pre>
        </div>

    </div>
</div>

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/categories/add</span>
        <span class="description">Создать категорию</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.CategoriesAddUrl
        </div>

        <h3 class="m-t-sm">Пример запроса</h3>
        <pre class="m-t-sm">{
    "parentCategoryId": 0,
    "name": "Категория",
    "url": "new-category",
    "description": "description",
    "briefDescription": "brief description",
    "enabled": true,
    "hidden": false,
    "sortOrder": 0,
    "sorting": "nosorting",
    "showMode": 1,
    "showBrandsInMenu": false,
    "showSubCategoriesInMenu": false,
    "showOnMainPage": true,
    "modifiedBy": "api"
}
</pre>

        <h3 class="m-t-sm">Пример ответа</h3>
        <pre class="m-t-sm">{
    "id": 123,       // id созданной категории
    "status": "ok"   // статус
}
</pre>
        <div class="m-t-sm">
            <h3>Пример ответа с ошибкой</h3>
            <pre class="m-t-sm">{
    "status": "error",
    "errors": "Название обязательно для заполения"
}
</pre>
        </div>

    </div>
</div>

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/categories/{id}</span>
        <span class="description">Изменить категорию</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.CategoriesUpdateUrl
        </div>

        <h3>POST api/customers/{id}</h3>
        <pre class="m-t-sm">{
    "id": 1234567,
    "externalId": "1234567",
    "parentCategoryId": 0,
    "name": "Категория 123456789",
    "url": "kategoriya-1",
    "description": "",
    "briefDescription": "",
    "enabled": true,
    "hidden": false,
    "sortOrder": 0,
    "sorting": "nosorting",
    "showMode": 1,
    "showBrandsInMenu": false,
    "showSubCategoriesInMenu": false,
    "showOnMainPage": true,
    "modifiedBy": "835d82df-aaa6-4d54-a870-8d353e541af9",
    "seoMetaInformation": {
        "isDefault": false,
        "title": "#STORE_NAME# - #CATEGORY_NAME# 123456789",
        "metaKeywords": "#STORE_NAME# - #CATEGORY_NAME#",
        "metaDescription": "#STORE_NAME# - #CATEGORY_NAME#",
        "h1": "#CATEGORY_NAME#"
    }
}
</pre>

        <h3 class="m-t-sm">Пример ответа</h3>
        <pre class="m-t-sm">{
    "id": 1234567,   // id категории
    "status": "ok"   // статус
}
</pre>
        <div class="m-t-sm">
            <h3>Пример ответа с ошибкой</h3>
            <pre class="m-t-sm">{
    "status": "error",
    "errors": "Название обязательно для заполения"
}
</pre>
        </div>

    </div>
</div>


<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/categories/{id}/delete</span>
        <span class="description">Удалить категорию</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.CategoriesDeleteUrl
        </div>
        <h3 class="m-t-sm">Пример ответа</h3>
        <pre class="m-t-sm">{
    "status": "ok"
}
</pre>
    </div>
</div>



<div class="setting-title">
    <h3>Категория. Изображение</h3>
</div>
<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/categories/{id}/picture/add</span>
        <span class="description">Добавить изображение</span>
    </div>
    <div class="details">
        <div class="m-b">
            Передается файл
        </div>
        <h3 class="m-t-sm">Пример ответа</h3>
        <pre class="m-t-sm">{
    "status": "ok"
}
</pre>
    </div>
</div>

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/categories/{id}/picture/addbylink</span>
        <span class="description">Добавить изображение по ссылке</span>
    </div>
    <div class="details">
        <h3 class="m-t-sm">Пример запрос</h3>
        <pre class="m-t-sm">{
    "link": "https://link.com/img.jpg"
}
</pre>
    </div>
</div>

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/categories/{id}/picture/delete</span>
        <span class="description">Удалить изображение</span>
    </div>
</div>


@** mini-picture *@
<div class="setting-title">
    <h3>Категория. Мини-изображение</h3>
</div>
<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/categories/{id}/mini-picture/add</span>
        <span class="description">Добавить мини-изображение</span>
    </div>
    <div class="details">
        <div class="m-b">
            Передается файл
        </div>
        <h3 class="m-t-sm">Пример ответа</h3>
        <pre class="m-t-sm">{
    "status": "ok"
}
</pre>
    </div>
</div>

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/categories/{id}/mini-picture/addbylink</span>
        <span class="description">Добавить мини-изображение по ссылке</span>
    </div>
    <div class="details">
        <h3 class="m-t-sm">Пример запрос</h3>
        <pre class="m-t-sm">{
    "link": "https://link.com/img.jpg"
}
</pre>
    </div>
</div>

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/categories/{id}/mini-picture/delete</span>
        <span class="description">Удалить мини-изображение</span>
    </div>
</div>


@** menu-icon-picture *@
<div class="setting-title">
    <h3>Категория. Иконка для меню</h3>
</div>
<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/categories/{id}/menu-icon-picture/add</span>
        <span class="description">Добавить иконку для меню</span>
    </div>
    <div class="details">
        <div class="m-b">
            Передается файл
        </div>
        <h3 class="m-t-sm">Пример ответа</h3>
        <pre class="m-t-sm">{
    "status": "ok"
}
</pre>
    </div>
</div>

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/categories/{id}/menu-icon-picture/addbylink</span>
        <span class="description">Добавить иконку для меню по ссылке</span>
    </div>
    <div class="details">
        <h3 class="m-t-sm">Пример запрос</h3>
        <pre class="m-t-sm">{
    "link": "https://link.com/img.jpg"
}
</pre>
    </div>
</div>

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/categories/{id}/menu-icon-picture/delete</span>
        <span class="description">Удалить иконку для меню</span>
    </div>
</div>