@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel

<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/customers</span>
        <span class="description">Список покупателей</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.CustomerListUrl
        </div>

        <p>Получение списка клиентов, удовлетворяющих заданному фильтру. Результат возвращается постранично.</p>

        <h3>Фильтр. Все поля не обязательны.</h3>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">page</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Текущая страница в постараничном выводе</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">itemsPerPage</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Колличество элементов на страницу. По умолчанию 100. Макс. 100.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">sorting</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Название поля для сортировки. Должно совпадать с полем объекта.</div>
            </div>
            <div class="row m-b">
                <div class="col-xs-2">sortingType</div>
                <div class="col-xs-1">enum</div>
                <div class="col-xs">Сортировка: none - нет, asc - по возрастанию, desc - по убыванию</div>
            </div>

            <div class="row m-b">
                <div class="col-xs-2">extended</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Позволяет выводить дополнительные поля у объекта Customer (contact, fields)</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">name</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Имя, фамилия или отчество</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">email</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Почта</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">phone</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Телефон</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">city</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Город</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">groupId</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Идентификатор группы покупателей</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">managerId</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Идентификатор менеджера</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">lastOrderNumber</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Номер последнего заказа</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">ordersCountFrom</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Колличество оплаченных заказов От</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">ordersCountTo</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Колличество оплаченных заказов До</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">ordersSumFrom</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Сумма оплаченных заказов От</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">ordersSumTo</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Сумма оплаченных заказов До</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">registrationDateTimeFrom</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Дата регистрации От. Пример: "2021-01-01T12:01"</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">registrationDateTimeTo</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Дата регистрации До. Пример: "2021-01-01T12:01"</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">lastOrderDateTimeFrom</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Дата последнего заказа От. Пример: "2021-01-01T12:01"</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">lastOrderDateTimeTo</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Дата последнего заказа До. Пример: "2021-01-01T12:01"</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">averageCheckFrom</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Средний чек по заказам От</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">averageCheckTo</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Средний чек по заказам До</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">socialType</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Тип в соц. сети. Возможные занчения: vk, fb, instagram, telegram, all. all - любая из перечисленных соц. сетей.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">subscription</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Подписка на новости</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">hasBonusCard</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Есть бонусная карта</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">customerFields</div>
                <div class="col-xs-1">Dictionary</div>
                <div class="col-xs">
                    Список полей покупателя. Dictionary&lt;string, CustomerFiled&gt; Примеры:<br>
                    <pre>{
    "CustomerFields" : {
        "1": { "value": "123" },
        "2": { "dateFrom": "2021-10-11", "dateTo": "2021-11-11" },
    }
}</pre>
                    1, 2 - id поля покупателя
                </div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">tags</div>
                <div class="col-xs-1">List &lt;int&gt;</div>
                <div class="col-xs">Тэги покупателя</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">customerSegment</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Идентификатор сегмента покупателей</div>
            </div>
        </div>

        <div class="m-t m-b-xs">
            <h3>CustomerFiled. Все поля не обязательны.</h3>
        </div>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">Value</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Значение (содержится). Например, занчение "шла" будет соержатся в "шла саша"</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">ValueExact</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Значение строго совпадающее</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">DateFrom</div>
                <div class="col-xs-1">datetime</div>
                <div class="col-xs">Дата от</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">DateTo</div>
                <div class="col-xs-1">datetime</div>
                <div class="col-xs">Дата до</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">From</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Числовое значение от</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">To</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Числовое значение до</div>
            </div>
        </div>

        <h3 class="m-t">Пример ответа</h3>
        <pre class="m-t-sm">{
    "pagination": {
        "count": 3,
        "currentPage": 1,
        "totalCount": 3,
        "totalPageCount": 1
    },
    "customers": [
        {
            "id": "8ec48a6c-06ec-4704-bf76-8ee6c893108a",
            "email": "test@email.com",
            "phone": 79123456789,
            "firstName": "Ivan",
            "lastName": "Ivanov",
            "patronymic": "Ivanovich",
            "organization": "OOO Umbrella",
            "subscribedForNews": false,
            "birthday": null,
            "adminComment": null,
            "managerId": null,
            "groupId": 1
        }
    ]
}</pre>

        <div class="m-t m-b-xs">
            <h3>Ответ</h3>
        </div>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">pagination</div>
                <div class="col-xs">Постаричный вывод ответа</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">customers</div>
                <div class="col-xs">
                    Список покупателей. Пример объекта, см. Получить покупателя<br />
                    Может содержать дополнительные поля в ответе (contact, fields), если в запросе передается параметр extended=true <br />
                </div>
            </div>
        </div>

        <div class="m-t m-b-xs">
            <h3>Информация о постраничном выводе включает:</h3>
        </div>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">count</div>
                <div class="col-xs">Количество элементов в текущем ответе</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">currentPage</div>
                <div class="col-xs">Текущая страница</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">totalCount</div>
                <div class="col-xs">Общее количество элементов</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">totalPageCount</div>
                <div class="col-xs">Общее количество страниц с ответом</div>
            </div>
        </div>
    </div>
</div>

<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/customers/{id}</span>
        <span class="description">@T("Admin.SettingsApi.Index.GetCustomer")</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.CustomerGetUrl
        </div>

        <pre class="m-t-sm">{
    "id": "b337541c-7c41-4bd1-a3d6-360cf655601b", // Id покупателя
    "email": "myemail@email.com",                 // Email обяз. и уникален
    "phone": 79171234567,                         // Телефон не обяз., если указан, то должен быть уникален (Тип long)
    "firstName": "Ivan",
    "lastName": "Ivanov",
    "patronymic": "Ivanovich",
    "organization": "OOO Umbrella",
    "subscribedForNews": false,
    "birthday":  "2022-01-01T00:00:00", // не обяз.
    "adminComment": "Our best client!", // не обяз.
    "managerId": null,                  // Id менеджера покупателя (не обяз.)
    "groupId": 1,                       // Id группы покупателя (не обяз.)
    "contact": {
        "contactId": "e56ae1a2-b5f5-49e4-a2be-bb219a44ea54",
        "name": "Ivan Ivanov",
        "country": "Россия",
        "city": "Москва",
        "district": "",
        "region": "Москва",
        "zip": "432000",
        "street": "Ленина",
        "house": "1",
        "apartment": "2",
        "structure": "",
        "entrance": "",
        "floor": ""
    },
    "fields": [  // Поля покупателя (не обяз.)
        {
            "id": 1,
            "name": "Text field",
            "value": "some text"
        },
        {
            "id": 2,
            "name": "Select field",
            "value": "some value"
        },
        {
            "id": 3,
            "name": "Data field",
            "value": "2021-10-01"
        }
    ]
}
</pre>
        <div class="m-t-sm">
            <h3>Пример ответа с ошибкой</h3>
            <pre class="m-t-sm">{
    "status": "error",
    "errors": "Пользователь не найден"
}
</pre>
        </div>

    </div>
</div>

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/customers/add</span>
        <span class="description">@T("Admin.SettingsApi.Index.AddCustomer")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.CustomerAddUrl
        </div>

        <h3>POST api/customers/add</h3>
        <pre class="m-t-sm">{
    "email": "myemail@email.com",
    "phone": 79171234567,
    "firstName": "Ivan",
    "lastName": "Ivanov",
    "patronymic": "Ivanovich",
    "organization": "OOO Umbrella",
    "subscribedForNews": false,
    "birthday":  "2022-01-01T00:00:00",
    "adminComment": "Our best client!",
    "managerId": null,
    "groupId": 1,
    "contact": {
        "country": "Россия",
        "city": "Москва",
        "district": "",
        "region": "Москва",
        "zip": "432000",
        "street": "Ленина",
        "house": "1",
        "apartment": "2",
        "structure": "",
        "entrance": "",
        "floor": ""
    },
    "fields": [
        {
            "id": 1,
            "name": "Text field",
            "value": "some text"
        },
        {
            "id": 2,
            "name": "Select field",
            "value": "some value"
        },
        {
            "id": 3,
            "name": "Data field",
            "value": "2021-10-01"
        }
    ]
}
</pre>

        <h3 class="m-t-sm">Пример ответа</h3>
        <pre class="m-t-sm">{
    "id": "b337541c-7c41-4bd1-a3d6-360cf655601b",  // id созданного покупателя
    "status": "ok"                                 // статус
}
</pre>
        <div class="m-t-sm">
            <h3>Пример ответа с ошибкой</h3>
            <pre class="m-t-sm">{
    "status": "error",
    "errors": "Пользователь с таким телефоном уже существует"
}
</pre>
        </div>

    </div>
</div>

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/customers/{id}</span>
        <span class="description">@T("Admin.SettingsApi.Index.UpdateCustomer")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.CustomerUpdateUrl
        </div>

        <h3>POST api/customers/{id}</h3>
        <pre class="m-t-sm">{
    "id": "b337541c-7c41-4bd1-a3d6-360cf655601b",
    "email": "myemail@email.com",
    "phone": 79171234567,
    "firstName": "Ivan",
    "lastName": "Ivanov",
    "patronymic": "Ivanovich",
    "organization": "OOO Umbrella",
    "subscribedForNews": false,
    "birthday":  "2022-01-01T00:00:00",
    "adminComment": "Our best client!",
    "managerId": null,
    "groupId": 1,
    "contact": {
        "contactId": "e56ae1a2-b5f5-49e4-a2be-bb219a44ea54",
        "name": "Ivan Ivanov",
        "country": "Россия",
        "city": "Москва",
        "district": "",
        "region": "Москва",
        "zip": "432000",
        "street": "Ленина",
        "house": "1",
        "apartment": "2",
        "structure": "",
        "entrance": "",
        "floor": ""
    },
    "fields": [ // Поля покупателя (не обяз.)
        {
            "id": 1,
            "name": "Text field",
            "value": "some text"
        },
        {
            "id": 2,
            "name": "Select field",
            "value": "some value"
        },
        {
            "id": 3,
            "name": "Data field",
            "value": "2021-10-01"
        }
    ]
}
</pre>

        <h3 class="m-t-sm">Пример ответа</h3>
        <pre class="m-t-sm">{
    "id": "b337541c-7c41-4bd1-a3d6-360cf655601b",  // id покупателя
    "status": "ok"                                 // статус
}
</pre>
        <div class="m-t-sm">
            <h3>Пример ответа с ошибкой</h3>
            <pre class="m-t-sm">{
    "status": "error",
    "errors": "Пользователь с таким телефоном уже существует"
}
</pre>
        </div>

    </div>
</div>


<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/customers/smsphoneconfirmation</span>
        <span class="description">@T("Admin.SettingsApi.Index.CustomerConfirm")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.CustomerSmsPhoneConfirmationUrl
        </div>

        Посылает смс-код по номеру телефона для подтверждения
        <div class="m-t-sm">
            <h3>POST api/customers/smsphoneconfirmation</h3>
        </div>
        <pre class="m-t-sm">{"phone": "79171234567"}</pre>

        <h3 class="m-t-sm">Пример ответа</h3>
        <pre class="m-t-sm">{
    "code": "1234",  // sms-код
    "status": "ok"   // статус
}
</pre>
        <div class="m-t-sm">
            <h3>Пример ответа с ошибкой</h3>
            <pre class="m-t-sm">{
    "status": "error",
    "errors": "Не подключен модуль sms"
}
</pre>
        </div>

    </div>
</div>

<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/customers/{id}/bonuses</span>
        <span class="description">Бонусная карта покупателя</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.CustomerBonusesUrl
        </div>

        <h3 class="m-t-sm">Пример ответа</h3>
        <pre class="m-t-sm">{
    "cardId": 961640,        // номер бонусной карты   (long)
    "amount": 200,           // кол-во бонусов         (decimal)
    "percent": 3,            // процент карты          (decimal)
    "gradeName": "Гостевой", // название грейда        (string)
    "gradeId": 1,            // id грейда              (int)            
    "isBlocked": false       // заблокирована ли карта (bool)
}
</pre>
        <div class="m-t-sm">
            <h3>Пример ответа с ошибкой</h3>
            <pre class="m-t-sm">{
    "status": "error",
    "errors": "У покупателя нет бонусной карты"
}
</pre>
        </div>

    </div>
</div>