@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/order/add</span>
        <span class="description">@T("Admin.SettingsApi.Index.CreateOrder")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.OrderAddUrl
        </div>

        <p>Метод запроса - POST</p>
        @T("Admin.SettingsApi.Index.JsonExample")
        <pre class="m-t-sm">{
    "OrderCustomer": {
        "CustomerId": "b4807dc9-a832-4284-b5c7-de203d8e81aa",
        "FirstName": "Иван",
        "LastName": "Иванов",
        "Patronymic": "Иванович",
        "Organization": "ООО Организация",
        "Email": "ivan@gmail.com",
        "Phone": "790000000",
        "Country": "Россия",
        "Region": "Москва",
        "City": "Москва",
        "Zip": "101000",
        "CustomField1": "Значение настраиваемого поля 1",
        "CustomField2": "Значение настраиваемого поля 2",
        "CustomField3": "Значение настраиваемого поля 3",
        "Street": "Тверская",
        "House": "1",
        "Apartment": "1",
        "Structure": "",
        "Entrance": ""
    },
    "OrderPrefix": "prefix-",
    "OrderSource": "CRM system",
    "Currency": "RUB",
    "CustomerComment": "Комментарий пользователя",
    "AdminComment": "Комментарий администратора",
    "ShippingName": "Название доставки",
    "PaymentName": "Название оплаты",
    "ShippingCost": 100,
    "PaymentCost": 0,
    "BonusCost": 0,
    "OrderDiscount": 0,
    "OrderDiscountValue": 100,
    "ShippingTaxName": "Название налога для доставки 20%",
    "TrackNumber": "123456",
    "TotalWeight": 1,
    "TotalLength": 100,
    "TotalWidth": 100,
    "TotalHeight": 100,
    "OrderStatusName": "Статус заказа",
    "ManagerEmail": "manager@gmail.com",
    "IsPaied": true,
    "CheckOrderItemExist": true,
    "CheckOrderItemAvailable": true,
    "OrderItems": [{
        "ArtNo": "Артикул 1",
        "Name": "Название товара 1",
        "Price": 100,
        "Amount": 1
    },{
        "ArtNo": "Артикул 2",
        "Name": "Название товара 2",
        "Price": 200,
        "Amount": 1
    }]
}
</pre>
        <div class="m-t-md">
            <div class="setting-title m-t-none">
                <h3>Поля Order</h3>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">OrderCustomer</div>
                <div class="col-xs-1">обяз</div>
                <div class="col-xs">Объект типа OrderCustomer</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">OrderSource</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Название источника заказа</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">Currency</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Код валюты. Должен совпадать с кодом валюты в магазине.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">CustomerComment</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Комментарий пользователя</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">AdminComment</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Комментарий администратора</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">ShippingName</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Название метода доставки</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">PaymentName</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Название метода оплаты</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">ShippingCost</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Стоимость доставки</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">PaymentCost</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Стоимость оплаты. Наценка или скида при оплате</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">BonusCost</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Кол-во использованных бонусов</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">OrderDiscount</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Скидка заказа. Процент</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">OrderDiscountValue</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Скидка заказа. Значение</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">ShippingTaxName</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Налог на доставку. Название должно совпадать с названием налога в магазине.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">TrackNumber</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Номер отслеживания</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">TotalWeight</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Вес заказа</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">TotalLength</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Габариты заказа: длина</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">TotalWidth</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Габариты заказа: ширина</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">TotalHeight</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Габариты заказа: высота</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">OrderStatusName</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Статус заказа. Название должно совпадать с названием статуса в магазине.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">ManagerEmail</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Email менеджера, на которого будет назначен заказ</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">IsPaied</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Оплачен заказ или нет. По умолчанию заказа не оплачен.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">CheckOrderItemExist</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">
                    Проверять существуют ли товары в магазине.
                    Если стоит true и пришел товар, с артикулом которого нет в магазине, то по вернется ошибка и заказ не будет создан.
                    По умолчанию true.
                </div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">CheckOrderItemAvailable</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">
                    Проверять в наличии ли товары в магазине.
                    Если стоит true и пришел товар, с артикулом товара, который не в наличии, то по вернется ошибка и заказ не будет создан.
                    По умолчанию true.
                </div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">OrderItems</div>
                <div class="col-xs-1">обяз</div>
                <div class="col-xs">Массив объектов OrderItem</div>
            </div>
        </div>

        <div class="m-t-md">
            <div class="setting-title m-t-none">
                <h3>Поля OrderCustomer</h3>
            </div>
            <div class="m-t m-b">
                <b>У OrderCustomer должно быть указано хотя бы одно из полей FirstName, Email, Phone или Organization.</b> Все остальные поля не обязательны для заполнения.
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">CustomerId</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Идентификатор покупателя</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">FirstName</div>
                <div class="col-xs-1"></div>
                <div class="col-xs">Имя покупателя</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">LastName</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Фамилия покупателя</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">Patronymic</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Отчество покупателя</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">Organization</div>
                <div class="col-xs-1"></div>
                <div class="col-xs">Название организации</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">Email</div>
                <div class="col-xs-1"></div>
                <div class="col-xs">Email</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">Phone</div>
                <div class="col-xs-1"></div>
                <div class="col-xs">Телефон покупателя</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">Country</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Страна</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">Region</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Регион</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">District</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Район региона</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">City</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Город</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">Zip</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Индекс</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">Street</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Улица</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">House</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Дом</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">Structure</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Стр./корп.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">Apartment</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Квартира</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">Entrance</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Подъезд</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">Floor</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Этаж</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">CustomField1</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Настраиваемое поле 1</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">CustomField2</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Настраиваемое поле 2</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">CustomField3</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Настраиваемое поле 3</div>
            </div>
        </div>

        <div class="m-t-md">
            <div class="setting-title m-t-none">
                <h3>Поля OrderItem</h3>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">ArtNo</div>
                <div class="col-xs-1">обяз</div>
                <div class="col-xs">Артикул товара. Если CheckOrderItemAvailable стоит true, то товар должен присутствовать в магазине.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">Name</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Название товара. Если товар найден по артикулу в магазине, то возьмется название из товара.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">Price</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Цена товара. Если не указана, то применится цена товара.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">Amount</div>
                <div class="col-xs-1">не обяз</div>
                <div class="col-xs">Колличество товара. Если не указана, то применится из товара.</div>
            </div>
        </div>

        <div class="m-t-md">
            <div class="setting-title m-t-none">
                <h3>Пример ответа</h3>
            </div>
            <pre>{
  "result": true,
  "obj": {              // <a href="" ng-click="settings.showGetOrderExample = true; settings.scrollIntoView('orderModel')">Описание объекта заказа</a>
    "Id": 1,
    "Number": "1",
    ...
  }
}
</pre>
        </div>
        <div class="m-t-md">
            <div class="setting-title m-t-none">
                <h3>Пример ответа с ошибкой</h3>
            </div>
            <pre>{
    "result": false,
    "errors": [
      "Заполните обязательное поле (имя, email, телефон или организацию)"
    ]
}
</pre>
        </div>

    </div>
</div>

<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/order/get/{id}</span>
        <span class="description">@T("Admin.SettingsApi.Index.GetOrder")</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.OrderGetUrl
        </div>

        <p>Вместо {id} подставляется идентификатор заказа</p>
        <div class="m-t-md">
            <div class="setting-title m-t-none">
                <a id="orderModel"></a><h3>Пример ответа</h3>
            </div>
            <pre>{
  "result": true,
  "obj": {                                  // Объект заказа
    "Id": 1,                                    // Идентификатора заказа
    "Number": "1",                              // Номер заказа
    "Currency": "RUB",                          // Код валюты
    "Sum": 990.0,                               // Сумма заказа
    "Date": "2017-04-10T09:45:17.7",            // Дата заказа в <a href="http://en.wikipedia.org/wiki/ISO_8601" target="_blank">формате ISO 8601</a>
    "CustomerComment": "",                      // Комментарий пользователя
    "AdminComment": "Тестовый заказ",           // Комментарий администратора
    "PaymentName": "Оплата наличными",          // Название метода оплаты
    "PaymentCost": 0.0,                         // Стоимость оплаты. Наценка или скида при оплате
    "ShippingName": "Самовывоз",                // Название метода доставки
    "ShippingCost": 0.0,                        // Стоимость доставки
    "ShippingTaxName": "НДС по ставке 20%",     // НДС доставки
    "TrackNumber": "",                          // Номер отслеживания заказа
    "DeliveryDate": "2020-12-08T00:00:00",      // Дата доставки в <a href="http://en.wikipedia.org/wiki/ISO_8601" target="_blank">формате ISO 8601</a>
    "DeliveryTime": "с 8 до 10 утра",           // Время доставки
    "OrderDiscount": 0.0,                       // Скидка заказа. Процент (<i>Либо процент, либо сумма</i>)
    "OrderDiscountValue": 0.0,                  // Скидка заказа. Сумма (<i>Либо процент, либо сумма</i>)
    "BonusCardNumber": 777271,                  // Номер бонусной карты (<i>long</i>)
    "BonusCost": 0.0,                           // Кол-во использованных бонусов
    "LpId": null,                               // Идентификатора воронки продаж
    "IsPaid": true,                             // Оплачен заказ или нет
    "Customer": {                               // Данные покупателя
      "CustomerId": "f1688306-fa99-4193-a102-a0e6d9977ef2", // Идентификатор покупателя
      "FirstName": "Александр",                 // Имя покупателя
      "LastName": "Сидоров (тест)",             // Фамилия покупателя
      "Patronymic": "Иванович",                 // Отчество покупателя
      "Organization": null,                     // Название организации
      "Email": "alex-test@sidorov.ru",          // Email
      "Phone": "+7900123456",                   // Телефон покупателя
      "Country": "Россия",                      // Страна
      "Region": "Самарская область",            // Регион
      "District": null,                         // Район региона
      "City": "Самара",                         // Город
      "Zip": "112233",                          // Индекс
      "CustomField1": "",                       // Настраиваемое поле 1
      "CustomField2": "",                       // Настраиваемое поле 2
      "CustomField3": "",                       // Настраиваемое поле 3
      "Street": "Ленина",                       // Улица
      "House": "1",                             // Дом
      "Structure": "3",                         // Стр./корп.
      "Apartment": "2",                         // Квартира
      "Entrance": "4",                          // Подъезд
      "Floor": "5"                              // Этаж
    },
    "Status": {                                 // Данные статуса заказа (<i><a href="" ng-click="settings.showGetListOrderStatusExample = true; settings.scrollIntoView('statusModel')">Описание объекта статуса заказа</a></i>)
      "Id": 5,                                  @*// Идентификатор*@
      "Name": "Доставлен",                      @*// Название*@
      "IsCanceled": false,                      @*// Заказ отменен*@
      "IsCompleted": true,                      @*// Заказ завершен*@
      "Hidden": false                           @*// Скрыт для клиента*@
    },
    "Source": {                                 // Данные источника заказа
      "Id": 1,                                  // Идентификатор
      "Name": "Корзина интернет магазина",      // Название
      "Main": true,                             // Основной в группе
      "Type": "ShoppingCart"                    // Группа (тип)
    },
    "Items": [                                  // Позиции заказа
      {
        "ArtNo": "1649",                        // Артикул
        "Name": "Ваш товар",                    // Название 
        "Color": null,                          // Цвет
        "Size": null,                           // Размер
        "Price": 990.0,                         // Цена
        "Amount": 1.0                           // Кол-во
      }
    ]
  }
}
</pre>
        </div>
        <div class="m-t-md">
            <div class="setting-title m-t-none">
                <h3>Пример ответа с ошибкой</h3>
            </div>
            <pre>{
  "result": false,
  "errors": [ "Заказ не найден" ]
}
</pre>
        </div>

    </div>
</div>

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/order/getlist</span>
        <span class="description">@T("Admin.SettingsApi.Index.GetOrders")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.OrderGetListUrl
        </div>

        <p>Пример json-запроса:</p>
        <pre>{
    "Page": 1,                          // Запрашиваемая страница (<i>Необяз. Если меньше 1, примет значение 1</i>)
    "ItemsPerPage": 2                   // Кол-во заказов на страницу (<i>Необяз. Поумолчанию 100/максимум 100.</i>
                                        // <i>При LoadItems = true поумолчанию 50/максимум 50.</i>
                                        // <i>Если значение больше максимального, то принимает значение поумолчанию</i>)
    "LoadItems": false,                 // Загружать позиции заказа (<i>Необяз. Поумолчанию false</i>)

                                // Фильтры
    "CustomerId": "f1688306-fa99-4193-a102-a0e6d9977ef2", // Идентификатор покупателя (<i>Необяз.</i>)
    "StatusId": 1,                      // Идентификатор статуса заказа (<i>Необяз.</i>)
    "IsPaid": true,                     // Оплачен заказ или нет (<i>Необяз.</i>)
    "SumFrom": 50.0,                    // Начиная с суммы заказа (<i>Необяз.</i>)
    "SumTo": 990.0,                     // Заканчивая суммой заказа (<i>Необяз.</i>)
    "DateFrom": "2020-12-08T00:00:00",  // Начиная с даты заказа в <a href="http://en.wikipedia.org/wiki/ISO_8601" target="_blank">формате ISO 8601</a> (<i>Необяз.</i>)
    "DateTo": "2020-12-09T00:00:00"     // Заканчивая датой заказа в <a href="http://en.wikipedia.org/wiki/ISO_8601" target="_blank">формате ISO 8601</a> (<i>Необяз.</i>)
}
</pre>
        <div class="m-t-md">
            <div class="setting-title m-t-none">
                <h3>Пример ответа</h3>
            </div>
            <pre>{
  "result": true,
  "obj": {
    "DataItems": [
      { // <a href="" ng-click="settings.showGetOrderExample = true; settings.scrollIntoView('orderModel')">Описание объекта заказа</a>
        "Id": 1,
        "Number": "2020-1",
        ...
      },
      {
        "Id": 4,
        "Number": "4",
        ...
      }
    ],
    "TotalPageCount": 17,       // Кол-во страниц
    "TotalItemsCount": 34,      // Общее кол-во заказов по запросу
    "PageIndex": 1,             // Текущая страница
    "ItemsPerPage": 2           // Кол-во заказов на страницу
  }
}
</pre>
        </div>
        <div class="m-t-md">
            <div class="setting-title m-t-none">
                <h3>Пример ответа с ошибкой</h3>
            </div>
            <pre>{
  "result": false,
  "errors": [
    "Неудалось преобразовать дату параметра DateFrom"
  ]
}
</pre>
        </div>

    </div>
</div>

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/order/changestatus</span>
        <span class="description">@T("Admin.SettingsApi.Index.OrderChangeStatus")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.OrderChangeStatusUrl
        </div>

        <p>Пример json-запроса:</p>
        <pre>{
  "OrderId": 4,       // Идентификатора заказа (<i>Обяз.</i>)
  "StatusId": 1       // Идентификатора статуса заказа (<i>Обяз.</i>)
}
</pre>
        <div class="m-t-md">
            <div class="setting-title m-t-none">
                <h3>Пример ответа</h3>
            </div>
            <pre>{
  "result": true
}
</pre>
        </div>
        <div class="m-t-md">
            <div class="setting-title m-t-none">
                <h3>Пример ответа с ошибкой</h3>
            </div>
            <pre>{
  "result": false,
  "errors": [ "Статус не найден" ]
}
</pre>
        </div>

    </div>
</div>

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/order/setpaid</span>
        <span class="description">@T("Admin.SettingsApi.Index.OrderSetPaid")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.OrderSetPaidUrl
        </div>

        <p>Пример json-запроса:</p>
        <pre>{
  "OrderId": 4       // Идентификатора заказа (<i>Обяз.</i>)
}
</pre>
        <div class="m-t-md">
            <div class="setting-title m-t-none">
                <h3>Пример ответа</h3>
            </div>
            <pre>{
  "result": true
}
</pre>
        </div>
        <div class="m-t-md">
            <div class="setting-title m-t-none">
                <h3>Пример ответа с ошибкой</h3>
            </div>
            <pre>{
  "result": false,
  "errors": [ "Заказ не найден" ]
}
</pre>
        </div>

    </div>
</div>

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/orderstatus/getlist</span>
        <span class="description">@T("Admin.SettingsApi.Index.OrderStatusGetList")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.OrderStatusGetListUrl
        </div>

        <p>Пример json-запроса:</p>
        <pre>{
    "Page": 1,                          // Запрашиваемая страница (<i>Необяз. Если меньше 1, примет значение 1</i>)
    "ItemsPerPage": 2                   // Кол-во статусов на страницу (<i>Необяз. Поумолчанию 100/максимум 100.</i>)

                                // Фильтры
    "IsCanceled": true,                 // Статусы отменяющие заказ (<i>Необяз.</i>)
    "IsCompleted": true,                // Статусы завершающие заказ (<i>Необяз.</i>)
    "Hidden": true                      // Статусы скрытые для клиента (<i>Необяз.</i>)
}
</pre>
        <div class="m-t-md">
            <div class="setting-title m-t-none">
                <a id="statusModel"></a><h3>Пример ответа</h3>
            </div>
            <pre>{
  "result": true,
  "obj": {
    "DataItems": [
      {                     // Объект статуса
        "Id": 5,                // Идентификатор статуса
        "Name": "Доставлен",    // Название
        "IsCanceled": false,    // Заказ отменен
        "IsCompleted": true,    // Заказ завершен
        "Hidden": false         // Скрыт для клиента
      },
      {
        "Id": 4,
        "Name": "Новый",
        ...
      }
    ],
    "TotalPageCount": 17,       // Кол-во страниц
    "TotalItemsCount": 34,      // Общее кол-во статусов по запросу
    "PageIndex": 1,             // Текущая страница
    "ItemsPerPage": 2           // Кол-во статусов на страницу
  }
}
</pre>
        </div>
        <div class="m-t-md">
            <div class="setting-title m-t-none">
                <h3>Пример ответа с ошибкой</h3>
            </div>
            <pre>{
  "result": false,
  "errors": [
    "Неудалось преобразовать дату параметра DateFrom"
  ]
}
</pre>
        </div>

    </div>
</div>