@using AdvantShop.Core.Services.Admin

@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel
@{
    Layout = "~/Areas/Admin/Views/Settings/_SettingsLayout.cshtml";
    var isAdminv3 = AdminAreaTemplate.Current == "adminv3";
}

@using (Html.BeginForm("Index", "SettingsApi", FormMethod.Post, new { name = "form", enctype = "multipart/form-data", novalidate = "novalidate" }))
{
    @Html.AntiForgeryToken()

    <div class="sticky-page-name p-n m-n" sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner header-hidden">
            <div class="page-name-block-item-main">
                <h1 class="page-name-block-text sticky-page-name-text">
                    <span class="float-header-page" ng-bind="settings.floatHeader"></span>
                </h1>
            </div>
            <div class="page-name-block-item-additional">
                @*<input type="submit" class="btn btn-sm btn-success" value="Сохранить" data-button-validation disabled ng-disabled="!form.modified" />
                    @Html.Button(T("Admin.Save"), eButtonType.Save, eButtonSize.Small, eColorType.Success, attributes: new[] { "ng-disabled=\"!form.modified\"", "disabled" })*@
            </div>
        </div>
    </div>

    if (isAdminv3)
    {
        @Html.Back("Настройки", Url.Action("Index", "Settings"))
        <div class="sticky-page-name">
            <div class="row middle-xs">
                <div class="col-xs-6">
                    <h1 class="page-name-block-text"> @T("Admin.Settings.Commonpage.SettingsAPI")</h1>
                </div>
                <div class="col-xs-6">
                    <div class="text-right">
                        <input type="submit" class="btn btn-sm btn-success btn--margin-left" value="@T("Admin.SettignsApi.Index.Save")" data-button-validation disabled ng-disabled="!form.modified" />
                    </div>
                </div>
            </div>
        </div>
    }

    <uib-tabset uid="apiTab" on-select-batch="settings.floatHeader = tab.heading;">
        <uib-tab index="'api'" classes="ng-tab" heading="@T("Admin.Settings.API")"  removable="false">
            @Html.Partial("_ApiSettings", Model)
        </uib-tab>
        @if (Model.IsRus && Model.ShowOneC)
        {
        <uib-tab index="'1c'" classes="ng-tab" heading="1C">
            @Html.Partial("_1CSettings", Model)
        </uib-tab>
        }
        <uib-tab index="'webhooks'" classes="ng-tab" heading="@T("Admin.Settings.Webhooks")" removable="true">
            <div bs-modifiable="false">
                @Html.Partial("_WebhooksSettings")
            </div>
        </uib-tab>
        @if (!isAdminv3)
        {
            <div class="js-not-tabs">
                <input type="submit" class="btn btn-sm btn-success btn--margin-left" value="@T("Admin.SettignsApi.Index.Save")" data-button-validation disabled ng-disabled="!form.modified" />
            </div>
        }
    </uib-tabset>
}
