@using AdvantShop.Configuration;
@{
    var lpStaticPath = LpFiles.LpStaticPath;
    var adminStaticPath = "~/areas/admin/content/";
    var outputFolder = "~/pictures/landing/" + LpService.CurrentSiteId + "/";
}
@{
    #region clientcss

    Html.AddBundles(new List<string>()
{

"~/vendors/sweetalert/css/sweetalert2.css",
"~/vendors/sweet-alert/ext/styles/sweet-alert2.ext.css",
"~/vendors/rangeSlider/styles/angular.rangeSlider.css",
"~/vendors/toaster/toaster.css",
"~/vendors/flatpickr/flatpickr.min.css",
"~/vendors/flatpickr/flatpickr.custom.css",


lpStaticPath + "frontend/styles/common/validation.css",
lpStaticPath + "frontend/_common/modal/styles/modal.css",
lpStaticPath + "frontend/_common/modal/styles/modal-theme.css",
lpStaticPath + "frontend/_common/popover/styles/popover.css",
lpStaticPath + "frontend/_common/zoomer/styles/zoomer.css",
lpStaticPath + "frontend/_common/readmore/styles/readmore.css",

lpStaticPath + "frontend/_partials/buy-one-click/styles/buyOneClick.css",
lpStaticPath + "frontend/_partials/quickview/styles/quickview.css",

lpStaticPath + "frontend/vendors/fontello/css/animation.css",
lpStaticPath + "frontend/vendors/baguetteBox/baguetteBox.css",
lpStaticPath + "frontend/vendors/ladda/ladda-themeless.min.css",
lpStaticPath + "frontend/_common/modalVideo/modalVideo.css",
lpStaticPath + "frontend/_common/lp-modal.css",
lpStaticPath + "frontend/_common/scroll-to-top/scroll-to-top.css",
lpStaticPath + "frontend/_common/lp.css",
lpStaticPath + "frontend/_common/atomic.css",
lpStaticPath + "frontend/_common/catalog-filter/styles/catalogFilter.css",
lpStaticPath + "frontend/_common/font-size-adaptive.css",
lpStaticPath + "frontend/_common/photo-view-list/photo-view-list.css",
lpStaticPath + "frontend/_common/spinner.css",
lpStaticPath + "frontend/_partials/product-view/styles/product-view.css",

}, "lp_styles.css");

    #endregion

    #region admincss

    Html.AddBundles(new List<string>()
{
"~/fonts/fonts.admin.css",

"~/areas/admin/content/vendors/jstree/themes/default/style.css",
"~/areas/admin/content/vendors/jsTree.directive/themes/advantshop/style.css",
//"~/areas/admin/content/styles/style.css",
"~/areas/admin/content/vendors/ui-grid/css/ui-grid.min.css",
"~/areas/admin/content/src/_shared/input/styles/input.css",
"~/areas/admin/content/src/_shared/ui-grid-custom/styles/ui-grid.custom.css",
"~/areas/admin/content/src/_shared/ui-grid-custom/styles/ui-grid.custom.pagination.css",
"~/areas/admin/content/src/_shared/ui-grid-custom/styles/ui-grid.custom.selection.css",
"~/areas/admin/content/src/_shared/ui-grid-custom/styles/ui-grid.custom.edit.css",
"~/areas/admin/content/src/_shared/ui-grid-custom/styles/ui-grid.custom.filter.css",
"~/areas/admin/content/vendors/cropper/cropper.min.css",

"~/areas/admin/content/src/_shared/ui-ace-textarea/styles/ui-ace-textarea.css",
"~/areas/admin/content/vendors/ng-ckeditor/ng-ckeditor.css",
"~/areas/admin/content/src/_partials/help-trigger/styles/help-trigger.css",

lpStaticPath + "frontend/vendors/bootstrap/bootstrap.css",
lpStaticPath + "frontend/vendors/angularjs-color-picker/angularjs-color-picker.css",
lpStaticPath + "frontend/vendors/ng-sortable/ng-sortable.css",

lpStaticPath + "frontend/_common/lp-settings/styles/lp-settings.css",
lpStaticPath + "frontend/_common/inplace-landing/styles/inplaceLanding.css",
lpStaticPath + "frontend/_common/blocks-constructor/styles/blocksConstructor.css",
lpStaticPath + "frontend/_common/background-picker/styles/backgroundPicker.css",
lpStaticPath + "frontend/_common/subblock-inplace/styles/subblockInplace.css",
lpStaticPath + "frontend/_common/picture-loader/styles/picture-loader.css",
lpStaticPath + "frontend/_common/galleryCloud/galleryCloud.css",
lpStaticPath + "frontend/_common/galleryIcons/galleryIcons.css",
lpStaticPath + "frontend/_common/lp-grid/lpGrid.css",
lpStaticPath + "frontend/_common/lp-tabs.css",

lpStaticPath + "frontend/blocks/gallery/styles/gallery-admin.css",
lpStaticPath + "frontend/blocks/lp-admin-menu/lp-admin-menu.css",

lpStaticPath + "frontend/_common/edit-mode.css",

lpStaticPath + "frontend/_common/video-file-uploader/style/style.css"

}, "admin_lp_styles.css");

    #endregion

    #region clientjs

    Html.AddBundles(new List<string>()
{
lpStaticPath + "frontend/vendors/promise/promise.min.js",
lpStaticPath + "frontend/vendors/jquery/jquery-3.5.1.min.js",
lpStaticPath + "frontend/vendors/angular/angular.js",
lpStaticPath + "frontend/vendors/angular/i18n/angular-locale_ru-ru.js",
lpStaticPath + "frontend/vendors/angular/angular-sanitize.js",
lpStaticPath + "frontend/vendors/angular/angular-cookies.js",
lpStaticPath + "frontend/vendors/ocLazyLoad/ocLazyLoad.js",
"~/vendors/ocLazyLoad/ocLazyLoad.decorate.js",
lpStaticPath + "frontend/vendors/angular-translate/angular-translate.min.js",
lpStaticPath + "frontend/vendors/ladda/spin.min.js",
lpStaticPath + "frontend/vendors/ladda/ladda.min.js",
lpStaticPath + "frontend/vendors/angular-ladda/angular-ladda.min.js",
lpStaticPath + "frontend/vendors/ouibounce/ouibounce.js",
lpStaticPath + "frontend/vendors/angular-file-upload/ng-file-upload.custom.js",

"~/areas/admin/content/vendors/flatpickr/flatpickr.min.js",
"~/areas/admin/content/vendors/flatpickr/l10n/ru.min.js",
"~/areas/admin/content/vendors/flatpickr/ng-flatpickr.js",

"~/scripts/_common/readmore/readmore.js",
"~/scripts/_common/readmore/controllers/readmoreController.js",
"~/scripts/_common/readmore/directives/readmoreComponent.js",
"~/scripts/_common/readmore/constants/readmoreConstant.js",

"~/scripts/_common/input/input.js",
"~/scripts/_common/input/directives/inputDirectives.js",

lpStaticPath + "frontend/auth/auth.js",
lpStaticPath + "frontend/auth/controllers/authController.js",
lpStaticPath + "frontend/auth/services/authService.js",

lpStaticPath + "frontend/forgotPassword/forgotPassword.js",
lpStaticPath + "frontend/forgotPassword/controllers/forgotPasswordController.js",

lpStaticPath + "frontend/registration/registration.module.js",
lpStaticPath + "frontend/registration/controllers/registrationController.js",

"~/scripts/_partials/submenu/submenu.js",
"~/scripts/_partials/submenu/controllers/submenuParentController.js",
"~/scripts/_partials/submenu/controllers/submenuController.js",
"~/scripts/_partials/submenu/controllers/submenuContainerController.js",
"~/scripts/_partials/submenu/directives/submenuDirectives.js",
"~/scripts/_partials/submenu/services/submenuService.js",

"~/scripts/_partials/cookies-policy/cookiesPolicy.js",
"~/scripts/_partials/cookies-policy/controllers/cookiesPolicyController.js",
"~/scripts/_partials/cookies-policy/directives/cookiesPolicyDirectives.js",

"~/vendors/angular-bind-html-compile/angular-bind-html-compile.js",

"~/vendors/imask/imask.js",
lpStaticPath + "frontend/_common/mask/mask.module.js",
lpStaticPath + "frontend/_common/mask/mask.service.js",
lpStaticPath + "frontend/_common/mask/mask.js",

"~/vendors/sweetalert/sweetalert2.js",
"~/vendors/ng-sweet-alert/ng-sweet-alert.js",
"~/vendors/rangeSlider/angular.rangeSlider.js",

"~/vendors/toaster/toaster.js",

// скрипты с версии магазина
"~/vendors/angular/i18n/angular-locale_" + SettingsMain.Language + ".js",

lpStaticPath + "frontend/vendors/qazy/qazyOpt.directive.js",

"~/userfiles/" + SettingsMain.Language +".js",

lpStaticPath + "frontend/_common/carousel/carouselNative.js",
lpStaticPath + "frontend/_common/carousel/carousel.js",
lpStaticPath + "frontend/_common/carousel/controllers/carouselController.js",
lpStaticPath + "frontend/_common/carousel/directives/carouselDirectives.js",
lpStaticPath + "frontend/_common/carousel/services/carouselService.js",
lpStaticPath + "frontend/_common/scrollToTop/scrollToTop.js",
lpStaticPath + "frontend/_common/scrollToTop/directives/scrollToTopDirectives.js",

"~/scripts/_common/dom/dom.js",
"~/scripts/_common/dom/services/domService.js",

"~/scripts/_common/validation/validation.js",
"~/scripts/_common/validation/directives/validationDirectives.js",

"~/scripts/_common/modal/modal.js",
"~/scripts/_common/modal/controllers/modalController.js",
"~/scripts/_common/modal/directives/modalDirectives.js",
"~/scripts/_common/modal/services/modalService.js",

"~/scripts/_common/urlhelper/urlHelperService.js",

lpStaticPath + "frontend/_common/rating/rating.js",
lpStaticPath + "frontend/_common/rating/controllers/ratingController.js",
lpStaticPath + "frontend/_common/rating/directives/ratingDirectives.js",

"~/scripts/_common/select/select.js",

"~/scripts/_common/spinbox/spinbox.js",
"~/scripts/_common/spinbox/controllers/spinboxController.js",
"~/scripts/_common/spinbox/directives/spinboxDirectives.js",

lpStaticPath + "frontend/_common/tabs/tabs.js",
lpStaticPath + "frontend/_common/tabs/controllers/tabsController.js",
lpStaticPath + "frontend/_common/tabs/controllers/tabHeaderController.js",
lpStaticPath + "frontend/_common/tabs/controllers/tabContentController.js",
lpStaticPath + "frontend/_common/tabs/directives/tabsDirectives.js",
lpStaticPath + "frontend/_common/tabs/services/tabsService.js",

"~/scripts/_common/transformer/transformer.js",
"~/scripts/_common/transformer/controllers/transformerController.js",
"~/scripts/_common/transformer/directives/transformerDirectives.js",
"~/scripts/_common/transformer/services/transformerService.js",

"~/scripts/_common/window/window.js",
"~/scripts/_common/window/controllers/windowController.js",
"~/scripts/_common/window/directives/windowDirectives.js",
"~/scripts/_common/window/services/windowService.js",

"~/scripts/_common/module/module.js",
"~/scripts/_common/module/controllers/moduleController.js",
"~/scripts/_common/module/directives/moduleDirectives.js",
"~/scripts/_common/module/services/moduleService.js",

lpStaticPath + "frontend/_common/popover/popover.js",
lpStaticPath + "frontend/_common/popover/controllers/popoverController.js",
lpStaticPath + "frontend/_common/popover/controllers/popoverControlController.js",
lpStaticPath + "frontend/_common/popover/controllers/popoverOverlayController.js",
lpStaticPath + "frontend/_common/popover/directives/popoverDirectives.js",
lpStaticPath + "frontend/_common/popover/services/popoverService.js",

lpStaticPath + "frontend/_common/zoomer/zoomer.js",
lpStaticPath + "frontend/_common/zoomer/controllers/zoomerController.js",
lpStaticPath + "frontend/_common/zoomer/directives/zoomerDirectives.js",

"~/scripts/_common/harmonica/harmonica.js",
"~/scripts/_common/harmonica/controllers/harmonicaController.js",
"~/scripts/_common/harmonica/controllers/harmonicaTileController.js",
"~/scripts/_common/harmonica/directives/harmonicaDirectives.js",

lpStaticPath + "frontend/_partials/cards/cards.js",
lpStaticPath + "frontend/_partials/cards/controllers/cardsFormController.js",
lpStaticPath + "frontend/_partials/cards/controllers/cardsRemoveController.js",
lpStaticPath + "frontend/_partials/cards/directives/cardsDirectives.js",
lpStaticPath + "frontend/_partials/cards/services/cardsService.js",

lpStaticPath + "frontend/_partials/colors-viewer/colorsViewer.js",
lpStaticPath + "frontend/_partials/colors-viewer/controllers/colorsViewerController.js",
lpStaticPath + "frontend/_partials/colors-viewer/directives/colorsViewerDirectives.js",

lpStaticPath + "frontend/_partials/buy-one-click/buyOneClick.js",
lpStaticPath + "frontend/_partials/buy-one-click/controllers/buyOneClickTriggerController.js",
lpStaticPath + "frontend/_partials/buy-one-click/controllers/buyOneClickFormController.js",
lpStaticPath + "frontend/_partials/buy-one-click/directives/buyOneClickDirectives.js",
lpStaticPath + "frontend/_partials/buy-one-click/services/buyOneClickService.js",

lpStaticPath + "frontend/_partials/quickview/quickview.js",
lpStaticPath + "frontend/_partials/quickview/controllers/quickviewController.js",
lpStaticPath + "frontend/_partials/quickview/directives/quickviewDirectives.js",
lpStaticPath + "frontend/_partials/quickview/services/quickviewService.js",

"~/scripts/_partials/cart/cart.js",
"~/scripts/_partials/cart/controllers/cartMiniController.js",
"~/scripts/_partials/cart/controllers/cartMiniListController.js",
"~/scripts/_partials/cart/controllers/cartFullController.js",
"~/scripts/_partials/cart/controllers/cartAddController.js",
"~/scripts/_partials/cart/controllers/cartPreorderController.js",
"~/scripts/_partials/cart/controllers/cartCountController.js",
"~/scripts/_partials/cart/controllers/cartConfirmController.js",
"~/scripts/_partials/cart/directives/cartDirectives.js",
"~/scripts/_partials/cart/services/cartService.js",

lpStaticPath + "frontend/_partials/product-view/productView.js",
lpStaticPath + "frontend/_partials/product-view/controllers/productViewItemController.js",
lpStaticPath + "frontend/_partials/product-view/controllers/productViewModeController.js",
lpStaticPath + "frontend/_partials/product-view/controllers/productViewChangeModeController.js",
lpStaticPath + "frontend/_partials/product-view/controllers/productViewCarouselPhotosController.js",
lpStaticPath + "frontend/_partials/product-view/directives/productViewDirectives.js",
lpStaticPath + "frontend/_partials/product-view/services/productViewService.js",

lpStaticPath + "frontend/product/product.js",
lpStaticPath + "frontend/product/controllers/productController.js",
lpStaticPath + "frontend/product/services/productService.js",

lpStaticPath + "frontend/_partials/custom-options/customOptions.js",
lpStaticPath + "frontend/_partials/custom-options/controllers/customOptionsController.js",
lpStaticPath + "frontend/_partials/custom-options/directives/customOptionsDirectives.js",
lpStaticPath + "frontend/_partials/custom-options/services/customOptionsService.js",

lpStaticPath + "frontend/_partials/sizes-viewer/sizesViewer.js",
lpStaticPath + "frontend/_partials/sizes-viewer/controllers/sizesViewerController.js",
lpStaticPath + "frontend/_partials/sizes-viewer/directives/sizesViewerDirectives.js",


lpStaticPath + "frontend/_common/mouseoverClassToggler/mouseoverClassToggler.js",
lpStaticPath + "frontend/_common/mouseoverClassToggler/directives/mouseoverClassTogglerDirectives.js",


"~/scripts/_mobile/full-height-mobile/full-height-mobile.component.js",

"~/areas/admin/content/src/_shared/statistics/statistics.js",
"~/areas/admin/content/src/_shared/statistics/statistics.service.js",


"~/areas/admin/content/vendors/cropper/cropper.min.js",
"~/areas/admin/content/vendors/cropper/ngCropper.js",

"~/areas/admin/content/vendors/checklist-model/checklist-model.js",

// скрипты модуля
//lpStaticPath + "frontend/vendors/jsTree.directive/jsTree.directive.custom.js",
lpStaticPath + "frontend/vendors/angularSlick/angular-slick.js",

lpStaticPath + "frontend/vendors/slick/slick.js",
lpStaticPath + "frontend/vendors/slick/slick.patch.js",

lpStaticPath + "frontend/vendors/baguetteBox/baguetteBox.js",

lpStaticPath + "frontend/vendors/parallax/jquery.enllax.js",

"~/areas/admin/content/vendors/ngInfiniteScroll/ng-infinite-scroll.js",

lpStaticPath + "frontend/_common/iframe-responsive/iframeResponsive.js",
lpStaticPath + "frontend/_common/iframe-responsive/iframeResponsive.ctrl.js",
lpStaticPath + "frontend/_common/iframe-responsive/iframeResponsive.component.js",
lpStaticPath + "frontend/_common/iframe-responsive/iframeResponsive.service.js",

lpStaticPath + "frontend/_common/modalVideo/modalVideo.js",
lpStaticPath + "frontend/_common/modalVideo/modalVideo.ctrl.js",
lpStaticPath + "frontend/_common/modalVideo/modalVideo.component.js",
lpStaticPath + "frontend/_common/modalVideo/modalVideo.service.js",

lpStaticPath + "frontend/_common/advBaguetteBox/advBaguetteBox.js",
lpStaticPath + "frontend/_common/advBaguetteBox/advBaguetteBox.ctrl.js",
lpStaticPath + "frontend/_common/advBaguetteBox/advBaguetteBox.directive.js",

lpStaticPath + "frontend/_common/scroll-to-block/scrollToBlock.js",
lpStaticPath + "frontend/_common/scroll-to-block/scrollToBlock.directive.js",
lpStaticPath + "frontend/_common/scroll-to-block/scrollToBlock.service.js",

lpStaticPath + "frontend/_common/hunter/hunter.js",

lpStaticPath + "frontend/_common/lp-form/lp-form.js",
lpStaticPath + "frontend/_common/lp-form/controllers/lpFormController.js",

lpStaticPath + "frontend/_common/lp-menu/lpMenu.js",
lpStaticPath + "frontend/_common/lp-menu/lpMenuState.ctrl.js",
lpStaticPath + "frontend/_common/lp-menu/lpMenuTrigger.ctrl.js",
lpStaticPath + "frontend/_common/lp-menu/lpMenu.service.js",
lpStaticPath + "frontend/_common/lp-menu/lpMenu.component.js",

lpStaticPath + "frontend/_common/modal-ouibounce/modalOuibounce.js",

lpStaticPath + "frontend/blocks/booking/modalBooking.js",
lpStaticPath + "frontend/blocks/booking/modalBooking.ctrl.js",
lpStaticPath + "frontend/blocks/booking/modalBooking.component.js",

lpStaticPath + "frontend/blocks/services/modalBookingServices/modalBookingServices.js",
lpStaticPath + "frontend/blocks/services/modalBookingServices/modalBookingServices.ctrl.js",
lpStaticPath + "frontend/blocks/services/modalBookingServices/modalBookingServices.component.js",

lpStaticPath + "frontend/blocks/countdown/countdown.js",
lpStaticPath + "frontend/blocks/countdown/controllers/countdownController.js",
lpStaticPath + "frontend/blocks/countdown/directives/countdownDirectives.js",

lpStaticPath + "frontend/_common/bookingCart/cart.js",
lpStaticPath + "frontend/_common/bookingCart/controllers/cartCountController.js",
lpStaticPath + "frontend/_common/bookingCart/directives/cartDirectives.js",
lpStaticPath + "frontend/_common/bookingCart/services/cartService.js",

lpStaticPath + "frontend/blocks/lp-cart/lp-cart.js",

lpStaticPath + "frontend/blocks/products-by-category/productsByCategory.js",
lpStaticPath + "frontend/blocks/products-by-category/controllers/productsByCategoryController.js",

lpStaticPath + "frontend/blocks/news/news.js",
lpStaticPath + "frontend/blocks/news/news.ctrl.js",

lpStaticPath + "frontend/blocks/product-landing/productPhotosLanding.js",

lpStaticPath + "frontend/blocks/reviews-form/reviewsForm.js",
lpStaticPath + "frontend/blocks/reviews-form/reviewsForm.ctrl.js",

lpStaticPath + "frontend/_common/catalog-filter/catalogFilter.js",
lpStaticPath + "frontend/_common/catalog-filter/controllers/catalogFilterController.js",
lpStaticPath + "frontend/_common/catalog-filter/controllers/catalogFilterSortController.js",
lpStaticPath + "frontend/_common/catalog-filter/directives/catalogFilterDirectives.js",
lpStaticPath + "frontend/_common/catalog-filter/services/catalogFilterService.js",
lpStaticPath + "frontend/utils/utils.service.js",

lpStaticPath + "frontend/_app/clientDependency.js",

lpStaticPath + "frontend/blocks/columns/columns.js",
lpStaticPath + "frontend/blocks/columns/columns.ctrl.js",
adminStaticPath + "src/_shared/lozad-adv/lozadAdv.js",
adminStaticPath + "src/_shared/lozad-adv/lozadAdv.directive.js",

lpStaticPath + "frontend/_common/photo-view-list/photo-view-list.directive.js",
lpStaticPath + "frontend/_common/photo-view-list/photo-view-list.ctrl.js",

lpStaticPath + "frontend/_mobile/tableResponsive/tableResponsive.js"

}, "lp_scripts.js");

    #endregion

    #region adminjs

    Html.AddBundles(new List<string>()
{
"~/userfiles/" + "admin_" + SettingsMain.Language +".js",

"~/areas/admin/content/src/_shared/modal/uiModal.js",
"~/areas/admin/content/src/_shared/modal/uiModalDecorator.js",
"~/areas/admin/content/src/_shared/modal/uiModal.component.js",

"~/areas/admin/content/src/_shared/switch-on-off/switchOnOff.js",

"~/areas/admin/content/vendors/bootstrap/bootstrap.min.js",
"~/areas/admin/content/vendors/ui-bootstrap/ui-bootstrap-custom-tpls-2.5.0.js",
"~/areas/admin/content/vendors/ui-bootstrap/angular-tab-decorator/angular-tab-decorator.js",

//"~/areas/admin/content/src/_shared/modal/products-selectvizr/ModalProductsSelectvizrCtrl.js",
//"~/areas/admin/content/src/_shared/modal/offers-selectvizr/ModalOffersSelectvizrCtrl.js",

"~/areas/admin/content/src/_partials/products-selectvizr/productsSelectvizr.js",
"~/areas/admin/content/src/_partials/products-selectvizr/productsSelectvizr.component.js",

"~/areas/admin/content/src/_partials/offers-selectvizr/offersSelectvizr.js",
"~/areas/admin/content/src/_partials/offers-selectvizr/offersSelectvizr.component.js",

"~/areas/admin/content/src/_shared/switcher-state/switcherState.js",
"~/areas/admin/content/src/_shared/switcher-state/switcherState.component.js",

"~/areas/admin/content/vendors/jsTree.directive/jsTree.directive.custom.js",
"~/areas/admin/content/vendors/ui-grid/ui-grid.min.js",
"~/areas/admin/content/vendors/ui-grid/ui-grid.decorate.js",

"~/areas/admin/content/vendors/ng-ckeditor/ng-ckeditor.modified.js",


"~/areas/admin/content/src/_partials/help-trigger/helpTrigger.js",
"~/areas/admin/content/src/_partials/help-trigger/helpTrigger.component.js",
"~/areas/admin/content/src/_partials/help-trigger/helpTrigger.service.js",




lpStaticPath + "frontend/vendors/fontawesome/svg-with-js/js/fontawesome-all.js",
lpStaticPath + "frontend/vendors/ng-sortable/ng-sortable.js",
lpStaticPath + "frontend/vendors/tinycolor/tinycolor.js",
lpStaticPath + "frontend/vendors/angularjs-color-picker/angularjs-color-picker.js",

lpStaticPath + "frontend/_common/inplace-landing/inplaceLanding.js",
lpStaticPath + "frontend/_common/inplace-landing/controllers/inplaceLandingSwitchController.js",
lpStaticPath + "frontend/_common/inplace-landing/directives/inplaceLandingDirectives.js",

lpStaticPath + "frontend/_common/blocks-constructor/blocksConstructor.js",
lpStaticPath + "frontend/_common/blocks-constructor/constants/blocksConstructorConstants.js",
lpStaticPath + "frontend/_common/blocks-constructor/controllers/blocksConstructorController.js",
lpStaticPath + "frontend/_common/blocks-constructor/controllers/blocksConstructorMainController.js",
lpStaticPath + "frontend/_common/blocks-constructor/controllers/blocksConstructorContainerController.js",
lpStaticPath + "frontend/_common/blocks-constructor/controllers/blocksConstructorNewBlockController.js",
lpStaticPath + "frontend/_common/blocks-constructor/controllers/blocksConstructorSettingsBlockController.js",
lpStaticPath + "frontend/_common/blocks-constructor/controllers/blocksConstructorAddSubblockController.js",
lpStaticPath + "frontend/_common/blocks-constructor/controllers/blocksConstructorAddCategoryController.js",
lpStaticPath + "frontend/_common/blocks-constructor/controllers/blocksConstructorButtonSettingsController.js",
lpStaticPath + "frontend/_common/blocks-constructor/controllers/blocksConstructorButtonSettingsModalController.js",
lpStaticPath + "frontend/_common/blocks-constructor/controllers/blocksConstructorFormSettingsController.js",
lpStaticPath + "frontend/_common/blocks-constructor/controllers/blocksConstructorFormSettingsTabController.js",
lpStaticPath + "frontend/_common/blocks-constructor/components/blocksConstructorComponent.js",
lpStaticPath + "frontend/_common/blocks-constructor/services/blocksConstructorService.js",
lpStaticPath + "frontend/_common/blocks-constructor/filters/blocksConstructorFilters.js",
lpStaticPath + "frontend/_common/blocks-constructor/controllers/sublocks/SubBlockBookingConstructorController.js",
lpStaticPath + "frontend/_common/blocks-constructor/controllers/sublocks/SubBlockProductsViewConstructorController.js",
lpStaticPath + "frontend/_common/blocks-constructor/controllers/sublocks/SubBlockGalleryConstructorController.js",
lpStaticPath + "frontend/_common/blocks-constructor/controllers/sublocks/SubBlockCountdownViewConstructorController.js",
lpStaticPath + "frontend/_common/blocks-constructor/controllers/sublocks/CategorySelectorConstructorController.js",

lpStaticPath + "frontend/_common/lp-settings/lpSettings.js",
lpStaticPath + "frontend/_common/lp-settings/components/lpSettingsTrigger.js",
lpStaticPath + "frontend/_common/lp-settings/controllers/lpSettingsController.js",
lpStaticPath + "frontend/_common/lp-settings/controllers/lpSettingsTriggerController.js",
lpStaticPath + "frontend/_common/lp-settings/services/lpSettingsService.js",

lpStaticPath + "frontend/_common/subblock-inplace/subblockInplace.js",
lpStaticPath + "frontend/_common/subblock-inplace/constants/subblockInplaceColors.js",
lpStaticPath + "frontend/_common/subblock-inplace/controllers/subblockInplaceController.js",
lpStaticPath + "frontend/_common/subblock-inplace/controllers/subblockInplaceButtonController.js",
lpStaticPath + "frontend/_common/subblock-inplace/controllers/subblockInplaceButtonModalController.js",
lpStaticPath + "frontend/_common/subblock-inplace/controllers/subblockInplacePriceController.js",
lpStaticPath + "frontend/_common/subblock-inplace/controllers/subblockInplacePriceModalController.js",
lpStaticPath + "frontend/_common/subblock-inplace/controllers/subblockInplaceVideoController.js",
lpStaticPath + "frontend/_common/subblock-inplace/controllers/subblockInplaceVideoModalController.js",
lpStaticPath + "frontend/_common/subblock-inplace/controllers/subblockInplaceBuyFormController.js",
lpStaticPath + "frontend/_common/subblock-inplace/controllers/subblockInplaceBuyFormModalController.js",
lpStaticPath + "frontend/_common/subblock-inplace/directives/subblockInplaceDirective.js",
lpStaticPath + "frontend/_common/subblock-inplace/services/subblockInplaceService.js",

lpStaticPath + "frontend/_common/gradient-picker/gradientPicker.js",
lpStaticPath + "frontend/_common/gradient-picker/controllers/gradientPickerController.js",
lpStaticPath + "frontend/_common/gradient-picker/components/gradientPickerComponent.js",
lpStaticPath + "frontend/_common/gradient-picker/services/gradientPickerService.js",

lpStaticPath + "frontend/_common/background-picker/backgroundPicker.js",
lpStaticPath + "frontend/_common/background-picker/controllers/backgroundPickerController.js",
lpStaticPath + "frontend/_common/background-picker/components/backgroundPickerComponent.js",
lpStaticPath + "frontend/_common/background-picker/services/backgroundPickerService.js",

lpStaticPath + "frontend/_common/picture-loader/picture-loader.js",
lpStaticPath + "frontend/_common/picture-loader/picture-loader.constants.js",
lpStaticPath + "frontend/_common/picture-loader/controllers/pictureLoaderController.js",
lpStaticPath + "frontend/_common/picture-loader/controllers/pictureLoaderTriggerController.js",
lpStaticPath + "frontend/_common/picture-loader/components/pictureLoaderComponent.js",
lpStaticPath + "frontend/_common/picture-loader/services/pictureLoaderService.js",

lpStaticPath + "frontend/_common/color-scheme-settings/colorSchemeSettings.js",
lpStaticPath + "frontend/_common/color-scheme-settings/colorSchemeSettingsController.js",
lpStaticPath + "frontend/_common/color-scheme-settings/colorSchemeSettings.component.js",

lpStaticPath + "frontend/_common/galleryCloud/galleryCloud.js",
lpStaticPath + "frontend/_common/galleryCloud/galleryCloud.ctrl.js",
lpStaticPath + "frontend/_common/galleryCloud/galleryCloud.service.js",
lpStaticPath + "frontend/_common/galleryCloud/galleryCloud.component.js",

lpStaticPath + "frontend/_common/galleryIcons/galleryIcons.js",
lpStaticPath + "frontend/_common/galleryIcons/galleryIcons.ctrl.js",
lpStaticPath + "frontend/_common/galleryIcons/galleryIcons.service.js",
lpStaticPath + "frontend/_common/galleryIcons/galleryIcons.component.js",

lpStaticPath + "frontend/_common/lp-grid/lpGrid.js",
lpStaticPath + "frontend/_common/lp-grid/lpGrid.constant.js",
lpStaticPath + "frontend/_common/lp-grid/lpGrid.ctrl.js",
lpStaticPath + "frontend/_common/lp-grid/lpGridColumn.ctrl.js",
lpStaticPath + "frontend/_common/lp-grid/lpGridGroup.ctrl.js",
lpStaticPath + "frontend/_common/lp-grid/lpAddGroupGrid.ctrl.js",
lpStaticPath + "frontend/_common/lp-grid/lpGridColumnTemplate.ctrl.js",
lpStaticPath + "frontend/_common/lp-grid/lpGridCkeditorModal.ctrl.js",
lpStaticPath + "frontend/_common/lp-grid/lpGridModel.ctrl.js",
lpStaticPath + "frontend/_common/lp-grid/lpGrid.service.js",
lpStaticPath + "frontend/_common/lp-grid/lpGrid.component.js",


lpStaticPath + "frontend/_common/video-file-uploader/videoFileUploader.js",
lpStaticPath + "frontend/_common/video-file-uploader/videoFileUploader.ctrl.js",
lpStaticPath + "frontend/_common/video-file-uploader/videoFileUploader.directive.js",



//lpStaticPath + "frontend/blocks/gallery/gallery.js",
//lpStaticPath + "frontend/blocks/gallery/controllers/galleryAdminController.js",

adminStaticPath + "src/_shared/ui-grid-custom/uiGridCustom.js",
adminStaticPath + "src/_shared/ui-grid-custom/uiGridCustom.constant.js",
adminStaticPath + "src/_shared/ui-grid-custom/uiGridCustom.config.js",
adminStaticPath + "src/_shared/ui-grid-custom/uiGridCustom.component.js",
adminStaticPath + "src/_shared/ui-grid-custom/uiGridCustom.service.js",
adminStaticPath + "src/_shared/ui-grid-custom/uiGridCustomFilter.js",
adminStaticPath + "src/_shared/ui-grid-custom/uiGridCustomFilterBlock.js",
adminStaticPath + "src/_shared/ui-grid-custom/uiGridCustomFilter.component.js",
adminStaticPath + "src/_shared/ui-grid-custom/uiGridCustomFilterBlock.component.js",
adminStaticPath + "src/_shared/ui-grid-custom/uiGridCustomPagination.js",
adminStaticPath + "src/_shared/ui-grid-custom/uiGridCustomPagination.js",
adminStaticPath + "src/_shared/ui-grid-custom/uiGridCustomEdit.js",
adminStaticPath + "src/_shared/ui-grid-custom/uiGridCustomEdit.component.js",

adminStaticPath + "src/_shared/ui-grid-custom/uiGridCustomPagination.component.js",
adminStaticPath + "src/_shared/ui-grid-custom/uiGridCustomSelection.js",
adminStaticPath + "src/_shared/ui-grid-custom/uiGridCustomSelection.component.js",

adminStaticPath + "src/_shared/ui-ace-textarea/uiAceTextarea.js",
adminStaticPath + "src/_shared/ui-ace-textarea/uiAceTextarea.constant.js",

lpStaticPath + "frontend/_app/adminDependency.js",

}, "admin_lp_scripts.js");

    #endregion

    Html.AddBundles(new List<string>() {
lpStaticPath + "frontend/_app/app.js",
lpStaticPath + "frontend/_app/controllers/appController.js",
}, "app.lp.js");
}

@Html.RenderCssBundle("lp_styles.css", outputFolder)

@if (!LpService.PreviewInAdmin)
{
    @Html.RenderJsBundle("lp_scripts.js", outputFolder)
}

@{
    var pagecss = LPageSettings.PageCss;
}
@if (!string.IsNullOrWhiteSpace(pagecss))
{
    <style>
        @Html.Raw(pagecss)
    </style>
}

@if ((LpService.Inplace || LpService.HasAccess) && !LpService.PreviewInAdmin)
{

    @Html.RenderCssBundle("admin_lp_styles.css")

    <script>
        window.FontAwesomeConfig = {
            autoAddCss: false
        };
    </script>
    @Html.RenderJsBundle("admin_lp_scripts.js")

    @Html.Action("Inplace", "Common", new { area = "", enabled = true, inplaceMinAsset = "inplaceFunnelMin", inplaceMaxAsset = "inplaceFunnelMax" });

    <script>
        window._LandingCKeditorConfig = {
            font_names: 'Arial/Arial, sans-serif;' +
                //'Comic Sans MS/Comic Sans MS, cursive;' + // not supported in IOS
                'Georgia/Georgia, serif;' +
                'Tahoma/Tahoma, Geneva, sans-serif;' +
                'Roboto, sans-serif;' +
                'Open Sans;' +
                'OpenSans-light',
            line_height: '1;1.1;1.2;1.3;1.4;1.5;1.6;1.7;1.8;1.9;2;2.1;2.2;2.3;2.4;2.5;2.6;2.7;2.8;2.9;3;',
            //fontSize_sizes: '14/14px;16/16px;18/18px;20/20px;22/22px;24/24px;26/26px;28/28px;30/30px;32/32px;34/34px;36/36px;38/38px;40/40px;42/42px;44/44px;46/46px;48/48px;50/50px;52/52px;62/62px;72/72px;82/82px;92/92px;102/102px;',
            toolbar: [
                { name: 'document', items: ['Sourcedialog'] },
                { name: 'basicstyles', items: ['fontSizeExtend', 'Bold', 'Italic', 'Underline', 'Strike'] },
                { name: 'styles', items: ['Styles', 'bold', 'lineheight', 'RemoveFormat'] },
                { name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock',] },
                { name: 'insert', items: ['Image', 'Table', 'Iframe'] },
                { name: 'colors', items: ['TextColor', 'BGColor'] },
                { name: 'links', items: ['Link'] },
                { name: 'icons', items: ['Emojione'] }
            ],
            stylesSet: 'landingStyles',
            font_size_extend: '8/8px/;10/10px;12/12px;14/14px;16/16px;18/18px;20/20px;22/22px;24/24px;26/26px;28/28px;30/30px;32/32px;34/34px;36/36px;38/38px;40/40px;42/42px;44/44px;46/46px;48/48px;50/50px;52/52px;62/62px;72/72px;82/82px;92/92px;102/102px;',
            font_size_extend_template_format: function (fontSize) {
                return 'font-size-' + fontSize + '--adaptive';
            },
            font_size_extend_find_classes: function (className) {
                var regexpResult = className.match(/font-size-\d+--adaptive/);
                return regexpResult != null ? regexpResult[0] : null;
            },
            font_size_extend_template_parse: function (className) {
                var regexpResult = className.match(/font-size-(\d+)--adaptive/);
                return regexpResult != null ? regexpResult[1] : null;
            }
        }

        CKEDITOR.stylesSet.add('landingStyles', [
            // Block-level styles
            { name: 'Заголовок', element: 'div', attributes: { 'class': 'lp-h1--margin-none lp-h1--color lp-h1' } },
            { name: 'Подзаголовок 2 уровня', element: 'div', attributes: { 'class': 'lp-h2--margin-none lp-h2--color lp-h2' } },
            { name: 'Подзаголовок 3 уровня', element: 'div', attributes: { 'class': 'lp-h3--margin-none lp-h3--color lp-h3' } },

            // Inline styles
            { name: 'Очень маленький текст', element: 'span', attributes: { 'class': 'lp-font-size--xsmall' } },
            { name: 'Маленький текст', element: 'span', attributes: { 'class': 'lp-font-size--small' } },
            { name: 'Обычный текст', element: 'span', attributes: { 'class': 'lp-font-size--middle' } },
            { name: 'Тонкий текст', element: 'span', attributes: { 'class': 'lp-font-size--middle' }, styles: { 'font-weight': '300' } },
            { name: 'Крупный текст', element: 'span', attributes: { 'class': 'lp-font-size--large' } },
            { name: 'Крупный тонкий текст', element: 'span', attributes: { 'class': 'lp-font-size--large' }, styles: { 'font-weight': '300' } },
        ]);
    </script>
}


@if (!LpService.PreviewInAdmin)
{

    @Html.RenderAssetFilesAsHtml("runtime", "");
    @Html.RenderJsBundle("app.lp.js")
}


<div data-toaster-container data-toaster-options="{'close-button': true}"></div>