@using AdvantShop.Helpers

@{
    var hash = AdvantShop.Configuration.SettingsGeneral.SiteVersion.GetHashCode();
}
<!DOCTYPE html>
<html data-ng-app="app" @Html.GetNgController() class="@(LpService.Inplace ? "edit-mode" : "") @(LpService.HasAccess ? "admin-mode" : "") @(LpService.PreviewInAdmin ? "preview-in-admin" :"")" @Html.Raw(LpService.Inplace ? "ng-init=\"app.inplaceEnabled = true\"" : "") lang="@AdvantShop.Configuration.SettingsMain.Language.Split('-')[0].ToLower()">
<head>
    <meta charset="utf-8" />
    <meta name="generator" content="AdVantShop.NET">
    <meta name="advid" content="@Html.GetAdvId()">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telePhone=no">
    <base href="@UrlService.GetUrl()" />
    <title>@Html.GetPageTitle()</title>
    <meta name="Description" content="@Html.GetPageDescription()" />
    @Html.GetPageKeywords(asMetaLink: true)
    @Html.Action("WebManifest", "Landing")
    @Html.GetLandingCanonicalTag()
    @Html.Action("Favicon", "Landing")
    @Html.Raw(LPageSettings.PageHeadHtml)
    @Html.Partial("~/Areas/Landing/Views/Shared/_HeaderScripts.cshtml")
    @Html.RenderModules("landing_head")
    <script>
        window.v = '@(hash > 0 ? hash : -hash)';
    </script>
</head>
<body data-anchor-implementation class="text-floating" @(MobileHelper.IsMobileBrowser() ? "data-full-height-mobile" : "") @Html.Raw(LpService.Inplace ? "blocks-constructor-main ng-class=\"{'blocks-constructor-select-mode': blocksConstructorMain.enabledSelectMode}\"" : "")>
    @Html.DisableChromeAutoFill()
    @Html.AntiForgeryToken()

    @Html.Action("GaScript", "LandingTracking")
    @Html.Action("GtmScript", "LandingTracking")
    @Html.Action("YandexMetrikaScript", "LandingTracking")
    @Html.Action("AdminMenu", "Landing", new { landingId = LpService.CurrentSiteId })
    @RenderBody()
    @Html.Partial("~/Areas/Landing/Views/Shared/_FooterScripts.cshtml")
    @Html.Raw(LSiteSettings.BlockInBodyBottom)
    @Html.Action("Script", "SocialWidget", new { area = "" })
    @Html.RenderModules("landing_body_end")


    <div class="color-scheme--light">
        <button class="lp-scroll-to-top lp-btn lp-btn--primary" type="button" data-scroll-to-top>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 284.929 284.929" xml:space="preserve">
            <path fill="currentColor" d="M282.082,195.285L149.028,62.24c-1.901-1.903-4.088-2.856-6.562-2.856s-4.665,0.953-6.567,2.856L2.856,195.285
		            C0.95,197.191,0,199.378,0,201.853c0,2.474,0.953,4.664,2.856,6.566l14.272,14.271c1.903,1.903,4.093,2.854,6.567,2.854
		            c2.474,0,4.664-0.951,6.567-2.854l112.204-112.202l112.208,112.209c1.902,1.903,4.093,2.848,6.563,2.848
		            c2.478,0,4.668-0.951,6.57-2.848l14.274-14.277c1.902-1.902,2.847-4.093,2.847-6.566
		            C284.929,199.378,283.984,197.188,282.082,195.285z"></path>
            </svg>
        </button>
    </div>

    @if (!LpService.Inplace && !LSiteSettings.HideAdvantshopCopyright)
    {
        <div style="text-align:center; background: #000  !important; padding: 16px  !important; display:block !important; position:static !important;  opacity: 1 !important; visibility:visible !important;">
            <a href="https://www.advantshop.net/" target="_blank" style="display:inline !important; opacity: 1 !important; visibility: visible !important; height: auto !important; width: auto!important; position:static !important; min-width: 173px !important;">
                <img style="display:inline !important; opacity: 1 !important; visibility: visible !important; height: auto !important; width: auto!important; min-width: 173px !important; position:static !important; vertical-align: middle;" src="https://cs71.advantshop.net/landing/landing_made_on_advantshop_ru.png" alt="" />
            </a>
        </div>
    }
    @{
        var lp = new LpSiteService().Get(LpService.CurrentLanding.LandingSiteId);
    }
    @if (!LpService.Inplace)
    {
        @Html.Action("CookiesPolicy", "Landing", new { area = "Landing", urlSite = lp != null ? lp.Url : "" })
    }
    @Html.GetMiniProfiler()
</body>
</html>
