@model AdvantShop.Core.Services.Landing.Blocks.LpBlock

@if (Model.TryGetSetting("fb_enabled") == true)
{
    <a class="social social--facebook icon-lp-facebook" href="@Model.TryGetSetting("fb_url")" target="_blank">
        <span class="social__name lp-btn--primary">@Model.TryGetSetting("fb_text")</span>
    </a>
}
@if (Model.TryGetSetting("vk_enabled") == true)
{
    <a class="social social--vkontakte icon-lp-vkontakte" href="@Model.TryGetSetting("vk_url")" target="_blank">
        <span class="social__name lp-btn--primary">@Model.TryGetSetting("vk_text")</span>
    </a>
}
@if (Model.TryGetSetting("whatsapp_enabled") == true)
{
    <a class="social social--whatsapp icon-lp-whatsapp" href="@Model.TryGetSetting("whatsapp_url")" target="_blank">
        <span class="social__name lp-btn--primary">@Model.TryGetSetting("whatsapp_text")</span>
    </a>
}
@if (Model.TryGetSetting("instagram_enabled") == true)
{
    <a class="social social--instagram icon-lp-instagram" href="@Model.TryGetSetting("instagram_url")" target="_blank">
        <span class="social__name lp-btn--primary">@Model.TryGetSetting("instagram_text")</span>
    </a>
}
@if (Model.TryGetSetting("youtube_enabled") == true)
{
    <a class="social social--youtube icon-lp-youtube" href="@Model.TryGetSetting("youtube_url")" target="_blank">
        <span class="social__name lp-btn--primary">@Model.TryGetSetting("youtube_text")</span>
    </a>
}
@if (Model.TryGetSetting("twitter_enabled") == true)
{
    <a class="social social--twitter icon-lp-twitter" href="@Model.TryGetSetting("twitter_url")" target="_blank">
        <span class="social__name lp-btn--primary">@Model.TryGetSetting("twitter_text")</span>
    </a>
}
@if (Model.TryGetSetting("telegram_enabled") == true)
{
    <a class="social social--telegram icon-lp-telegram" href="@Model.TryGetSetting("telegram_url")" target="_blank">
        <span class="social__name lp-btn--primary">@Model.TryGetSetting("telegram_text")</span>
    </a>
}
@if (Model.TryGetSetting("viber_enabled") == true)
{
    <a class="social social--viber icon-lp-viber" href="@Model.TryGetSetting("viber_url")" target="_blank">
        <span class="social__name lp-btn--primary">@Model.TryGetSetting("viber_text")</span>
    </a>
}
@if (Model.TryGetSetting("odnoklassniki_enabled") == true)
{
    <a class="social social--odnoklassniki icon-lp-odnoklassniki" href="@Model.TryGetSetting("odnoklassniki_url")" target="_blank">
        <span class="social__name lp-btn--primary">@Model.TryGetSetting("odnoklassniki_text")</span>
    </a>
}

@if (Model.TryGetSetting("call_enabled") == true)
{
    <a class="social social--call icon-lp-phone" href="tel:@Model.TryGetSetting("call_number")" target="_blank">
        <span class="social__name lp-btn--primary">@Model.TryGetSetting("call_text")</span>
    </a>
}