@model BlockModel
<div class="container-fluid">
    <div class="lp-container">
        <div class="row center-xs text-left">
            <div class="col-xs-12 @Model.Block.GetWidthInColumnsAsClasses()">
                <div class="row between-sm middle-xs">
                    <div class="col-xs-12 col-sm-6 col-md-7 m-b-md">
                        <div class="lp-block-cover-text-form-slim__header lp-h1 lp-h1--color">
                            @Html.SubBlock(Model, "title")
                        </div>
                        <div class="lp-block-cover-text-form-slim__text lp-h3 ">
                            @Html.SubBlock(Model, "text")
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 m-b-md">
                        <div class="lp-block-cover-text-form-slim__form-wrap color-scheme__bg--alt">
                            <div class="lp-h3--color">
                                @Html.Form(Model.Form)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_CoverScrollToBlock", Model)
    </div>
</div>