@model AdvantShop.Web.Admin.ViewModels.Settings.MobileAppModel
@{
    Layout = "~/Areas/Admin/Views/Store/_StoreLayout.cshtml";
}

@using (Html.BeginForm("Index", "MobileApp", FormMethod.Post, new { enctype = "multipart/form-data", name = "form", novalidate = "novalidate" }))
{
    @Html.AntiForgeryToken()
    <div class="sticky-page-name m-b-xs" sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner"><!--col-xs-6-->
            <div class="page-name-block-item-main flex middle-xs">
                <h2 class="m-t-none m-b-none sticky-page-name-text ">Мобильное приложение</h2>
                <a href="https://www.advantshop.net/help/pages/mobilnoe-prilozhenie" target="_blank" class="p-l-sm link-invert link-academy inline-flex middle-xs" style="text-decoration:none;">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="18" height="18" fill="#989a9b" class="m-r-xs">
                    <path d="M20.005,512c-5.097,0-10.116-1.948-13.925-5.641c-5.845-5.666-7.672-14.309-4.621-21.855l45.411-112.333  C16.162,332.253,0,285.425,0,236c0-63.375,26.855-122.857,75.62-167.489C123.891,24.331,187.952,0,256,0  s132.109,24.331,180.38,68.511C485.145,113.143,512,172.625,512,236c0,45.448-14.04,89.577-40.602,127.615  c-6.325,9.057-18.792,11.271-27.849,4.947s-11.271-18.792-4.947-27.849C460.452,309.425,472,273.215,472,236  c0-108.075-96.897-196-216-196S40,127.925,40,236c0,43.783,15.577,85.2,45.046,119.773c4.834,5.671,6.115,13.561,3.321,20.47  l-31.366,77.589l91.345-40.266c5.063-2.231,10.826-2.267,15.916-0.095C193.082,425.766,223.946,432,256,432  c36.892,0,73.299-8.587,105.286-24.832c9.85-5,21.887-1.072,26.889,8.775c5.001,9.849,1.073,21.887-8.775,26.889  C341.828,461.914,299.157,472,256,472c-34.48,0-67.835-6.191-99.276-18.413L28.068,510.301C25.474,511.444,22.728,512,20.005,512z   M276,325V217c0-11.046-8.954-20-20-20s-20,8.954-20,20v108c0,11.046,8.954,20,20,20S276,336.046,276,325z M256,128  c-11.046,0-20,8.954-20,20l0,0c0,11.046,8.954,20,20,20s20-8.954,20-20l0,0C276,136.954,267.046,128,256,128z"></path>
                    </svg>
                    <span>Инструкция. Регистрация приложения в Google Play Market</span>
                </a>
            </div>
            <div class="">
                <div class="text-right">
                    <input type="submit" class="btn btn-sm btn-success" data-e2e="SettingsTemplateSave" value="@T("Admin.Settings.Common.Save")" data-button-validation disabled ng-disabled="!form.modified" />
                </div>
            </div>
        </div>
    </div>
    <div class="ibox  p-t-xs">
        <div class="ibox-content">

            <div class="form-group row">
                <div class="col-xs-3 col-wl-2">
                    <div class="setting-label-wrap">
                        Включить
                    </div>
                </div>
                <div class="col-xs-4 relative">
                    <label class="adv-checkbox-label">
                        <switch-on-off checked="settingsMobile.MobileAppActive" on-change="settingsMobile.onChangeMobileAppActiveStateOffOn(checked)" data-id="Active" ng-init="@("settingsMobile.MobileAppActive=" + Model.Active.ToLowerString())"></switch-on-off>
                    </label>
                </div>
            </div>

            <div ng-show="settingsMobile.MobileAppActive">
                <div class="form-group row">
                    <div class="col-xs-3 col-wl-2">
                        <div class="setting-label-wrap text-required">
                            Название
                        </div>
                    </div>
                    <div class="col-xs-6 relative">
                        @Html.TextBoxFor(x => x.AppName, new { @class = "form-control", ng_model = "settingsMobile.MobileAppName", ng_required = "settingsMobile.MobileAppActive", validation_input_text = "Название" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-3 col-wl-2">
                        <div class="setting-label-wrap text-required">
                            Сокращенное название
                        </div>
                    </div>
                    <div class="col-xs-6 relative">
                        @Html.TextBoxFor(x => x.ShortName, new { @class = "form-control", ng_model = "settingsMobile.MobileAppShortName", ng_required = "settingsMobile.MobileAppActive", validation_input_text = "Сокращенное название" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-3 col-wl-2">
                        <div class="setting-label-wrap">
                            Иконка приложения
                        </div>
                    </div>
                    <div class="col-xs-6 relative">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="flex">
                                    <div>
                                        @Html.PictureUploader(AdvantShop.Catalog.PhotoType.MobileApp, 0, Model.ImgSrc, htmlAttributes: new
                                               {
                                                   data_e2e = "IconImg",
                                                   @class = "picture-uploader-small"
                                               })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            Рекомендуемый размер 512 x 512 px<br />
                            Иконка может быть только квадратной
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-3 col-wl-2">
                        <div class="setting-label-wrap">
                            Ссылка на приложение в Apple App Store
                        </div>
                    </div>
                    <div class="col-xs-6 relative">
                        @Html.TextBoxFor(x => x.AppleAppStoreLink, new { @class = "form-control", ng_model = "settingsMobile.MobileAppAppleAppStoreLink" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-3 col-wl-2">
                        <div class="setting-label-wrap">
                            Ссылка на приложение в Google Play
                        </div>
                    </div>
                    <div class="col-xs-6 relative">
                        @Html.TextBoxFor(x => x.GooglePlayMarket, new { @class = "form-control", ng_model = "settingsMobile.MobileAppGooglePlayMarket" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-3 col-wl-2">
                        <div class="setting-label-wrap">
                            Выводить кнопки установки приложений в мобильной версии
                        </div>
                    </div>
                    <div class="col-xs-4 relative">
                        <label class="adv-checkbox-label">
                            <switch-on-off checked="settingsMobile.MobileAppShowBadges" on-change="settingsMobile.onChangeMobileAppShowBadgesStateOffOn(checked)" data-id="ShowBadges" ng-init="@("settingsMobile.MobileAppShowBadges=" + Model.ShowBadges.ToLowerString())"></switch-on-off>
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>
}