@model AdvantShop.Web.Admin.ViewModels.Booking.ReservationResources.ReservationResourcesModel
@using AdvantShop.Core.Services.Admin

@{
    Layout = "~/Areas/Admin/Views/Booking/_BookingLayout.cshtml";
}

@if (AdminAreaTemplate.Current == null)
{
    //adminv2
    <div class="sticky-page-name" sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner">
            <div class="page-name-block-item-main">
                <h1 class="page-name-block-text sticky-page-name-text inline m-r-xs bottom-cell">
                    @T("Admin.BookingCategory.View.Employees")
                </h1>
                @Html.HiddenFor(model => model.SelectedAffiliate.Id, new { ng_model = "bookingReservationResources.affiliateId" })
            </div>
            <div class="page-name-block-item-additional">
                @if (Model.AccessToEditing)
                {
                    <ui-modal-trigger data-controller="'ModalAddUpdateReservationResourceCtrl'" controller-as="ctrl" size="lg" backdrop="static"
                                      data-resolve="{params: {affiliateId : bookingReservationResources.affiliateId}}"
                                      on-close="bookingReservationResources.onResourceAddUpdate()"
                                      template-url="../areas/admin/content/src/bookingReservationResources/modal/addUpdateReservationResource/addUpdateReservationResource.html" class="pull-right">
                        <button data-e2e="AddBookingReservationResource" class="btn btn-sm btn-success" type="button"
                                disabled ng-disabled="!bookingReservationResources.gridReservationResourcesInited">
                            <span class="fa fa-plus"></span>
                            @T("Admin.BookingEmployees.Index.AddEmployee")
                        </button>
                    </ui-modal-trigger>
                }
            </div>
        </div>
    </div>
}
else
{
    //adminv3
    @section BlockAdditional {
        @if (Model.AccessToEditing)
        {
            <ui-modal-trigger data-controller="'ModalAddUpdateReservationResourceCtrl'" controller-as="ctrl" size="lg" backdrop="static"
                              data-resolve="{params: {affiliateId : bookingReservationResources.affiliateId}}"
                              on-close="bookingReservationResources.onResourceAddUpdate()"
                              template-url="../areas/admin/content/src/bookingReservationResources/modal/addUpdateReservationResource/addUpdateReservationResource.html" class="pull-right">
                <button data-e2e="AddBookingReservationResource" class="btn btn-sm btn-success" type="button"
                        disabled ng-disabled="!bookingReservationResources.gridReservationResourcesInited">
                    <span class="fa fa-plus"></span>
                    @T("Admin.BookingEmployees.Index.AddEmployee")
                </button>
            </ui-modal-trigger>
        }
    }
    @*<div class="flex middle-xs m-b-md page-name-block">
        <div class="page-name-block-item-main">
            <h1 class="page-name-block-text sticky-page-name-text inline m-r-xs bottom-cell">
                @T("Admin.BookingCategory.View.Employees")
            </h1>
            @Html.HiddenFor(model => model.SelectedAffiliate.Id, new { ng_model = "bookingReservationResources.affiliateId" })
        </div>
    </div>*@

    <h2 class="content-page__subtitle">
        @T("Admin.BookingCategory.View.Employees")
    </h2>
    @Html.HiddenFor(model => model.SelectedAffiliate.Id, new { ng_model = "bookingReservationResources.affiliateId" })
}

<div>
    <div class="ibox" ng-init="bookingReservationResources.init(@((!Model.AccessToEditing).ToLowerString()))">
        <div class="ibox-content no-top-border" ng-if="bookingReservationResources.isInit">
            <ui-grid-custom grid-unique-id="grid"
                            grid-row-identificator="'Id'"
                            grid-on-init="bookingReservationResources.gridResourcesOnInit(grid)"
                            grid-options="bookingReservationResources.gridResourcesOptions"
                            grid-url="'bookingResources/getResources'"
                            grid-params="{affiliateFilterId : bookingReservationResources.affiliateId}"
                            grid-inplace-url="'bookingResources/inplaceReservationResource'"
                            grid-extend-ctrl="bookingReservationResources">
                <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="bookingReservationResources.gridReservationResources.gridOptions.TotalString">
                </ui-grid-custom-footer>
            </ui-grid-custom>
        </div>
    </div>
</div>