@model List<AdvantShop.Catalog.Brand>
<div class="carousel-logo">
    <div class="row">
        <div class="col-xs">
            <div class="carousel carousel-horizontal">
                <div class="carousel-logo-inner">
                    <div class="carousel-logo-list"
                         data-carousel=""
                         data-carousel-class="gallery-logo-slider"
                         data-prev-class="carousel-main-prev icon-left-circle-after"
                         data-next-class="carousel-main-next icon-right-circle-after"
                         data-stretch="true">
                        @{ 
                            var i = 0;
                        }
                            @foreach (var brand in @Model)
                            {
                                <div class="carousel-logo-item green">
                                    <a class="carousel-logo-link" href="@Url.RouteUrl("Brand", new {url = brand.UrlPath})">
                                        <img @Html.Raw(i < 7 ? "src" : "src=\"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7\" data-src")="@brand.BrandLogo.ImageSrc()" 
                                             alt="@Html.Encode(brand.Name)" 
                                             title="@Html.Encode(brand.Name)" 
                                             width="@(SettingsPictureSize.BrandLogoWidth)"
                                             height="@(SettingsPictureSize.BrandLogoHeight)"/>
                                    </a>
                                </div>
                                i++;
                            }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>