@using Newtonsoft.Json
@model AdvantShop.Web.Admin.Models.Customers.CustomerSegments.CustomerSegmentModel
@{
    ViewBag.CustomerFieldIgnoreRequired = true;
}

<div class="row m-b-md">
    <div class="flex-grow-n col-xs-1">
        <label class="form-label-block">@T("Admin.CustomerSegments.Filters.Filters")</label>
    </div>
    <div class="flex-grow flex-basis-n flex-width-n">
        <div class="row">

            <div class="col-xs-4 m-b">
                <div class="p-b-xs">@T("Admin.CustomerSegments.Filters.AmountOfOrders")</div>
                <div>
                    <div class="row middle-xs">
                        <div class="col-xs">
                            @Html.TextBoxFor(x => x.SegmentFilter.OrdersSumFrom, "{0:G10}", new { @class = "form-control", ng_model = "customerSegment.OrdersSumFrom" })
                        </div>
                        <div class="row center-xs col-xs-1">–</div>
                        <div class="col-xs">
                            @Html.TextBoxFor(x => x.SegmentFilter.OrdersSumTo, "{0:G10}", new { @class = "form-control", ng_model = "customerSegment.OrdersSumTo" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 m-b">
                <div class="p-b-xs">@T("Admin.CustomerSegments.Filters.AmountOfPaidOrders")</div>
                <div>
                    <div class="row middle-xs">
                        <div class="col-xs">
                            @Html.TextBoxFor(x => x.SegmentFilter.OrdersPaidSumFrom, "{0:G10}", new { @class = "form-control", ng_model = "customerSegment.OrdersPaidSumFrom" })
                        </div>
                        <div class="row center-xs col-xs-1">–</div>
                        <div class="col-xs">
                            @Html.TextBoxFor(x => x.SegmentFilter.OrdersPaidSumTo, "{0:G10}", new { @class = "form-control", ng_model = "customerSegment.OrdersPaidSumTo" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 m-b">
                <div class="p-b-xs">@T("Admin.CustomreSegments.Filters.NumberOfOrders")</div>
                <div>
                    <div class="row middle-xs">
                        <div class="col-xs">
                            @Html.TextBoxFor(x => x.SegmentFilter.OrdersCountFrom, new { @class = "form-control", ng_model = "customerSegment.OrdersCountFrom" })
                        </div>
                        <div class="row center-xs col-xs-1">–</div>
                        <div class="col-xs">
                            @Html.TextBoxFor(x => x.SegmentFilter.OrdersCountTo, new { @class = "form-control", ng_model = "customerSegment.OrdersCountTo" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 m-b">
                <div class="p-b-xs">@T("Admin.CustomersSegments.Filters.DateOfLastOrder")</div>
                <div>
                    <div class="row middle-xs">
                        <div class="col-xs">
                            <div>
                                <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y', startDateFormat: 'Y-m-d', wrap: true}">
                                    @Html.TextBoxFor(x => x.SegmentFilter.LastOrderDateFrom, "{0:yyyy-MM-dd HH:mm:ss}", new { @class = "form-control", ng_model = "customerSegment.LastOrderDateFrom", ng_flatpickr_input = "" })
                                    <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row center-xs col-xs-1">–</div>
                        <div class="col-xs">
                            <div>
                                <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y', startDateFormat: 'Y-m-d', wrap: true}">
                                    @Html.TextBoxFor(x => x.SegmentFilter.LastOrderDateTo, "{0:yyyy-MM-dd HH:mm:ss}", new { @class = "form-control", ng_model = "customerSegment.LastOrderDateTo", ng_flatpickr_input = "" })
                                    <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 m-b">
                <div class="p-b-xs">@T("Admin.CustomersSegments.Filters.AverageCheck")</div>
                <div>
                    <div class="row middle-xs">
                        <div class="col-xs">
                            @Html.TextBoxFor(x => x.SegmentFilter.AverageCheckFrom, new { @class = "form-control", ng_model = "customerSegment.AverageCheckFrom" })
                        </div>
                        <div class="row center-xs col-xs-1">–</div>
                        <div class="col-xs">
                            @Html.TextBoxFor(x => x.SegmentFilter.AverageCheckTo, new { @class = "form-control", ng_model = "customerSegment.AverageCheckTo" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 m-b">
                <div class="p-b-xs">Дата рождения</div>
                <div>
                    <div class="row middle-xs">
                        <div class="col-xs">
                            <div>
                                <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y', startDateFormat: 'Y-m-d', wrap: true}">
                                    @Html.TextBoxFor(x => x.SegmentFilter.BirthDayFrom, "{0:yyyy-MM-dd HH:mm:ss}", new {@class = "form-control", ng_model = "customerSegment.BirthDayFrom", ng_flatpickr_input = ""})
                                    <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row center-xs col-xs-1">–</div>
                        <div class="col-xs">
                            <div>
                                <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y', startDateFormat: 'Y-m-d', wrap: true}">
                                    @Html.TextBoxFor(x => x.SegmentFilter.BirthDayTo, "{0:yyyy-MM-dd HH:mm:ss}", new {@class = "form-control", ng_model = "customerSegment.BirthDayTo", ng_flatpickr_input = ""})
                                    <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs">
                            <label class="adv-checkbox-label form-label-block" data-e2e="IgnoreBirthDayYear">
                                @Html.CheckBoxFor(x => x.SegmentFilter.IgnoreBirthDayYear, new {ng_model = "customerSegment.IgnoreBirthDayYear", ng_init = "customerSegment.IgnoreBirthDayYear=" + Model.SegmentFilter.IgnoreBirthDayYear.ToLowerString(), @class = "adv-checkbox-input"})
                                <span class="adv-checkbox-emul m-t-xxs" data-e2e="IgnoreBirthDayYear"></span>
                                Игнорировать год
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 m-b">
                <div class="p-b-xs">@T("Admin.CustomerSegments.Filters.PurchasesProductCategories")</div>
                <div>
                    <div class="row">
                        <div class="col-xs-12 ng-cloak" data-e2e="customerSegmentCategories">
                            <ui-select multiple
                                       tagging-label=""
                                       sortable="true"
                                       ng-init="customerSegment.initCategories('@JsonConvert.SerializeObject(Model.Categories)')"
                                       ng-model="customerSegment.selectedCategories">
                                <ui-select-match placeholder="">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="tag in customerSegment.Categories | greedysearch:$select.search | limitTo:100 ">
                                    {{tag}}
                                </ui-select-choices>
                            </ui-select>
                            @*select для отправки данных через post *@
                            <select name="Categories" multiple hidden>
                                <option selected value="{{option}}" ng-repeat="option in customerSegment.selectedCategories track by $index"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 m-b">
                <div class="p-b-xs">@T("Admin.CustomerSegments.Filters.City")</div>
                <div>
                    <div class="row">
                        <div class="col-xs-12 ng-cloak" data-e2e="customerSegmentCities">
                            <ui-select multiple
                                       tagging-label=""
                                       sortable="true"
                                       ng-init="customerSegment.initCities('@JsonConvert.SerializeObject(Model.Cities)')"
                                       ng-model="customerSegment.selectedCities">
                                <ui-select-match placeholder="">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="tag in customerSegment.Cities | filter:$select.search | limitTo:100">
                                    {{tag}}
                                </ui-select-choices>
                            </ui-select>
                            @*select для отправки данных через post *@
                            <select name="Cities" multiple hidden>
                                <option selected value="{{option}}" ng-repeat="option in customerSegment.selectedCities track by $index"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 m-b">
                <div class="p-b-xs">@T("Admin.CustomerSegments.Filters.Country")</div>
                <div>
                    <div class="row">
                        <div class="col-xs-12 ng-cloak" data-e2e="customerSegmentCountries">
                            <ui-select multiple
                                       tagging-label=""
                                       sortable="true"
                                       ng-init="customerSegment.initCountries('@JsonConvert.SerializeObject(Model.Countries)')"
                                       ng-model="customerSegment.selectedCountries">
                                <ui-select-match placeholder="">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="tag in customerSegment.Countries | filter:$select.search | limitTo:100">
                                    {{tag}}
                                </ui-select-choices>
                            </ui-select>
                            @*select для отправки данных через post *@
                            <select name="Countries" multiple hidden>
                                <option selected value="{{option}}" ng-repeat="option in customerSegment.selectedCountries track by $index"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-2 m-b">
                <div class="p-b-xs">@T("Admin.CustomerSegments.Filters.HaveAnAccount")</div>
                <div>
                    <div class="row">
                        <div class="col-xs-12 ng-cloak" data-e2e="customerSegmentIsSocialUser">

                            <label class="adv-checkbox-label form-label-block" data-e2e="IsInstagramUser">
                                @Html.CheckBoxFor(x => x.SegmentFilter.IsSocialUser, new { ng_model = "customerSegment.IsSocialUser", ng_init = "customerSegment.IsSocialUser=" + Model.SegmentFilter.IsSocialUser.ToLowerString(), @class = "adv-checkbox-input" })
                                <span class="adv-checkbox-emul" data-e2e="CheckBoxIsSocialUserClick"></span>
                            </label>

                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-xs-2 m-b">
                <div class="p-b-xs">@T("Admin.CustomerSegments.Filters.HaveAccountVk")</div>
                <div>
                    <div class="row">
                        <div class="col-xs-12 ng-cloak" data-e2e="customerSegmentIsVkUser">

                            <label class="adv-checkbox-label form-label-block" data-e2e="IsVkUser">
                                @Html.CheckBoxFor(x => x.SegmentFilter.IsVkUser, new { ng_model = "customerSegment.IsVkUser", ng_init = "customerSegment.IsVkUser=" + Model.SegmentFilter.IsVkUser.ToLowerString(), @class = "adv-checkbox-input" })
                                <span class="adv-checkbox-emul" data-e2e="CheckBoxIsVkUserClick"></span>
                            </label>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-2 m-b">
                <div class="p-b-xs">@T("Admin.CustomerSegments.Filters.HaveInstagramAccount")</div>
                <div>
                    <div class="row">
                        <div class="col-xs-12 ng-cloak" data-e2e="customerSegmentIsInstagramUser">

                            <label class="adv-checkbox-label form-label-block" data-e2e="IsInstagramUser">
                                @Html.CheckBoxFor(x => x.SegmentFilter.IsInstagramUser, new { ng_model = "customerSegment.IsInstagramUser", ng_init = "customerSegment.IsInstagramUser=" + Model.SegmentFilter.IsInstagramUser.ToLowerString(), @class = "adv-checkbox-input" })
                                <span class="adv-checkbox-emul" data-e2e="CheckBoxIsInstagramUserClick"></span>
                            </label>

                        </div>
                    </div>
                </div>
            </div>

            @*<div class="col-xs-2 m-b">
                <div class="p-b-xs">@T("Admin.CustomerSegments.Filters.HaveFacebookAccount")</div>
                <div>
                    <div class="row">
                        <div class="col-xs-12 ng-cloak" data-e2e="customerSegmentIsFacebookUser">

                            <label class="adv-checkbox-label form-label-block" data-e2e="IsFacebookUser">
                                @Html.CheckBoxFor(x => x.SegmentFilter.IsFacebookUser, new { ng_model = "customerSegment.IsFacebookUser", ng_init = "customerSegment.IsFacebookUser=" + Model.SegmentFilter.IsFacebookUser.ToLowerString(), @class = "adv-checkbox-input" })
                                <span class="adv-checkbox-emul" data-e2e="CheckBoxIsFacebookUserClick"></span>
                            </label>

                        </div>
                    </div>
                </div>
            </div>*@

            <div class="col-xs-2 m-b">
                <div class="p-b-xs">@T("Admin.CustomerSegments.Filters.HaveTelegramAccount")</div>
                <div>
                    <div class="row">
                        <div class="col-xs-12 ng-cloak" data-e2e="customerSegmentIsTelegramUser">

                            <label class="adv-checkbox-label form-label-block" data-e2e="IsTelegramUser">
                                @Html.CheckBoxFor(x => x.SegmentFilter.IsTelegramUser, new {ng_model = "customerSegment.IsTelegramUser", ng_init = "customerSegment.IsTelegramUser=" + Model.SegmentFilter.IsTelegramUser.ToLowerString(), @class = "adv-checkbox-input"})
                                <span class="adv-checkbox-emul" data-e2e="CheckBoxIsTelegramUserClick"></span>
                            </label>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@if (Model.CustomerFields != null && Model.CustomerFields.Count > 0)
{
    <div class="row m-b-md">
        <div class="flex-grow-n col-xs-1">
            <label class="form-label-block">@T("Admin.CustomerSegments.Filters.CustomerFields")</label>
        </div>
        <div class="flex-grow flex-basis-n flex-width-n">
            <div class="row customersegments-custom-fields filters-customersegments-custom-fields">
                @Html.Partial("_CustomerFields", Model.CustomerFields)
            </div>
        </div>
    </div>
}
