@model AdvantShop.ViewModel.Cart.CartViewModel
@{ 
    Html.AddAsset("cart");
}
<div class="col-p-v">
    <div class="cart-title page-title">
        <h1>
            @T("Cart.Index.ShoppingCart")
        </h1>
    </div>
    <div data-module data-key="fullcartmessage" class="fullcartmessage">
        @Html.RenderModules("fullcartmessage")
    </div>
    <div class="row">
        <div class="col-xs">
            <div data-cart-full data-photo-width="@Model.PhotoWidth"></div>
        </div>
        @Html.RenderModules("cart_right_column")
    </div>

    @Html.StaticBlock("shoppingcart")
    @Html.RenderModules("shoppingcart")

    @if (Model.IsDemo)
    {
        <div class="cart-full-error">@T("Cart.Index.FakeShop")</div>
    }

    @Html.RenderModules("shoppingcart_after")
</div>