@model AdvantShop.Web.Admin.Models.Settings.SocialSettingsModel


<div class="setting-title m-t-none">
    <h3>@T("Admin.Settings.Social.SocialGroups")</h3>
</div>


<div class="form-group row">
    <div class="col-xs-6">
        <div class="setting-label-wrap">
            <label class="adv-checkbox-label m-r-sm">
                @Html.CheckBoxFor(x => x.LinkVkActive, new { @class = "adv-checkbox-input", ng_init = "settingsSocial.LinkVkActive=" + Model.LinkVkActive.ToLowerString(), ng_model = "settingsSocial.LinkVkActive" })
                <span class="adv-checkbox-emul"></span>
            </label>
            @Html.LabelFor(x => Model.LinkVkActive, T("Admin.Settings.Social.LinkVkActive"))
        </div>
    </div>    
</div>
<div class="form-group row">
    <div class="col-xs-8">
        @Html.TextBoxFor(x => x.LinkVk, new { @class = "form-control", ng_model = "settingsSocial.LinkVk", ng_show = "settingsSocial.LinkVkActive" })
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-6">
        <div class="setting-label-wrap">
            <label class="adv-checkbox-label m-r-sm">
                @Html.CheckBoxFor(x => x.LinkFacebookActive, new { @class = "adv-checkbox-input", ng_init = "settingsSocial.LinkFacebookActive=" + Model.LinkFacebookActive.ToLowerString(), ng_model = "settingsSocial.LinkFacebookActive" })
                <span class="adv-checkbox-emul"></span>
            </label>
            @Html.LabelFor(x => Model.LinkFacebookActive, T("Admin.Settings.Social.LinkFacebookActive"))
        </div>
    </div>
</div>
<div class="form-group row">

    <div class="col-xs-8">
        @Html.TextBoxFor(x => x.LinkFacebook, new { @class = "form-control", ng_model = "settingsSocial.LinkFacebook", ng_show = "settingsSocial.LinkFacebookActive" })
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-6">
        <div class="setting-label-wrap">
            <label class="adv-checkbox-label m-r-sm">
                @Html.CheckBoxFor(x => x.LinkInstagrammActive, new { @class = "adv-checkbox-input", ng_init = "settingsSocial.LinkInstagrammActive=" + Model.LinkInstagrammActive.ToLowerString(), ng_model = "settingsSocial.LinkInstagrammActive" })
                <span class="adv-checkbox-emul"></span>
            </label>
            @Html.LabelFor(x => Model.LinkInstagrammActive, T("Admin.Settings.Social.LinkInstagrammActive"))
        </div>
    </div>
</div>
<div class="form-group row">

    <div class="col-xs-8">
        @Html.TextBoxFor(x => x.LinkInstagramm, new { @class = "form-control", ng_model = "settingsSocial.LinkInstagramm", ng_show = "settingsSocial.LinkInstagrammActive" })
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-6">
        <div class="setting-label-wrap">
            <label class="adv-checkbox-label m-r-sm">
                @Html.CheckBoxFor(x => x.LinkTwitterActive, new { @class = "adv-checkbox-input", ng_init = "settingsSocial.LinkTwitterActive=" + Model.LinkTwitterActive.ToLowerString(), ng_model = "settingsSocial.LinkTwitterActive" })
                <span class="adv-checkbox-emul"></span>
            </label>
            @Html.LabelFor(x => Model.LinkTwitterActive, T("Admin.Settings.Social.LinkTwitterActive"))
        </div>
    </div>
    <div class="col-xs-8">

    </div>
</div>
<div class="form-group row">
    <div class="col-xs-8">
        @Html.TextBoxFor(x => x.LinkTwitter, new { @class = "form-control", ng_model = "settingsSocial.LinkTwitter", ng_show = "settingsSocial.LinkTwitterActive" })
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-6">
        <div class="setting-label-wrap">
            <label class="adv-checkbox-label m-r-sm">
                @Html.CheckBoxFor(x => x.LinkTelegramActive, new { @class = "adv-checkbox-input", ng_init = "settingsSocial.LinkTelegramActive=" + Model.LinkTelegramActive.ToLowerString(), ng_model = "settingsSocial.LinkTelegramActive" })
                <span class="adv-checkbox-emul"></span>
            </label>
            @Html.LabelFor(x => Model.LinkTelegramActive, T("Admin.Settings.Social.LinkTelegramActive"))
        </div>
    </div>
</div>
<div class="form-group row">

    <div class="col-xs-8">
        @Html.TextBoxFor(x => x.LinkTelegram, new { @class = "form-control", ng_model = "settingsSocial.LinkTelegram", ng_show = "settingsSocial.LinkTelegramActive" })
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-6">
        <div class="setting-label-wrap">
            <label class="adv-checkbox-label m-r-sm">
                @Html.CheckBoxFor(x => x.LinkOkActive, new { @class = "adv-checkbox-input", ng_init = "settingsSocial.LinkOkActive=" + Model.LinkOkActive.ToLowerString(), ng_model = "settingsSocial.LinkOkActive" })
                <span class="adv-checkbox-emul"></span>
            </label>
            @Html.LabelFor(x => Model.LinkOkActive, T("Admin.Settings.Social.LinkOkActive"))
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-8">
        @Html.TextBoxFor(x => x.LinkOk, new { @class = "form-control", ng_model = "settingsSocial.LinkOk", ng_show = "settingsSocial.LinkOkActive" })
    </div>
</div>


<div class="form-group row">
    <div class="col-xs-2">
        <div class="setting-label-wrap">
            <label class="adv-checkbox-label m-r-sm">
                @Html.CheckBoxFor(x => x.LinkYoutubeActive, new { @class = "adv-checkbox-input", ng_init = "settingsSocial.LinkYoutubeActive=" + Model.LinkYoutubeActive.ToLowerString(), ng_model = "settingsSocial.LinkYoutubeActive" })
                <span class="adv-checkbox-emul"></span>
            </label>
            @Html.LabelFor(x => Model.LinkYoutubeActive, T("Admin.Settings.Social.LinkYoutubeActive"))
        </div>
    </div>
</div>
<div class="form-group row">

    <div class="col-xs-8">
        @Html.TextBoxFor(x => x.LinkYoutube, new { @class = "form-control", ng_model = "settingsSocial.LinkYoutube", ng_show = "settingsSocial.LinkYoutubeActive" })
    </div>
</div>


<div class="form-group row">
    <div class="col-xs-8">
        <div class="adv-panel-info">
            <a href="http://www.advantshop.net/help/pages/soobschestva-v-sotsialnykh-setyakh" target="_blank">@T("Admin.Settings.Social.SocialLinksInstruction")</a>
        </div>
    </div>
</div>
@*<div class="setting-title">
        <h3>@T("Admin.Settings.Social.VkShopTitle")</h3>
    </div>

    <div class="form-group row">
        <div class="col-xs-2">
            <div class="setting-label-wrap">
                @Html.LabelFor(x => x.VkTemplateActive, T("Admin.Settings.Social.VkTemplateActive"))
            </div>
        </div>
        <div class="col-xs-6">
            <label class="adv-checkbox-label">
                @Html.CheckBoxFor(x => x.VkTemplateActive, new { @class = "adv-checkbox-input", ng_init = "settingsSocial.VkTemplateActive=" + Model.VkTemplateActive.ToLowerString(), ng_model = "settingsSocial.VkTemplateActive" })
                <span class="adv-checkbox-emul"></span>
            </label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">
            <div class="setting-label-wrap">
                @Html.LabelFor(x => x.SocialLinkVk, T("Admin.Settings.Social.SocialLinkVk"))
            </div>
        </div>
        <div class="col-xs-6">
            @Html.Label("lblSocialLinkVk", Model.SocialLinkVk)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-8">
            <div class="adv-panel-info">
                <a href="http://www.advantshop.net/help/pages/create-store-vk" target="_blank">@T("Admin.Settings.Social.VkShopInstruction")</a>
            </div>
        </div>
    </div>

    <div class="setting-title">
        <h3>@T("Admin.Settings.Social.FacebookShopTitle")</h3>
    </div>

    <div class="form-group row">
        <div class="col-xs-2">
            <div class="setting-label-wrap">
                @Html.LabelFor(x => x.FbTemplateActive, T("Admin.Settings.Social.FbTemplateActive"))
            </div>
        </div>
        <div class="col-xs-6">
            <label class="adv-checkbox-label">
                @Html.CheckBoxFor(x => x.FbTemplateActive, new { @class = "adv-checkbox-input", ng_init = "settingsSocial.FbTemplateActive=" + Model.FbTemplateActive.ToLowerString(), ng_model = "settingsSocial.FbTemplateActive" })
                <span class="adv-checkbox-emul"></span>
            </label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">
            <div class="setting-label-wrap">
                @Html.LabelFor(x => x.SocialLinkFb, T("Admin.Settings.Social.SocialLinkFb"))
            </div>
        </div>
        <div class="col-xs-6">
            @Html.Label("lblSocialLinkFb", Model.SocialLinkFb)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-8">
            <div class="adv-panel-info">
                <a href="http://www.advantshop.net/help/pages/install-eshop-facebook" target="_blank">@T("Admin.Settings.Social.FbShopInstruction")</a>
            </div>
        </div>
    </div>*@



<div class="setting-title">
    <h3>@T("Admin.Settings.Social.ShareButtons")</h3>
</div>


<div class="form-group row">
    <div class="col-xs-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.SocialShareEnabled, T("Admin.Settings.Social.SocialShareEnabled"))
        </div>
    </div>
    <div class="col-xs-6">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.SocialShareEnabled, new { @class = "adv-checkbox-input", ng_init = "settingsSocial.SocialShareEnabled=" + Model.SocialShareEnabled.ToLowerString(), ng_model = "settingsSocial.SocialShareEnabled" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.Social.SocialShareEnabled")">
            @T("Admin.Settings.Social.SocialShareEnabledHint")
        </help-trigger>
    </div>
</div>

<div ng-init="settingsSocial.showBlockCustomCode=@Model.SocialShareCustomEnabled.ToLowerString()">
    <div class="form-group row">
        <div class="col-xs-2">
            <div class="setting-label-wrap">
                @T("Admin.Settings.Social.SocialShareCustomEnabledByDefault")
            </div>
        </div>
        <div class="col-xs-6">
            <label class="adv-radio-label p-l-n">
                @Html.RadioButtonFor(x => x.SocialShareCustomEnabled, false, new { @class = "adv-radio-input", ng_model = "settingsSocial.showBlockCustomCode", name = "rblShareButtonsType", ng_value = "false" })
                <span class="adv-radio-emul"></span>
            </label>
            <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.Social.SocialShareCustomEnabledByDefault")">
                @T("Admin.Settings.Social.SocialShareCustomEnabledByDefaultHint")
            </help-trigger>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">
            <div class="setting-label-wrap">
                @T("Admin.Settings.Social.SocialShareCustomEnabledByCustomCode")
            </div>
        </div>
        <div class="col-xs-6">
            <label class="adv-radio-label p-l-n">
                @Html.RadioButtonFor(x => x.SocialShareCustomEnabled, true, new { @class = "adv-radio-input", ng_model = "settingsSocial.showBlockCustomCode", name = "rblShareButtonsType", ng_value = "true" })
                <span class="adv-radio-emul"></span>
            </label>
            <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.Social.SocialShareCustomEnabledByCustomCode")">
                @T("Admin.Settings.Social.SocialShareCustomEnabledByCustomCodeHint")
            </help-trigger>
        </div>
    </div>
    <div class="form-group row" ng-show="settingsSocial.showBlockCustomCode">
        <div class="col-xs-2">
            <div class="setting-label-wrap">
                @Html.LabelFor(x => x.SocialShareCustomCode, T("Admin.Settings.Social.SocialShareCustomCode"))
            </div>
        </div>
        <div class="col-xs-6">
            @Html.TextAreaFor(x => x.SocialShareCustomCode, new { @class = "form-control", ng_model = "settingsSocial.SocialShareCustomCode" })
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-8">
        <div class="adv-panel-info">
            <a href="http://www.advantshop.net/help/pages/change-social-code" target="_blank">@T("Admin.Settings.Social.ShareButtonsInstruction")</a>
        </div>
    </div>
</div>