@model AdvantShop.Web.Admin.Models.Settings.SocialSettingsModel

<div class="setting-title m-t-none">
    <h3>@T("Admin.Settings.Social.Widgets")</h3>
</div>

<div class="form-group row">
    <div class="col-xs-6">
        <div class="setting-label-wrap">
            <label class="adv-checkbox-label m-r-sm">
                @Html.CheckBoxFor(x => x.WidgetVkActive, new { @class = "adv-checkbox-input", ng_init = "settingsSocial.WidgetVkActive=" + Model.WidgetVkActive.ToLowerString(), ng_model = "settingsSocial.WidgetVkActive" })
                <span class="adv-checkbox-emul"></span>
            </label>
            @Html.LabelFor(x => Model.WidgetVkActive, T("Admin.Settings.Social.WidgetVkActive"))
        </div>
    </div>
   
</div>
<div class="form-group row">
    <div class="col-xs-8">
        @Html.TextAreaFor(x => x.WidgetVk, new { @class = "form-control", ng_model = "settingsSocial.WidgetVk", ng_show = "settingsSocial.WidgetVkActive" })
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-6">
        <div class="setting-label-wrap">
            <label class="adv-checkbox-label m-r-sm">
                @Html.CheckBoxFor(x => x.WidgetFacebookActive, new { @class = "adv-checkbox-input", ng_init = "settingsSocial.WidgetFacebookActive=" + Model.WidgetFacebookActive.ToLowerString(), ng_model = "settingsSocial.WidgetFacebookActive" })
                <span class="adv-checkbox-emul"></span>
            </label>
            @Html.LabelFor(x => Model.WidgetFacebookActive, T("Admin.Settings.Social.WidgetFacebookActive"))
        </div>
    </div>   
</div>
<div class="form-group row">
    <div class="col-xs-8">
        @Html.TextAreaFor(x => x.WidgetFacebook, new { @class = "form-control", ng_model = "settingsSocial.WidgetFacebook", ng_show = "settingsSocial.WidgetFacebookActive" })
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-6">
        <div class="setting-label-wrap">
            <label class="adv-checkbox-label m-r-sm">
                @Html.CheckBoxFor(x => x.WidgetInstagrammActive, new { @class = "adv-checkbox-input", ng_init = "settingsSocial.WidgetInstagrammActive=" + Model.WidgetInstagrammActive.ToLowerString(), ng_model = "settingsSocial.WidgetInstagrammActive" })
                <span class="adv-checkbox-emul"></span>
            </label>
            @Html.LabelFor(x => Model.WidgetInstagrammActive, T("Admin.Settings.Social.WidgetInstagrammActive"))
        </div>
    </div>   
</div>
<div class="form-group row">

    <div class="col-xs-8">
        @Html.TextAreaFor(x => x.WidgetInstagramm, new { @class = "form-control", ng_model = "settingsSocial.WidgetInstagramm", ng_show = "settingsSocial.WidgetInstagrammActive" })
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-6">
        <div class="setting-label-wrap">
            <label class="adv-checkbox-label m-r-sm">
                @Html.CheckBoxFor(x => x.WidgetTwitterActive, new { @class = "adv-checkbox-input", ng_init = "settingsSocial.WidgetTwitterActive=" + Model.WidgetTwitterActive.ToLowerString(), ng_model = "settingsSocial.WidgetTwitterActive" })
                <span class="adv-checkbox-emul"></span>
            </label>
            @Html.LabelFor(x => Model.WidgetTwitterActive, T("Admin.Settings.Social.WidgetTwitterActive"))
        </div>
    </div>   
</div>
<div class="form-group row">
    <div class="col-xs-8">
        @Html.TextAreaFor(x => x.WidgetTwitter, new { @class = "form-control", ng_model = "settingsSocial.WidgetTwitter", ng_show = "settingsSocial.WidgetTwitterActive" })
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-6">
        <div class="setting-label-wrap">
            <label class="adv-checkbox-label m-r-sm">
                @Html.CheckBoxFor(x => x.WidgetTelegramActive, new { @class = "adv-checkbox-input", ng_init = "settingsSocial.WidgetTelegramActive=" + Model.WidgetTelegramActive.ToLowerString(), ng_model = "settingsSocial.WidgetTelegramActive" })
                <span class="adv-checkbox-emul"></span>
            </label>
            @Html.LabelFor(x => Model.WidgetTelegramActive, T("Admin.Settings.Social.WidgetTelegramActive"))
        </div>
    </div>   
</div>
<div class="form-group row">
    <div class="col-xs-8">
        @Html.TextAreaFor(x => x.WidgetTelegram, new { @class = "form-control", ng_model = "settingsSocial.WidgetTelegram", ng_show = "settingsSocial.WidgetTelegramActive" })
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-6">
        <div class="setting-label-wrap">
            <label class="adv-checkbox-label m-r-sm">
                @Html.CheckBoxFor(x => x.WidgetOkActive, new { @class = "adv-checkbox-input", ng_init = "settingsSocial.WidgetOkActive=" + Model.WidgetOkActive.ToLowerString(), ng_model = "settingsSocial.WidgetOkActive" })
                <span class="adv-checkbox-emul"></span>
            </label>
            @Html.LabelFor(x => Model.WidgetOkActive, T("Admin.Settings.Social.WidgetOkActive"))
        </div>
    </div>   
</div>
<div class="form-group row">
    <div class="col-xs-8">
        @Html.TextAreaFor(x => x.WidgetOk, new { @class = "form-control", ng_model = "settingsSocial.WidgetOk", ng_show = "settingsSocial.WidgetOkActive" })
    </div>
</div>


<div class="form-group row">
    <div class="col-xs-6">
        <div class="setting-label-wrap">
            <label class="adv-checkbox-label m-r-sm">
                @Html.CheckBoxFor(x => x.WidgetYoutubeActive, new { @class = "adv-checkbox-input", ng_init = "settingsSocial.WidgetYoutubeActive=" + Model.WidgetYoutubeActive.ToLowerString(), ng_model = "settingsSocial.WidgetYoutubeActive" })
                <span class="adv-checkbox-emul"></span>
            </label>
            @Html.LabelFor(x => Model.WidgetYoutubeActive, T("Admin.Settings.Social.WidgetYoutubeActive"))
        </div>
    </div>  
</div>
<div class="form-group row">
    <div class="col-xs-8">
        @Html.TextAreaFor(x => x.WidgetYoutube, new { @class = "form-control", ng_model = "settingsSocial.WidgetYoutube", ng_show = "settingsSocial.WidgetYoutubeActive" })
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-8">
        <div class="adv-panel-info">
            <a href="https://www.advantshop.net/help/pages/sotsialnye-seti#2" target="_blank">@T("Admin.Settings.Social.SocialWidgetInstruction")</a>
        </div>
    </div>
</div>