@using AdvantShop.Core.Services.Admin

@model AdvantShop.Web.Admin.Models.Settings.SocialSettingsModel
@{
    /**/

    Layout = "~/Areas/Admin/Views/Settings/_SettingsLayout.cshtml";
    var isAdminv3 = AdminAreaTemplate.Current == "adminv3";
}

@using (Html.BeginForm("Index", "SettingsSocial", FormMethod.Post, new { name = "form", enctype = "multipart/form-data", novalidate = "novalidate" }))
{
    <div class="sticky-page-name p-n m-n" sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner header-hidden">
            <div class="page-name-block-item-main">
                <h1 class="page-name-block-text sticky-page-name-text">
                    <span class="float-header-page" ng-bind="settingsSocial.floatHeader"></span>
                </h1>
            </div>
            <div class="page-name-block-item-additional">
                <input type="submit" class="btn btn-sm btn-success" value="@T("Admin.Settings.Save")" data-button-validation disabled ng-disabled="!form.modified" />
            </div>
        </div>
    </div>

    if (isAdminv3)
    {
        @Html.Back("Настройки", Url.Action("Index", "Settings"))
        <div class="sticky-page-name">
            <div class="row middle-xs">
                <div class="col-xs-6">
                    <h1 class="page-name-block-text"> @T("Admin.Settings.Commonpage.Settingssocial")</h1>
                </div>
                <div class="col-xs-6">
                    <div class="text-right">
                        <input type="submit" class="btn btn-sm btn-success" value="@T("Admin.Settings.Common.Save")" data-button-validation disabled ng-disabled="!form.modified" />
                    </div>
                </div>
            </div>
        </div>
    }

    @Html.AntiForgeryToken()

    <uib-tabset active uid="socialTab" on-select-batch="settingsSocial.floatHeader = tab.heading;">
        <uib-tab index="1" heading="@T("Admin.Settings.Social.SocialCommon")" classes="ng-tab">
            @Html.Partial("_SocialCommon", Model)
        </uib-tab>
        <uib-tab index="2" heading="@T("Admin.Settings.Social.Widgets")" classes="ng-tab">
            @Html.Partial("_Widgets", Model)
        </uib-tab>
        <uib-tab index="3" heading="@T("Admin.Settings.Social.SocialWidget")" classes="ng-tab">
            @Html.Partial("_SocialWidget", Model)
        </uib-tab>

        @if (!isAdminv3)
        {
            <div class="js-not-tabs">
                <input type="submit" class="btn btn-sm btn-success" value="@T("Admin.Settings.Common.Save")" data-button-validation disabled ng-disabled="!form.modified" />
            </div>
        }
        

    </uib-tabset>

}
