@model AdvantShop.Web.Admin.Models.Settings.SettingsMail.MailSettingsModel


<div class="setting-title setting-title__m-t-md flex middle-xs m-t-none">
    <h3>@T("Admin.Settings.NotifyEMails.EmailSettings")</h3>
    <div >

        <a href="https://www.advantshop.net/help/pages/email-google-yandex " target="_blank" class="p-l-sm link-academy link-invert inline-flex middle-xs">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="18" height="18" fill="#989a9b" class="m-r-xs">
<path d="M20.005,512c-5.097,0-10.116-1.948-13.925-5.641c-5.845-5.666-7.672-14.309-4.621-21.855l45.411-112.333  C16.162,332.253,0,285.425,0,236c0-63.375,26.855-122.857,75.62-167.489C123.891,24.331,187.952,0,256,0  s132.109,24.331,180.38,68.511C485.145,113.143,512,172.625,512,236c0,45.448-14.04,89.577-40.602,127.615  c-6.325,9.057-18.792,11.271-27.849,4.947s-11.271-18.792-4.947-27.849C460.452,309.425,472,273.215,472,236  c0-108.075-96.897-196-216-196S40,127.925,40,236c0,43.783,15.577,85.2,45.046,119.773c4.834,5.671,6.115,13.561,3.321,20.47  l-31.366,77.589l91.345-40.266c5.063-2.231,10.826-2.267,15.916-0.095C193.082,425.766,223.946,432,256,432  c36.892,0,73.299-8.587,105.286-24.832c9.85-5,21.887-1.072,26.889,8.775c5.001,9.849,1.073,21.887-8.775,26.889  C341.828,461.914,299.157,472,256,472c-34.48,0-67.835-6.191-99.276-18.413L28.068,510.301C25.474,511.444,22.728,512,20.005,512z   M276,325V217c0-11.046-8.954-20-20-20s-20,8.954-20,20v108c0,11.046,8.954,20,20,20S276,336.046,276,325z M256,128  c-11.046,0-20,8.954-20,20l0,0c0,11.046,8.954,20,20,20s20-8.954,20-20l0,0C276,136.954,267.046,128,256,128z" />

</svg>
            <span>Инструкция. Настройка e-mail почты магазина</span>
        </a>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3">
        <div class="setting-label-wrap">
            @T("Admin.Settings.NotifyEMails.UseAdvantshopMail")
        </div>
    </div>
    <div class="col-xs-4 relative" ng-init="mailSettings.UseAdvantshopMail='@(Model.UseAdvantshopMail.ToLowerString())'">

        <label class="adv-radio-label m-r-sm">
            <input type="radio" class="adv-radio-input hidden" name="UseAdvantshopMail" ng-model="mailSettings.UseAdvantshopMail" value="true" id="myAccountContract" data-e2e="UseAdvantshopMailInput" />
            <span class="adv-radio-emul" data-e2e="UseAdvantshopMail"></span>
            <span>
                @T("Admin.SettingsMail.EmailSettings.ThroughThePostalAdvantShop")
            </span>
        </label>
        <label class="adv-radio-label">
            <input type="radio" class="adv-radio-input hidden" name="UseAdvantshopMail" ng-model="mailSettings.UseAdvantshopMail" value="false" data-e2e="UseSmtpInput" />
            <span class="adv-radio-emul" data-e2e="UseSmtpMail"></span>
            <span>
                @T("Admin.SettingsMail.EmailSettings.ThroughSmtp")
            </span>
        </label>
        <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" data-title="@T("Admin.Settings.NotifyEMails.UseAdvantshopMail")">
            <div class="help-content">
                @T("Admin.SettingsMail.EmailSettings.DetailedComparison")<br /><br />
                Подробнее:
                <br />
                <a href="https://www.advantshop.net/help/pages/email-google-yandex?v=6.5#11">Настройка e-mail почты магазина</a>
            </div>
        </help-trigger>
    </div>
    <div class="col-xs-offset-3 col-xs-4">
        <div class="email-settings-note">
            <div class="email-settings-note__title">Внимание:</div>
            Гарантированная отправка массовых рассылок Email возможна только через почтовую службу ADVANTSHOP. Сервис является платным, подробнее о сервисе можно <a href="https://www.advantshop.net/help/pages/email-google-yandex?v=6.5#11" target="_blank">прочитать тут</a>.
            SMTP является бесплатным, но не гарантирует корректную работу по отправке массовых рассылок.
        </div>
    </div>
</div>

<div ng-switch="mailSettings.UseAdvantshopMail">
    <div ng-switch-when="true">
        <div class="form-group row">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    @T("Admin.Settings.NotifyEMails.From")
                </div>
            </div>
            <div class="col-xs-4">
                <div class="relative">
                    @Html.TextBoxFor(x => x.FromEmail, new { @class = "form-control input-small", ng_model = "mailSettings.notifyemails.emailsettings.FromEmail", type = "email", required = "true", @readonly = "true", validation_input_text = T("Admin.Settings.NotifyEMails.From"), bs_modifiable = "false" })

                    <help-trigger class="ng-cloak help-trigger-icon-abs container-fluid m-l-xs" data-title="@T("Admin.Settings.NotifyEMails.From")">
                        <div class="help-content">
                            @T("Admin.SettingsMail.EmailSettings.SendingEmail")<br>
                        </div>
                    </help-trigger>
                </div>
                <div class="flex flex-wrap between-xs p-t-xs">
                    @Html.HiddenFor(x => x.ConfirmDateEmail, new { bs_modifiable = "false", ng_model = "mailSettings.notifyemails.emailsettings.ConfirmDateEmail", ng_value = "mailSettings.notifyemails.emailsettings.ConfirmDateEmail" })


                    <div ng-switch="mailSettings.isEmailDemo(mailSettings.notifyemails.emailsettings.FromEmail) === true">
                        <div ng-switch-when="true">
                            <span class="text-success">Подключен demo email адрес</span>
                        </div>
                        <div ng-switch-when="false">
                            <div ng-if="mailSettings.notifyemails.emailsettings.ConfirmDateEmail">
                                <span>@T("Admin.SettingsMail.EmailSettings.Status")</span>
                                <span class="text-success">@T("Admin.SettingsMail.EmailSettings.Confirmed")</span>
                            </div>

                            <div ng-if="!mailSettings.notifyemails.emailsettings.ConfirmDateEmail">
                                <span>@T("Admin.SettingsMail.EmailSettings.Status")</span> <span class="text-danger">@T("Admin.SettingsMail.EmailSettings.NotConfirmed")</span>

                                <a href="javascript:void(0)" ng-click="mailSettings.updateStatus(mailSettings.notifyemails.emailsettings)">@T("Admin.SettingsMail.EmailSettings.Update")</a>

                            </div>

                            @*<div ng-if="!mailSettings.notifyemails.emailsettings.ConfirmDateEmail && mailSettings.notifyemails.emailsettings.FromEmail != null">
                                <a href="javascript:void(0)" ng-click="mailSettings.sendValidate()">@T("Admin.SettingsMail.EmailSettings.SendConfirmationEmail")</a>
                            </div>*@
                        </div>
                    </div>
                </div>
                <div class="relative">
                    @Html.Raw(Model.HtmlMessage)                   
                </div>
                <div class="m-t-sm">
                    <ui-modal-trigger data-controller="'ModalEmailSettingsUpdateAddressCtrl'"
                                      template-url="../areas/admin/content/src/mailSettings/modal/updateAddress/updateAddress.html"
                                      data-resolve="{value: {email: mailSettings.notifyemails.emailsettings.FromEmail }}"
                                      data-on-close="mailSettings.onUpdateAddress(result)">
                        <button type="button" class="btn btn-sm btn-success">
                            Подключить свой email адрес
                        </button>
                    </ui-modal-trigger>
                    <div class="email-settings-note" ng-if="mailSettings.isEmailDemo(mailSettings.notifyemails.emailsettings.FromEmail) === true">
                        <div class="email-settings-note__title">Внимание:</div>
                        У Вас настроен демонстрационный Email адрес, через него нельзя осуществлять массовую рассылку email сообщений. Вам необходимо подключить свой Email адрес. Желательно чтобы это был адрес вида
                        <strong>info@@ваш-домен.ru</strong>
                        <br />
                        <a href="https://www.advantshop.net/help/pages/nastroiky-pochti-na-domene" target="_blank">Инструкция по настройке своей почты на домене</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row middle-xs">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    @T("Admin.Settings.NotifyEMails.SenderName")
                </div>
            </div>
            <div class="col-xs-4 relative">
                @Html.TextBoxFor(x => x.FromName, new { @class = "form-control input-small", ng_model = "mailSettings.notifyemails.emailsettings.FromName", required = "true", validation_input_text = T("Admin.Settings.NotifyEMails.SenderName") })
                <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" data-title="@T("Admin.Settings.NotifyEMails.SenderName")">
                    <div class="help-content">
                        @T("Admin.SettingsMail.EmailSettings.SenderName")<br>
                    </div>
                </help-trigger>
            </div>
        </div>
    </div>
    <div ng-switch-when="false">
        <div class="form-group row middle-xs">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    @T("Admin.Settings.NotifyEMails.SMTP")
                </div>
            </div>
            <div class="col-xs-4 relative">
                @Html.TextBoxFor(x => x.SMTP, new { @class = "form-control input-small", ng_model = "mailSettings.notifyemails.emailsettings.SMTP", required = "true", validation_input_text = T("Admin.Settings.NotifyEMails.SMTP") })
                <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" data-title="@T("Admin.Settings.NotifyEMails.SMTP")">
                    <div class="help-content">
                        @T("Admin.SettingsMail.EmailSettings.SMTP")<br>
                        <br>
                        @T("Admin.SettingsMail.EmailSettings.ForExampleYandex")<b>smtp.yandex.ru</b><br>
                        @T("Admin.SettingsMail.EmailSettings.EachProviderHaveOwnSMTP")
                    </div>
                </help-trigger>
            </div>
        </div>

        <div class="form-group row middle-xs">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    @T("Admin.Settings.NotifyEMails.Port")
                </div>
            </div>
            <div class="col-xs-4 relative">
                @Html.TextBoxFor(x => x.Port, new { @class = "form-control input-small", ng_model = "mailSettings.notifyemails.emailsettings.Port", type = "number", required = "true", validation_input_text = T("Admin.Settings.NotifyEMails.Port") })
                <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" data-title="@T("Admin.Settings.NotifyEMails.Port")">
                    <div class="help-content">
                        @T("Admin.SettingsMail.EmailSettings.Port")<br>
                        @T("Admin.SettingsMail.EmailSettings.ForExample")<b>25</b>
                    </div>
                </help-trigger>
            </div>
        </div>
    </div>

    <div>
        <div class="form-group row middle-xs">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    @T("Admin.Settings.NotifyEMails.ImapHost")
                </div>
            </div>
            <div class="col-xs-4 relative">
                @Html.TextBoxFor(x => x.ImapHost, new { @class = "form-control input-small", ng_model = "mailSettings.notifyemails.emailsettings.imapHost", validation_input_text = T("Admin.Settings.NotifyEMails.ImapHost") })
                <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" data-title="@T("Admin.Settings.NotifyEMails.ImapHost")">
                    <div class="help-content">
                        @T("Admin.SettingsMail.EmailSettings.IMAP")<br>@T("Admin.SettingsMail.EmailSettings.OptionalField")<br>
                        <br>
                        @T("Admin.SettingsMail.EmailSettings.ForYandex")<b>imap.yandex.ru</b>, @T("Admin.SettingsMail.EmailSettings.PortSingle"): 933, @T("Admin.SettingsMail.EmailSettings.For") google: <b>imap.gmail.com</b>, @T("Admin.SettingsMail.EmailSettings.PortSingle"): 933<br><br>
                        @T("Admin.SettingsMail.EmailSettings.EachProviderHasOwnIMAP")
                    </div>
                </help-trigger>
            </div>
        </div>

        <div class="form-group row middle-xs">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    @T("Admin.Settings.NotifyEMails.ImapPort")
                </div>
            </div>
            <div class="col-xs-4 relative">
                @Html.TextBoxFor(x => x.ImapPort, new { @class = "form-control input-small", ng_model = "mailSettings.notifyemails.emailsettings.imapPort", type = "number", validation_input_text = T("Admin.Settings.NotifyEMails.Port") })
                <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" data-title="@T("Admin.Settings.NotifyEMails.ImapPort")">
                    <div class="help-content">
                        @T("Admin.SettingsMail.EmailSettings.IMAPOptionalField")
                    </div>
                </help-trigger>
            </div>
        </div>

        <div class="form-group row middle-xs">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    @T("Admin.Settings.NotifyEMails.Login")
                </div>
            </div>
            <div class="col-xs-4 relative">
                @Html.TextBoxFor(x => x.Login, new { @class = "form-control input-small", ng_model = "mailSettings.notifyemails.emailsettings.Login", required = "true", ng_if = "!mailSettings.UseAdvantshopMail", validation_input_text = T("Admin.Settings.NotifyEMails.Login") })
                @Html.TextBoxFor(x => x.Login, new { @class = "form-control input-small", ng_model = "mailSettings.notifyemails.emailsettings.Login", ng_if = "mailSettings.UseAdvantshopMail", validation_input_text = T("Admin.Settings.NotifyEMails.Login") })
                <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" data-title="@T("Admin.Settings.NotifyEMails.Login")">
                    <div class="help-content">
                        @T("Admin.SettingsMail.EmailSettings.LoginForMailBox")<br>
                        <br>
                        @T("Admin.SettingsMail.EmailSettings.ForExample")<b>myemail@yandex.ru</b>
                    </div>
                </help-trigger>
            </div>
        </div>

        <div class="form-group row middle-xs">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    @T("Admin.Settings.NotifyEMails.Password")
                </div>
            </div>
            <div class="col-xs-4 relative">
                @Html.PasswordFor(x => x.Password, new { @class = "form-control input-small", ng_model = "mailSettings.notifyemails.emailsettings.Password", ng_init = "mailSettings.notifyemails.emailsettings.Password='" + Model.PasswordCompare + "'", validation_input_text = T("Admin.Settings.NotifyEMails.Password") })
                @Html.HiddenFor(x => x.PasswordCompare, new { ng_model = "mailSettings.notifyemails.emailsettings.PasswordCompare" })
                <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" data-title="@T("Admin.Settings.NotifyEMails.Password")">
                    <div class="help-content">
                        @T("Admin.SettingsMail.EmailSettings.PasswordForMailBox")<br><br>
                        @T("Admin.SettingsMail.EmailSettings.ChangePassword")
                        <br><br>
                        @T("Admin.SettingsMail.EmailSettings.ForExample")<b>MySuperPass123</b>
                    </div>
                </help-trigger>
                @if (CustomerContext.IsDebug)
                {
                    <div>@Model.Password</div>
                }
            </div>
        </div>

        <div class="form-group row middle-xs">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    @T("Admin.Settings.NotifyEMails.SSL")
                </div>
            </div>
            <div class="col-xs-4">
                <label class="adv-checkbox-label">
                    @Html.CheckBoxFor(x => x.SSL, new { @class = "adv-checkbox-input", ng_model = "mailSettings.notifyemails.emailsettings.SSL", ng_init = "mailSettings.notifyemails.emailsettings.SSL=" + Model.SSL.ToString().ToLower() })
                    <span class="adv-checkbox-emul" data-e2e="SSL"></span>
                </label>
                <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.NotifyEMails.SSL")">
                    <div class="help-content">
                        @T("Admin.SettingsMail.EmailSettings.SSL")<br>
                        @T("Admin.SettingsMail.EmailSettings.InMostCases")
                    </div>
                </help-trigger>
            </div>
        </div>
    </div>

    <div ng-switch-when="false">
        <div class="form-group row middle-xs">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    @T("Admin.Settings.NotifyEMails.From")
                </div>
            </div>
            <div class="col-xs-4 relative">
                @Html.TextBoxFor(x => x.From, new { @class = "form-control input-small", ng_model = "mailSettings.notifyemails.emailsettings.From", type = "email", required = "true", validation_input_text = T("Admin.Settings.NotifyEMails.From") })
                <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" data-title="@T("Admin.Settings.NotifyEMails.From")">
                    <div class="help-content">
                        @T("Admin.SettingsMail.EmailSettings.ThisEmailWillUseAsAdress")<br>
                        @T("Admin.SettingsMail.EmailSettings.NoteThisSetting")<br>
                        <br>
                        @T("Admin.SettingsMail.EmailSettings.BoxFullName")<br>
                        <br>
                        @T("Admin.SettingsMail.EmailSettings.ForExample")<b>myemail@yandex.ru</b>
                    </div>
                </help-trigger>
            </div>
        </div>

        <div class="form-group row middle-xs">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    @T("Admin.Settings.NotifyEMails.SenderName")
                </div>
            </div>
            <div class="col-xs-4 relative">
                @Html.TextBoxFor(x => x.SenderName, new { @class = "form-control input-small", ng_model = "mailSettings.notifyemails.emailsettings.SenderName" })
                <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" data-title="@T("Admin.Settings.NotifyEMails.SenderName")">
                    <div class="help-content">
                        @T("Admin.SettingsMail.EmailSettings.ThisNameWillUseAsSignature")<br>
                        @T("Admin.SettingsMail.EmailSettings.HtmlTagsNotAllowed")<br>
                        @T("Admin.SettingsMail.EmailSettings.ForExample")<b>@T("Admin.SettingsMail.EmailSettings.MyStoreAtPlatform")</b>
                    </div>
                </help-trigger>
            </div>
        </div>
    </div>

    <div class="form-group"
         ng-if="mailSettings.notifyemails.emailsettings.imapHost != null && mailSettings.notifyemails.emailsettings.imapHost != null &&
                mailSettings.notifyemails.emailsettings.Login != null && mailSettings.notifyemails.emailsettings.Password != null">
        <button type="button" class="btn btn-sm btn-success" ng-click="mailSettings.testImap()"
                ladda="mailSettings.sendingImapProgress" ng-disabled="emailSettingsForm.$invalid || emailSettingsForm.modified" data-e2e="testImap">
            @T("Admin.Settings.NotifyEMails.TestImap")
        </button>
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-8">
        <div class="adv-panel-info">
            <a href="http://www.advantshop.net/help/pages/email-google-yandex" target="_blank">@T("Admin.SettingsMail.EmailSettings.Instructions.SettingUpEmail")</a>
        </div>
    </div>
</div>



<div bs-modifiable="false" name="mailSettingsTestForm">
    <div class="setting-title">
        <h3>@T("Admin.Settings.NotifyEMails.SendTestMessage")</h3>
    </div>

    <div class="form-group row middle-xs">
        <div class="col-xs-3 flex middle-xs">
            <div class="setting-label-wrap">
                @T("Admin.Settings.NotifyEMails.To")
            </div>

        </div>
        <div class="col-xs-4">
            @Html.TextBox("To", null, new { @class = "form-control input-small", ng_model = "mailSettings.notifyemails.testSend.To" })
        </div>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.NotifyEMails.To")">
            @T("Admin.Settings.NotifyEMails.ToHint")
        </help-trigger>
    </div>

    <div class="form-group row middle-xs">
        <div class="col-xs-3 flex middle-xs">
            <div class="setting-label-wrap">
                @T("Admin.Settings.NotifyEMails.Subject")
            </div>

        </div>
        <div class="col-xs-4">
            @Html.TextBox("Subject", null, new { @class = "form-control input-small", ng_model = "mailSettings.notifyemails.testSend.Subject" })
        </div>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.NotifyEMails.Subject")">
            @T("Admin.Settings.NotifyEMails.SubjectHint")
        </help-trigger>
    </div>

    <div class="form-group row middle-xs">
        <div class="col-xs-3 flex middle-xs">
            <div class="setting-label-wrap">
                @T("Admin.Settings.NotifyEMails.Body")
            </div>
        </div>
        <div class="col-xs-4">
            @Html.TextArea("Body", null, new { @class = "form-control input-small", ng_model = "mailSettings.notifyemails.testSend.Body", rows = "10" })
        </div>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.NotifyEMails.Body")">
            @T("Admin.Settings.NotifyEMails.BodyHint")
        </help-trigger>
    </div>

    <button type="button" class="btn btn-sm btn-success" ng-click="mailSettings.sendTestMessage(mailSettings.notifyemails.testSend)"
            ladda="mailSettings.sendingProgress" ng-disabled="emailSettingsForm.$invalid || emailSettingsForm.modified">
        @T("Admin.Settings.NotifyEMails.Send")
    </button>

    <div ng-if="emailSettingsForm.$invalid || emailSettingsForm.modified" class="m-t">
        <span class="error-color">@T("Admin.SettingsMail.EmailSettings.SaveSettings")</span>
    </div>
</div>
