@model AdvantShop.Web.Admin.Models.Settings.SettingsMail.MailSettingsModel

<div data-ng-controller="SettingsSmsCtrl as settingsSms">
    <div class="setting-title m-t-none">
        <h3 class="font-bold">SMS уведомления</h3>
    </div>
    <div class="form-group row middle-xs">
        <div class="col-xs-3">
            <div class="setting-label-wrap">
                @Html.LabelFor(x => x.ActiveSmsModule, "Подключенный SMS-модуль")
            </div>
        </div>
        <div class="col-xs-6 relative">
            @Html.DropDownListFor(x => x.ActiveSmsModule, Model.SmsModules, new { @class = "form-control", ng_model = "settingsSms.activeSmsModule" })
            <div class="m-t-sm">
                <a href="@Url.Action("Market", "Modules", new {name = "sms"})" target="_blank">Найти и установить модули SMS-информирования</a>
            </div>
        </div>
    </div>

    <div ng-show="settingsSms.activeSmsModule != null && settingsSms.activeSmsModule != '-1'" class="ng-cloack">

        <div class="form-group row">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    @Html.LabelFor(x => x.AdminPhone, "Номер телефона администратора")
                </div>
            </div>
            <div class="col-xs-6 relative">
                @Html.TextBoxFor(x => x.AdminPhone, new { @class = "form-control", ng_model = "settingsSms.AdminPhone", mask_control = "",  mask_control_preset = "phone" })
                <help-trigger class="ng-cloak help-trigger-icon-abs">
                    Номер телефона администратора (79091234567, 79091234567, и т.д.)
                </help-trigger>
            </div>
        </div>

        <div class="setting-title">
            <h3>Уведомления по заказам</h3>
        </div>

        <div class="form-group row m-t-lg">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    @Html.LabelFor(x => x.SendSmsToCustomerOnNewOrder, "Отправлять уведомления при создании заказа")
                </div>
            </div>
            <div class="col-xs-6 relative">
                <div>
                    <label class="adv-checkbox-label">
                        @Html.CheckBoxFor(x => x.SendSmsToCustomerOnNewOrder, new { @class = "adv-checkbox-input", ng_model = "settingsSms.SendSmsToCustomerOnNewOrder" })
                        <span class="adv-checkbox-emul"></span>
                        Пользователю
                    </label>
                </div>
                <div>
                    <label class="adv-checkbox-label">
                        @Html.CheckBoxFor(x => x.SendSmsToAdminOnNewOrder, new { @class = "adv-checkbox-input", ng_model = "settingsSystem.SendSmsToAdminOnNewOrder" })
                        <span class="adv-checkbox-emul"></span>
                        Администратору
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    @Html.LabelFor(x => x.SmsTextOnNewOrder, "Текст sms")
                </div>
            </div>
            <div class="col-xs-6 relative">
                @Html.TextAreaFor(x => x.SmsTextOnNewOrder, new { @class = "form-control", ng_model = "settingsSms.SmsTextOnNewOrder" })
            </div>
        </div>

        <div class="form-group row m-t-lg">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    @Html.LabelFor(x => x.SendSmsToCustomerOnNewOrder, "Отправлять уведомления при изменении статуса заказа")
                </div>
            </div>
            <div class="col-xs-6 relative">
                <div>
                    <label class="adv-checkbox-label">
                        @Html.CheckBoxFor(x => x.SendSmsToCustomerOnOrderStatusChanging, new { @class = "adv-checkbox-input", ng_model = "settingsSms.SendSmsToCustomerOnOrderStatusChanging" })
                        <span class="adv-checkbox-emul"></span>
                        Пользователю
                    </label>
                </div>
                <div>
                    <label class="adv-checkbox-label">
                        @Html.CheckBoxFor(x => x.SendSmsToAdminOnOrderStatusChanging, new { @class = "adv-checkbox-input", ng_model = "settingsSms.SendSmsToAdminOnOrderStatusChanging" })
                        <span class="adv-checkbox-emul"></span>
                        Администратору
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group row m-t-lg">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    Шаблоны SMS при смене статусов
                </div>
            </div>
            <div class="col-xs-9 relative">
                <ui-grid-custom grid-unique-id="gridSmsTemplates"
                                grid-row-identificator="'Id'"
                                grid-on-init="settingsSms.gridOnInit(grid)"
                                grid-options="settingsSms.gridOptions"
                                grid-url="'settingsSms/getList'"
                                grid-inplace-url="'settingsSms/inplace'"
                                grid-extend-ctrl="settingsSms">
                </ui-grid-custom>

                <div>
                    <ui-modal-trigger data-controller="'ModalAddEditSmsTemplateOnOrderChangingCtrl'" controller-as="ctrl" size="lg"
                                      template-url="../areas/admin/content/src/settingsSms/modal/addEditSmsTemplateOnOrderChanging/addEditSmsTemplateOnOrderChanging.html"
                                      data-on-close="settingsSms.grid.fetchData()">
                        <a href="" class="btn btn-sm btn-success" data-e2e="btnAdd">
                            Добавить шаблон
                        </a>
                    </ui-modal-trigger>
                </div>
            </div>
        </div>

        <div class="form-group row m-t-lg">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    Доступные переменные в SMS
                </div>
            </div>
            <div class="col-xs relative">
                #FIRST_NAME#, #LAST_NAME#, #FULL_NAME#<br>
                #ORDER_NUMBER# - Номер заказа<br>
                #ORDER_SUM# - Сумма заказа<br>
                #ORDER_STATUS# - Статус заказа<br>
                #STATUS_COMMENT# - Комментарий к статусу заказа<br>
                #PAYMENT_NAME# - Метод оплаты<br>
                #SHIPPING_NAME# - Метод доставки<br>
                #PICKPOINT_ADDRESS# - Пункт выдачи<br>
                #TRACKNUMBER# - Номер отслеживания заказа<br>
                #PAY_STATUS# - Оплата: @T("Core.Orders.Order.PaySpend"), @T("Core.Orders.Order.PayCancel")<br>
                #BILLING_SHORTLINK# - Короткая ссылка на оплату
            </div>
        </div>

        <div class="setting-title">
            <h3>Уведомления по лидам</h3>
        </div>

        <div class="form-group row m-t-lg">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    @Html.LabelFor(x => x.SendSmsToAdminOnNewLead, "Отправлять уведомления при создании лида")
                </div>
            </div>
            <div class="col-xs-6 relative">
                @*<div>
                    <label class="adv-checkbox-label">
                        @Html.CheckBoxFor(x => x.SendSmsToCustomerOnNewLead, new { @class = "adv-checkbox-input", ng_model = "settingsSms.SendSmsToCustomerOnNewLead" })
                        <span class="adv-checkbox-emul"></span>
                        Пользователю
                    </label>
                </div>*@
                <div>
                    <label class="adv-checkbox-label">
                        @Html.CheckBoxFor(x => x.SendSmsToAdminOnNewLead, new { @class = "adv-checkbox-input", ng_model = "settingsSystem.SendSmsToAdminOnNewLead" })
                        <span class="adv-checkbox-emul"></span>
                        Администратору
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    @Html.LabelFor(x => x.SmsTextOnNewLead, "Текст sms")
                </div>
            </div>
            <div class="col-xs-6 relative">
                @Html.TextAreaFor(x => x.SmsTextOnNewLead, new { @class = "form-control", ng_model = "settingsSms.SmsTextOnNewLead" })
            </div>
        </div>

        <div class="form-group row m-t-lg">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    Доступные переменные в SMS
                </div>
            </div>
            <div class="col-xs relative">
                #FIRST_NAME#, #LAST_NAME#, #FULL_NAME#<br>
                #TITLE# - Заголовок лида<br>
                #LEAD_SUM# - Сумма лида<br>
                #SALES_FUNNEL# - Список лидов<br>
                #DEAL_STATUS# - Этап сделки<br>
                #SHIPPING_NAME# - Метод доставки<br>
                #PICKPOINT_ADDRESS# - Пункт выдачи<br>
                #STORE_NAME# - Название магазина
            </div>
        </div>

        <div class="setting-title">
            <h3>Отправка пробного sms-сообщения</h3>
        </div>

        <div class="form-group row">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    Телефон
                </div>
            </div>
            <div class="col-xs-3 relative">
                <input type="text" ng-model="settingsSms.testPhone" class="form-control" data-mask-control  data-mask-control-preset="phone" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-3">
                <div class="setting-label-wrap">
                    Текст sms
                </div>
            </div>
            <div class="col-xs-6 relative">
                <textarea ng-model="settingsSms.testSmsText" class="form-control"></textarea>
                <div class="m-t">
                    <button type="button" class="btn btn-sm btn-success"
                            ng-click="settingsSms.sendTestSms(settingsSms.testPhone, settingsSms.testSmsText)"
                            ng-disabled="settingsSms.testPhone == null || settingsSms.testPhone.length == 0 || settingsSms.testSmsText == null || settingsSms.testSmsText.length == 0">
                        Отправить
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>