@using AdvantShop.Core.Services.Admin
@model AdvantShop.Web.Admin.Models.Settings.SettingsMail.MailSettingsModel
@{
    Layout = "~/Areas/Admin/Views/Settings/_SettingsLayout.cshtml";
    var isAdminv3 = AdminAreaTemplate.Current == "adminv3";
}
@using (Html.BeginForm("Index", "SettingsMail", FormMethod.Post, new { enctype = "multipart/form-data", name = "form", novalidate = "novalidate" }))
{
    @Html.AntiForgeryToken()

    <div class="sticky-page-name p-n m-n" sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner header-hidden">
            <div class="page-name-block-item-main">
                <h1 class="page-name-block-text sticky-page-name-text">
                    <span class="float-header-page" ng-bind="mailSettings.floatHeader"></span>
                </h1>
            </div>
            <div class="page-name-block-item-additional">
                <input type="submit" class="btn btn-sm btn-success" value="@T("Admin.Settings.Save")" data-button-validation disabled ng-disabled="!form.modified" />
            </div>
        </div>
    </div>

    if (isAdminv3)
    {
        @Html.Back("Настройки", Url.Action("Index", "Settings"))
        <div class="sticky-page-name">
            <div class="row middle-xs">
                <div class="col-xs-6">
                    <h1 class="page-name-block-text">@T("Admin.Settings.Commonpage.Settingsmail")</h1>
                </div>
                <div class="col-xs-6">
                    <div class="text-right">
                        <input type="submit" class="btn btn-sm btn-success btn--margin-left" value="@T("Admin.Settings.Save")" data-button-validation disabled ng-disabled="!form.modified" data-e2e="BtnSaveMailSettings" />
                    </div>
                </div>
            </div>
        </div>
    }

        <uib-tabset uid="notifyTab" on-select-batch="mailSettings.floatHeader = tab.heading;">
            <uib-tab index="'notifications'" heading="@T("Admin.Settings.NotifyEMails.Notifications")" classes="ng-tab">
                @Html.Partial("_Notifications", Model)
            </uib-tab>
            <uib-tab index="'emailsettings'" classes="ng-tab" heading="@T("Admin.Settings.NotifyEMails.EmailSettings")">
                <uib-tab-heading ng-class="{'tab-warning' : emailSettingsForm.$invalid && emailSettingsForm.$dirty}">
                    @T("Admin.Settings.NotifyEMails.EmailSettings")
                    <span ng-if="emailSettingsForm.$invalid && emailSettingsForm.$dirty" class="fa fa-exclamation-triangle tab-warning-icon"></span>
                    <span ng-if="!emailSettingsForm.$invalid && emailSettingsForm.modified" class="fa fa-floppy-o tab-warning-icon"></span>
                </uib-tab-heading>
                <ng-form name="emailSettingsForm" validation-tab-index="'emailsettings'">
                    @Html.Partial("_EmailSettings", Model)
                </ng-form>
            </uib-tab>
            <uib-tab index="'formats'" heading="@T("Admin.Settings.NotifyEMails.MailFormats")" classes="ng-tab" removable="true">
                <uib-tab-heading ng-class="{'tab-warning' : mailFormatsForm.$invalid && mailFormatsForm.$dirty}">
                    @T("Admin.Settings.NotifyEMails.MailFormats")
                    <span ng-if="mailFormatsForm.$invalid && mailFormatsForm.$dirty" class="fa fa-exclamation-triangle tab-warning-icon"></span>
                    <span ng-if="!mailFormatsForm.$invalid && mailFormatsForm.modified" class="fa fa-floppy-o tab-warning-icon"></span>
                </uib-tab-heading>
                <ng-form name="mailFormatsForm" validation-tab-index="'mailFormatsForm'">
                    @Html.Partial("_MailFormats", Model)
                </ng-form>
            </uib-tab>

            <uib-tab index="'templates'" heading="@T("Admin.Settings.NotifyEMails.MailAnswerTemplates")" classes="ng-tab" removable="true">
                <uib-tab-heading ng-class="{'tab-warning' : mailAnswerTemplatesForm.$invalid && mailAnswerTemplatesForm.$dirty}">
                    @T("Admin.Settings.NotifyEMails.MailAnswerTemplates")
                    <span ng-if="mailAnswerTemplatesForm.$invalid && mailAnswerTemplatesForm.$dirty" class="fa fa-exclamation-triangle tab-warning-icon"></span>
                    <span ng-if="!mailAnswerTemplatesForm.$invalid && mailAnswerTemplatesForm.modified" class="fa fa-floppy-o tab-warning-icon"></span>
                </uib-tab-heading>
                <ng-form name="mailAnswerTemplatesForm" validation-tab-index="'mailAnswerTemplatesForm'">
                    @Html.Partial("_MailAnswerTemplates", Model)
                </ng-form>
            </uib-tab>

            <uib-tab index="'sms'" heading="SMS уведомления" classes="ng-tab">
                <uib-tab-heading ng-class="{'tab-warning' : smsForm.$invalid && smsForm.$dirty}">
                    SMS уведомления
                    <span ng-if="smsForm.$invalid && smsForm.$dirty" class="fa fa-exclamation-triangle tab-warning-icon"></span>
                    <span ng-if="!smsForm.$invalid && smsForm.modified" class="fa fa-floppy-o tab-warning-icon"></span>
                </uib-tab-heading>
                <ng-form name="smsForm" validation-tab-index="'smsForm'">
                    @Html.Partial("_Sms", Model)
                </ng-form>
            </uib-tab>

            <uib-tab index="'smstemplates'" heading="@T("Admin.Settings.NotifyEMails.SmsAnswerTemplates")" classes="ng-tab" removable="true">
                <uib-tab-heading ng-class="{'tab-warning' : smsForm.$invalid && smsForm.$dirty}">
                    @T("Admin.Settings.NotifyEMails.SmsAnswerTemplates")
                    <span ng-if="smsForm.$invalid && smsForm.$dirty" class="fa fa-exclamation-triangle tab-warning-icon"></span>
                    <span ng-if="!smsForm.$invalid && smsForm.modified" class="fa fa-floppy-o tab-warning-icon"></span>
                </uib-tab-heading>
                <ng-form name="smsAnswerTemplatesForm" validation-tab-index="'smsAnswerTemplatesForm'">
                    @Html.Partial("_SmsAnswerTemplates", Model)
                </ng-form>
            </uib-tab>

            @if (!isAdminv3)
            {
                <div class="js-not-tabs">
                    <input type="submit" class="btn btn-sm btn-success btn--margin-left" value="@T("Admin.Settings.Save")" data-button-validation disabled ng-disabled="!form.modified" data-e2e="BtnSaveMailSettings" />
                </div>
            }
        </uib-tabset>
}


