@model List<AdvantShop.News.NewsItem>
<!--noindex-->
<article class="block news-block">
    <header class="block-head">
        <h2 class="h2">@T("News.NewsBlock.NewsTitle")</h2>
    </header>
    <div class="block-content">
        <ul class="news-block-items">
            @foreach (var newsItem in Model)
            {
                <li class="news-block-row">
                    <div class="news-block-anno">
                        <a href="@Url.AbsoluteRouteUrl("News", new { url = newsItem.UrlPath })" class="news-block-anno-link">@newsItem.Title</a>
                    </div>
                    <div class="news-block-date cs-t-3">
                        <time class="news-block-date-text" datetime="@newsItem.AddingDate.ToString("yyyy-MM-ddTHH:mm:ss")">@newsItem.AddingDate.ToString("dd MMMM yyyy")</time>
                    </div>
                </li>
            }
        </ul>
        <div class="allNews">
            <a href="@Url.AbsoluteRouteUrl("NewsHome")" class="cs-l-2">@T("News.NewsBlock.AllNews")</a>
        </div>
    </div>
</article>
<!--/noindex-->