<form novalidate name="subscribeForm" class="subscribe-block cs-bg-3" data-ng-controller="SubscribeCtrl as subscribe">
    <div class="row" data-ng-init="subscribe.form=subscribeForm">
        <div class="col-xs-12 subscribe-block-text">
            <div class="p-w-xs">@SettingsNews.MainPageText</div>
        </div>
        <div class="col-xs-12 subscribe-block-field">
            <div class="p-w-xs"> <input name="subscribeEmailField" placeholder="@T("News.NewsSubscription.Email")" type="email" value="" class="input-middle" required data-ng-model="subscribe.subscribeEmail" data-ng-model-options="{ debounce: 100 }" /></div>
        </div>
        @if (SettingsCheckout.IsShowUserAgreementText)
        {
            <div class="col-xs-12 subscribe-block-field">
                <label>
                    <span class="form-field-input vertical-interval-xsmall">
                        @Html.CheckBox("Agree", new { data_ng_model = "subscribe.agree", @class = "custom-input-native", data_ng_init = "subscribe.agree = " + SettingsCheckout.AgreementDefaultChecked.ToLowerString() })
                        <span class="custom-input-checkbox"></span>
                        @Html.Raw(SettingsCheckout.UserAgreementText)
                    </span>
                </label>
            </div>
        }
        <div class="col-xs-12 subscribe-block-button-slim">
            <div class="p-w-xs">
                <input type="submit" class="btn btn-action btn-middle btn-expander btn-subscribe" value="@T("News.NewsSubscription.Subscibe")"
                       data-button-validation
                       data-button-validation-success="subscribe.subscribeSend()">
            </div>
        </div>
    </div>
</form>
