@model AdvantShop.ViewModel.News.NewsProductsViewModel
@using AdvantShop.Helpers;

@if (Model.HasItems)
{
    var isMobile = MobileHelper.IsMobileEnabled();
    <div class="block">
        <div class="block-head">
            <div class="h3">@T("News.NewsProducts.Products")</div>
        </div>
        <div class="block-content">
            <div class="products-view products-view-tile">
                <div class="carousel product-view-carousel @(isMobile ? "news-product-carousel--mobile": "")">
                    <div class="carousel-inner">
                        <div class="product-view-carousel-list product-view-carousel-list-@(isMobile ? "horizontal" : "vertical")"
                             data-carousel
                             data-is-vertical="@(isMobile ? "false" : "true")"
                             data-visible-max="3"
                             data-stretch="@(isMobile ? "true" : "false")"
                             @Html.Raw(isMobile ? "" : "data-nav-position=\"outside\"")>
                            @Html.Partial("_ProductView", Model.Products)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}