@using AdvantShop.Core.Services.Bonuses.Model.Enums
@model List<AdvantShop.Core.Services.Bonuses.Model.Transaction>

<div>
    <div class="m-b-sm" data-e2e="LinkToAllTransactions">
        <h2 class="inline">@T("Admin.Cards.LastTransaction.TransactionHistory")</h2>
        <a href="@Url.Action("AllTransaction", new { CardId = ViewBag.CardId })" class="edit link-decoration-none">@T("Admin.Cards.LastTransaction.All")</a>
    </div>
    <div class="m-b">
        <div class="row">
            <div class="col-xs-12">
                <table id="viewTableTransaction" class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th rowspan="2" style="width: 10%">
                                @T("Admin.Cards.LastTransaction.DateAndTime")
                            </th>
                            <th colspan="3" style="width: 25%; text-align: center">
                                @T("Admin.Cards.LastTransaction.MainPoints")
                            </th>
                            <th colspan="3" style="width: 25%; text-align: center">
                                @T("Admin.Cards.LastTransaction.AdditionPoints")
                            </th>
                            <th rowspan="2" style="width: 30%">
                                @T("Admin.Cards.LastTransaction.Comment")
                            </th>
                            <th rowspan="2" style="width: 15%">
                                @T("Admin.Cards.LastTransaction.SaleNumber")
                            </th>
                        </tr>
                        <tr>
                            <th style="text-align: center">
                                @T("Admin.Cards.LastTransaction.Spent")
                            </th>
                            <th style="text-align: center">
                                @T("Admin.Cards.LastTransaction.Accrued")
                            </th>
                            <th style="text-align: center">
                                @T("Admin.Cards.LastTransaction.Balance")
                            </th>
                            <th style="text-align: center">
                                @T("Admin.Cards.LastTransaction.Spent")
                            </th>
                            <th style="text-align: center">
                                @T("Admin.Cards.LastTransaction.Accrued")
                            </th>
                            <th style="text-align: center">
                                @T("Admin.Cards.LastTransaction.Balance")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr data-e2e="TransactionId-@item.Id">
                            <td data-e2e="TransactionDate">
                                @item.CreateOn.ToString("dd.MM.yyyy HH:mm:ss")
                            </td>
                            <td data-e2e="TransactionMainBonusesUsed" @*style="color: @(item.OType == EOperationType.AddMainBonus ? "#08c" : "#cc3b3b")"*@ >
                                @if (item.OperationType == EOperationType.SubtractMainBonus || item.OperationType == EOperationType.SubtractAfiliate)
                                {
                                    @("-" + item.Amount.ToInvatiant())
                                }
                            </td>
                            <td data-e2e="TransactionMainBonusesAdded">
                                @if (item.OperationType == EOperationType.AddMainBonus || item.OperationType == EOperationType.AddAfiliate)
                                {
                                    @("+" + item.Amount.ToInvatiant())
                                }
                            </td>
                            <td data-e2e="TransactionMainBonusesSaldo">
                                @if (item.OperationType == EOperationType.AddMainBonus ||
                                     item.OperationType == EOperationType.SubtractMainBonus ||
                                     item.OperationType == EOperationType.AddAfiliate ||
                                     item.OperationType == EOperationType.SubtractAfiliate)
                                {
                                    @item.Balance.ToInvatiant()
                                }
                            </td>
                            <td data-e2e="TransactionAdditionBonusesUsed">
                                @if (item.OperationType == EOperationType.SubtractAdditionBonus)
                                {
                                    @("-" + item.Amount.ToInvatiant())
                                }
                            </td>
                            <td data-e2e="TransactionAdditionBonusesAdded">
                                @if (item.OperationType == EOperationType.AddAdditionBonus)
                                {
                                    @("+" + item.Amount.ToInvatiant())
                                }
                            </td>
                            <td data-e2e="TransactionAdditionBonusesSaldo">
                                @if (item.OperationType == EOperationType.AddAdditionBonus || item.OperationType == EOperationType.SubtractAdditionBonus)
                                {
                                    @item.Balance.ToInvatiant()
                                }
                            </td>
                            <td data-e2e="TransactionComment">
                                @item.Basis
                            </td>
                            <td data-e2e="PurchaseId">
                                @item.PurchaseId
                            </td>
                        </tr>
                        }
                        @if (Model.Count < 1)
                        {
                        <tr>
                            <td colspan="9">
                                @T("Admin.Cards.LastTransaction.NoRecordsFound")
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>