@model AdvantShop.Customers.Customer

<h2 class="m-b-sm">@T("Admin.Cards.UserInfo.PersonalInformation")</h2>

@if (Model == null)
{
    return;
}

<div>
    <div class="row middle-xs form-group">
        <div class="col-xs-4">
            @T("Admin.Cards.UserInfo.LastName")
        </div>
        <div class="block-additional-parameters-value" data-e2e="bonusCardSuname">
            @Model.LastName
        </div>
    </div>

    <div class="row middle-xs form-group">
        <div class="col-xs-4">
            @T("Admin.Cards.UserInfo.FirstName")
        </div>
        <div data-e2e="bonusCardName">
            @Model.FirstName
        </div>
    </div>

    <div class="row middle-xs form-group">
        <div class="col-xs-4">
            @T("Admin.Cards.UserInfo.CellNumber")
        </div>
        <div class="block-additional-parameters-value" data-e2e="bonusCardPhone">
            @Model.StandardPhone
        </div>
    </div>

    <div class="row middle-xs form-group">
        <div class="col-xs-4">
            Email:
        </div>
        <div data-e2e="bonusCardMail">
            @Model.EMail
        </div>
    </div>
    <div>
        <a href="@Url.Action("View", "Customers", new {id = Model.Id})" class="edit link-decoration-none">@T("Admin.Cards.UserInfo.GoOver")</a>
    </div>
</div>

