@using AdvantShop.Core.Services.Admin
@using AdvantShop.Web.Admin.Extensions;
@model AdvantShop.Web.Infrastructure.Handlers.AbstractFilterResult<AdvantShop.Core.Services.Bonuses.Model.Purchase>

@{
    if (AdminAreaTemplate.IsAdminv3())
    {
        Layout = "~/Areas/Admin/Templates/" + AdminAreaTemplate.Current + "/Views/BonusSystem/_BonusSystemLayout.cshtml";
    }
}

<div class="ibox">
    <div class="ibox-content">
        @Html.Back("Карта", Url.Action("Edit", "Cards", new { id = ViewBag.CardId }))
        <h2 class="m-b-sm clearfix">@T("Admin.Cards.AllPurchase.SalesHistory")</h2>
        <div class="m-b">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th style="width: 30px">
                                    @T("Admin.Cards.AllPurchase.SaleID")
                                </th>
                                <th style="width: 30px">
                                    @T("Admin.Cards.AllPurchase.OrderNumber")
                                </th>
                                <th style="width: 130px">
                                    @T("Admin.Cards.AllPurchase.DateAndTime")
                                </th>
                                <th>
                                    @T("Admin.Cards.AllPurchase.OrderCost")
                                </th>
                                <th>
                                    @T("Admin.Cards.AllPurchase.OrderDiscount")
                                </th>
                                <th>
                                    @T("Admin.Cards.AllPurchase.PaidWithMoney")
                                </th>
                                <th>
                                    @T("Admin.Cards.AllPurchase.PaidInMainBonuses")
                                </th>
                                <th>
                                    @T("Admin.Cards.AllPurchase.PaidInAdditionalBonuses")
                                </th>
                                <th>
                                    @T("Admin.Cards.AllPurchase.BonusesAccrued")
                                </th>
                                <th>
                                    @T("Admin.Cards.AllPurchase.Comment")
                                </th>
                                <th>
                                    @T("Admin.Cards.AllPurchase.Status")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataItems)
                            {
                                <tr data-e2e="PurchaseId-@item.Id">
                                    <td data-e2e="PurchaseId">
                                        @item.Id
                                    </td>
                                    <td data-e2e="PurchaseOrderId">
                                        @item.OrderId
                                    </td>
                                    <td data-e2e="PurchaseDate">
                                        @item.CreateOn.ToString("dd.MM.yyyy HH:mm:ss")
                                    </td>
                                    <td data-e2e="PurchaseFullAmount">
                                        @item.PurchaseFullAmount.ToString("F2")
                                    </td>
                                    <td data-e2e="PurchaseDiscount">
                                        @item.PurchaseAmount.ToString("F2")
                                    </td>
                                    <td data-e2e="PurchaseCash">
                                        @item.CashAmount.ToString("F2")
                                    </td>
                                    <td data-e2e="PurchaseMainBonuses">
                                        @item.MainBonusAmount.ToString("F2")
                                    </td>
                                    <td data-e2e="PurchaseAdditionBonuses">
                                        @item.AdditionBonusAmount.ToString("F2")
                                    </td>
                                    <td data-e2e="PurchaseAddNewBonuses">
                                        @item.NewBonusAmount.ToString("F2")
                                    </td>
                                    <td data-e2e="PurchaseComment">
                                        @item.Comment
                                    </td>
                                    <td data-e2e="PurchaseStatus">
                                        @item.Status.Localize()
                                    </td>
                                </tr>
                            }
                            @if (Model.DataItems.Count < 1)
                            {
                                <tr>
                                    <td colspan="11">
                                        @T("Admin.Cards.AllPurchase.NoRecordsFound")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @Html.BootstrapPager(Model.PageIndex, index => Url.Action("AllPurchase", "Cards", new { CardId = ViewBag.CardId, page = index }), Model.TotalItemsCount, Model.ItemsPerPage)
            </div>
        </div>
    </div>
</div>
