@using AdvantShop.Core.Services.Admin
@using AdvantShop.Core.Services.Bonuses.Model.Enums
@model AdvantShop.Web.Infrastructure.Handlers.AbstractFilterResult<AdvantShop.Core.Services.Bonuses.Model.Transaction>

@{
    if (AdminAreaTemplate.IsAdminv3())
    {
        Layout = "~/Areas/Admin/Templates/" + AdminAreaTemplate.Current + "/Views/BonusSystem/_BonusSystemLayout.cshtml";
    }
}

<div class="ibox">
    <div class="ibox-content">
        @Html.Back("Карта", Url.Action("Edit", "Cards", new { id = ViewBag.CardId }))
        <h2 class="m-b-sm clearfix">@T("Admin.Cards.AllTransaction.TransactionHistory")</h2>
        <div class="m-b">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th rowspan="2" style="width: 10%">
                                    @T("Admin.Cards.AllTransaction.DateAndTime")
                                </th>
                                <th colspan="3" style="width: 25%; text-align: center">
                                    @T("Admin.Cards.AllTransaction.MainPoints")
                                </th>
                                <th colspan="3" style="width: 25%; text-align: center">
                                    @T("Admin.Cards.AllTransaction.AdditionPoints")
                                </th>
                                <th rowspan="2" style="width: 30%">
                                    @T("Admin.Cards.AllTransaction.Comment")
                                </th>
                                <th rowspan="2" style="width: 15%">
                                    @T("Admin.Cards.AllTransaction.SaleNumber")
                                </th>
                            </tr>
                            <tr>
                                <th style="text-align: center">
                                    @T("Admin.Cards.AllTransaction.Spent")
                                </th>
                                <th style="text-align: center">
                                    @T("Admin.Cards.AllTransaction.Accrued")
                                </th>
                                <th style="text-align: center">
                                    @T("Admin.Cards.AllTransaction.Balance")
                                </th>
                                <th style="text-align: center">
                                    @T("Admin.Cards.AllTransaction.Spent")
                                </th>
                                <th style="text-align: center">
                                    @T("Admin.Cards.AllTransaction.Accrued")
                                </th>
                                <th style="text-align: center">
                                    @T("Admin.Cards.AllTransaction.Balance")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataItems)
                            {
                                <tr data-e2e="TransactionId-@item.Id">
                                    <td data-e2e="TransactionDate">
                                        @item.CreateOn.ToString("dd.MM.yyyy HH:mm:ss")
                                    </td>
                                    <td data-e2e="TransactionMainBonusesUsed" @*style="color: @(item.OType == EOperationType.AddMainBonus ? "#08c" : "#cc3b3b")"*@>
                                        @if (item.OperationType == EOperationType.SubtractMainBonus || item.OperationType == EOperationType.SubtractAfiliate)
                                        {
                                            @("-" + item.Amount.ToString("F2"))
                                        }
                                    </td>
                                    <td data-e2e="TransactionMainBonusesAdded">
                                        @if (item.OperationType == EOperationType.AddMainBonus || item.OperationType == EOperationType.AddAfiliate)
                                        {
                                            @("+" + item.Amount.ToString("F2"))
                                        }
                                    </td>
                                    <td data-e2e="TransactionMainBonusesSaldo">
                                        @if (item.OperationType == EOperationType.AddMainBonus
|| item.OperationType == EOperationType.SubtractMainBonus
|| item.OperationType == EOperationType.AddAfiliate
|| item.OperationType == EOperationType.SubtractAfiliate)
                                        {
                                            @item.Balance.ToString("F2")
                                        }
                                    </td>
                                    <td data-e2e="TransactionAdditionBonusesUsed">
                                        @if (item.OperationType == EOperationType.SubtractAdditionBonus)
                                        {
                                            @("-" + item.Amount.ToString("F2"))
                                        }
                                    </td>
                                    <td data-e2e="TransactionAdditionBonusesAdded">
                                        @if (item.OperationType == EOperationType.AddAdditionBonus)
                                        {
                                            @("+" + item.Amount.ToString("F2"))
                                        }
                                    </td>
                                    <td data-e2e="TransactionAdditionBonusesSaldo">
                                        @if (item.OperationType == EOperationType.AddAdditionBonus || item.OperationType == EOperationType.SubtractAdditionBonus)
                                        {
                                            @item.Balance.ToString("F2")
                                        }
                                    </td>
                                    <td data-e2e="TransactionComment">
                                        @item.Basis
                                    </td>
                                    <td data-e2e="PurchaseId">
                                        @item.PurchaseId
                                    </td>
                                </tr>
                            }
                            @if (Model.DataItems.Count < 1)
                            {
                                <tr>
                                    <td colspan="9">
                                        @T("Admin.Cards.AllTransaction.NoRecordsFound")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @Html.BootstrapPager(Model.PageIndex, index => Url.Action("AllTransaction", "Cards", new { CardId = ViewBag.CardId, page = index }), Model.TotalItemsCount, Model.ItemsPerPage)

            </div>
        </div>
    </div>
</div>