@using AdvantShop.Core.Services.Admin
@using AdvantShop.Web.Admin.Extensions;
@model AdvantShop.Web.Infrastructure.Handlers.AbstractFilterResult<AdvantShop.Core.Services.Bonuses.Model.PersentHistory>

@{
    if (AdminAreaTemplate.IsAdminv3())
    {
        Layout = "~/Areas/Admin/Templates/" + AdminAreaTemplate.Current + "/Views/BonusSystem/_BonusSystemLayout.cshtml";
    }
}

<div class="ibox">
    <div class="ibox-content">
        @Html.Back("Карта", Url.Action("Edit", "Cards", new { id = ViewBag.CardId }))
        <h2 class="m-b-sm clearfix">@T("Admin.Cards.HistoryPersent.ChangesHistory")</h2>
        <div class="m-b">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th style="width: 30px">
                                    @T("Admin.Cards.HistoryPersent.GradeName")
                                </th>
                                <th style="width: 30px">
                                    @T("Admin.Cards.HistoryPersent.Percent")
                                </th>
                                <th style="width: 130px">
                                    @T("Admin.Cards.HistoryPersent.ChangesDate")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataItems)
                            {
                                <tr>
                                    <td data-e2e="GradeName">
                                        @item.GradeName
                                    </td>
                                    <td data-e2e="BonusPersent">
                                        @item.BonusPersent.ToString("F2")
                                    </td>
                                    <td data-e2e="CreateOn">
                                        @item.CreateOn.ToString("dd.MM.yyyy HH:mm:ss")
                                    </td>
                                </tr>
                            }
                            @if (Model.DataItems.Count < 1)
                            {
                                <tr>
                                    <td colspan="11">
                                        @T("Admin.Cards.HistoryPersent.NoRecordsFound")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @Html.BootstrapPager(Model.PageIndex, index => Url.Action("HistoryPersent", "Cards", new { CardId = ViewBag.CardId, page = index }), Model.TotalItemsCount, Model.ItemsPerPage)
            </div>
        </div>
    </div>
</div>
