@using AdvantShop.Saas;
@model AdvantShop.Web.Admin.ViewModels.Design.MenuJsonModel


<ul role="menu" class="side-menu-submenu dropdown-menu submenu vertical-menu" data-submenu>
    <li class="dropdown-submenu" data-submenu-parent>
        <a href="@Url.Action("Index")" class="dropdown-menu-link">
            Дизайн
        </a>
    </li>
    <li class="dropdown-submenu" data-submenu-parent>
        <a href="@Url.Action("Index", "SettingsTemplate")" class="dropdown-menu-link">
            Параметры магазина
        </a>
    </li>
    <li class="dropdown-submenu" data-submenu-parent>
        <a href="@Url.Action("MobileVersion", "Settings")" class="dropdown-menu-link">
            Мобильная версия
        </a>
    </li>
    <li class="dropdown-submenu" data-submenu-parent>
        <a href="@Url.Action("Index", "MainPageProductsStore")" class="dropdown-menu-link">
            @T("Admin.Home.Menu.MainPageProducts")
        </a>
    </li>
    <li class="dropdown-submenu" data-submenu-parent>
        <a href="@Url.Action("Index", "Menus")" class="dropdown-menu-link">
            Меню
        </a>
    </li>
    <li class="dropdown-submenu" data-submenu-parent>
        <a href="@Url.Action("Index", "Carousel")" class="dropdown-menu-link">
            Карусель
        </a>
    </li>
    <li class="dropdown-submenu" data-submenu-parent>
        <a href="@Url.Action("Index", "StaticPages")" class="dropdown-menu-link">
            Страницы
        </a>
    </li>
    <li class="dropdown-submenu" data-submenu-parent>
        <a href="@Url.Action("Index", "StaticBlock")" class="dropdown-menu-link">
            Статические блоки
        </a>
    </li>
    <li class="dropdown-submenu" data-submenu-parent>
        <a href="@Url.Action("Index", "Files")" class="dropdown-menu-link">
            Файлы
        </a>
    </li>

    @if (SaasDataService.IsEnabledFeature(ESaasProperty.HaveMobileApp))
    {
        <li class="dropdown-submenu" data-submenu-parent>
            <a href="@Url.Action("MobileApp", "Settings")" class="dropdown-menu-link">
                Мобильное приложение
            </a>
        </li>
    }
</ul>