@using AdvantShop.ExportImport
@model AdvantShop.Web.Admin.Models.Catalog.ExportFeeds.ExportFeedModel

<div class="container-fluid">
    <div class="form-group row">
        <h2 class="inline content-header col-xs-12">@T("Admin.ExportFeeds.ChoiceOfProducts.ChoiceOfProducts")</h2>
        <div class="col-xs-12">
            <div class="block-additional-parameters-value" data-ng-init="exportFeeds.CommonSettings.ExportCatalogType='@Model.ExportCatalogType.ToString()'">
                <label class="adv-radio-label" data-e2e="@EExportFeedCatalogType.AllProducts.ToString()">
                    @T("Admin.ExportFeeed.СhoiceOfProducts.AllProducts")
                    <input type="radio" class="adv-radio-input" name="exportCatalogType" value="@EExportFeedCatalogType.AllProducts.ToString()" data-ng-model="exportFeeds.CommonSettings.ExportCatalogType" />
                    <span class="adv-radio-emul"></span>
                </label>
                <label class="adv-radio-label" data-e2e="@EExportFeedCatalogType.Categories.ToString()">
                    @T("Admin.ExportFeeed.СhoiceOfProducts.ChoiceOfCategories")
                    <input type="radio" class="adv-radio-input" name="exportCatalogType" value="@EExportFeedCatalogType.Categories.ToString()" data-ng-model="exportFeeds.CommonSettings.ExportCatalogType" />
                    <span class="adv-radio-emul"></span>
                </label>
                <ui-modal-trigger class="header-subtext" data-controller="'ModalExportProductsSelectvizrCtrl'" controller-as="ctrl" size="xs-10"
                                  on-close="productlists.addProductsModal(result)"
                                  data-resolve="{value:{exportFeedId:@Model.Id, allowIncludedProducts: @((Model.Type == EExportFeedType.YandexMarket).ToString().ToLower())}}"
                                  template-url="../areas/admin/content/src/_shared/modal/export-products-selectvizr/exportProductsSelectvizrModal.html"
                                  data-ng-if="exportFeeds.CommonSettings.ExportCatalogType=='@EExportFeedCatalogType.Categories.ToString()'">
                    <a data-e2e="product_ProductListAdd">
                        @T("Admin.ExportFeeds.ChoiceOfProducts.ExcludeGoodsFromUnloading")
                    </a>
                </ui-modal-trigger>
            </div>
        </div>
    </div>
    <div class="form-group row" ng-if="exportFeeds.CommonSettings.ExportCatalogType=='@EExportFeedCatalogType.Categories.ToString()'">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-6">
            <div js-tree tree-ajax="exportfeeds/categoriestree?ExportFeedId=@Model.Id"
                 tree-events="check_node:exportFeeds.treeCallbacks.check_node;select_node:exportFeeds.treeCallbacks.select_node;deselect_node:exportFeeds.treeCallbacks.deselect_node;"
                 tree-plugins="checkbox" tie-selection="false" tree-checkbox="{cascade: 'down', three_state: false }"></div>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="form-group row" ng-if="exportFeeds.CommonSettings.ExportCatalogType=='@EExportFeedCatalogType.AllProducts.ToString()'">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-6">
            @T("Admin.ExportFeeds.ChoiceOfProducts.ExportAllGoods")
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="row">
        <button class="btn btn-sm btn-success" data-e2e="Export" type="button" ng-click="@("exportFeeds.startExport()")">
            @T("Admin.ExportFeeed.СhoiceOfProducts.Export")
        </button>
    </div>
</div>