@model AdvantShop.Web.Admin.Models.Catalog.ExportFeeds.ExportFeedSettingsResellerModel

@Html.HiddenFor(x => Model.CsvSeparator, new { @class = "form-control", ng_model = "exportFeeds.AdvancedSettings.CsvSeparator", ng_init = "exportFeeds.AdvancedSettings.CsvSeparator='" + Model.CsvSeparator + "'" })
@Html.HiddenFor(x => Model.CsvColumSeparator, new { @class = "form-control", ng_model = "exportFeeds.AdvancedSettings.CsvColumSeparator", ng_init = "exportFeeds.AdvancedSettings.CsvColumSeparator='" + Model.CsvColumSeparator + "'" })
@Html.HiddenFor(x => Model.CsvPropertySeparator, new { @class = "form-control", ng_model = "exportFeeds.AdvancedSettings.CsvPropertySeparator", ng_init = "exportFeeds.AdvancedSettings.CsvPropertySeparator='" + Model.CsvPropertySeparator + "'" })

@Html.HiddenFor(x => Model.CsvEnconing, new { @class = "form-control", ng_model = "exportFeeds.AdvancedSettings.CsvEnconing", ng_init = "exportFeeds.AdvancedSettings.CsvEnconing='" + Model.CsvEnconing + "'" })
@Html.HiddenFor(x => Model.CsvCategorySort, new { @class = "form-control", ng_model = "exportFeeds.AdvancedSettings.CsvCategorySort", ng_init = "exportFeeds.AdvancedSettings.CsvCategorySort='" + Model.CsvCategorySort.ToLowerString() + "'" })

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.ResellerCode, T("Admin.ExportFeeed.SettingsReseller.ResellerCode"))
        </div>
    </div>
    <div class="col-xs-4">
        @Html.TextBoxFor(x => Model.ResellerCode, new { @class = "form-control", ng_model = "exportFeeds.AdvancedSettings.ResellerCode", @readonly = "readonly" })
    </div>
</div>

<div ng-if="exportFeeds.CommonSettings.PriceMarginInPercents == 0 && exportFeeds.CommonSettings.PriceMarginInNumbers == 0 && exportFeeds.AdvancedSettings.RecomendedPriceMargin != 0">
    <div class="form-group row">
        <div class="col-xs-6">
            <div class="adv-panel-danger">
                <span>Используйте наценку из верхней части настроек</span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-3 col-wl-2">
            <div class="setting-label-wrap">
                @Html.LabelFor(x => x.CsvSeparator, T("Admin.ExportFeeed.SettingsReseller.RecomendedPriceMargin"))
                <span cla ss="text-required"></span>
            </div>
        </div>
        <div class="col-xs-2 col-wl-2">
            @Html.TextBoxFor(x => Model.RecomendedPriceMargin, new { @class = "form-control", required = "required", ng_model = "exportFeeds.AdvancedSettings.RecomendedPriceMargin", validation_input_text = T("Admin.ExportFeeed.SettingsCsv.RecomendedPriceMargin"), ng_pattern = "/^[0-9]*$/" })
        </div>
        <div class="col-xs-3 col-wl-2">
            @Html.DropDownList("ddlRecomendedPriceMarginType", new SelectList(Model.RecomendedPriceMarginTypeList, "Key", "Value", Model.RecomendedPriceMarginType), new { @class = "form-control", ng_init = "exportFeeds.AdvancedSettings.RecomendedPriceMarginType='" + Model.RecomendedPriceMarginType + "'", ng_model = "exportFeeds.AdvancedSettings.RecomendedPriceMarginType", validation_input_text = T("Admin.ExportFeeed.SettingsReseller.RecomendedPriceMargin") })
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.ExportNotAvailable, T("Admin.ExportFeed.SettingsYandex.ExportNotAvailable"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.ExportNotAvailable, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.ExportNotAvailable=" + Model.ExportNotAvailable.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.ExportNotAvailable" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak p-l-sm" data-title="@T("Admin.ExportFeeed.SettingsYandex.ExportNotAvailable")">
            <div class="help-content">
                @T("Admin.ExportFeeds.YandexMarket.UnavailableProducts")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.UploadOnlyMainCategory, T("Admin.ExportFeed.SettingsReseller.UploadOnlyMainCategory"))
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.UploadOnlyMainCategory, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.UploadOnlyMainCategory=" + Model.UploadOnlyMainCategory.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.UploadOnlyMainCategory" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>