@using AdvantShop.Core.Common.Extensions
@using AdvantShop.Core.Services.Admin
@using AdvantShop.ExportImport
@model AdvantShop.Web.Admin.Models.Catalog.ExportFeeds.ExportFeedModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    if (AdminAreaTemplate.Current != null)
    {
        Layout = "~/Areas/Admin/Templates/" + AdminAreaTemplate.Current + "/Views/Shared/_Layout.cshtml";
        if (AdminAreaTemplate.IsAdminv3() && (Model.Type == EExportFeedType.Csv || Model.Type == EExportFeedType.CsvV2))
        {
            Layout = "~/Areas/Admin/Templates/" + AdminAreaTemplate.Current + "/Views/Catalog/_TopContentCatalogLayout.cshtml";
        }
    }
    var isAdminv3 = AdminAreaTemplate.IsAdminv3();
    var TypeString = Model.Type.StrName();
}
<form name="exportFeedForm" novalidate="novalidate">
    <div class="wrapper" ng-init="exportFeeds.exportFeedForm=exportFeedForm">
        <div class="row" ng-init="exportFeeds.init(@Model.Id, '@TypeString.ToLower()')">
            <div class="col-xs">
                @if (isAdminv3)
                {
                    <div class="m-b-xs">
                        @Html.Back(T("Admin.ExportFeed.ComeBackToList").ToString(), Url.Action("Index" + TypeString))
                    </div>
                }
                <div class="sticky-page-name" sticky sticky-top="0">
                    <div class="page-name-block sticky-page-name-inner">
                        <div class="">
                            <h1 class="page-name-block-text sticky-page-name-text m-b-xs">
                                @Model.Name
                            </h1>

                            @if (Model.LastExport.HasValue || !string.IsNullOrEmpty(Model.LastExportFileFullName))
                            {
                                <a href="~/@Model.LastExportFileFullName">@Model.Type.Localize()</a>
                                <div>
                                    @(((DateTime)Model.LastExport).ToString("dd.MM.yyyy H:mm"))
                                </div>
                            }
                            else
                            {
                                <div>
                                    @T("Admin.ExportFeeds.Index.WasNotExported")
                                </div>
                            }
                            @if (!isAdminv3)
                            {
                                <div class="export-feed-comeback-link">
                                    <a data-e2e="ComebackLink" href="@Url.Action("Index" + TypeString)">
                                        @T("Admin.ExportFeed.ComeBackToList")
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="page-name-block-item-additional">
                            <a data-e2e="DeleteExport" href="" class="link-danger m-r-sm" ng-click="@("exportFeeds.deleteExport(" + @Model.Id + ")")">
                                @T("Admin.ExportFeeds.Index.Delete")
                            </a>
                            <button class="btn btn-sm btn-success m-l-xs" data-e2e="Export" type="button"
                                    data-button-validation=""
                                    data-button-validation-success="@("exportFeeds.startExport()")">
                                @T("Admin.ExportFeeed.ChoiceOfProducts.Export")
                            </button>
                            <button data-e2e="ButtonSave" type="submit" class="btn btn-sm btn-success"
                                    data-button-validation=""
                                    data-button-validation-success="exportFeeds.saveExportFeed()"
                                    ng-disabled="!exportFeedForm.modified"
                                    disabled>
                                <i class="fa fa-check"></i>
                                @T("Admin.Save")
                            </button>
                        </div>
                    </div>
                </div>

                <div class="ibox">
                    <div class="ibox-content settings-block">
                        <div class="form-horizontal">
                            @Html.AntiForgeryToken()
                            <div class="error">
                                @Html.ValidationSummary()
                            </div>

                            <uib-tabset active uid="exportfeedtab" on-select-batch="exportFeeds.floatHeader = tab.heading;">
                                <uib-tab index="1" heading="@T("Admin.ExportFeeds.Index.SelectionGoods")" classes="ng-tab">
                                    @Html.Partial("ChoiceOfProducts", Model)
                                </uib-tab>
                                @if (Model.Type == AdvantShop.ExportImport.EExportFeedType.Csv ||
                                     Model.Type == AdvantShop.ExportImport.EExportFeedType.Reseller)
                                {
                                    <uib-tab index="2" heading="@T("Admin.ExportFeeds.Index.ExportingFields")" classes="ng-tab">
                                        @Html.Action("ChoiceOfFields", "ExportFeeds", new { exportFeedId = Model.Id, exportFeedType = Model.Type.ToString(), advancedSettings = Model.ExportFeedSettings.AdvancedSettings })
                                    </uib-tab>
                                }
                                else if (Model.Type == AdvantShop.ExportImport.EExportFeedType.CsvV2)
                                {
                                    <uib-tab index="2" heading="@T("Admin.ExportFeeds.Index.ExportingFields")" classes="ng-tab">
                                        @Html.Action("ChoiceOfCsvFieldsV2", "ExportFeeds", new { exportFeedId = Model.Id, advancedSettings = Model.ExportFeedSettings.AdvancedSettings })
                                    </uib-tab>
                                }
                                <uib-tab index="3" heading="@T("Admin.ExportFeeds.Index.ExportParameters")" classes="ng-tab">
                                    @Html.Partial("ExportFeedSettings", Model)
                                </uib-tab>
                                @if (Model.Type == AdvantShop.ExportImport.EExportFeedType.YandexMarket)
                                {
                                    <uib-tab index="4" heading="@T("Admin.ExportFeed.YandexPromoCode")" classes="ng-tab">
                                        @Html.Action("YandexPromoCode", "ExportFeeds", new { exportFeed = Model })
                                    </uib-tab>
                                    <uib-tab index="5" heading="@T("Admin.ExportFeed.YandexPromoFlash")" classes="ng-tab">
                                        @Html.Action("YandexPromoFlash", "ExportFeeds", new { exportFeed = Model })
                                    </uib-tab>
                                    <uib-tab index="6" heading="@T("Admin.ExportFeed.YandexPromoGift")" classes="ng-tab">
                                        @Html.Action("YandexPromoGift", "ExportFeeds", new { exportFeed = Model })
                                    </uib-tab>
                                    <uib-tab index="7" heading="@T("Admin.ExportFeed.YandexPromoNPlusM")" classes="ng-tab">
                                        @Html.Action("YandexPromoNPlusM", "ExportFeeds", new { exportFeed = Model })
                                    </uib-tab>
                                }
                            </uib-tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>