@model AdvantShop.Web.Admin.Models.Catalog.ExportFeeds.ExportFeedSettingsYandexModel

<div class="form-group row middle-xs">
    <div class="col-xs-12">
        <div class="setting-title">
            <h3>@T("Admin.ExportFeeed.SettingsYandex.ShopSettings")</h3>
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.ShopName, T("Admin.ExportFeeed.SettingsYandex.ShopName"), new { @class = "required" })
            <span class="text-required"></span>
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        @Html.TextBoxFor(x => x.ShopName, new { @class = "form-control", required = "required", ng_model = "exportFeeds.AdvancedSettings.ShopName", validation_input_text = T("Admin.ExportFeeed.SettingsYandex.ShopName") })
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.CompanyName, T("Admin.ExportFeeed.SettingsYandex.CompanyName"), new { @class = "required" })
            <span class="text-required"></span>
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control", required = "required", ng_model = "exportFeeds.AdvancedSettings.CompanyName", validation_input_text = T("Admin.ExportFeeed.SettingsYandex.CompanyName") })
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.SalesNotes, T("Admin.ExportFeeed.SettingsYandex.SalesNotes"))
        </div>
    </div>
    <div class="col-xs-5 col-wl-4 relative">
        @Html.TextBoxFor(x => x.SalesNotes, new { @class = "form-control", @maxlength = 50, ng_model = "exportFeeds.AdvancedSettings.SalesNotes", validation_input_text = T("Admin.ExportFeeed.SettingsYandex.SalesNotes") })
        <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" data-title="@T("Admin.ExportFeeed.SettingsYandex.SalesNotes")">
            <div class="help-content">
                @T("Admin.ExportFeeed.SettingsYandex.Text50characters")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="col-xs-12">
        <div class="setting-title">
            <h3>@T("Admin.ExportFeeed.SettingsYandex.DeliverySettings")</h3>
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.Store, T("Admin.ExportFeed.SettingsYandex.Store"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.Store, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.Store=" + Model.Store.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.Store" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak p-l-sm" data-title="@T("Admin.ExportFeed.SettingsYandex.Store")">
            <div class="help-content">
                @T("Admin.ExportFeed.SettingsYandex.StoreHelp")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.Pickup, T("Admin.ExportFeeed.SettingsYandex.Pickup"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.Pickup, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.Pickup=" + Model.Pickup.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.Pickup" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak p-l-sm" data-title="@T("Admin.ExportFeeed.SettingsYandex.Pickup")">
            <div class="help-content">
                @T("Admin.ExportFeed.SettingsYandex.PickupHelp")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2 ">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.Delivery, T("Admin.ExportFeeed.SettingsYandex.Delivery"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.Delivery, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.Delivery=" + Model.Delivery.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.Delivery" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak p-l-sm" data-title="@T("Admin.ExportFeeed.SettingsYandex.Delivery")">
            <div class="help-content">
                @T("Admin.ExportFeed.SettingsYandex.DeliveryHelp")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.DeliveryCost, T("Admin.ExportFeeed.SettingsYandex.DeliveryCost"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        @Html.DropDownList("ddlDeliveryCost", new SelectList(Model.DeliveryCostTypes, "Key", "Value", Model.DeliveryCost), new { @class = "form-control", ng_init = "exportFeeds.AdvancedSettings.DeliveryCost='" + Model.DeliveryCost + "'", ng_model = "exportFeeds.AdvancedSettings.DeliveryCost", ng_disabled = "!exportFeeds.AdvancedSettings.Delivery" })
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.DeliveryCost, T("Admin.ExportFeed.SettingsYandex.LocalDeliveryCost"))
        </div>
    </div>
    <div class="col-xs-5 col-wl-4" style="position: relative;">
        <div class="m-b-xs">
            <span class="text-required">@T("Admin.ExportFeed.SettingsYandex.DeliveryTimeExample")</span>
            @Html.TextBoxFor(x => Model.LocalDeliveryOption.Days, new { @class = "form-control", @maxlength = 5, ng_model = "exportFeeds.LocalDeliveryOption.Days", ng_disabled = "exportFeeds.AdvancedSettings.DeliveryCost != 'LocalDeliveryCost' || !exportFeeds.AdvancedSettings.Delivery", validation_input_text = T("Admin.ExportFeeds.YandexMarket.DeliveryTime") })
        </div>
        <div class="m-b-xs">
            @T("Admin.ExportFeeds.YandexMarket.Time")@Html.TextBoxFor(x => Model.LocalDeliveryOption.OrderBefore, new { @class = "form-control", ng_model = "exportFeeds.LocalDeliveryOption.OrderBefore", ng_disabled = "exportFeeds.AdvancedSettings.DeliveryCost != 'LocalDeliveryCost' || !exportFeeds.AdvancedSettings.Delivery" })
        </div>
        <help-trigger class="ng-cloak p-l-sm" style="position: absolute;top: 2rem;right: -1.5rem;" data-title="@T("Admin.ExportFeed.SettingsYandex.LocalDeliveryCost")">
            <div class="help-content">
                @T("Admin.ExportFeed.SettingsYandex.LocalDeliveryCostHelp")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.DeliveryCost, T("Admin.ExportFeed.SettingsYandex.GlobalDeliveryCost"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-9 col-wl-10" ng-init="exportFeeds.setGridOptionsData(@Model.GlobalDeliveryCostJson)">
        <ui-grid-custom grid-unique-id="gridGlobalDeliveryCosts"
                        grid-on-init="exportFeeds.gridOnInit(grid)"
                        grid-filter-enabled="false"
                        grid-pagination-enabled="false"
                        grid-selection-enabled="false"
                        grid-params="{exportFeedId:@Model.ExportFeedId}"
                        grid-options="exportFeeds.gridGlobalDeliveryOptions"
                        grid-on-fetch="exportFeeds.gridOnFetch(grid)"
                        grid-extend-ctrl="exportFeeds">
        </ui-grid-custom>
        <ui-modal-trigger data-controller="'ModalAddYandexGlobalDeliveryCostCtrl'" controller-as="ctrl"
                          template-url="../areas/admin/content/src/exportFeeds/modal/addYandexGlobalDeliveryCost/addYandexGlobalDeliveryCost.html"
                          data-resolve="{'exportFeedId': @Model.ExportFeedId }"
                          data-on-close="exportFeeds.yandexAddGlobalDeliveryCost(result)">
            <button data-e2e="AddGlobalDeliveryOption" class="btn btn-sm btn-default m-t-xs" type="button" ng-disabled="exportFeeds.AdvancedSettings.DeliveryCost == 'None' || !exportFeeds.AdvancedSettings.Delivery">
                @T("Admin.ExportFeeds.YandexMarket.AddOption")
            </button>
        </ui-modal-trigger>
        <help-trigger class="ng-cloak p-l-sm" data-title="@T("Admin.ExportFeed.SettingsYandex.GlobalDeliveryCost")">
            <div class="help-content">
                @T("Admin.ExportFeed.SettingsYandex.GlobalDeliveryCostHelp")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="col-xs-12">
        <div class="setting-title">
            <h3>@T("Admin.ExportFeeed.SettingsYandex.PricesAndCurrenciesSettings")</h3>
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.DontExportCurrency, T("Admin.ExportFeed.SettingsYandex.DontExportCurrency"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.DontExportCurrency, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.DontExportCurrency=" + Model.DontExportCurrency.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.DontExportCurrency" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak p-l-sm" classes="'setting__catolog-popover-custom'" data-title="@Html.AttributeEncode(T("Admin.ExportFeed.SettingsYandex.DontExportCurrency"))">
            <div class="help-content">
                @T("Admin.ExportFeed.SettingsYandex.DontExportCurrency.HelpTip")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.Currency, T("Admin.ExportFeeed.SettingsYandex.Currency"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        @Html.DropDownList("ddlCurrency", new SelectList(Model.Currencies, "Key", "Value", Model.Currency), new { @class = "form-control", ng_init = "exportFeeds.AdvancedSettings.Currency='" + Model.Currency + "'", ng_model = "exportFeeds.AdvancedSettings.Currency" })

    </div>
</div>

<div class="form-group row middle-xs">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.ProductPriceType, T("Admin.ExportFeed.SettingsYandex.ProductPriceType"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        @Html.DropDownList("ddlProductPriceType", new SelectList(Model.ProductPriceTypeList, "Key", "Value", Model.ProductPriceType), new { @class = "form-control", ng_init = "exportFeeds.AdvancedSettings.ProductPriceType='" + Model.ProductPriceType + "'", ng_model = "exportFeeds.AdvancedSettings.ProductPriceType" })
    </div>
    <help-trigger class="ng-cloak p-l-sm" data-title="@T("Admin.ExportFeed.SettingsYandex.ProductPriceType")" style="height:50%;">
        <div class="help-content">
            @T("Admin.ExportFeed.SettingsYandex.ProductPriceType.Help")
        </div>
    </help-trigger>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.ExportPurchasePrice, T("Admin.ExportFeed.SettingsYandex.ExportPurchasePrice"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.ExportPurchasePrice, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.ExportPurchasePrice=" + Model.ExportPurchasePrice.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.ExportPurchasePrice" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak p-l-sm" data-title="@T("Admin.ExportFeed.SettingsYandex.ExportPurchasePrice")">
            <div class="help-content">
                @T("Admin.ExportFeed.SettingsYandex.ExportPurchasePriceHelp")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="col-xs-12">
        <div class="setting-title">
            <h3>@T("Admin.ExportFeeed.SettingsYandex.ProductsSettings")</h3>
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.ExportNotAvailable, T("Admin.ExportFeed.SettingsYandex.ExportNotAvailable"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.ExportNotAvailable, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.ExportNotAvailable=" + Model.ExportNotAvailable.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.ExportNotAvailable" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak p-l-sm" data-title="@T("Admin.ExportFeed.SettingsYandex.ExportNotAvailable")">
            <div class="help-content">
                @T("Admin.ExportFeeds.YandexMarket.UnavailableProducts")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2 ">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.TypeExportYandex, T("Admin.ExportFeeed.SettingsYandex.TypeExportYandex"))
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.TypeExportYandex, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.TypeExportYandex=" + Model.TypeExportYandex.ToString(), ng_model = "exportFeeds.AdvancedSettings.TypeExportYandex" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak p-l-sm" data-title="@T("Admin.ExportFeeed.SettingsYandex.TypeExportYandex")">
            <div class="help-content">
                @T("Admin.ExportFeed.SettingsYandex.TypeExportYandexHelp")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.OfferIdType, T("Admin.ExportFeeed.SettingsYandex.OfferIdType"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        @Html.DropDownList("ddlOfferIdType", new SelectList(Model.OfferTypes, "Key", "Value", Model.OfferIdType), new { @class = "form-control", ng_init = "exportFeeds.AdvancedSettings.OfferIdType='" + Model.OfferIdType + "'", ng_model = "exportFeeds.AdvancedSettings.OfferIdType" })
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.VendorCodeType, T("Admin.ExportFeeed.SettingsYandex.VendorCodeType"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        @Html.DropDownList("VendorCodeType", new SelectList(Model.VendorCodeTypes, "Key", "Value", Model.VendorCodeType), new { @class = "form-control", ng_init = "exportFeeds.AdvancedSettings.VendorCodeType='" + Model.VendorCodeType + "'", ng_model = "exportFeeds.AdvancedSettings.VendorCodeType" })
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.ColorSizeToName, T("Admin.ExportFeeed.SettingsYandex.ColorSizeToName"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.ColorSizeToName, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.ColorSizeToName=" + Model.ColorSizeToName.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.ColorSizeToName" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.ProductDescriptionType, T("Admin.ExportFeeed.SettingsYandex.ProductDescriptionType"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        @Html.DropDownList("ddlProductDescriptionType", new SelectList(Model.ProductDescriptionTypeList, "Key", "Value", Model.ProductDescriptionType), new { @class = "form-control", ng_init = "exportFeeds.AdvancedSettings.ProductDescriptionType='" + Model.ProductDescriptionType + "'", ng_model = "exportFeeds.AdvancedSettings.ProductDescriptionType" })
    </div>
    <help-trigger class="ng-cloak p-l-sm" data-title="@T("Admin.ExportFeeed.SettingsYandex.ProductDescription")" style="height:50%;">
        <div class="help-content">
            @T("Admin.ExportFeed.SettingsYandex.ProductDescriptionHelp")
        </div>
    </help-trigger>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2 ">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.RemoveHtml, T("Admin.ExportFeeed.SettingsYandex.RemoveHtml"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.RemoveHtml, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.RemoveHtml=" + Model.RemoveHtml.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.RemoveHtml" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.ExportProductProperties, T("Admin.ExportFeeed.SettingsYandex.ExportProductProperties"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.ExportProductProperties, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.ExportProductProperties=" + Model.ExportProductProperties.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.ExportProductProperties" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>

<div class="form-group row" ng-if="exportFeeds.AdvancedSettings.ExportProductProperties == true">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.JoinPropertyValues, T("Admin.ExportFeeed.SettingsYandex.JoinPropertyValues"))
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.JoinPropertyValues, new { @class = "adv-checkbox-input", ng_model = "exportFeeds.AdvancedSettings.JoinPropertyValues" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.ExportBarCode, T("Admin.ExportFeed.SettingsYandex.ExportBarCode"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.ExportBarCode, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.ExportBarCode=" + Model.ExportBarCode.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.ExportBarCode" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak p-l-sm" data-title="@T("Admin.ExportFeed.SettingsYandex.ExportBarCode")">
            <div class="help-content">
                @T("Admin.Product.Edit.BarcodeHint")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2 ">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.ExportAllPhotos, T("Admin.ExportFeeed.SettingsYandex.ExportAllPhotos"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.ExportAllPhotos, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.ExportAllPhotos=" + Model.ExportAllPhotos.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.ExportAllPhotos" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak p-l-sm" data-title="@T("Admin.ExportFeeed.SettingsYandex.ExportAllPhotos")">
            <div class="help-content">
                @T("Admin.ExportFeed.SettingsYandex.ExportAllPhotosHelp")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.ExportRelatedProducts, T("Admin.ExportFeed.SettingsYandex.ExportRelatedProducts"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.ExportRelatedProducts, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.ExportRelatedProducts=" + Model.ExportRelatedProducts.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.ExportRelatedProducts" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak p-l-sm" data-title="@T("Admin.ExportFeed.SettingsYandex.ExportRelatedProducts")">
            <div class="help-content">
                @T("Admin.ExportFeed.SettingsYandex.ExportRelatedProductsHelp")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2 ">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.OnlyMainOfferToExport, T("Admin.ExportFeeed.SettingsYandex.OnlyMainOfferToExport"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.OnlyMainOfferToExport, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.OnlyMainOfferToExport=" + Model.OnlyMainOfferToExport.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.OnlyMainOfferToExport" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.AllowPreOrderProducts, T("Admin.ExportFeed.SettingsYandex.AllowPreOrderProducts"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.AllowPreOrderProducts, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.AllowPreOrderProducts=" + Model.AllowPreOrderProducts.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.AllowPreOrderProducts" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak p-l-sm" data-title="@T("Admin.ExportFeeed.SettingsYandex.AllowPreOrderProducts")">
            <div class="help-content">
                @T("Admin.ExportFeeds.SettingsYandex.UnloadedWithAtribute") available="false"
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.ExportDimensions, T("Admin.ExportFeed.SettingsYandex.ExportDimensions"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.ExportDimensions, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.ExportDimensions=" + Model.ExportDimensions.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.ExportDimensions" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.ExportCount, T("Admin.ExportFeed.SettingsYandex.ExportCount"))
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.ExportCount, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.ExportCount=" + Model.ExportCount.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.ExportCount" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak p-l-sm" data-title="@T("Admin.ExportFeed.SettingsYandex.ExportCount")">
            <div class="help-content">
                @T("Admin.ExportFeed.SettingsYandex.ExportCountHelp")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.ExportShopSku, T("Admin.ExportFeed.SettingsYandex.ExportShopSku"))
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.ExportShopSku, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.ExportShopSku=" + Model.ExportShopSku.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.ExportShopSku" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak p-l-sm" data-title="@T("Admin.ExportFeed.SettingsYandex.ExportShopSku")">
            <div class="help-content">
                @T("Admin.ExportFeed.SettingsYandex.ExportShopSkuHelp")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.ExportManufacturer, T("Admin.ExportFeed.SettingsYandex.ExportManufacturer"))
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.ExportManufacturer, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.ExportManufacturer=" + Model.ExportManufacturer.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.ExportManufacturer" })
            <span class="adv-checkbox-emul"></span>
        </label>
        <help-trigger class="ng-cloak p-l-sm" data-title="@T("Admin.ExportFeed.SettingsYandex.ExportManufacturer")">
            <div class="help-content">
                @T("Admin.ExportFeed.SettingsYandex.ExportManufacturerHelp")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2 ">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.NeedZip, T("Admin.ExportFeeed.SettingsYandex.NeedZip"), new { @class = "required" })
        </div>
    </div>
    <div class="col-xs-5 col-wl-4">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.NeedZip, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.NeedZip=" + Model.NeedZip.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.NeedZip" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-3 col-wl-2">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.ExportManufacturer, T("Admin.ExportFeed.SettingsYandex.NotExportAmountCount"))
        </div>
    </div>
    <div class="col-xs-1">
        @Html.TextBoxFor(x => x.NotExportAmountCount, new { @class = "form-control", ng_model = "exportFeeds.AdvancedSettings.NotExportAmountCount" })
    </div>
    <div class="col-xs relative">
        @T("Admin.ExportFeed.SettingsYandex.NotExportAmountCountUnit")
        <help-trigger class="ng-cloak p-l-sm" data-title="@T("Admin.ExportFeed.SettingsYandex.NotExportAmountCount")">
            <div class="help-content">
                @T("Admin.ExportFeed.SettingsYandex.NotExportAmountCountHelp")
            </div>
        </help-trigger>
    </div>
</div>