@using AdvantShop.Core.Common.Extensions
@using AdvantShop.Core.Services.Admin
@using AdvantShop.Statistic
@using AdvantShop.ExportImport
@model AdvantShop.Web.Admin.Models.Catalog.ExportFeeds.ExportFeedExportModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var isAdminv3 = AdminAreaTemplate.IsAdminv3();
    if (AdminAreaTemplate.Current != null)
    {
        Layout = "~/Areas/Admin/Templates/" + AdminAreaTemplate.Current + "/Views/Shared/_Layout.cshtml";
        if (isAdminv3 && (Model.ExportFeed.Type == EExportFeedType.Csv || Model.ExportFeed.Type == EExportFeedType.CsvV2))
        {
            Layout = "~/Areas/Admin/Templates/" + AdminAreaTemplate.Current + "/Views/Catalog/_TopContentCatalogLayout.cshtml";
        }
    }
    var TypeString = Model.ExportFeed.Type.StrName();
    var backUrl = Url.Action((Model.ExportFeed.Type == EExportFeedType.Csv || Model.ExportFeed.Type == EExportFeedType.CsvV2) ? "ExportFeed" : "ExportFeed" + TypeString, new { id = Model.ExportFeed.Id });
}

<div class="wrapper" ng-init="exportFeeds.initProgress()">
    <div class="row">
        <div class="col-xs">
            @if (isAdminv3)
            {
                <div class="m-b-xs">
                    @Html.Back(T("Admin.ExportFeeds.ExportFeedProgress.ReturnToExport").ToString(), backUrl, "", "data-e2e=ReturnToExport")
                </div>
            }
            <div class="sticky-page-name" sticky sticky-top="0">
                <div class="page-name-block-item-main sticky-page-name-inner">
                    <div class="page-name-block-item">
                        <h1 class="page-name-block-text sticky-page-name-text m-b-xs">
                            @Model.ExportFeed.Name
                        </h1>
                        <div class="sub">
                            Формат: @Model.ExportFeed.Type.Localize()
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    @if (Model.IsAlreadyRunning)
                    {
                        <div class="form-group row">
                            <div class="col-xs-12">
                                @T("Admin.CommonStatistic.AlreadyRunning", CommonStatistic.CurrentProcess, CommonStatistic.CurrentProcessName.Default(CommonStatistic.CurrentProcess))
                            </div>
                        </div>
                    }

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <uib-progressbar max="exportFeeds.progressTotal" value="exportFeeds.progressValue">
                                    <span style="color: white; white-space: nowrap;"><span ng-bind="exportFeeds.progressValue" data-e2e="ExportCountValue"></span> / <span ng-bind="exportFeeds.progressTotal" data-e2e="ExportCountTotal"></span></span>
                                </uib-progressbar>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="form-group row">
                            <div class="col-xs-12">
                                @T("Admin.ExportFeeds.ExportFeedsProgress.CurrentProcess")
                                <a class="link-decoration-none" ng-href="{{exportFeeds.progressCurrentProcess}}" ng-bind="exportFeeds.progressCurrentProcessName"></a>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid ng-cloak" ng-if="!exportFeeds.IsRun && !exportFeeds.ErrorsCount">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="setting-label-wrap">
                                    @T("Admin.ExportFeeds.ExportFeedProgress.DataSuccessfullyExported")
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (!Model.IsAlreadyRunning)
                    {
                        <div class="container-fluid ng-cloak" ng-if="!exportFeeds.IsRun && exportFeeds.ErrorsCount > 0">
                            <div class="form-group row">
                                <div class="col-xs-12">
                                    <div class="adv-panel-info">
                                        @T("Admin.ExportFeeds.ExportFeedProgress.DataExportedWithErrors")
                                    </div>
                                    <a class="link-decoration-none" href="@Url.Action("GetLogFile", "ExportImportCommon")" download>@T("Admin.ProgressData.DownloadErrorsLog")</a>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid ng-cloak" ng-if="!exportFeeds.IsRun">
                            <div class="form-group row">
                                <div class="col-xs-12">
                                    <a data-e2e="LinkToFile" ng-href="{{exportFeeds.FileName}}" target="_blank">@(Model.ExportFeed.ExportFeedSettings.FileName + "." + Model.ExportFeed.ExportFeedSettings.FileExtention)</a>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid ng-cloak" ng-if="!exportFeeds.IsRun">
                            <div class="form-group row">
                                <div class="col-xs-12">
                                    <a data-e2e="DownloadFile" ng-href="{{exportFeeds.FileName}}" class="btn btn-sm btn-success" target="_blank" download>@T("Admin.ExportFeeds.ExportFeedProgress.DownloadFile")</a>
                                </div>
                                <div class="col-xs-12" ng-if="exportFeeds.IsZip">
                                    <a data-e2e="DownloadZipFile" ng-href="{{exportFeeds.FileName.split('?')[0]}}.zip" target="_blank" download>@T("Admin.ExportFeeds.ExportFeedProgress.DownloadZipFile")</a>
                                </div>
                            </div>
                        </div>
                    }
                    @if (!isAdminv3)
                    {
                        <div class="container-fluid">
                            <div class="form-group row">
                                <div class="col-xs-12">
                                    <a data-e2e="ReturnToExport" class="link-decoration-none" href="@Url.Action("ExportFeed", new {id = Model.ExportFeed.Id})">@T("Admin.ExportFeeds.ExportFeedProgress.ReturnToExport")</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>