@using AdvantShop.Saas
@using AdvantShop.Core.Services.Admin
@model AdvantShop.Web.Admin.Models.Catalog.Products.AdminProductModel
@{
    var isAdminv3 = AdminAreaTemplate.Current == "adminv3";
}

<div>
    <div class="aside-menu" id="product-aside" transformer data-container-limit="leftAsideProduct" data-offset-top="@(isAdminv3 ? "72" : "88")" data-limit-pos="true" on-init="product.addTransformerLeftMenu(transformer)">
        <a class="product-aside-menu-image-link" ng-click="product.goToPhotos()" du-smooth-scroll du-scrollspy offset="103">
            <div class="aside-image" style="height: @(SettingsPictureSize.SmallProductImageHeight)px;">
                <img src="@Model.PhotoSrc()" alt="" ng-src="{{product.mainPhotoSrc}}" ng-init="product.mainPhotoSrc='@Model.PhotoSrc()'" />
            </div>
        </a>
        <a class="aside-menu-row product-aside-link settigs-menu-row link-invert link-decoration-none" ng-click="product.setActiveElement($event)" href="product/edit/@(Model.ProductId)#main" du-smooth-scroll du-scrollspy offset="230">
            <div class="aside-menu-inner">
                <div class="aside-menu-name">
                    @T("Admin.Product.LeftMenu.Main")
                </div>
            </div>
        </a>
        <a class="aside-menu-row product-aside-link settigs-menu-row link-invert link-decoration-none" ng-click="product.setActiveElement($event)" href="product/edit/@(Model.ProductId)#price" du-smooth-scroll du-scrollspy offset="103">
            <div class="aside-menu-inner">
                <div class="aside-menu-name">
                    @T("Admin.Product.LeftMenu.PriceAvailability")
                </div>
            </div>
        </a>
        <a class="aside-menu-row product-aside-link settigs-menu-row link-invert link-decoration-none" ng-click="product.setActiveElement($event)" href="product/edit/@(Model.ProductId)#delivery" du-smooth-scroll du-scrollspy offset="103">
            <div class="aside-menu-inner">
                <div class="aside-menu-name">
                    @T("Admin.Product.LeftMenu.Delivery")
                </div>
            </div>
        </a>
        <a class="aside-menu-row product-aside-link settigs-menu-row link-invert link-decoration-none" ng-click="product.setActiveElement($event)" href="product/edit/@(Model.ProductId)#photos" du-smooth-scroll du-scrollspy offset="103">
            <div class="aside-menu-inner">
                <div class="aside-menu-name">
                    @T("Admin.Product.LeftMenu.Photos")
                </div>
            </div>
        </a>
        <a class="aside-menu-row product-aside-link settigs-menu-row link-invert link-decoration-none" ng-click="product.setActiveElement($event)" href="product/edit/@(Model.ProductId)#video" du-smooth-scroll du-scrollspy offset="103">
            <div class="aside-menu-inner">
                <div class="aside-menu-name">
                    @T("Admin.Product.LeftMenu.Video")
                </div>
            </div>
        </a>
        <a class="aside-menu-row product-aside-link settigs-menu-row link-invert link-decoration-none" ng-click="product.setActiveElement($event)" href="product/edit/@(Model.ProductId)#description" du-smooth-scroll du-scrollspy offset="103">
            <div class="aside-menu-inner">
                <div class="aside-menu-name">
                    @T("Admin.Product.LeftMenu.Description")
                </div>
            </div>
        </a>
        <a class="aside-menu-row product-aside-link settigs-menu-row link-invert link-decoration-none" ng-click="product.setActiveElement($event)" href="product/edit/@(Model.ProductId)#properties" du-smooth-scroll du-scrollspy offset="103">
            <div class="aside-menu-inner">
                <div class="aside-menu-name">
                    @T("Admin.Product.LeftMenu.GoodsProperties")
                </div>
            </div>
        </a>
        <a class="aside-menu-row product-aside-link settigs-menu-row link-invert link-decoration-none" ng-click="product.setActiveElement($event)" href="product/edit/@(Model.ProductId)#reviews" du-smooth-scroll du-scrollspy offset="103">
            <div class="aside-menu-inner">
                <div class="aside-menu-name">
                    @T("Admin.Product.LeftMenu.Reviews")
                </div>
            </div>
        </a>
        @*@if (Model.HasCustomOptions)
            {*@
        <a class="aside-menu-row product-aside-link settigs-menu-row link-invert link-decoration-none" ng-click="product.setActiveElement($event)" href="product/edit/@(Model.ProductId)#customoptions" du-smooth-scroll du-scrollspy offset="103">
            <div class="aside-menu-inner">
                <div class="aside-menu-name">
                    @T("Admin.Product.LeftMenu.AdditionalOptions")
                </div>
            </div>
        </a>
        @*}*@
        <a class="aside-menu-row product-aside-link settigs-menu-row link-invert link-decoration-none" ng-click="product.setActiveElement($event)" href="product/edit/@(Model.ProductId)#SEO" du-smooth-scroll du-scrollspy offset="103">
            <div class="aside-menu-inner">
                <div class="aside-menu-name">
                    SEO
                </div>
            </div>
        </a>
        @if (!SaasDataService.IsSaasEnabled || SaasDataService.CurrentSaasData.HaveLandingFunnel)
        {
            <a class="aside-menu-row product-aside-link settigs-menu-row link-invert link-decoration-none" ng-click="product.setActiveElement($event)" href="product/edit/@(Model.ProductId)#additionalSales" du-smooth-scroll du-scrollspy offset="103">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @T("Admin.Product.LeftMenu.AdditionalSales")
                    </div>
                </div>
            </a>
        }
        <a class="aside-menu-row product-aside-link settigs-menu-row link-invert link-decoration-none" ng-click="product.setActiveElement($event)" href="product/edit/@(Model.ProductId)#lists" du-smooth-scroll du-scrollspy offset="103">
            <div class="aside-menu-inner">
                <div class="aside-menu-name">
                    @T("Admin.Product.LeftMenu.Lists")
                </div>
            </div>
        </a>

        @*@if (Model.IsLandingFunnelsEnabled)
            {
                <a class="aside-menu-row product-aside-link settigs-menu-row link-invert link-decoration-none" ng-click="product.setActiveElement($event)" href="product/edit/@(Model.ProductId)#landingfunnels" du-smooth-scroll du-scrollspy offset="103">
                    <div class="aside-menu-inner">
                        <div class="aside-menu-name">
                            @T("Admin.Product.LeftMenu.LandingFunnels")
                        </div>
                    </div>
                </a>
            }*@


        <a class="aside-menu-row product-aside-link settigs-menu-row link-invert link-decoration-none" ng-click="product.setActiveElement($event)" href="product/edit/@(Model.ProductId)#avito" du-smooth-scroll du-scrollspy offset="103">
            <div class="aside-menu-inner">
                <div class="aside-menu-name">
                    Avito
                </div>
            </div>
        </a>


        @for (int i = 0; i < Model.TabModules.Count; i++)
        {
            <a class="aside-menu-row product-aside-link settigs-menu-row link-invert link-decoration-none" ng-click="product.setActiveElement($event)" href="product/edit/@(Model.ProductId)#tab@(i)" du-smooth-scroll du-scrollspy offset="103">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @Html.Raw(Model.TabModules[i].Title)
                    </div>
                </div>
            </a>
        }
    </div>
</div>
