@using AdvantShop.CMS
@model AdvantShop.Web.Admin.Models.Catalog.Products.AdminProductModel

<aside class="product-aside-right">
    <div class="ibox margin-none">
        <div class="ibox-content product-setting-aside-block">
            
            @Html.RenderModules("admin_product_rightblock_top", new {productId = Model.ProductId})

            <div class="setting-label-wrap form-group">
                <div>
                    @T("Admin.Product.RightBlock.Manufacturer")
                    <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Product.RightBlock.Manufacturer")">
                        <p>@T("Admin.Product.RightBlock.ProductsOfWellknown")</p>
                        <p>@T("Admin.Product.RightBlock.SpecifyManufacturer")</p>
                        <p>@T("Admin.Product.RightBlock.MoreAboutManufacturers")</p>
                        <p><a href="http://www.advantshop.net/help/pages/brand" target="_blank">@T("Admin.Product.RightBlock.Instruction")</a>
                        </p>
                    </help-trigger>
                </div>
            </div>
            <div class="form-group"
                 ng-init="product.brand='@Html.AttributeEncode(Model.Brand != null ? Model.Brand.Name : T("Admin.Product.Edit.NotSelect").ToString())'; product.brandId=@(Model.Brand != null ? Model.Brand.BrandId : 0)">
                <span ng-bind-html="product.brand" data-e2e="ProductBrandName"></span>
                <a class="link-invert link-decoration-none fas fa-times" ng-click="product.deleteBrand()" ng-if="product.brandId != 0" href="" title="@T("Admin.Product.RightBlock.Delete")" data-e2e="DeleteBrand"></a>

                <ui-modal-trigger data-controller="'ModalAddBrandCtrl'" controller-as="ctrl"
                                  template-url="../areas/admin/content/src/_shared/modal/addBrand/addBrand.html"
                                  data-on-close="product.changeBrand(result)">
                    <a href="" data-e2e="AddBrand">@T("Admin.Choose")</a>
                </ui-modal-trigger>
            </div>

            @if (Model.IsTagsVisible)
            {
                <div class="setting-label-wrap form-group">
                    <div>
                        @T("Admin.Product.Edit.Tags")
                        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Product.Edit.Tags")">
                            <p>@T("Admin.Product.Edit.HelpOfTags")</p>
                            <p>@T("Admin.Product.Edit.Instruction")<a href="http://www.advantshop.net/help/pages/tags" target="_blank">@T("Admin.Product.Edit.TagsMechanism")</a>
                            </p>
                        </help-trigger>
                    </div>
                </div>
                <div class="form-group ng-cloak">
                    <ui-select 
                               multiple
                               tagging="product.tagTransform"
                               sortable="true"
                               ng-init="product.getTags()"
                               ng-model="product.selectedTags" data-e2e="SelectTag">
                        <ui-select-match placeholder="@T("Admin.Product.Edit.SelectTags")">{{$item.value}}</ui-select-match>
                        <ui-select-choices repeat="tag in product.tags | filter:$select.search">
                            {{tag.value}}
                        </ui-select-choices>
                    </ui-select>
                    @*select для отправки данных через обычный post *@
                    <select name="Tags" id="Tags" multiple hidden>
                        <option selected value="{{option.value}}" ng-repeat="option in product.selectedTags track by $index"></option>
                    </select>
                </div>
            }
            <div>
                <div class="info-about-product-row">
                    <div class="info-about-product-cell">
                        @T("Admin.Product.Edit.Reviews")
                    </div>
                    <div class="info-about-product-cell info-about-product-cell--pad-l" data-e2e="ProductReviewsCount">
                        @Model.ReviewsCount
                        @if (Model.ReviewsCount > 0)
                        {
                            <a href="@Url.Action("Index", "Reviews", new {EntityId = Model.ProductId, Type = EntityType.Product})" class="italic" target="_blank" data-e2e="Review">@T("Admin.Product.Edit.View")</a>
                        }
                    </div>
                </div>
            </div>

            <div class="info-about-product">
                <div class="info-about-product-row">
                    <div class="info-about-product-cell">
                        @T("Admin.Product.Edit.SortPopular"): @Model.SortPopular
                    </div>
                </div>
                <div class="info-about-product-row">
                    <a href="@Url.Action("Index", "Analytics", new {productId = Model.ProductId})" data-e2e="Sales" target="_blank">@T("Admin.Product.Edit.SalesGraph")</a>
                </div>
            </div>

            <div class="info-about-product-row ng-cloak" ng-if="product.ModifiedDate != null || product.ModifiedBy != null">
                <div>
                    @T("Admin.Product.Edit.Changed")
                    <div class="m-b-xs">
                        {{::product.ModifiedDate}} {{::product.ModifiedBy}}
                    </div>
                </div>
            </div>
            
            @if (SettingsMain.TrackProductChanges)
            {
                <ui-modal-trigger size="lg"
                                  data-controller="'ModalChangeHistoryCtrl'"
                                  controller-as="ctrl"
                                  template-url="../areas/admin/content/src/_shared/change-history-modal/changeHistory.html"
                                  data-resolve="{'params': {'objId': @Model.ProductId, 'type': 'product'}}">
                    <a class="" href="">История изменения</a>
                </ui-modal-trigger>
            }
            @Html.RenderModules("admin_product_rightblock_bottom", new {productId = Model.ProductId})
        </div>
    </div>
    <div class="product-aside-right-footer">        
        <ui-modal-trigger data-controller="'ModalCopyProductCtrl'" controller-as="ctrl" 
                          template-url="../areas/admin/content/src/product/modal/copyProduct/copyProduct.html"
                          data-resolve="{ 'product': { 'productId': @Model.ProductId, 'name': '@Html.AttributeEncode(Model.Name)' }}">
            <a href="" data-e2e="ProductCopy">@T("Admin.Product.Edit.MakeCopyOfItem")</a>
        </ui-modal-trigger>
    </div>
</aside>