@{ 
    var selectedValueDomainBinding = Request["selectedValueDomainBinding"];
    var bindYourDomain = Request["bindYourDomain"];
    var isOpenModalAddDomain = Request["isOpenModalAddDomain"];
}
@Html.Back("Системные настройки", Url.Action("Index", "Settings"))

<div class="sticky-page-name">
    <div class="row middle-xs between-xs">
        <div class="col-xs">
            <h1 data-e2e="clientName" class="page-name-block-text">
                Домены
            </h1>
        </div>
        <div class="col-xs-slim">
            <button type="button" class="btn btn-sm btn-action" ng-click="domainsManage.connectYourDomain('#iframeDomainsManage')">Подключить свой домен</button>
            <button type="button" class="btn btn-sm btn-success" ng-click="domainsManage.switchOnPay()">Купить домен</button>
        </div>
    </div>
</div>

<div ng-if="!domainsManage.pageIsReady && !domainsManage.loadedIframe">
    <div class="lds-roller">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
</div>

<div ng-if="domainsManage.pageIsReady">
    <div class="js-iframe-wrap" ng-switch="domainsManage.iframeType">
        <iframe id="iframeDomainsManage" ng-switch-when="domainsManage" ng-src="{{'@SettingsLic.DomainServiceUrl?lic=@SettingsLic.LicKey&ExecutionTime=@ViewBag.ExecutionTime&Hash=@ViewBag.Hash&selectedValueDomainBinding=@selectedValueDomainBinding&bindYourDomain=@bindYourDomain&isOpenShopCollapse=@isOpenModalAddDomain' | sanitizeUrl}}" frameborder="0" width="100" scrolling="no" height="100" style="height:100vh; width: 100%;" name="shopDomain">
            @T("Admin.Service.NotSupportFrames")
        </iframe>
        <iframe ng-switch-when="pay" ng-src="{{'@SettingsLic.BasePlatformUrl/shop/ShopDomainBuy.aspx?headerVisible=false&lic=@SettingsLic.LicKey&ExecutionTime=@ViewBag.ExecutionTime&Hash=@ViewBag.Hash' | sanitizeUrl}}" frameborder="0" width="100" scrolling="no" height="100" style="height:100vh; width: 100%;" name="payDomain">
            @T("Admin.Service.NotSupportFrames")
        </iframe>
    </div>
</div>
