@model AdvantShop.Web.Admin.ViewModels.Booking.Settings.SettingsModel

<div class="setting-title-top">
    <h3>@T("Admin.Booking.SettingsTimeOfBooking.Time")</h3>
</div>

<div class="form-group row">
    <div class="col-xs-3">
        <div class="setting-label-wrap">
            @Html.LabelFor(x => x.Affiliate.BookingIntervalMinutes, T("Admin.Booking.SettingsTimeOfBooking.BookingInterval"))
        </div>
    </div>
    <div class="col-xs-6 relative">
        @Html.DropDownListFor(x => x.Affiliate.BookingIntervalMinutes, Model.BookingIntervals, new { @class = "form-control", ng_model = "bookingAffiliateSettings.affiliateBookingIntervalMinutes", ng_change = "bookingAffiliateSettings.OnChangeBookingInterval()" })
        <input type="hidden" ng-model="bookingAffiliateSettings.oldAffiliateBookingIntervalMinutes" value="@Model.Affiliate.BookingIntervalMinutes" />
    </div>
</div>
<div oc-lazy-load="[{files: ['../areas/admin/content/vendors/jquery-ui.selectable/jquery-ui.selectable.js'], serie:true }]">
    <div class="form-group row" ng-init="bookingAffiliateSettings.getTimes()">
        <div class="col-xs">
            <div class="setting-label-wrap">
                @T("Admin.Booking.SettingsTimeOfBooking.Monday")
                <help-trigger class="ng-cloak m-l-xs" use-template="true">
                    <div class="help-content">
                        <img src="../areas/admin/content/images/selectable.gif" height="220" width="150" />
                    </div>
                </help-trigger>
            </div>
            <div selectable
                 selectable-list="bookingAffiliateSettings.times"
                 selectable-options="{filter:'div'}"
                 selectable-events="{stop:'bookingAffiliateSettings.selectionStop($selected, bookingAffiliateSettings.mondayTimes)'}">
                <div ng-repeat="item in bookingAffiliateSettings.times track by $index">
                    <label class="adv-checkbox-label form-label-block">
                        <input type="checkbox" checklist-model="bookingAffiliateSettings.mondayTimes" checklist-value="item" class="adv-checkbox-input" />
                        <span class="adv-checkbox-emul"></span>
                        {{item}}
                    </label>
                </div>
            </div>
            <input type="hidden" name="MondayTimes" value="{{bookingAffiliateSettings.mondayTimes}}" />
        </div>
        <div class="col-xs">
            <div class="setting-label-wrap">
                @T("Admin.Booking.SettingsTimeOfBooking.Tuesday")
                <help-trigger class="ng-cloak m-l-xs" use-template="true">
                    <div class="help-content">
                        <img src="../areas/admin/content/images/selectable.gif" height="220" width="150" />
                    </div>
                </help-trigger>
            </div>
            <div selectable
                 selectable-list="bookingAffiliateSettings.times"
                 selectable-options="{filter:'div'}"
                 selectable-events="{stop:'bookingAffiliateSettings.selectionStop($selected, bookingAffiliateSettings.tuesdayTimes)'}">
                <div ng-repeat="item in bookingAffiliateSettings.times track by $index">
                    <label class="adv-checkbox-label form-label-block">
                        <input type="checkbox" checklist-model="bookingAffiliateSettings.tuesdayTimes" checklist-value="item" class="adv-checkbox-input" />
                        <span class="adv-checkbox-emul"></span>
                        {{item}}
                    </label>
                </div>
            </div>
            <input type="hidden" name="TuesdayTimes" value="{{bookingAffiliateSettings.tuesdayTimes}}" />
        </div>
        <div class="col-xs">
            <div class="setting-label-wrap">
                @T("Admin.Booking.SettingsTimeOfBooking.Wednesday")
                <help-trigger class="ng-cloak m-l-xs" use-template="true">
                    <div class="help-content">
                        <img src="../areas/admin/content/images/selectable.gif" height="220" width="150" />
                    </div>
                </help-trigger>
            </div>
            <div selectable
                 selectable-list="bookingAffiliateSettings.times"
                 selectable-options="{filter:'div'}"
                 selectable-events="{stop:'bookingAffiliateSettings.selectionStop($selected, bookingAffiliateSettings.wednesdayTimes)'}">
                <div ng-repeat="item in bookingAffiliateSettings.times track by $index">
                    <label class="adv-checkbox-label form-label-block">
                        <input type="checkbox" checklist-model="bookingAffiliateSettings.wednesdayTimes" checklist-value="item" class="adv-checkbox-input" />
                        <span class="adv-checkbox-emul"></span>
                        {{item}}
                    </label>
                </div>
            </div>
            <input type="hidden" name="WednesdayTimes" value="{{bookingAffiliateSettings.wednesdayTimes}}" />
        </div>
        <div class="col-xs">
            <div class="setting-label-wrap">
                @T("Admin.Booking.SettingsTimeOfBooking.Thursday")
                <help-trigger class="ng-cloak m-l-xs" use-template="true">
                    <div class="help-content">
                        <img src="../areas/admin/content/images/selectable.gif" height="220" width="150" />
                    </div>
                </help-trigger>
            </div>
            <div selectable
                 selectable-list="bookingAffiliateSettings.times"
                 selectable-options="{filter:'div'}"
                 selectable-events="{stop:'bookingAffiliateSettings.selectionStop($selected, bookingAffiliateSettings.thursdayTimes)'}">
                <div ng-repeat="item in bookingAffiliateSettings.times track by $index">
                    <label class="adv-checkbox-label form-label-block">
                        <input type="checkbox" checklist-model="bookingAffiliateSettings.thursdayTimes" checklist-value="item" class="adv-checkbox-input" />
                        <span class="adv-checkbox-emul"></span>
                        {{item}}
                    </label>
                </div>
            </div>
            <input type="hidden" name="ThursdayTimes" value="{{bookingAffiliateSettings.thursdayTimes}}" />
        </div>
        <div class="col-xs">
            <div class="setting-label-wrap">
                @T("Admin.Booking.SettingsTimeOfBooking.Friday")
                <help-trigger class="ng-cloak m-l-xs" use-template="true">
                    <div class="help-content">
                        <img src="../areas/admin/content/images/selectable.gif" height="220" width="150" />
                    </div>
                </help-trigger>
            </div>
            <div selectable
                 selectable-list="bookingAffiliateSettings.times"
                 selectable-options="{filter:'div'}"
                 selectable-events="{stop:'bookingAffiliateSettings.selectionStop($selected, bookingAffiliateSettings.fridayTimes)'}">
                <div ng-repeat="item in bookingAffiliateSettings.times track by $index">
                    <label class="adv-checkbox-label form-label-block">
                        <input type="checkbox" checklist-model="bookingAffiliateSettings.fridayTimes" checklist-value="item" class="adv-checkbox-input" />
                        <span class="adv-checkbox-emul"></span>
                        {{item}}
                    </label>
                </div>
            </div>
            <input type="hidden" name="FridayTimes" value="{{bookingAffiliateSettings.fridayTimes}}" />
        </div>
        <div class="col-xs">
            <div class="setting-label-wrap">
                @T("Admin.Booking.SettingsTimeOfBooking.Saturday")
                <help-trigger class="ng-cloak m-l-xs" use-template="true">
                    <div class="help-content">
                        <img src="../areas/admin/content/images/selectable.gif" height="220" width="150" />
                    </div>
                </help-trigger>
            </div>
            <div selectable
                 selectable-list="bookingAffiliateSettings.times"
                 selectable-options="{filter:'div'}"
                 selectable-events="{stop:'bookingAffiliateSettings.selectionStop($selected, bookingAffiliateSettings.saturdayTimes)'}">
                <div ng-repeat="item in bookingAffiliateSettings.times track by $index">
                    <label class="adv-checkbox-label form-label-block">
                        <input type="checkbox" checklist-model="bookingAffiliateSettings.saturdayTimes" checklist-value="item" class="adv-checkbox-input" />
                        <span class="adv-checkbox-emul"></span>
                        {{item}}
                    </label>
                </div>
            </div>
            <input type="hidden" name="SaturdayTimes" value="{{bookingAffiliateSettings.saturdayTimes}}" />
        </div>
        <div class="col-xs">
            <div class="setting-label-wrap">
                @T("Admin.Booking.SettingsTimeOfBooking.Sunday")
                <help-trigger class="ng-cloak m-l-xs" use-template="true">
                    <div class="help-content">
                        <img src="../areas/admin/content/images/selectable.gif" height="220" width="150" />
                    </div>
                </help-trigger>
            </div>
            <div selectable
                 selectable-list="bookingAffiliateSettings.times"
                 selectable-options="{filter:'div'}"
                 selectable-events="{stop:'bookingAffiliateSettings.selectionStop($selected, bookingAffiliateSettings.sundayTimes)'}">
                <div ng-repeat="item in bookingAffiliateSettings.times track by $index">
                    <label class="adv-checkbox-label form-label-block">
                        <input type="checkbox" checklist-model="bookingAffiliateSettings.sundayTimes" checklist-value="item" class="adv-checkbox-input" />
                        <span class="adv-checkbox-emul"></span>
                        {{item}}
                    </label>
                </div>
            </div>
            <input type="hidden" name="SundayTimes" value="{{bookingAffiliateSettings.sundayTimes}}" />
        </div>
    </div>
</div>
