<div class="col-p-v">
    <div class="row center-xs p-lg">
        <div class="col-xs-4">
            <div class="site-body-cell-no-left leftmost">
                <div class="err-code" data-text="404">
                    @T("Error.NotFound.404")
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="site-body-cell-no-right">
                <div class="err-txt">
                    @T("Error.NotFound.Title")
                </div>
                <div class="err-reasons">
                    <div class="err-reasons-title">@T("Error.NotFound.ReasonsTitle"):</div>
                    <ul class="err-reasons-list">
                        <li>@T("Error.NotFound.PageWasDeleted")</li>
                        <li>@T("Error.NotFound.IncorrectLinkToThePage")</li>
                        <li>@T("Error.NotFound.IncorrectTypeOrAddress")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
