@using FormMethod = System.Web.Mvc.FormMethod
@model AdvantShop.ViewModel.GiftCertificate.GiftCertificateViewModel

@{ 
    Html.AddAsset("giftcertificate");
}
<div class="mobile-container-fluid">
    <div class="gift-sertificate-block">
        <div class="site-body-cell">
            <div class="@(!SettingsDesign.IsMobileTemplate ? "col-p-v" : null )">
                <div class="page-title-row details-title-row">
                    <h1 class="page-title main-title preorder-title cs-bg-4--mobile">@T("GiftCertificate.Index.Header")</h1>
                </div>
                @Html.SingleBreadCrumb(T("GiftCertificate.Index.Header").ToString())
                <div class="row">
                    <div class="col-xs-12 col-sm-4 certificate-description col-p-v">
                        @T("GiftCertificate.Index.Limits")
                        <br />
                        @T("GiftCertificate.Index.MinimalPrice"):
                        @Model.MinimalPriceCertificate <br />
                        @T("GiftCertificate.Index.MaximumPrice"):
                        @Model.MaximalPriceCertificate <br />
                        @T("GiftCertificate.Index.MinimumOrderPrice"):
                        @Model.MinimumOrderPrice <br />
                    </div>
                    <div class="col-xs-12 col-sm-8 first-sm  col-p-v">
                        <div class="row">
                            <div class="col-xs-12 col-sm-10">
                                @using (Html.BeginForm("Index", "GiftCertificate", FormMethod.Post, new { name = "giftCertificate", novalidate = "novalidate" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <label class="row middle-xs">
                                        <span class="col-xs-12 col-sm-4">
                                            <span class="form-field-name input-required vertical-interval-small">@T("GiftCertificate.Index.NameTo"):</span>
                                        </span>
                                        <span class="col-xs-12 col-sm-8">
                                            <span class="form-field-input vertical-interval-small" data-ng-init="giftcertificate.NameTo='@Model.NameTo'">
                                                @Html.TextBoxFor(m => m.NameTo, new { @class = "input-small", required = "true", data_ng_model = "giftcertificate.NameTo" })
                                            </span>
                                        </span>
                                    </label>
                                    <label class="row middle-xs">
                                        <span class=" col-xs-12 col-sm-4">
                                            <span class="form-field-name input-required vertical-interval-small">@T("GiftCertificate.Index.NameFrom"):</span>
                                        </span>
                                        <span class="col-xs-12 col-sm-8">
                                            <span class="form-field-input vertical-interval-small" data-ng-init="giftcertificate.NameFrom='@Model.NameFrom'">
                                                @Html.TextBoxFor(m => m.NameFrom, new { @class = "input-small", required = "true", data_ng_model = "giftcertificate.NameFrom" })
                                            </span>
                                        </span>
                                    </label>
                                    <label class="row middle-xs">
                                        <span class=" col-xs-12 col-sm-4">
                                            <span class="form-field-name input-required vertical-interval-small">@T("GiftCertificate.Index.Sum"):</span>
                                        </span>
                                        <span class="col-xs-12 col-sm-8">
                                            <span class="form-field-input vertical-interval-small" data-ng-init="giftcertificate.Sum='@Model.Sum'">
                                                @Html.TextBoxFor(m => m.Sum, new { @class = "input-small", required = "true", type = "number", data_ng_model = "giftcertificate.Sum" })
                                            </span>
                                        </span>
                                    </label>
                                    <label class="row middle-xs">
                                        <span class=" col-xs-12 col-sm-4">
                                            <span class="form-field-name input-required vertical-interval-small">@T("GiftCertificate.Index.Message"):</span>
                                        </span>
                                        <span class="col-xs-12 col-sm-8">
                                            <span class="form-field-input vertical-interval-small" data-ng-init="giftcertificate.Message='@Model.Message'">
                                                @Html.TextAreaFor(m => m.Message, new { @class = "input-small", required = "true", data_ng_model = "giftcertificate.Message" })
                                            </span>
                                        </span>
                                    </label>
                                    <label class="row middle-xs">
                                        <span class=" col-xs-12 col-sm-4">
                                            <span class="form-field-name input-required vertical-interval-small">@T("GiftCertificate.Index.EmailTo"):</span>
                                        </span>
                                        <span class="col-xs-12 col-sm-8">
                                            <span class="form-field-input vertical-interval-small" data-ng-init="giftcertificate.EmailTo='@Model.EmailTo'">
                                                @Html.TextBoxFor(m => m.EmailTo, new { @class = "input-small", required = "true", type = "email", data_ng_model = "giftcertificate.EmailTo", pattern = @"^([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)$" })
                                            </span>
                                        </span>
                                    </label>
                                    <label class="row middle-xs">
                                        <span class=" col-xs-12 col-sm-4">
                                            <span class="form-field-name input-required vertical-interval-small">@T("GiftCertificate.Index.EmailFrom"):</span>
                                        </span>
                                        <span class="col-xs-12 col-sm-8">
                                            <span class="form-field-input vertical-interval-small" data-ng-init="giftcertificate.EmailFrom='@Model.EmailFrom'">
                                                @Html.TextBoxFor(m => m.EmailFrom, new { @class = "input-small", required = "true", type = "email", data_ng_model = "giftcertificate.EmailFrom", pattern = @"^([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)$" })
                                            </span>
                                        </span>
                                    </label>
                                    <label class="row middle-xs">
                                        <span class=" col-xs-12 col-sm-4">
                                            <span class="form-field-name input-required vertical-interval-small">@T("GiftCertificate.Index.Phone")</span>
                                        </span>
                                        <span class="col-xs-12 col-sm-8">
                                            <span class="form-field-input vertical-interval-small" data-ng-init="giftcertificate.Phone='@Model.Phone'">
                                                @Html.TextBoxFor(m => m.Phone, new { @class = "input-small", required = "true", type = "tel", 
                                               data_ng_model = "giftcertificate.Phone",
                                               data_mask_control = "true",
                                               data_mask_control_preset = "phone",
                                               autocomplete = "tel"
                                           })
                                            </span>
                                        </span>
                                    </label>


                                    <div class="row middle-xs">
                                        <div class=" col-xs-12 col-sm-4">
                                            <span class="form-field-name input-required vertical-interval-small">@T("GiftCertificate.Index.PaymentMethod")</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 vertical-interval-small" data-ng-init="giftcertificate.init('@Model.PaymentKey.ToLower()')">
                                            @foreach (var payment in Model.PaymentMethods)
                                            {
                                                <div class="vertical-interval-small">
                                                    <label>
                                                        <input type="radio" class="m-r-xs" name="payments" value="@payment.PaymentMethodId" checked="@(payment.PaymentMethodId == Model.PaymentMethod)"
                                                               data-ng-click="giftcertificate.paymentMethodChange(@payment.PaymentMethodId)" />
                                                        @Html.Raw(payment.Name)
                                                    </label>
                                                </div>
                                            }
                                            @Html.HiddenFor(m => m.PaymentMethod)
                                        </div>
                                    </div>

                                    if (SettingsCheckout.IsShowUserAgreementText)
                                    {
                                        <label class="row middle-xs">
                                            <span class="form-field-input vertical-interval-xsmall col-xs-12">
                                                @Html.CheckBoxFor(m => m.Agreement, new { required = "required", data_ng_model = "giftcertificate.agreement", @class = "custom-input-native", data_ng_init = "giftcertificate.agreement = " + SettingsCheckout.AgreementDefaultChecked.ToLowerString() })
                                                <span class="custom-input-checkbox"></span>
                                                @Html.Raw(SettingsCheckout.UserAgreementText)
                                            </span>
                                        </label>
                                    }

                                    if (SettingsMain.EnableCaptchaInGiftCerticate)
                                    {
                                        <label class="row middle-xs">
                                            <span class="col-xs-4">
                                                <span class="form-field-name input-required">@T("Captcha.Code")</span>
                                            </span>
                                            <span class="col-xs-12 col-sm-8">
                                                <span class="form-field-input vertical-interval-small">
                                                    @Html.Captcha("giftCertificate.captcha")
                                                </span>
                                            </span>
                                        </label>
                                    }
                                    <div class="row middle-xs">
                                        <div class="col-xs-12 col-sm-8 col-sm-offset-4 vertical-interval-small">
                                            <input type="submit" class="btn btn-small btn-submit btn-block" value="@T("GiftCertificate.Index.Buy")" data-button-validation="giftcertificate.send()" />
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-sm-offset-4 text-align-center vertical-interval-small">
                                            <a href="javascript:void(0)" id="printCert" data-ng-click="giftcertificate.previewModal()">@T("GiftCertificate.Index.PreView")</a>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Action("GiftCertificateModal", new { IsModal = true })
    </div>
</div>