@{ 
    var controller = Request.RequestContext.RouteData.Values["controller"].ToString().ToLower();
}
<div class="vertical-interval-big no-top">
    <div class="cs-bg-7">
        <div class="container container-fluid">
            <ul class="menu-top">
                <li class="menu-top-item @(controller == "home" ? "selected" : string.Empty)">
                    <a href="@Url.Action("Index", "Home")" class="menu-top-link cs-t-1">
                        <span class="menu-top-link-text">Сводка</span>
                    </a>
                </li>
                <li class="menu-top-item @(controller == "customers" ? "selected" : string.Empty)">
                    <a href="@Url.Action("Index", "Customers")" class="menu-top-link cs-t-1">
                        <span class="menu-top-link-text">Клиенты</span>
                    </a>
                </li>
                <li class="menu-top-item @(controller == "accruals" ? "selected" : string.Empty)">
                    <a href="@Url.Action("Index", "Accruals")" class="menu-top-link cs-t-1">
                        <span class="menu-top-link-text">Начисления</span>
                    </a>
                </li>
                <li class="menu-top-item @(controller == "rewards" ? "selected" : string.Empty)">
                    <a href="@Url.Action("Index", "Rewards")" class="menu-top-link cs-t-1">
                        <span class="menu-top-link-text">Выплаты</span>
                    </a>
                </li>
                <li class="menu-top-item @(controller == "settings" ? "selected" : string.Empty)">
                    <a href="@Url.Action("Index", "Settings")" class="menu-top-link cs-t-1">
                        <span class="menu-top-link-text">Настройки</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
