@model AdvantShop.Web.Admin.ViewModels.Tasks.TasksListViewModel
@using AdvantShop.Core.Services.Admin
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    if (AdminAreaTemplate.Current != null)
    {
        Layout = "~/Areas/Admin/Templates/" + AdminAreaTemplate.Current + "/Views/Shared/_Layout.cshtml";
    }

    var pageUrl = Model.TaskGroupId.HasValue
        ? Url.RouteUrl("Admin_project", new { taskGroupId = Model.TaskGroupId })
        : Url.Action("Index");
    var sTaskGroupId = Model.TaskGroupId.HasValue ? Model.TaskGroupId.ToString() : "null";
}
@if (AdminAreaTemplate.Current == null)
{
    @section NavMenu {
        @Html.Action("NavMenu", "Tasks")
    }
}

@section TopContent {
    <div class="balance__padding-page balance__padding-page--bg-white m-b-md">
        <div class="main-panel-page">
            <div class="sticky-page-name p-b-n" sticky sticky-top="0">
                <div class="page-name-block sticky-page-name-inner">
                    <div class="page-name-block-item-main">
                        @if (!AdminAreaTemplate.IsAdminv3())
                        {
                            <h1 class="page-name-block-text sticky-page-name-text inline m-r-sm vertical-align page-name-block-text--bigger">
                                <span ng-init="tasks.taskGroupName='@Model.Title.Replace("\'", "\\'")'" ng-bind="tasks.taskGroupName">@Model.Title</span>
                            </h1>
                            if (Model.TaskGroupId != null && CustomerContext.CurrentCustomer.IsAdmin)
                            {
                                <ui-modal-trigger data-controller="'ModalAddEditTaskGroupCtrl'" controller-as="ctrl"
                                                  template-url="../areas/admin/content/src/taskgroups/modal/addEditTaskGroup.html"
                                                  data-on-close="tasks.editTaskGroupClose(result)"
                                                  data-resolve="{'id': @Model.TaskGroupId.Value}"
                                                  class="m-r-sm">
                                    <a href="" class="link-invert fas fa-pencil-alt text-decoration-none js-task-group-edit"></a>
                                </ui-modal-trigger>
                            }

                        }
                        else
                        {
                            @*<div>
                                @Html.Back(T("Admin.Settings.Commonpage.Tasks").ToString(), "settingstasks#?tasksTab=taskGroups")
                            </div>*@
                            <div class="flex middle-xs">
                                <div class="m-r-sm inline vertical-middle" data-submenu-container="{'type': 'modern','checkOrientation': true, 'blockOrientation': 'body', 'delayHover': 100}">
                                    <div class="dropdown" data-submenu-parent>
                                        <span class="dropdown-toggle header-bottom-menu-link">
                                            <span class="dropdown-page-name-text">
                                                <span class="page-name-block-text sticky-page-name-text original-header-page vertical-middle page-name-block-text--bigger inline" ng-init="tasks.taskGroupName='@Model.Title.Replace("\'", "\\'")'" ng-bind="tasks.taskGroupName">
                                                    @Model.Title
                                                </span>
                                                <span class="fa fa-angle-down font-bold vertical-middle p-t-xs"></span>
                                            </span>
                                        </span>

                                        <ul role="menu" class="dropdown-menu submenu dropdown-menu--limited header-dropdown-menu" data-submenu>
                                            @Html.Action("NavMenu", "Tasks")
                                        </ul>
                                    </div>
                                </div>
                                @if (Model.TaskGroupId != null && CustomerContext.CurrentCustomer.IsAdmin)
                                {
                                    <ui-modal-trigger data-controller="'ModalAddEditTaskGroupCtrl'" controller-as="ctrl"
                                                      template-url="../areas/admin/content/src/taskgroups/modal/addEditTaskGroup.html"
                                                      data-on-close="tasks.editTaskGroupClose(result)"
                                                      data-resolve="{'id': @Model.TaskGroupId.Value}"
                                                      class="m-r-sm">
                                        <a href="" class="link-invert fas fa-pencil-alt text-decoration-none js-task-group-edit"></a>
                                    </ui-modal-trigger>
                                }
                                <div class="p-l-xs p-t-xs">
                                    <a href="https://www.advantshop.net/help/pages/sozdanie-zadach" target="_blank" class="link-academy link-invert inline-flex middle-xs">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="18" height="18" fill="#989a9b" class="m-r-xs">
                                        <path d="M20.005,512c-5.097,0-10.116-1.948-13.925-5.641c-5.845-5.666-7.672-14.309-4.621-21.855l45.411-112.333  C16.162,332.253,0,285.425,0,236c0-63.375,26.855-122.857,75.62-167.489C123.891,24.331,187.952,0,256,0  s132.109,24.331,180.38,68.511C485.145,113.143,512,172.625,512,236c0,45.448-14.04,89.577-40.602,127.615  c-6.325,9.057-18.792,11.271-27.849,4.947s-11.271-18.792-4.947-27.849C460.452,309.425,472,273.215,472,236  c0-108.075-96.897-196-216-196S40,127.925,40,236c0,43.783,15.577,85.2,45.046,119.773c4.834,5.671,6.115,13.561,3.321,20.47  l-31.366,77.589l91.345-40.266c5.063-2.231,10.826-2.267,15.916-0.095C193.082,425.766,223.946,432,256,432  c36.892,0,73.299-8.587,105.286-24.832c9.85-5,21.887-1.072,26.889,8.775c5.001,9.849,1.073,21.887-8.775,26.889  C341.828,461.914,299.157,472,256,472c-34.48,0-67.835-6.191-99.276-18.413L28.068,510.301C25.474,511.444,22.728,512,20.005,512z   M276,325V217c0-11.046-8.954-20-20-20s-20,8.954-20,20v108c0,11.046,8.954,20,20,20S276,336.046,276,325z M256,128  c-11.046,0-20,8.954-20,20l0,0c0,11.046,8.954,20,20,20s20-8.954,20-20l0,0C276,136.954,267.046,128,256,128z"></path>
                                        </svg>
                                        <span>Инструкция. Создание задач</span>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="page-name-block-item-additional">
                        <ui-modal-trigger data-controller="'ModalAddTaskCtrl'" controller-as="ctrl" on-close="tasks.refresh(!tasks.useKanban)" size="xs-8" backdrop="static"
                                          template-url="../areas/admin/content/src/_shared/modal/addTask/addTask.html" class="pull-right"
                                          data-resolve="{'taskGroupId': @sTaskGroupId}">
                            <button data-e2e="AddTask" class="btn btn-sm btn-success" type="button">
                                <span class="fa fa-plus"></span>
                                @T("Admin.AddTask")
                            </button>
                        </ui-modal-trigger>
                        <div class="pull-right m-r m-t-xs">
                            <label class="adv-checkbox-label pointer m-r">
                                <input class="adv-radio-input" name="UseKanban" ng-change="tasks.changeView('kanban', true)"
                                       ng-model="tasks.useKanban" type="radio" ng-value="true">
                                @T("Admin.Tasks.Index.Kanban")
                                <span data-e2e="UseKanban" class="adv-radio-emul"></span>
                            </label>
                            <label class="adv-checkbox-label pointer">
                                <input class="adv-radio-input" name="UseKanban" ng-change="tasks.changeView('grid', true)"
                                       ng-model="tasks.useKanban" type="radio" ng-value="false">
                                @T("Admin.Tasks.Index.Table")
                                <span data-e2e="UseGrid" class="adv-radio-emul"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
}

@RenderBody()