@model AdvantShop.ViewModel.ProductDetails.ProductPhotosViewModel
@{
    var labels = @Html.RenderLabels(Model.Product.Recomended, Model.Product.OnSale, Model.Product.BestSeller, Model.Product.New, Model.Discount, customLabels: Model.Labels, warranty: Model.Product.ManufacturerWarranty);
}
<div class="gallery-block" data-ng-init="product.setPreview({'colorId': @(Model.MainPhoto.ColorID != null ? Model.MainPhoto.ColorID.ToString() : "null"), 'previewPath':'@Model.MainPhoto.ImageSrcMiddle()','originalPath':'@Model.MainPhoto.ImageSrcBig()', 'title':'@Html.AttributeEncode(Model.MainPhoto.Title)', 'PhotoId': @Model.MainPhoto.PhotoId})">
    <figure class="gallery-picture text-static">
        <a class="gallery-picture-link link-text-decoration-none"
           href="@Model.MainPhoto.ImageSrcBig()"
           @(Model.EnabledModalPreview && Model.Photos.Count > 0 ? Html.Raw("data-ng-click=\"product.modalPreviewOpen($event, product.picture)\"") : Html.Raw("data-ng-click=\"$event.preventDefault();\""))
           @(Model.EnabledZoom && Model.Photos.Count > 0 ? Html.Raw("data-zoomer data-preview-path=\"product.picture.previewPath\" data-original-path=\"product.picture.originalPath\" data-zoomer-title=\"product.picture.title\" data-zoom-height=\"" + Model.PreviewPhotoHeight + "\" data-zoom-width=\"" + Model.PreviewPhotoWidth + "\"") : Html.Raw(""))>
            <img itemprop="image" class="gallery-picture-obj"
                 src="@Model.MainPhoto.ImageSrcMiddle()"
                 alt="@Model.MainPhoto.Alt"
                 data-ng-src="{{product.picture.previewPath}}"
                 style="max-height: @(Model.PreviewPhotoHeight + "px");"
                 width="@Model.PreviewPhotoWidth"
                 height="@Model.PreviewPhotoHeight"
                 @Html.InplaceImageProduct(Model.MainPhoto.PhotoId, Model.Product.ProductId, AdvantShop.FilePath.ProductImageType.Middle) />
        </a>
        <span class="gallery-picture-labels">@labels</span>
        @Html.Action("ProductGifts", "Product", new { productModel = Model.ProductModel })
    </figure>
    @if (Model.ActiveThreeSixtyView)
    {
        <div class="ng-cloak">
            <div id="modalProductRotate" data-modal-control data-move-in-body="true" data-modal-class="modal-rotate" data-close-out="false" data-callback-close="product.showRotate(false)">
                <div>
                    @*<div class="page-title-row details-title-row modal-header modal-product-rotate-header-wrap">
                        <div class="details-title page-title modal-product-rotate-header"></div>
                    </div>*@
                    <figure class="details-rotate modal-content" data-ng-if="product.visibleRotate === true">
                        <div data-rotate
                             data-image-path="pictures/product/rotate/@Html.Raw(Model.Product.ProductId)/"
                             data-total-frames="@Model.Photos360.Count"
                             data-height="@(Model.PreviewPhotoHeight)"
                             data-end-frame="@Model.Photos360.Count"
                             data-img-list=".threesixty_images"
                             data-progress=".spinner"
                             data-width="@(Model.PreviewPhotoWidth)"
                             data-ext="@Model.Photos360Ext">
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    }

    @if (Model.Video != null)
    {
        <div class="ng-cloak">
            <div id="modalProductVideo" data-modal-control data-move-in-body="true" data-modal-class="modal-video modal-product-video" data-callback-close="product.showVideo(false);">
                <div class="modal-content" data-ng-if="product.visibleVideo === true" data-ng-class="{'carousel-product-video-in-modal-content': !product.carouselVideosInModalInit}">
                    <div data-carousel initilaze-to="#productVideoInModal" data-init-on-load="true" data-load="product.videosInModalReceived" data-visible-max="1" data-stretch="true"
                         data-carousel-class="carousel-product-video-in-modal" data-next-class="carousel-product-video-in-modal-btn" data-prev-class="carousel-product-video-in-modal-btn"
                         data-init-fn="product.onInitCarouselVideosInModal()"
                         class="carousel-product-video-in-modal--wrap">
                        <div id="productVideoInModal" class="product-videos-in-modal" data-videos data-product-id="@Model.Product.ProductId" data-on-receive="product.onReceiveVideosInModal()"></div>@*@Html.Raw(Model.Video.PlayerCode)*@
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row center-xs middle-xs details-additional-graphics">
        @if (Model.ActiveThreeSixtyView || Model.Video != null)
        {
            <div class="details-photos__left">
                @if (Model.ActiveThreeSixtyView)
                {
                    <a href="" class="cs-l-3 details-photos__trigger details-photos__trigger-360" data-ng-click="product.showRotate(true)" data-modal-open="modalProductRotate">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
                        <path fill="currentColor" d="M144,296H80c-8.837,0-16-7.163-16-16s7.163-16,16-16h48v-96H80c-8.837,0-16-7.163-16-16s7.163-16,16-16h64
	                        c8.837,0,16,7.163,16,16v128C160,288.837,152.837,296,144,296z" />

                        <path fill="currentColor" d="M256,296h-32c-17.673,0-32-14.327-32-32v-96c0-17.673,14.327-32,32-32h48c8.837,0,16,7.163,16,16s-7.163,16-16,16h-48v32h32
	                        c17.673,0,32,14.327,32,32v32C288,281.673,273.673,296,256,296z M224,232v32h32v-32H224z" />

                        <path fill="currentColor" d="M384,296h-32c-17.673,0-32-14.327-32-32v-96c0-17.673,14.327-32,32-32h32c17.673,0,32,14.327,32,32v96
	                        C416,281.673,401.673,296,384,296z M352,168v96h32v-96H352z" />

                        <path fill="currentColor" d="M144,232H80c-8.837,0-16-7.163-16-16s7.163-16,16-16h64c8.837,0,16,7.163,16,16S152.837,232,144,232z" />

                        <path fill="currentColor" d="M256,424C112.448,424,0,367.776,0,296c1.294-27.41,15.428-52.607,38.144-68c6.972-5.443,17.037-4.204,22.48,2.768
	                        c5.443,6.972,4.204,17.037-2.768,22.48l0,0C43.249,262.887,33.753,278.587,32,296c0,45.408,92,96,224,96c8.837,0,16,7.163,16,16
	                        S264.837,424,256,424z" />

                        <path fill="currentColor" d="M304,421.76c-8.837,0.424-16.344-6.395-16.768-15.232s6.395-16.344,15.232-16.768C403.68,380.064,480,339.712,480,296
	                        c-1.753-17.413-11.249-33.113-25.856-42.752c-6.963-5.443-8.195-15.501-2.752-22.464c5.443-6.963,15.501-8.195,22.464-2.752l0,0
	                        C496.578,243.404,510.716,268.596,512,296c0,62.24-84.896,113.952-206.464,125.696L304,421.76z" />

                        <path fill="currentColor" d="M208,472c-8.837,0.016-16.013-7.135-16.029-15.971c-0.008-4.26,1.684-8.348,4.701-11.357L233.376,408l-36.704-36.672
	                        c-6.256-6.256-6.256-16.4,0-22.656s16.4-6.256,22.656,0l48,48c6.256,6.24,6.269,16.371,0.029,22.627
	                        c-0.01,0.01-0.019,0.019-0.029,0.029l-48,48C216.322,470.327,212.246,472.008,208,472z" />

                        <path fill="currentColor" d="M464,136c-26.51,0-48-21.49-48-48s21.49-48,48-48s48,21.49,48,48S490.51,136,464,136z M464,72c-8.837,0-16,7.163-16,16
	                        s7.163,16,16,16s16-7.163,16-16S472.837,72,464,72z" />

                    </svg>
                    </a>
                }
                @if (Model.Video != null)
                {
                    <a href="" class="cs-l-3 details-photos__trigger details-photos__trigger-video" data-ng-click="product.showVideo(true)" data-modal-open="modalProductVideo">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 351.719 351.719" xml:space="preserve">
                        <path fill="currentColor" d="M48.528,123.507l278.652-78.792L314.547,0L14.727,84.776l10.953,38.731h-0.258v38.266v8.196v181.75h311.57v-181.75
				        v-8.196v-38.266H48.528z M317.057,39.059l-27.952,7.908l20.044-35.885L317.057,39.059z M254.896,25.403L234.13,62.51
				        l-38.244,10.818l20.734-37.122L254.896,25.403z M161.662,51.75l-20.752,37.116l-42.544,12.027l20.752-37.121L161.662,51.75z
				         M64.146,79.314l-20.752,37.122l-10.374,2.933l-8.166-28.931L64.146,79.314z M272.85,131.703l-30.066,30.063h-39.781
				        l30.084-30.063H272.85z M175.971,131.703l-30.081,30.063h-44.192l30.069-30.063H175.971z M44.574,161.767h-10.95v-30.063h41.013
				        L44.574,161.767z M328.79,161.767h-28.896l28.896-28.883V161.767z" />

                    </svg>
                    </a>
                }
            </div>
        }
        @if (Model.EnabledModalPreview && Model.Photos.Count > 0)
        {
            <div class="details-photos__right">
                <a href="" class="gallery-zoom icon-search-before-abs cs-l-3 link-dotted" data-ng-click="product.modalPreviewOpen($event, product.picture)">@T("Product.ProductPhotos.Zoom")</a>
            </div>
        }
    </div>

    @if (Model.Photos.Count > 1)
    {
        <div class="gallery-photos details-carousel details-carousel-hidden" data-ng-class="{'details-carousel-hidden' : product.carouselHidden}" data-ng-init="product.carouselExist = true">
            <div class="carousel">
                <div class="carousel-inner">
                    <div class="gallery-photos-slider-list-horizontal carousel-list"
                         data-carousel
                         data-carousel-class="gallery-photos-slider"
                         data-init-fn="product.addCarousel(carousel)"
                         data-item-select="product.carouselItemSelect(carousel, item, index)"
                         data-item-select-class="details-carousel-selected"
                         data-stretch="true">
                        @{
                            var i = 0;
                        }
                        @foreach (var photo in Model.Photos)
                        {
                            <div class="details-carousel-item" data-ng-click="product.photoInit()" data-parameters="{'colorId': @(photo.ColorID != null ? photo.ColorID.ToString() : "null") , 'main' : @photo.Main.ToString().ToLower(), 'previewPath': '@photo.ImageSrcMiddle()', 'originalPath': '@photo.ImageSrcBig()', 'title': '@Html.AttributeEncode(photo.Title)', 'PhotoId': @photo.PhotoId }">
                                <figure class="gallery-photos-item" style="height: @(Model.CarouselPhotoHeight + "px");">
                                    <span>
                                        <img class="gallery-photos-item-obj img-not-resize" style="max-height:@(Model.CarouselPhotoHeight + "px")" @(i == 0 ? "src" : "data-src")="@photo.ImageSrcXSmall()" alt="@photo.Alt" title="@photo.Title" />
                                    </span>
                                </figure>
                            </div>
                            i++;
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@if (Model.EnabledModalPreview && Model.Photos.Count > 0)
{
    <div class="modal ng-hide"
         id="modalPreview_@Model.Product.ProductId"
         data-modal-control
         data-callback-open="product.modalPreviewCallbackOpen(modal)"
         data-callback-close="product.modalPreviewCallbackClose(modal)"
         data-modal-class="details-modal-preview">
        <div data-modal-header class="modal-header">@Html.GetPageH1()</div>
        <div class="modal-content details-modal-preview-block">

            @if (Model.Photos != null && Model.Photos.Count > 1)
            {
                <a href="" ng-click="product.carouselPreviewPrev()" class="icon-left-open-before details-modal-preview-arrow link-text-decoration-none"></a>
            }

            <div class="details-modal-preview-cell details-modal-preview-cell-photo">
                <figure class="gallery-picture details-preview-block"
                        data-ng-style="{'height' : product.modalPreviewHeight + 'px'}"
                        data-ng-class="{'modal-preview-image-load' : product.modalPreviewState === 'load','modal-preview-image-complete' : product.modalPreviewState === 'complete'}"
                        data-window-resize="product.resizeModalPreview(event)">
                    <a href=""
                       class="details-preview-block-link"
                       data-ng-style="{'height' : product.modalPreviewHeight + 'px'}"
                       @Html.Raw(Model.EnabledZoom && Model.Photos.Count > 0 ? "data-zoomer  data-type=\"inner\" data-zoomer-title=\"product.picture.title\" data-preview-path=\"product.picture.originalPath\"  data-original-path=\"product.picture.originalPath\"" : string.Empty)>
                        <img alt="@Model.MainPhoto.Alt"
                             class="gallery-picture-obj"
                             data-ng-style="{'max-height' : product.modalPreviewHeight + 'px'}"
                             data-ng-src="{{product.picture.originalPath}}" />
                    </a>
                </figure>
            </div>

            @if (Model.Photos != null && Model.Photos.Count > 1)
            {
                <a href="" ng-click="product.carouselPreviewNext()" class="icon-right-open-before details-modal-preview-arrow link-text-decoration-none"></a>
            }

            <div class="carousel details-modal-carousel">
                <div class="carousel-inner">
                    <div class="gallery-photos-slider-list-vertical details-modal-preview-aside"
                         data-carousel
                         data-is-vertical="true"
                         data-stretch="false"
                         data-init-fn="product.addModalPictureCarousel(carousel)"
                         data-item-select="product.carouselItemSelect(carousel, item, index)"
                         data-item-select-class="details-carousel-selected">
                        @{
                            var i = 0;
                        }
                        @foreach (var photo in Model.Photos)
                        {
                            <div class="details-carousel-item-vertical" data-parameters="{'colorId': @(photo.ColorID != null ? photo.ColorID.ToString() : "null") , 'main' : @photo.Main.ToString().ToLower(), 'previewPath': '@photo.ImageSrcMiddle()', 'originalPath': '@photo.ImageSrcBig()', 'title': '@Html.AttributeEncode(photo.Title)', 'PhotoId': @photo.PhotoId }">
                                <figure class="gallery-photos-item" style="height: @(Model.CarouselPhotoHeight + "px"); width: @(Model.CarouselPhotoWidth + "px");">
                                    <img class="gallery-photos-item-obj" @(i == 0 ? "src" : "data-src")="@photo.ImageSrcXSmall()" alt="@photo.Alt" title="@photo.Title" />
                                </figure>
                            </div>
                            i++;
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
