@model AdvantShop.ViewModel.ProductDetailsLanding.ProductDetailsViewModelLanding

<div data-ng-controller="ProductCtrl as product" class="product-view-landing-alt" data-lozad-adv="product.loadData(@Model.ProductModel.Product.ProductId,  @(Model.ProductModel.ColorId != null ?  Model.ProductModel.ColorId.ToString() : "null"), null, false)">
    <div class="row product-view-landing-alt__row">
        <div class="col-xs-12 col-sm-6">
            @Html.Action("ProductPhotos", new { productModel = Model.ProductModel, enabledModalPreview = false, landing = true })
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="page-title-row details-title-row">
                <div class="lp-products-view-alt__name">
                    @Model.ProductModel.Product.Name
                </div>
            </div>
            <div class="lp-products-view-item-price">
                @Html.Partial("ProductInfoLanding", Model)
            </div>
        </div>
    </div>
</div>
