@using AdvantShop.CMS
@model AdvantShop.ViewModel.ProductDetails.ProductReviewsViewModel

@helper BuildReviews(List<Review> reviews, int parentId, bool indent)
{
    var items = reviews.Where(r => r.ParentId == parentId).ToList();
    if (items.Count > 0)
    {
        <ul class="reviews-list">
            @foreach (var item in items)
            {
                <li class="review-item" data-review-item data-review-id="@item.ReviewId">
                    <div class="row" itemprop="review" itemscope itemtype="https://schema.org/Review">
                        <meta itemprop="itemReviewed" content="@Html.AttributeEncode(Html.GetPageH1())" />
                        <div class="col-xs">
                            <div class="review-item__head">
                                <div class="review-item-name cs-t-1" itemprop="author" itemscope itemtype="https://schema.org/Person" @Html.InplaceReview(item.ReviewId.ToString(), ReviewInplaceField.Name, true)>
                                    <span itemprop="name">@Html.Raw(item.Name)</span>
                                </div>
                                <div class="review-item-date cs-t-3">
                                    <time datetime="@item.AddDate.ToString("yyyy-MM-dd")" itemprop="datePublished">@item.AddDate.ToShortDateTime()</time>
                                </div>
                            </div>
                            @if (Model.DisplayImage && item.Photos.Any())
                            {
                                <ul class="review-item__photo-list" data-magnific-popup data-magnific-popup-options="{gallery : {enabled : true}, delegate: 'a.review-item__photo-link', type: 'image'}">
                                    @foreach (var photo in item.Photos)
                                    {
                                        <li class="review-item__photo-item" style="-webkit-flex-basis: @(photo.ImageWidth)px; -ms-flex-preferred-size: @(photo.ImageWidth)px; flex-basis: @(photo.ImageWidth)px;">
                                            <a class="review-item__photo-link" href="@(!string.IsNullOrWhiteSpace(photo.BigImageSrc()) ? photo.BigImageSrc() : "images/nophoto_user.jpg")">
                                                <img alt="@item.Name" src="@(!string.IsNullOrWhiteSpace(photo.ImageSrc()) ? photo.ImageSrc() : "images/nophoto_user.jpg")" @Html.InplaceImageReview(photo.PhotoId.ToString(), item.ReviewId.ToString()) />
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                            <readmore class="review-item-text">
                                <div itemprop="description" @Html.InplaceReview(item.ReviewId.ToString(), ReviewInplaceField.Message)>
                                    @Html.Raw(item.Text)
                                </div>
                            </readmore>
                            <div class="review-item-buttons">
                                @if (Model.ReviewsReadonly == false)
                                {
                                    <a href="" class="review-item-button cs-l-3" data-review-reply data-review-id="@item.ReviewId">{{ ::'Js.Review.Respond' | translate }}</a>
                                }
                                @if (Model.IsAdmin)
                                {
                                    <a href="" class="review-item-button cs-l-3" data-review-delete data-review-id="@item.ReviewId" data-action-url="/reviews/delete">{{ ::'Js.Review.Delete' | translate }}</a>
                                }

                                @if (!Model.ReviewsVoiteOnlyRegisteredUsers || Model.RegistredUser)
                                {
                                    <div class="review-item-rating" data-review-item-rating data-action-url="'/reviews/likevote'" data-review-id="@item.ReviewId" data-count-dislikes="@item.DislikesCount" data-count-likes="@item.LikesCount">
                                        <div class="review-item-rating__item m-r-sm">
                                            <a href="" class="link-text-decoration-none cs-l-3" data-ng-click="reviewItemRating.like()">
                                                <svg width="14" height="15"
                                                     fill="currentColor"
                                                     viewBox="0 0 478.2 478.2">
                                                    <path d="M457.575,325.1c9.8-12.5,14.5-25.9,13.9-39.7c-0.6-15.2-7.4-27.1-13-34.4c6.5-16.2,9-41.7-12.7-61.5
		                                                    c-15.9-14.5-42.9-21-80.3-19.2c-26.3,1.2-48.3,6.1-49.2,6.3h-0.1c-5,0.9-10.3,2-15.7,3.2c-0.4-6.4,0.7-22.3,12.5-58.1
		                                                    c14-42.6,13.2-75.2-2.6-97c-16.6-22.9-43.1-24.7-50.9-24.7c-7.5,0-14.4,3.1-19.3,8.8c-11.1,12.9-9.8,36.7-8.4,47.7
		                                                    c-13.2,35.4-50.2,122.2-81.5,146.3c-0.6,0.4-1.1,0.9-1.6,1.4c-9.2,9.7-15.4,20.2-19.6,29.4c-5.9-3.2-12.6-5-19.8-5h-61
		                                                    c-23,0-41.6,18.7-41.6,41.6v162.5c0,23,18.7,41.6,41.6,41.6h61c8.9,0,17.2-2.8,24-7.6l23.5,2.8c3.6,0.5,67.6,8.6,133.3,7.3
		                                                    c11.9,0.9,23.1,1.4,33.5,1.4c17.9,0,33.5-1.4,46.5-4.2c30.6-6.5,51.5-19.5,62.1-38.6c8.1-14.6,8.1-29.1,6.8-38.3
		                                                    c19.9-18,23.4-37.9,22.7-51.9C461.275,337.1,459.475,330.2,457.575,325.1z M48.275,447.3c-8.1,0-14.6-6.6-14.6-14.6V270.1
		                                                    c0-8.1,6.6-14.6,14.6-14.6h61c8.1,0,14.6,6.6,14.6,14.6v162.5c0,8.1-6.6,14.6-14.6,14.6h-61V447.3z M431.975,313.4
		                                                    c-4.2,4.4-5,11.1-1.8,16.3c0,0.1,4.1,7.1,4.6,16.7c0.7,13.1-5.6,24.7-18.8,34.6c-4.7,3.6-6.6,9.8-4.6,15.4c0,0.1,4.3,13.3-2.7,25.8
		                                                    c-6.7,12-21.6,20.6-44.2,25.4c-18.1,3.9-42.7,4.6-72.9,2.2c-0.4,0-0.9,0-1.4,0c-64.3,1.4-129.3-7-130-7.1h-0.1l-10.1-1.2
		                                                    c0.6-2.8,0.9-5.8,0.9-8.8V270.1c0-4.3-0.7-8.5-1.9-12.4c1.8-6.7,6.8-21.6,18.6-34.3c44.9-35.6,88.8-155.7,90.7-160.9
		                                                    c0.8-2.1,1-4.4,0.6-6.7c-1.7-11.2-1.1-24.9,1.3-29c5.3,0.1,19.6,1.6,28.2,13.5c10.2,14.1,9.8,39.3-1.2,72.7
		                                                    c-16.8,50.9-18.2,77.7-4.9,89.5c6.6,5.9,15.4,6.2,21.8,3.9c6.1-1.4,11.9-2.6,17.4-3.5c0.4-0.1,0.9-0.2,1.3-0.3
		                                                    c30.7-6.7,85.7-10.8,104.8,6.6c16.2,14.8,4.7,34.4,3.4,36.5c-3.7,5.6-2.6,12.9,2.4,17.4c0.1,0.1,10.6,10,11.1,23.3
		                                                    C444.875,295.3,440.675,304.4,431.975,313.4z" />
                                                </svg>
                                            </a>
                                            <span class="review-item-rating__count--likes" data-ng-bind="reviewItemRating.likeData.Likes">@item.LikesCount</span>
                                        </div>
                                        <div class="review-item-rating__item">
                                            <a href="" class="link-text-decoration-none cs-l-3" data-ng-click="reviewItemRating.dislike()">
                                                <svg width="14" height="15"
                                                     transform="translate(0, 3) rotate(180)"
                                                     fill="currentColor"
                                                     viewBox="0 0 478.2 478.2">
                                                    <path d="M457.575,325.1c9.8-12.5,14.5-25.9,13.9-39.7c-0.6-15.2-7.4-27.1-13-34.4c6.5-16.2,9-41.7-12.7-61.5
		                                                    c-15.9-14.5-42.9-21-80.3-19.2c-26.3,1.2-48.3,6.1-49.2,6.3h-0.1c-5,0.9-10.3,2-15.7,3.2c-0.4-6.4,0.7-22.3,12.5-58.1
		                                                    c14-42.6,13.2-75.2-2.6-97c-16.6-22.9-43.1-24.7-50.9-24.7c-7.5,0-14.4,3.1-19.3,8.8c-11.1,12.9-9.8,36.7-8.4,47.7
		                                                    c-13.2,35.4-50.2,122.2-81.5,146.3c-0.6,0.4-1.1,0.9-1.6,1.4c-9.2,9.7-15.4,20.2-19.6,29.4c-5.9-3.2-12.6-5-19.8-5h-61
		                                                    c-23,0-41.6,18.7-41.6,41.6v162.5c0,23,18.7,41.6,41.6,41.6h61c8.9,0,17.2-2.8,24-7.6l23.5,2.8c3.6,0.5,67.6,8.6,133.3,7.3
		                                                    c11.9,0.9,23.1,1.4,33.5,1.4c17.9,0,33.5-1.4,46.5-4.2c30.6-6.5,51.5-19.5,62.1-38.6c8.1-14.6,8.1-29.1,6.8-38.3
		                                                    c19.9-18,23.4-37.9,22.7-51.9C461.275,337.1,459.475,330.2,457.575,325.1z M48.275,447.3c-8.1,0-14.6-6.6-14.6-14.6V270.1
		                                                    c0-8.1,6.6-14.6,14.6-14.6h61c8.1,0,14.6,6.6,14.6,14.6v162.5c0,8.1-6.6,14.6-14.6,14.6h-61V447.3z M431.975,313.4
		                                                    c-4.2,4.4-5,11.1-1.8,16.3c0,0.1,4.1,7.1,4.6,16.7c0.7,13.1-5.6,24.7-18.8,34.6c-4.7,3.6-6.6,9.8-4.6,15.4c0,0.1,4.3,13.3-2.7,25.8
		                                                    c-6.7,12-21.6,20.6-44.2,25.4c-18.1,3.9-42.7,4.6-72.9,2.2c-0.4,0-0.9,0-1.4,0c-64.3,1.4-129.3-7-130-7.1h-0.1l-10.1-1.2
		                                                    c0.6-2.8,0.9-5.8,0.9-8.8V270.1c0-4.3-0.7-8.5-1.9-12.4c1.8-6.7,6.8-21.6,18.6-34.3c44.9-35.6,88.8-155.7,90.7-160.9
		                                                    c0.8-2.1,1-4.4,0.6-6.7c-1.7-11.2-1.1-24.9,1.3-29c5.3,0.1,19.6,1.6,28.2,13.5c10.2,14.1,9.8,39.3-1.2,72.7
		                                                    c-16.8,50.9-18.2,77.7-4.9,89.5c6.6,5.9,15.4,6.2,21.8,3.9c6.1-1.4,11.9-2.6,17.4-3.5c0.4-0.1,0.9-0.2,1.3-0.3
		                                                    c30.7-6.7,85.7-10.8,104.8,6.6c16.2,14.8,4.7,34.4,3.4,36.5c-3.7,5.6-2.6,12.9,2.4,17.4c0.1,0.1,10.6,10,11.1,23.3
		                                                    C444.875,295.3,440.675,304.4,431.975,313.4z" />
                                                </svg>
                                            </a>
                                            <span class="review-item-rating__count--dislikes" data-ng-bind="reviewItemRating.likeData.Dislikes">@item.DislikesCount</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    @if (item.HasChildren)
                    {
                        @BuildReviews(reviews, item.ReviewId, indent || item.Photos.Count > 1)
                    }
                </li>
            }
        </ul>
    }
}
@*Template for review item*@
<script type="text/ng-template" id="reviewItemTemplate.html">
    <li class="review-item" data-review-item data-review-id="{{reviewId}}">
        <div class="row">
            <div class="col-xs">
                <div class="review-item__head">
                    <div class="review-item-name cs-t-1" @Html.InplaceReview("reviewId", ReviewInplaceField.Name, true) data-ng-bind="name"></div>
                    <div class="review-item-date cs-t-3">
                        <time datetime="" data-ng-bind="date"></time>
                    </div>
                </div>
                @if (Model.DisplayImage)
                {
                    <ul class="review-item__photo-list" data-ng-if="photos != null && photos.length > 0" data-magnific-popup data-magnific-popup-options="{gallery : {enabled : true}, delegate: 'a.review-item__photo-link', type: 'image'}">
                        <li class="review-item__photo-item" ng-repeat="photoPath in photos track by $index" style="-webkit-flex-basis: @( SettingsPictureSize.ReviewImageWidth)px; -ms-flex-preferred-size: @(SettingsPictureSize.ReviewImageWidth)px; flex-basis: @( SettingsPictureSize.ReviewImageWidth)px; min-width: @(SettingsPictureSize.ReviewImageWidth)px;">
                            <a class="review-item__photo-link" href="{{photoPath.big || 'images/nophoto_user.jpg'}}">
                                <img alt="" data-ng-src="{{photoPath.small || 'images/nophoto_user.jpg'}}" @Html.InplaceImageReview("photoPath.photoId", "reviewId") />
                            </a>
                        </li>
                    </ul>
                }
                <readmore class="review-item-text" data-content="text"></readmore>
                <div class="review-item-buttons">
                    @if (Model.ReviewsReadonly == false)
                    {
                        <a href="" class="review-item-button" data-review-reply data-review-id="{{reviewId}}">{{ ::'Js.Review.Respond' | translate }}</a>
                    }
                    @if (Model.IsAdmin)
                    {
                        <a href="" class="review-item-button" data-review-delete data-review-id="{{reviewId}}" data-action-url="/reviews/delete">{{ ::'Js.Review.Delete' | translate }}</a>
                    }
                    @if (!Model.ReviewsVoiteOnlyRegisteredUsers || Model.RegistredUser)
                    {
                        <div class="review-item-rating" data-review-item-rating data-action-url="'/reviews/likevote'" data-review-id="reviewId" data-count-dislikes="dislikes" data-count-likes="likes">
                            <div class="review-item-rating__item m-r-sm">
                                <a href="" class="link-text-decoration-none cs-l-3" data-ng-click="reviewItemRating.like()">
                                    <svg width="14" height="15"
                                         fill="currentColor"
                                         viewBox="0 0 478.2 478.2">
                                        <path d="M457.575,325.1c9.8-12.5,14.5-25.9,13.9-39.7c-0.6-15.2-7.4-27.1-13-34.4c6.5-16.2,9-41.7-12.7-61.5
		                                                    c-15.9-14.5-42.9-21-80.3-19.2c-26.3,1.2-48.3,6.1-49.2,6.3h-0.1c-5,0.9-10.3,2-15.7,3.2c-0.4-6.4,0.7-22.3,12.5-58.1
		                                                    c14-42.6,13.2-75.2-2.6-97c-16.6-22.9-43.1-24.7-50.9-24.7c-7.5,0-14.4,3.1-19.3,8.8c-11.1,12.9-9.8,36.7-8.4,47.7
		                                                    c-13.2,35.4-50.2,122.2-81.5,146.3c-0.6,0.4-1.1,0.9-1.6,1.4c-9.2,9.7-15.4,20.2-19.6,29.4c-5.9-3.2-12.6-5-19.8-5h-61
		                                                    c-23,0-41.6,18.7-41.6,41.6v162.5c0,23,18.7,41.6,41.6,41.6h61c8.9,0,17.2-2.8,24-7.6l23.5,2.8c3.6,0.5,67.6,8.6,133.3,7.3
		                                                    c11.9,0.9,23.1,1.4,33.5,1.4c17.9,0,33.5-1.4,46.5-4.2c30.6-6.5,51.5-19.5,62.1-38.6c8.1-14.6,8.1-29.1,6.8-38.3
		                                                    c19.9-18,23.4-37.9,22.7-51.9C461.275,337.1,459.475,330.2,457.575,325.1z M48.275,447.3c-8.1,0-14.6-6.6-14.6-14.6V270.1
		                                                    c0-8.1,6.6-14.6,14.6-14.6h61c8.1,0,14.6,6.6,14.6,14.6v162.5c0,8.1-6.6,14.6-14.6,14.6h-61V447.3z M431.975,313.4
		                                                    c-4.2,4.4-5,11.1-1.8,16.3c0,0.1,4.1,7.1,4.6,16.7c0.7,13.1-5.6,24.7-18.8,34.6c-4.7,3.6-6.6,9.8-4.6,15.4c0,0.1,4.3,13.3-2.7,25.8
		                                                    c-6.7,12-21.6,20.6-44.2,25.4c-18.1,3.9-42.7,4.6-72.9,2.2c-0.4,0-0.9,0-1.4,0c-64.3,1.4-129.3-7-130-7.1h-0.1l-10.1-1.2
		                                                    c0.6-2.8,0.9-5.8,0.9-8.8V270.1c0-4.3-0.7-8.5-1.9-12.4c1.8-6.7,6.8-21.6,18.6-34.3c44.9-35.6,88.8-155.7,90.7-160.9
		                                                    c0.8-2.1,1-4.4,0.6-6.7c-1.7-11.2-1.1-24.9,1.3-29c5.3,0.1,19.6,1.6,28.2,13.5c10.2,14.1,9.8,39.3-1.2,72.7
		                                                    c-16.8,50.9-18.2,77.7-4.9,89.5c6.6,5.9,15.4,6.2,21.8,3.9c6.1-1.4,11.9-2.6,17.4-3.5c0.4-0.1,0.9-0.2,1.3-0.3
		                                                    c30.7-6.7,85.7-10.8,104.8,6.6c16.2,14.8,4.7,34.4,3.4,36.5c-3.7,5.6-2.6,12.9,2.4,17.4c0.1,0.1,10.6,10,11.1,23.3
		                                                    C444.875,295.3,440.675,304.4,431.975,313.4z" />
                                    </svg>
                                </a>
                                <span class="review-item-rating__count--likes" data-ng-bind="reviewItemRating.likeData.Likes"></span>
                            </div>
                            <div class="review-item-rating__item">
                                <a href="" class="link-text-decoration-none cs-l-3" data-ng-click="reviewItemRating.dislike()">
                                    <svg width="14" height="15"
                                         transform="translate(0, 3) rotate(180)"
                                         fill="currentColor"
                                         viewBox="0 0 478.2 478.2">
                                        <path d="M457.575,325.1c9.8-12.5,14.5-25.9,13.9-39.7c-0.6-15.2-7.4-27.1-13-34.4c6.5-16.2,9-41.7-12.7-61.5
		                                                    c-15.9-14.5-42.9-21-80.3-19.2c-26.3,1.2-48.3,6.1-49.2,6.3h-0.1c-5,0.9-10.3,2-15.7,3.2c-0.4-6.4,0.7-22.3,12.5-58.1
		                                                    c14-42.6,13.2-75.2-2.6-97c-16.6-22.9-43.1-24.7-50.9-24.7c-7.5,0-14.4,3.1-19.3,8.8c-11.1,12.9-9.8,36.7-8.4,47.7
		                                                    c-13.2,35.4-50.2,122.2-81.5,146.3c-0.6,0.4-1.1,0.9-1.6,1.4c-9.2,9.7-15.4,20.2-19.6,29.4c-5.9-3.2-12.6-5-19.8-5h-61
		                                                    c-23,0-41.6,18.7-41.6,41.6v162.5c0,23,18.7,41.6,41.6,41.6h61c8.9,0,17.2-2.8,24-7.6l23.5,2.8c3.6,0.5,67.6,8.6,133.3,7.3
		                                                    c11.9,0.9,23.1,1.4,33.5,1.4c17.9,0,33.5-1.4,46.5-4.2c30.6-6.5,51.5-19.5,62.1-38.6c8.1-14.6,8.1-29.1,6.8-38.3
		                                                    c19.9-18,23.4-37.9,22.7-51.9C461.275,337.1,459.475,330.2,457.575,325.1z M48.275,447.3c-8.1,0-14.6-6.6-14.6-14.6V270.1
		                                                    c0-8.1,6.6-14.6,14.6-14.6h61c8.1,0,14.6,6.6,14.6,14.6v162.5c0,8.1-6.6,14.6-14.6,14.6h-61V447.3z M431.975,313.4
		                                                    c-4.2,4.4-5,11.1-1.8,16.3c0,0.1,4.1,7.1,4.6,16.7c0.7,13.1-5.6,24.7-18.8,34.6c-4.7,3.6-6.6,9.8-4.6,15.4c0,0.1,4.3,13.3-2.7,25.8
		                                                    c-6.7,12-21.6,20.6-44.2,25.4c-18.1,3.9-42.7,4.6-72.9,2.2c-0.4,0-0.9,0-1.4,0c-64.3,1.4-129.3-7-130-7.1h-0.1l-10.1-1.2
		                                                    c0.6-2.8,0.9-5.8,0.9-8.8V270.1c0-4.3-0.7-8.5-1.9-12.4c1.8-6.7,6.8-21.6,18.6-34.3c44.9-35.6,88.8-155.7,90.7-160.9
		                                                    c0.8-2.1,1-4.4,0.6-6.7c-1.7-11.2-1.1-24.9,1.3-29c5.3,0.1,19.6,1.6,28.2,13.5c10.2,14.1,9.8,39.3-1.2,72.7
		                                                    c-16.8,50.9-18.2,77.7-4.9,89.5c6.6,5.9,15.4,6.2,21.8,3.9c6.1-1.4,11.9-2.6,17.4-3.5c0.4-0.1,0.9-0.2,1.3-0.3
		                                                    c30.7-6.7,85.7-10.8,104.8,6.6c16.2,14.8,4.7,34.4,3.4,36.5c-3.7,5.6-2.6,12.9,2.4,17.4c0.1,0.1,10.6,10,11.1,23.3
		                                                    C444.875,295.3,440.675,304.4,431.975,313.4z" />
                                    </svg>
                                </a>
                                <span class="review-item-rating__count--dislikes" data-ng-bind="reviewItemRating.likeData.Dislikes"></span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </li>
</script>

<div class="reviews"
     data-reviews
     data-moderate="@Model.ModerateReviews.ToLowerString()"
     data-is-admin="@Model.IsAdmin.ToLowerString()"
     data-entity-id="@Model.EntityId"
     data-entity-type="@Model.EntityType"
     data-name="@Model.UserName"
     data-email="@Model.Email"
     data-action-url="/reviews/add"
     data-allow-image-upload="@SettingsCatalog.AllowReviewsImageUploading.ToLowerString()"
     data-readonly="@Model.ReviewsReadonly.ToLowerString()"
     data-on-add-comment="product.getCommentsCount()"
     data-on-delete-comment="product.getCommentsCount()">
    <div class="js-reviews-list-root">
        @if (Model.HeaderText.IsNotEmpty() && Model.Reviews.Count > 0)
        {
            <header class="reviews-header">@Model.HeaderText</header>
        }
        @BuildReviews(Model.Reviews, 0, false)
    </div>
    @if (!Model.ReviewsReadonly)
    {
        <div data-reviews-form
             data-form-visible="reviews.formVisible"
             data-allow-image-upload="reviews.allowImageUpload"
             data-name="reviews.name"
             data-email="reviews.email"
             data-visible-form-cancel-button="reviews.visibleFormCancelButton"
             data-review-id="reviews.reviewIdActive"
             data-submit-fn="reviews.submit(form, reviews.actionUrl)"
             data-cancel-fn="reviews.cancel(form)"
             data-moderate="@Model.ModerateReviews.ToLowerString()"
             data-is-show-user-agreement-text="@SettingsCheckout.IsShowUserAgreementText.ToLowerString()"
             data-agreement-default-checked="@SettingsCheckout.AgreementDefaultChecked.ToLowerString()"
             data-user-agreement-text="@SettingsCheckout.UserAgreementText">
            @if (SettingsMain.EnableCaptchaInProductReview)
            {
                <label class="form-field row reviews-captcha">
                    <span class="col-xs-12 col-sm-4">
                        <span class="form-field-name vertical-interval-middle input-required">
                            @T("Captcha.Code")
                        </span>
                    </span>
                    <span class="col-xs-12 col-sm-8">
                        <span class="form-field-input vertical-interval-middle">
                            @Html.Captcha("reviews.captcha")
                        </span>
                    </span>
                </label>
            }
        </div>
    }
    else
    {
        <div class="availability available">
            <span>Отзывы могут оставлять только авторизованные люди, которые покупали данный товар</span>
        </div>
    }

</div>
