@using AdvantShop.Core.Services.Admin

@{
    if (AdminAreaTemplate.IsAdminv3())
    {
        Layout = "~/Areas/Admin/Templates/" + AdminAreaTemplate.Current + "/Views/Catalog/_TopContentCatalogLayout.cshtml";
    }
}

<div class="ibox">
    <div class="ibox-content settings-block funnel-site__settings m-t-n-sm b-n">
        <uib-tabset active uid="importTab" on-select-batch="import.floatHeader = tab.heading;" class="tabset-no-background funnel-site__settings m-t-n">
            <li class="flex-shrink-n"><h2 class="m-r-md m-t-none">@T("Admin.Catalog.Import")</h2></li>
            <uib-tab index="'importProducts'" classes="ng-tab" classes-content="tab-pane-p-t-n" heading="@T("Admin.Catalog.Import.Products")" removable="false">
                @Html.Action("ImportProducts")
            </uib-tab>
            <uib-tab index="'importCategories'" classes="ng-tab" classes-content="tab-pane-p-t-n" heading="@T("Admin.Catalog.Import.Categories")" removable="false">
                <div ng-controller="ImportCtrl as import">
                    @Html.Action("ImportCategories")
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
