@model BlockModel

<div class="container-fluid">
    <div class="lp-container" data-e2e="@(Model.Config.Name)_container">
        <div class="text-center">
            @Html.BlockHeader(Model)
        </div>
        <div class="row @(Model.Block.TryGetSetting("align_items"))">
            <div class="col-xs-12 @Model.Block.GetWidthInColumnsAsClasses()">
                <div class="row between-xs lp-block-form-text-and-button__text-inner middle-xs">
                    <div class="col-xs-12 @(Model.Block.TryGetSetting("show_button") == true ? "col-sm" : "") @(Model.Block.TryGetSetting("align_text") != null ? Model.Block.TryGetSetting("align_text") : "start-xs") lp-block-form-text-and-button__text lp-h3" data-e2e="FormText">
                        @Html.SubBlock(Model, "text")
                    </div>
                    @if (Model.Block.TryGetSetting("show_button") == true)
                    {
                        <div class="col-xs-12 col-sm-slim lp-h2" data-e2e="FormButton">
                            <div class="row @(Model.Block.TryGetSetting("align_btns") != null ? Model.Block.TryGetSetting("align_btns") : "center-xs")">
                                <div class="col-xs-12">
                                    @Html.Button(Model.Block, "button")
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

