@model AdvantShop.Web.Admin.Models.Customers.CustomerViewModel
@{
    var card = Model.BonusCard;
}
<div class="ibox">
    <div class="ibox-content">
        <h3 class="category-title">@T("Admin.Customers.ViewBonusCard.BonusCard")</h3>

        @if (card != null)
        {
            <div class="form-group">
                <div class="row">
                    <div data-e2e="NumberBonusCart" class="col-xs-3">
                        @T("Admin.Customers.ViewBonusCard.CardNumber") <a href="@Url.Action("Edit", "Cards", new {id = card.CardId})">@card.CardNumber</a>
                        @if (card.Blocked)
                        {
                            <span data-e2e="IsBlocked" class="link-danger">@T("Admin.Customers.ViewBonusCard.CardIsBlocked")</span>
                        }
                    </div>
                    <div data-e2e="GradeCart" class="col-xs-6">
                        @T("Admin.Customers.ViewBonusCard.Grade") @card.Grade.Name @(card.Grade.BonusPercent.ToInvatiant())%
                    </div>
                    <div data-e2e="BalanceCart" class="col-xs-3">
                        @T("Admin.Customers.ViewBonusCard.Balance") @card.BonusesTotalAmount.ToInvatiant()
                    </div>
                </div>
            </div>
        }
        else
        {
            <ui-modal-trigger data-controller="'ModalAddCardCtrl'" controller-as="ctrl" size="md" backdrop="static"
                              template-url="../areas/admin/content/src/_shared/modal/bonus/cards/addcard.html"
                              data-resolve="{params:{customerId:'@Model.Customer.Id', firstName:'@Model.Customer.FirstName', lastName:'@Model.Customer.LastName'}}">
                <a data-e2e="AddCard" class="btn btn-sm btn-success btn--margin-left" href="">
                    <span class="fa fa-plus"></span>
                    @T("Admin.Cards.Index.AddCard")
                </a>
            </ui-modal-trigger>
        }
    </div>
</div>