@model AdvantShop.Web.Admin.Models.Customers.CustomerViewModel

@if (Model.VkUser != null || Model.FacebookUser != null || Model.InstagramUser != null || Model.TelegramUser != null || Model.OkUser != null || Model.ShowVk || Model.ShowFacebook || Model.ShowInstagram || Model.ShowTelegram || Model.ShowOk)
{
    <div class="ibox category-block block-additional-parameters">
        <div class="ibox-content category-content block-additional-parameters-content p-r-lg border_none">
            <h3 class="category-title">@T("Admin.Customers.ViewSocial.SocialNetworks")</h3>
        </div>

        @if (Model.VkUser != null || Model.ShowVk)
        {
            <div class="ibox-content category-content block-additional-parameters-content p-r-lg border_none block-additional-border-top">
                <div class="clear" data-e2e="VkBlock">
                    <div class="order__subblock-title pull-left">@T("Admin.Customers.ViewSocial.Vkontakte")</div>
                    @if (Model.VkUser != null)
                    {
                        <div class="pull-right">
                            <ui-modal-trigger data-controller="'ModalSendSocialMessageCtrl'" controller-as="ctrl"
                                              template-url="../areas/admin/content/src/_shared/modal/sendSocialMessage/sendSocialMessage.html"
                                              data-resolve="{params: {customerId: customerView.customerId, type: 'vk'}}"
                                              data-on-close="customerView.updateLeadEventsWithDelay()">
                                <a data-e2e="SendMessageVk" href="" style="font-size: 12px">@T("Admin.Customers.ViewSocial.SendAMessage")</a>
                            </ui-modal-trigger>
                        </div>
                    }
                </div>
                <div>
                    @if (Model.VkUser != null)
                    {
                        var vkLink = "https://vk.com/" + (!string.IsNullOrEmpty(Model.VkUser.ScreenName) ? Model.VkUser.ScreenName : "id" + Model.VkUser.Id);
                        <div class="m-b-xs">
                            <a data-e2e="VkLink" href="@vkLink" target="_blank">@vkLink</a>
                            <a href="" ng-click="customerView.deleteSocialLink('vk')" class="link-invert link-decoration-none fas fa-times" title="Удалить"></a>
                        </div>
                        <div data-e2e="AllVkMessage" ng-if="customerView.leadEvents != null && customerView.leadEvents.data != null">
                            <span>@T("Admin.Customers.ViewSocial.Messages")</span> <a href="" ng-click="customerView.filterEvents('Vk')" ng-bind="customerView.leadEvents.data.VkMessagesInCount"></a> @T("Admin.Customers.ViewSocial.Received") 
                            / <a href="" ng-click="customerView.filterEvents('Vk')" ng-bind="customerView.leadEvents.data.VkMessagesOutCount"></a> @T("Admin.Customers.ViewSocial.Sent")
                        </div>
                    }
                    else if (Model.ShowVk)
                    {
                        <div class="row middle-xs">
                            <div class="col-xs">
                                <input data-e2e="NewVk" type="text" class="form-control" ng-model="customerView.vkLink" />
                            </div>
                            <div class="col-xs-slim">
                                <a data-e2e="AddNewVk" href="" ng-click="customerView.addSocialUser('vk', customerView.vkLink)" ng-if="!customerView.btnSocialAdding">@T("Admin.Customers.ViewSocial.Add")</a>
                                <span ng-if="customerView.btnSocialAdding == 'vk'">@T("Admin.Customers.ViewSocial.Loading")..</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        @if (Model.FacebookUser != null || Model.ShowFacebook)
        {
            <div class="ibox-content category-content block-additional-parameters-content p-r-lg border_none block-additional-border-top">
                <div class="clear">
                    <div class="order__subblock-title pull-left" data-e2e="FbBlock">Facebook</div>
                </div>
                <div>
                    @if (Model.FacebookUser != null)
                    {
                        <div class="m-b-xs">
                            <a data-e2e="FbLink" href="https://facebook.com/@(Model.FacebookUser.Id)/" target="_blank">@Model.FacebookUser.FirstName @Model.FacebookUser.LastName</a>
                            <a href="" ng-click="customerView.deleteSocialLink('facebook')" class="link-invert link-decoration-none fas fa-times" title="Удалить"></a>
                        </div>
                        <div data-e2e="AllFbMessage" ng-if="customerView.leadEvents != null && customerView.leadEvents.data != null">
                            @T("Admin.Customers.ViewSocial.Messages") <a href="" ng-click="customerView.filterEvents('Facebook')" ng-bind="customerView.leadEvents.data.FacebookReceivedMessagesCount"></a> @T("Admin.Customers.ViewSocial.Received") 
                            / <a href="" ng-click="customerView.filterEvents('Facebook')" ng-bind="customerView.leadEvents.data.FacebookSendedMessagesCount"></a> @T("Admin.Customers.ViewSocial.Sent")
                        </div>

                    }
                    else if (Model.ShowFacebook)
                    {
                        <div class="row middle-xs">
                            <div class="col-xs">
                                <input data-e2e="NewFb" type="text" class="form-control" ng-model="customerView.fbLink" />
                            </div>
                            <div class="col-xs-slim">
                                <a data-e2e="AddNewFb" href="" ng-click="customerView.addSocialUser('facebook', customerView.fbLink)" ng-if="!customerView.btnSocialAdding ">@T("Admin.Customers.ViewSocial.Add")</a>
                                <span ng-if="customerView.btnSocialAdding == 'facebook'">@T("Admin.Customers.ViewSocial.Loading")..</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        @if (Model.InstagramUser != null || Model.ShowInstagram)
        {
            <div class="ibox-content category-content block-additional-parameters-content p-r-lg border_none block-additional-border-top">
                <div class="clear" data-e2e="InstBlock">
                    <div class="order__subblock-title pull-left">Instagram</div>
                    @if (Model.InstagramUser != null)
                    {
                        <div class="pull-right">
                            <ui-modal-trigger data-controller="'ModalSendSocialMessageCtrl'" controller-as="ctrl"
                                              template-url="../areas/admin/content/src/_shared/modal/sendSocialMessage/sendSocialMessage.html"
                                              data-resolve="{params: {customerId: customerView.customerId, type: 'instagram'}}"
                                              data-on-close="customerView.updateLeadEventsWithDelay()">
                                <a data-e2e="SendMassageInst" href="" style="font-size: 12px">@T("Admin.Customers.ViewSocial.SendToDirect")</a>
                            </ui-modal-trigger>
                        </div>
                    }
                </div>
                <div>
                    @if (Model.InstagramUser != null)
                    {
                        <div class="m-b-xs">
                            <a data-e2e="InstLink" href="https://instagram.com/@(Model.InstagramUser.UserName)/" class="instagram-user-name" target="_blank">@Model.InstagramUser.UserName</a>
                            <a href="" ng-click="customerView.deleteSocialLink('instagram')" class="link-invert link-decoration-none fas fa-times" title="Удалить"></a>
                        </div>
                        <div data-e2e="AllInstMessage" ng-if="customerView.leadEvents != null && customerView.leadEvents.data != null">
                            @T("Admin.Customers.ViewSocial.Messages") <a href="" ng-click="customerView.filterEvents('Instagram')" ng-bind="customerView.leadEvents.data.InstagramReceivedMessagesCount"></a> @T("Admin.Customers.ViewSocial.Received") 
                            / <a href="" ng-click="customerView.filterEvents('Instagram')" ng-bind="customerView.leadEvents.data.InstagramSendedMessagesCount"></a> @T("Admin.Customers.ViewSocial.Sent")
                        </div>
                    }
                    else if (Model.ShowInstagram)
                    {
                        <div class="row middle-xs">
                            <div class="col-xs">
                                <input data-e2e="NewInst" type="text" class="form-control" ng-model="customerView.instagramLink" />
                            </div>
                            <div class="col-xs-slim">
                                <a data-e2e="AddNewInst" href="" ng-click="customerView.addSocialUser('instagram', customerView.instagramLink)" ng-if="!customerView.btnSocialAdding">@T("Admin.Customers.ViewSocial.Add")</a>
                                <span ng-if="customerView.btnSocialAdding == 'instagram'">@T("Admin.Customers.ViewSocial.Loading")..</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        @if (Model.TelegramUser != null)
        {
            <div class="ibox-content category-content block-additional-parameters-content p-r-lg border_none block-additional-border-top">
                <div class="clear" data-e2e="TelegramBlock">
                    <div class="order__subblock-title pull-left">Telegram</div>
                    <div class="pull-right">
                        <ui-modal-trigger data-controller="'ModalSendSocialMessageCtrl'" controller-as="ctrl"
                                            template-url="../areas/admin/content/src/_shared/modal/sendSocialMessage/sendSocialMessage.html"
                                            data-resolve="{params: {customerId: customerView.customerId, type: 'telegram'}}"
                                            data-on-close="customerView.updateLeadEventsWithDelay()">
                            <a data-e2e="SendMessageTelegram" href="" style="font-size: 12px">@T("Admin.Customers.ViewSocial.SendAMessage")</a>
                        </ui-modal-trigger>
                    </div>
                </div>
                <div>
                    <span class="telegram-user-name">@(Model.TelegramUser.LastName + " " + Model.TelegramUser.FirstName) @Model.TelegramUser.Username</span>
                    <div data-e2e="AllTelegramMessage" ng-if="customerView.leadEvents != null && customerView.leadEvents.data != null">
                        @T("Admin.Customers.ViewSocial.Messages") <a href="" ng-click="customerView.filterEvents('Telegram')" ng-bind="customerView.leadEvents.data.TelegramReceivedMessagesCount"></a> @T("Admin.Customers.ViewSocial.Received") 
                        / <a href="" ng-click="customerView.filterEvents('Telegram')" ng-bind="customerView.leadEvents.data.TelegramSendedMessagesCount"></a> @T("Admin.Customers.ViewSocial.Sent")
                    </div>
                </div>
            </div>
        }

        @if (Model.OkUser != null || Model.ShowOk)
        {
            <div class="ibox-content category-content block-additional-parameters-content p-r-lg border_none block-additional-border-top">
                <div class="clear" data-e2e="OkBlock">
                    <div class="order__subblock-title pull-left">@T("Admin.Customers.ViewSocial.Odnoklassniki")</div>
                    @if (Model.OkUser != null)
                    {
                        <div class="pull-right">
                            <ui-modal-trigger data-controller="'ModalSendSocialMessageCtrl'" controller-as="ctrl"
                                              template-url="../areas/admin/content/src/_shared/modal/sendSocialMessage/sendSocialMessage.html"
                                              data-resolve="{params: {customerId: customerView.customerId, type: 'ok'}}"
                                              data-on-close="customerView.updateLeadEventsWithDelay()">
                                <a data-e2e="SendMessageOk" href="" style="font-size: 12px">@T("Admin.Customers.ViewSocial.SendAMessage")</a>
                            </ui-modal-trigger>
                        </div>
                    }
                </div>
                <div>
                    @if (Model.OkUser != null)
                    {
                        var okLink = "https://ok.ru/profile/" + Model.OkUser.Id;
                        <div class="m-b-xs">
                            <a data-e2e="OkLink" href="@okLink" target="_blank">@okLink</a>
                            <a href="" ng-click="customerView.deleteSocialLink('ok')" class="link-invert link-decoration-none fas fa-times" title="Удалить"></a>
                        </div>
                        <div data-e2e="AllOkMessage" ng-if="customerView.leadEvents != null && customerView.leadEvents.data != null">
                            <span>@T("Admin.Customers.ViewSocial.Messages")</span> <a href="" ng-click="customerView.filterEvents('OK')" ng-bind="customerView.leadEvents.data.OkReceivedMessagesCount"></a> @T("Admin.Customers.ViewSocial.Received") 
                            / <a href="" ng-click="customerView.filterEvents('OK')" ng-bind="customerView.leadEvents.data.OkSendedMessagesCount"></a> @T("Admin.Customers.ViewSocial.Sent")
                        </div>
                    }
                    else if (Model.ShowOk)
                    {
                        <div class="row middle-xs">
                            <div class="col-xs">
                                <input data-e2e="NewOk" type="text" class="form-control" ng-model="customerView.OkLink" />
                            </div>
                            <div class="col-xs-slim">
                                <a data-e2e="AddNewOk" href="" ng-click="customerView.addSocialUser('ok', customerView.OkLink)" ng-if="!customerView.btnSocialAdding">@T("Admin.Customers.ViewSocial.Add")</a>
                                <span ng-if="customerView.btnSocialAdding == 'ok'">@T("Admin.Customers.ViewSocial.Loading")..</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
}