@model AdvantShop.Web.Admin.Models.Customers.CustomerViewModel
@{
    var customer = Model.Customer;
}
<div class="m-b-sm block">
    @Html.Back("Покупатели", Url.Action("Index", "Customers"))
</div>
<div class="sticky-page-name">
    <div class="row">
        <div class="col-xs-12">
            @if (customer.RegistredUser)
            {
                <h1 data-e2e="clientName" class="page-name-block-text  page-name-block-text--bigger">
                    <span ng-bind="customerView.instance.Customer.LastName + ' ' + customerView.instance.Customer.FirstName">@Model.Customer.LastName @Model.Customer.FirstName</span>
                </h1>
            }
            else
            {
                <div data-e2e="clientName" class="page-name-block-text  page-name-block-text--bigger">
                    @T("Admin.Customers.ViewCustomerHeader.UserNotRegistered") @(Model.Customer.Code != null ? T("Admin.Customers.ViewCustomerHeader.CustomerCode") + Model.Customer.Code : "")
                </div>
            }
            @if (Model.Customer.Contacts.Any())
            {
                <div class="m-t-none inline" ng-bind="customerView.instance.Customer.Contacts[0].City">
                    @Model.Customer.Contacts.FirstOrDefault().City
                </div>
            }
        </div>
    </div>
</div>
