@model AdvantShop.Core.Services.Landing.Templates.LpTemplate
@using AdvantShop.Core.Services.SalesChannels;
@*@{

    var isFirstTimeCreateStore = SalesChannelService.IsFirstTimeCreateStore();
    if (isFirstTimeCreateStore)
    {
        Layout = "~/Areas/Admin/Templates/AdminV3/Views/Shared/_FirstTimeCreateLayout.cshtml";
    }

}*@
    <div class="create__site-page create__site-page--create-funnel">
        <div class="balance__padding-page balance__padding-page--bg-white">
            <div class="create-balance__block create-balance__block--title-wrap ">
                <div class="breadcrumb__link-block page-head__back">
                    @Html.Back("Назад", Url.Action("CreateSite"))
                </div>
                <div class="flex between-xs">
                    <div class="create__site-page-title">
                        <span class="h1 page-name-block-text">
                            <span class="visible-xs hidden-md page-head__name">Создание воронки</span>
                            <span class="hidden-xs visible-md">@Model.Name</span>
                        </span>
                        <div class=" f-s-18 bold visible-xs hidden-md">@Model.Name</div>
                    </div>

                    @*@if (isFirstTimeCreateStore)
                    {
                        <div class="logo-block-inner" style="width:auto;">
                            <div class="logo-block-cell logo-block-cell-logo">
                                <div class="logo-block-cell-logo-link text-right">
                                    AdvantShop
                                </div>
                            </div>
                        </div>
                    }*@
                </div>
            </div>
            
        </div>

        <div class="balance__padding-page balance__padding-page--m-t-n ">
            <div class="create__sites-balance__block create__sites-balance__block--max-width">
                <div class="m-t p-t-xs">
                    <div class="create__sites-block-content">
                        <div class="create__sites-left-block">

                            <div class="m-b-md">
                                <div class="bold fs-md p-b-xs create__sites-description-title">
                                    Описание:
                                </div>
                                <div class="create__sites-description">
                                    @Html.Raw(Model.Description)
                                </div>
                            </div>

                            @if (Model.Intent.IsNotEmpty())
                            {
                                <div class="m-b-md">
                                    <div class="bold fs-md p-b-xs create__sites-description-title">
                                        Цели:
                                    </div>
                                    <div class="create__sites-description">
                                        @Html.Raw(Model.Intent)
                                    </div>
                                </div>
                            }


                            @if (Model.Advice.IsNotEmpty())
                            {
                                <div class="m-b-md">
                                    <div class="bold fs-md p-b-xs create__sites-description-title">
                                        Совет:
                                    </div>
                                    <div class="create__sites-description">
                                        @Html.Raw(Model.Advice)
                                    </div>
                                </div>
                            }

                            <div class="m-t-md">
                                @if (Model.Video.IsNotEmpty())
                                {
                                    <span class="inline p-r-md">
                                        <a magnific-popup="" magnific-popup-options="{type: 'iframe'}" href="@Model.Video" class="">Видео обзор воронки</a>
                                    </span>
                                }
                                @if (Model.Scheme.IsNotEmpty())
                                {
                                    <span class="inline">
                                        <a magnific-popup="" href="@Model.Scheme">Схема воронки</a>
                                    </span>
                                }
                            </div>
                            @if (Model.Screens != null && Model.Screens.Count > 0 && Model.Screens.Select(x => x.Title).Where(x => !string.IsNullOrEmpty(x)).Count() != 0)
                            {
                                <div class="pages-site">
                                    <h3 class="m-t-md m-b-xs">Страницы воронки</h3>

                                    @for (var i = 0; i < Model.Screens.Count; i++)
                                    {
                                        <a class="screenshot-item block p-t-xs p-b-xs text-decoration-none" ng-class="{'active': createSite.activePageLanding == @i, '': createSite.activePageLanding != @i}" ng-click="createSite.selectPageLanding(@i , @Model.Screens.Count)">
                                            @(i + 1). @Model.Screens[i].Title
                                        </a>

                                        @*<div class="screenshot-item flex middle-xs" ng-class="{'active': createSite.activePageLanding == @i, '': createSite.activePageLanding != @i}">
                                            @(i + 1). <a href="" ng-click="createSite.selectPageLanding(@i , @Model.Screens.Count)" class="flex-grow">@Model.Screens[i].Title</a>
                                        </div>*@
                                    }
                                </div>
                            }

                            <div class="m-t-md flex middle-xs">
                                <ui-modal-trigger data-controller="'ModalAddLandingSiteCtrl'" controller-as="ctrl" size="lg"
                                                  template-url="../areas/admin/content/src/_shared/modal/addLandingSite/addLandingSite.html"
                                                  data-resolve="{data: {lpType: '@Model.TemplateType', template: '@Model.Key', 'showStepZero': @(Model.TemplateType.ToString() == "ProductCrossSellDownSell" ? "true" : "false")}}">
                                    <button class="btn btn-md m-r-xs btn-success" data-e2e="funnelCreateBtn">
                                        Создать воронку
                                    </button>
                                </ui-modal-trigger>
                                <div>
                                    <a href="@Model.DemoLink" target="_blank" class="m-l-xs btn btn-md btn-default" data-e2e="funnelDemoLink">Онлайн демо</a>
                                </div>
                            </div>
                        </div>
                        <div class="create__sites-right-block" ng-init="createSite.imgUrl = '@Model.Picture'">
                            @if (Model.Screens != null && Model.Screens.Count > 1)
                            {
                                <div class="col-xs first-xs">
                                    <div class="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-list create__sites-carousel-list ng-cloak"
                                                 data-carousel
                                                 data-stretch="true"
                                                 data-dots="true"
                                                 data-nav="true"
                                                 nav-position="outside"
                                                 data-prev-icon="carousel-main-prev-custom"
                                                 data-next-icon="carousel-main-next-custom"
                                                 data-responive="{768 : {dots : false, slideToShow:1}}"
                                                 data-speed="500"
                                                 data-auto=" true"
                                                 data-auto-pause="99999999" @* аля бесконечная карусель без авто *@
                                                 data-visible-max="1"
                                                 data-init-fn="createSite.initCarousel(carousel)">

                                                @for (var i = 0; i < Model.Screens.Count; i++)
                                                {
                                                    <div class="carousel-item create__sites-carousel-item">
                                                        <div class="carousel-main-item-title bold">
                                                            @Model.Screens[i].Title
                                                        </div>
                                                        <div class="create__site-img-wrap">
                                                            <div class="browser-top-menu-block">
                                                                <div class="browser-top-menu-oval browser-top-menu-oval--red"></div>
                                                                <div class="browser-top-menu-oval browser-top-menu-oval--orange"></div>
                                                                <div class="browser-top-menu-oval browser-top-menu-oval--green"></div>
                                                            </div>
                                                            <img @(i == 0 ? "src=" + Model.Screens[i].Url : "ng-src=" + Model.Screens[i].Url) />

                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="carousel-nav">
                                            <button class="carousel-nav-prev fa fa-angle-left" ng-click="createSite.buttonCarousel(createSite.activePageLanding - 1, @Model.Screens.Count)"></button>
                                            <button class="carousel-nav-next fa fa-angle-right " ng-click="createSite.buttonCarousel(createSite.activePageLanding + 1, @Model.Screens.Count)"></button>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (Model.Screens != null && Model.Screens.Count == 1)
                            {
                                <div class="create__site-img-wrap">
                                    <div class="browser-top-menu-block">
                                        <div class="browser-top-menu-oval browser-top-menu-oval--red"></div>
                                        <div class="browser-top-menu-oval browser-top-menu-oval--orange"></div>
                                        <div class="browser-top-menu-oval browser-top-menu-oval--green"></div>
                                    </div>
                                    <img ng-src=" @(Model.Screens[0].Url)" />
                                </div>
                            }
                            else
                            {
                                <div class="create__site-img-wrap">
                                    <div class="browser-top-menu-block">
                                        <div class="browser-top-menu-oval browser-top-menu-oval--red"></div>
                                        <div class="browser-top-menu-oval browser-top-menu-oval--orange"></div>
                                        <div class="browser-top-menu-oval browser-top-menu-oval--green"></div>
                                    </div>
                                    <img ng-src="{{createSite.imgUrl}}" />
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
