@using AdvantShop.Core.Services.SalesChannels;
@using AdvantShop.Trial
@using AdvantShop.Core.Services.Landing;
@*@{

    var isFirstTimeCreateStore = SalesChannelService.IsFirstTimeCreateStore();
    if (isFirstTimeCreateStore)
    {
        Layout = "~/Areas/Admin/Templates/AdminV3/Views/Shared/_FirstTimeCreateLayout.cshtml";
    }

}*@

@model AdvantShop.Web.Admin.Models.Dashboard.CreateSiteModel

<div class="create__site-page">
    <div class="balance__padding-page balance__padding-page--header balance__padding-page--bg-white">
        <div class="create-balance__block create-balance__block--title-wrap">
            <div class="breadcrumb__link-block page-head__back">
                @if (Model.Mode == "store")
                {
                    @Html.Back("Назад", Url.Action("Index", "Design"))
                }
                else
                {
                    @Html.Back("Назад", Url.Action("Index"))
                }
            </div>
            <div class="flex between-xs create__header">

                <div class="flex flex-column top-xs flex-grow">
                    @if (Model.Mode != "store")
                    {
                        <h1 class="create__site-page-title page-head__name">Создать интернет-магазин, воронку или лендинг</h1>
                        <span class="">Выберите тип сайта и шаблон</span>
                    }
                    else
                    {
                        <h1 class="create__site-page-title page-name-block-text">Шаблоны дизайна для Интернет-магазина</h1>
                        <span class="">Выберите шаблон</span>
                    }
                </div>
                @*@if (isFirstTimeCreateStore)
                {
                    <div class="logo-block-inner" style="width:auto;">
                        <div class="logo-block-cell logo-block-cell-logo">
                            <div class="logo-block-cell-logo-link">
                                AdvantShop
                            </div>
                        </div>
                    </div>
                }*@
            </div>
        </div>
    </div>
    <div class="balance__padding-page balance__padding-page--body balance__padding-page--m-t-n">
        <div class="create-balance__block create-balance__block--content" ng-init="createSite.selectCategory('@Model.Categories[0].Type');">
            @if (Model.Categories.Count > 1)
            {
                <ul class="nav scrollbar-custom scrollbar-custom--scroll-h nav-tabs nav-tabs--{{createSite.current.toLowerCase()}}">
                    @for (var i = 0; i < Model.Categories.Count; i++)
                    {
                        <li class="uib-tab nav-item ng-tab"
                            ng-class="{'active': '@Model.Categories[i].Type' ===  createSite.current}"
                            ng-click="createSite.selectCategory('@Model.Categories[i].Type')">
                            <a class="nav-link">@Model.Categories[i].Name</a>
                        </li>
                    }

                </ul>
            }

        <ul class="create-site__list-tabs ng-cloak" ng-if="createSite.current  === 'Store'" ng-init="createSite.setTypeStore('all')">
            @*ng-init="createSite.setTypeStore(@(isFirstTimeCreateStore ? "'free'" : "'all'"))"*@
            <li class="create-site__tabs-item">
                <label class="adv-radio-label" for="all"
                       ng-click="createSite.setTypeStore('all')">
                    <span>Все</span>
                    @*@(!isFirstTimeCreateStore ? "checked=checked" : "")*@
                    <input checked="checked"
                           class="adv-radio-input absolute"
                           id="all"
                           type="radio"
                           name="typeStore">
                    <span class="adv-radio-emul"></span>
                </label>
            </li>
            <li class="create-site__tabs-item">
                <label class="adv-radio-label" for="paid"
                       ng-click="createSite.setTypeStore('paid')">
                    <span>Платные</span>
                    <input class="adv-radio-input absolute" id="paid" type="radio" name="typeStore">
                    <span class="adv-radio-emul"></span>
                </label>
            </li>
            <li class="create-site__tabs-item">
                <label class="adv-radio-label" for="free"
                       ng-click="createSite.setTypeStore('free')">
                    <span>Бесплатные</span>
                    @*@(isFirstTimeCreateStore ? "checked=checked" : "")*@
                    <input class="adv-radio-input absolute"
                           id="free"
                           type="radio"
                           name="typeStore">
                    <span class="adv-radio-emul"></span>
                </label>
            </li>
        </ul>
            @if (TrialService.IsTrialEnabled)
            {
                <div ng-if="createSite.current  === 'Store'" class="m-t-md ng-cloak">Платные шаблоны представлены в пробном режиме и доступны к установке без оплаты</div>
            }

            <div class="tab-content">
                <div class="ng-cloak tab-pane active">
                    <div>
                        <div class="last-item-row last-item-row--{{createSite.current.toLowerCase()}}"
                             ng-if="createSite.lpTemplates != null">
                            <div class="last-item" ng-repeat="item in createSite.lpTemplates track by item.Name">
                                @Html.Partial("_CreateSiteTemplateItem", Model)
                            </div>

                            @*@if (!isFirstTimeCreateStore)
                            {*@
                                <div class="last-item last-item-empty-template-wrap">
                                    <div class="last-item-empty-template">
                                        <ui-modal-trigger data-controller="'ModalAddLandingSiteCtrl'" controller-as="ctrl" size="lg" data-backdrop="static"
                                                          template-url="../areas/admin/content/src/_shared/modal/addLandingSite/addLandingSite.html">
                                            <a ng-href="" class="last-item-empty-template-funnel ibox-content ">
                                                <div class="">
                                                    <div class="dashboard__icon--plus"></div>
                                                    <span class="landing-block-add-text">Пустой шаблон</span>
                                                </div>
                                            </a>
                                        </ui-modal-trigger>
                                    </div>
                                </div>
                            @*}*@
                        </div>
                        <div class="relative p-t-lg p-b-lg text-center"
                             ng-if="createSite.isLoadingFunnelTemplates">
                            <div>
                                <i class="fas fa-spinner fa-spin fa-2x"></i>
                            </div>
                        </div>
                    </div>

                    <div ng-if="createSite.current  === 'Store'">
                        <div class="create-site__free-template"
                             infinite-scroll-disabled="createSite.stateTemplateParams.infiniteScrollTemplatesTerminated"
                             infinite-scroll="createSite.getTemplates()">
                            <div ng-if="createSite.templates != null && createSite.templates.length">
                                <div class="last-item-row last-item-row--{{createSite.current.toLowerCase()}}">
                                    <div class="last-item" ng-repeat="item in createSite.templates track by item.Name">
                                        @Html.Partial("_CreateSiteTemplateItem", Model)
                                    </div>

                                </div>
                            </div>
                            <div class="relative p-t-lg p-b-lg text-center"
                                 ng-if="createSite.stateTemplateParams.isLoadingTemplates">
                                <div>
                                    <i class="fas fa-spinner fa-spin fa-2x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 