@using AdvantShop.Core.Services.SalesChannels;
@using AdvantShop.Trial
@using AdvantShop.Core.Services.Landing;
@using AdvantShop.Design

@{
    //var isFirstTimeCreateStore = SalesChannelService.IsFirstTimeCreateStore();
    //var modernTemplateList = TemplateService.GetTemplates().Items.Where(x => !x.IsInstall && x.Name == "Modern").ToList();
    var modernTemplateList = TemplateService.GetTemplates().Items.Where(x => x.Name == "Modern").ToList();
    var modernTemplate = modernTemplateList[0];
    //if (isFirstTimeCreateStore)
    //{
    //    Layout = "~/Areas/Admin/Templates/AdminV3/Views/Shared/_FirstTimeCreateLayout.cshtml";
    //}

}

@Html.Action("UserInformation", "Home")
<div class="selector-content-wrap">
    <div class="selector-content">
        <h3 class="selector-title">Шаблон проекта:</h3>
        <div class="selector-block">
            <div class="selector-column selector-column-1">
                <div class="selector-img-wrapper">
                    <img src="https://img.advstatic.ru/mainsite/manual/static-page/trialfirstsession.png" />
                </div>
                <p class="selector-about">Modern (установлен)</p>
                <button ng-controller="DesignCtrl as design"
                        ng-init="design.checkStore=true"
                        disabled ng-disabled="!design.pageLoaded"
                        ng-click="design.installTemplate('@(modernTemplate.Name)', '@(modernTemplate.Id)', @(modernTemplate.Version), '@Url.Action("Index", "Dashboard")')"
                        class="btn btn-submit flex-grow selector-btn">
                    @T("Admin.Design.Index.Install")
                </button>
            </div>
            <div class="selector-or hidden-xs visible-sm">
                <div class="selector-or-word">ИЛИ</div>
            </div>
            <div class="selector-column selector-column-2">
                <div class="selector-img-wrapper">
                    <img src="https://img.advstatic.ru/mainsite/manual/static-page/trialfirstsession2.png" />
                </div>
                <p class="selector-about">Магазин шаблонов</p>
                <a href="@Url.Action("CreateSite", "Dashboard")"
                   class="btn btn-submit flex-grow selector-btn">Выбрать шаблон</a>
            </div>
        </div>
    </div>
</div>