@using AdvantShop.Core.Common.Extensions
@using AdvantShop.Web.Admin.Models.Orders
@model AdvantShop.Web.Admin.ViewModels.Orders.OrdersViewModel


<div class="page-head page-head--sticky">
    <div class="page-head__back">
        @Html.Back("", Url.Action("Index", "Home"))
    </div>
    <div class="page-head__content">
        <h1 class="page-head__name">
            @T("Admin.Orders.Index.Title")
        </h1>
    </div>
    <div class="page-head__controls">
        <a href="@Url.Action("Add")" class="link-terna" title="@T("Admin.Orders.Index.AddOrder")">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 9.14286H9.14286V16H6.85714V9.14286H0V6.85714H6.85714V0H9.14286V6.85714H16V9.14286Z" fill="currentColor" />
            </svg>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 tasks-navbar">
        <ul class="nav nav-tabs">
            @foreach (OrdersPreFilterType item in Enum.GetValues(typeof(OrdersPreFilterType)))
            {
            <li class="ng-tab nav-item@(Model.PreFilter == item ? " active" : "" )">
                <a href="@(Url.Action("Index") + (item !=OrdersPreFilterType.None ? "?filterby=" + item.ToString().ToLower() : "" ))" class="nav-link">
                    @item.Localize()
                </a>
            </li>
            }
        </ul>
    </div>
</div>

<div ng-init="orders.init(@Model.EnableMangers.ToLowerString())">
    <ui-grid-custom grid-unique-id="grid"
                    grid-row-identificator="'OrderId'"
                    grid-on-init="orders.gridOnInit(grid)"
                    grid-options="orders.gridOptions"
                    grid-params="{filterby: '@Model.PreFilter.ToString().ToLower()'}"
                    grid-url="'orders/getorders'"
                    grid-filter-enabled="true"
                    grid-selection-enabled="false"
                    grid-filter-hidden-total-items-count="true">
        <ui-grid-custom-override-control class="ng-cloak">
            <a ng-href="orders/edit/{{row.entity.OrderId}}" class="block-content block-content--padding block-content--margin link-decoration-none link-terna">
                <div class="row between-xs middle-xs  m-b-xs">
                    <div class="col-xs-6">
                        <span class="orders-block__text--lg p-r-xs">#<span ng-bind="row.entity.Number"></span></span>
                        <span ng-style="{'color': '#' + row.entity.Color}" ng-bind="row.entity.StatusName"></span>
                    </div>
                    <div class="col-xs-6 text-right">
                        <span class="orders-block__text--alt" ng-bind="row.entity.OrderDateFormatted"></span>
                    </div>
                </div>
                <div class="row between-xs  middle-xs  m-b-md">
                    <div class="col-xs-6">
                        <span class="orders-block__text--alt">Позиций:</span> <span class="orders-block__text--lg" ng-bind="row.entity.OrderItems.length"></span>
                    </div>
                    <div class="col-xs-6 text-right">
                        <span class="orders-block__text--alt">Сумма:</span> <span class="orders-block__text--lg" ng-bind="row.entity.SumFormatted"></span>
                    </div>
                </div>
                <div class="row between-xs  middle-xs">
                    <div class="col-xs-6">
                        <span ng-bind="row.entity.BuyerName"></span> <span class="orders-block__text--alt" ng-bind="row.entity.City"></span>
                    </div>
                    <div class="col-xs-6 text-right">
                        <span ng-class="{'orders-block__is-paid':row.entity.IsPaid, 'orders-block__is-nopaid': !row.entity.IsPaid }" ng-bind="row.entity.IsPaid ? 'Оплачен' : 'Не оплачен'"></span>
                    </div>
                </div>
            </a>
        </ui-grid-custom-override-control>
        <ui-grid-custom-footer class="ui-grid-custom-footer--mobile" ng-if="orders.grid.gridOptions.TotalItemsCount > 0" ng-bind="orders.grid.gridOptions.TotalString">
        </ui-grid-custom-footer>
    </ui-grid-custom>
</div>

