@model AdvantShop.Web.Admin.Models.Orders.OrdersEdit.OrderModel
@{
    var order = Model.Order;
    var orderCustomer = order != null ? order.OrderCustomer : null;
    var isNewOrDraft = order == null || order.IsDraft;
    var customerId = orderCustomer != null ? orderCustomer.CustomerID : Guid.Empty;
}

<form novalidate="" name="popupOrderCustomerForm" class="modal-body popup-order-customer">
    <div class="sticky-page-name sticky-page-name-in-modal--panel">
        <div class="page-name-block sticky-page-name-inner m-b-sm">
            <div class="page-name-block-item-main m-l">
                <div class="page-name-block-text sticky-page-name-text inline order-header-item order-header-item-name">
                    @(orderCustomer != null ? T("Admin.Orders.OrderCustomer.Customer").ToString() : T("Admin.Orders.OrderCustomer.CreateOrFindCustomer").ToString())
                </div>
            </div>
            <div class="page-name-block-item-additional">
                <button class="btn btn-sm btn-success" type="button" data-button-validation button-validation-success="ctrl.save(); ctrl.btnLoading = true"
                        ladda="ctrl.btnLoading" ng-disabled="!popupOrderCustomerForm.modified">
                    <span class="fa fa-check"></span>Сохранить
                </button>
            </div>
        </div>
        <ui-modal-cross></ui-modal-cross>
    </div>

    <div>
        <div class="container-fluid popup-order-customer__content-container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="ibox category-block">
                        <div class="ibox-content category-content border_none">
                            <div class="customersegments-custom-fields add-edit-popup-customer-fields">

                                <div ng-init="ctrl.initModal(@Model.OrderId, @Model.IsEditMode.ToLowerString(), @isNewOrDraft.ToLowerString(), '@customerId', '@Model.StandardPhone')">
                                    @if (Model.Customer != null)
                                    {
                                        <div class="customer-status-wrap inline m-b-md" ng-init="ctrl.clientStatus='@Model.Customer.ClientStatus'">
                                            <div data-e2e="statusVip" class="customer-status-label customer-status-label-left" ng-click="ctrl.changeStatusClient('Vip')" ng-class="{'vip':ctrl.clientStatus === 'Vip'}">
                                                <span>VIP</span>
                                            </div>
                                            <div data-e2e="statusBad" ng-click="ctrl.changeStatusClient('Bad')" class="customer-status-label customer-status-label-right customer-status-label-bad" ng-class="{'bad':ctrl.clientStatus === 'Bad'}">
                                                <span>@T("Admin.Customers.ViewCustomerHeader.Bad")</span>
                                            </div>
                                        </div>

                                        <a href="@Url.Action("View", "Customers", new { id = Model.Customer.Id })" target="_blank" class="edit link-decoration-none m-b-md">@T("Admin.Orders.OrderCustomer.ClientCard")</a>
                                    }

                                    <div class="popup-order-customer__change-customer m-l-sm inline m-b-md @(orderCustomer == null ? " m-b-md" : "m-l-sm inline m-b-md")">
                                        <ui-modal-trigger data-controller="'ModalSelectCustomerCtrl'" controller-as="ctrl" size="middle"
                                                          template-url="../areas/admin/content/src/_shared/modal/selectCustomer/selectCustomer.html"
                                                          data-on-close="ctrl.selectCustomer(result)">
                                            <a href="" class="edit link-decoration-none">@T(Model.Customer != null ? "Сменить покупателя" : "Admin.Orders.OrderCustomer.SelectCustomer")</a>
                                        </ui-modal-trigger>
                                        <span ng-if="ctrl.selectedFirstName != null && ctrl.selectedLastName != null" class="ng-cloak m-l-xs link-invert">
                                            <a target="_blank" href="customers/view/{{ctrl.customerId}}">
                                                {{ctrl.selectedFirstName}} {{ctrl.selectedLastName}}
                                            </a>
                                            <a href="" ng-click="ctrl.resetOrderCustomer()" ng-if="ctrl.isDraft" class="link-invert link-decoration-none fas fa-times"></a>
                                        </span>
                                    </div>
                                </div>

                                @if (Model.Customer == null && Model.IsEditMode)
                                {
                                    <div class="m-b">
                                        <a target="_blank" data-e2e="SaveCustomer" href="customers/add?orderid=@Model.OrderId" class="ng-cloak m-l-xs link-invert">
                                            @T("Admin.Orders.OrderCustomer.CreateUserFromOrder")
                                        </a>
                                    </div>
                                }

                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="p-r-lg popup-order-customer__user-container">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-4">
                                                        <div class="row  m-b-sm">
                                                            <div class="col-xs-12">
                                                                <label class="control-label text-left m-b-xs">@T("Admin.Orders.OrderCustomer.LastName")</label>
                                                            </div>
                                                            <div class="col-xs-12">
                                                                @Html.TextBoxFor(x => x.Order.OrderCustomer.LastName, new
                                                                {
                                                                    @class = "form-control",
                                                                    ng_model = "ctrl.lastName",
                                                                    uib_typeahead = "item.LastName for item in ctrl.findCustomers($viewValue)",
                                                                    typeahead_template_url = "../areas/admin/content/src/order/templates/autocompleteCustomers.html",
                                                                    typeahead_on_select = "ctrl.selectCustomerByAutocomplete($item, $model, $label)",
                                                                    typeahead_focus_first = "false"
                                                                })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-4">
                                                        <div class="row  m-b-sm">
                                                            <div class="col-xs-12">
                                                                <label class="control-label text-left m-b-xs">@T("Admin.Orders.OrderCustomer.FirstName")</label>
                                                            </div>
                                                            <div class="col-xs-12">
                                                                @Html.TextBoxFor(x => x.Order.OrderCustomer.FirstName, new
                                                                {
                                                                    @class = "form-control",
                                                                    ng_model = "ctrl.firstName",
                                                                    uib_typeahead = "item.FirstName for item in ctrl.findCustomers($viewValue)",
                                                                    typeahead_template_url = "../areas/admin/content/src/order/templates/autocompleteCustomers.html",
                                                                    typeahead_on_select = "ctrl.selectCustomerByAutocomplete($item, $model, $label)",
                                                                    typeahead_focus_first = "false"
                                                                })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-4">
                                                        <div class="row m-b-sm">
                                                            <div class="col-xs-12">
                                                                <label class="control-label text-left m-b-xs">@T("Admin.Orders.OrderCustomer.Patronymic")</label>
                                                            </div>
                                                            <div class="col-xs-12">
                                                                @Html.TextBoxFor(x => x.Order.OrderCustomer.Patronymic, new
                                                                {
                                                                    @class = "form-control",
                                                                    ng_model = "ctrl.patronymic",
                                                                    uib_typeahead = "item.Patronymic for item in ctrl.findCustomers($viewValue)",
                                                                    typeahead_template_url = "../areas/admin/content/src/order/templates/autocompleteCustomers.html",
                                                                    typeahead_on_select = "ctrl.selectCustomerByAutocomplete($item, $model, $label)",
                                                                    typeahead_focus_first = "false"
                                                                })
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row  m-b-sm">
                                                    <div class="col-xs-12">
                                                        <label class="control-label text-left m-b-xs">@T("Admin.Orders.OrderCustomer.Organization")</label>
                                                    </div>

                                                    <div class="col-xs-12">
                                                        <div class="row between-xs middle-xs">
                                                            <div class="col-xs">
                                                                @Html.TextBoxFor(x => x.Order.OrderCustomer.Organization, new
                                                                {
                                                                    @class = "form-control",
                                                                    ng_model = "ctrl.organization",
                                                                })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="row  m-b-sm">
                                                    <div class="col-xs-12">
                                                        <label class="control-label text-left m-b-xs">Email</label>
                                                    </div>

                                                    <div class="col-xs-12">
                                                        <div class="row between-xs middle-xs">
                                                            <div class="col-xs-12 col-sm">
                                                                @Html.TextBoxFor(x => x.Order.OrderCustomer.Email, new
                                                                {
                                                                    @class = "form-control",
                                                                    ng_model = "ctrl.email",
                                                                    pattern = "^([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z0-9-.]+)|(admin)$"
                                                                })
                                                            </div>
                                                            @if (!isNewOrDraft)
                                                            {
                                                                <div class="col-xs flex-grow-n text-nowrap" ng-if="ctrl.email != null && ctrl.email.length > 0 && popupOrderCustomerForm['Order.OrderCustomer.Email'].$error.pattern == null">
                                                                    <ui-modal-trigger data-controller="'ModalSendLetterToCustomerCtrl'" controller-as="ctrl" size="lg"
                                                                                      template-url="../areas/admin/content/src/_shared/modal/sendLetterToCustomer/sendLetterToCustomer.html"
                                                                                      data-resolve="{params: {@(orderCustomer != null ? "customerId: '" + orderCustomer.CustomerID + "'," : "") email: ctrl.email, firstName: ctrl.firstName, lastName: ctrl.lastName, patronymic: ctrl.patronymic, pageType: 'order'}}">
                                                                        <a href="" class="edit link-decoration-none">@T("Admin.Orders.OrderCustomer.SendEmail")</a>
                                                                    </ui-modal-trigger>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row  m-b-sm">
                                                    <div class="col-xs-12">
                                                        <label class="control-label text-left m-b-xs">@T("Admin.Orders.OrderCustomer.PhoneInNumberFormat")</label>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="row between-xs middle-xs">
                                                            <div class="col-xs-12 col-sm">
                                                                @Html.TextBoxFor(x => x.Order.OrderCustomer.Phone, new
                                                                {
                                                                    @class = "form-control",
                                                                    mask_control = "",
                                                                    mask_control_preset = "phone",
                                                                    ng_model = "ctrl.phone",
                                                                })
                                                            </div>
                                                            <div class="col-xs flex-grow-n text-nowrap">
                                                                @if (Model.StandardPhone != null)
                                                                {
                                                                    <a href="tel:@Model.StandardPhone" ng-href="tel:{{ctrl.phone}}" class="edit link-decoration-none" onclick="return advTrack('@AdvantShop.Track.ETrackEvent.Core_Orders_CallCustomer.ToString()');">
                                                                        @T("Admin.Orders.OrderCustomer")
                                                                    </a>

                                                                    if (orderCustomer != null)
                                                                    {
                                                                        <ui-modal-trigger data-controller="'ModalSendSmsAdvCtrl'" controller-as="ctrl"
                                                                                          data-resolve="{params: { customerId: '@orderCustomer.CustomerID', phone: ctrl.phone, orderId: '@Model.OrderId', pageType: 'order'}}"
                                                                                          template-url="../areas/admin/content/src/_shared/modal/sendSms/sendSms.html">
                                                                            <a href="" class="edit link-decoration-none m-l-xs">@T("Admin.Orders.OrderCustomer.SendSms")</a>
                                                                        </ui-modal-trigger>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            @Html.RenderModules("admin_order_ordercustomer_left", new { orderId = Model.OrderId })
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-4">
                                                    <div class="row m-b-sm">
                                                        <div class="col-xs-12 m-b-xs">
                                                            <label class="control-label text-left">@T("Admin.Orders.OrderCustomer.City")</label>
                                                        </div>
                                                        <div class="col-xs-12">
                                                            @Html.TextBoxFor(x => x.Order.OrderCustomer.City, new
                                                            {
                                                                @class = "form-control",
                                                                ng_model = "ctrl.city",
                                                                autocompleter_address = "",
                                                                on_select = "ctrl.processCity(item)",
                                                                ng_change = "ctrl.processCity()"
                                                            })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-4">
                                                    <div class="row m-b-sm">
                                                        <div class="col-xs-12 m-b-xs">
                                                            <label class="control-label text-left">@T("Admin.Orders.OrderCustomer.Region")</label>
                                                        </div>
                                                        <div class="col-xs-12">
                                                            @Html.TextBoxFor(x => x.Order.OrderCustomer.Region, new
                                                            {
                                                                @class = "form-control",
                                                                ng_model = "ctrl.region",
                                                                autocompleter = "",
                                                                on_type = "region"
                                                            })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-4">
                                                    <div class="row m-b-sm">
                                                        <div class="col-xs-12 m-b-xs">
                                                            <label class="control-label text-left">@T("Admin.Orders.OrderCustomer.Country")</label>
                                                        </div>
                                                        <div class="col-xs-12">
                                                            @Html.TextBoxFor(x => x.Order.OrderCustomer.Country, new
                                                            {
                                                               @class = "form-control",
                                                               ng_model = "ctrl.country",
                                                               autocompleter = "",
                                                               on_type = "country"
                                                           })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-4">
                                                    <div class="row m-b-sm">
                                                        <div class="col-xs-12 m-b-xs">
                                                            <label class="control-label text-left">@T("Admin.Orders.OrderCustomer.District")</label>
                                                        </div>
                                                        <div class="col-xs-12">
                                                            @Html.TextBoxFor(x => x.Order.OrderCustomer.District, new
                                                            {
                                                                @class = "form-control",
                                                                ng_model = "ctrl.district"
                                                            })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-5">
                                                    <div class="row m-b-sm">
                                                        <div class="col-xs-12 m-b-xs">
                                                            <label class="control-label text-left">
                                                                @T("Admin.Orders.OrderCustomer.Street")
                                                            </label>
                                                            <a href="//maps.yandex.ru/?text={{ctrl.getMapAddress()}}" target="_blank"><i class="fa fa-map-marker"></i></a>
                                                        </div>
                                                        <div class="col-xs-12">
                                                            @Html.TextBoxFor(x => x.Order.OrderCustomer.Street, new
                                                            {
                                                                @class = "form-control",
                                                                ng_model = "ctrl.street",
                                                                autocompleter_address = Model.UseAddressSuggestions.ToLowerString(),
                                                                autocompleter_url = Model.AddressSuggestionsUrl,
                                                                autocompleter_params = "{part: 'Street', city: ctrl.city, region: ctrl.region, inAdminPart: true}",
                                                                on_select = Model.UseAddressSuggestions.ToLowerString() + " && ctrl.processAddress(item)",
                                                                ng_change = Model.UseAddressSuggestions.ToLowerString() + " && ctrl.processAddress()"
                                                            })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm">

                                                    <div class="row m-b-sm">
                                                        <div class="col-xs-12 m-b-xs">
                                                            <label class="control-label text-left">@T("Admin.Orders.OrderCustomer.Zip")</label>
                                                        </div>
                                                        <div class="col-xs-12">
                                                            @Html.TextBoxFor(x => x.Order.OrderCustomer.Zip, new
                                                            {
                                                                @class = "form-control",
                                                                ng_model = "ctrl.zip"
                                                            })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        @if (SettingsCheckout.IsShowCustomShippingField1 || (orderCustomer != null && !string.IsNullOrEmpty(order.OrderCustomer.CustomField1)))
                                        {
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-3 col-wl-2">
                                                        <label class="control-label text-left">@SettingsCheckout.CustomShippingField1</label>
                                                    </div>
                                                    <div class="col-xs-12 col-sm">
                                                        @Html.TextBoxFor(x => x.Order.OrderCustomer.CustomField1, new
                                                   {
                                                       @class = "form-control",
                                                       ng_model = "ctrl.customField1",
                                                   })
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        @if (SettingsCheckout.IsShowCustomShippingField2 || (orderCustomer != null && !string.IsNullOrEmpty(order.OrderCustomer.CustomField2)))
                                        {
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-3">
                                                        <label class="control-label text-left">@SettingsCheckout.CustomShippingField2</label>
                                                    </div>
                                                    <div class="col-xs-12 col-sm">
                                                        @Html.TextBoxFor(x => x.Order.OrderCustomer.CustomField2, new
                                                        {
                                                            @class = "form-control",
                                                            ng_model = "ctrl.customField2",
                                                        })
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        @if (SettingsCheckout.IsShowCustomShippingField3 || (orderCustomer != null && !string.IsNullOrEmpty(order.OrderCustomer.CustomField3)))
                                        {
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-3 col-wl-2">
                                                        <label class="control-label text-left">@SettingsCheckout.CustomShippingField3</label>
                                                    </div>
                                                    <div class="col-xs-12 col-sm">
                                                        @Html.TextBoxFor(x => x.Order.OrderCustomer.CustomField3, new
                                                        {
                                                            @class = "form-control",
                                                            ng_model = "ctrl.customField3",
                                                        })
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        <div class="form-group">
                                            <div class="row between-xs">
                                                <div class="col-xs-12 col-sm-2 m-b-sm">
                                                    <label class="control-label text-left m-b-xs">@T("Admin.Orders.OrderCustomer.House")</label>
                                                        @Html.TextBoxFor(x => x.Order.OrderCustomer.House, new
                                                        {
                                                            @class = "form-control",
                                                            ng_model = "ctrl.house",
                                                            maxlength = "50",
                                                            autocompleter_address = Model.UseAddressSuggestions.ToLowerString(),
                                                            autocompleter_url = Model.AddressSuggestionsUrl,
                                                            autocompleter_params = "{part: 'House', street: ctrl.street, city: ctrl.city, region: ctrl.region, inAdminPart: true}",
                                                            on_select = Model.UseAddressSuggestions.ToLowerString() + " && ctrl.processAddress(item)",
                                                            ng_change = Model.UseAddressSuggestions.ToLowerString() + " && ctrl.processAddress()"
                                                        })
                                                </div>
                                                <div class="col-xs-12 col-sm">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-5 m-b-sm">
                                                            <label class="control-label text-left m-b-xs">@T("Admin.Orders.OrderCustomer.Structure")</label>
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    @Html.TextBoxFor(x => x.Order.OrderCustomer.Structure, new
                                                                    {
                                                                        @class = "form-control",
                                                                        ng_model = "ctrl.structure",
                                                                        maxlength = "10"
                                                                    })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-4 m-b-sm">
                                                            <label class="control-label text-left m-b-xs">@T("Admin.Orders.OrderCustomer.Apartament")</label>
                                                            @Html.TextBoxFor(x => x.Order.OrderCustomer.Apartment, new
                                                            {
                                                                @class = "form-control",
                                                                ng_model = "ctrl.apartment",
                                                                maxlength = "50",
                                                            })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-2 m-b-sm">
                                                    <label class="control-label text-left m-b-xs">@T("Admin.Orders.OrderCustomer.Entrance")</label>
                                                    @Html.TextBoxFor(x => x.Order.OrderCustomer.Entrance, new
                                                    {
                                                        @class = "form-control",
                                                        ng_model = "ctrl.entrance",
                                                        maxlength = "10"
                                                    })
                                                </div>
                                                <div class="col-xs-12 col-sm-2 m-b-sm">
                                                    <label class="control-label text-left m-b-xs">@T("Admin.Orders.OrderCustomer.Floor")</label>
                                                    @Html.TextBoxFor(x => x.Order.OrderCustomer.Floor, new
                                                    {
                                                        @class = "form-control",
                                                        ng_model = "ctrl.floor",
                                                        maxlength = "10"
                                                    })
                                                </div>
                                            </div>
                                        </div>

                                        @Html.RenderModules("admin_order_ordercustomer_right", new { orderId = Model.OrderId })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
