@model BlockModel
<div class="container-fluid">
    <div class="lp-container">
        <div class="row start-xs middle-xs">
            <div class="col-xs-12 @Model.Block.GetWidthInColumnsAsClasses()">
                <div class="lp-block-cover-text-left-modal-video-header lp-h2 lp-h2--color" data-e2e="CoverTLMVTitle">
                    @Html.SubBlock(Model, "title")
                </div>
                <div class="lp-block-cover-text-left-modal-video-text lp-h3 lp-h3--color" data-e2e="CoverTLMVText">
                    @Html.SubBlock(Model, "text")
                </div>
                <div class="modal-video-trigger" data-e2e="CoverTLMVVideo">
                    @Html.SubBlock(Model, "video")
                </div>
            </div>
        </div>
        @Html.Partial("_CoverScrollToBlock", Model)
    </div>
</div>
