
@using AdvantShop.Core.Services.Admin
@using AdvantShop.Trial
@using AdvantShop.Core.Services.SalesChannels;
@using AdvantShop.Saas
@using AdvantShop.Core.Services.Domains;
@{
    //var action = Request.RequestContext.RouteData.Values["action"].ToString().ToLower();
    //var controller = Request.RequestContext.RouteData.Values["controller"].ToString().ToLower();
    //var currentsaasData = SaasDataService.CurrentSaasData;
    var enabledSaas = SaasDataService.IsSaasEnabled;
    //var storeActive = SettingsMain.StoreActive;
    //var crmActive = AdvantShop.Core.Services.Configuration.Settings.SettingsCrm.CrmActive;
    //var taskActive = SettingsTasks.TasksActive;
    //var bonusActive = SettingsMain.BonusAppActive;
    //var bookingActive = SettingsMain.BookingActive;
    //var partnersActive = SettingsMain.PartnersActive;
    var storeEnabled = SalesChannelService.GetByType(ESalesChannelType.Store).Enabled;

    var currentCustomer = CustomerContext.CurrentCustomer;
}


@section TopContent {
    <div class="balance__padding-page balance__padding-page--bg-white">
        <div class="main-panel-page">
            <div class="sticky-page-name p-b-n" sticky sticky-top="0">
                <div class="page-name-block sticky-page-name-inner">
                    <div class="page-name-block-item-main">
                        <h1 class="page-name-block-text page-name-block-text--bigger sticky-page-name-text m-b-xs">
                            @T("Admin.Settings.Header")
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="ibox">
    <div class="ibox-content settings-box-content">
        <div class="row settings-list">
            <div class="col-xs-4">
                <a href="@Url.Action("Common", "Settings")" class="text-decoration-none settings-list__item">
                    <div class="flex middle-xs setting-block__column">
                        <div class="settings-list__item-icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                                <g fill="none" fill-rule="evenodd" stroke="#2F4050">
                                    <path stroke-width="1.3" d="M24 8C15.177 8 8 15.177 8 24s7.177 16 16 16 16-7.177 16-16S32.823 8 24 8z" />
                                    <path fill="#2F4050" stroke-width=".2" d="M31.467 30.4h-6.934v1.067A.533.533 0 0 1 24 32h-3.2a.533.533 0 0 1-.533-.533V30.4h-3.734a.533.533 0 1 1 0-1.067h3.734v-1.066c0-.295.239-.534.533-.534H24c.294 0 .533.239.533.534v1.066h6.934a.533.533 0 1 1 0 1.067zm0-5.867h-1.6V25.6a.533.533 0 0 1-.534.533h-3.2a.533.533 0 0 1-.533-.533v-1.067h-9.067a.533.533 0 1 1 0-1.066H25.6V22.4c0-.295.239-.533.533-.533h3.2c.295 0 .534.238.534.533v1.067h1.6a.533.533 0 1 1 0 1.066zm0-5.866H22.4v1.066a.533.533 0 0 1-.533.534h-3.2a.533.533 0 0 1-.534-.534v-1.066h-1.6a.533.533 0 1 1 0-1.067h1.6v-1.067c0-.295.24-.533.534-.533h3.2c.294 0 .533.238.533.533V17.6h9.067a.533.533 0 1 1 0 1.067zm-4.8 4.266v2.134H28.8v-2.134h-2.133zM19.2 17.067V19.2h2.133v-2.133H19.2zM21.333 28.8v2.133h2.134V28.8h-2.134z" />
                                </g>
                            </svg>
                        </div>
                        <div>
                            <div class="settings-list__item-name">
                                @T("Admin.Settings.Commonpage.Commonsettings")
                            </div>
                            <div class="settings-list__item-descr">
                                @T("Admin.Settings.Commonpage.CommonsettingsAbout")
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="@Url.Action("Index", "SettingsCoupons")" class="settings-list__item text-decoration-none">
                    <div class="flex middle-xs setting-block__column">
                        <div class="settings-list__item-icon-wrap">
                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill="#2F4050" d="M40.5429 39H7.45714C7.3359 39 7.21962 38.9549 7.13389 38.8747C7.04816 38.7945 7 38.6857 7 38.5723V28.724C6.99998 28.6254 7.03637 28.5298 7.10301 28.4534C7.16966 28.377 7.26246 28.3245 7.36571 28.3048C8.29578 28.1281 9.13196 27.656 9.73256 26.9684C10.3332 26.2809 10.6613 25.4202 10.6613 24.5322C10.6613 23.6442 10.3332 22.7835 9.73256 22.0959C9.13196 21.4084 8.29578 20.9362 7.36571 20.7595C7.26246 20.7398 7.16966 20.6873 7.10301 20.6109C7.03637 20.5345 6.99998 20.439 7 20.3404V9.42774C7 9.31429 7.04816 9.2055 7.13389 9.12528C7.21962 9.04506 7.3359 9 7.45714 9H40.5429C40.6641 9 40.7804 9.04506 40.8661 9.12528C40.9518 9.2055 41 9.31429 41 9.42774V20.3404C41 20.439 40.9636 20.5345 40.897 20.6109C40.8303 20.6873 40.7375 20.7398 40.6343 20.7595C39.7042 20.9362 38.868 21.4084 38.2674 22.0959C37.6668 22.7835 37.3387 23.6442 37.3387 24.5322C37.3387 25.4202 37.6668 26.2809 38.2674 26.9684C38.868 27.656 39.7042 28.1281 40.6343 28.3048C40.7375 28.3245 40.8303 28.377 40.897 28.4534C40.9636 28.5298 41 28.6254 41 28.724V38.5723C41 38.6857 40.9518 38.7945 40.8661 38.8747C40.7804 38.9549 40.6641 39 40.5429 39ZM7.91429 38.1445H40.0857V29.0597C39.0319 28.781 38.1042 28.1879 37.4435 27.3707C36.7828 26.5535 36.4254 25.5568 36.4254 24.5322C36.4254 23.5075 36.7828 22.5108 37.4435 21.6936C38.1042 20.8764 39.0319 20.2834 40.0857 20.0046V9.85547H7.91429V20.0046C8.96809 20.2834 9.89581 20.8764 10.5565 21.6936C11.2172 22.5108 11.5746 23.5075 11.5746 24.5322C11.5746 25.5568 11.2172 26.5535 10.5565 27.3707C9.89581 28.1879 8.96809 28.781 7.91429 29.0597V38.1445Z" />
                                <path fill="#2F4050" d="M7.33243 28.1278C8.22451 27.9583 9.02424 27.5058 9.59731 26.8498C10.1702 26.194 10.4816 25.3751 10.4816 24.532C10.4816 23.6889 10.1702 22.8699 9.59731 22.2142C9.02424 21.5581 8.22451 21.1057 7.33243 20.9362C7.19121 20.9092 7.06183 20.837 6.96769 20.7291C6.87332 20.6209 6.82029 20.4836 6.82031 20.3402C6.82031 20.3402 6.82031 20.3402 6.82031 20.3402V9.42756C6.82031 9.26237 6.89055 9.10658 7.01123 8.99367C7.13149 8.88114 7.29219 8.81982 7.45746 8.81982H40.5432C40.7084 8.81982 40.8691 8.88114 40.9894 8.99367C41.1101 9.10658 41.1803 9.26237 41.1803 9.42756V20.3402C41.1803 20.4836 41.1273 20.6209 41.0329 20.7291C40.9388 20.837 40.8096 20.9092 40.6684 20.9362C39.7763 21.1057 38.9764 21.5581 38.4033 22.2142C37.8305 22.8699 37.519 23.6889 37.519 24.532C37.519 25.3751 37.8305 26.194 38.4033 26.8498C38.9764 27.5058 39.7761 27.9583 40.6682 28.1278C40.8094 28.1548 40.9388 28.227 41.0329 28.3349C41.1273 28.4431 41.1803 28.5804 41.1803 28.7238V38.5721C41.1803 38.7373 41.1101 38.8931 40.9894 39.006C40.8691 39.1185 40.7084 39.1798 40.5432 39.1798H7.45746C7.2922 39.1798 7.13149 39.1185 7.01123 39.006C6.89055 38.8931 6.82031 38.7373 6.82031 38.5721V28.7238C6.82031 28.7238 6.82031 28.7239 6.82031 28.7238C6.82029 28.5804 6.87332 28.4431 6.96769 28.3349C7.06183 28.227 7.19121 28.1548 7.33243 28.1278ZM7.00031 28.7238V38.5721C7.00031 38.6855 7.04848 38.7943 7.13421 38.8745C7.21994 38.9548 7.33621 38.9998 7.45746 38.9998H40.5432C40.6644 38.9998 40.7807 38.9548 40.8664 38.8745C40.9522 38.7943 41.0003 38.6855 41.0003 38.5721V28.7238C41.0003 28.6252 40.9639 28.5296 40.8973 28.4532C40.8307 28.3768 40.7379 28.3243 40.6346 28.3046C39.7045 28.1279 38.8684 27.6558 38.2678 26.9682C37.6671 26.2807 37.339 25.42 37.339 24.532C37.339 23.644 37.6671 22.7833 38.2678 22.0957C38.8684 21.4082 39.7045 20.9361 40.6346 20.7594C40.7379 20.7396 40.8307 20.6871 40.8973 20.6108C40.9639 20.5344 41.0003 20.4388 41.0003 20.3402V9.42756C41.0003 9.31412 40.9522 9.20532 40.8664 9.1251C40.7807 9.04489 40.6644 8.99982 40.5432 8.99982H7.45746C7.33621 8.99982 7.21994 9.04489 7.13421 9.1251C7.04848 9.20532 7.00031 9.31412 7.00031 9.42756V20.3402C7.00029 20.4388 7.03668 20.5344 7.10332 20.6108C7.16997 20.6871 7.26277 20.7396 7.36603 20.7594C8.29609 20.9361 9.13227 21.4082 9.73287 22.0957C10.3335 22.7833 10.6616 23.644 10.6616 24.532C10.6616 25.42 10.3335 26.2807 9.73287 26.9682C9.13227 27.6558 8.29609 28.1279 7.36603 28.3046C7.26277 28.3243 7.16997 28.3768 7.10332 28.4532C7.03668 28.5296 7.00029 28.6252 7.00031 28.7238ZM40.086 38.1444H7.9146V29.0596C8.9684 28.7808 9.89612 28.1877 10.5568 27.3705C11.2175 26.5533 11.575 25.5567 11.575 24.532C11.575 23.5073 11.2175 22.5107 10.5568 21.6935C9.89612 20.8763 8.9684 20.2832 7.9146 20.0044V9.8553H40.086V20.0044C39.0322 20.2832 38.1045 20.8763 37.4438 21.6935C36.7832 22.5107 36.4257 23.5073 36.4257 24.532C36.4257 25.5567 36.7832 26.5533 37.4438 27.3705C38.1045 28.1877 39.0322 28.7808 40.086 29.0596V38.1444ZM39.906 10.0353H8.0946V19.8677C9.12867 20.1695 10.0394 20.7671 10.6968 21.5803C11.3826 22.4286 11.755 23.465 11.755 24.532C11.755 25.599 11.3826 26.6353 10.6968 27.4837C10.0394 28.2969 9.12867 28.8944 8.0946 29.1963V37.9644H39.906V29.1963C38.872 28.8944 37.9613 28.2969 37.3039 27.4837C36.618 26.6353 36.2457 25.599 36.2457 24.532C36.2457 23.465 36.618 22.4286 37.3039 21.5803C37.9613 20.7671 38.872 20.1695 39.906 19.8677V10.0353Z" clip-rule="evenodd" fill-rule="evenodd" />
                                <path fill="#2f4050" d="m 32.436692,19.39608 c -0.1212,0 -0.2375,-0.09987 -0.3232,-0.199737 -0.0857,-0.09987 -0.1339,-0.199737 -0.1339,-0.299606 v -1.597899 c 0,-0.09987 0.0482,-0.299606 0.1339,-0.299606 0.0857,-0.09987 0.202,-0.199737 0.3232,-0.199737 0.1213,0 0.2376,0.09987 0.3233,0.199737 0.0857,0 0.1339,0.199737 0.1339,0.299606 v 1.597899 c 0,0.09987 -0.0482,0.199737 -0.1339,0.299606 -0.0857,0.09987 -0.202,0.199737 -0.3233,0.199737 z" />
                                <path fill="#2f4050" d="m 32.437092,19.495949 c -0.1679,0 -0.3296,0 -0.4494,-0.09987 -0.1198,-0.199737 -0.1878,-0.299606 -0.1878,-0.499343 v -1.597899 c 0,-0.199737 0.068,-0.399475 0.1878,-0.499343 0.1198,-0.09987 0.2815,-0.199738 0.4494,-0.199738 0.1678,0 0.3295,0.09987 0.4493,0.199738 0.1198,0.09987 0.1878,0.299606 0.1878,0.499343 v 1.597899 c 0,0.199737 -0.068,0.299606 -0.1878,0.499343 -0.1198,0.09987 -0.2815,0.09987 -0.4493,0.09987 z m -0.3233,-0.299606 c 0.0857,0.09987 0.202,0.199737 0.3233,0.199737 0.1212,0 0.2375,-0.09987 0.3232,-0.199737 0.0857,-0.09987 0.1339,-0.199737 0.1339,-0.299606 v -1.597899 c 0,-0.09987 -0.0482,-0.299606 -0.1339,-0.299606 -0.0857,-0.09987 -0.202,-0.199737 -0.3232,-0.199737 -0.1213,0 -0.2376,0.09987 -0.3233,0.199737 -0.0857,0 -0.1339,0.199737 -0.1339,0.299606 v 1.597899 c 0,0.09987 0.0482,0.199737 0.1339,0.299606 z" clip-rule="evenodd" fill-rule="evenodd" />
                                <path fill="#2f4050" d="m 32.436692,15.401333 c -0.1212,0 -0.2375,0 -0.3232,-0.09987 -0.0857,-0.09987 -0.1339,-0.199737 -0.1339,-0.299606 v -1.597899 c 0,-0.199737 0.0482,-0.299606 0.1339,-0.399474 0.0857,0 0.202,-0.09987 0.3232,-0.09987 0.1213,0 0.2376,0.09987 0.3233,0.09987 0.0857,0.09987 0.1339,0.199737 0.1339,0.399474 v 1.597899 c 0,0.09987 -0.0482,0.199738 -0.1339,0.299606 -0.0857,0.09987 -0.202,0.09987 -0.3233,0.09987 z" />
                                <path fill="#2f4050" d="m 32.437092,15.60107 c -0.1679,0 -0.3296,-0.09987 -0.4494,-0.199737 -0.1198,-0.09987 -0.1878,-0.199737 -0.1878,-0.399475 v -1.597899 c 0,-0.199737 0.068,-0.399474 0.1878,-0.499343 0.1198,-0.09987 0.2815,-0.199737 0.4494,-0.199737 0.1678,0 0.3295,0.09987 0.4493,0.199737 0.1198,0.09987 0.1878,0.299606 0.1878,0.499343 v 1.597899 c 0,0.199738 -0.068,0.299606 -0.1878,0.399475 -0.1198,0.09987 -0.2815,0.199737 -0.4493,0.199737 z m -0.3233,-0.299606 c 0.0857,0.09987 0.202,0.09987 0.3233,0.09987 0.1212,0 0.2375,0 0.3232,-0.09987 0.0857,-0.09987 0.1339,-0.199737 0.1339,-0.299606 v -1.597899 c 0,-0.199737 -0.0482,-0.299606 -0.1339,-0.399474 -0.0857,0 -0.202,-0.09987 -0.3232,-0.09987 -0.1213,0 -0.2376,0.09987 -0.3233,0.09987 -0.0857,0.09987 -0.1339,0.199737 -0.1339,0.399474 v 1.597899 c 0,0.09987 0.0482,0.199738 0.1339,0.299606 z" clip-rule="evenodd" fill-rule="evenodd" />
                                <path fill="#2f4050" d="m 32.436692,11.506454 c -0.1212,0 -0.2375,0 -0.3232,-0.09987 -0.0857,-0.09987 -0.1339,-0.199738 -0.1339,-0.299606 V 9.4092121 c 0,-0.099869 0.0482,-0.1997374 0.1339,-0.299606 0.0857,-0.099869 0.202,-0.099869 0.3232,-0.099869 0.1213,0 0.2376,0 0.3233,0.099869 0.0857,0.099869 0.1339,0.1997373 0.1339,0.299606 V 11.10698 c 0,0.09987 -0.0482,0.199737 -0.1339,0.299606 -0.0857,0.09987 -0.202,0.09987 -0.3233,0.09987 z" />
                                <path fill="#2f4050" d="m 32.437092,11.706192 c -0.1679,0 -0.3296,-0.09987 -0.4494,-0.199738 -0.1198,-0.09987 -0.1878,-0.299606 -0.1878,-0.399474 V 9.4092121 c 0,-0.099869 0.068,-0.299606 0.1878,-0.3994747 0.1198,-0.099869 0.2815,-0.1997374 0.4494,-0.1997374 0.1678,0 0.3295,0.099869 0.4493,0.1997374 0.1198,0.099869 0.1878,0.299606 0.1878,0.3994747 V 11.10698 c 0,0.09987 -0.068,0.299606 -0.1878,0.399474 -0.1198,0.09987 -0.2815,0.199738 -0.4493,0.199738 z m -0.3233,-0.299606 c 0.0857,0.09987 0.202,0.09987 0.3233,0.09987 0.1212,0 0.2375,0 0.3232,-0.09987 0.0857,-0.09987 0.1339,-0.199738 0.1339,-0.299606 V 9.4092121 c 0,-0.099869 -0.0482,-0.1997374 -0.1339,-0.299606 -0.0857,-0.099869 -0.202,-0.099869 -0.3232,-0.099869 -0.1213,0 -0.2376,0 -0.3233,0.099869 -0.0857,0.099869 -0.1339,0.1997373 -0.1339,0.299606 V 11.10698 c 0,0.09987 0.0482,0.199737 0.1339,0.299606 z" clip-rule="evenodd" fill-rule="evenodd" />
                                <path fill="#2f4050" d="m 32.436692,23.290959 c -0.1212,0 -0.2375,-0.09987 -0.3232,-0.09987 -0.0857,-0.09987 -0.1339,-0.199737 -0.1339,-0.399474 v -1.597899 c 0,-0.09987 0.0482,-0.199738 0.1339,-0.299606 0.0857,-0.09987 0.202,-0.09987 0.3232,-0.09987 0.1213,0 0.2376,0 0.3233,0.09987 0.0857,0.09987 0.1339,0.199737 0.1339,0.299606 v 1.597899 c 0,0.199737 -0.0482,0.299606 -0.1339,0.399474 -0.0857,0 -0.202,0.09987 -0.3233,0.09987 z" />
                                <path fill="#2f4050" d="m 32.437092,23.490697 c -0.1679,0 -0.3296,-0.09987 -0.4494,-0.199738 -0.1198,-0.09987 -0.1878,-0.299606 -0.1878,-0.499343 v -1.597899 c 0,-0.199738 0.068,-0.299606 0.1878,-0.399475 0.1198,-0.199737 0.2815,-0.199737 0.4494,-0.199737 0.1678,0 0.3295,0 0.4493,0.199737 0.1198,0.09987 0.1878,0.199737 0.1878,0.399475 v 1.597899 c 0,0.199737 -0.068,0.399474 -0.1878,0.499343 -0.1198,0.09987 -0.2815,0.199738 -0.4493,0.199738 z m -0.3233,-0.399475 c 0.0857,0.09987 0.202,0.199737 0.3233,0.199737 0.1212,0 0.2375,-0.09987 0.3232,-0.199737 0.0857,0 0.1339,-0.09987 0.1339,-0.299606 v -1.597899 c 0,-0.09987 -0.0482,-0.199738 -0.1339,-0.299606 -0.0857,-0.09987 -0.202,-0.09987 -0.3232,-0.09987 -0.1213,0 -0.2376,0 -0.3233,0.09987 -0.0857,0.09987 -0.1339,0.199737 -0.1339,0.299606 v 1.597899 c 0,0.199737 0.0482,0.299606 0.1339,0.299606 z" clip-rule="evenodd" fill-rule="evenodd" />
                                <path fill="#2f4050" d="m 32.436692,27.185838 c -0.1212,0 -0.2375,0 -0.3232,-0.09987 -0.0857,-0.09987 -0.1339,-0.199737 -0.1339,-0.299606 v -1.697768 c 0,-0.09987 0.0482,-0.199737 0.1339,-0.299606 0.0857,-0.09987 0.202,-0.09987 0.3232,-0.09987 0.1213,0 0.2376,0 0.3233,0.09987 0.0857,0.09987 0.1339,0.199738 0.1339,0.299606 v 1.697768 c -1e-4,0.09987 -0.0483,0.199737 -0.1341,0.299606 -0.0857,0.09987 -0.2019,0.09987 -0.3231,0.09987 z" />
                                <path fill="#2f4050" d="m 33.074192,26.786363 c -2e-4,0.09987 -0.0682,0.299606 -0.1881,0.399475 -0.1197,0.09987 -0.2813,0.199737 -0.449,0.199737 -0.1679,0 -0.3296,-0.09987 -0.4494,-0.199737 -0.1198,-0.09987 -0.1878,-0.299606 -0.1878,-0.399475 v -1.697768 c 0,-0.09987 0.068,-0.299606 0.1878,-0.399474 0.1198,-0.09987 0.2815,-0.199738 0.4494,-0.199738 0.1678,0 0.3295,0.09987 0.4493,0.199738 0.1198,0.09987 0.1878,0.299606 0.1878,0.399474 z m -0.9604,0.299606 c 0.0857,0.09987 0.202,0.09987 0.3233,0.09987 0.1211,0 0.2373,0 0.323,-0.09987 0.0858,-0.09987 0.134,-0.199737 0.1341,-0.299606 v -1.697768 c 0,-0.09987 -0.0482,-0.199737 -0.1339,-0.299606 -0.0857,-0.09987 -0.202,-0.09987 -0.3232,-0.09987 -0.1213,0 -0.2376,0 -0.3233,0.09987 -0.0857,0.09987 -0.1339,0.199738 -0.1339,0.299606 v 1.697768 c 0,0.09987 0.0482,0.199737 0.1339,0.299606 z" clip-rule="evenodd" fill-rule="evenodd" />
                                <path fill="#2f4050" d="m 32.436692,31.080717 c -0.1212,0 -0.2375,0 -0.3232,-0.09987 -0.0857,-0.09987 -0.1339,-0.199738 -0.1339,-0.299606 v -1.597899 c 0,-0.199738 0.0482,-0.299606 0.1339,-0.399475 0.0857,0 0.202,-0.09987 0.3232,-0.09987 0.1213,0 0.2376,0.09987 0.3233,0.09987 0.0857,0.09987 0.1339,0.199737 0.1339,0.399475 v 1.597899 c 0,0.09987 -0.0482,0.199737 -0.1339,0.299606 -0.0857,0.09987 -0.202,0.09987 -0.3233,0.09987 z" />
                                <path fill="#2f4050" d="m 32.437092,31.280454 c -0.1679,0 -0.3296,-0.09987 -0.4494,-0.199737 -0.1198,-0.09987 -0.1878,-0.199738 -0.1878,-0.399475 v -1.597899 c 0,-0.199738 0.068,-0.399475 0.1878,-0.499344 0.1198,-0.09987 0.2815,-0.199737 0.4494,-0.199737 0.1678,0 0.3295,0.09987 0.4493,0.199737 0.1198,0.09987 0.1878,0.299606 0.1878,0.499344 v 1.597899 c 0,0.199737 -0.068,0.299606 -0.1878,0.399475 -0.1198,0.09987 -0.2815,0.199737 -0.4493,0.199737 z m -0.3233,-0.299606 c 0.0857,0.09987 0.202,0.09987 0.3233,0.09987 0.1212,0 0.2375,0 0.3232,-0.09987 0.0857,-0.09987 0.1339,-0.199738 0.1339,-0.299606 v -1.597899 c 0,-0.199738 -0.0482,-0.299606 -0.1339,-0.399475 -0.0857,0 -0.202,-0.09987 -0.3232,-0.09987 -0.1213,0 -0.2376,0.09987 -0.3233,0.09987 -0.0857,0.09987 -0.1339,0.199737 -0.1339,0.399475 v 1.597899 c 0,0.09987 0.0482,0.199737 0.1339,0.299606 z" clip-rule="evenodd" fill-rule="evenodd" />
                                <path fill="#2f4050" d="m 32.436692,35.075464 c -0.1212,0 -0.2375,-0.09987 -0.3232,-0.199737 -0.0857,-0.09987 -0.1339,-0.199738 -0.1339,-0.299606 v -1.597899 c 0,-0.09987 0.0482,-0.299606 0.1339,-0.299606 0.0857,-0.09987 0.202,-0.199738 0.3232,-0.199738 0.1213,0 0.2376,0.09987 0.3233,0.199738 0.0857,0 0.1339,0.199737 0.1339,0.299606 v 1.597899 c 0,0.09987 -0.0482,0.199737 -0.1339,0.299606 -0.0857,0.09987 -0.202,0.199737 -0.3233,0.199737 z" />
                                <path fill="#2f4050" d="m 32.437092,35.175333 c -0.1679,0 -0.3296,0 -0.4494,-0.09987 -0.1198,-0.199737 -0.1878,-0.299606 -0.1878,-0.499343 v -1.597899 c 0,-0.199738 0.068,-0.399475 0.1878,-0.499344 0.1198,-0.09987 0.2815,-0.199737 0.4494,-0.199737 0.1678,0 0.3295,0.09987 0.4493,0.199737 0.1198,0.09987 0.1878,0.299606 0.1878,0.499344 v 1.597899 c 0,0.199737 -0.068,0.299606 -0.1878,0.499343 -0.1198,0.09987 -0.2815,0.09987 -0.4493,0.09987 z m -0.3233,-0.299606 c 0.0857,0.09987 0.202,0.199737 0.3233,0.199737 0.1212,0 0.2375,-0.09987 0.3232,-0.199737 0.0857,-0.09987 0.1339,-0.199738 0.1339,-0.299606 v -1.597899 c 0,-0.09987 -0.0482,-0.299606 -0.1339,-0.299606 -0.0857,-0.09987 -0.202,-0.199738 -0.3232,-0.199738 -0.1213,0 -0.2376,0.09987 -0.3233,0.199738 -0.0857,0 -0.1339,0.199737 -0.1339,0.299606 v 1.597899 c 0,0.09987 0.0482,0.199737 0.1339,0.299606 z" clip-rule="evenodd" fill-rule="evenodd" />
                                <path fill="#2f4050" d="m 32.436692,38.970343 c -0.1212,0 -0.2375,-0.09987 -0.3232,-0.199738 -0.0857,0 -0.1339,-0.09987 -0.1339,-0.299606 V 36.8731 c 0,-0.09987 0.0482,-0.199737 0.1339,-0.299606 0.0857,-0.09987 0.202,-0.09987 0.3232,-0.09987 0.1213,0 0.2376,0 0.3233,0.09987 0.0857,0.09987 0.1339,0.199738 0.1339,0.299606 v 1.597899 c 0,0.199738 -0.0482,0.299606 -0.1339,0.299606 -0.0857,0.09987 -0.202,0.199738 -0.3233,0.199738 z" />
                                <path fill="#2f4050" d="m 32.437092,39.17008 c -0.1679,0 -0.3296,-0.09987 -0.4494,-0.199737 -0.1198,-0.09987 -0.1878,-0.299606 -0.1878,-0.499344 V 36.8731 c 0,-0.199737 0.068,-0.299606 0.1878,-0.399474 0.1198,-0.199738 0.2815,-0.199738 0.4494,-0.199738 0.1678,0 0.3295,0 0.4493,0.199738 0.1198,0.09987 0.1878,0.199737 0.1878,0.399474 v 1.597899 c 0,0.199738 -0.068,0.399475 -0.1878,0.499344 -0.1198,0.09987 -0.2815,0.199737 -0.4493,0.199737 z m -0.3233,-0.399475 c 0.0857,0.09987 0.202,0.199738 0.3233,0.199738 0.1212,0 0.2375,-0.09987 0.3232,-0.199738 0.0857,0 0.1339,-0.09987 0.1339,-0.299606 V 36.8731 c 0,-0.09987 -0.0482,-0.199737 -0.1339,-0.299606 -0.0857,-0.09987 -0.202,-0.09987 -0.3232,-0.09987 -0.1213,0 -0.2376,0 -0.3233,0.09987 -0.0857,0.09987 -0.1339,0.199738 -0.1339,0.299606 v 1.597899 c 0,0.199738 0.0482,0.299606 0.1339,0.299606 z" clip-rule="evenodd" fill-rule="evenodd" />
                                <path fill="#2f4050" d="m 17.268804,23.6385 c -0.5477,0 -1.083,-0.1624 -1.5384,-0.4667 -0.4554,-0.3042 -0.8103,-0.7367 -1.0199,-1.2426 -0.2097,-0.506 -0.2645,-1.0628 -0.1577,-1.5999 0.1068,-0.5372 0.3705,-1.0306 0.7577,-1.4179 0.3872,-0.3873 0.8806,-0.6511 1.4177,-0.758 0.5371,-0.1069 1.0939,-0.0522 1.5999,0.1573 0.506,0.2095 0.9386,0.5644 1.2429,1.0197 0.3044,0.4553 0.4669,0.9906 0.467,1.5383 -8e-4,0.7342 -0.2928,1.4382 -0.8119,1.9574 -0.5192,0.5193 -1.223,0.8114 -1.9573,0.8124 z m 0,-4.34 c -0.3105,0 -0.6141,0.0921 -0.8723,0.2647 -0.2582,0.1725 -0.4595,0.4177 -0.5783,0.7046 -0.1189,0.2869 -0.15,0.6026 -0.0894,0.9072 0.0606,0.3046 0.2102,0.5844 0.4297,0.804 0.2196,0.2195 0.4994,0.3691 0.804,0.4297 0.3046,0.0606 0.6203,0.0295 0.9072,-0.0894 0.2869,-0.1188 0.5321,-0.3201 0.7046,-0.5783 0.1726,-0.2582 0.2647,-0.5618 0.2647,-0.8723 -5e-4,-0.4163 -0.1661,-0.8154 -0.4605,-1.1097 -0.2943,-0.2944 -0.6934,-0.46 -1.1097,-0.4605 z" />
                                <path fill="#2f4050" d="m 20.138404,20.8686 v 10e-5 c -8e-4,0.7607 -0.3034,1.4901 -0.8412,2.0281 -0.5379,0.5379 -1.2671,0.8406 -2.0279,0.8416 l -1e-4,-0.1 c 0.7342,-0.001 1.4381,-0.2931 1.9573,-0.8124 0.5191,-0.5192 0.8111,-1.2232 0.8119,-1.9574 -10e-5,-0.5477 -0.1626,-1.083 -0.467,-1.5383 -0.3043,-0.4553 -0.7369,-0.8102 -1.2429,-1.0197 -0.506,-0.2095 -1.0628,-0.2642 -1.5999,-0.1573 -0.5371,0.1069 -1.0305,0.3707 -1.4177,0.758 -0.3873,0.3873 -0.6509,0.8807 -0.7577,1.4179 -0.1068,0.5371 -0.052,1.0939 0.1577,1.5999 0.2096,0.5059 0.5645,0.9384 1.0199,1.2426 0.4554,0.3043 0.9907,0.4667 1.5384,0.4667 v 0.1 c -0.5675,0 -1.1222,-0.1683 -1.594,-0.4835 -0.4718,-0.3153 -0.8396,-0.7633 -1.0567,-1.2876 -0.2172,-0.5242 -0.2741,-1.1011 -0.1634,-1.6576 0.1106,-0.5566 0.3838,-1.0678 0.785,-1.4691 0.4013,-0.4013 0.9124,-0.6746 1.469,-0.7854 0.5565,-0.1108 1.1334,-0.054 1.6577,0.163 0.5242,0.2171 0.9724,0.5848 1.2877,1.0565 0.3154,0.4718 0.4838,1.0264 0.4839,1.5939 z m -2.8693,-1.4702 c -0.2907,10e-5 -0.5749,0.0863 -0.8167,0.2478 -0.2417,0.1616 -0.4302,0.3912 -0.5414,0.6598 -0.1113,0.2686 -0.1404,0.5642 -0.0837,0.8494 0.0567,0.2852 0.1967,0.5471 0.4023,0.7527 0.2056,0.2057 0.4676,0.3457 0.7528,0.4024 0.2852,0.0567 0.5808,0.0276 0.8494,-0.0837 0.2686,-0.1112 0.4982,-0.2997 0.6598,-0.5414 0.1615,-0.2418 0.2477,-0.526 0.2477,-0.8167 -4e-4,-0.3898 -0.1554,-0.7635 -0.4311,-1.0391 -0.2756,-0.2757 -0.6493,-0.4307 -1.0391,-0.4312 z m -0.8722,0.1647 c 0.2582,-0.1726 0.5617,-0.2647 0.8723,-0.2647 0.4163,5e-4 0.8154,0.1661 1.1097,0.4605 0.2944,0.2943 0.46,0.6934 0.4604,1.1097 0,0.3105 -0.092,0.6141 -0.2646,0.8723 -0.1725,0.2582 -0.4177,0.4595 -0.7046,0.5783 -0.2869,0.1189 -0.6026,0.15 -0.9072,0.0894 -0.3046,-0.0606 -0.5844,-0.2102 -0.804,-0.4297 -0.2196,-0.2196 -0.3691,-0.4994 -0.4297,-0.804 -0.0606,-0.3046 -0.0295,-0.6203 0.0894,-0.9072 0.1188,-0.2869 0.3201,-0.5321 0.5783,-0.7046 z" clip-rule="evenodd" fill-rule="evenodd" />
                                <path fill="#2f4050" d="m 25.268804,30.6385 c -0.5477,0 -1.083,-0.1624 -1.5384,-0.4667 -0.4554,-0.3042 -0.8103,-0.7367 -1.0199,-1.2426 -0.2097,-0.506 -0.2645,-1.0628 -0.1577,-1.5999 0.1068,-0.5372 0.3705,-1.0306 0.7577,-1.4179 0.3872,-0.3873 0.8806,-0.6511 1.4177,-0.758 0.5371,-0.1069 1.0939,-0.0522 1.5999,0.1573 0.506,0.2095 0.9386,0.5644 1.2429,1.0197 0.3044,0.4553 0.4669,0.9906 0.467,1.5383 -8e-4,0.7342 -0.2928,1.4382 -0.8119,1.9574 -0.5192,0.5193 -1.223,0.8114 -1.9573,0.8124 z m 0,-4.34 c -0.3105,0 -0.6141,0.0921 -0.8723,0.2647 -0.2582,0.1725 -0.4595,0.4177 -0.5783,0.7046 -0.1189,0.2869 -0.15,0.6026 -0.0894,0.9072 0.0606,0.3046 0.2102,0.5844 0.4297,0.804 0.2196,0.2195 0.4994,0.3691 0.804,0.4297 0.3046,0.0606 0.6203,0.0295 0.9072,-0.0894 0.2869,-0.1188 0.5321,-0.3201 0.7046,-0.5783 0.1726,-0.2582 0.2647,-0.5618 0.2647,-0.8723 -5e-4,-0.4163 -0.1661,-0.8154 -0.4605,-1.1097 -0.2943,-0.2944 -0.6934,-0.46 -1.1097,-0.4605 z" />
                                <path fill="#2f4050" d="m 28.138404,27.8686 v 10e-5 c -8e-4,0.7607 -0.3034,1.4901 -0.8412,2.0281 -0.5379,0.5379 -1.2671,0.8406 -2.0279,0.8416 l -1e-4,-0.1 c 0.7342,-0.001 1.4381,-0.2931 1.9573,-0.8124 0.5191,-0.5192 0.8111,-1.2232 0.8119,-1.9574 -10e-5,-0.5477 -0.1626,-1.083 -0.467,-1.5383 -0.3043,-0.4553 -0.7369,-0.8102 -1.2429,-1.0197 -0.506,-0.2095 -1.0628,-0.2642 -1.5999,-0.1573 -0.5371,0.1069 -1.0305,0.3707 -1.4177,0.758 -0.3873,0.3873 -0.6509,0.8807 -0.7577,1.4179 -0.1068,0.5371 -0.052,1.0939 0.1577,1.5999 0.2096,0.5059 0.5645,0.9384 1.0199,1.2426 0.4554,0.3043 0.9907,0.4667 1.5384,0.4667 v 0.1 c -0.5675,0 -1.1222,-0.1683 -1.594,-0.4835 -0.4718,-0.3153 -0.8396,-0.7633 -1.0567,-1.2876 -0.2172,-0.5242 -0.2741,-1.1011 -0.1634,-1.6576 0.1106,-0.5566 0.3838,-1.0678 0.785,-1.4691 0.4013,-0.4013 0.9124,-0.6746 1.469,-0.7854 0.5565,-0.1108 1.1334,-0.054 1.6577,0.163 0.5242,0.2171 0.9724,0.5848 1.2877,1.0565 0.3154,0.4718 0.4838,1.0264 0.4839,1.5939 z m -2.8693,-1.4702 c -0.2907,10e-5 -0.5749,0.0863 -0.8167,0.2478 -0.2417,0.1616 -0.4302,0.3912 -0.5414,0.6598 -0.1113,0.2686 -0.1404,0.5642 -0.0837,0.8494 0.0567,0.2852 0.1967,0.5471 0.4023,0.7527 0.2056,0.2057 0.4676,0.3457 0.7528,0.4024 0.2852,0.0567 0.5808,0.0276 0.8494,-0.0837 0.2686,-0.1112 0.4982,-0.2997 0.6598,-0.5414 0.1615,-0.2418 0.2477,-0.526 0.2477,-0.8167 -4e-4,-0.3898 -0.1554,-0.7635 -0.4311,-1.0391 -0.2756,-0.2757 -0.6493,-0.4307 -1.0391,-0.4312 z m -0.8722,0.1647 c 0.2582,-0.1726 0.5617,-0.2647 0.8723,-0.2647 0.4163,5e-4 0.8154,0.1661 1.1097,0.4605 0.2944,0.2943 0.46,0.6934 0.4604,1.1097 0,0.3105 -0.092,0.6141 -0.2646,0.8723 -0.1725,0.2582 -0.4177,0.4595 -0.7046,0.5783 -0.2869,0.1189 -0.6026,0.15 -0.9072,0.0894 -0.3046,-0.0606 -0.5844,-0.2102 -0.804,-0.4297 -0.2196,-0.2196 -0.3691,-0.4994 -0.4297,-0.804 -0.0606,-0.3046 -0.0295,-0.6203 0.0894,-0.9072 0.1188,-0.2869 0.3201,-0.5321 0.5783,-0.7046 z" clip-rule="evenodd" fill-rule="evenodd" />
                                <path fill="#2f4050" d="m 15.753604,29.96 c -0.1953,-0.1953 -0.1953,-0.5118 0,-0.7071 l 9.8994,-9.8995 c 0.1953,-0.1953 0.5119,-0.1953 0.7072,0 v 0 c 0.1952,0.1953 0.1952,0.5118 0,0.7071 l -9.8995,9.8995 c -0.1953,0.1953 -0.5119,0.1953 -0.7071,0 z" />
                                <path fill="#2f4050" d="m 15.646704,29.1468 9.8995,-9.8995 c 0.2539,-0.2538 0.6654,-0.2538 0.9193,0 0.2538,0.2539 0.2538,0.6654 0,0.9193 l -9.8995,9.8995 c -0.2539,0.2538 -0.6654,0.2538 -0.9193,0 -0.2538,-0.2539 -0.2538,-0.6654 0,-0.9193 z m 0.1061,0.1061 c -0.1953,0.1953 -0.1953,0.5118 0,0.7071 0.1953,0.1953 0.5118,0.1953 0.7071,0 l 9.8995,-9.8995 c 0.1953,-0.1953 0.1953,-0.5118 0,-0.7071 -0.1953,-0.1953 -0.5118,-0.1953 -0.7071,0 z" clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </div>
                        <div>
                            <div class="settings-list__item-name">
                                @T("Admin.Settings.Commonpage.Coupons")
                            </div>
                            <div class="settings-list__item-descr">
                                @T("Admin.Settings.Commonpage.CouponsAbout")
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="@Url.Action("Index", "SettingsSocial")" class="settings-list__item text-decoration-none">
                    <div class="flex middle-xs setting-block__column">
                        <div class="settings-list__item-icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                                <g fill="none" fill-rule="evenodd" stroke="#2F4050" stroke-width="1.3">
                                    <path d="M24 8C15.162 8 8 15.164 8 24s7.163 16 16 16c8.836 0 16-7.164 16-16 0-8.837-7.164-16-16-16z" />
                                    <path d="M20.974 24c0-.248-.044-.492-.13-.73l-.197-.55 5.429-2.612.326.357c.409.447.98.706 1.593.706a2.162 2.162 0 1 0-2.161-2.162c0 .101.01.209.03.336l.074.477-5.54 2.664-.314-.23a2.161 2.161 0 1 0-1.272 3.905c.462 0 .902-.147 1.27-.417l.315-.23 5.54 2.664-.074.477c-.02.129-.03.236-.03.336a2.162 2.162 0 1 0 2.162-2.16c-.614 0-1.184.258-1.593.705l-.326.357-5.429-2.612.197-.55c.086-.24.13-.483.13-.731z" />
                                </g>
                            </svg>
                        </div>
                        <div>
                            <div class="settings-list__item-name">
                                @T("Admin.Settings.Commonpage.Settingssocial")
                            </div>
                            <div class="settings-list__item-descr">
                                @T("Admin.Settings.Commonpage.SettingssocialAbout")
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="@Url.Action("Index", "SettingsCatalog")" class="settings-list__item text-decoration-none">
                    <div class="flex middle-xs setting-block__column">
                        <div class="settings-list__item-icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                                <g fill="none" fill-rule="evenodd" stroke="#2F4050" stroke-width="1.3" transform="translate(10 9)">
                                    <circle cx="4" cy="5" r="2.5"></circle>
                                    <circle cx="4" cy="15" r="2.5"></circle>
                                    <path d="M10 5h18M10 15h18M10 25h18"></path>
                                    <circle cx="4" cy="25" r="2.5"></circle>
                                </g>
                            </svg>

                        </div>
                        <div>
                            <div class="settings-list__item-name">
                                @T("Admin.Settings.Commonpage.Products")
                            </div>
                            <div class="settings-list__item-descr">
                                @T("Admin.Settings.Commonpage.ProductsAbout")
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="@Url.Action("ShippingMethods", "Settings")" class="settings-list__item text-decoration-none">
                    <div class="flex middle-xs setting-block__column">
                        <div class="settings-list__item-icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                                <g fill="none" fill-rule="evenodd" stroke="#2F4050" stroke-width="1.3">
                                    <path d="M37.768 11.028h-9.177a1.23 1.23 0 0 0-1.23 1.23v3.154a.41.41 0 0 1-.41.41h-5.905a.41.41 0 0 1-.41-.41v-3.155a1.23 1.23 0 0 0-1.229-1.229H10.23A1.23 1.23 0 0 0 9 12.258v24.204c0 .678.552 1.23 1.23 1.23h27.538a1.23 1.23 0 0 0 1.23-1.23V12.257a1.23 1.23 0 0 0-1.23-1.229z" />
                                    <path d="M26.215 26.555v6.512h-4.432v-6.512h-2.42L24 21.328l4.635 5.227h-2.42z" />
                                </g>
                            </svg>
                        </div>
                        <div>
                            <div class="settings-list__item-name">
                                @T("Admin.Settings.Commonpage.Shippingsmethods")
                            </div>
                            <div class="settings-list__item-descr">
                                @T("Admin.Settings.Commonpage.ShippingsmethodsAbout")
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="@Url.Action("Index", "SettingsTelephony")" class="settings-list__item text-decoration-none">
                    <div class="flex middle-xs setting-block__column">
                        <div class="settings-list__item-icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                                <g fill="none" fill-rule="nonzero" stroke="#2F4050" stroke-width="1.3">
                                    <path d="M32.606 6.006H15.854c-1.558.002-2.821 1.025-2.823 2.287v1.983h22.398V8.293c-.001-1.262-1.264-2.285-2.823-2.287zM13.03 39.563c.003 1.297 1.266 2.347 2.824 2.348h17.607c1.067 0 1.93-.723 1.968-1.649v-3.29H13.031v2.591zM13.03 34.092h22.4v-20.93h-22.4z" />
                                </g>
                            </svg>

                        </div>
                        <div>
                            <div class="settings-list__item-name">
                                @T("Admin.Settings.Commonpage.Telephony")
                            </div>
                            <div class="settings-list__item-descr">
                                @T("Admin.Settings.Commonpage.TelephonyAbout")
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="@Url.Action("Index", "SettingsCheckout")" class="settings-list__item text-decoration-none">
                    <div class="flex middle-xs setting-block__column">
                        <div class="settings-list__item-icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                                <g fill="none" fill-rule="evenodd">
                                    <path stroke="#2F4050" stroke-width="1.3" d="M35.657 10.865c-.017-.482-.432-.865-.938-.865H13.28c-.506 0-.92.383-.937.865L10 37.075a.873.873 0 0 0 .263.652.96.96 0 0 0 .674.273h26.123c.519 0 .939-.4.939-.895 0-.017-.781-8.764-2.343-26.24z" />
                                    <path fill="#2F4050" d="M24 22.53c-3.633 0-6.588-3.257-6.588-7.259 0-.54.397-.977.887-.977s.887.438.887.977c0 2.925 2.16 5.304 4.814 5.304s4.814-2.38 4.814-5.304c0-.54.397-.977.887-.977s.887.438.887.977c0 4.002-2.955 7.258-6.588 7.258z" />
                                </g>
                            </svg>

                        </div>
                        <div>
                            <div class="settings-list__item-name">
                                @T("Admin.Settings.Commonpage.SettingsCheckout")
                            </div>
                            <div class="settings-list__item-descr">
                                @T("Admin.Settings.Commonpage.SettingsCheckoutAbout")
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="@Url.Action("PaymentMethods", "Settings")" class="settings-list__item text-decoration-none">
                    <div class="flex middle-xs setting-block__column">
                        <div class="settings-list__item-icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                                <g fill="none" fill-rule="nonzero" stroke="#2F4050" stroke-width="1.3">
                                    <path d="M8 19v16c0 1.104.898 2 2 2h28a2 2 0 0 0 2-2V19H8z" />
                                    <path d="M38 11c1.104 0 2 1.123 2 2.5V16H8v-2.5c0-1.377.898-2.5 2-2.5h28zm-5 22c-.772 0-1.468-.3-2-.778A2.982 2.982 0 0 1 29 33a3.001 3.001 0 0 1 0-6c.772 0 1.468.3 2 .778A2.982 2.982 0 0 1 33 27a3.001 3.001 0 0 1 0 6z" />
                                </g>
                            </svg>

                        </div>
                        <div>
                            <div class="settings-list__item-name">
                                @T("Admin.Settings.Commonpage.Paymentmethods")
                            </div>
                            <div class="settings-list__item-descr">
                                @T("Admin.Settings.Commonpage.PaymentmethodsAbout")
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            @if (currentCustomer.HasRoleAction(RoleAction.Booking))
            {
                <div class="col-xs-4">
                    <a href="@Url.Action("Index", "SettingsBooking")" class="settings-list__item text-decoration-none">
                        <div class="flex middle-xs setting-block__column">
                            <div class="settings-list__item-icon-wrap">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                                    <g fill="none" fill-rule="evenodd">
                                        <path stroke="#2F4050" stroke-width="1.3" d="M11.386 39.934h25.228A4.39 4.39 0 0 0 41 35.548V15.597a4.39 4.39 0 0 0-4.386-4.386H34.98v2.891a2.971 2.971 0 0 1-2.968 2.969h-1.495a2.971 2.971 0 0 1-2.968-2.969v-2.898H20.45v2.891a2.971 2.971 0 0 1-2.968 2.969h-1.495a2.971 2.971 0 0 1-2.968-2.969v-2.891h-1.634A4.39 4.39 0 0 0 7 15.59v19.951a4.397 4.397 0 0 0 4.386 4.393zm-1.543-20.43h28.32V35.54c0 .855-.694 1.543-1.542 1.543H11.386a1.544 1.544 0 0 1-1.543-1.543V19.504zM17.483 9c.528 0 .96.431.96.96v4.135c0 .529-.432.96-.96.96h-1.495a.961.961 0 0 1-.959-.96V9.966c0-.528.431-.959.96-.959h1.494V9zm15.495.966v4.136c0 .529-.431.96-.96.96h-1.494a.961.961 0 0 1-.96-.96V9.966c0-.528.432-.959.96-.959h1.495a.952.952 0 0 1 .959.96z" />
                                    </g>
                                </svg>

                            </div>
                            <div>
                                <div class="settings-list__item-name">
                                    @T("Admin.Settings.Commonpage.Booking")
                                </div>
                                <div class="settings-list__item-descr">
                                    @T("Admin.Settings.Commonpage.BookingAbout")
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
            @if (currentCustomer.HasRoleAction(RoleAction.Crm))
            {
                <div class="col-xs-4">
                    <a href="@Url.Action("Index", "SettingsCrm")" class="settings-list__item text-decoration-none">
                        <div class="flex middle-xs setting-block__column">
                            <div class="settings-list__item-icon-wrap">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                                    <g fill="none" fill-rule="evenodd" stroke="#2F4050" stroke-width="1.3" transform="translate(8 8)">
                                        <rect width="32" height="26" x=".842" y="6" rx="1.714" />
                                        <path d="M10.263 6V1.714c0-.946.768-1.714 1.714-1.714h10.046c.946 0 1.714.768 1.714 1.714V6M13.632 16v3.286c0 .946.767 1.714 1.714 1.714h3.308c.947 0 1.714-.768 1.714-1.714V16M1.12 16.286h31.76" />
                                    </g>
                                </svg>
                            </div>
                            <div>
                                <div class="settings-list__item-name">
                                    @T("Admin.Settings.Commonpage.Leads")
                                </div>
                                <div class="settings-list__item-descr">
                                    @T("Admin.Settings.Commonpage.LeadsAbout")
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
            <div class="col-xs-4">
                <a href="@Url.Action("UsersSettings", "Settings")" class="settings-list__item link-decoration-none">
                    <div class="flex middle-xs setting-block__column">
                        <div class="settings-list__item-icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                                <path fill="none" fill-rule="nonzero" stroke="#2F4050" stroke-width="1.3" d="M24 8C15.164 8 8 15.163 8 24c0 8.836 7.164 15.999 16 15.999 8.837 0 16-7.163 16-16C40 15.163 32.837 8 24 8zm0 4.784a5.292 5.292 0 1 1 0 10.585 5.292 5.292 0 0 1 0-10.585zm-.004 23.032a11.742 11.742 0 0 1-7.646-2.82 2.255 2.255 0 0 1-.791-1.714c0-2.964 2.398-5.336 5.363-5.336h6.158a5.33 5.33 0 0 1 5.354 5.336 2.25 2.25 0 0 1-.79 1.713 11.738 11.738 0 0 1-7.648 2.82z" />
                            </svg>
                        </div>
                        <div class="settings-list__item-icon-wrap">
                            <div class="settings-list__item-name">
                                @T("Admin.Settings.Commonpage.Userssettings")
                            </div>
                            <div class="settings-list__item-descr">
                                @T("Admin.Settings.Commonpage.UserssettingsAbout")
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="@Url.Action("Index", "SettingsApi")" class="settings-list__item text-decoration-none">
                    <div class="flex middle-xs setting-block__column">
                        <div class="settings-list__item-icon-wrap">
                            @*<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                                    <g fill="none" fill-rule="evenodd">
                                        <path stroke="#2F4050" stroke-width="1.3" d="M9 35.81a2.22 2.22 0 0 0 2.217 2.216h25.566A2.22 2.22 0 0 0 39 35.81V17.475H9V35.81z" />
                                        <path fill="#2F4050" d="M27.448 24.57a.74.74 0 0 1 1.035-1.055l3.262 3.2a.739.739 0 0 1 0 1.055l-3.262 3.2a.74.74 0 0 1-1.035-1.054l2.724-2.673-2.724-2.673zm-5.978 8.091l2.827-11.12a.739.739 0 1 1 1.433.364l-2.827 11.12a.739.739 0 0 1-1.433-.364zm-5.695-5.945l3.262-3.2a.74.74 0 0 1 1.035 1.054l-2.724 2.673 2.724 2.673a.739.739 0 1 1-1.035 1.055l-3.262-3.2a.74.74 0 0 1 0-1.055z" />
                                        <path stroke="#2F4050" stroke-width="1.3" d="M36.783 9H11.217A2.22 2.22 0 0 0 9 11.217v3.78h30v-3.78A2.22 2.22 0 0 0 36.783 9z" />
                                    </g>
                                </svg>*@

                            <svg width="48" height="48" xmlns="http://www.w3.org/2000/svg">
                                <g fill-rule="evenodd" fill="none">
                                    <path d="m9,34.81a2.22,2.22 0 0 0 2.217,2.216l25.566,0a2.22,2.22 0 0 0 2.217,-2.216l0,-18.335l-30,0l0,18.335z" stroke-width="1.3" stroke="#2F4050" />
                                    <path d="m36.783,8l-25.566,0a2.22,2.22 0 0 0 -2.217,2.217l0,3.78l30,0l0,-3.78a2.22,2.22 0 0 0 -2.217,-2.217z" stroke-width="1.3" stroke="#2F4050" />
                                    <text font-weight="normal" stroke="#2F4050"
                                          transform="matrix(0.57,0,0,0.76,5.9,10.4)" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif"
                                          font-size="24" y="40" x="16" stroke-width="2" fill="white">↑ ↓</text>
                                </g>
                            </svg>
                        </div>
                        <div>
                            <div class="settings-list__item-name">
                                @T("Admin.Settings.Commonpage.SettingsAPI")
                            </div>
                            <div class="settings-list__item-descr">
                                @T("Admin.Settings.Commonpage.SettingsAPIAbout")
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="@Url.Action("Index", "SettingsCustomers")" class="settings-list__item text-decoration-none">
                    <div class="flex middle-xs setting-block__column">
                        <div class="settings-list__item-icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                                <g fill="none" fill-rule="nonzero" stroke="#2F4050" stroke-width="1.3">
                                    <path d="M23.826 23.205c2.009 0 3.749-.72 5.17-2.142 1.422-1.422 2.142-3.16 2.142-5.17s-.72-3.749-2.142-5.17C27.574 9.3 25.835 8.58 23.826 8.58c-2.01 0-3.749.721-5.17 2.143-1.422 1.421-2.143 3.16-2.143 5.17s.721 3.749 2.143 5.17c1.422 1.422 3.161 2.142 5.17 2.142zM36.937 32.425a18.854 18.854 0 0 0-.253-1.987 15.76 15.76 0 0 0-.484-1.996 9.907 9.907 0 0 0-.814-1.863 7.021 7.021 0 0 0-1.227-1.613 5.405 5.405 0 0 0-1.763-1.117 6.047 6.047 0 0 0-2.25-.411c-.319 0-.626.131-1.22.522-.366.24-.794.518-1.271.826-.409.262-.962.508-1.645.73a6.478 6.478 0 0 1-2.01.329c-.669 0-1.345-.11-2.012-.328-.683-.223-1.236-.468-1.643-.73-.473-.306-.901-.584-1.272-.828-.594-.39-.902-.521-1.22-.521-.81 0-1.567.138-2.25.41a5.4 5.4 0 0 0-1.763 1.118c-.463.447-.876.99-1.227 1.613a9.927 9.927 0 0 0-.814 1.863 15.798 15.798 0 0 0-.484 1.996c-.126.705-.21 1.373-.253 1.987A27.173 27.173 0 0 0 11 34.282c0 1.64.517 2.969 1.537 3.948 1.007.967 2.34 1.458 3.96 1.458h15.006c1.62 0 2.952-.49 3.96-1.458 1.02-.979 1.537-2.307 1.537-3.949 0-.633-.021-1.258-.063-1.856z" />
                                </g>
                            </svg>

                        </div>
                        <div>
                            <div class="settings-list__item-name">
                                @T("Admin.Settings.Commonpage.Customers")
                            </div>
                            <div class="settings-list__item-descr">
                                @T("Admin.Settings.Commonpage.CustomersAbout")
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            @if (currentCustomer.HasRoleAction(RoleAction.Tasks))
            {
                <div class="col-xs-4">
                    <a href="@Url.Action("Index", "SettingsTasks")" class="settings-list__item text-decoration-none">
                        <div class="flex middle-xs setting-block__column">
                            <div class="settings-list__item-icon-wrap">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                                    <g fill="none" fill-rule="evenodd" stroke="#2F4050" stroke-width="1.3">
                                        <rect width="32" height="32" x="8" y="8" rx="3.429" />
                                        <path d="M22 16h12M14 14h4v4h-4v-4zm0 8h4v4h-4v-4zm0 8h4v4h-4v-4zM22 24h12M22 32h12" />
                                    </g>
                                </svg>

                            </div>
                            <div>
                                <div class="settings-list__item-name">
                                    @T("Admin.Settings.Commonpage.Tasks")
                                </div>
                                <div class="settings-list__item-descr">
                                    @T("Admin.Settings.Commonpage.TasksAbout")
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
            <div class="col-xs-4">
                <a href="@Url.Action("Index", "SettingsMail")" class="settings-list__item text-decoration-none">
                    <div class="flex middle-xs setting-block__column">
                        <div class="settings-list__item-icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                                <path fill="none" fill-rule="nonzero" stroke="#2F4050" stroke-width="1.3" d="M38.225 16.749c.079 0 .775.026.775.94v16.403c0 1.07-.85 1.908-1.934 1.908H10.97C9.884 36 9 35.144 9 34.092V17.938c0-.896.692-.922.771-.922.315 0 .563.189.667.284l12.514 10.523c.252.218.578.335.921.335.343 0 .657-.115.908-.331L37.687 16.94a.9.9 0 0 1 .538-.191zm-28.036-3.267l-.02-.02c-.452-.452-.382-.83-.3-1.014a.788.788 0 0 1 .73-.448h26.838c.264 0 .495.148.59.377.17.417-.19.742-.363.898l-.016.014L24.906 23.96a1.69 1.69 0 0 1-1.033.371c-.588 0-.975-.311-1.092-.419L10.19 13.482z" />
                            </svg>
                        </div>
                        <div>
                            <div class="settings-list__item-name">
                                @T("Admin.Settings.Commonpage.Settingsmail")
                            </div>
                            <div class="settings-list__item-descr">
                                @T("Admin.Settings.Commonpage.SettingsmailAbout")
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            @if (storeEnabled)
            {
                <div class="col-xs-4">
                    <a href="@Url.Action("Index", "SettingsTemplate")" class="settings-list__item text-decoration-none">
                        <div class="flex middle-xs setting-block__column">
                            <div class="settings-list__item-icon-wrap">
                                <svg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'>
                                    <style type="text/css">
                                        .st0 {
                                            fill: #2F4050;
                                        }
                                    </style>
                                    <g>
                                        <path class="st0" d="M18.8,33.8c-2,0-3.7,1.6-3.7,3.7c0,2,1.6,3.7,3.7,3.7c2,0,3.7-1.6,3.7-3.7C22.5,35.5,20.8,33.9,18.8,33.8 L18.8,33.8z M18.8,39.8c-1.2,0-2.2-1-2.2-2.2c0-1.2,1-2.2,2.2-2.2c1.2,0,2.2,1,2.2,2.2C21,38.8,20,39.8,18.8,39.8L18.8,39.8z M18.8,39.8" />
                                        <path class="st0" d="M34.3,33.8c-2,0-3.7,1.6-3.7,3.7c0,2,1.6,3.7,3.7,3.7c2,0,3.7-1.6,3.7-3.7C38,35.5,36.3,33.9,34.3,33.8 L34.3,33.8z M34.3,39.8c-1.2,0-2.2-1-2.2-2.2c0-1.2,1-2.2,2.2-2.2c1.2,0,2.2,1,2.2,2.2C36.5,38.8,35.5,39.8,34.3,39.8L34.3,39.8z M34.3,39.8" />
                                        <path class="st0" d="M39.3,13.6H14.8l-0.5-3.2c-0.4-2.1-2.2-3.6-4.3-3.6H8.7C8.3,6.8,8,7.1,8,7.5c0,0.4,0.3,0.7,0.7,0.7H10 c1.4,0,2.6,1,2.9,2.4l2.9,17.1c0.4,2.1,2.2,3.6,4.3,3.6h16.5c0.4,0,0.7-0.3,0.7-0.7c0-0.4-0.3-0.7-0.7-0.7H20 c-1.4,0-2.6-1-2.9-2.4l-0.2-1.4h16.2c1.9,0,3.6-1.2,4.1-3l2.7-8.6c0.1-0.2,0-0.5-0.1-0.6C39.7,13.7,39.5,13.6,39.3,13.6L39.3,13.6 z M35.9,22.6c-0.4,1.2-1.5,2-2.8,2H16.7L15,15h23.3L35.9,22.6z M35.9,22.6" />
                                    </g>
                                </svg>
                            </div>
                            <div>
                                <div class="settings-list__item-name">
                                    @T("Admin.Settings.Commonpage.SettingsTemplate")
                                </div>
                                <div class="settings-list__item-descr">
                                    @T("Admin.Settings.Commonpage.SettingsTemplateAbout")
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
            <div class="col-xs-4">
                <a href="@Url.Action("Index", "SettingsSeo")" class="settings-list__item text-decoration-none">
                    <div class="flex middle-xs setting-block__column">
                        <div class="settings-list__item-icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                                <g fill="none" fill-rule="evenodd">
                                    <path stroke="#2F4050" stroke-width="1.3" d="M9 35.81a2.22 2.22 0 0 0 2.217 2.216h25.566A2.22 2.22 0 0 0 39 35.81V17.475H9V35.81z" />
                                    <path fill="#2F4050" d="M27.448 24.57a.74.74 0 0 1 1.035-1.055l3.262 3.2a.739.739 0 0 1 0 1.055l-3.262 3.2a.74.74 0 0 1-1.035-1.054l2.724-2.673-2.724-2.673zm-5.978 8.091l2.827-11.12a.739.739 0 1 1 1.433.364l-2.827 11.12a.739.739 0 0 1-1.433-.364zm-5.695-5.945l3.262-3.2a.74.74 0 0 1 1.035 1.054l-2.724 2.673 2.724 2.673a.739.739 0 1 1-1.035 1.055l-3.262-3.2a.74.74 0 0 1 0-1.055z" />
                                    <path stroke="#2F4050" stroke-width="1.3" d="M36.783 9H11.217A2.22 2.22 0 0 0 9 11.217v3.78h30v-3.78A2.22 2.22 0 0 0 36.783 9z" />
                                </g>
                            </svg>
                        </div>
                        <div>
                            <div class="settings-list__item-name">
                                @T("Admin.Settings.Commonpage.Seo")
                            </div>
                            <div class="settings-list__item-descr">
                                @T("Admin.Settings.Commonpage.SeoAbout")
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="@Url.Action("Index", "SettingsTemplatesDocx")" class="settings-list__item text-decoration-none">
                    <div class="flex middle-xs setting-block__column">
                        <div class="settings-list__item-icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M-1002-529H364v910h-1366z" />
                                    <g fill-rule="nonzero" stroke="#2F4050" stroke-width="1.3">
                                        <path d="M41 13.984H23.004v-.996A2.992 2.992 0 0 0 20.016 10H7v27.552h34V13.984zM7 17.5h34" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div>
                            <div class="settings-list__item-name">
                                @T("Admin.Settings.Commonpage.Templatesdocx")
                            </div>
                            <div class="settings-list__item-descr">
                                @T("Admin.Settings.Commonpage.TemplatesdocxAbout")
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            @if (DomainService.IsAvalable())
            {
                <div class="col-xs-4">
                    <a href="@Url.Action("DomainsManage", "Service")" class="settings-list__item text-decoration-none">
                        <div class="flex middle-xs setting-block__column">
                            <div class="settings-list__item-icon-wrap">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                                    <path fill="#677077" d="M23.42,41.48v0.01h1.17v-0.01C34.02,41.17,41.5,33.44,41.5,24c-0.01-9.43-7.49-17.16-16.91-17.48V6.5h-1.17
			                                v0.01C13.99,6.83,6.5,14.56,6.5,24C6.5,33.44,13.99,41.17,23.42,41.48L23.42,41.48z M11.04,33.91h4.62
			                                c0.68,2.15,1.89,4.11,3.51,5.69C15.94,38.59,13.1,36.61,11.04,33.91L11.04,33.91z M40.32,23.42h-6.41
			                                c-0.03-2.76-0.43-5.51-1.19-8.16h5.06C39.34,17.7,40.22,20.52,40.32,23.42L40.32,23.42z M23.42,33.91v6.38
			                                c-2.96-0.3-5.14-2.84-6.5-6.38H23.42z M16.51,32.75c-0.8-2.65-1.22-5.4-1.25-8.16h8.16v8.16H16.51z M24.59,40.3v-6.39h6.51
			                                c-0.19,0.51-0.4,1-0.62,1.46C29.44,37.5,27.58,40.01,24.59,40.3L24.59,40.3z M24.59,32.75v-8.16h8.15
			                                c-0.02,2.77-0.43,5.52-1.23,8.16H24.59z M33.91,24.58h6.41c-0.1,2.9-0.97,5.72-2.52,8.16h-5.07
			                                C33.48,30.09,33.88,27.35,33.91,24.58L33.91,24.58z M32.75,23.42h-8.16v-8.16h6.91C32.29,17.9,32.72,20.65,32.75,23.42
			                                L32.75,23.42z M24.59,14.09V7.7c2.96,0.3,5.14,2.84,6.5,6.38H24.59z M23.42,7.7v6.38h-6.5C18.28,10.54,20.46,8,23.42,7.7
			                                L23.42,7.7z M23.42,15.25v8.16h-8.16c0.03-2.77,0.45-5.52,1.25-8.16H23.42z M14.1,23.42H7.69c0.1-2.9,0.98-5.72,2.54-8.16h5.06
			                                C14.52,17.91,14.13,20.65,14.1,23.42L14.1,23.42z M14.09,24.58c0.03,2.76,0.43,5.51,1.19,8.16h-5.06
			                                c-1.56-2.45-2.44-5.27-2.54-8.16H14.09z M35.83,35.26c-1.92,2.03-4.34,3.53-7.01,4.35c1.63-1.58,2.84-3.54,3.52-5.7h4.63
			                                C36.62,34.38,36.24,34.83,35.83,35.26L35.83,35.26z M36.97,14.09h-4.62c-0.68-2.15-1.89-4.11-3.51-5.68
			                                C32.07,9.41,34.91,11.4,36.97,14.09L36.97,14.09z M19.19,8.4c-1.13,1.05-2.05,2.32-2.71,3.72c-0.31,0.64-0.58,1.3-0.82,1.97h-4.62
			                                C13.1,11.39,15.95,9.4,19.19,8.4L19.19,8.4z M19.19,8.4" />

                                    <path fill="#ffffff" d="M43,30H5c-1.1,0-2-0.9-2-2v-8c0-1.1,0.9-2,2-2h38c1.1,0,2,0.9,2,2v8C45,29.1,44.1,30,43,30z" />
                                    <path fill="#677077" d="M43,30.5H5c-1.38,0-2.5-1.12-2.5-2.5v-8c0-1.38,1.12-2.5,2.5-2.5h38c1.38,0,2.5,1.12,2.5,2.5v8
			                                C45.5,29.38,44.38,30.5,43,30.5z M5,18.5c-0.83,0-1.5,0.67-1.5,1.5v8c0,0.83,0.67,1.5,1.5,1.5h38c0.83,0,1.5-0.67,1.5-1.5v-8
			                                c0-0.83-0.67-1.5-1.5-1.5H5z" />

                                    <path fill="#677077" d="M15.76,27.76c-0.15-0.15-0.23-0.33-0.23-0.56c0-0.22,0.07-0.4,0.23-0.55s0.33-0.22,0.54-0.22
			                                c0.21,0,0.39,0.07,0.53,0.21c0.14,0.14,0.22,0.33,0.22,0.55c0,0.23-0.07,0.41-0.22,0.56c-0.15,0.15-0.32,0.22-0.52,0.22
			                                C16.09,27.98,15.91,27.9,15.76,27.76z" />

                                    <path fill="#677077" d="M23.49,27.91l-1.71-2.43c-0.21,0.01-0.38,0.02-0.5,0.02h-1.95v2.41H18.2V20h3.09c1.02,0,1.83,0.24,2.42,0.73
			                                c0.59,0.49,0.88,1.16,0.88,2.02c0,0.61-0.15,1.13-0.45,1.56c-0.3,0.43-0.73,0.74-1.29,0.94l1.88,2.66H23.49z M22.89,24.08
			                                c0.38-0.31,0.57-0.75,0.57-1.32c0-0.57-0.19-1.01-0.57-1.32c-0.38-0.31-0.92-0.46-1.64-0.46h-1.92v3.56h1.92
			                                C21.96,24.54,22.51,24.39,22.89,24.08z" />

                                    <path fill="#677077" d="M26.66,27.1c-0.59-0.6-0.88-1.47-0.88-2.6V20h1.13v4.45c0,1.7,0.74,2.54,2.23,2.54
			                                c0.72,0,1.28-0.21,1.66-0.63c0.38-0.42,0.58-1.06,0.58-1.91V20h1.1v4.5c0,1.14-0.29,2.01-0.88,2.6C31,27.7,30.18,28,29.12,28
			                                C28.07,28,27.25,27.7,26.66,27.1z" />
                                </svg>
                            </div>
                            <div>
                                <div class="settings-list__item-name">
                                    @T("Admin.Settings.Commonpage.DomainsManager")
                                </div>
                                <div class="settings-list__item-descr">
                                    Управление доменами сайта
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }

            <div class="col-xs-4">
                <a href="@Url.Action("Index", "Files")" class="settings-list__item text-decoration-none">
                    <div class="flex middle-xs setting-block__column">
                        <div class="settings-list__item-icon-wrap">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48" height="48">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M35.44 15.19C35.44 16.1 35.44 23.36 35.44 24.27C35.08 24.02 34.7 23.79 34.31 23.59C33.05 22.95 31.63 22.58 30.12 22.58C25.04 22.58 20.92 26.71 20.92 31.79C20.92 32.6 21.02 33.38 21.22 34.13C21.32 34.52 21.44 34.9 21.59 35.27C20.85 35.27 14.89 35.27 14.14 35.27C13.92 35.27 13.73 35.08 13.73 34.86C13.73 32.23 13.73 11.26 13.73 8.64C13.73 8.42 13.92 8.23 14.14 8.23C15.53 8.23 26.67 8.23 28.07 8.23C28.19 8.23 28.33 8.25 28.48 8.28C28.48 8.7 28.48 12.11 28.48 12.53C28.48 13.77 29.49 14.78 30.73 14.78C31.04 14.78 32.59 14.78 35.38 14.78C35.42 14.98 35.44 15.11 35.44 15.19ZM36.62 14.69C36.56 14.34 36.43 13.96 36.27 13.61C36.06 13.15 35.78 12.72 35.47 12.43C35.02 12 31.35 8.55 30.9 8.12C30.55 7.79 30.02 7.5 29.47 7.29C29.17 7.18 28.86 7.09 28.57 7.04C28.4 7.02 28.23 7 28.07 7C26.67 7 15.53 7 14.14 7C13.24 7 12.5 7.74 12.5 8.64C12.5 8.83 12.5 9.79 12.5 11.51C10.78 11.51 9.83 11.51 9.64 11.51C8.74 11.51 8 12.24 8 13.14C8 15.77 8 36.74 8 39.36C8 40.26 8.74 41 9.64 41C11.73 41 28.44 41 30.52 41C30.62 41 30.72 40.99 30.81 40.97C35.57 40.62 39.33 36.65 39.33 31.79C39.33 29.27 38.31 26.98 36.67 25.32C36.67 24.64 36.67 21.27 36.67 15.19C36.66 14.97 36.64 14.8 36.62 14.69ZM29.7 12.53C29.7 12.15 29.7 9.14 29.7 8.76C29.84 8.84 29.96 8.93 30.06 9.02C30.51 9.45 34.17 12.9 34.63 13.33C34.7 13.39 34.76 13.47 34.83 13.55C34.42 13.55 31.14 13.55 30.73 13.55C30.45 13.55 30.19 13.44 30.01 13.25C29.82 13.06 29.7 12.81 29.7 12.53ZM27.96 39.87C26.84 39.22 26.22 38.86 26.09 38.79C24.89 38.1 23.89 37.1 23.18 35.91C23.16 35.88 23.06 35.71 22.87 35.4C22.73 35.06 22.66 34.87 22.64 34.84C22.26 33.9 22.05 32.87 22.05 31.79C22.05 27.33 25.66 23.72 30.12 23.72C31.86 23.72 33.47 24.26 34.78 25.2C34.83 25.23 35.08 25.41 35.53 25.73L35.53 25.78C35.73 25.98 35.84 26.09 35.86 26.11C37.31 27.57 38.2 29.58 38.2 31.79C38.2 36.05 34.9 39.54 30.73 39.84C30.72 39.84 30.7 39.85 30.67 39.85C30.64 39.85 30.62 39.86 30.61 39.86C30.58 39.86 30.56 39.87 30.52 39.87C30.18 39.87 29.33 39.87 27.96 39.87ZM23.97 38.64C23.28 38.02 22.68 37.29 22.21 36.49C21.4 36.49 14.95 36.49 14.14 36.49C13.24 36.49 12.5 35.76 12.5 34.86C12.5 33.38 12.5 26.01 12.5 12.73C10.78 12.73 9.83 12.73 9.64 12.73C9.42 12.73 9.23 12.92 9.23 13.14C9.23 15.77 9.23 36.74 9.23 39.36C9.23 39.58 9.42 39.77 9.64 39.77C10.7 39.77 15.99 39.77 25.52 39.77C24.8 39.3 24.28 38.92 23.97 38.64ZM27.47 32.63C27.28 32.85 26.96 32.87 26.75 32.66C26.53 32.46 26.53 32.1 26.72 31.88C27.03 31.54 29.45 28.77 29.75 28.43C29.85 28.32 29.98 28.25 30.13 28.25C30.27 28.25 30.41 28.32 30.5 28.43C30.81 28.77 33.22 31.54 33.53 31.88C33.72 32.1 33.71 32.45 33.5 32.66C33.4 32.76 33.27 32.81 33.14 32.81C33.01 32.81 32.86 32.75 32.76 32.63C32.62 32.47 31.9 31.66 30.62 30.2C30.62 32.95 30.62 34.48 30.62 34.78C30.62 35.09 30.39 35.33 30.1 35.33C29.82 35.33 29.59 35.09 29.59 34.78C29.59 34.48 29.59 32.95 29.59 30.2C28.31 31.66 27.61 32.47 27.47 32.63Z" fill="#2f4050" />
                            </svg>
                        </div>
                        <div>
                            <div class="settings-list__item-name">
                                @T("Admin.Settings.Files")
                            </div>
                            <div class="settings-list__item-descr">
                                @T("Admin.Settings.FilesAbout")
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-4">
                <a href="@Url.Action("Index", "SettingsSystem")" class="settings-list__item text-decoration-none">
                    <div class="flex middle-xs setting-block__column">
                        <div class="settings-list__item-icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                                <path fill="none" fill-rule="nonzero" stroke="#2F4050" stroke-width="1.3" d="M39.767 21.22a.896.896 0 0 0-1.1-.713 2.721 2.721 0 0 1-1.64-.093 2.729 2.729 0 0 1-1.566-3.52c.204-.53.572-.98 1.063-1.3a.892.892 0 0 0 .226-1.29 15.852 15.852 0 0 0-3.494-3.377.899.899 0 0 0-1.282.267c-.288.477-.71.848-1.22 1.074a2.7 2.7 0 0 1-1.104.237 2.728 2.728 0 0 1-2.49-1.618 2.706 2.706 0 0 1-.175-1.663.894.894 0 0 0-.752-1.07 15.883 15.883 0 0 0-4.854.071.895.895 0 0 0-.719 1.095 2.7 2.7 0 0 1-.1 1.623 2.74 2.74 0 0 1-2.543 1.749 2.7 2.7 0 0 1-2.277-1.248.898.898 0 0 0-1.288-.23 15.816 15.816 0 0 0-3.395 3.49.894.894 0 0 0 .27 1.285c.483.29.859.713 1.087 1.226.296.665.316 1.406.055 2.084a2.706 2.706 0 0 1-1.436 1.512 2.73 2.73 0 0 1-1.696.167.898.898 0 0 0-1.08.747 15.827 15.827 0 0 0 .061 4.882.896.896 0 0 0 1.11.716 2.708 2.708 0 0 1 3.173 1.52c.296.665.315 1.405.054 2.085-.21.543-.591 1-1.105 1.321a.897.897 0 0 0-.243 1.297 15.787 15.787 0 0 0 3.515 3.416.896.896 0 0 0 1.291-.282 2.706 2.706 0 0 1 2.353-1.362c1.076 0 2.054.634 2.49 1.617.243.544.298 1.14.162 1.727a.896.896 0 0 0 .746 1.09 15.823 15.823 0 0 0 4.901-.08.896.896 0 0 0 .711-1.114 2.692 2.692 0 0 1 .08-1.679 2.744 2.744 0 0 1 2.545-1.748 2.699 2.699 0 0 1 2.295 1.286.892.892 0 0 0 1.298.239 15.803 15.803 0 0 0 3.4-3.521.899.899 0 0 0-.28-1.287 2.688 2.688 0 0 1-1.112-1.24 2.728 2.728 0 0 1 1.381-3.595 2.713 2.713 0 0 1 1.694-.167.9.9 0 0 0 .704-.14.89.89 0 0 0 .375-.612c.221-1.627.191-3.266-.09-4.874zm-13.17 8.525a6.292 6.292 0 0 1-2.574.548 6.35 6.35 0 0 1-5.796-3.764 6.348 6.348 0 0 1 5.79-8.918 6.35 6.35 0 0 1 5.796 3.764 6.348 6.348 0 0 1-3.216 8.37z" />
                            </svg>

                        </div>
                        <div>
                            <div class="settings-list__item-name">
                                @T("Admin.Settings.Commonpage.Systemsettings")
                            </div>
                            <div class="settings-list__item-descr">
                                @T("Admin.Settings.Commonpage.SystemsettingsAbout")
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>