@model AdvantShop.ViewModel.Checkout.BuyInOneClickSuccess
@{
    if (Model.IsEmptyLayout)
    {
        Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
    }
}


<div class="site-body-cell mobile-content-padding @(Model.IsEmptyLayout ? "checkout-success--layout-empty" : "checkout-success--layout-default")">
    <div class="checkout-success-content">
        <div class="page-title-row checkout-success-title-row">
            <div class="checkout-success-title page-title">
                <h1>@T("Checkout.BuyInOneClickSuccess.Success")</h1>
            </div>
        </div>
        <div class="checkout-success-content">
            <div class="checkout-success-content-top vertical-interval-big">
                @T("Checkout.BuyInOneClickFinalText")
            </div>
            <div class="checkout-success-content-top vertical-interval-big">
                @Html.Action("ThankYouPage", new {area = "", leadId = Model.Lead.Id})
            </div>
            @Html.StaticBlock("buyinoneclick_lead_success")
        </div>
    </div>
</div>