@using AdvantShop.Customers
@{
    var customer = CustomerContext.CurrentCustomer;

    bool checkFilledZone = false;

    List<string> checkFilledZonengSwitch = new List<string>();

    if (!SettingsDesign.DisplayCityInTopPanel && (!customer.RegistredUser || !customer.Contacts.Any()))
    {
        if (SettingsCheckout.IsShowCountry && SettingsCheckout.IsRequiredCountry)
        {
            checkFilledZonengSwitch.Add("checkout.contact.Country != null && checkout.contact.Country.length > 0");
        }

        if (SettingsCheckout.IsShowState && SettingsCheckout.IsRequiredState)
        {
            checkFilledZonengSwitch.Add("checkout.contact.Region != null && checkout.contact.Region.length > 0");
        }

        if (SettingsCheckout.IsShowCity && SettingsCheckout.IsRequiredCity)
        {
            checkFilledZonengSwitch.Add("checkout.contact.City != null && checkout.contact.City.length > 0");
        }

        if (SettingsCheckout.IsShowDistrict && SettingsCheckout.IsRequiredDistrict)
        {
            checkFilledZonengSwitch.Add("checkout.contact.District != null && checkout.contact.District.length > 0");
        }

        if (SettingsCheckout.IsShowZip && SettingsCheckout.ZipDisplayPlace && SettingsCheckout.IsRequiredZip)
        {
            checkFilledZonengSwitch.Add("checkout.contact.Zip != null && checkout.contact.Zip.length > 0");
        }

        checkFilledZone = checkFilledZonengSwitch.Any();
    }
}
<article class="checkout-block">
    <div class="checkout-block-title h-inline h2">
        @T("Checkout.CheckoutShipping.ShippingMethods")
    </div>
    @if (SettingsDesign.DisplayCityInTopPanel && (!customer.RegistredUser || !Model.CheckoutData.ShowContacts()))
    {
        <a class="link-dotted-invert checkout-shipping__zone" href="" data-zone-dialog-trigger>
            <span data-zone-current data-ng-bind-template="{{zone.CountryName }}{{zone.Region != null && zone.Region.length ? ', ' +  zone.Region: ''}}{{zone.District != null && zone.District.length ? ', ' +  zone.District: ''}}{{zone.City != null && zone.City.length ?', ' +  zone.City : ''}}"></span>
        </a>
    }

        <div class="checkout-block-content">

            <div class="checkout-block-content-inner" data-ng-switch="@Html.Raw(checkFilledZone ? checkFilledZonengSwitch.AggregateString("&&") : "true")">

                <div data-ng-switch-when="false">
                    @T("Checkout.CheckoutShipping.RequiredAddress")
                </div>

                <div data-ng-switch-when="true">
                    <div data-shipping-list
                         data-anchor="checkoutshippings"
                         data-items="checkout.Shipping.option"
                         data-select-shipping="checkout.ngSelectShipping"
                         data-count-visible-items="::7"
                         data-change="checkout.changeShipping(shipping)"
                         data-is-progress="checkout.shippingLoading"
                         data-contact="checkout.contact"
                         data-is-can-add-custom="false"
                         data-icon-height="@(SettingsPictureSize.ShippingIconHeight)px"
                         data-icon-width="@(SettingsPictureSize.ShippingIconWidth)px"></div>
                </div>
            </div>
        </div>
</article>