@using AdvantShop.Core.Services.Admin
@model AdvantShop.Web.Admin.ViewModels.Analytics.ExportCustomersModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    if (AdminAreaTemplate.Current != null)
    {
        Layout = "~/Areas/Admin/Templates/" + AdminAreaTemplate.Current + "/Views/Shared/_Layout.cshtml";
    }
}

<div class="wrapper">

        <div class="sticky-page-name" sticky sticky-top="0">
            <div class="page-name-block m-b-md sticky-page-name-inner top-xs">
                <div class="page-name-block-item-main">
                    <h1 class="page-name-block-text sticky-page-name-text m-b-xs">
                        @T("Admin.Analytics.UnloadingCustomers")
                    </h1>
                    @T("Admin.Analytics.UnloadingDataByCustomers")
                </div>
                <div class="page-name-block-item-additional">

                </div>
            </div>
        </div>
        <div class="ibox" ng-if="!analytics.isStartExport">
            <div class="ibox-content">
                <div class="form-group row">
                    <div class="col-xs-3 col-wl-2">
                        <div class="setting-label-wrap">
                            @T("Admin.Analytics.GroupOfCustomers")
                        </div>
                    </div>
                    <div class="col-xs-3 col-wl-2">
                        @Html.DropDownList("ddlGroups", new SelectList(Model.Groups, "Key", "Value", Model.Group), new { @class = "form-control", ng_init = "analytics.exportCustomersSettings.Group='" + Model.Group + "'", ng_model = "analytics.exportCustomersSettings.Group" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-3 col-wl-2">
                        <div class="setting-label-wrap">
                            @T("Admin.Analytics.TimeInterval")
                        </div>
                    </div>
                    <div class="col-xs-3 col-wl-2">
                        <div class="form-horizontal">
                            <div class="m-b-md row">
                                <label class="control-label col-sm-1 ui-grid-filter-text" for="gridFilterDateFrom">
                                    @T("Admin.Account.CustomersFrom")
                                </label>
                                <div class="col-xs-11">
                                    <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y H:i', startDateFormat: 'Y-m-dTH:i', wrap: true, enableTime: true}">
                                        <span class="flatpickr-custom-wrap">
                                            <input data-e2e="datetimeFilterFrom" type="text" class="form-control" ng-flatpickr-input ng-model="analytics.exportCustomersSettings.DateFrom">
                                            <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                                        </span>
                                        <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="m-b-md row">
                                <label class="control-label col-sm-1 ui-grid-filter-text" for="gridFilterDateTo">
                                    @T("Admin.Account.CustomersTo")
                                </label>
                                <div class="col-xs-11">
                                    <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y H:i', startDateFormat: 'Y-m-dTH:i', wrap: true, enableTime: true}">
                                        <span class="flatpickr-custom-wrap">
                                            <input data-e2e="datetimeFilterTo" type="text" class="form-control" ng-flatpickr-input ng-model="analytics.exportCustomersSettings.DateTo">
                                            <span class="flatpickr-custom-clear" data-close data-clear><i class="fas fa-times"></i></span>
                                        </span>
                                        <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-3 col-wl-2">
                        <div class="setting-label-wrap">
                            @T("Admin.Analytics.ColumnSeparator")
                        </div>
                    </div>
                    <div class="col-xs-3 col-wl-2">
                        @Html.DropDownList("ddlColumnSeparator", new SelectList(Model.Separators, "Key", "Value", Model.ColumnSeparator), new { @class = "form-control", ng_init = "analytics.exportCustomersSettings.ColumnSeparator='" + Model.ColumnSeparator + "'", ng_model = "analytics.exportCustomersSettings.ColumnSeparator" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-3 col-wl-2">
                        <div class="setting-label-wrap">
                            @T("Admin.Analytics.AdressSeparator")
                        </div>
                    </div>
                    <div class="col-xs-3 col-wl-2">
                        @Html.TextBox("txtPropertySeparator", Model.PropertySeparator, new { @class = "form-control", ng_init = "analytics.exportCustomersSettings.PropertySeparator='" + Model.PropertySeparator + "'", ng_model = "analytics.exportCustomersSettings.PropertySeparator" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-3 col-wl-2">
                        <div class="setting-label-wrap">
                            @T("Admin.Analytics.FilesEncoding")
                        </div>
                    </div>
                    <div class="col-xs-3 col-wl-2">
                        @Html.DropDownList("ddlEncodings", new SelectList(Model.Encodings, "Key", "Value", Model.Encoding), new { @class = "form-control", ng_init = "analytics.exportCustomersSettings.Encoding='" + Model.Encoding + "'", ng_model = "analytics.exportCustomersSettings.Encoding" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-offset-3 col-wl-offset-2">
                        <button class="btn btn-sm btn-success" data-e2e="Export" type="button" ng-click="analytics.exportCustomers()">
                            @T("Admin.ExportFeeed.ChoiceOfProducts.Export")
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <div class="ibox" ng-init="analytics.initProgress()" ng-if="analytics.isStartExport">
        <div class="ibox-content">
            <div class="row">
                <div class="col-xs-12">
                    <uib-progressbar max="analytics.progressTotal" value="analytics.progressValue"><span style="color:white; white-space:nowrap;"><span ng-bind="analytics.progressValue"></span> / <span ng-bind="analytics.progressTotal"></span></span></uib-progressbar>
                </div>
            </div>

            <div class="container-fluid">
                <div class="form-group row">
                    <div class="col-sm-2">
                        <div class="setting-label-wrap">
                            @T("Admin.Analytics.CurrentProcess")
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="adv-checkbox-label">
                            <a class="link-decoration-none" ng-href="{{analytics.progressCurrentProcess}}" ng-bind="analytics.progressCurrentProcessName"></a>
                        </label>
                    </div>
                </div>
            </div>
            <div class="container-fluid" ng-if="!analytics.IsRun">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <div class="setting-label-wrap">
                            @T("Admin.Analytics.DataExportedSuccessfully")
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid" ng-if="!analytics.IsRun">
                <div class="form-group row">
                    <div class="col-xs-12">
                        <a ng-href="{{analytics.FileName}}" class="btn btn-sm btn-default" download>@T("Admin.Analytics.DownloadFile")</a>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="form-group row">
                    <div class="col-xs-12">
                        <a class="link-decoration-none" href="" ng-click="analytics.isStartExport = false">@T("Admin.Analytics.ReturnToExport")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
