@using AdvantShop.Saas
@using AdvantShop.Trial
@{
    var action = Request.RequestContext.RouteData.Values["action"].ToString().ToLower();
    var controller = Request.RequestContext.RouteData.Values["controller"].ToString().ToLower();
    var currentsaasData = SaasDataService.CurrentSaasData;
    var enabledSaas = SaasDataService.IsSaasEnabled;
    var storeActive = SettingsMain.StoreActive;
    var crmActive = AdvantShop.Core.Services.Configuration.Settings.SettingsCrm.CrmActive;
    var taskActive = SettingsTasks.TasksActive;
    var bonusActive = SettingsMain.BonusAppActive;
    var bookingActive = SettingsMain.BookingActive;
    var partnersActive = SettingsMain.PartnersActive;
}

<div class="settings-wrap">
    <div class="header-alt settings-title sticky-page-name-text sticky-page-name">
        <span class="original-header-page">@T("Admin.Settings.Header")</span>
    </div>
    <div class="aside-menu">
        <a class="aside-menu-row settigs-menu-row link-invert link-decoration-none @(action == "index" && controller == "settings" ? "selected" : "")" href="@Url.Action("Index", "Settings")">
            <div class="aside-menu-inner">
                <div class="aside-menu-name">
                    @T("Admin.Settings.Index")
                </div>
            </div>
        </a>
        @if (storeActive)
        {
            <a class="aside-menu-row settigs-menu-row link-invert link-decoration-none @(controller == "settingscatalog" ? "selected" : "")" href="@Url.Action("Index", "SettingsCatalog")">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @T("Admin.Settings.Catalog")
                    </div>
                </div>
            </a>
        }
        @if (storeActive)
        {
            <a class="aside-menu-row settigs-menu-row link-invert link-decoration-none @(controller == "settingstemplate" ? "selected" : "")" href="@Url.Action("Index", "SettingsTemplate")">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @T("Admin.Settings.Template.Title")
                    </div>
                </div>
            </a>
        }
        @if (storeActive)
        {
            <a class="aside-menu-row settigs-menu-row link-invert link-decoration-none @(controller == "settingscheckout" ? "selected" : "")" href="@Url.Action("Index", "SettingsCheckout")">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @T("Admin.Settings.Checkout")
                    </div>
                </div>
            </a>
        }
        @if (storeActive || crmActive)
        {
            <a class="aside-menu-row settigs-menu-row link-invert link-decoration-none @(controller == "settingscustomers" ? "selected" : "")" href="@Url.Action("Index", "SettingsCustomers")">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @T("Admin.Settings.Customers")
                    </div>
                </div>
            </a>
        }
        @if (storeActive || crmActive)
        {
            <a class="aside-menu-row settigs-menu-row link-invert link-decoration-none @(action == "shippingmethods" || controller == "shippingmethods" ? "selected" : "")" href="@Url.Action("ShippingMethods", "Settings")">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @T("Admin.Settings.ShippingMethods")
                    </div>
                </div>
            </a>
        }
        @if (storeActive || crmActive)
        {
            <a class="aside-menu-row settigs-menu-row link-invert link-decoration-none @(action == "paymentmethods" || controller == "paymentmethods" ? "selected" : "")" href="@Url.Action("PaymentMethods", "Settings")">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @T("Admin.Settings.PaymentMethods")
                    </div>
                </div>
            </a>
        }
        @if (storeActive && (!enabledSaas || currentsaasData.MobileVersion))
        {
            <a class="aside-menu-row settigs-menu-row link-invert link-decoration-none @(action == "mobileversion" ? "selected" : "")" href="@Url.Action("MobileVersion", "Settings")">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @T("Admin.Settings.MobileVersion")
                    </div>
                </div>
            </a>
        }
        @if (taskActive && (!enabledSaas || currentsaasData.HaveTasks))
        {
            <a class="aside-menu-row settigs-menu-row link-invert link-decoration-none @(controller == "settingstasks" ? "selected" : "")" href="@Url.Action("Index", "SettingsTasks")">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @T("Admin.Settings.Tasks")
                    </div>
                </div>
            </a>
        }
        @if (crmActive && (!enabledSaas || currentsaasData.HaveCrm))
        {
            <a class="aside-menu-row settigs-menu-row link-invert link-decoration-none @(controller == "settingscrm" ? "selected" : "")" href="@Url.Action("Index", "SettingsCrm")">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @T("Admin.Settings.CRM")
                    </div>
                </div>
            </a>
        }
        @if (bonusActive && (!enabledSaas || currentsaasData.BonusSystem))
        {
            <a class="aside-menu-row settigs-menu-row link-invert link-decoration-none @(controller == "settingsbonus" ? "selected" : "")" href="@Url.Action("Index", "SettingsBonus")">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @T("Admin.Settings.Bonuses")
                    </div>
                </div>
            </a>
        }
        @if (storeActive || crmActive || taskActive)
        {
            <a class="aside-menu-row settigs-menu-row link-invert link-decoration-none @(action == "userssettings" ? "selected" : "")" href="@Url.Action("UsersSettings", "Settings")">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @T("Admin.Settings.Users")
                    </div>
                </div>
            </a>
        }
        @if ((storeActive || crmActive) && (!enabledSaas || currentsaasData.HaveTelephony))
        {
            <a class="aside-menu-row settigs-menu-row link-invert link-decoration-none @(controller == "settingstelephony" ? "selected" : "")" href="@Url.Action("Index", "SettingsTelephony")">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @T("Admin.Settings.Telephony")
                    </div>
                </div>
            </a>
        }
        <a class="aside-menu-row settigs-menu-row link-invert link-decoration-none @(controller == "settingsmail" ? "selected" : "")" href="@Url.Action("Index", "SettingsMail")">
            <div class="aside-menu-inner">
                <div class="aside-menu-name">
                    @T("Admin.Settings.NotifyEMails")
                </div>
            </div>
        </a>
        @if (storeActive)
        {
            <a class="aside-menu-row settigs-menu-row link-invert link-decoration-none @(controller == "settingsseo" ? "selected" : "")" href="@Url.Action("Index", "SettingsSeo")">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @T("Admin.Settings.SEO")
                    </div>
                </div>
            </a>
        }
        @if (storeActive)
        {
            <a class="aside-menu-row settigs-menu-row link-invert link-decoration-none @(controller == "settingssocial" ? "selected" : "")" href="@Url.Action("Index", "SettingsSocial")">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @T("Admin.Settings.Social")
                    </div>
                </div>
            </a>
        }
        @if (storeActive || crmActive)
        {
            <a class="aside-menu-row settigs-menu-row link-invert link-decoration-none @(controller == "settingsapi" ? "selected" : "")" href="@Url.Action("Index", "SettingsApi")">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @T("Admin.Settings.API")
                    </div>
                </div>
            </a>
        }
        @if (storeActive || (bookingActive && (!enabledSaas || currentsaasData.HaveBooking)))
        {
            <a class="aside-menu-row settigs-menu-row link-invert link-decoration-none @(controller == "settingstemplatesdocx" ? "selected" : "")" href="@Url.Action("Index", "SettingsTemplatesDocx")">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @T("Admin.Settings.TemplatesDocx")
                    </div>
                </div>
            </a>
        }
        @if (bookingActive && (!enabledSaas || currentsaasData.HaveBooking))
        {
            <a class="aside-menu-row settigs-menu-row link-invert link-decoration-none @(controller == "settingsbooking" ? "selected" : "")" href="@Url.Action("Index", "SettingsBooking")">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @T("Admin.Settings.Booking")
                    </div>
                </div>
            </a>
        }
        @if (partnersActive)
        {
            <a class="aside-menu-row settigs-menu-row link-invert link-decoration-none @(controller == "settingspartners" ? "selected" : "")" href="@Url.Action("Index", "SettingsPartners")">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @T("Admin.Settings.Partners")
                    </div>
                </div>
            </a>
        }
        <a class="aside-menu-row settigs-menu-row link-invert link-decoration-none @(controller == "settingssystem" ? "selected" : "")" href="@Url.Action("Index", "SettingsSystem")">
            <div class="aside-menu-inner">
                <div class="aside-menu-name">
                    @T("Admin.Settings.System")
                </div>
            </div>
        </a>
        @if (TrialService.IsTrialEnabled)
        {
            <ui-modal-trigger data-controller="'ModalClearDataCtrl'" controller-as="ctrl"
                              template-url="../areas/admin/content/src/settings/modal/clearData/ClearData.html">
                <a class="aside-menu-row settigs-menu-row link-invert link-danger" href="">
                    <div class="aside-menu-inner">
                        <div class="aside-menu-name">
                            @T("Admin.Settings.ClearData")
                        </div>
                    </div>
                </a>
            </ui-modal-trigger>
        }
    </div>

</div>