@using AdvantShop.Core.Services.Admin
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    if (AdminAreaTemplate.Current != null)
    {
        Layout = "~/Areas/Admin/Templates/" + AdminAreaTemplate.Current + "/Views/Shared/_Layout.cshtml";
    }
    if (AdminAreaTemplate.IsAdminv3())
    {
        Layout = "~/Areas/Admin/Templates/" + AdminAreaTemplate.Current + "/Views/Catalog/_TopContentCatalogLayout.cshtml";
    }

    var categoryId = ViewBag.CategoryId != null ? (int)ViewBag.CategoryId : 0;
    var ngCallbackOnInit = (string)ViewBag.CatalogLeftMenuNgCallbackOnInit;
    var isMobile = false;// FeaturesService.IsEnabled(EFeature.MobileAdmin) && SettingsDesign.IsMobileTemplate;
}

@helper ClearDemoData()
{

    if (AdvantShop.Trial.TrialService.IsTrialEnabled && AdvantShop.Trial.TrialService.HasDemoProducts())
    {
        <ui-modal-trigger data-controller="'ModalClearDataCtrl'" controller-as="ctrl" data-resolve="{'params': {'mode': 'catalog'}}"
                          template-url="../areas/admin/content/src/settings/modal/clearData/ClearData.html">
            <a class="aside-menu-row settigs-menu-row link-invert link-danger" href="">
                <div class="aside-menu-inner">
                    <div class="aside-menu-name">
                        @T("Admin.Catalog.ClearDemoData")
                    </div>
                </div>
            </a>
        </ui-modal-trigger>
    }
}

<div class="row">
    @if (isMobile == false)
    {
        <div class="col-xs-3 col-wl-2">

            @Html.Action("CatalogLeftMenu", "Catalog", new { categoryId = categoryId, NgCallbackOnInit = ngCallbackOnInit })
            @Html.Action("CatalogTreeView", "Catalog", new { categoryId = 0, categoryIdSelected = categoryId })

            @ClearDemoData()
        </div>
    }
    <div class="col-xs-9 col-sm-9 col-wl-10">
        @if (isMobile)
        {
            @ClearDemoData()
        }
        @RenderBody()
    </div>
</div>
