@using AdvantShop.Web.Admin.Models.Catalog
@model AdvantShop.Web.Admin.ViewModels.Catalog.AdminCatalog
@{
    /**/

    Layout = "~/Areas/Admin/Views/Catalog/_CatalogLayout.cshtml";
    ViewBag.CategoryId = Model.CategoryId;
    ViewBag.CatalogLeftMenuNgCallbackOnInit = "catalog.initCatalogLeftMenu(catalogLeftMenu)";
}

<div class="ibox">
    <div class="ibox-content">
        <div>
            <div sticky sticky-top="0" class="sticky-page-name page-name-block sticky-page-name-inner p-b-n">
                <div class="page-name-block-item-main flex flex-column">
                    <h2 class="page-name-block-text sticky-page-name-text inline content-header inline middle-cell m-r-sm">@Html.Raw(Model.Title)</h2>
                    <a href="https://www.advantshop.net/help/pages/directory-categories" target="_blank" class="p-t-xs p-b-xs link-academy link-invert inline-flex middle-xs">

                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512; padding-top:3px;" xml:space="preserve" width="18" height="18" fill="#989a9b" class="m-r-xs flex-shrink-n">
<path d="M20.005,512c-5.097,0-10.116-1.948-13.925-5.641c-5.845-5.666-7.672-14.309-4.621-21.855l45.411-112.333  C16.162,332.253,0,285.425,0,236c0-63.375,26.855-122.857,75.62-167.489C123.891,24.331,187.952,0,256,0  s132.109,24.331,180.38,68.511C485.145,113.143,512,172.625,512,236c0,45.448-14.04,89.577-40.602,127.615  c-6.325,9.057-18.792,11.271-27.849,4.947s-11.271-18.792-4.947-27.849C460.452,309.425,472,273.215,472,236  c0-108.075-96.897-196-216-196S40,127.925,40,236c0,43.783,15.577,85.2,45.046,119.773c4.834,5.671,6.115,13.561,3.321,20.47  l-31.366,77.589l91.345-40.266c5.063-2.231,10.826-2.267,15.916-0.095C193.082,425.766,223.946,432,256,432  c36.892,0,73.299-8.587,105.286-24.832c9.85-5,21.887-1.072,26.889,8.775c5.001,9.849,1.073,21.887-8.775,26.889  C341.828,461.914,299.157,472,256,472c-34.48,0-67.835-6.191-99.276-18.413L28.068,510.301C25.474,511.444,22.728,512,20.005,512z   M276,325V217c0-11.046-8.954-20-20-20s-20,8.954-20,20v108c0,11.046,8.954,20,20,20S276,336.046,276,325z M256,128  c-11.046,0-20,8.954-20,20l0,0c0,11.046,8.954,20,20,20s20-8.954,20-20l0,0C276,136.954,267.046,128,256,128z" />

</svg>
                        <span style="padding-top:3px;">Инструкция. Добавление / удаление категории</span>
                    </a>
                </div>
                <div class="page-name-block-item-additional">
                    @if (Model.ShowMethod == ECatalogShowMethod.Normal)
                    {
                        <span class="header-subtext">
                            <a data-e2e="EditCategory" href="@Url.Action("Edit", "Category", new {id = Model.CategoryId})" class="btn m-l-xs btn-sm btn-success">
                                @T("Admin.Edit")
                            </a>
                        </span>
                    }
                    <div class="btn-group m-l-xs">
                        <a data-e2e="AddCategory" href="@Url.Action("Add", "Category", new {parentId = Model.CategoryId})" class="btn btn-sm btn-success">
                            <span class="fa fa-plus"></span>
                            @T("Admin.AddCategory")
                        </a>

                        <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">@T("Admin.Catalog.Index.Expand")</span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li class="dropdown-submenu">
                                <ui-modal-trigger class="dropdown-menu-link js-menu-link" data-resolve='{data: {categoryId: @(Model.Category != null ? Model.CategoryId.ToString() : "null"), categoryName: "@(Model.Category != null ? Model.Category.Name.Replace("\"", "\\\"") : string.Empty)"}}' data-controller="'ModalAddCategoryListCtrl'" template-url="../areas/admin/content/src/_shared/modal/addCategoryList/addCategoryList.html" size="xs-6">
                                    <a href="" class="dropdown-menu-link js-menu-link">
                                        @T("Admin.Catalog.Index.ListOfCategories")
                                    </a>
                                </ui-modal-trigger>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-group btn--margin-left">
                        <button data-e2e="AddProduct" class="btn btn-sm btn-success" type="button" ui-modal-trigger data-controller="'ModalAddProductCtrl'" template-url="../areas/admin/content/src/_shared/modal/addProduct/addProduct.html">
                            <span class="fa fa-plus"></span>
                            @T("Admin.AddProduct")
                        </button>

                        <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">@T("Admin.Catalog.Index.Expand")</span>
                        </button>

                        <ul class="dropdown-menu pull-right">
                            <li class="dropdown-submenu">
                                <ui-modal-trigger data-resolve='{data: {categoryId: @(Model.Category != null ? Model.CategoryId.ToString() : "null"), categoryName: "@(Model.Category != null ? Model.Category.Name.Replace("\"", "\\\"") : string.Empty)"}}' class="dropdown-menu-link js-menu-link" data-controller="'ModalAddProductListCtrl'" template-url="../areas/admin/content/src/_shared/modal/addProductList/addProductList.html" size="xs-6">
                                    <a href="" class="dropdown-menu-link js-menu-link">
                                        @T("Admin.Catalog.Index.ListOfGoods")
                                    </a>
                                </ui-modal-trigger>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="breadcrumb-header-in-catalog">
                @Html.Partial("_BreadCrumbs", Model.BreadCrumbs)
            </div>
        </div>
        @if (Model.Category != null && (Model.HasChildCategories || Model.CategoryId == 0))
        {
            <div class="m-t-sm">

                <categories-block category-id="@Model.CategoryId" photo-height="@(SettingsPictureSize.SmallCategoryImageHeight)px" categorysearch="@Model.CategorySearch" on-delete="catalog.onDeleteChildCategories()"></categories-block>
            </div>
        }
    </div>
</div>

@if (Model.ShowMethod != ECatalogShowMethod.Normal || Model.CategoryId != 0)
{
    <div class="ibox">
        <div class="ibox-content">
            @if (Model.Category != null)
            {
            <div class="row between-xs middle-xs m-b-sm">
                <div class="col-xs-slim">
                    <h2 class="inline content-header m-b-none m-r-sm middle-cell">@T("Admin.Catalog.Index.Products")</h2>
                    
                </div>
                <div class="col-xs-slim">
                    <ui-modal-trigger class="header-subtext" data-controller="'ModalAddProductCtrl'" controller-as="ctrl" template-url="../areas/admin/content/src/_shared/modal/addProduct/addProduct.html">
                        <button type="button" class="btn btn-sm btn-success">@T("Admin.AddProduct")</button>
                    </ui-modal-trigger>
                </div>
            </div>
            }
            <div ng-init="catalog.catalogInit(@Model.IsTagsVisible.ToLowerString())">
                <ui-grid-custom grid-unique-id="grid"
                                grid-row-identificator="'ProductId'"
                                grid-options="catalog.gridOptions"
                                grid-params="{categoryId:@Model.CategoryId, showMethod:'@Model.ShowMethod', search: '@Model.Search'}"
                                grid-on-init="catalog.gridOnInit(grid)"
                                grid-url="'catalog/getcatalog'"
                                grid-inplace-url="'catalog/inplaceproduct'"
                                grid-search-placeholder="'@T("Admin.Catalog.Index.SearchByName")'"
                                grid-on-delete="catalog.onGridDeleteItem()"
                                grid-selection-mass-apply="catalog.onGridDeleteItem()">
                    <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="catalog.grid.gridOptions.TotalString">
                    </ui-grid-custom-footer>
                </ui-grid-custom>
            </div>
        </div>
    </div>

}

