@model AdvantShop.Web.Admin.ViewModels.Booking.AdminCatalogTreeView

<div>
    <div class="clearfix">
        <div class="pull-left header-alt">
            <a class="link-terna link-decoration-none" href="@Url.Action("Index")">@T("Admin.Booking.CategoriesTreeView.Categories")</a>
        </div>
        <div class="pull-right header-alt-icons ng-hide" ng-show="bookingServices.jstreeCategoriesInited">
            <ui-modal-trigger data-controller="'ModalAddEditBookingCategoryCtrl'" data-resolve="{params: {affiliateId : bookingServices.affiliateId}}" controller-as="ctrl" on-close="bookingServices.onCategoryAddedEdit()" size="lg" backdrop="static"
                              template-url="../areas/admin/content/src/bookingCategories/modals/addEditCategory/addEditCategory.html" class="pull-right">
                <a ng-href="" class="link-decoration-none fa fa-plus link-alt header-alt-icons-item" uib-popover="@T("Admin.Booking.CategoriesTreeView.AddNewCategory")" popover-trigger="'mouseenter'" popover-placement="auto top" popover-append-to-body="true"></a>
            </ui-modal-trigger>
        </div>
    </div>
    <booking-categories-treeview category-id-selected="@(Model.CategoryIdSelected)" affiliate-id="@(Model.AffiliateId)" on-init="bookingServices.initCategoriesTreeview(jstree)"></booking-categories-treeview>
</div>