@model AdvantShop.Web.Admin.ViewModels.Booking.Category.CategoryModel

@{
    Layout = "~/Areas/Admin/Views/Booking/_BookingLayout.cshtml";
}

<div class="row">
    <div class="col-xs-3 col-wl-2">
        @Html.Action("CategoriesTreeView", new { affiliateId = Model.AffiliateId, categoryIdSelected = Model.Id })
    </div>
    <div class="col-xs-9 col-wl-10">
        <div class="ibox">
            <div class="ibox-content">
                <div class="sticky-page-name" sticky sticky-top="0">
                    <div class="page-name-block sticky-page-name-inner">
                        <div class="page-name-block-item-main">
                            <h1 class="page-name-block-text sticky-page-name-text inline m-r-xs bottom-cell">
                                @T("Admin.Booking.View.CategoryServices") "@Model.Name"
                            </h1>
                            <div class="m-t-xs">
                                <a href="@Url.Action("Index")">@T("Admin.Booking.View.ToTheListOfCategories")</a>
                            </div>
                            @Html.HiddenFor(model => model.Id, new { ng_model = "bookingServices.categoryId" })
                            @Html.HiddenFor(model => model.AffiliateId, new { ng_model = "bookingServices.affiliateId" })
                        </div>
                        <div class="page-name-block-item-additional">
                                <ui-modal-trigger data-controller="'ModalAddEditBookingCategoryCtrl'" controller-as="ctrl"
                                                  backdrop="static"
                                                  template-url="../areas/admin/content/src/bookingCategories/modals/addEditCategory/addEditCategory.html"
                                                  data-resolve="{params: {'id': bookingServices.categoryId}}"
                                                  data-on-close="bookingServices.onCategoryAddedEdit()"
                                                  data-e2e-booking="BookingCategory"
                                                  data-e2e-booking-booking-category-id="{{bookingServices.categoryId}}">
                                    <button data-e2e="EditBookingCategory" class="btn btn-sm btn-success" type="button"
                                            disabled ng-disabled="!bookingServices.jstreeCategoriesInited">
                                        @T("Admin.BookingCategory.View.Edit")
                                    </button>
                                </ui-modal-trigger> 
                                <ui-modal-trigger data-controller="'ModalAddUpdateBookingServiceCtrl'" controller-as="ctrl" size="lg" backdrop="static"
                                                  data-resolve="{params: {categoryId : bookingServices.categoryId, affiliateId: bookingServices.affiliateId}}"
                                                  on-close="bookingServices.onServiceAddedOrUpdated()"
                                                  template-url="../areas/admin/content/src/bookingServices/modals/addUpdateBookingService/addUpdateBookingService.html" class="btn--margin-left">
                                    <button data-e2e="AddBookingService" class="btn btn-sm btn-success" type="button"
                                            disabled ng-disabled="!bookingServices.gridServicesInited">
                                        <span class="fa fa-plus"></span>
                                        @T("Admin.BookingCategory.View.AddService")
                                    </button>
                                </ui-modal-trigger>
                        </div>
                    </div>
                </div>
                <div class="m-t-sm">
                    <ui-grid-custom grid-unique-id="grid"
                                    grid-row-identificator="'Id'"
                                    grid-on-init="bookingServices.gridServicesOnInit(grid)"
                                    grid-options="bookingServices.gridServicesOptions"
                                    grid-url="'bookingService/getServices'"
                                    grid-params="{categoryFilterId : bookingServices.categoryId, LeftJoinAffiliateId: bookingServices.affiliateId}"
                                    grid-inplace-url="'bookingService/inplaceService'"
                                    grid-search-placeholder="'@T("Admin.BookingCategory.View.SearchByName")'"
                                    grid-extend-ctrl="bookingServices">
                        <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="bookingServices.gridServices.gridOptions.TotalString">
                        </ui-grid-custom-footer>
                    </ui-grid-custom>
                </div>
            </div>
        </div>
    </div>
</div>
