@using AdvantShop.App.Landing.Domain.Auth
@model AdvantShop.Web.Admin.Models.Landings.LandingAdminSiteSettings

<div class="row" ng-init="landingSite.settings.AuthLeadDealStatusId = @(Model.AuthLeadDealStatusId.HasValue ? "'" + Model.AuthLeadDealStatusId + "'" : "null")">
    <div class="col-xs-11">
        <div class="form-group row middle-xs">
            <div class="col-xs-3 col-wl-2">
                <div class="setting-label-wrap">
                    Требовать логин и пароль для доступа ко всем страницам воронки
                </div>
            </div>
            <div class="col-xs">
                <label class="adv-checkbox-label">
                    @Html.CheckBoxFor(x => x.RequireAuth, new { @class = "adv-checkbox-input", ng_model = "landingSite.settings.RequireAuth" })
                    <span class="adv-checkbox-emul"></span>
                </label>
            </div>
        </div>

        <div class="form-group row middle-xs">
            <div class="col-xs-3 col-wl-2">
                <div class="setting-label-wrap m-b-md">
                    Ссылка на страницу регистрации
                </div>
            </div>
            <div class="col-xs">
                @Html.TextBoxFor(x => x.AuthRegUrl, new { @class = "form-control", ng_model = "landingSite.settings.AuthRegUrl" })
                <div class="sub">Здесь можно указать адрес страницы, где посетитель сможет получить/купить доступ к страницам воронки</div>
            </div>
        </div>

        <div class="form-group row middle-xs">
            <div class="col-xs-3 col-wl-2">
                <div class="setting-label-wrap">
                    Условия отображения страницы
                </div>
            </div>
            <div class="col-xs">
                @Html.DropDownListFor(x => x.AuthFilterRule, Model.AuthFilterRules, new { @class = "form-control", ng_model = "landingSite.settings.AuthFilterRule", convert_to_number = true })
            </div>
        </div>

        <div ng-switch="landingSite.settings.AuthFilterRule">
            <div ng-switch-when="@ELpAuthFilterRule.WithOrderAndProduct.ConvertIntString()"
                 ng-init="landingSite.getAuthOrderProducts()">
                <div class="form-group row middle-xs">
                    <div class="col-xs-offset-3 col-wl-offset-2">
                        <div class="m-b-sm" ng-if="landingSite.AuthOrderProducts != null && landingSite.AuthOrderProducts.length > 0">
                            Товары:
                            <div ng-repeat="item in landingSite.AuthOrderProducts track by $index">
                                <a href="" ng-href="item.Url" target="_blank">
                                    {{item.Name}}
                                </a>
                                <a ng-click="landingSite.deleteAuthOrderProduct(item.ProductId)" href="" class="m-l-xs m-r-lg" title="Удалить">
                                    <span class="fas fa-times"></span>
                                </a>
                            </div>
                        </div>
                        <ui-modal-trigger data-controller="'ModalProductsSelectvizrCtrl'" controller-as="ctrl" size="xs-11"
                                          template-url="../areas/admin/content/src/_shared/modal/products-selectvizr/productsSelectvizrModal.html"
                                          data-on-close="landingSite.selectAuthOrderProducts(result)">
                            <a href="">Добавить товары</a>
                        </ui-modal-trigger>
                    </div>
                </div>
            </div>

            <div ng-switch-when="@ELpAuthFilterRule.WithLead.ConvertIntString()">
                <div class="form-group row middle-xs">
                    <div class="col-xs-3 col-wl-2">
                        Список лидов
                    </div>
                    <div class="col-xs">
                        @Html.DropDownListFor(x => x.AuthLeadSalesFunnelId, Model.SalesFunnels, new
                        {
                            @class = "form-control",
                            ng_model = "landingSite.settings.AuthLeadSalesFunnelId",
                            ng_change = "landingSite.getDealStatuses(landingSite.settings.AuthLeadSalesFunnelId)",
                            required = "required",
                            validation_input_text = "Список лидов",
                            convert_to_number = true
                        })
                    </div>
                </div>
                <div ng-if="landingSite.settings.AuthLeadSalesFunnelId" class="form-group row middle-xs" 
                     ng-init="landingSite.getDealStatuses(landingSite.settings.AuthLeadSalesFunnelId)">
                    <div class="col-xs-3 col-wl-2">
                        Статус
                    </div>
                    <div class="col-xs">
                        <select class="form-control" id="AuthLeadDealStatusId" name="AuthLeadDealStatusId" convert-to-number
                                ng-model="landingSite.settings.AuthLeadDealStatusId"
                                ng-options="item.value as item.label for item in landingSite.DealStatuses">
                            <option value="">Любой</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


