@model AdvantShop.Web.Admin.Models.Landings.LandingAdminSiteSettings

<style>
    .domain-note {
        padding: 5px 0 10px 20px;
        color: #676a6c;
    }

    .domain-label {
        cursor: pointer;
        font-size: 14px;
        color: #204268;
    }
</style>

<div class="row">
    <div class="col-xs-11">
        <div class="form-group row middle-xs">
            <div class="col-xs-3 col-wl-2">
                <div class="setting-label-wrap">
                    Внутренний урл воронки
                </div>
            </div>
            <div class="col-xs">
                <label class="input-group">
                    <span class="input-group-addon"> @UrlService.GetUrl("lp/")</span>
                    @Html.TextBoxFor(x => x.SiteUrl, new { @class = "form-control", ng_model = "landingSite.settings.SiteUrl" })
                </label>
            </div>
            <div class="col-xs-slim relative">
                <a href="@UrlService.GetUrl("lp/"){{landingSite.actualSiteUrl}}" target="blank" class="fas fa-external-link-alt text-decoration-none link-invert" title="Открыть"></a>
                <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs" data-title="Внутренний урл воронки">
                    <div class="help-content">
                        Если не привязан домен, то воронка отображается по внутреннему урл адресу
                    </div>
                </help-trigger>
            </div>
        </div>

        <div class="row" bs-modifiable="false">
            <div class="col-xs-3 col-wl-2">
                <div class="setting-label-wrap">
                    Домен (или поддомен) воронки
                </div>
            </div>
            <div class="col-xs-9 relative">
                <div>

                    <div class="m-b" ng-if="landingSite.domain != null && landingSite.domain.length > 0" data-e2e="funnelAddedDomains">
                        <div>
                            <h3>
                                <strong>Добавленные домены</strong>
                            </h3>
                        </div>

                        <div class="row m-b-sm">
                            <div class="col-xs-6">
                                <a href="http://{{landingSite.domain}}" target="_blank" class="link-invert link-decoration-none text-decoration-invert">
                                    {{landingSite.domain}}
                                </a>
                                @if (!Model.UseDomainsManager)
                                {
                                    <a href="" class="link-invert link-decoration-none fas fa-times" ng-click="landingSite.removeDomain(landingSite.domain)"></a>
                                }
                                else
                                {
                                    <a href="http://{{landingSite.domain}}" class="link-invert link-decoration-none" target="_blank">
                                        <svg viewBox="0 0 194.818 194.818" width="10px" height="10px" fill="#acadaa">
                                            <path d="M185.818,2.161h-57.04c-4.971,0-9,4.029-9,9s4.029,9,9,9h35.312l-86.3,86.3c-3.515,3.515-3.515,9.213,0,12.728
		                                            c1.758,1.757,4.061,2.636,6.364,2.636s4.606-0.879,6.364-2.636l86.3-86.3v35.313c0,4.971,4.029,9,9,9s9-4.029,9-9v-57.04
		                                            C194.818,6.19,190.789,2.161,185.818,2.161z" />
                                            <path d="M149,77.201c-4.971,0-9,4.029-9,9v88.456H18v-122h93.778c4.971,0,9-4.029,9-9s-4.029-9-9-9H9c-4.971,0-9,4.029-9,9v140
		                                            c0,4.971,4.029,9,9,9h140c4.971,0,9-4.029,9-9V86.201C158,81.23,153.971,77.201,149,77.201z" />
                                        </svg>
                                    </a>
                                }

                            </div>
                        </div>
                    </div>

                    <div class="row m-b-sm"
                         ng-if="landingSite.domains != null && landingSite.domains.length > 0"
                         ng-repeat="domain in landingSite.domains track by $index">

                        <div class="col-xs-6">
                            <a href="http://{{domain.DomainUrl}}" target="_blank" class="link-invert link-decoration-none text-decoration-invert">{{domain.DomainUrl}}</a>
                            @if (!Model.UseDomainsManager)
                            {
                                <a href="" class="link-invert link-decoration-none fas fa-times" ng-click="landingSite.removeDomain(domain.DomainUrl)"></a>
                            }
                            else
                            {
                                <a href="http://{{domain.DomainUrl}}" class="link-invert link-decoration-none" target="_blank">
                                    <svg viewBox="0 0 194.818 194.818" width="10px" height="10px" fill="#acadaa">
                                        <path d="M185.818,2.161h-57.04c-4.971,0-9,4.029-9,9s4.029,9,9,9h35.312l-86.3,86.3c-3.515,3.515-3.515,9.213,0,12.728
		                                            c1.758,1.757,4.061,2.636,6.364,2.636s4.606-0.879,6.364-2.636l86.3-86.3v35.313c0,4.971,4.029,9,9,9s9-4.029,9-9v-57.04
		                                            C194.818,6.19,190.789,2.161,185.818,2.161z" />
                                        <path d="M149,77.201c-4.971,0-9,4.029-9,9v88.456H18v-122h93.778c4.971,0,9-4.029,9-9s-4.029-9-9-9H9c-4.971,0-9,4.029-9,9v140
		                                            c0,4.971,4.029,9,9,9h140c4.971,0,9-4.029,9-9V86.201C158,81.23,153.971,77.201,149,77.201z" />
                                    </svg>
                                </a>
                            }
                        </div>
                    </div>


                    @if (Model.UseDomainsManager)
                    {
                        <div class="m-b" ng-if="landingSite.domains != null && landingSite.domains.length > 0">
                            <a href="@Url.Action("DomainsManage", "Service")?openFunnel=@Model.Id">Управлять доменами</a>
                        </div>
                    }

                    <div class="m-b-xs">
                        <h3><strong>Добавить домен</strong></h3>
                    </div>

                    @if (Model.UseDomainsManager)
                    {
                        <div class="m-b adv-panel-warn">
                            <div class="m-b">
                                <label class="adv-radio-label domain-label" data-e2e="funnelBydomain">
                                    Купить домен - от 199 руб
                                    <input class="adv-radio-input" ng-model="landingSite.bydomain" type="radio" value="0" checked="checked" />
                                    <span class="adv-radio-emul"></span>
                                </label>
                                <div ng-if="landingSite.bydomain === '0'">
                                    <div class="domain-note italic">
                                        Вы можете приобрести новый домен прямо из панели администрирования.<br>
                                        Домен будет юридически оформлен на Вас, все настройки домена будут осуществлены автоматически.<br>
                                        Магазин начнет открываться по новому домену в течение <b>2 часов</b> после оплаты.
                                    </div>
                                    <div class="domain-note">
                                        <a href="@Url.AbsoluteActionUrl("DomainBuy", "Service", new {area = "adminv2", funnelId = Model.Id})" class="btn btn-sm btn-success" data-e2e="BuyDomain" onclick="return advTrack('@AdvantShop.Track.ETrackEvent.Shop_Funnels_ClickBuyDomain.ToString()');">
                                            Купить домен
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="m-b">
                                <label class="adv-radio-label domain-label" data-e2e="funnelHavedomain">
                                    У меня есть домен / поддомен
                                    <input class="adv-radio-input" ng-model="landingSite.bydomain" type="radio" value="1" />
                                    <span class="adv-radio-emul"></span>
                                </label>
                                <div ng-if="landingSite.bydomain === '1'">
                                    <div class="domain-note italic">
                                        Если у Вас есть ранее приобретённый домен, Вы можете использовать его. <br>
                                        После привязки домена Вам будет необходимо прописать настройки домена на стороне регистратора. Инструкция прилагается. <br>
                                        Магазин начнёт открываться по новому адресу через <b>12-24 часа</b> после изменения настроек на стороне регистратора.<br>
                                        <a href="https://www.advantshop.net/help/search?name=ns" target="_blank">Инструкции, как прописать NS</a><br><br>
                                        В случае с поддоменом, следуйте инструкции в разделе "Все домены"
                                    </div>
                                    <div class="domain-note">
                                        <a href="@Url.Action("DomainsManage", "Service")?selectedValueDomainBinding=@Model.Id" class="btn btn-sm btn-success">Подключить домен</a>
                                    </div>
                                </div>
                            </div>
                            <div class="m-b">
                                <label class="adv-radio-label domain-label" data-e2e="funnelHavedomain">
                                    Использовать ранее подключенный домен
                                    <input class="adv-radio-input" ng-model="landingSite.bydomain" type="radio" value="2" />
                                    <span class="adv-radio-emul"></span>
                                </label>
                                <div ng-if="landingSite.bydomain === '2'">
                                    <div class="domain-note italic">
                                        Если ранее вы уже подключили домен или поддомен, то вы можете переключить его использование для данной воронки.<br>
                                        Изменение привязки происходит быстро, в течение 1 минуты уже будет открываться новое содержимое.
                                    </div>
                                    <div class="domain-note">
                                        <a href="@Url.Action("DomainsManage", "Service")?selectedValueDomainBinding=@Model.Id&bindYourDomain=true" class="btn btn-sm btn-success">Изменить привязку</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div ng-init="landingSite.addDomainMode='new'"
                             class="flex">
                            <div ng-click="landingSite.addDomainMode='new'" class="funnel-domain-item"
                                 ng-class="{'funnel-domain-item-selected': landingSite.addDomainMode=='new'}">
                                Новый
                            </div>
                            <div ng-click="landingSite.addDomainMode='reuse'" class="funnel-domain-item"
                                 ng-class="{'funnel-domain-item-selected': landingSite.addDomainMode=='reuse'}">
                                @*ng-if="landingSite.funnelDomains != null && landingSite.funnelDomains.length > 0"*@
                                Использовать ранее добавленный
                            </div>
                        </div>

                        <div class="funnel-domains" ng-if="landingSite.addDomainMode=='new'">
                            <div class="row m-b-md">
                                <div class="col-xs-12">Введите доменное имя или поддомен</div>
                            </div>
                            <div class="row middle-xs m-b">
                                <div class="col-xs-slim  p-r-none">
                                    <div class="setting-label-wrap">http://</div>
                                </div>
                                <div class="col-xs-slim">
                                    <input type="text" ng-model="landingSite.newdomain" class="form-control" style="min-width: 370px;"
                                           placeholder="Введите доменное имя или поддомен" pattern="^(?!:\/\/)([a-zA-Zа-яА-Я0-9-_]+\.)*[a-zA-Zа-яА-Я0-9][a-zA-Zа-яА-Я0-9-_]+\.[a-zA-Zа-яА-Я]{2,11}?$" />
                                </div>
                                <div class="col-xs-slim">
                                    <a href="" class="btn btn-sm btn-success" ng-click="landingSite.addDomain(landingSite.domain != null && landingSite.domain.length > 0)">Добавить</a>
                                </div>
                            </div>
                            <div class="bold m-b-xs">Обратите внимание:</div>
                            <ol class="m-b-none">
                                <li class="m-b-xs">
                                    Домен/поддомен следует добавить без приставки www или http. Например: moysite.ru, мойсайт.рф или lp.moysite.ru.
                                </li>
                                <li class="m-b-xs">
                                    Данный список лишь указывает, какой домен используется для воронки, сам домен должен быть куплен и привязан к сайту заранее.
                                </li>
                            </ol>
                        </div>

                        <div class="funnel-domains" ng-class="{'funnel-domains--empty text-center' : !(landingSite.funnelDomains != null && landingSite.funnelDomains.length > 0) }" ng-if="landingSite.addDomainMode=='reuse'">

                            <div ng-if="landingSite.addDomainMode=='reuse' && landingSite.funnelDomains != null && landingSite.funnelDomains.length > 0">
                                <div class="row m-b-md">
                                    <div class="col-xs-12">Выберите доменное имя или поддомен</div>
                                </div>
                                <div class="row m-b">
                                    <div class="col-xs-5">
                                        <select class="form-control"
                                                ng-model="landingSite.reuseDomain"
                                                ng-options="item.DomainUrl for item in landingSite.funnelDomains">
                                        </select>
                                    </div>
                                    <div class="col-xs-3">
                                        <a href="" class="btn btn-sm btn-success" ng-click="landingSite.addReuseDomain(landingSite.reuseDomain.DomainUrl)">Переключить</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="bold m-b-xs">Обратите внимание:</div>
                                        <ol class="m-b-none">
                                            <li class="m-b-xs">
                                                После изменения привязки, старые ссылки перестанут открываться.
                                            </li>
                                            <li class="m-b-xs">
                                                Изменения привязки происходят быстро, в течении 1 минуты уже будет открываться новое содержимое.
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>

                            <i ng-if="!(landingSite.funnelDomains != null && landingSite.funnelDomains.length > 0)">Пока нет подключенных доменов для подключения</i>

                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>


