@model AdvantShop.Web.Admin.Models.Landings.LandingAdminSiteSettings

<div class="row">
    <div class="col-xs-11">
        <div class="form-group row">
            <div class="col-xs-3 col-wl-2">
                <div class="setting-label-wrap">
                    Включить
                </div>
            </div>
            <div class="col-xs-4 col-wl-3 relative">
                <label class="adv-checkbox-label">
                    <switch-on-off checked="landingSite.settings.MobileAppActive" on-change="landingSite.onChangeMobileAppActiveStateOffOn(checked)" data-id="Active" ng-init="@("landingSite.settings.MobileAppActive=" + Model.MobileAppActive.ToLowerString())"></switch-on-off>
                </label>
            </div>
        </div>
        <div ng-show="landingSite.settings.MobileAppActive">
            <div class="form-group row middle-xs">
                <div class="col-xs-3 col-wl-2">
                    <div class="setting-label-wrap text-required">
                        Название
                    </div>
                </div>
                <div class="col-xs-4  col-wl-3">
                    @Html.TextBoxFor(x => x.MobileAppName, new { @class = "form-control", ng_model = "landingSite.settings.MobileAppName", ng_required = "landingSite.settings.MobileAppActive", validation_input_text = "Название" })
                </div>
            </div>
            <div class="form-group row middle-xs">
                <div class="col-xs-3 col-wl-2">
                    <div class="setting-label-wrap text-required">
                        Сокращенное название
                    </div>
                </div>
                <div class="col-xs-4  col-wl-3">
                    @Html.TextBoxFor(x => x.MobileAppShortName, new { @class = "form-control", ng_model = "landingSite.settings.MobileAppShortName", ng_required = "landingSite.settings.MobileAppActive", validation_input_text = "Сокращенное название" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 col-wl-2">
                    <div class="setting-label-wrap">
                        Иконка приложения
                    </div>
                </div>
                <div class="col-xs-6 col-wl-3 relative">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="flex">
                                <div>
                                    @Html.PictureUploader(AdvantShop.Catalog.PhotoType.LandingMobileApp, Model.Id, Model.MobileAppImgSrc, htmlAttributes: new
                                    {
                                        data_e2e = "IconImg",
                                        @class = "picture-uploader-small"
                                    })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        Рекомендуемый размер 512 x 512 px<br />
                        Иконка может быть только квадратной
                    </div>
                </div>
            </div>
            <div class="form-group row middle-xs">
                <div class="col-xs-3 col-wl-2">
                    <div class="setting-label-wrap">
                        Ссылка на приложение в Apple App Store
                    </div>
                </div>
                <div class="col-xs-6  col-wl-5">
                    @Html.TextBoxFor(x => x.AppleAppStoreLink, new { @class = "form-control", ng_model = "landingSite.settings.AppleAppStoreLink" })
                </div>
            </div>
            <div class="form-group row middle-xs">
                <div class="col-xs-3 col-wl-2">
                    <div class="setting-label-wrap">
                        Ссылка на приложение в Google Play
                    </div>
                </div>
                <div class="col-xs-6  col-wl-5">
                    @Html.TextBoxFor(x => x.GooglePlayMarketLink, new { @class = "form-control", ng_model = "landingSite.settings.GooglePlayMarketLink" })
                </div>
            </div>
        </div>
    </div>
</div>


