@model AdvantShop.Web.Admin.Models.Customers.CustomerTags.CustomerTagModel

<form method="POST" action="@(Model.IsEditMode ? Url.Action("Edit") : Url.Action("Add"))" enctype="multipart/form-data" novalidate="novalidate" name="form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => Model.Id)
    @Html.HiddenFor(x => Model.IsEditMode)

    @Html.Back(T("Admin.CustomerTags.AddEdit.BackToTags").ToString(), "./settingscustomers#?tab=customerTags")

    <div class="sticky-page-name" sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner">
            <div class="page-name-block-item-main">
                <h1 class="page-name-block-text sticky-page-name-text">
                    @Html.Raw(Model.IsEditMode ? T("Admin.CustomerTags.AddEdit.Tag") + " \"<strong>" + Model.Name + "\"</strong>" : T("Admin.CustomerTags.AddEdit.NewTag").ToString())
                </h1>
            </div>
            <div class="page-name-block-item-additional">
                <a href="" ng-if="@Model.IsEditMode.ToLowerString()" class="link-danger m-r-xs" ng-click="customerTags.deleteTag(@Model.Id)">@T("Admin.CustomerTags.AddEdit.Delete")</a>
                @Html.Button(T("Admin.Save"), eButtonType.Save, eButtonSize.Small, eColorType.Success, validation: true, attributes: new[] { "ng-disabled=\"!form.modified\"", "disabled" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-wl-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="container-fluid">
                        <div class="row category-row">
                            <div class="col-lg-2">
                                @T("Admin.CustomerTags.AddEdit.TagName") <span class="text-required"></span>
                            </div>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control required", required = "required", ng_model = "customerTags.Name", validation_input_text = T("Admin.CustomerTags.AddEdit.TagName") })
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="row category-row">
                            <div class="col-lg-2">
                                <label for="Enabled" class="form-label-block">@T("Admin.CustomerTags.AddEdit.Activity")</label>
                            </div>
                            <div class="col-lg-10">
                                <label class="adv-checkbox-label form-label-block">
                                    @Html.CheckBoxFor(x => x.Enabled, new { ng_model = "customerTags.Enabled", ng_init = "customerTags.Enabled=" + Model.Enabled.ToString().ToLower(), @class = "adv-checkbox-input" })
                                    <span class="adv-checkbox-emul"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="row category-row">
                            <div class="col-lg-2">
                                <label for="SortOrder" class="form-label-block">@T("Admin.CustomerTags.AddEdit.Sorting")</label>
                            </div>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(x => x.SortOrder, new { ng_model = "customerTags.SortOrder", @class = "form-control" })
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</form>