@model AdvantShop.Core.Services.Partners.LegalEntity

<h3>При регистрации вы указали следующие данные</h3>
<div class="row middle-xs">
    <div class="col-xs-3">
        <label class="vertical-interval-small">Наименование</label>
    </div>
    <div class="col-xs-8">
        <span class="vertical-interval-small">@Model.CompanyName.Default("-")</span>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-3">
        <label class="vertical-interval-small">ИНН</label>
    </div>
    <div class="col-xs-8">
        <span class="vertical-interval-small">@Model.INN.Default("-")</span>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-3">
        <label class="vertical-interval-small">КПП</label>
    </div>
    <div class="col-xs-8">
        <span class="vertical-interval-small">@Model.KPP.Default("-")</span>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-3">
        <label class="vertical-interval-small">Юридический адрес</label>
    </div>
    <div class="col-xs-8">
        <span class="vertical-interval-small">@Model.LegalAddress.Default("-")</span>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-3">
        <label class="vertical-interval-small">Фактический адрес</label>
    </div>
    <div class="col-xs-8">
        <span class="vertical-interval-small">@Model.ActualAddress.Default("-")</span>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-3">
        <label class="vertical-interval-small">Расчетный счет</label>
    </div>
    <div class="col-xs-8">
        <span class="vertical-interval-small">@Model.SettlementAccount.Default("-")</span>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-3">
        <label class="vertical-interval-small">Корреспондентский счет</label>
    </div>
    <div class="col-xs-8">
        <span class="vertical-interval-small">@Model.CorrespondentAccount.Default("-")</span>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-3">
        <label class="vertical-interval-small">Банк</label>
    </div>
    <div class="col-xs-8">
        <span class="vertical-interval-small">@Model.Bank.Default("-")</span>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-3">
        <label class="vertical-interval-small">БИК</label>
    </div>
    <div class="col-xs-8">
        <span class="vertical-interval-small">@Model.BIK.Default("-")</span>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-3">
        <label class="vertical-interval-small">Руководитель</label>
    </div>
    <div class="col-xs-8">
        <span class="vertical-interval-small">@Model.Director.Default("-")</span>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-3">
        <label class="vertical-interval-small">Бухгалтер</label>
    </div>
    <div class="col-xs-8">
        <span class="vertical-interval-small">@Model.Accountant.Default("-")</span>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-3">
        <label class="vertical-interval-small">Почтовый адрес</label>
    </div>
    <div class="col-xs-8">
        <span class="vertical-interval-small">@Model.PostAddress.Default("-")</span>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-3">
        <label class="vertical-interval-small">Индекс</label>
    </div>
    <div class="col-xs-8">
        <span class="vertical-interval-small">@Model.Zip.Default("-")</span>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-3">
        <label class="vertical-interval-small">Контактный телефон</label>
    </div>
    <div class="col-xs-8">
        <span class="vertical-interval-small">@Model.Phone.Default("-")</span>
    </div>
</div>
<div class="row middle-xs">
    <div class="col-xs-3">
        <label class="vertical-interval-small">Контактное лицо</label>
    </div>
    <div class="col-xs-8">
        <span class="vertical-interval-small">@Model.ContactPerson.Default("-")</span>
    </div>
</div>
