@model AdvantShop.Web.Admin.Models.Crm.Leads.LeadModel
@{
    Layout = null;
    bool readOnly = Model.Lead.DealStatus.Status == AdvantShop.Core.Services.Crm.DealStatuses.SalesFunnelStatusType.FinalSuccess
        || Model.Lead.DealStatus.Status == AdvantShop.Core.Services.Crm.DealStatuses.SalesFunnelStatusType.Canceled;
    ViewBag.ReadOnlyCtrl = "lead.readOnly";
}
<div data-ng-controller="LeadCtrl as lead">
    <form novalidate="novalidate" name="leadForm">
        <div ng-init="lead.init(@Model.Id, leadForm, readOnly = @readOnly.ToLowerString())">
            <input name="Id" type="hidden" value="{{lead.instance.lead.Id}}" />
        </div>

        <div class="sticky-page-name" sticky sticky-top="0">
            <div class="page-name-block sticky-page-name-inner m-b-sm">
                <div class="page-name-block-item-main m-l">
                    @{
                        var title = Model.Lead.Title.IsNotEmpty() ? Model.Lead.Title : T("Admin.Leads.Popup.LeadNumber").ToString() + Model.Lead.Id;
                    }
                    <div class="page-name-block-text sticky-page-name-text inline order-header-item order-header-item-name" ng-init="lead.instance.lead.title = '@title'">
                        <simple-edit empty-text="@T("Admin.Leads.Popup.LeadNumber") @Model.Lead.Id"
                                     class="simple-edit" on-change="lead.updateTitle(value)" ng-if="!lead.readOnly">
                            <div class="input-ghost simple-edit__input"
                                 data-e2e="leadInfoTitle"
                                 simple-edit-content=""
                                 contenteditable="true"
                                 ng-bind-html="lead.instance.lead.title"></div>
                            <simple-edit-trigger class="fas fa-pencil-alt"></simple-edit-trigger>
                        </simple-edit>
                        <div ng-if="lead.readOnly">
                            <div class="input-ghost">@title</div>
                        </div>
                    </div>
                </div>
                <div class="page-name-block-item-additional">
                    <span ng-init="lead.orderId = @(Model.Order != null ? Model.Order.OrderID.ToString() : "null")" class="ng-cloak m-r-xs">
                        <a ng-if="lead.orderId == null && !lead.readOnly" href="" ng-click="lead.createPaymentLink()">
                            @T("Admin.Leads.Popup.CreateLinkPayment")
                        </a>
                        <ui-modal-trigger ng-if="lead.orderId != null"
                                          data-controller="'ModalGetBillingLinkCtrl'" data-controller-as="ctrl"
                                          data-resolve="{params: { orderId: lead.orderId }}"
                                          template-url="../areas/admin/content/src/order/modal/getBillingLink/getBillingLink.html">
                            <a href="">@T("Admin.Leads.Popup.LinkToPayment")</a>
                        </ui-modal-trigger>
                    </span>
                    @if (CustomerContext.CurrentCustomer.IsAdmin)
                    {
                        <a href="" class="link-danger m-r-xs" ng-click="lead.deleteLead($ctrl.close)">@T("Admin.Leads.Popup.Delete")</a>
                    }
                    <ui-modal-trigger ng-if="!lead.readOnly"
                                      data-e2e="LeadCreateOrder"
                                      data-controller="'ModalCompleteLeadCtrl'"
                                      data-controller-as="ctrl"
                                      data-resolve="{id: lead.instance.Id}"
                                      template-url="../areas/admin/content/src/lead/modal/completeLead/completeLead.html"
                                      on-close="lead.onCompleteLead(result, $ctrl.close)">
                        <a class="btn btn-sm btn-success m-r-sm" href="">@T("Admin.Leads.Popup.CompleteLead")</a>
                    </ui-modal-trigger>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 col-wl-3">
                    <div class="aside-menu">

                        @Html.Partial("_Description", Model)
                        @Html.Partial("_Customer", Model)
                        @Html.Partial("_CustomerSocial", Model)

                        <div class="ibox">
                            <div class="ibox-content block-additional-parameters-content">
                                <h3 class="m-b-md">
                                    @T("Admin.Leads.Popup.AttachedFiles")
                                </h3>
                                <ol class="p-l-sm ng-cloak" ng-if="lead.attachments.length > 0">
                                    <li class="word-break" ng-repeat="attachment in lead.attachments track by $index">
                                        <a href="" target="_blank" ng-href="{{attachment.FilePathAdmin}}" ng-bind="attachment.FileName" data-e2e="attachedFileName"></a> - <span ng-bind="attachment.FileSize"></span>
                                        <a href="" ng-if="!lead.readOnly" ng-click="lead.deleteAttachment(attachment.Id)" class="fa fa-times link-invert link-decoration-none" title="@T("Admin.Leads.Popup.Delete")" data-e2e="attachedFileDelete"></a>
                                    </li>
                                </ol>
                                <p class="ng-cloak" ng-if="lead.attachments.length == 0">
                                    @T("Admin.Leads.Popup.NoFiles")
                                </p>
                                <figure class="">
                                    <button ng-disabled="lead.readOnly" class="btn btn-action btn-sm" type="button" ngf-drop ngf-max-size="15MB" ngf-select="" multiple
                                            ngf-change="lead.uploadAttachment($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)" ladda="lead.loadingFiles">
                                        <i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">@T("Admin.Leads.Popup.AttachFile")</span>
                                    </button>
                                    <help-trigger class="ng-cloak m-l-xs">
                                        <div class="help-content">
                                            @Html.Action("FilesHelpText", "Common", new { type = AdvantShop.Helpers.EAdvantShopFileTypes.LeadAttachment })
                                        </div>
                                    </help-trigger>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8 col-wl-9">
                    @Html.Partial("_Products", Model)
                    @if (Model.ShowTasks)
                    {
                        @Html.Partial("_Tasks", Model)
                    }
                    @Html.RenderModules("admin_lead_before_leadevents", new { leadId = Model.Lead.Id })

                    <div bs-modifiable="false">
                        <lead-events obj-id="@Model.Id" obj-type="'lead'" customer-id="'@Model.Lead.CustomerId'" on-init="lead.leadEventsOnInit(leadEvents)">
                            @if (Model.ShowTasks)
                            {
                                <task-create class="ng-cloak link m-b-sm m-r-sm inline h4" ng-if="(lead.taskGrid == null || lead.taskGrid.gridTasks.gridOptions.data.length === 0) && !lead.readOnly" data-resolve="{bindTo:{objId: @Model.Id, type: 'lead'}}" on-after="lead.taskGrid.modalClose()" data-e2e="addTaskTab">
                                    @T("Admin.Leads.Popup.Task")
                                </task-create>
                            }
                            <ui-modal-trigger ng-if="(lead.gridLeadItemsOptions == null || lead.gridLeadItemsOptions.data.length === 0) && !lead.readOnly"
                                              class="ng-cloak link m-b-sm m-r-sm inline h4" size="xs-11" data-controller="'ModalOffersSelectvizrCtrl'" data-controller-as="ctrl"
                                              data-on-close="lead.addLeadItems(result)"
                                              template-url="../areas/admin/content/src/_shared/modal/offers-selectvizr/offersSelectvizrModal.html"
                                              data-e2e="addGoodsTab">
                                @T("Admin.Leads.Popup.Goods")
                            </ui-modal-trigger>
                        </lead-events>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>