@model AdvantShop.Web.Admin.Models.Crm.Leads.LeadModel
<div class="ibox m-b" ng-init="lead.hasComment=@((!string.IsNullOrEmpty(Model.Lead.Comment)).ToLowerString())" ng-show="lead.gridLeadItemsOptions.data.length > 0 || lead.hasComment">
    <div class="ibox-content" ng-show="lead.gridLeadItemsOptions.data.length > 0 || lead.hasComment">

        <div class="m-b-md" ng-show="lead.gridLeadItemsOptions.data.length > 0">
            <h1 class="page-name-block-text m-b-sm">
                Адрес
            </h1>
            <div class="m-b-xs">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="row">
                            <div class="col-xs-12 m-b-xs">
                                <label class="control-label text-left">@T("Admin.Orders.OrderCustomer.City")</label>
                            </div>
                            <div class="col-xs-12">
                                @Html.TextBoxFor(x => x.Lead.City, new
                                {
                                    @class = "form-control",
                                    ng_model = "lead.instance.lead.City",
                                    autocompleter_address = "",
                                    ng_blur = "lead.saveAddress()"
                                })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="row">
                            <div class="col-xs-12 m-b-xs">
                                <label class="control-label text-left">@T("Admin.Orders.OrderCustomer.District")</label>
                            </div>
                            <div class="col-xs-12">
                                @Html.TextBoxFor(x => x.Lead.District, new
                                {
                                    @class = "form-control",
                                    ng_model = "lead.instance.lead.District",
                                    ng_blur = "lead.saveAddress()"
                                })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="row">
                            <div class="col-xs-12 m-b-xs">
                                <label class="control-label text-left">@T("Admin.Orders.OrderCustomer.Region")</label>
                            </div>
                            <div class="col-xs-12">
                                @Html.TextBoxFor(x => x.Lead.Region, new
                                {
                                    @class = "form-control",
                                    ng_model = "lead.instance.lead.Region",
                                    ng_blur = "lead.saveAddress()",
                                    autocompleter = "",
                                    on_type = "region"
                                })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="row">
                            <div class="col-xs-12 m-b-xs">
                                <label class="control-label text-left">@T("Admin.Orders.OrderCustomer.Country")</label>
                            </div>
                            <div class="col-xs-12">
                                @Html.TextBoxFor(x => x.Lead.Country, new
                                {
                                    @class = "form-control",
                                    ng_model = "lead.instance.lead.Country",
                                    ng_blur = "lead.saveAddress()",
                                    autocompleter = "",
                                    on_type = "country"
                                })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="row">
                            <div class="col-xs-12 m-b-xs">
                                <label class="control-label text-left">@T("Admin.Orders.OrderCustomer.Zip")</label>
                            </div>
                            <div class="col-xs-12">
                                @Html.TextBoxFor(x => x.Lead.Zip, new
                                {
                                    @class = "form-control",
                                    ng_model = "lead.instance.lead.Zip",
                                    ng_blur = "lead.saveAddress()"
                                })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="m-b-sm" ng-show="lead.gridLeadItemsOptions.data.length > 0">
            <div class="flex between-xs inline">
                <h1 class="page-name-block-text m-b-xs">
                    @T("Admin.Leads.Products.Goods")
                </h1>
            </div>
            <ui-modal-trigger ng-if="!lead.readOnly" class="pull-right" size="xs-11" data-controller="'ModalOffersSelectvizrCtrl'" data-controller-as="ctrl"
                              data-on-close="lead.addLeadItems(result)"
                              template-url="../areas/admin/content/src/_shared/modal/offers-selectvizr/offersSelectvizrModal.html">
                <a class="btn btn-sm btn-success" href="" data-e2e="LeadProductAdd">
                    <span class="fa fa-plus"></span> @T("Admin.Leads.Product.AddGoods")
                </a>
            </ui-modal-trigger>
        </div>
        <div class="m-b" ng-show="lead.gridLeadItemsOptions.data.length > 0 || lead.hasComment">
            <div ng-show="lead.gridLeadItemsOptions.data.length > 0">
                <ui-grid-custom grid-unique-id="gridLeadItems"
                                grid-on-init="lead.gridLeadItemsOnInit(grid)"
                                grid-filter-enabled="false"
                                grid-pagination-enabled="false"
                                grid-selection-enabled="false"
                                grid-params="{leadId: lead.instance.Id}"
                                grid-options="lead.gridLeadItemsOptions"
                                grid-url="'leads/getLeadItems'"
                                grid-inplace-url="'leads/updateLeadItem'"
                                grid-on-inplace-apply="lead.gridLeadItemUpdate()"
                                grid-on-delete="lead.gridLeadItemDelete()"
                                grid-empty-text="'@T("Admin.Leads.Products.SelectGoods")'"
                                grid-extend-ctrl="lead">
                </ui-grid-custom>
            </div>
            <div class="row">
                @if (!string.IsNullOrEmpty(Model.Lead.Comment))
                {
                    <div class="col-xs-6 m-t">
                        <h3 class="m-b-xs">@T("Admin.Leads.Products.UsersComment")</h3>
                        <div class="pre-line" ng-non-bindable>@Html.Raw(HttpUtility.HtmlEncode(Model.Lead.Comment.Replace("<br>", "-br-").Replace("<br/>", "-br-")).Replace("-br-", "<br>"))</div>
                    </div>
                }
                <div class="col-xs" ng-show="lead.gridLeadItemsOptions.data.length > 0">
                    <lead-items-summary data-lead-id="lead.instance.Id"
                                        on-init="lead.initLeadItemsSummary(leadItemsSummary)"
                                        on-change-discount="lead.leadItemsSummaryUpdate()"
                                        readonly="lead.readOnly">
                    </lead-items-summary>
                </div>
            </div>
        </div>
    </div>
</div>