@model AdvantShop.Web.Admin.Models.Crm.Leads.CrmNavMenuModel
@{
    var selected = Model.Selected;
}
<div class="js-header-bottom-wrap">
    <nav id="header-bottom" class="row navbar-static-top middle-xs navbar white-bg" role="navigation" style="margin-bottom: 0">
        <div class="col-xs">
            <div class="row">
                <ul class="nav navbar-nav" data-submenu-container="{'type': 'modern','checkOrientation': true, 'blockOrientation': 'body'}">
                    <li class="dropdown dropdown_custom @(selected == "leads" ? "dropdown_active" : "")" data-submenu-parent>
                        <a href="@UrlService.GetUrl("adminv2/leads/lastfunnel")" class="dropdown-toggle header-bottom-menu-link">
                            @T("Admin.Leads.CrmNavMenu.Leads")
                            <span data-statistics-count data-type="leads" data-ng-bind-html="statisticsCount.getValue()"></span>
                            <span class="fa fa-angle-down font-bold"></span>
                        </a>
                        @Html.Action("SalesFunnelsMenuDirective", "Leads")
                    </li>
                    <li class="dropdown dropdown_custom  @(selected == "customers" ? "dropdown_active" : "")" data-submenu-parent>
                        <a href="@UrlService.GetUrl("adminv2/customerscrm")" class="dropdown-toggle header-bottom-menu-link">
                            @T("Admin.Leads.CrmNavMenu.Customers")
                            <span class="fa fa-angle-down font-bold"></span>
                        </a>
                        <ul role="menu" class="dropdown-menu submenu" data-submenu>
                            <li class="dropdown-submenu" data-submenu-parent>
                                <a class="dropdown-menu-link" href="@UrlService.GetUrl("adminv2/customerscrm")">
                                    @T("Admin.Leads.CrmNavMenu.Customers")
                                </a>
                            </li>
                            <li class="dropdown-submenu" data-submenu-parent>
                                <a class="dropdown-menu-link" href="@UrlService.GetUrl("adminv2/importcrm/importcustomers")">
                                    @T("Admin.Leads.CrmNavMenu.ImportCustomers")
                                </a>
                            </li>
                            <li class="dropdown-submenu" data-submenu-parent>

                                <a class="dropdown-menu-link" href="@UrlService.GetUrl("adminv2/customersegmentscrm")">
                                    @T("Admin.Leads.CrmNavMenu.SegmentsOfCustomers")
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown_custom  @(selected == "calls" ? "dropdown_active" : "")" data-submenu-parent>
                        <a href="@UrlService.GetUrl("adminv2/calls")" class="dropdown-toggle header-bottom-menu-link">
                            @T("Admin.Leads.CrmNavMenu.CallLog")
                        </a>
                    </li>
                    <li class="dropdown dropdown_custom  @(selected == "settings" ? "dropdown_active" : "")" data-submenu-parent>
                        <a href="@UrlService.GetUrl("adminv2/settingscrm")" class="dropdown-toggle header-bottom-menu-link">
                            @T("Admin.Leads.CrmNavMenu.Settings")
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        @Html.Action("SearchBlock", "Search")
    </nav>
</div>

