@model AdvantShop.Web.Admin.Models.Crm.Leads.LeadModel
@{
    Layout = "~/Areas/Admin/Views/Leads/_CrmLayout.cshtml";
    ViewBag.NavMenu = "leads";
    bool readOnly = Model.Lead.DealStatus.Status == AdvantShop.Core.Services.Crm.DealStatuses.SalesFunnelStatusType.FinalSuccess
        || Model.Lead.DealStatus.Status == AdvantShop.Core.Services.Crm.DealStatuses.SalesFunnelStatusType.Canceled;
}

<form method="POST" action="@Url.Action("Edit")" novalidate="novalidate" name="form">
    @Html.AntiForgeryToken()

    <div ng-init="lead.init(@Model.Id, readOnly = @readOnly.ToLowerString())">
        <input name="Id" type="hidden" value="{{lead.leadId}}"/>
        <input name="Lead.LeadId" type="hidden" value="{{leadId.leadId}}"/>
    </div>

    <div class="sticky-page-name" sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner m-b-sm">
            <div class="page-name-block-item-main m-l">
                <h1 class="page-name-block-text sticky-page-name-text inline order-header-item order-header-item-name">
                    @T("Admin.Leads.Edit.LeadNumber")@Model.Lead.Id
                </h1>
                <div>
                    <a href="@Url.Action("Index", "Leads")">@T("Admin.Leads.Edit.ListOfLeads")</a>
                </div>
            </div>
            <div class="page-name-block-item-additional">
                <span ng-init="lead.orderId = @(Model.Order != null ? Model.Order.OrderID.ToString() : "null")" class="ng-cloak m-r-xs">
                    <a ng-if="lead.orderId == null && !lead.readOnly" href="" ng-click="lead.createPaymentLink()">
                        @T("Admin.Leads.Edit.CreateLinkToPayment")
                    </a>
                    <ui-modal-trigger ng-if="lead.orderId != null" 
                                      data-controller="'ModalGetBillingLinkCtrl'" data-controller-as="ctrl"
                                      data-resolve="{params: { orderId: lead.orderId }}"
                                      template-url="../areas/admin/content/src/order/modal/getBillingLink/getBillingLink.html">
                        <a href="">@T("Admin.Leads.Edit.LinkToPayment")</a>
                    </ui-modal-trigger>
                </span>
                @if (CustomerContext.CurrentCustomer.IsAdmin)
                {
                    <a href="" class="link-danger m-r-xs" ng-click="lead.deleteLead()">@T("Admin.Leads.Edit.Delete")</a>
                }
                @Html.Button(T("Admin.Save"), eButtonType.Save, eButtonSize.Small, eColorType.Success, attributes: new[] {"ng-disabled=\"!form.modified\"", "disabled"})
                <ui-modal-trigger ng-if="lead.readOnly"
                                  data-e2e="LeadCreateOrder" 
                                  data-controller="'ModalCompleteLeadCtrl'" 
                                  data-controller-as="ctrl"
                                  data-resolve="{id: lead.leadId}"
                                  template-url="../areas/admin/content/src/lead/modal/completeLead/completeLead.html"
                                  on-close="lead.onCompleteLead(result)">
                    <a class="btn btn-sm btn-success m-r-sm" href="">@T("Admin.Leads.Edit.CompleteLead")</a>
                </ui-modal-trigger>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 col-wl-2">
                <div class="aside-menu">

                    @Html.Partial("_Description", Model)
                    @Html.Partial("_Customer", Model)
                    @Html.Partial("_CustomerSocial", Model)

                    <div class="ibox">
                        <div class="ibox-content block-additional-parameters-content">
                            <h3 class="m-b-md">
                                @T("Admin.Leads.Edit.AttachedFiles")
                            </h3>
                            <ol class="p-l-sm ng-cloak" ng-if="lead.attachments.length > 0">
                                <li class="word-break" ng-repeat="attachment in lead.attachments track by $index">
                                    <a href="" target="_blank" ng-href="{{attachment.FilePathAdmin}}" ng-bind="attachment.FileName" data-e2e="attachedFileName"></a> - <span ng-bind="attachment.FileSize"></span>
                                    <a href="" ng-if="lead.readOnly" ng-click="lead.deleteAttachment(attachment.Id)" class="fa fa-times link-invert link-decoration-none" title="@T("Admin.Leads.Edit.Delete")" data-e2e="attachedFileDelete"></a>
                                </li>
                            </ol>
                            <p class="ng-cloak" ng-if="lead.attachments.length == 0">
                                @T("Admin.Leads.Edit.NoFiles")
                            </p>
                            <figure class="">
                                <button ng-disabled="lead.readOnly" class="btn btn-action btn-sm" type="button" ngf-drop ngf-max-size="15MB" ngf-select="" multiple
                                        ngf-change="lead.uploadAttachment($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)" ladda="lead.loadingFiles">
                                    <i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">@T("Admin.Leads.Edit.AttachFile")</span>
                                </button>
                                <help-trigger class="ng-cloak m-l-xs">
                                    <div class="help-content">
                                        @Html.Action("FilesHelpText", "Common", new { type = AdvantShop.Helpers.EAdvantShopFileTypes.LeadAttachment })
                                    </div>
                                </help-trigger>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-wl-10">
                @Html.Partial("_Products", Model)
                @if (Model.ShowTasks)
                {
                    @Html.Partial("_Tasks", Model)
                }
                <div bs-modifiable="false">
                    <lead-events obj-id="@Model.Id" obj-type="'lead'" customer-id="'@Model.Lead.CustomerId'" on-init="lead.leadEventsOnInit(leadEvents)"></lead-events>
                </div>
            </div>
        </div>
    </div>
</form>