@using AdvantShop.Core.Services.Admin
@model AdvantShop.Web.Admin.ViewModels.Crm.Leads.LeadsListViewModel
@{
    Layout = "~/Areas/Admin/Views/Leads/_CrmLayout.cshtml";
    ViewBag.NavMenu = "leads";
}

@*@if (SettingsCheckout.BuyInOneClickCreateOrder && !SettingsNotifications.HideOrderFromBuyInOneClickAdminMsg)
    {
        <div class="ibox static-notify" ng-if="!leads.hideOrderFromBuyInOneClickMsg">
            <div class="ibox-content p-xs-x2">
                <span class="label label-notice m-r">@T("Admin.Leads.Index.Attention")</span>
                <span>@T("Admin.Leads.Index.PurchaseInOneClick")<a class="btn btn-sm m-l-sm btn-success" ng-click="leads.changeBuyInOneClickCreateOrder()">@T("Admin.Leads.Index.Switch")</a></span>
                <a class="btn btn-sm btn-default pull-right" ng-click="leads.closeOrderFromBuyInOneClickMsg()">@T("Admin.Leads.Index.Hide")</a>
            </div>
        </div>
    }*@

<div ng-switch="leads.viewMode" class="ng-cloak">
    <div ng-switch-when="leads">
        @if (!Model.UseKanban)
        {
            <div class="ibox">
                <div class="m-n">
                    <div class="tasks-navbar">
                        <ul class="nav nav-tabs nav-collapse-tab" collapse-tab>
                            <li class="nav-item ng-tab" ng-class="{'active': leads.leadsParam['dealStatusId'] == null}">
                                <a href="" ng-click="leads.changeParam(null)">
                                    <span class="fa"></span> @(T("Admin.Leads.Index.All"))
                                </a>
                            </li>
                            @foreach (var status in Model.DealStatuses)
                            {
                                <li class="nav-item  ng-tab" ng-class="{'active': leads.leadsParam['dealStatusId'] == @(status.Id)}" data-e2e="@status.Name">
                                    <a href="" ng-click="leads.changeParam(@(status.Id))">
                                        <span class="fa"></span> @status.Name
                                        <span class="leads-count-label">
                                            @* ng-if глубже, чтобы нормально скрывались непомещающиеся названия табов *@
                                            <span ng-if="leads.grid.gridOptions.LeadsCount['@status.Id']" ng-bind="leads.grid.gridOptions.LeadsCount['@status.Id']" data-e2e="LeadsCount"></span>
                                        </span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-content no-top-border">
                        <ui-grid-custom grid-unique-id="grid"
                                        grid-options="leads.gridOptions"
                                        grid-on-init="leads.gridOnInit(grid)"
                                        grid-on-filter-init="leads.gridOnFilterInit(filter)"
                                        grid-url="'leads/getLeads'"
                                        grid-params="{salesFunnelId: @Model.SalesFunnelId}"
                                        grid-extend-ctrl="leads">
                            <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="leads.grid.gridOptions.TotalString">
                            </ui-grid-custom-footer>
                        </ui-grid-custom>
                    </div>
                </div>
            </div>
        }
        else
        {
            <kanban data-sort-options="leads.sortableOptions"
                    fetch-url="'leads/getkanban'"
                    fetch-column-url="'leads/getkanbancolumn'"
                    kanban-on-init="leads.kanbanOnInit(kanban)"
                    kanban-params="leads.leadsParam"
                    extend-ctrl="leads"
                    kanban-column-defs="leads.gridOptions.columnDefs"
                    kanban-on-filter-init="leads.kanbanOnFilterInit(filter)"
                    card-template-url="../areas/admin/content/src/_shared/kanban/template/leads/lead-card.html"
                    no-cards-template-url="../areas/admin/content/src/_shared/kanban/template/leads/no-leads.html"
                    kanban-column-classes="'leads-kanban-column'"
                    kanban-column-wrap-classes="'leads-kanban-wrap'"
                    kanban-scrollable="true"
                    class="leads-kanban"
                    uid="kanban"
                    kanban-sticky-top="@(AdminAreaTemplate.Current != null ? "60" : "70")">
            </kanban>
        }
    </div>
    <div ng-switch-when="analytics">
        @Html.Action("LeadsAnalyticsPartial", "Leads", new { leadsListId = Model.SalesFunnelId })
    </div>
</div>