@using AdvantShop.Core.Services.Configuration.Settings
@model CatalogMenuModel
@{
    List<CatalogMenuItem> items = Model.Items;
}
<section class="categories-root-wrap">
    <div class="categories-root @(Model.ViewMode == SettingsMobile.eViewCategoriesOnMain.WithIcons ? "categories-root--with-icon": "")">
        
        @if (Model.ViewMode == SettingsMobile.eViewCategoriesOnMain.WithIcons)
        {
            <div class="categories-root__header">
                <div class="categories-root__header-title">@Model.RootCategoryName</div>
            </div>
        }

        <div class="categories-root__items scroll-always-visible">
            @if (items != null && items.Any())
            {
                foreach (var item in items)
                {
                    <a href="@item.Url" class="categories-root__item cs-bg-4 cs-l-2">
                        <div class="categories-root__item-inner">
                            @if (item.Icon != null && !string.IsNullOrEmpty(item.Icon.IconSrc(true)) && Model.ViewMode == SettingsMobile.eViewCategoriesOnMain.WithIcons)
                            {
                                <div class="categories-root__item-icon-wrap">
                                    <img class="categories-root__item-icon" src="@item.Icon.IconSrc(true)" width="@(Model.PhotoWidth)" height="@(Model.PhotoHeight)" />
                                </div>
                            }
                            <div class="categories-root__item-name">@item.Name</div>
                        </div>
                    </a>
                }
            }
        </div>
    </div>
</section>


