@model AdvantShop.Web.Admin.Models.Orders.Grastin.SendOrderForGrastinModel

<form novalidate="novalidate">
    <div class="modal-header">
        <ui-modal-cross></ui-modal-cross>
        <h2 class="modal-header-title">@T("Admin.Grastin.OrderShipment") @string.Format("{0}{1}", Model.OrderPrefix, Model.OrderNumber) @T("Admin.Grastin.ToGrastin")</h2>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">

            <input name="typeForm" type="hidden" value="grastin" ng-model="ctrl.typeForm" />

            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">@T("Admin.Grastin.Warehouse")</span>
                    </label>
                    <div class="col-xs-9">
                        @Html.DropDownListFor(x => x.TakeWarehouse, Model.TakeWarehouses, new { ng_model = "ctrl.takeWarehouse", @class = "form-control", required = "required", validation_input_text = T("Admin.Grastin.Warehouse") })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">@T("Admin.Grastin.FullName")</span>
                    </label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(x => x.Buyer, new { ng_model = "ctrl.buyer", @class = "form-control", required = "required", validation_input_text = T("Admin.Grastin.FullName") })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">@T("Admin.Grastin.MobilePhone")</span>
                    </label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(x => x.Phone, new { ng_model = "ctrl.phone", @class = "form-control", required = "required", @type = "tel", validation_input_text = T("Admin.Grastin.MobilePhone"), mask_control = "",  mask_control_preset = "phone" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        @T("Admin.Grastin.LandlinePhone")
                    </label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(x => x.Phone2, new { ng_model = "ctrl.phone2", @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">Email</span>
                    </label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(x => x.Email, new { ng_model = "ctrl.email", @class = "form-control", required = "required", pattern = "^([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z0-9-.]+)$", validation_input_text = "Email" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">@T("Admin.Grastin.DeliveryType")</span>
                    </label>
                    <div class="col-xs-9">
                        @Html.DropDownListFor(x => x.Service, Model.Services, new { ng_model = "ctrl.service", @class = "form-control", required = "required", validation_input_text = T("Admin.Grastin.DeliveryType") })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">@T("Admin.Grastin.DateDelivery")</span>
                    </label>
                    <div class="col-xs-9">
                        <div class="input-group" ng-flatpickr fp-opts="{dateFormat: 'd.m.Y', startDateFormat: 'd.m.Y', wrap: true, enableTime: false}">
                            <span class="flatpickr-custom-wrap">
                                @Html.TextBoxFor(x => x.DeliveryDateString, new { ng_model = "ctrl.deliveryDate", @class = "form-control", required = "required", ng_flatpickr_input = "", validation_input_text = T("Admin.Grastin.DateDelivery") })
                            </span>
                            <span class="input-group-addon" data-toggle><i class="fas fa-calendar-alt"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="ctrl.service != 12">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">@T("Admin.Grastin.DeliveryTime")</span>
                    </label>
                    <div class="col-xs-9">
                        <div class="grid-classic">
                            <div class="grid-classic-row">
                                <div class="grid-classic-col vertical-middle text-right" style="width: 25px;">
                                    @T("Admin.Grastin.From")
                                </div>
                                <div class="grid-classic-col">
                                    @Html.DropDownListFor(x => x.DeiveryTimeFrom, Model.Times, new { ng_model = "ctrl.deiveryTimeFrom", @class = "form-control", required = "required", validation_input_text = T("Admin.Grastin.DeliveryTime") })
                                </div>
                                <div class="grid-classic-col vertical-middle text-right">
                                    @T("Admin.Grastin.To") 
                                </div>
                                <div class="grid-classic-col">
                                    @Html.DropDownListFor(x => x.DeiveryTimeTo, Model.Times, new { ng_model = "ctrl.deiveryTimeTo", @class = "form-control", required = "required", validation_input_text = T("Admin.Grastin.DeliveryTime") })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        @T("Admin.Grastin.Note")
                    </label>
                    <div class="col-xs-9">
                        @Html.TextAreaFor(x => x.Comment, new { ng_model = "ctrl.comment", @class = "form-control", @rows = 3 })
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="ctrl.service == 12">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">@T("Admin.Grastin.Zip")</span>
                    </label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(x => x.Index, new { ng_model = "ctrl.index", @class = "form-control", required = "required", @type = "number", @maxlength = "6", validation_input_text = T("Admin.Grastin.Zip") })
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="ctrl.service == 1 || ctrl.service == 2 || ctrl.service == 3 || ctrl.service == 4 || ctrl.service == 8 || ctrl.service == 9 || ctrl.service == 10 || ctrl.service == 19 || ctrl.service == 12">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">@T("Admin.Grastin.Adress")</span>
                    </label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(x => x.AddressCourier, new { ng_model = "ctrl.addressCourier", @class = "form-control", required = "required", validation_input_text = T("Admin.Grastin.Adress") })
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="ctrl.service == 5 || ctrl.service == 6 || ctrl.service == 7 || ctrl.service == 11 || ctrl.service == 16">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">@T("Admin.Grastin.AdressSelfDelivery")</span>
                    </label>
                    <div class="col-xs-9">
                        @Html.DropDownListFor(x => x.AddressPoint, Model.AddressPoints, new { ng_model = "ctrl.addressPoint", @class = "form-control", required = "required", validation_input_text = T("Admin.Grastin.AdressSelfDelivery") })
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="ctrl.service == 12">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">@T("Admin.Grastin.OfficeTransportCompany")</span>
                    </label>
                    <div class="col-xs-9">
                        @Html.DropDownListFor(x => x.OfficeId, Model.Offices, new { ng_model = "ctrl.officeId", @class = "form-control", required = "required", validation_input_text = T("Admin.Grastin.OfficeTransportCompany") })
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="ctrl.service == 12">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">@T("Admin.Grastin.RecipientType")</span>
                    </label>
                    <div class="col-xs-9">
                        @Html.DropDownListFor(x => x.TypeRecipient, Model.TypeRecipients, new { ng_model = "ctrl.typeRecipient", @class = "form-control", required = "required", validation_input_text = T("Admin.Grastin.RecipientType") })
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="ctrl.service == 12 && ctrl.typeRecipient == 1">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">@T("Admin.Grastin.PassportData")</span>
                    </label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(x => x.Passport, new { ng_model = "ctrl.passport", @class = "form-control", required = "required", validation_input_text = T("Admin.Grastin.PassportData") })
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="ctrl.service == 12 && ctrl.typeRecipient == 2">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">@T("Admin.Grastin.CustomerOrganization")</span>
                    </label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(x => x.Organization, new { ng_model = "ctrl.organization", @class = "form-control", required = "required", validation_input_text = T("Admin.Grastin.CustomerOrganization") })
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="ctrl.service == 12 && ctrl.typeRecipient == 2">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">@T("Admin.Grastin.INN")</span>
                    </label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(x => x.Inn, new { ng_model = "ctrl.inn", @class = "form-control", required = "required", validation_input_text = T("Admin.Grastin.INN") })
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="ctrl.service == 12 && ctrl.typeRecipient == 2">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">@T("Admin.Grastin.Checkpoint")</span>
                    </label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(x => x.Kpp, new { ng_model = "ctrl.kpp", @class = "form-control", required = "required", validation_input_text = T("Admin.Grastin.Checkpoint") })
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="ctrl.service != 1 && ctrl.service != 927 && ctrl.service != 5 && ctrl.service != 8">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        @T("Admin.Grastin.COD")
                    </label>
                    <div class="col-xs-9">
                        <label class="adv-checkbox-label">
                            @Html.CheckBoxFor(x => x.CashOnDelivery, new { ng_model = "ctrl.cashOnDelivery", @class = "adv-checkbox-input" })
                            <span class="adv-checkbox-emul"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">@T("Admin.Grastin.AssessedValue")</span>
                    </label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(x => x.AssessedCost, new { ng_model = "ctrl.assessedCost", @class = "form-control", validation_input_float = "", required = "required", validation_input_text = T("Admin.Grastin.AssessedValue") })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-xs-3 control-label">
                        <span class="text-required">@T("Admin.Grastin.NumberOfSeats")</span>
                    </label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(x => x.Seats, new { ng_model = "ctrl.seats", @class = "form-control", @type = "number", required = "required", validation_input_text = T("Admin.Grastin.NumberOfSeats") })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-save btn-primary" type="button" button-validation-success="ctrl.send(); ctrl.btnLoading = true" ladda="ctrl.btnLoading" data-button-validation>@T("Admin.Grastin.Send")</button>
        <button class="btn btn-default btn-cancel" type="button" ng-click="ctrl.close()">@T("Admin.Grastin.Cancel")</button>
    </div>
</form>
