@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>403</title>
    <meta name="generator" content="AdVantShop.NET">
    <meta name="robots" content="noindex,nofollow">
    <style type="text/css">
        body{font-family: Arial, Helvetica, sans-serif;color: #4b4f58;font-size: 16px}
        .wrapper{width: 80%;margin: 0 auto}
        .code-error{font-size: 60px;font-weight: bold;margin-top: 75px}
        .code-descripition{font-size: 30px;margin-top: 25px}
        .to-do{}
        .to-do .head{font-weight: bold;font-size: 18px;margin-top: 60px}
        ul{list-style: none;padding: 0;margin: 0}
        ul li:before{content: "- "}
        .to-do .to-do-items li{margin: 15px 0}
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="code-error">@T("Error.Error") 403</div>
        <div class="to-do">
            <div class="head">@T("Error.InternalServerError.TryTheFollowing"):</div>
            <ul class="to-do-items">
                <li>@T("Error.InternalServerError.RefreshPage")</li>
                <li>@T("Error.InternalServerError.ReturnLater")</li>
                <li>@T("Error.InternalServerError.ReturnTo") <a href="@Url.AbsoluteRouteUrl("Home")">@T("Error.Index.GoToMain")</a></li>
            </ul>
        </div>
    </div>
</body>
</html>