@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="generator" content="AdVantShop.NET">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />
    <base href="@UrlService.GetUrl()" />
    <title>Сайт в разработке, мы скоро откроемся</title>
    <style>
        @@font-face {
            font-family: "Circe";
            src: url("fonts/Circe/Circe.woff2") format("woff2"), url("fonts/Circe/Circe.woff") format("woff");
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            unicode-range: U+0020-0491;
            font-display: swap;
        }

        @@font-face {
            font-family: "Montserrat";
            src: url("fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-Bold.woff") format("woff");
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            unicode-range: U+0020-0491;
            font-display: swap;
        }

        @@font-face {
            font-family: "Montserrat";
            src: url("fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-Medium.woff") format("woff");
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            unicode-range: U+0020-0491;
            font-display: swap;
        }

        @@font-face {
            font-family: "Montserrat";
            src: url("fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-Regular.woff") format("woff");
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            unicode-range: U+0020-0491;
            font-display: swap;
        }

        body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }

        .container-limitation {
            max-width: 73.75rem;
            margin-right: auto;
            margin-left: auto;
        }

        .container-fluid {
            padding-right: 0.625rem;
            padding-left: 0.625rem;
        }

        .page-underconstruction {
            background-color: #fff;
        }

        .page-underconstruction__header-logo {
            text-transform: uppercase;
            font-size: 27px;
            font-weight: 700;
            line-height: 1;
            font-family: "Circe";
            color: #0b88f2;
        }

        .page-underconstruction__block {
            padding: 0 10px 20px;
        }

        .page-underconstruction__title {
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.33;
            letter-spacing: 0em;
            text-align: left;
            font-family: Montserrat;
        }

        .btn-underconstruction {
            background: #0b88f2;
            box-shadow: 0px 16px 24px rgba(11, 136, 242, 0.2), 0px 2px 6px rgba(11, 136, 242, 0.12), 0px 0px 1px rgba(11, 136, 242, 0.04);
            border-radius: 4px;
            padding: 16px 24px;
            color: #fff;
            font-weight: 600;
            font-size: 18px;
            text-transform: none;
            font-family: Montserrat;
            display: inline-block;
            vertical-align: middle;
            text-decoration: none;
            border-width: 0;
            text-align: center;
            border-radius: 0.3125rem;
            line-height: 1.3;
            box-sizing: border-box;
            cursor: pointer;
        }

            .btn-underconstruction:last-child {
                margin-bottom: 0;
            }

        .page-underconstruction__header {
            display: flex;
            justify-content: space-between;
            background-color: transparent;
            align-items: center;
            padding: 20px 10px 0;
        }

            .page-underconstruction__header .btn-underconstruction {
                display: none;
            }

        .btn_block,
        .form-sign-in-guest {
            width: 100%;
        }

        .btn_width-md,
        .form-sign-in-guest {
            max-width: 340px;
        }

        .btn-underconstruction--alt {
            border: 1px solid #222831;
            background-color: transparent;
            box-sizing: border-box;
            box-shadow: none;
            filter: drop-shadow(0px 16px 24px rgba(11, 136, 242, 0.2)), drop-shadow(0px 2px 6px rgba(11, 136, 242, 0.12)), drop-shadow(0px 0px 1px rgba(11, 136, 242, 0.04));
            border-radius: 4px;
            color: #222831;
        }

        .page-underconstruction__content {
            font-size: 15px;
            font-family: Montserrat;
            font-weight: 400;
            line-height: 32px;
            text-align: left;
        }

        .page-underconstruction__action {
            display: grid;
            justify-content: center;
            flex-wrap: wrap;
            grid-template-columns: 1fr;
            grid-gap: 24px;
            margin-top: 40px;
            justify-items: center;
            align-content: center;
        }

        .page-underconstruction__link {
            color: #0b88f2;
        }

        .visible-xs {
            display: block;
        }

        .hidden-xs {
            display: none !important;
        }

        @@media (min-width: 992px) {
            .page-underconstruction {
                background-color: #f6f7fb;
                min-height: 100vh;
            }

            .page-underconstruction__block {
                padding: 20px 60px 40px 60px;
                background-color: #fff;
                box-shadow: 0px 16px 40px rgba(207, 214, 230, 0.16), 0px 2px 16px rgba(207, 214, 230, 0.08), 0px 0px 8px rgba(207, 214, 230, 0.04);
                border-radius: 4px;
                max-width: 834px;
                margin: 0 auto;
            }

            .page-underconstruction__header {
                display: flex;
                justify-content: space-between;
                background-color: transparent;
                margin-bottom: 50px;
                padding: 32px 0 0;
            }

                .page-underconstruction__header .btn-underconstruction {
                    display: block;
                }

            .page-underconstruction__action {
                margin-top: 47px;
            }

            .page-underconstruction__title {
                font-family: Circe;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.16;
                letter-spacing: -0.01em;
                text-align: center;
                margin-bottom: 32px;
            }

            .page-underconstruction__content {
                font-size: 18px;
            }
        }

        @@media (min-width: 62em) {
            .visible-md {
                display: block !important;
            }
        }

        @@media (min-width: 62em) {
            .hidden-md {
                display: none !important;
            }
        }

        #CaptchaCode {
            margin: 10px 0;
            padding: 5px;
            border-color: rgba(0,0,0,.1);
            border-style: solid;
            border-width: 1px;
        }

        .btn-underconstruction-submit {
            margin-top: 10px;
        }

        .captcha-block {
            margin: 0 auto;
            width: 204px;
        }
    </style>
</head>
<body>
<div class="page-underconstruction">
    <div class="container-fluid container-limitation">
        <div class="page-underconstruction__header">
            <div class="page-underconstruction__header-logo">
                ADVANTSHOP
            </div>
            <a class="btn  btn-underconstruction hidden-xs visible-md btn-underconstruction--alt" href="adminv2/login?frompage=closed">Войти как администратор</a>
        </div>
        <div class="page-underconstruction__block">
            <h3 class="page-underconstruction__title">Сайт в разработке, мы скоро откроемся</h3>
            <div class="page-underconstruction__content">
                <p>У сайта ещё нет своего домена, вы зашли по техническому адресу.</p>
                <p>Просматривать сайт может только администратор. Чтобы открыть публичный доступ к витрине, <a class="page-underconstruction__link" href="@UrlService.GetUrl("adminv2/service/domainsmanage?frompage=closed")">привяжите собственный домен</a> к сайту.</p>
                <p>Если вы владелец магазина, <a class="page-underconstruction__link" href="adminv2/login?frompage=closed">авторизуйтесь как администратор.</a></p>
                <p>Чтобы получить временный доступ к сайту, войдите как гость, введя код с картинки</p>
            </div>
            <div class="page-underconstruction__action">
                <form action="@UrlService.GetUrl("adminv2/account/signInGuest")" method="post" class="form-sign-in-guest">
                    <div class="captcha-block">
                        @Html.Captcha("techdomainclosed", captchaMode: CaptchaMode.Numeric, codeLength: 4)
                    </div>
                    <button type="submit" class="btn btn_block btn_width-md btn-underconstruction btn-underconstruction-submit">Войти как гость</button>
                    <input type="hidden" name="from" value="@Request.RawUrl"/>
                </form>
                <a class="btn btn_block btn_width-md  btn-underconstruction btn-underconstruction--alt visible-xs hidden-md" href="adminv2/login?frompage=closed">Войти как администратор</a>
            </div>
        </div>
    </div>
</div>
 @Html.Action("Counter", "Common", new { force = true })
</body>
</html>