@model AdvantShop.Web.Admin.ViewModels.Crm.Leads.LeadsListViewModel
@{
    Layout = "~/Areas/Admin/Views/Leads/_CrmLayout.cshtml";
    ViewBag.NavMenu = "leads";
}

<div class="sticky-page-name" sticky sticky-top="0">
    <div class="page-name-block sticky-page-name-inner">
        <div class="page-name-block-item-main">
            <h1 class="page-name-block-text sticky-page-name-text inline bottom-cell m-r-xs">
                @T("Admin.Leads.AmoCrm.ImportingLeads")
            </h1>
        </div>
        <div class="page-name-block-item-additional">
            
        </div>
    </div>
</div>


<div class="ibox">
    <div class="ibox-content no-top-border">
        
        <form action="@Url.Action("ImportAmoCrm", "Leads")" method="post" enctype="multipart/form-data">

            @Html.AntiForgeryToken()

            <div class="m-b-lg bold">@T("Admin.Leads.AmoCrm.Attention")</div>

            <div class="m-b">
                @T("Admin.Leads.AmoCrm.CsvFileWithLead") <input type="file" name="file" id="file" class="inline" />
            </div>
            
            <input type="submit" class="btn btn-sm btn-success" value="@T("Admin.Leads.AmoCrm.Import")" />
        </form>

    </div>
</div>
