@model string
<div class="sticky-page-name p-b-xs" sticky sticky-top="0">
    @Html.Back("Настройки", Url.Action("Index", "Settings"))
    <div class="page-name-block sticky-page-name-inner m-t-xs">
        <div class="page-name-block-item-main">
            <div>
                <h1 class="page-name-block-text sticky-page-name-text">
                    @T("Admin.Files.Index.Title")
                </h1>
                <span>@T("Admin.Files.Index.AvailableFileExtensions") </span> <b>@Model</b>
            </div>
        </div>
        <div class="page-name-block-item-additional">

            <file-uploader class="picture-uploader-middle"
                           accept="@Model"
                           upload-url="/files/uploadFile"
                           on-update="files.fetchData()"
                           show-result=false
                           go-to-first-step-after-succes=true>
            </file-uploader>

        </div>

    </div>
</div>
<div class="ibox">
    <div class="ibox-content">
        <ui-grid-custom grid-unique-id="grid"
                        grid-on-init="files.gridOnInit(grid)"
                        grid-options="files.gridOptions"
                        grid-url="'files/getfiles'"
                        grid-inplace-url="'files/renamefile'"
                        grid-search-placeholder="'@T("Admin.Files.Index.Search")'"
                        grid-extend-ctrl="files">
            <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="colors.grid.gridOptions.TotalString">
            </ui-grid-custom-footer>
        </ui-grid-custom>
    </div>
</div>
