@model BlockModel

<div class="container-fluid">
    <div class="lp-container">
        <div class="row start-xs middle-xs">
            <div class="col-xs-12 col-sm-6 @Model.Block.GetWidthInColumnsAsClasses()">
                <div class="lp-block-cover-text-left-header lp-h2 lp-h2--color" data-e2e="CoverTextLeftTitle">
                    @Html.SubBlock(Model, "title")
                </div>
                <div class="lp-block-cover-text-left-text lp-h3 lp-h3--color"data-e2e="CoverTextLeftText">
                    @Html.SubBlock(Model, "text")
                </div>
                @if (Model.Block.TryGetSetting("show_button") == true)
                {
                    <div class="lp-block-cover-text-left-wrap" data-e2e="CoversBtn">
                        <div class="row @Model.Block.TryGetSetting("align_btns")">
                            <div class="col-xs-12">
                                @Html.Button(Model.Block, "button")
                            </div>
                        </div>
                        
                    </div>
                }
            </div>
        </div>
        @Html.Partial("_CoverScrollToBlock", Model)
    </div>
</div>
