@using AdvantShop.Core.Services.Landing.Pictures;
@model BlockModel

<div class="container-fluid">
    <div class="lp-container">
        <div class="row center-xs lp-block-columns-with-picture__row">
            <div class="col-xs-12">
                @Html.BlockHeader(Model)
            </div>
        </div>
        <div class="row middle-xs">
            <div class="col-xs-12 col-sm-4">
                <div class="row flex-column end-sm start-xs">
                    <div class="col-xs-12 lp-font-size--middle lp-block-columns-text lp-block-columns-with-picture__col">
                        <div class="lp-block-columns-with-picture__item">
                            <div class="lp-block-columns-with-picture__header" data-e2e="columnsWithPictureHeader">
                                @Html.SubBlock(Model, "header1")
                            </div>
                            <div data-e2e="columnsWithPictureText">
                                @Html.SubBlock(Model, "text1")
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 lp-font-size--middle lp-block-columns-text lp-block-columns-with-picture__col">
                        <div class="lp-block-columns-with-picture__item">
                            <div class="lp-block-columns-with-picture__header" data-e2e="columnsWithPictureHeader">
                                @Html.SubBlock(Model, "header2")
                            </div>
                            <div data-e2e="columnsWithPictureText">
                                @Html.SubBlock(Model, "text2")
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-4">
                <div class="row flex-column">
                    <div class="col-xs-12 lp-font-size--middle lp-block-columns-text lp-block-columns-with-picture__col">
                        <div class="lp-block-columns-with-picture__item text-center" data-e2e="columnsWithPicturePicture">
                            @Html.SubBlockPicture(Model.Block, "picture", new PictureLoaderTriggerModel()
                            {
                                DeletePicture = false,
                                GalleryIconsEnabled = false,
                                LazyLoadType = ePictureLoaderLazyLoadType.Default,
                                MaxWidthPicture = PictureLoaderImageSize.SmallWidth,
                                MaxHeightPicture = PictureLoaderImageSize.SmallHeight,
                                ImageLink = Model.Block.TryGetSetting("image_link")
                            }, Model.Inplace)
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="row flex-column">
                    <div class="col-xs-12 text-left lp-font-size--middle lp-block-columns-text lp-block-columns-with-picture__col">
                        <div class="lp-block-columns-with-picture__item">
                            <div class="lp-block-columns-with-picture__header" data-e2e="columnsWithPictureHeader">
                                @Html.SubBlock(Model, "header3")
                            </div>
                            <div data-e2e="columnsWithPictureText">
                                @Html.SubBlock(Model, "text3")
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 text-left lp-font-size--middle lp-block-columns-text lp-block-columns-with-picture__col">
                        <div class="lp-block-columns-with-picture__item">
                            <div class="lp-block-columns-with-picture__header" data-e2e="columnsWithPictureHeader">
                                @Html.SubBlock(Model, "header4")
                            </div>
                            <div data-e2e="columnsWithPictureText">
                                @Html.SubBlock(Model, "text4")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.Block.TryGetSetting("show_button") == true)
        {
            <div class="row @(Model.Block.TryGetSetting("align_btns") != null ? Model.Block.TryGetSetting("align_btns") : "center-xs")" data-e2e="columnsWithPictureBtn">
                <div class="col-xs-12">
                    @Html.Button(Model.Block, "button")
                </div>
            </div>
        }
    </div>
</div>
